interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5c980ab7-9989-4044-8a3b-ea01d74e9cbc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 789c1191-be3c-4ce1-8e87-d95675e194e6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabriccli_WorkspacePerTestclass_000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "7185132e-fd46-4492-9fe6-c9b77d445a96", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/7185132e-fd46-4492-9fe6-c9b77d445a96
      RequestId:
      - fdfd2489-7417-420b-94bb-da74ba3fd6b0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7185132e-fd46-4492-9fe6-c9b77d445a96/items
  response:
    body:
      string: '{"value": [{"id": "9652273e-d3a3-4f78-bb85-e218f666faf2", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "7185132e-fd46-4492-9fe6-c9b77d445a96"}, {"id": "2f5c6176-7ce2-43d0-88f7-749c18254524",
        "type": "SQLEndpoint", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "7185132e-fd46-4492-9fe6-c9b77d445a96"}, {"id": "d851d970-868b-40c3-88de-3938426ce0f4",
        "type": "DigitalTwinBuilder", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "7185132e-fd46-4492-9fe6-c9b77d445a96"}, {"id": "40692767-d545-4836-bd64-fe30b12e86b9",
        "type": "Lakehouse", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "7185132e-fd46-4492-9fe6-c9b77d445a96"}, {"id": "59db8039-4290-4efa-aa40-bcfb868cb144",
        "type": "DigitalTwinBuilderFlow", "displayName": "fabcli000001_autoOnDemand",
        "description": "", "workspaceId": "7185132e-fd46-4492-9fe6-c9b77d445a96"},
        {"id": "c0613792-bcbb-4b1f-8486-a018336f8062", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "7185132e-fd46-4492-9fe6-c9b77d445a96"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e0a8361a-5e60-49ac-a448-2908ffb1c0e6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7185132e-fd46-4492-9fe6-c9b77d445a96
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9c24306b-edcf-45fd-ac5e-4967873680d9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
