interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7185132e-fd46-4492-9fe6-c9b77d445a96",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d2551cf1-44bf-452b-a0db-0d84d28b9eb9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7185132e-fd46-4492-9fe6-c9b77d445a96/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 85a660a7-9640-4d69-beda-b9044132c6ed
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7185132e-fd46-4492-9fe6-c9b77d445a96/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cdcb211c-2daf-4a52-b4c5-6134fb37b3da
      RequestId:
      - 73f52178-ada4-4a5c-98f0-570c4a7b7867
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - cdcb211c-2daf-4a52-b4c5-6134fb37b3da
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cdcb211c-2daf-4a52-b4c5-6134fb37b3da
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T05:44:51.7837744",
        "lastUpdatedTimeUtc": "2026-05-13T05:45:01.7005369", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cdcb211c-2daf-4a52-b4c5-6134fb37b3da/result
      RequestId:
      - 1ea22f58-8716-4036-b253-6cba0791411f
      x-ms-operation-id:
      - cdcb211c-2daf-4a52-b4c5-6134fb37b3da
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cdcb211c-2daf-4a52-b4c5-6134fb37b3da/result
  response:
    body:
      string: '{"id": "d851d970-868b-40c3-88de-3938426ce0f4", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "7185132e-fd46-4492-9fe6-c9b77d445a96"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 0b64e2cb-aab9-4cea-a904-a46ff6de5d8a
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "d851d970-868b-40c3-88de-3938426ce0f4", "workspaceId": "7185132e-fd46-4492-9fe6-c9b77d445a96"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7185132e-fd46-4492-9fe6-c9b77d445a96/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "e381a91c-0e7c-4429-9c88-f7b7fb27a714", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7185132e-fd46-4492-9fe6-c9b77d445a96"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 1a817383-b321-4f95-8752-97cff5a5195c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7185132e-fd46-4492-9fe6-c9b77d445a96/items/e381a91c-0e7c-4429-9c88-f7b7fb27a714
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 640d2f2d-d0ee-47bd-80d8-a75241f00484
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
