interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "5297ecb0-13d4-4d95-8706-e91560b03a34", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 222b46f6-4ae3-4efa-8445-47760e361fd2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5297ecb0-13d4-4d95-8706-e91560b03a34/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - eb0bb5fc-14bf-4d90-b2f4-c36f0375ad07
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Eventstream", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5297ecb0-13d4-4d95-8706-e91560b03a34/eventstreams
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/523db3e8-49a9-4102-a0c5-01c7a722734a
      RequestId:
      - 463dfbf8-31b4-46f0-b423-9c2eb601a7cb
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 523db3e8-49a9-4102-a0c5-01c7a722734a
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/523db3e8-49a9-4102-a0c5-01c7a722734a
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-20T08:49:51.0326813",
        "lastUpdatedTimeUtc": "2026-01-20T08:49:53.8764249", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/523db3e8-49a9-4102-a0c5-01c7a722734a/result
      RequestId:
      - a63d4704-3905-4134-b9f7-745ebf33daf9
      x-ms-operation-id:
      - 523db3e8-49a9-4102-a0c5-01c7a722734a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/523db3e8-49a9-4102-a0c5-01c7a722734a/result
  response:
    body:
      string: '{"id": "35a869c7-0161-4d27-864f-0d9e4a1f3788", "type": "Eventstream",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5297ecb0-13d4-4d95-8706-e91560b03a34"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 51442852-2b81-47e5-94f4-6c099cf946b4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5297ecb0-13d4-4d95-8706-e91560b03a34/items/35a869c7-0161-4d27-864f-0d9e4a1f3788
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 489756ea-17dc-47b0-bfbf-c70caa7aa7b1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
