interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "5297ecb0-13d4-4d95-8706-e91560b03a34", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bb2bae16-b415-4e19-8967-d5c4e7958f57
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5297ecb0-13d4-4d95-8706-e91560b03a34/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f1fdb5b1-0ea7-4a77-99c7-689894d29643
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MLExperiment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5297ecb0-13d4-4d95-8706-e91560b03a34/mlExperiments
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/572866a2-b6e4-41e6-926a-e882bba6847e
      RequestId:
      - 81454c44-c4ed-41fd-8b2c-1dc561938d7c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 572866a2-b6e4-41e6-926a-e882bba6847e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/572866a2-b6e4-41e6-926a-e882bba6847e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-20T08:50:35.4283651",
        "lastUpdatedTimeUtc": "2026-01-20T08:50:36.3189347", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/572866a2-b6e4-41e6-926a-e882bba6847e/result
      RequestId:
      - e8f30e8a-45ca-4dfe-a8e1-c25b903a28d9
      x-ms-operation-id:
      - 572866a2-b6e4-41e6-926a-e882bba6847e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/572866a2-b6e4-41e6-926a-e882bba6847e/result
  response:
    body:
      string: '{"id": "d68113f3-7ef9-43e7-8777-56714a431cdf", "type": "MLExperiment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5297ecb0-13d4-4d95-8706-e91560b03a34"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b421098f-f350-420e-a233-3f08827fdb9b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5297ecb0-13d4-4d95-8706-e91560b03a34/items/d68113f3-7ef9-43e7-8777-56714a431cdf
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ba6014cc-e7ad-4fc2-9f5d-9903adda9a7a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
