interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "161a43c3-5168-4cae-9de0-c2eaa86ff987",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9f81311a-e9ba-4c94-b94a-a70312e3f493
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/161a43c3-5168-4cae-9de0-c2eaa86ff987/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a58c6bca-abdc-47fa-8d28-a7f5d7152d53
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/161a43c3-5168-4cae-9de0-c2eaa86ff987/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0cde6475-4540-4245-85da-2cbd60f60033
      RequestId:
      - ec42e982-ff9e-4e93-81a2-14b1ac222dc1
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 0cde6475-4540-4245-85da-2cbd60f60033
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0cde6475-4540-4245-85da-2cbd60f60033
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T09:09:01.037628",
        "lastUpdatedTimeUtc": "2026-03-31T09:09:10.1977828", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0cde6475-4540-4245-85da-2cbd60f60033/result
      RequestId:
      - 4746438d-bd72-4924-b416-3d9c738ad9f7
      x-ms-operation-id:
      - 0cde6475-4540-4245-85da-2cbd60f60033
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0cde6475-4540-4245-85da-2cbd60f60033/result
  response:
    body:
      string: '{"id": "10a0c491-8099-45a7-b0d8-a0ff6be774df", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "workspaceId":
        "161a43c3-5168-4cae-9de0-c2eaa86ff987"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 422bcc1d-c783-45bb-a563-1d4ad6ac87e5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/161a43c3-5168-4cae-9de0-c2eaa86ff987/items/10a0c491-8099-45a7-b0d8-a0ff6be774df
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 91d9e7a8-a499-44f4-9e37-d114faaf3ec1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
