interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "28ce164b-fb22-498a-936c-337aa8dd06f7",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 407a7c42-e853-4bd0-b3d5-047a8b5cfd2e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/28ce164b-fb22-498a-936c-337aa8dd06f7/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b6c81a24-3141-4d30-843f-5371a566e0b2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/28ce164b-fb22-498a-936c-337aa8dd06f7/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2f062dc9-5a9f-47d5-a2d0-dee64c5f5a43
      RequestId:
      - 59a4bf8e-57ea-4dff-946e-08b05e3964ec
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 2f062dc9-5a9f-47d5-a2d0-dee64c5f5a43
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2f062dc9-5a9f-47d5-a2d0-dee64c5f5a43
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-11T11:30:14.5975226",
        "lastUpdatedTimeUtc": "2026-02-11T11:30:27.9114439", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2f062dc9-5a9f-47d5-a2d0-dee64c5f5a43/result
      RequestId:
      - 1ff9640f-b15c-411e-a9df-b010e1260385
      x-ms-operation-id:
      - 2f062dc9-5a9f-47d5-a2d0-dee64c5f5a43
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2f062dc9-5a9f-47d5-a2d0-dee64c5f5a43/result
  response:
    body:
      string: '{"id": "b7a47303-94a2-42aa-a28b-ddadbcc12c0e", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "28ce164b-fb22-498a-936c-337aa8dd06f7"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 567a941b-796b-4688-a59b-a6eaf8cc93b0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/28ce164b-fb22-498a-936c-337aa8dd06f7/items/b7a47303-94a2-42aa-a28b-ddadbcc12c0e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 71fa70bc-3073-4518-b564-8c911469c70e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
