interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "efcf8bcb-fe8e-43e8-8e8c-0fb7fa531bf0",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e71ea8e8-3fc3-41c5-b84a-e1aa5a8910aa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/efcf8bcb-fe8e-43e8-8e8c-0fb7fa531bf0/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6d628963-30b8-4b89-82ba-4857773746d7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/efcf8bcb-fe8e-43e8-8e8c-0fb7fa531bf0/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a76cf871-a0d2-49bc-aa90-1aa7946bcbd5
      RequestId:
      - 686a3e51-4f11-4cf8-8082-5a72d971955e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - a76cf871-a0d2-49bc-aa90-1aa7946bcbd5
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a76cf871-a0d2-49bc-aa90-1aa7946bcbd5
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-09-03T08:37:03.279295",
        "lastUpdatedTimeUtc": "2026-09-03T08:37:18.5557381", "percentComplete": 100,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a76cf871-a0d2-49bc-aa90-1aa7946bcbd5/result
      RequestId:
      - 0b5e30ee-aca6-4513-92bc-2e8231b7bc8a
      x-ms-operation-id:
      - a76cf871-a0d2-49bc-aa90-1aa7946bcbd5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a76cf871-a0d2-49bc-aa90-1aa7946bcbd5/result
  response:
    body:
      string: '{"id": "38287f46-a2ee-4ef1-8659-83019c6792b4", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "efcf8bcb-fe8e-43e8-8e8c-0fb7fa531bf0"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - fa758c04-98d2-46f0-a70d-ec4092afac22
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/efcf8bcb-fe8e-43e8-8e8c-0fb7fa531bf0/items/38287f46-a2ee-4ef1-8659-83019c6792b4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b6e7c3b2-0a51-4993-8557-cfdd4c9b0c15
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
