interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "efcf8bcb-fe8e-43e8-8e8c-0fb7fa531bf0",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 18707ef6-d31e-41f4-bf4a-f0bea2c65aa8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/efcf8bcb-fe8e-43e8-8e8c-0fb7fa531bf0/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5fdba5fc-1037-4a90-aed6-69117eed2277
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/efcf8bcb-fe8e-43e8-8e8c-0fb7fa531bf0/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7698c6e6-e0fa-4022-8698-40bbe34997c1
      RequestId:
      - 65b85be0-3557-4211-bccc-1170240f755c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7698c6e6-e0fa-4022-8698-40bbe34997c1
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7698c6e6-e0fa-4022-8698-40bbe34997c1
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-03T08:37:30.2931396",
        "lastUpdatedTimeUtc": "2026-09-03T08:37:30.2931396", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7698c6e6-e0fa-4022-8698-40bbe34997c1
      RequestId:
      - 8e8da035-45f4-4315-af52-987f34fc155e
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 7698c6e6-e0fa-4022-8698-40bbe34997c1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7698c6e6-e0fa-4022-8698-40bbe34997c1/result
  response:
    body:
      string: '{"id": "503ac295-831a-4a6e-870b-3d3dfe53e878", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "efcf8bcb-fe8e-43e8-8e8c-0fb7fa531bf0"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 8b32b934-b351-4ffd-a426-073d277b0d03
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/efcf8bcb-fe8e-43e8-8e8c-0fb7fa531bf0/items/503ac295-831a-4a6e-870b-3d3dfe53e878
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - befc9be1-9aee-46e2-bc3d-d52f3a39c768
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
