interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "28ce164b-fb22-498a-936c-337aa8dd06f7",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1fc46f1f-d476-4468-afd3-57f71a38dae7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/28ce164b-fb22-498a-936c-337aa8dd06f7/items
  response:
    body:
      string: '{"value": [{"id": "26a1202d-2d45-48c7-916e-f4903e5400b7", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "28ce164b-fb22-498a-936c-337aa8dd06f7"},
        {"id": "9509bf64-e430-4e1f-8861-e8f09f5e050a", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "28ce164b-fb22-498a-936c-337aa8dd06f7"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fc31de0f-4c8d-416f-b0d6-70f014a9c520
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "GraphQuerySet", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/28ce164b-fb22-498a-936c-337aa8dd06f7/GraphQuerySets
  response:
    body:
      string: '{"id": "4c5b92aa-5944-4b3e-a6a1-e31efc2b62aa", "type": "GraphQuerySet",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "28ce164b-fb22-498a-936c-337aa8dd06f7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 18033696-20e8-4da9-9355-24f56a7a72f5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/28ce164b-fb22-498a-936c-337aa8dd06f7/items/4c5b92aa-5944-4b3e-a6a1-e31efc2b62aa
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4f68fa08-28b8-4b46-92af-25e0a0903ebf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
