interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7185132e-fd46-4492-9fe6-c9b77d445a96",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b7351e5f-3cca-4ab3-bb05-e407ded32db8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7185132e-fd46-4492-9fe6-c9b77d445a96/items
  response:
    body:
      string: '{"value": [{"id": "9652273e-d3a3-4f78-bb85-e218f666faf2", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "7185132e-fd46-4492-9fe6-c9b77d445a96"}, {"id": "d851d970-868b-40c3-88de-3938426ce0f4",
        "type": "DigitalTwinBuilder", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "7185132e-fd46-4492-9fe6-c9b77d445a96"}, {"id": "40692767-d545-4836-bd64-fe30b12e86b9",
        "type": "Lakehouse", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "7185132e-fd46-4492-9fe6-c9b77d445a96"}, {"id": "59db8039-4290-4efa-aa40-bcfb868cb144",
        "type": "DigitalTwinBuilderFlow", "displayName": "fabcli000001_autoOnDemand",
        "description": "", "workspaceId": "7185132e-fd46-4492-9fe6-c9b77d445a96"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6454c19d-8744-49a5-bda5-9862b8c0bc6f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7185132e-fd46-4492-9fe6-c9b77d445a96/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/839ea090-4595-47cf-81b0-6a3beb68246e
      RequestId:
      - 58dee528-9b1e-4fed-b9df-16d43e34c29c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 839ea090-4595-47cf-81b0-6a3beb68246e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/839ea090-4595-47cf-81b0-6a3beb68246e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T05:45:24.7439912",
        "lastUpdatedTimeUtc": "2026-05-13T05:45:31.2431559", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/839ea090-4595-47cf-81b0-6a3beb68246e/result
      RequestId:
      - 772655a7-69ee-4ae1-bfa9-affaf3fd7b49
      x-ms-operation-id:
      - 839ea090-4595-47cf-81b0-6a3beb68246e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/839ea090-4595-47cf-81b0-6a3beb68246e/result
  response:
    body:
      string: '{"id": "612dcd96-c84d-4063-b60a-5e8fb17b9ff4", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7185132e-fd46-4492-9fe6-c9b77d445a96"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 858a1bb2-7480-48d4-8762-936d595d4f81
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7185132e-fd46-4492-9fe6-c9b77d445a96/items/612dcd96-c84d-4063-b60a-5e8fb17b9ff4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 29cbe9af-f555-4062-9407-0db7079a0adc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
