interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "2a724a6b-6a9a-4048-b4a4-9b4adb20b385",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cc7a7a3b-7a07-43cd-baeb-c99b472581b4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2a724a6b-6a9a-4048-b4a4-9b4adb20b385/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5ac4f9b2-d834-4085-b286-5e1d82079c31
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2a724a6b-6a9a-4048-b4a4-9b4adb20b385/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bab6ce07-978c-43c9-8c96-b2ae61e4fd37
      RequestId:
      - 296c8fe4-5d3f-4291-a632-741e4079fc2b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - bab6ce07-978c-43c9-8c96-b2ae61e4fd37
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bab6ce07-978c-43c9-8c96-b2ae61e4fd37
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-11T11:29:05.8105906",
        "lastUpdatedTimeUtc": "2026-02-11T11:29:14.0816585", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bab6ce07-978c-43c9-8c96-b2ae61e4fd37/result
      RequestId:
      - 9cb4cb40-de16-4b15-8a77-cfab3efafd90
      x-ms-operation-id:
      - bab6ce07-978c-43c9-8c96-b2ae61e4fd37
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bab6ce07-978c-43c9-8c96-b2ae61e4fd37/result
  response:
    body:
      string: '{"id": "ebce7e3e-5185-4a85-9f4d-d77866f2f7f9", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "2a724a6b-6a9a-4048-b4a4-9b4adb20b385"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 518853ef-fa2e-4c7d-b26b-2512de61fae7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2a724a6b-6a9a-4048-b4a4-9b4adb20b385/items/ebce7e3e-5185-4a85-9f4d-d77866f2f7f9
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ea29da0d-61ff-4970-bd37-471395ab8b98
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
