interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/admin/domains
  response:
    body:
      string: '{"domains": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c03ce6e2-1ac4-4ec6-b1ac-f71a19c1c205
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/admin/domains
  response:
    body:
      string: '{"contributorsScope": "AllTenant", "id": "9cd694d6-57ab-4085-b1b5-8a4cab600ab8",
        "displayName": "fabcli000001", "description": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/admin/domains/9cd694d6-57ab-4085-b1b5-8a4cab600ab8
      RequestId:
      - f9f1084d-7e6c-43b9-9a85-a2dcca864323
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/admin/domains/9cd694d6-57ab-4085-b1b5-8a4cab600ab8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 94b204ff-b019-4bf5-a0bc-bf1c65cae87d
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
