interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "f8afce4d-5748-4f22-a741-863c80a4dabf",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d1ac04f7-3974-40a1-8d09-2737bf19656c
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f8afce4d-5748-4f22-a741-863c80a4dabf/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ce8e7c72-65d5-4752-8506-f30a5593a360
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f8afce4d-5748-4f22-a741-863c80a4dabf/lakehouses
  response:
    body:
      string: '{"id": "f458069d-8f40-41a9-bf14-ed93f97a1669", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "f8afce4d-5748-4f22-a741-863c80a4dabf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 097f4f80-a4e5-41a5-a837-1180f5baca57
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/admin/workspaces/f8afce4d-5748-4f22-a741-863c80a4dabf/items/f458069d-8f40-41a9-bf14-ed93f97a1669/users
  response:
    body:
      string: '{"accessDetails": [{"principal": {"id": "00000000-0000-0000-0000-000000000001",
        "displayName": "Tenant Admin", "type": "User", "userDetails": {"userPrincipalName":
        "mocked@admin_test_user"}}, "itemAccessDetails": {"type": "Lakehouse", "permissions":
        ["Read", "Write", "ReShare", "Execute"], "additionalPermissions": ["ReadAll",
        "ViewOutput", "ViewLogs", "SubscribeOneLakeEvents"]}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8d089cd0-7fc9-4513-8e4b-8ff46421a8de
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f8afce4d-5748-4f22-a741-863c80a4dabf/items/f458069d-8f40-41a9-bf14-ed93f97a1669
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 40ae101a-d17e-4a6f-9f9b-92c250d4d76b
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
