interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "f8afce4d-5748-4f22-a741-863c80a4dabf",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ab2f1546-2d2f-4397-9c2f-ecff6e69323d
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f8afce4d-5748-4f22-a741-863c80a4dabf/roleAssignments
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000001", "principal":
        {"id": "00000000-0000-0000-0000-000000000001", "displayName": "Tenant Admin",
        "type": "User", "userDetails": {"userPrincipalName": "mocked@admin_test_user"}},
        "role": "Admin"}, {"id": "00000000-0000-0000-0000-000000000003", "principal":
        {"id": "00000000-0000-0000-0000-000000000003", "displayName": "fabric-cli-oidc",
        "type": "ServicePrincipal", "servicePrincipalDetails": {"aadAppId": "324ad028-5125-490f-b4a2-7cc89d688e5e"}},
        "role": "Member"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e3336dab-f01f-4517-b43b-ce75a8da45f9
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"principal": {"id": "2186d0ea-d02b-4f04-9d4a-305791e2c4c3", "type": "User"},
      "role": "member"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f8afce4d-5748-4f22-a741-863c80a4dabf/roleAssignments
  response:
    body:
      string: '{"requestId": "61ce56d1-4233-4d8f-bda8-4cbe76e748bb", "errorCode":
        "PrincipalNotFound", "moreDetails": [{"relatedResource": {"resourceId": "2186d0ea-d02b-4f04-9d4a-305791e2c4c3",
        "resourceType": "Principal"}}], "message": "The provided principal was not
        found", "relatedResource": {"resourceId": "f8afce4d-5748-4f22-a741-863c80a4dabf",
        "resourceType": "Workspace"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 61ce56d1-4233-4d8f-bda8-4cbe76e748bb
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - PrincipalNotFound
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"principal": {"id": "2186d0ea-d02b-4f04-9d4a-305791e2c4c3", "type": "ServicePrincipalProfile"},
      "role": "member"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f8afce4d-5748-4f22-a741-863c80a4dabf/roleAssignments
  response:
    body:
      string: '{"requestId": "78c47bad-5f63-4dee-a881-3e373f0e8631", "errorCode":
        "WorkspaceRoleNotAllowedForServicePrincipalProfile", "moreDetails": [{"relatedResource":
        {"resourceId": "2186d0ea-d02b-4f04-9d4a-305791e2c4c3", "resourceType": "Principal"}}],
        "message": "The provided role cannot be assigned to the provided profile",
        "relatedResource": {"resourceId": "f8afce4d-5748-4f22-a741-863c80a4dabf",
        "resourceType": "Workspace"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 78c47bad-5f63-4dee-a881-3e373f0e8631
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - WorkspaceRoleNotAllowedForServicePrincipalProfile
    status:
      code: 400
      message: Bad Request
version: 1
