interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "efeaa2e0-49e1-48cb-b22b-6b7edaaf8968",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 552c1fc7-5649-4b8c-8427-4c4cdce17519
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2b261cc6-6b77-4153-ad93-767a53c065fb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "SparkJobDefinition", "folderId": null, "displayName": "fabcli000001",
      "definition": {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiU3BhcmtKb2JEZWZpbml0aW9uIiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiUGFyYW1fVGVzdF9TcGFya0pvYiIsCiAgICAgICAgImRlc2NyaXB0aW9uIjogIlNwYXJrIGpvYiBkZWZpbml0aW9uIgogICAgfSwKICAgICJjb25maWciOiB7CiAgICAgICAgInZlcnNpb24iOiAiMi4wIiwKICAgICAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICAgIH0KfQ==",
      "payloadType": "InlineBase64"}, {"path": "SparkJobDefinitionV1.json", "payload":
      "ewogICAgImV4ZWN1dGFibGVGaWxlIjogIiIsCiAgICAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiAiIiwKICAgICJtYWluQ2xhc3MiOiAiIiwKICAgICJhZGRpdGlvbmFsTGFrZWhvdXNlSWRzIjogW10sCiAgICAicmV0cnlQb2xpY3kiOiBudWxsLAogICAgImNvbW1hbmRMaW5lQXJndW1lbnRzIjogIiIsCiAgICAiYWRkaXRpb25hbExpYnJhcnlVcmlzIjogW10sCiAgICAibGFuZ3VhZ2UiOiAiUHl0aG9uIiwKICAgICJlbnZpcm9ubWVudEFydGlmYWN0SWQiOiBudWxsCn0=",
      "payloadType": "InlineBase64"}], "format": "SparkJobDefinitionV1"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items
  response:
    body:
      string: '{"id": "20e99421-cfdb-49f2-82ec-d487b7163aed", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Spark job definition", "workspaceId":
        "efeaa2e0-49e1-48cb-b22b-6b7edaaf8968"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ac9649c2-c3d5-4e80-8a53-3f3c57f1acc1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/lakehouses
  response:
    body:
      string: '{"id": "db849ecf-cbcc-4b9c-8a9e-0d59ff56f9bf", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "", "workspaceId": "efeaa2e0-49e1-48cb-b22b-6b7edaaf8968"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e3a80172-6191-4e0a-b467-4f84e5f4206e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/20e99421-cfdb-49f2-82ec-d487b7163aed/getDefinition?format=SparkJobDefinitionV1
  response:
    body:
      string: '{"definition": {"parts": [{"path": "SparkJobDefinitionV1.json", "payload":
        "ew0KICAiZXhlY3V0YWJsZUZpbGUiOiAiIiwNCiAgImRlZmF1bHRMYWtlaG91c2VBcnRpZmFjdElkIjogbnVsbCwNCiAgIm1haW5D[...]
- request:
    body: '{"definition": {"parts": [{"path": "SparkJobDefinitionV1.json", "payload":
      "eyJleGVjdXRhYmxlRmlsZSI6ICIiLCAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiAiZGI4NDllY2YtY2JjYy00YjljLThhOWUtMGQ1OWZmNTZmOWJmIiwgIm1haW5DbGFzcyI6ICIiLCAiYWRkaXRpb25hbExha2Vob3VzZUlkcyI6IFtdLCAicmV0cnlQb2xpY3kiOiBudWxsLCAiY29tbWFuZExpbmVBcmd1bWVudHMiOiAiIiwgImFkZGl0aW9uYWxMaWJyYXJ5VXJpcyI6IFtdLCAibGFuZ3VhZ2UiOiAiUHl0aG9uIiwgImVudmlyb25tZW50QXJ0aWZhY3RJZCI6IG51bGx9",
      "payloadType": "InlineBase6[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/20e99421-cfdb-49f2-82ec-d487b7163aed/Main/spark_job_simple.py/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEA428C520072C"'
      Last-Modified:
      - Mon, 27 Apr 2026 06:46:54 GMT
    status:
      code: 201
      message: Created
- request:
    body: "# Copyright (c) Microsoft Corporation.\n# Licensed under the MIT License.\n\nimport
      sys\n\n# import Constant\nfrom pyspark.sql import Row, SparkSession\n\n\ndef
      create_dataframe_from_params(spark, params):\n    # Create a Row object with
      the parameters\n    row = Row(**params)\n\n    # Create a DataFrame from the
      Row object\n    df = spark.createDataFrame([row])\n\n    return df\n\n\nif __name__
      == \"__main__\":\n\n    spark = SparkSession.builder.appName(\"SampleSparkJob\").getOrCreate()\n
      \   spark_context = spark.sparkContext\n    spark_context.setLogLevel(\"DEBUG\")\n\n
      \   print(\"spark.synapse.pool.name : \" + spark.conf.get(\"spark.synapse.pool.name\"))\n
      \   print()\n    print(f\"sys.argv : \" + str(sys.argv))\n    print(\"spark.driver.cores
      : \" + spark.conf.get(\"spark.driver.cores\"))\n    print(\"spark.driver.memory
      : \" + spark.conf.get(\"spark.driver.memory\"))\n    print(\"spark.executor.cores
      : \" + spark.conf.get(\"spark.executor.cores\"))\n    print(\"spark.executor.memory
      : \" + spark.conf.get(\"spark.executor.memory\"))\n    print(\"spark.executor.instances:
      \" + spark.conf.get(\"spark.executor.instances\"))\n    print()\n    print(\n
      \       \"spark.dynamicAllocation.enabled : \"\n        + spark.conf.get(\"spark.dynamicAllocation.enabled\")\n
      \   )\n    print(\n        \"spark.dynamicAllocation.maxExecutors : \"\n        +
      spark.conf.get(\"spark.dynamicAllocation.maxExecutors\")\n    )\n    print(\n
      \       \"spark.dynamicAllocation.minExecutors : \"\n        + spark.conf.get(\"spark.dynamicAllocation.minExecutors\")\n
      \   )\n\n    params = {\"param1\": \"value1\", \"param2\": \"value2\"}\n    df
      = create_dataframe_from_params(spark, params)\n    df.show()\n\n    deltaTablePath
      = \"Tables/ParamsTable\"\n    df.write.option(\"overwriteSchema\", \"true\").mode(\"overwrite\").format(\"delta\").save(\n
      \       deltaTablePath\n    )\n"
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/20e99421-cfdb-49f2-82ec-d487b7163aed/Main/spark_job_simple.py?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/20e99421-cfdb-49f2-82ec-d487b7163aed/Main/spark_job_simple.py?action=flush&position=1758
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEA428C77F4EE8"'
      Last-Modified:
      - Mon, 27 Apr 2026 06:46:58 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/20e99421-cfdb-49f2-82ec-d487b7163aed/jobs/instances?jobType=sparkjob
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/20e99421-cfdb-49f2-82ec-d487b7163aed/jobs/instances/717ccd9b-f649-424a-9193-65a5935018e4
      RequestId:
      - 46cc633e-906f-4dfb-a9e5-48ff9b628cbd
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/20e99421-cfdb-49f2-82ec-d487b7163aed/jobs/instances/717ccd9b-f649-424a-9193-65a5935018e4
  response:
    body:
      string: '{"id": "717ccd9b-f649-424a-9193-65a5935018e4", "itemId": "20e99421-cfdb-49f2-82ec-d487b7163aed",
        "jobType": "sparkjob", "invokeType": "Manual", "status": "InProgress", "failureReason":
        null, "rootActivityId": "46cc633e-906f-4dfb-a9e5-48ff9b628cbd", "startTimeUtc":
        "2026-04-27T06:47:06.7082594", "endTimeUtc": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 08a73510-9839-4e88-99f7-3055e2630d52
      Retry-After:
      - '46'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/db849ecf-cbcc-4b9c-8a9e-0d59ff56f9bf
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5e3ede00-f533-412a-b0e4-3d1f71c6d027
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/20e99421-cfdb-49f2-82ec-d487b7163aed
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 985672e1-0cd4-4c32-92e3-b45f7afacd89
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
