interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "3505a644-2033-486a-b62f-e6abff07cf9e",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ad1d2fd5-54e9-411e-93a6-b5333a6217ad
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3505a644-2033-486a-b62f-e6abff07cf9e/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a9097e21-6644-4673-9e4b-ec4b264b27c8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "folderId": null, "displayName": "fabcli000001", "definition":
      {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgI[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9030349d-052b-4e27-b0d0-39cb138e0ccd
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-25T12:08:55.5600295",
        "lastUpdatedTimeUtc": "2026-05-25T12:08:57.3815351", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9030349d-052b-4e27-b0d0-39cb138e0ccd/result
      RequestId:
      - ed377716-6c71-4e5a-ab00-c4606a437233
      x-ms-operation-id:
      - 9030349d-052b-4e27-b0d0-39cb138e0ccd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9030349d-052b-4e27-b0d0-39cb138e0ccd/result
  response:
    body:
      string: '{"id": "6f3cd6a3-ac32-428c-8de4-38362bace400", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "3505a644-2033-486a-b62f-e6abff07cf9e", "attributes": []}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 2b21db5b-d481-4225-9438-0ec5112cbc18
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3505a644-2033-486a-b62f-e6abff07cf9e/items/6f3cd6a3-ac32-428c-8de4-38362bace400/jobs/instances?jobType=RunNotebook
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/3505a644-2033-486a-b62f-e6abff07cf9e/items/6f3cd6a3-ac32-428c-8de4-38362bace400/jobs/instances/22b090f6-2b4b-4d15-9eb1-8fd1177b2d20
      RequestId:
      - 62f95468-cf59-4db1-b03a-c0cef68095b7
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3505a644-2033-486a-b62f-e6abff07cf9e/items/6f3cd6a3-ac32-428c-8de4-38362bace400/jobs/instances/22b090f6-2b4b-4d15-9eb1-8fd1177b2d20
  response:
    body:
      string: '{"id": "22b090f6-2b4b-4d15-9eb1-8fd1177b2d20", "itemId": "6f3cd6a3-ac32-428c-8de4-38362bace400",
        "jobType": "RunNotebook", "invokeType": "Manual", "status": "Completed", "failureReason":
        null, "rootActivityId": "62f95468-cf59-4db1-b03a-c0cef68095b7", "startTimeUtc":
        "2026-05-25T12:09:26.9792717", "endTimeUtc": "2026-05-25T12:09:48.5370524"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c44f856d-6427-4591-8069-48b32273168f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/3505a644-2033-486a-b62f-e6abff07cf9e/items/6f3cd6a3-ac32-428c-8de4-38362bace400
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d3ef1018-3926-4fec-93b9-5ddd5efa42cd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
