interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "efeaa2e0-49e1-48cb-b22b-6b7edaaf8968",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0de2aad9-87d2-442e-8f47-18ea09c46735
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 133ea3ec-c731-437e-956d-392d7b7c0e73
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "folderId": null, "displayName": "fabcli000001", "definition":
      {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgI[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3bf5c552-2b74-40d1-b206-29d354f7a1ec
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-27T06:41:15.045666",
        "lastUpdatedTimeUtc": "2026-04-27T06:41:16.3579891", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3bf5c552-2b74-40d1-b206-29d354f7a1ec/result
      RequestId:
      - 4bc53a8b-a3d6-4223-9b62-9dd0cbe127f0
      x-ms-operation-id:
      - 3bf5c552-2b74-40d1-b206-29d354f7a1ec
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3bf5c552-2b74-40d1-b206-29d354f7a1ec/result
  response:
    body:
      string: '{"id": "d75c1617-82a4-4eaf-ae9c-1a93c4e6dfae", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "efeaa2e0-49e1-48cb-b22b-6b7edaaf8968"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d5012edc-77c2-45ae-8f59-0d0a932d3388
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/d75c1617-82a4-4eaf-ae9c-1a93c4e6dfae/jobs/instances?jobType=RunNotebook
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/d75c1617-82a4-4eaf-ae9c-1a93c4e6dfae/jobs/instances/eca6f37c-6e72-48b6-a13e-a0ca14cd9e99
      RequestId:
      - 3b050ddf-0a56-4d18-9ee7-8a2e314c2720
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/d75c1617-82a4-4eaf-ae9c-1a93c4e6dfae/jobs/instances/eca6f37c-6e72-48b6-a13e-a0ca14cd9e99/cancel
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/d75c1617-82a4-4eaf-ae9c-1a93c4e6dfae/jobs/instances/eca6f37c-6e72-48b6-a13e-a0ca14cd9e99
      RequestId:
      - b244badc-3363-4a22-b09e-bceda0869ed8
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/d75c1617-82a4-4eaf-ae9c-1a93c4e6dfae/jobs/instances/eca6f37c-6e72-48b6-a13e-a0ca14cd9e99
  response:
    body:
      string: '{"id": "eca6f37c-6e72-48b6-a13e-a0ca14cd9e99", "itemId": "d75c1617-82a4-4eaf-ae9c-1a93c4e6dfae",
        "jobType": "RunNotebook", "invokeType": "Manual", "status": "NotStarted",
        "failureReason": null, "rootActivityId": "3b050ddf-0a56-4d18-9ee7-8a2e314c2720",
        "startTimeUtc": "2026-04-27T06:41:38.3233333", "endTimeUtc": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3e732fde-1230-4983-9db0-d20cd62c901f
      Retry-After:
      - '18'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/d75c1617-82a4-4eaf-ae9c-1a93c4e6dfae
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6ca30d2f-9848-41d3-b36a-c69b828067a6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
