interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "8047ac4b-336a-46ad-a27d-8883d9d7d43c",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2caf643e-439a-48b2-81cb-1fdf5ba617c5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8047ac4b-336a-46ad-a27d-8883d9d7d43c/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a605a42f-f0f1-46a2-87c8-9b53fa16d7ac
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "folderId": null, "displayName": "fabcli000001", "definition":
      {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgI[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/492b544c-6e7c-49bf-909b-4ebe27607759
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-27T14:02:14.1867504",
        "lastUpdatedTimeUtc": "2026-05-27T14:02:15.8447262", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/492b544c-6e7c-49bf-909b-4ebe27607759/result
      RequestId:
      - ef5f53a4-cd7a-4ea2-bb05-23cba6735f55
      x-ms-operation-id:
      - 492b544c-6e7c-49bf-909b-4ebe27607759
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/492b544c-6e7c-49bf-909b-4ebe27607759/result
  response:
    body:
      string: '{"id": "4299225f-8c77-4563-9e3a-3cbbc2013bee", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "8047ac4b-336a-46ad-a27d-8883d9d7d43c", "attributes": []}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 6c3dcb85-d047-4272-aea9-50c2ad4e8b3b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/8047ac4b-336a-46ad-a27d-8883d9d7d43c/items/4299225f-8c77-4563-9e3a-3cbbc2013bee/jobs/instances?jobType=RunNotebook
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/8047ac4b-336a-46ad-a27d-8883d9d7d43c/items/4299225f-8c77-4563-9e3a-3cbbc2013bee/jobs/instances/83d9ef49-c132-4061-8b1e-42c861cc5a30
      RequestId:
      - 6c2c39b6-9b7c-40e2-9849-be132e041d2e
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8047ac4b-336a-46ad-a27d-8883d9d7d43c/items/4299225f-8c77-4563-9e3a-3cbbc2013bee/jobs/instances/83d9ef49-c132-4061-8b1e-42c861cc5a30
  response:
    body:
      string: '{"id": "83d9ef49-c132-4061-8b1e-42c861cc5a30", "itemId": "4299225f-8c77-4563-9e3a-3cbbc2013bee",
        "jobType": "RunNotebook", "invokeType": "Manual", "status": "Completed", "failureReason":
        null, "rootActivityId": "6c2c39b6-9b7c-40e2-9849-be132e041d2e", "startTimeUtc":
        "2026-05-27T14:02:41.4717908", "endTimeUtc": "2026-05-27T14:03:21.9441953"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6e235176-0b1d-419b-8e01-c24e2708d72c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/8047ac4b-336a-46ad-a27d-8883d9d7d43c/items/4299225f-8c77-4563-9e3a-3cbbc2013bee
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - faaaead0-22c5-427b-897c-f88ed111b5cc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
