interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "a083d3fa-d4fa-42fe-863e-751937379795", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b262ac0c-5fdc-4f00-a34b-98c5dd2d32bc
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 72733a87-3211-4b0f-bee6-8e16e163428a
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "DataPipeline", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001", "definition": {"parts": [{"path": "pipeline-content.json",
      "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgImFjdGl2aXRpZXMiOiBbCiAgICAgICAgICAgIHsKICAgICAgICAgICAgICAgICJuYW1lIjogIlJ1bk5vdGVib29rIiwKICAgICAgICAgICAgICAgICJ0eXBlIjogIlRyaWRlbnROb3RlYm9vayIsCiAgICAgICAgICAgICAgICAiZGVwZW5kc09uIjogW10sCiAgICAgICAgICAgICAgICAicG9saWN5IjogewogICAgICAgICAgICAgICAgICAgICJ0aW1lb3V0IjogIjAuMTI6MDA6MDAiLAogICAgICAgICAgICAgICAgICAgICJyZXRyeSI6IDAsCiAgICAgICAgICAgICAgICAgICAgInJldHJ5SW50ZXJ2YWxJblNlY29uZHMiOiAzMCwKICAgICAgICAgICAgICAgICAgICAic2VjdXJlT3V0cHV0IjogZmFsc2UsCi[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items
  response:
    body:
      string: '{"value": [{"id": "3bf7e4d9-69c7-4a40-a754-cd80bc427345", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "a083d3fa-d4fa-42fe-863e-751937379795"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3af8bddc-ce95-4710-863b-cee21db51b90
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"enabled": true, "configuration": {"type": "Cron", "startDateTime": "2024-01-23T00:00:00",
      "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId": "Central Standard Time",
      "interval": 10}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items/3bf7e4d9-69c7-4a40-a754-cd80bc427345/jobs/Pipeline/schedules
  response:
    body:
      string: '{"id": "fd7d52d4-c818-4a39-bf04-4eadde549a6c", "enabled": true, "createdDateTime":
        "2025-11-11T19:12:37.9133333", "configuration": {"type": "Cron", "startDateTime":
        "2024-01-23T00:00:00", "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId":
        "Central Standard Time", "interval": 10}, "owner": {"id": "2ed4a6b4-687e-466d-a03f-1bca2e5754d4",
        "type": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items/3bf7e4d9-69c7-4a40-a754-cd80bc427345/jobs/Pipeline/schedules/fd7d52d4-c818-4a39-bf04-4eadde549a6c
      RequestId:
      - 621c958d-93d2-4fbf-8fcb-6960ed2ad843
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items/3bf7e4d9-69c7-4a40-a754-cd80bc427345/jobs/Pipeline/schedules/fd7d52d4-c818-4a39-bf04-4eadde549a6c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 7949d789-815f-4c91-b199-bb8ad14d8e45
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items/3bf7e4d9-69c7-4a40-a754-cd80bc427345
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 863c9109-7d58-4c57-a889-a880f1319eab
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
