interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "bb1b6ba0-bca2-4806-8519-1c3a3e58604c",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 59afffe7-2f0a-4ae7-bf1f-a18d4614fa53
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 221f05ee-6814-45d3-ab48-f8725751017f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001", "definition": {"parts": [{"path": ".platform",
      "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgI[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d133e056-a80c-45e2-abab-6022cab29ce4
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-22T14:53:23.8224367",
        "lastUpdatedTimeUtc": "2026-04-22T14:53:25.4993615", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d133e056-a80c-45e2-abab-6022cab29ce4/result
      RequestId:
      - 1727f3bc-5510-4f1c-a1d7-177771f281f3
      x-ms-operation-id:
      - d133e056-a80c-45e2-abab-6022cab29ce4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d133e056-a80c-45e2-abab-6022cab29ce4/result
  response:
    body:
      string: '{"id": "6379279e-f05f-4022-b496-0bfe394850c8", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "bb1b6ba0-bca2-4806-8519-1c3a3e58604c"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - cfb1e0c6-efaa-4306-bd18-b4c201238179
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"enabled": true, "configuration": {"type": "Cron", "startDateTime": "2024-04-28T00:00:00",
      "endDateTime": "2024-04-30T23:59:00", "localTimeZoneId": "Central Standard Time",
      "interval": 10}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/6379279e-f05f-4022-b496-0bfe394850c8/jobs/RunNotebook/schedules
  response:
    body:
      string: '{"id": "98ea0cbb-ae0f-45be-ad58-62f426c8e3a1", "enabled": true, "createdDateTime":
        "2026-04-22T14:53:49.49", "configuration": {"type": "Cron", "startDateTime":
        "2024-04-28T00:00:00", "endDateTime": "2024-04-30T23:59:00", "localTimeZoneId":
        "Central Standard Time", "interval": 10}, "owner": {"id": "00000000-0000-0000-0000-000000000001",
        "type": "User"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/6379279e-f05f-4022-b496-0bfe394850c8/jobs/RunNotebook/schedules/98ea0cbb-ae0f-45be-ad58-62f426c8e3a1
      RequestId:
      - 1f502f80-8fa2-4bb0-8545-3f485c22e8a4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/6379279e-f05f-4022-b496-0bfe394850c8/jobs/RunNotebook/schedules/98ea0cbb-ae0f-45be-ad58-62f426c8e3a1
  response:
    body:
      string: '{"id": "98ea0cbb-ae0f-45be-ad58-62f426c8e3a1", "enabled": true, "createdDateTime":
        "2026-04-22T14:53:49.49", "configuration": {"type": "Cron", "startDateTime":
        "2024-04-28T00:00:00", "endDateTime": "2024-04-30T23:59:00", "localTimeZoneId":
        "Central Standard Time", "interval": 10}, "owner": {"id": "00000000-0000-0000-0000-000000000001",
        "type": "User"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5c892753-7ff8-4d2f-b482-ec3409534da3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"configuration": {"type": "Weekly", "times": ["19:43", "22:00"], "weekdays":
      ["Monday", "Tuesday"], "startDateTime": "2024-12-15T09:00:00", "endDateTime":
      "2024-12-16T09:00:00", "localTimeZoneId": "UTC"}, "enabled": true}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/6379279e-f05f-4022-b496-0bfe394850c8/jobs/RunNotebook/schedules/98ea0cbb-ae0f-45be-ad58-62f426c8e3a1
  response:
    body:
      string: '{"id": "98ea0cbb-ae0f-45be-ad58-62f426c8e3a1", "enabled": true, "createdDateTime":
        "2026-04-22T14:53:49.49", "configuration": {"type": "Weekly", "startDateTime":
        "2024-12-15T09:00:00", "endDateTime": "2024-12-16T09:00:00", "localTimeZoneId":
        "UTC", "times": ["19:43", "22:00"], "weekdays": ["Monday", "Tuesday"]}, "owner":
        {"id": "00000000-0000-0000-0000-000000000001", "type": "User"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fc6004b6-957c-4f22-a102-3479b5f6de62
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/6379279e-f05f-4022-b496-0bfe394850c8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9c385173-a5dc-4271-8dc1-a024862ecddd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
