interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "efeaa2e0-49e1-48cb-b22b-6b7edaaf8968",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ae85e3d9-209a-4696-aa67-09855a827559
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 59a8213d-203e-4227-8669-7c4f4894039a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "folderId": null, "displayName": "fabcli000001", "definition":
      {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgI[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5a06644a-3f5c-4ddf-84fa-f7c3371fb564
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-27T06:44:31.022526",
        "lastUpdatedTimeUtc": "2026-04-27T06:44:32.3448651", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5a06644a-3f5c-4ddf-84fa-f7c3371fb564/result
      RequestId:
      - 4a59f466-3206-49c4-963f-3f82d7d61bcb
      x-ms-operation-id:
      - 5a06644a-3f5c-4ddf-84fa-f7c3371fb564
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5a06644a-3f5c-4ddf-84fa-f7c3371fb564/result
  response:
    body:
      string: '{"id": "5b19dd48-7966-42f3-99dc-ddf2af0197e0", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "efeaa2e0-49e1-48cb-b22b-6b7edaaf8968"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 52430c0e-ac77-4d31-bb3e-88190516d95a
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"enabled": true, "configuration": {"type": "Cron", "startDateTime": "2024-04-28T00:00:00",
      "endDateTime": "2024-04-30T23:59:00", "localTimeZoneId": "Central Standard Time",
      "interval": 10}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/5b19dd48-7966-42f3-99dc-ddf2af0197e0/jobs/RunNotebook/schedules
  response:
    body:
      string: '{"id": "da2979bd-5421-44f8-9164-8eb135c6a722", "enabled": true, "createdDateTime":
        "2026-04-27T06:44:54.3666667", "configuration": {"type": "Cron", "startDateTime":
        "2024-04-28T00:00:00", "endDateTime": "2024-04-30T23:59:00", "localTimeZoneId":
        "Central Standard Time", "interval": 10}, "owner": {"id": "00000000-0000-0000-0000-000000000001",
        "type": "User"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/5b19dd48-7966-42f3-99dc-ddf2af0197e0/jobs/RunNotebook/schedules/da2979bd-5421-44f8-9164-8eb135c6a722
      RequestId:
      - ef61c2fa-8aff-4465-85de-9b25f9d73855
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/5b19dd48-7966-42f3-99dc-ddf2af0197e0/jobs/RunNotebook/schedules/da2979bd-5421-44f8-9164-8eb135c6a722
  response:
    body:
      string: '{"id": "da2979bd-5421-44f8-9164-8eb135c6a722", "enabled": true, "createdDateTime":
        "2026-04-27T06:44:54.3666667", "configuration": {"type": "Cron", "startDateTime":
        "2024-04-28T00:00:00", "endDateTime": "2024-04-30T23:59:00", "localTimeZoneId":
        "Central Standard Time", "interval": 10}, "owner": {"id": "00000000-0000-0000-0000-000000000001",
        "type": "User"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 060e6958-f658-488a-a4b6-1328c8430d6d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"configuration": {"type": "Weekly", "times": ["19:43", "22:00"], "weekdays":
      ["Monday", "Tuesday"], "startDateTime": "2024-12-15T09:00:00", "endDateTime":
      "2024-12-16T09:00:00", "localTimeZoneId": "UTC"}, "enabled": true}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/5b19dd48-7966-42f3-99dc-ddf2af0197e0/jobs/RunNotebook/schedules/da2979bd-5421-44f8-9164-8eb135c6a722
  response:
    body:
      string: '{"id": "da2979bd-5421-44f8-9164-8eb135c6a722", "enabled": true, "createdDateTime":
        "2026-04-27T06:44:54.3666667", "configuration": {"type": "Weekly", "startDateTime":
        "2024-12-15T09:00:00", "endDateTime": "2024-12-16T09:00:00", "localTimeZoneId":
        "UTC", "times": ["19:43", "22:00"], "weekdays": ["Monday", "Tuesday"]}, "owner":
        {"id": "00000000-0000-0000-0000-000000000001", "type": "User"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c12783b9-d4fe-4643-a578-3596f96291b5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/5b19dd48-7966-42f3-99dc-ddf2af0197e0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - acc71a92-2143-4c52-8167-f5107f3b7114
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
