interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "f571f780-ed4c-40cf-8c5f-4442d586867c",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - aff9e522-bc3c-43d1-ae66-5896673e9a43
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ed2cf8ae-b434-47e2-ac51-732f83218847
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/lakehouses
  response:
    body:
      string: '{"id": "efdedd21-dfcf-4571-a7f7-d47f50dfb81e", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "f571f780-ed4c-40cf-8c5f-4442d586867c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 88f48e1e-062d-4cd4-89cb-d8e370b5cbec
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/environments
  response:
    body:
      string: '{"id": "11001a43-cd27-4c50-967e-886c2710d1fc", "type": "Environment",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "f571f780-ed4c-40cf-8c5f-4442d586867c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 34979d1c-0d5c-4b32-a1e3-9f521e0148e7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/spark/pools
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000000", "type": "Workspace",
        "name": "Starter Pool", "nodeFamily": "MemoryOptimized", "nodeSize": "Medium",
        "autoScale": {"enabled": true, "minNodeCount": 1, "maxNodeCount": 10}, "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a5f39bba-9baa-4c9e-a40a-6c9861a454ea
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "fabcli000003", "nodeFamily": "MemoryOptimized", "nodeSize": "Small",
      "autoScale": {"enabled": true, "minNodeCount": 1, "maxNodeCount": 1}, "dynamicExecutorAllocation":
      {"enabled": false, "minExecutors": 1, "maxExecutors": 1}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/spark/pools
  response:
    body:
      string: '{"id": "acd23508-4ee3-4059-bfa0-f332deaaefca", "type": "Workspace",
        "name": "fabcli000003", "nodeFamily": "MemoryOptimized", "nodeSize": "Small",
        "autoScale": {"enabled": true, "minNodeCount": 1, "maxNodeCount": 1}, "dynamicExecutorAllocation":
        {"enabled": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/spark/pools/acd23508-4ee3-4059-bfa0-f332deaaefca
      RequestId:
      - fe0c76c9-edcc-485f-82e9-42c81dabea9d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000004", "definition": {"parts": [{"path": ".platform",
      "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJDcmVhdGUgQXZhdGFyIERlbW8gVGFibGVzIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiTmV3IG5vdGVib29rIgogICAgfSwKICAgICJjb25maWciOiB7CiAgICAgICAgInZlcnNpb24iOiAiMi4wIiwKICAgICAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICAgIH0KfQ==",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJjZWxsU3RhdHVzIjogInt9IiwKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKI[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/da14bfcd-48f6-4ecd-be8f-2296f7cbccf9
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-22T13:30:34.5074478",
        "lastUpdatedTimeUtc": "2026-04-22T13:30:35.4188417", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/da14bfcd-48f6-4ecd-be8f-2296f7cbccf9/result
      RequestId:
      - 6c41ade7-7fb6-4311-a8ef-fab26cb91a26
      x-ms-operation-id:
      - da14bfcd-48f6-4ecd-be8f-2296f7cbccf9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/da14bfcd-48f6-4ecd-be8f-2296f7cbccf9/result
  response:
    body:
      string: '{"id": "35f3ceb0-b668-41de-8793-82584adc3bdb", "type": "Notebook",
        "displayName": "fabcli000004", "description": "Imported from fab", "workspaceId":
        "f571f780-ed4c-40cf-8c5f-4442d586867c"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 9b65e606-2545-4e89-a915-f4104f41b16e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"executionData": {"parameters": {"string_param": {"type": "string", "value":
      "new_value"}}, "configuration": {"conf": {"spark.conf1": "value"}, "defaultLakehouse":
      {"name": "fabcli000001", "id": "efdedd21-dfcf-4571-a7f7-d47f50dfb81e", "workspaceId":
      "f571f780-ed4c-40cf-8c5f-4442d586867c"}, "useStarterPool": false, "useWorkspacePool":
      "fabcli000003", "environment": {"name": "fabcli000002", "id": "11001a43-cd27-4c50-967e-886c2710d1fc"}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/35f3ceb0-b668-41de-8793-82584adc3bdb/jobs/instances?jobType=RunNotebook
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/35f3ceb0-b668-41de-8793-82584adc3bdb/jobs/instances/1305f81d-628e-4b35-8fff-b6b29fdee565
      RequestId:
      - 72162cb4-9a2c-446a-b402-b0f718699e9b
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/35f3ceb0-b668-41de-8793-82584adc3bdb/jobs/instances/1305f81d-628e-4b35-8fff-b6b29fdee565
  response:
    body:
      string: '{"id": "1305f81d-628e-4b35-8fff-b6b29fdee565", "itemId": "35f3ceb0-b668-41de-8793-82584adc3bdb",
        "jobType": "RunNotebook", "invokeType": "Manual", "status": "NotStarted",
        "failureReason": null, "rootActivityId": "72162cb4-9a2c-446a-b402-b0f718699e9b",
        "startTimeUtc": "2026-04-22T13:31:04.0184573", "endTimeUtc": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fae9ebf6-489b-4557-bc3d-1f89e38a6b0c
      Retry-After:
      - '17'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"executionData": {"tableName": "customers", "optimizeSettings": {"vOrder":
      true, "zOrderBy": ["account_id"]}, "vacuumSettings": {"retentionPeriod": "7.01:00:00"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/efdedd21-dfcf-4571-a7f7-d47f50dfb81e/jobs/instances?jobType=TableMaintenance
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/efdedd21-dfcf-4571-a7f7-d47f50dfb81e/jobs/instances/2ac9ba91-2177-417b-83db-5e94548ee7d4
      RequestId:
      - 383dc193-4510-48ca-a5f1-2f141978a016
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/spark/pools/acd23508-4ee3-4059-bfa0-f332deaaefca
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - fbb23d31-927c-4fd9-820b-81941c1e4acc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/35f3ceb0-b668-41de-8793-82584adc3bdb
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 541cf43f-5106-4a24-a133-441e1423541b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/efdedd21-dfcf-4571-a7f7-d47f50dfb81e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ad0f8375-3979-4462-ab46-1d20612f4455
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
