interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "c162eefd-cb6e-49c1-b443-75803a45e1be", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 138c51cd-158e-4350-b09d-8e0a7a90a5f5
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c162eefd-cb6e-49c1-b443-75803a45e1be/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9168b9c2-1b19-4aef-8986-57533c4db90e
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001", "definition": {"format": "ipynb", "parts": [{"path":
      "notebook-content.ipynb", "payload": "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgICAgInNvdXJjZSI6IFsKICAgICAgICAgICAgICAgICIjIFdlbGNvbWUgdG8geW91ciBuZX[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-north-europe-f-primary-redirect.analysis.windows.net/v1/operations/35fb1d07-2090-4113-bfcd-c92efd723f1c
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-11-10T22:42:31.3035731",
        "lastUpdatedTimeUtc": "2025-11-10T22:42:33.428585", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/v1/operations/35fb1d07-2090-4113-bfcd-c92efd723f1c/result
      RequestId:
      - 0e5b7de6-95ab-49d9-a512-07ab36872d1a
      x-ms-operation-id:
      - 35fb1d07-2090-4113-bfcd-c92efd723f1c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-north-europe-f-primary-redirect.analysis.windows.net/v1/operations/35fb1d07-2090-4113-bfcd-c92efd723f1c/result
  response:
    body:
      string: '{"id": "169649a4-8ee0-4eaa-b1e7-41d2caefc8de", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "c162eefd-cb6e-49c1-b443-75803a45e1be"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 021692d9-04fe-4dd6-ba63-791f5a5f5f74
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"enabled": true, "configuration": {"type": "Cron", "startDateTime": "2024-01-23T00:00:00",
      "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId": "Central Standard Time",
      "interval": 10}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c162eefd-cb6e-49c1-b443-75803a45e1be/items/169649a4-8ee0-4eaa-b1e7-41d2caefc8de/jobs/RunNotebook/schedules
  response:
    body:
      string: '{"id": "3f06466d-ae3f-4620-8f0e-ab72b0355d7e", "enabled": true, "createdDateTime":
        "2025-11-10T22:42:53.0733333", "configuration": {"type": "Cron", "startDateTime":
        "2024-01-23T00:00:00", "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId":
        "Central Standard Time", "interval": 10}, "owner": {"id": "2ed4a6b4-687e-466d-a03f-1bca2e5754d4",
        "type": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/c162eefd-cb6e-49c1-b443-75803a45e1be/items/169649a4-8ee0-4eaa-b1e7-41d2caefc8de/jobs/RunNotebook/schedules/3f06466d-ae3f-4620-8f0e-ab72b0355d7e
      RequestId:
      - 3bd63529-5da6-400a-962e-be178b2f2ab5
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c162eefd-cb6e-49c1-b443-75803a45e1be/items/169649a4-8ee0-4eaa-b1e7-41d2caefc8de
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2e4011b5-b425-4eaa-84e1-d39ccfcee367
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
