interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "ab04aa79-51eb-45b8-8fa6-c96d985f33e7",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bc02c61a-dd61-4d95-8f42-bad8bfd7c747
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 431929c4-ced7-43f9-980f-5562a0e9b61f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/lakehouses
  response:
    body:
      string: '{"id": "aca69357-e8a5-4341-bcf5-0b671e3aead5", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ed2a308b-466a-4055-a33c-c043fc462d6b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"type": "Notebook", "folderId": null, "displayName": "fabcli000002", "definition": {"format": "ipynb", "parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9", "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload": "eyJjZWxscyI6IFt7ImNlbGxfdHlwZSI6ICJjb2RlIiwgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsICJtZXRhZGF0YSI6IHsibWljcm9zb2Z0IjogeyJsYW5ndWFnZSI6ICJweXRob24iLCAibGFuZ3VhZ2VfZ3JvdXAiOiAic3luYXBzZV9weXNwYXJrIn19LCAib3V0cHV0cyI6IFtdLCAic291cmNlIjogWyIjIFdlbGNvbWUgdG8geW91ciBuZXcgbm90ZWJvb2tcbiIsICIjIFR5cGUgaGVyZSBpbiB0aGUgY2VsbCBlZGl0b3IgdG8gYWRkIGNvZGUhXG4iLCAiZnJvbSB0aW1lIGltcG9ydCBzbGVlcFxuIiwgInNsZWVwKDEwKSJdfV0sICJtZXRhZGF0YSI6IHsiZGVwZW5kZW5jaWV[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5c50671d-2a0b-4493-a3a5-7b4643512c1d
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-22T13:23:56.6658529",
        "lastUpdatedTimeUtc": "2026-04-22T13:23:57.3159489", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5c50671d-2a0b-4493-a3a5-7b4643512c1d/result
      RequestId:
      - 62c3dc23-9aca-4489-a988-81d88a25b4d1
      x-ms-operation-id:
      - 5c50671d-2a0b-4493-a3a5-7b4643512c1d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5c50671d-2a0b-4493-a3a5-7b4643512c1d/result
  response:
    body:
      string: '{"id": "e934b7ab-7723-4e58-a2da-2e413595d62f", "type": "Notebook",
        "displayName": "fabcli000002", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - aa31c8f6-e540-41df-a186-14095fadb017
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/af6d23de-7c8b-43ad-858d-2332c073e7dd/jobs/instances?jobType=Pipeline
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/af6d23de-7c8b-43ad-858d-2332c073e7dd/jobs/instances/ed7efeb0-6d72-449e-86bd-877788e29f67
      RequestId:
      - 2b0bba78-7d72-4bde-a0b4-df47b0068c15
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/af6d23de-7c8b-43ad-858d-2332c073e7dd/jobs/instances/ed7efeb0-6d72-449e-86bd-877788e29f67
  response:
    body:
      string: '{"id": "ed7efeb0-6d72-449e-86bd-877788e29f67", "itemId": "af6d23de-7c8b-43ad-858d-2332c073e7dd",
        "jobType": "Pipeline", "invokeType": "Manual", "status": "NotStarted", "failureReason":
        null, "rootActivityId": "2b0bba78-7d72-4bde-a0b4-df47b0068c15", "startTimeUtc":
        "2026-04-22T13:24:32.45", "endTimeUtc": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 09987839-ad2e-40f7-956f-6dc24fe6499a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/af6d23de-7c8b-43ad-858d-2332c073e7dd
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 94505a51-986d-41c6-aaf1-4369af461e29
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/6f993d39-601b-4303-8768-b965eddb220e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0a94c702-c20d-4c89-8dc0-df638d3ce855
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
