interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "efeaa2e0-49e1-48cb-b22b-6b7edaaf8968",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a1415e2c-7f57-4159-9193-b5cec363b10b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c30d0eb0-7a12-483c-ab4c-2e33ae3f481e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "folderId": null, "displayName": "fabcli000001", "definition":
      {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgI[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0fbc0aaa-127e-463f-9842-bc00f6999ebe
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-27T06:41:59.2059543",
        "lastUpdatedTimeUtc": "2026-04-27T06:42:00.0684507", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0fbc0aaa-127e-463f-9842-bc00f6999ebe/result
      RequestId:
      - 953639b9-5768-4c8f-890a-6efc3a331fbf
      x-ms-operation-id:
      - 0fbc0aaa-127e-463f-9842-bc00f6999ebe
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0fbc0aaa-127e-463f-9842-bc00f6999ebe/result
  response:
    body:
      string: '{"id": "27726768-dbaf-4550-a115-68690e83addd", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "efeaa2e0-49e1-48cb-b22b-6b7edaaf8968"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 3c284551-d34e-4e7e-95a2-fd471fee8053
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/27726768-dbaf-4550-a115-68690e83addd/jobs/instances?jobType=RunNotebook
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/27726768-dbaf-4550-a115-68690e83addd/jobs/instances/8499300d-5c29-49e3-88fc-a70dc5840cf4
      RequestId:
      - c9f37511-aa28-4c76-ade0-ad253b46c096
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/27726768-dbaf-4550-a115-68690e83addd/jobs/instances/8499300d-5c29-49e3-88fc-a70dc5840cf4/cancel
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/27726768-dbaf-4550-a115-68690e83addd/jobs/instances/8499300d-5c29-49e3-88fc-a70dc5840cf4
      RequestId:
      - aa21bccf-b458-4173-afa8-61beddc21b23
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/27726768-dbaf-4550-a115-68690e83addd/jobs/instances/8499300d-5c29-49e3-88fc-a70dc5840cf4
  response:
    body:
      string: '{"id": "8499300d-5c29-49e3-88fc-a70dc5840cf4", "itemId": "27726768-dbaf-4550-a115-68690e83addd",
        "jobType": "RunNotebook", "invokeType": "Manual", "status": "NotStarted",
        "failureReason": null, "rootActivityId": "c9f37511-aa28-4c76-ade0-ad253b46c096",
        "startTimeUtc": "2026-04-27T06:42:22.37", "endTimeUtc": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c90deb27-0ce6-4b50-af39-f91484062db0
      Retry-After:
      - '26'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/27726768-dbaf-4550-a115-68690e83addd
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 065761fc-6c29-48a8-ad8a-245bfb0e44f2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
