interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4aec0924-bc5a-4b1a-a84b-e7863321d437",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b76100af-137b-43d9-a0d9-56f9daf0bb96
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4aec0924-bc5a-4b1a-a84b-e7863321d437/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b883af5a-e56f-45e6-91c7-d938196cf9f5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001", "definition": {"format": "ipynb", "parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgI[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6eaf2f6f-0830-42ba-96b5-b47aa8ba62dd
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T13:12:49.5464615",
        "lastUpdatedTimeUtc": "2026-01-19T13:12:51.2185914", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6eaf2f6f-0830-42ba-96b5-b47aa8ba62dd/result
      RequestId:
      - 8f82b75d-3e63-465e-918d-36132e95517b
      x-ms-operation-id:
      - 6eaf2f6f-0830-42ba-96b5-b47aa8ba62dd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6eaf2f6f-0830-42ba-96b5-b47aa8ba62dd/result
  response:
    body:
      string: '{"id": "b00f9fbc-1f06-48d1-85ce-10945ab9f567", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "4aec0924-bc5a-4b1a-a84b-e7863321d437"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 64a0802d-161c-4951-a1c8-790204cea868
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4aec0924-bc5a-4b1a-a84b-e7863321d437/items/b00f9fbc-1f06-48d1-85ce-10945ab9f567/jobs/instances?jobType=RunNotebook
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/4aec0924-bc5a-4b1a-a84b-e7863321d437/items/b00f9fbc-1f06-48d1-85ce-10945ab9f567/jobs/instances/ec7c1949-ca58-46a4-b009-80764486e211
      RequestId:
      - 034e053b-9fb2-4808-a0e3-c9c3bc5b31bb
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4aec0924-bc5a-4b1a-a84b-e7863321d437/items/b00f9fbc-1f06-48d1-85ce-10945ab9f567/jobs/instances/ec7c1949-ca58-46a4-b009-80764486e211/cancel
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/4aec0924-bc5a-4b1a-a84b-e7863321d437/items/b00f9fbc-1f06-48d1-85ce-10945ab9f567/jobs/instances/ec7c1949-ca58-46a4-b009-80764486e211
      RequestId:
      - 14accdd0-2965-4538-8dda-ffce676dc4cf
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4aec0924-bc5a-4b1a-a84b-e7863321d437/items/b00f9fbc-1f06-48d1-85ce-10945ab9f567
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f99a8afe-fc20-432e-929e-01d3a21017ca
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
