interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "ab04aa79-51eb-45b8-8fa6-c96d985f33e7",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2cac4bfb-b11a-41db-bea5-ffc57249b209
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 91267318-bfba-457f-b09f-8830dd28ce5a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "folderId": null, "displayName": "fabcli000001", "definition": {"format": "ipynb", "parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9", "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload": "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgICAgInN[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/93f2225f-b68f-4f0c-a199-c2416adbf9db
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-22T14:50:50.9902076",
        "lastUpdatedTimeUtc": "2026-04-22T14:50:53.1595835", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/93f2225f-b68f-4f0c-a199-c2416adbf9db/result
      RequestId:
      - c1f7d0e3-4f25-4664-a0aa-8eb4e10c9779
      x-ms-operation-id:
      - 93f2225f-b68f-4f0c-a199-c2416adbf9db
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/93f2225f-b68f-4f0c-a199-c2416adbf9db/result
  response:
    body:
      string: '{"id": "ecbc6807-4832-45e8-8d22-d5ed9d75c96a", "type": "Notebook",
        "displayName": "fabcli000001", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 57e3c4f5-7d6c-4dc1-a5fe-97f108307b08
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/70781b80-f941-4b14-a610-54694f94e082/jobs/instances?jobType=RunNotebook
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/70781b80-f941-4b14-a610-54694f94e082/jobs/instances/3d30117b-b749-4aac-8608-6ab7ad4a8f80
      RequestId:
      - b9e1d1b2-90f1-4820-9c26-f7dcf90c6ed2
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/70781b80-f941-4b14-a610-54694f94e082/jobs/instances/3d30117b-b749-4aac-8608-6ab7ad4a8f80/cancel
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/70781b80-f941-4b14-a610-54694f94e082/jobs/instances/3d30117b-b749-4aac-8608-6ab7ad4a8f80
      RequestId:
      - 6143ae35-2e7c-4b82-86b2-4e8c0eae955e
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/70781b80-f941-4b14-a610-54694f94e082/jobs/instances/3d30117b-b749-4aac-8608-6ab7ad4a8f80
  response:
    body:
      string: '{"id": "3d30117b-b749-4aac-8608-6ab7ad4a8f80", "itemId": "70781b80-f941-4b14-a610-54694f94e082",
        "jobType": "RunNotebook", "invokeType": "Manual", "status": "InProgress",
        "failureReason": null, "rootActivityId": "b9e1d1b2-90f1-4820-9c26-f7dcf90c6ed2",
        "startTimeUtc": "2026-04-22T14:51:20.3884864", "endTimeUtc": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1bb8bba2-6f17-425c-9cef-ccad23f60546
      Retry-After:
      - '58'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/70781b80-f941-4b14-a610-54694f94e082
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 103bfb69-7800-4e60-a907-3ee26a906205
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
