interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "ab04aa79-51eb-45b8-8fa6-c96d985f33e7",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 006d22d9-8748-4744-a360-bff931d5665a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4b67f910-1335-4518-a0d9-0ababe1999ad
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/lakehouses
  response:
    body:
      string: '{"id": "edb5de48-407a-46ee-a5d6-8ca4e5ff5b7d", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9fde12f9-6f75-4239-8d9e-aa574a69cb2e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000002", "definition": {"format": "ipynb", "parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "eyJjZWxscyI6IFt7ImNlbGxfdHlwZSI6ICJjb2RlIiwgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsICJtZXRhZGF0YSI6IHsibWljcm9zb2Z0IjogeyJsYW5ndWFnZSI6ICJweXRob24iLCAibGFuZ3VhZ2VfZ3JvdXAiOiAic3luYXBzZV9weXNwYXJrIn19LCAib3V0cHV0cyI6IFtdLCAic291cmNlIjogWyIjIFdlbGNvbWUgdG8geW91ciBuZXcgbm90ZWJvb2tcbiIsICIjIFR5cGUgaGVyZSBpbiB0aGUgY2VsbCBlZGl0b3IgdG8gYWRkIGNvZGUhXG4iLCAiZnJvbSB0aW1lIGltcG9ydCBzbGVlcFxuIiwgInNsZWVwKDEwKSJdfV0sICJtZXRhZGF0YSI6IHsiZGVwZW5kZ[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/20ed7c95-50a4-458b-8b8f-89453536ecef
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-07T15:07:10.0000199",
        "lastUpdatedTimeUtc": "2025-09-07T15:07:11.4539582", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/20ed7c95-50a4-458b-8b8f-89453536ecef/result
      RequestId:
      - ea6707eb-4ea5-48c2-959f-0139214bf0e4
      x-ms-operation-id:
      - 20ed7c95-50a4-458b-8b8f-89453536ecef
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/20ed7c95-50a4-458b-8b8f-89453536ecef/result
  response:
    body:
      string: '{"id": "baf46589-4e64-4039-88f0-252bb740f733", "type": "Notebook",
        "displayName": "fabcli000002", "description": "Imported from fab", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 90175273-d913-4c25-be13-40140f0d1c10
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"executionData": {"parameters": {"string_param": {"type": "string", "value":
      "new_value"}, "int_param": {"type": "int", "value": 10}, "float_param": {"type":
      "float", "value": 0.1234}, "bool_param": {"type": "bool", "value": true}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/baf46589-4e64-4039-88f0-252bb740f733/jobs/instances?jobType=RunNotebook
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/baf46589-4e64-4039-88f0-252bb740f733/jobs/instances/d2ebbcd0-b237-4185-a42d-7cb9ae43fe1f
      RequestId:
      - b6696510-05fe-45c1-8896-93f9c1a6494c
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/baf46589-4e64-4039-88f0-252bb740f733/jobs/instances/d2ebbcd0-b237-4185-a42d-7cb9ae43fe1f
  response:
    body:
      string: '{"id": "d2ebbcd0-b237-4185-a42d-7cb9ae43fe1f", "itemId": "baf46589-4e64-4039-88f0-252bb740f733",
        "jobType": "RunNotebook", "invokeType": "Manual", "status": "Completed", "failureReason":
        null, "rootActivityId": "b6696510-05fe-45c1-8896-93f9c1a6494c", "startTimeUtc":
        "2025-09-07T15:07:33.0974778", "endTimeUtc": "2025-09-07T15:08:04.6560303"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 91d0a81e-598d-46c9-aea7-47c94d2e140d
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"executionData": {"parameters": {"string_param": "new_value", "int_param":
      10, "float_param": 0.1234, "bool_param": true, "obj_param": {"key": "value"},
      "array_param": [1, 2, 3], "secstr_param": "secret"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/505f50f9-09f7-4795-9bc5-35986931c78a/jobs/instances?jobType=Pipeline
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/505f50f9-09f7-4795-9bc5-35986931c78a/jobs/instances/444becfb-63ae-448d-a400-b2bcfa155bb5
      RequestId:
      - e3f0205b-7351-45fe-9571-16fee8b9d743
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/505f50f9-09f7-4795-9bc5-35986931c78a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 593204f8-041c-4cf1-b317-bc2ce5e3a8d2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/edb5de48-407a-46ee-a5d6-8ca4e5ff5b7d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2bbd4635-e423-4c98-a4bc-0c6fb88c936f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
