interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "f571f780-ed4c-40cf-8c5f-4442d586867c",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a30b6d8b-1e62-42c9-83c1-c2cd848432c8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a8fc4925-3076-432d-9d47-f9eda175f625
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001", "definition": {"parts": [{"path": ".platform",
      "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgI[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9d7e45d3-6103-4e60-a59c-9fe5989c28f3
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-22T13:15:38.2814554",
        "lastUpdatedTimeUtc": "2026-04-22T13:15:39.1615307", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9d7e45d3-6103-4e60-a59c-9fe5989c28f3/result
      RequestId:
      - 4f247204-5690-4b9e-87f4-768325d24353
      x-ms-operation-id:
      - 9d7e45d3-6103-4e60-a59c-9fe5989c28f3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9d7e45d3-6103-4e60-a59c-9fe5989c28f3/result
  response:
    body:
      string: '{"id": "15acaa17-3cc5-4b02-8b50-03e7d0dbd3ec", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "f571f780-ed4c-40cf-8c5f-4442d586867c"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 6dd7c8b4-63f5-4932-984f-f7d6227b1b98
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/15acaa17-3cc5-4b02-8b50-03e7d0dbd3ec/jobs/instances?jobType=RunNotebook
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/15acaa17-3cc5-4b02-8b50-03e7d0dbd3ec/jobs/instances/40d88388-0ec6-465c-9958-3b2b51be2372
      RequestId:
      - 696b286b-7e6d-4810-aff8-a6b89e382b6b
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/15acaa17-3cc5-4b02-8b50-03e7d0dbd3ec/jobs/instances/40d88388-0ec6-465c-9958-3b2b51be2372/cancel
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/15acaa17-3cc5-4b02-8b50-03e7d0dbd3ec/jobs/instances/40d88388-0ec6-465c-9958-3b2b51be2372
      RequestId:
      - 0e616f8a-98a6-4f95-814f-3439b7b02f33
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/15acaa17-3cc5-4b02-8b50-03e7d0dbd3ec/jobs/instances/40d88388-0ec6-465c-9958-3b2b51be2372
  response:
    body:
      string: '{"id": "40d88388-0ec6-465c-9958-3b2b51be2372", "itemId": "15acaa17-3cc5-4b02-8b50-03e7d0dbd3ec",
        "jobType": "RunNotebook", "invokeType": "Manual", "status": "NotStarted",
        "failureReason": null, "rootActivityId": "696b286b-7e6d-4810-aff8-a6b89e382b6b",
        "startTimeUtc": "2026-04-22T13:16:03.4933333", "endTimeUtc": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - be0e605c-4bb7-4e3e-a881-ba48650f121f
      Retry-After:
      - '27'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/15acaa17-3cc5-4b02-8b50-03e7d0dbd3ec
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4552154e-cfc8-4a53-8564-847c45a2b645
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
