interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "a083d3fa-d4fa-42fe-863e-751937379795", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1663ec03-530f-472c-822c-035988cd61da
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 74fea05f-69a5-4a79-8d37-e02a8ee52806
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "SparkJobDefinition", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001", "definition": {"format": "SparkJobDefinitionV1",
      "parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiU3BhcmtKb2JEZWZpbml0aW9uIiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiUGFyYW1fVGVzdF9TcGFya0pvYiIsCiAgICAgICAgImRlc2NyaXB0aW9uIjogIlNwYXJrIGpvYiBkZWZpbml0aW9uIgogICAgfSwKICAgICJjb25maWciOiB7CiAgICAgICAgInZlcnNpb24iOiAiMi4wIiwKICAgICAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICAgIH0KfQ==",
      "payloadType": "InlineBase64"}, {"path": "SparkJobDefinitionV1.json", "payload":
      "ewogICAgImV4ZWN1dGFibGVGaWxlIjogIiIsCiAgICAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiAiIiwKICAgICJtYWluQ2xhc3MiOiAiIiwKICAgICJhZGRpdGlvbmFsTGFrZWhvdXNlSWRzIjogW10sCiAgICAicmV0cnlQb2xpY3kiOiBudWxsLAogICAgImNvbW1hbmRMaW5lQXJndW1lbnRzIjogIiIsCiAgICAiYWRkaXRpb25hbExpYnJhcnlVcmlzIjogW10sCiAgICAibGFuZ3VhZ2UiOiAiUHl0aG9uIiwKICAgICJlbnZpcm9ubWVudEFydGlmYWN0SWQiOiBudWxsCn0=",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items
  response:
    body:
      string: '{"id": "c58f0ecc-d086-4941-9e1b-1dd81c2ebc27", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "a083d3fa-d4fa-42fe-863e-751937379795"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 15e09899-2c08-4c7f-80d5-1ce52dd05691
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"enabled": true, "configuration": {"type": "Cron", "startDateTime": "2024-01-23T00:00:00",
      "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId": "Central Standard Time",
      "interval": 10}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items/c58f0ecc-d086-4941-9e1b-1dd81c2ebc27/jobs/sparkjob/schedules
  response:
    body:
      string: '{"id": "45ef7d18-a2fb-4c91-9dbf-6bbc3173a0a3", "enabled": true, "createdDateTime":
        "2025-11-11T19:12:47.12", "configuration": {"type": "Cron", "startDateTime":
        "2024-01-23T00:00:00", "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId":
        "Central Standard Time", "interval": 10}, "owner": {"id": "2ed4a6b4-687e-466d-a03f-1bca2e5754d4",
        "type": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items/c58f0ecc-d086-4941-9e1b-1dd81c2ebc27/jobs/sparkjob/schedules/45ef7d18-a2fb-4c91-9dbf-6bbc3173a0a3
      RequestId:
      - cbc9319e-7d91-4176-8f9c-fbb80d0ae5ea
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items/c58f0ecc-d086-4941-9e1b-1dd81c2ebc27/jobs/sparkjob/schedules/45ef7d18-a2fb-4c91-9dbf-6bbc3173a0a3
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e5ec2c3a-f4ce-4d55-af6a-8af4bcd5059c
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items/c58f0ecc-d086-4941-9e1b-1dd81c2ebc27
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 80802a90-8b0a-4236-80f1-ba59ce63fb41
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
