interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "efeaa2e0-49e1-48cb-b22b-6b7edaaf8968",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dec0ead0-7315-4fd5-9b57-8847c1549d47
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 427c5f98-fe23-4018-b462-0bb41baa4448
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "folderId": null, "displayName": "fabcli000001", "definition":
      {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgI[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4e3477d5-b604-4c04-8044-e9196d89f494
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-27T06:45:55.8911279",
        "lastUpdatedTimeUtc": "2026-04-27T06:45:57.2606208", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4e3477d5-b604-4c04-8044-e9196d89f494/result
      RequestId:
      - 9814db88-a2de-48ae-9f6f-b51f25bcbf25
      x-ms-operation-id:
      - 4e3477d5-b604-4c04-8044-e9196d89f494
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4e3477d5-b604-4c04-8044-e9196d89f494/result
  response:
    body:
      string: '{"id": "f09b3ecd-de61-443d-b01d-328a05ac9879", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "efeaa2e0-49e1-48cb-b22b-6b7edaaf8968"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 1431878a-c4a9-4cff-98e8-04e986d5cfea
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"enabled": true, "configuration": {"type": "Cron", "startDateTime": "2024-04-28T00:00:00",
      "endDateTime": "2024-04-30T23:59:00", "localTimeZoneId": "Central Standard Time",
      "interval": 10}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/f09b3ecd-de61-443d-b01d-328a05ac9879/jobs/RunNotebook/schedules
  response:
    body:
      string: '{"id": "a2a8fc80-572d-4864-9c5f-4246899558b9", "enabled": true, "createdDateTime":
        "2026-04-27T06:46:19.16", "configuration": {"type": "Cron", "startDateTime":
        "2024-04-28T00:00:00", "endDateTime": "2024-04-30T23:59:00", "localTimeZoneId":
        "Central Standard Time", "interval": 10}, "owner": {"id": "00000000-0000-0000-0000-000000000001",
        "type": "User"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/f09b3ecd-de61-443d-b01d-328a05ac9879/jobs/RunNotebook/schedules/a2a8fc80-572d-4864-9c5f-4246899558b9
      RequestId:
      - e78616da-116c-479f-a946-4f0b2b382047
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/efeaa2e0-49e1-48cb-b22b-6b7edaaf8968/items/f09b3ecd-de61-443d-b01d-328a05ac9879
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e854e637-9c80-4238-baf6-79782db5bb1c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
