interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "ab04aa79-51eb-45b8-8fa6-c96d985f33e7",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e166a735-44f8-41cb-bb07-34a544874e26
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0b248802-1b0c-4da3-9fda-46f244b6e012
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001", "definition": {"format": "ipynb", "parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgI[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/bafdffdf-0a3c-454c-ad05-e1df7057ef6e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-07T15:00:47.8545689",
        "lastUpdatedTimeUtc": "2025-09-07T15:00:49.5577381", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/bafdffdf-0a3c-454c-ad05-e1df7057ef6e/result
      RequestId:
      - 80d480ae-b4b4-4485-84c4-cfd14b7a6f51
      x-ms-operation-id:
      - bafdffdf-0a3c-454c-ad05-e1df7057ef6e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/bafdffdf-0a3c-454c-ad05-e1df7057ef6e/result
  response:
    body:
      string: '{"id": "b40c1620-51b5-4ba7-9d5d-bc2574f42bd0", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 7f3ee4d5-c457-45bd-afed-60dc50d76688
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"enabled": true, "configuration": {"type": "Cron", "startDateTime": "2024-04-28T00:00:00",
      "endDateTime": "2024-04-30T23:59:00", "localTimeZoneId": "Central Standard Time",
      "interval": 10}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/b40c1620-51b5-4ba7-9d5d-bc2574f42bd0/jobs/RunNotebook/schedules
  response:
    body:
      string: '{"id": "3e6f1c56-d263-4a7e-9db4-3f0b58467420", "enabled": true, "createdDateTime":
        "2025-09-07T15:01:09.45", "configuration": {"type": "Cron", "startDateTime":
        "2024-04-28T00:00:00", "endDateTime": "2024-04-30T23:59:00", "localTimeZoneId":
        "Central Standard Time", "interval": 10}, "owner": {"id": "00000000-0000-0000-0000-000000000001",
        "type": "User"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/b40c1620-51b5-4ba7-9d5d-bc2574f42bd0/jobs/RunNotebook/schedules/3e6f1c56-d263-4a7e-9db4-3f0b58467420
      RequestId:
      - 694dbc5b-ec91-478e-9fd3-dde120ea8051
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/b40c1620-51b5-4ba7-9d5d-bc2574f42bd0/jobs/RunNotebook/schedules/3e6f1c56-d263-4a7e-9db4-3f0b58467420
  response:
    body:
      string: '{"id": "3e6f1c56-d263-4a7e-9db4-3f0b58467420", "enabled": true, "createdDateTime":
        "2025-09-07T15:01:09.45", "configuration": {"type": "Cron", "startDateTime":
        "2024-04-28T00:00:00", "endDateTime": "2024-04-30T23:59:00", "localTimeZoneId":
        "Central Standard Time", "interval": 10}, "owner": {"id": "00000000-0000-0000-0000-000000000001",
        "type": "User"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f38f13bd-b641-4f07-a3d4-a3641fe943a2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"configuration": {"type": "Weekly", "times": ["19:43", "22:00"], "weekdays":
      ["Monday", "Tuesday"], "startDateTime": "2024-12-15T09:00:00", "endDateTime":
      "2024-12-16T09:00:00", "localTimeZoneId": "UTC"}, "enabled": true}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/b40c1620-51b5-4ba7-9d5d-bc2574f42bd0/jobs/RunNotebook/schedules/3e6f1c56-d263-4a7e-9db4-3f0b58467420
  response:
    body:
      string: '{"id": "3e6f1c56-d263-4a7e-9db4-3f0b58467420", "enabled": true, "createdDateTime":
        "2025-09-07T15:01:09.45", "configuration": {"type": "Weekly", "startDateTime":
        "2024-12-15T09:00:00", "endDateTime": "2024-12-16T09:00:00", "localTimeZoneId":
        "UTC", "times": ["19:43", "22:00"], "weekdays": ["Monday", "Tuesday"]}, "owner":
        {"id": "00000000-0000-0000-0000-000000000001", "type": "User"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 386df8a3-0771-43fb-b3a4-289c62e379f6
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/b40c1620-51b5-4ba7-9d5d-bc2574f42bd0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1f193ea6-2e7c-496a-8169-aa907c9c8bae
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
