interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e7dbc608-206d-4d52-a03a-d25bc1e4c0ba",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6e96a34f-04db-4e1c-8ac9-f1117f6c62f5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e7dbc608-206d-4d52-a03a-d25bc1e4c0ba/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 815b91f0-09b6-4809-b8e6-260f1867fda8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001", "definition": {"format": "ipynb", "parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlX2ZhaWxlZCIsCiAgICAgICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIC0gZGVzaWduZWQgdG8gZmFpbCBmb3IgdGVzdGluZyIKICAgIH0sCiAgICAiY29uZmlnIjogewogICAgICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAgICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgICB9Cn0=",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgI[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bb3cd5eb-0cfa-4b37-b4a8-9fd29f728a64
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-18T12:01:16.04544",
        "lastUpdatedTimeUtc": "2026-01-18T12:01:17.8115532", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bb3cd5eb-0cfa-4b37-b4a8-9fd29f728a64/result
      RequestId:
      - 14e34eaf-05e5-455e-98f0-e0549271e83f
      x-ms-operation-id:
      - bb3cd5eb-0cfa-4b37-b4a8-9fd29f728a64
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bb3cd5eb-0cfa-4b37-b4a8-9fd29f728a64/result
  response:
    body:
      string: '{"id": "b38a1be9-9560-46df-9633-0846e4e9a38d", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "e7dbc608-206d-4d52-a03a-d25bc1e4c0ba"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - db9903e4-21c2-4231-ae8e-33916207ace6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e7dbc608-206d-4d52-a03a-d25bc1e4c0ba/items/b38a1be9-9560-46df-9633-0846e4e9a38d/jobs/instances?jobType=RunNotebook
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/e7dbc608-206d-4d52-a03a-d25bc1e4c0ba/items/b38a1be9-9560-46df-9633-0846e4e9a38d/jobs/instances/7aa1cd3f-0e6a-47d1-be63-0bdf90dd3add
      RequestId:
      - d0ddb980-ea3e-4bf1-a3ce-bbac11095a38
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e7dbc608-206d-4d52-a03a-d25bc1e4c0ba/items/b38a1be9-9560-46df-9633-0846e4e9a38d/jobs/instances/7aa1cd3f-0e6a-47d1-be63-0bdf90dd3add
  response:
    body:
      string: '{"id": "7aa1cd3f-0e6a-47d1-be63-0bdf90dd3add", "itemId": "b38a1be9-9560-46df-9633-0846e4e9a38d",
        "jobType": "RunNotebook", "invokeType": "Manual", "status": "Failed", "failureReason":
        {"requestId": "83bb6112-4d68-40b6-81dc-3e049643e042", "errorCode": "JobInstanceStatusFailed",
        "message": "Job instance failed without detail error"}, "rootActivityId":
        "d0ddb980-ea3e-4bf1-a3ce-bbac11095a38", "startTimeUtc": "2026-01-18T12:01:52.1078383",
        "endTimeUtc": "2026-01-18T12:02:16.9160633"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 83bb6112-4d68-40b6-81dc-3e049643e042
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e7dbc608-206d-4d52-a03a-d25bc1e4c0ba/items/b38a1be9-9560-46df-9633-0846e4e9a38d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4772a894-f0aa-40a3-8475-9f8389810e21
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
