interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "ab04aa79-51eb-45b8-8fa6-c96d985f33e7",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a29ddd67-661d-4054-8f29-fef6df9e0a11
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b03dffbb-fe5c-4144-9d51-cf2d4335d405
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/lakehouses
  response:
    body:
      string: '{"id": "aca69357-e8a5-4341-bcf5-0b671e3aead5", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 1bafd864-2e30-4879-ba90-c751128b3fae
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000002", "definition": {"format": "ipynb", "parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "eyJjZWxscyI6IFt7ImNlbGxfdHlwZSI6ICJjb2RlIiwgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsICJtZXRhZGF0YSI6IHsibWljcm9zb2Z0IjogeyJsYW5ndWFnZSI6ICJweXRob24iLCAibGFuZ3VhZ2VfZ3JvdXAiOiAic3luYXBzZV9weXNwYXJrIn19LCAib3V0cHV0cyI6IFtdLCAic291cmNlIjogWyIjIFdlbGNvbWUgdG8geW91ciBuZXcgbm90ZWJvb2tcbiIsICIjIFR5cGUgaGVyZSBpbiB0aGUgY2VsbCBlZGl0b3IgdG8gYWRkIGNvZGUhXG4iLCAiZnJvbSB0aW1lIGltcG9ydCBzbGVlcFxuIiwgInNsZWVwKDEwKSJdfV0sICJtZXRhZGF0YSI6IHsiZGVwZW5kZ[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/fa1d4ac9-4bb7-448f-b3c3-634d33b86ab3
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-07T15:04:37.0132524",
        "lastUpdatedTimeUtc": "2025-09-07T15:04:38.0914463", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/fa1d4ac9-4bb7-448f-b3c3-634d33b86ab3/result
      RequestId:
      - b3da4bf2-4956-4de8-abfd-9e3ce01b8ab1
      x-ms-operation-id:
      - fa1d4ac9-4bb7-448f-b3c3-634d33b86ab3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/fa1d4ac9-4bb7-448f-b3c3-634d33b86ab3/result
  response:
    body:
      string: '{"id": "e934b7ab-7723-4e58-a2da-2e413595d62f", "type": "Notebook",
        "displayName": "fabcli000002", "description": "Imported from fab", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 0fa3ce3c-0f7f-4862-9d35-4f8aa11f2c7c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/f75d2bbd-ea23-412a-bf99-34105b66b255/jobs/instances?jobType=Pipeline
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/f75d2bbd-ea23-412a-bf99-34105b66b255/jobs/instances/13cf611d-61e4-4558-9816-9a1bcbd70403
      RequestId:
      - d370452c-08c7-426a-b98c-d7e66027ea14
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/f75d2bbd-ea23-412a-bf99-34105b66b255/jobs/instances/13cf611d-61e4-4558-9816-9a1bcbd70403
  response:
    body:
      string: '{"id": "13cf611d-61e4-4558-9816-9a1bcbd70403", "itemId": "f75d2bbd-ea23-412a-bf99-34105b66b255",
        "jobType": "Pipeline", "invokeType": "Manual", "status": "InProgress", "failureReason":
        null, "rootActivityId": "d370452c-08c7-426a-b98c-d7e66027ea14", "startTimeUtc":
        "2025-09-07T15:05:07.3536972", "endTimeUtc": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cf4b1a94-f0d9-4ca8-8375-81c8a4645968
      Retry-After:
      - '54'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/f75d2bbd-ea23-412a-bf99-34105b66b255
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 438fc5fc-981d-47ba-a93b-175a1b59269d
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/aca69357-e8a5-4341-bcf5-0b671e3aead5
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 666771c8-19c0-4aeb-b08c-3041bdeea371
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
