interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "ab04aa79-51eb-45b8-8fa6-c96d985f33e7",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1f9a3f43-55a8-48f8-a858-8d2e5538d1aa
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ef963695-9a55-4651-9093-7365ab7255e3
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "SparkJobDefinition", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001", "definition": {"format": "SparkJobDefinitionV1",
      "parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiU3BhcmtKb2JEZWZpbml0aW9uIiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiUGFyYW1fVGVzdF9TcGFya0pvYiIsCiAgICAgICAgImRlc2NyaXB0aW9uIjogIlNwYXJrIGpvYiBkZWZpbml0aW9uIgogICAgfSwKICAgICJjb25maWciOiB7CiAgICAgICAgInZlcnNpb24iOiAiMi4wIiwKICAgICAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICAgIH0KfQ==",
      "payloadType": "InlineBase64"}, {"path": "SparkJobDefinitionV1.json", "payload":
      "ewogICAgImV4ZWN1dGFibGVGaWxlIjogIiIsCiAgICAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiAiIiwKICAgICJtYWluQ2xhc3MiOiAiIiwKICAgICJhZGRpdGlvbmFsTGFrZWhvdXNlSWRzIjogW10sCiAgICAicmV0cnlQb2xpY3kiOiBudWxsLAogICAgImNvbW1hbmRMaW5lQXJndW1lbnRzIjogIiIsCiAgICAiYWRkaXRpb25hbExpYnJhcnlVcmlzIjogW10sCiAgICAibGFuZ3VhZ2UiOiAiUHl0aG9uIiwKICAgICJlbnZpcm9ubWVudEFydGlmYWN0SWQiOiBudWxsCn0=",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items
  response:
    body:
      string: '{"id": "d90a2d5f-1b3d-4645-831a-d8c66446a389", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d4cd9386-84ba-4b22-a333-3fdc452c1ea1
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/lakehouses
  response:
    body:
      string: '{"id": "d788fdbe-3330-488f-aeb2-44daf0964697", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 82bbd43d-038f-45de-a1cb-8ee96e0c8372
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/sparkJobDefinitions/d90a2d5f-1b3d-4645-831a-d8c66446a389
  response:
    body:
      string: '{"id": "d90a2d5f-1b3d-4645-831a-d8c66446a389", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7", "properties": {"oneLakeRootPath":
        "https://onelake.dfs.fabric.microsoft.com/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/d90a2d5f-1b3d-4645-831a-d8c66446a389"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b50c4a4f-369d-43ec-b2ef-c2c6e9dd2ee4
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/d90a2d5f-1b3d-4645-831a-d8c66446a389/getDefinition?format=SparkJobDefinitionV1
  response:
    body:
      string: '{"definition": {"parts": [{"path": "SparkJobDefinitionV1.json", "payload":
        "ew0KICAiZXhlY3V0YWJsZUZpbGUiOiAiIiwNCiAgImRlZmF1bHRMYWtlaG91c2VBcnRpZmFjdElkIjogbnVsbCwNCiAgIm1haW5D[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/d90a2d5f-1b3d-4645-831a-d8c66446a389/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 149d7bec-4ab4-408d-9690-17c77acf6dbb
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/d90a2d5f-1b3d-4645-831a-d8c66446a389/jobs/sparkjob/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 94b45c5b-95f7-4668-af91-624f7a797111
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "description": "Imported from fab"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/d90a2d5f-1b3d-4645-831a-d8c66446a389
  response:
    body:
      string: '{"id": "d90a2d5f-1b3d-4645-831a-d8c66446a389", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 94a08491-c60f-4c2c-8ac1-8bff40481437
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"parts": [{"path": "SparkJobDefinitionV1.json", "payload":
      "eyJleGVjdXRhYmxlRmlsZSI6ICIiLCAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiAiZDc4OGZkYmUtMzMzMC00ODhmLWFlYjItNDRkYWYwOTY0Njk3IiwgIm1haW5DbGFzcyI6ICIiLCAiYWRkaXRpb25hbExha2Vob3VzZUlkcyI6IFtdLCAicmV0cnlQb2xpY3kiOiBudWxsLCAiY29tbWFuZExpbmVBcmd1bWVudHMiOiAiIiwgImFkZGl0aW9uYWxMaWJyYXJ5VXJpcyI6IFtdLCAibGFuZ3VhZ2UiOiAiUHl0aG9uIiwgImVudmlyb25tZW50QXJ0aWZhY3RJZCI6IG51bGx9",
      "payloadType": "InlineBase6[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/d90a2d5f-1b3d-4645-831a-d8c66446a389/Main/spark_job_simple.py/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DDEE1F8AD14F10"'
      Last-Modified:
      - Sun, 07 Sep 2025 15:02:19 GMT
    status:
      code: 201
      message: Created
- request:
    body: "# Copyright (c) Microsoft Corporation.\n# Licensed under the MIT License.\n\nimport
      sys\n\n# import Constant\nfrom pyspark.sql import Row, SparkSession\n\n\ndef
      create_dataframe_from_params(spark, params):\n    # Create a Row object with
      the parameters\n    row = Row(**params)\n\n    # Create a DataFrame from the
      Row object\n    df = spark.createDataFrame([row])\n\n    return df\n\n\nif __name__
      == \"__main__\":\n\n    spark = SparkSession.builder.appName(\"SampleSparkJob\").getOrCreate()\n
      \   spark_context = spark.sparkContext\n    spark_context.setLogLevel(\"DEBUG\")\n\n
      \   print(\"spark.synapse.pool.name : \" + spark.conf.get(\"spark.synapse.pool.name\"))\n
      \   print()\n    print(f\"sys.argv : \" + str(sys.argv))\n    print(\"spark.driver.cores
      : \" + spark.conf.get(\"spark.driver.cores\"))\n    print(\"spark.driver.memory
      : \" + spark.conf.get(\"spark.driver.memory\"))\n    print(\"spark.executor.cores
      : \" + spark.conf.get(\"spark.executor.cores\"))\n    print(\"spark.executor.memory
      : \" + spark.conf.get(\"spark.executor.memory\"))\n    print(\"spark.executor.instances:
      \" + spark.conf.get(\"spark.executor.instances\"))\n    print()\n    print(\n
      \       \"spark.dynamicAllocation.enabled : \"\n        + spark.conf.get(\"spark.dynamicAllocation.enabled\")\n
      \   )\n    print(\n        \"spark.dynamicAllocation.maxExecutors : \"\n        +
      spark.conf.get(\"spark.dynamicAllocation.maxExecutors\")\n    )\n    print(\n
      \       \"spark.dynamicAllocation.minExecutors : \"\n        + spark.conf.get(\"spark.dynamicAllocation.minExecutors\")\n
      \   )\n\n    params = {\"param1\": \"value1\", \"param2\": \"value2\"}\n    df
      = create_dataframe_from_params(spark, params)\n    df.show()\n\n    deltaTablePath
      = \"Tables/ParamsTable\"\n    df.write.option(\"overwriteSchema\", \"true\").mode(\"overwrite\").format(\"delta\").save(\n
      \       deltaTablePath\n    )\n"
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/d90a2d5f-1b3d-4645-831a-d8c66446a389/Main/spark_job_simple.py?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/d90a2d5f-1b3d-4645-831a-d8c66446a389/Main/spark_job_simple.py?action=flush&position=1758
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DDEE1F8B7D8EEC"'
      Last-Modified:
      - Sun, 07 Sep 2025 15:02:20 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/d90a2d5f-1b3d-4645-831a-d8c66446a389/jobs/instances?jobType=sparkjob
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/d90a2d5f-1b3d-4645-831a-d8c66446a389/jobs/instances/2fbaef07-1a33-4683-bb3f-37ab2a5564c1
      RequestId:
      - d54c496a-a787-40d6-b934-4565010056b8
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/d90a2d5f-1b3d-4645-831a-d8c66446a389/jobs/instances/2fbaef07-1a33-4683-bb3f-37ab2a5564c1
  response:
    body:
      string: '{"id": "2fbaef07-1a33-4683-bb3f-37ab2a5564c1", "itemId": "d90a2d5f-1b3d-4645-831a-d8c66446a389",
        "jobType": "sparkjob", "invokeType": "Manual", "status": "InProgress", "failureReason":
        null, "rootActivityId": "d54c496a-a787-40d6-b934-4565010056b8", "startTimeUtc":
        "2025-09-07T15:02:25.516309", "endTimeUtc": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 460e47ea-de46-464e-b040-47bfe2194878
      Retry-After:
      - '36'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/d90a2d5f-1b3d-4645-831a-d8c66446a389
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b6a7fcef-fc19-4321-94b1-ea13747bafa3
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
