interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "ab04aa79-51eb-45b8-8fa6-c96d985f33e7",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bd681166-764e-4c10-b79c-105a91c248bc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b982eeae-a57a-4b3c-a88a-14eaaf3a70b5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "SparkJobDefinition", "folderId": null, "displayName": "fabcli000001", "definition": {"format": "SparkJobDefinitionV1", "parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiU3BhcmtKb2JEZWZpbml0aW9uIiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiUGFyYW1fVGVzdF9TcGFya0pvYiIsCiAgICAgICAgImRlc2NyaXB0aW9uIjogIlNwYXJrIGpvYiBkZWZpbml0aW9uIgogICAgfSwKICAgICJjb25maWciOiB7CiAgICAgICAgInZlcnNpb24iOiAiMi4wIiwKICAgICAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICAgIH0KfQ==", "payloadType": "InlineBase64"}, {"path": "SparkJobDefinitionV1.json", "payload": "ewogICAgImV4ZWN1dGFibGVGaWxlIjogIiIsCiAgICAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiAiIiwKICAgICJtYWluQ2xhc3MiOiAiIiwKICAgICJhZGRpdGlvbmFsTGFrZWhvdXNlSWRzIjogW10sCiAgICAicmV0cnlQb2xpY3kiOiBudWxsLAogICAgImNvbW1hbmRMaW5lQXJndW1lbnRzIjogIiIsCiAgICAiYWRkaXRpb25hbExpYnJhcnlVcmlzIjogW10sCiAgICAibGFuZ3VhZ2UiOiAiUHl0aG9uIiwKICAgICJlbnZpcm9ubWVudEFydGlmYWN0SWQiOiBudWxsCn0=", "payloadType": "InlineBase64"}]}}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items
  response:
    body:
      string: '{"id": "d90a2d5f-1b3d-4645-831a-d8c66446a389", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 1ac0047a-5fd5-4f79-8fb8-2c264d5f9574
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "Lakehouse", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/lakehouses
  response:
    body:
      string: '{"id": "d788fdbe-3330-488f-aeb2-44daf0964697", "type": "Lakehouse",
        "displayName": "fabcli000002", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e2b3e196-af0a-4036-b120-490c2ddd638c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/sparkJobDefinitions/d90a2d5f-1b3d-4645-831a-d8c66446a389
  response:
    body:
      string: '{"id": "d90a2d5f-1b3d-4645-831a-d8c66446a389", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7", "properties": {"oneLakeRootPath":
        "https://onelake.dfs.fabric.microsoft.com/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/d90a2d5f-1b3d-4645-831a-d8c66446a389"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b50c4a4f-369d-43ec-b2ef-c2c6e9dd2ee4
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/50402216-307f-4c89-8f02-5451929b2c7e/getDefinition?format=SparkJobDefinitionV1
  response:
    body:
      string: '{"definition": {"parts": [{"path": "SparkJobDefinitionV1.json", "payload":
        "ew0KICAiZXhlY3V0YWJsZUZpbGUiOiAiIiwNCiAgImRlZmF1bHRMYWtlaG91c2VBcnRpZmFjdElkIjogbnVsbCwNCiAgIm1haW5D[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/d90a2d5f-1b3d-4645-831a-d8c66446a389/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 149d7bec-4ab4-408d-9690-17c77acf6dbb
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/d90a2d5f-1b3d-4645-831a-d8c66446a389/jobs/sparkjob/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 94b45c5b-95f7-4668-af91-624f7a797111
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/d90a2d5f-1b3d-4645-831a-d8c66446a389
  response:
    body:
      string: '{"id": "d90a2d5f-1b3d-4645-831a-d8c66446a389", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 94a08491-c60f-4c2c-8ac1-8bff40481437
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"parts": [{"path": "SparkJobDefinitionV1.json", "payload":
      "eyJleGVjdXRhYmxlRmlsZSI6ICIiLCAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiAiMTljNzliOTMtZjhjNy00MWI1LWEzNzItOGZiMTM4NTU4MmEwIiwgIm1haW5DbGFzcyI6ICIiLCAiYWRkaXRpb25hbExha2Vob3VzZUlkcyI6IFtdLCAicmV0cnlQb2xpY3kiOiBudWxsLCAiY29tbWFuZExpbmVBcmd1bWVudHMiOiAiIiwgImFkZGl0aW9uYWxMaWJyYXJ5VXJpcyI6IFtdLCAibGFuZ3VhZ2UiOiAiUHl0aG9uIiwgImVudmlyb25tZW50QXJ0aWZhY3RJZCI6IG51bGx9",
      "payloadType": "InlineBase6[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/f571f780-ed4c-40cf-8c5f-4442d586867c/50402216-307f-4c89-8f02-5451929b2c7e/Main/spark_job_simple.py/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEA071FFF48E54"'
      Last-Modified:
      - Wed, 22 Apr 2026 13:21:01 GMT
    status:
      code: 201
      message: Created
- request:
    body: "# Copyright (c) Microsoft Corporation.\n# Licensed under the MIT License.\n\nimport
      sys\n\n# import Constant\nfrom pyspark.sql import Row, SparkSession\n\n\ndef
      create_dataframe_from_params(spark, params):\n    # Create a Row object with
      the parameters\n    row = Row(**params)\n\n    # Create a DataFrame from the
      Row object\n    df = spark.createDataFrame([row])\n\n    return df\n\n\nif __name__
      == \"__main__\":\n\n    spark = SparkSession.builder.appName(\"SampleSparkJob\").getOrCreate()\n
      \   spark_context = spark.sparkContext\n    spark_context.setLogLevel(\"DEBUG\")\n\n
      \   print(\"spark.synapse.pool.name : \" + spark.conf.get(\"spark.synapse.pool.name\"))\n
      \   print()\n    print(f\"sys.argv : \" + str(sys.argv))\n    print(\"spark.driver.cores
      : \" + spark.conf.get(\"spark.driver.cores\"))\n    print(\"spark.driver.memory
      : \" + spark.conf.get(\"spark.driver.memory\"))\n    print(\"spark.executor.cores
      : \" + spark.conf.get(\"spark.executor.cores\"))\n    print(\"spark.executor.memory
      : \" + spark.conf.get(\"spark.executor.memory\"))\n    print(\"spark.executor.instances:
      \" + spark.conf.get(\"spark.executor.instances\"))\n    print()\n    print(\n
      \       \"spark.dynamicAllocation.enabled : \"\n        + spark.conf.get(\"spark.dynamicAllocation.enabled\")\n
      \   )\n    print(\n        \"spark.dynamicAllocation.maxExecutors : \"\n        +
      spark.conf.get(\"spark.dynamicAllocation.maxExecutors\")\n    )\n    print(\n
      \       \"spark.dynamicAllocation.minExecutors : \"\n        + spark.conf.get(\"spark.dynamicAllocation.minExecutors\")\n
      \   )\n\n    params = {\"param1\": \"value1\", \"param2\": \"value2\"}\n    df
      = create_dataframe_from_params(spark, params)\n    df.show()\n\n    deltaTablePath
      = \"Tables/ParamsTable\"\n    df.write.option(\"overwriteSchema\", \"true\").mode(\"overwrite\").format(\"delta\").save(\n
      \       deltaTablePath\n    )\n"
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/f571f780-ed4c-40cf-8c5f-4442d586867c/50402216-307f-4c89-8f02-5451929b2c7e/Main/spark_job_simple.py?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/f571f780-ed4c-40cf-8c5f-4442d586867c/50402216-307f-4c89-8f02-5451929b2c7e/Main/spark_job_simple.py?action=flush&position=1758
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEA072028E5C8C"'
      Last-Modified:
      - Wed, 22 Apr 2026 13:21:06 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/50402216-307f-4c89-8f02-5451929b2c7e/jobs/instances?jobType=sparkjob
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/50402216-307f-4c89-8f02-5451929b2c7e/jobs/instances/939ee02d-3f38-42c2-bd95-e8e6de0a1217
      RequestId:
      - ef1de858-da4f-4db8-9963-7b36babf64a5
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/50402216-307f-4c89-8f02-5451929b2c7e/jobs/instances/939ee02d-3f38-42c2-bd95-e8e6de0a1217
  response:
    body:
      string: '{"id": "939ee02d-3f38-42c2-bd95-e8e6de0a1217", "itemId": "50402216-307f-4c89-8f02-5451929b2c7e",
        "jobType": "sparkjob", "invokeType": "Manual", "status": "InProgress", "failureReason":
        null, "rootActivityId": "ef1de858-da4f-4db8-9963-7b36babf64a5", "startTimeUtc":
        "2026-04-22T13:21:16.5308705", "endTimeUtc": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dd5fd26a-12c5-4234-a4e4-8dfd0781fc81
      Retry-After:
      - '38'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/50402216-307f-4c89-8f02-5451929b2c7e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2af6b722-64bc-4b2f-a00b-dcd24475ef7c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
