interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "ab04aa79-51eb-45b8-8fa6-c96d985f33e7",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b1057c4b-cfd7-4b09-9423-d8dfce809cec
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 14aa01e1-ce62-4352-ad66-3649a9e71c82
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/lakehouses
  response:
    body:
      string: '{"id": "e6fff81c-0bd7-468b-8a32-371db3287eca", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c875cc82-12e2-4fae-a654-f058609eb921
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/environments
  response:
    body:
      string: '{"id": "2b62bccb-c7e8-47ed-b920-0e76b8e566b8", "type": "Environment",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b98482d3-a145-4e3c-a755-e3a11f756c78
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/spark/pools
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000000", "type": "Workspace",
        "name": "Starter Pool", "nodeFamily": "MemoryOptimized", "nodeSize": "Medium",
        "autoScale": {"enabled": true, "minNodeCount": 1, "maxNodeCount": 10}, "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 236cc26b-d6a2-41d0-bcb7-77bbca9a69be
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000004", "definition": {"format": "ipynb", "parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJDcmVhdGUgQXZhdGFyIERlbW8gVGFibGVzIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiTmV3IG5vdGVib29rIgogICAgfSwKICAgICJjb25maWciOiB7CiAgICAgICAgInZlcnNpb24iOiAiMi4wIiwKICAgICAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICAgIH0KfQ==",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJjZWxsU3RhdHVzIjogInt9IiwKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKI[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/ff62bb1d-95c4-490e-8b06-595acbd32fb1
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-07T15:10:20.4535421",
        "lastUpdatedTimeUtc": "2025-09-07T15:10:21.6879638", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/ff62bb1d-95c4-490e-8b06-595acbd32fb1/result
      RequestId:
      - 9b01a2be-8733-4cee-85d1-47cc670bb87c
      x-ms-operation-id:
      - ff62bb1d-95c4-490e-8b06-595acbd32fb1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/ff62bb1d-95c4-490e-8b06-595acbd32fb1/result
  response:
    body:
      string: '{"id": "439a168c-5668-4409-843c-6c15dc86c2d4", "type": "Notebook",
        "displayName": "fabcli000004", "description": "Imported from fab", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 767b1be4-f45f-46c1-9014-ac9d4bb2bb60
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"executionData": {"parameters": {"string_param": {"type": "string", "value":
      "new_value"}}, "configuration": {"conf": {"spark.conf1": "value"}, "defaultLakehouse":
      {"name": "fabcli000001", "id": "e6fff81c-0bd7-468b-8a32-371db3287eca", "workspaceId":
      "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}, "useStarterPool": false, "useWorkspacePool":
      "fabcli000003", "environment": {"name": "fabcli000002", "id": "2b62bccb-c7e8-47ed-b920-0e76b8e566b8"}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/439a168c-5668-4409-843c-6c15dc86c2d4/jobs/instances?jobType=RunNotebook
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/439a168c-5668-4409-843c-6c15dc86c2d4/jobs/instances/2f9680f4-09f6-4171-93fa-f0b276d7c45c
      RequestId:
      - 30bc468f-e765-4ee4-aede-6a5cf257c92a
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/439a168c-5668-4409-843c-6c15dc86c2d4/jobs/instances/2f9680f4-09f6-4171-93fa-f0b276d7c45c
  response:
    body:
      string: '{"id": "2f9680f4-09f6-4171-93fa-f0b276d7c45c", "itemId": "439a168c-5668-4409-843c-6c15dc86c2d4",
        "jobType": "RunNotebook", "invokeType": "Manual", "status": "NotStarted",
        "failureReason": null, "rootActivityId": "30bc468f-e765-4ee4-aede-6a5cf257c92a",
        "startTimeUtc": "2025-09-07T15:10:42.8951789", "endTimeUtc": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0e766deb-e74a-4c6d-b84d-ec68ed17ae0d
      Retry-After:
      - '16'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"executionData": {"tableName": "customers", "optimizeSettings": {"vOrder":
      true, "zOrderBy": ["account_id"]}, "vacuumSettings": {"retentionPeriod": "7.01:00:00"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/e6fff81c-0bd7-468b-8a32-371db3287eca/jobs/instances?jobType=TableMaintenance
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/e6fff81c-0bd7-468b-8a32-371db3287eca/jobs/instances/21d4eb90-a7e2-4f8b-97e6-670b6dd2a774
      RequestId:
      - b0ec181a-b181-450c-b1ba-0fad7db5662f
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/spark/pools/f946e3a6-50f4-4baa-bed4-07307ccdf0c8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b1b9a9c5-c92d-47fe-bc48-b967f288ad1f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/439a168c-5668-4409-843c-6c15dc86c2d4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6885f200-6af7-4ef3-90dd-abd79a5d4771
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ab04aa79-51eb-45b8-8fa6-c96d985f33e7/items/e6fff81c-0bd7-468b-8a32-371db3287eca
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b112c2d8-a271-42a3-8b00-7ca3e2b09a0d
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
