interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4cd6d74d-347d-445c-898e-2ad658f4ee79",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f6cbbc94-9051-404a-8e39-9e36594fb6dc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cd6d74d-347d-445c-898e-2ad658f4ee79/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 62454412-6af6-45a4-8446-81b07b12ec73
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "SparkJobDefinition", "folderId": null, "displayName": "fabcli000001",
      "definition": {"parts": [{"path": "SparkJobDefinitionV1.json", "payload": "ewogICAgImV4ZWN1dGFibGVGaWxlIjogIiIsCiAgICAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiAiIiwKICAgICJtYWluQ2xhc3MiOiAiIiwKICAgICJhZGRpdGlvbmFsTGFrZWhvdXNlSWRzIjogW10sCiAgICAicmV0cnlQb2xpY3kiOiBudWxsLAogICAgImNvbW1hbmRMaW5lQXJndW1lbnRzIjogIiIsCiAgICAiYWRkaXRpb25hbExpYnJhcnlVcmlzIjogW10sCiAgICAibGFuZ3VhZ2UiOiAiUHl0aG9uIiwKICAgICJlbnZpcm9ubWVudEFydGlmYWN0SWQiOiBudWxsCn0=",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiU3BhcmtKb2JEZWZpbml0aW9uIiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiUGFyYW1fVGVzdF9TcGFya0pvYiIsCiAgICAgICAgImRlc2NyaXB0aW9uIjogIlNwYXJrIGpvYiBkZWZpbml0aW9uIgogICAgfSwKICAgICJjb25maWciOiB7CiAgICAgICAgInZlcnNpb24iOiAiMi4wIiwKICAgICAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICAgIH0KfQ==",
      "payloadType": "InlineBase64"}], "format": "SparkJobDefinitionV1"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cd6d74d-347d-445c-898e-2ad658f4ee79/items
  response:
    body:
      string: '{"id": "6656abf0-4f1b-4f39-870c-20895ab91708", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Spark job definition", "workspaceId":
        "4cd6d74d-347d-445c-898e-2ad658f4ee79"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 12e25fe5-a946-4ca6-81e0-b3e00bd36ad0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cd6d74d-347d-445c-898e-2ad658f4ee79/lakehouses
  response:
    body:
      string: '{"id": "d9674c35-e758-438c-aab1-058311cbbb81", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "", "workspaceId": "4cd6d74d-347d-445c-898e-2ad658f4ee79"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 017d5212-5317-4d5f-a228-b4f627b82a67
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cd6d74d-347d-445c-898e-2ad658f4ee79/items/6656abf0-4f1b-4f39-870c-20895ab91708/getDefinition?format=SparkJobDefinitionV1
  response:
    body:
      string: '{"definition": {"parts": [{"path": "SparkJobDefinitionV1.json", "payload":
        "ew0KICAiZXhlY3V0YWJsZUZpbGUiOiAiIiwNCiAgImRlZmF1bHRMYWtlaG91c2VBcnRpZmFjdElkIjogbnVsbCwNCiAgIm1haW5D[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com//4cd6d74d-347d-445c-898e-2ad658f4ee79/6656abf0-4f1b-4f39-870c-20895ab91708/Main/spark_job_simple.py/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB7C81CB82D84"'
      Last-Modified:
      - Fri, 22 May 2026 06:05:23 GMT
    status:
      code: 201
      message: Created
- request:
    body: "# Copyright (c) Microsoft Corporation.\n# Licensed under the MIT License.\n\nimport
      sys\n\n# import Constant\nfrom pyspark.sql import Row, SparkSession\n\n\ndef
      create_dataframe_from_params(spark, params):\n    # Create a Row object with
      the parameters\n    row = Row(**params)\n\n    # Create a DataFrame from the
      Row object\n    df = spark.createDataFrame([row])\n\n    return df\n\n\nif __name__
      == \"__main__\":\n\n    spark = SparkSession.builder.appName(\"SampleSparkJob\").getOrCreate()\n
      \   spark_context = spark.sparkContext\n    spark_context.setLogLevel(\"DEBUG\")\n\n
      \   print(\"spark.synapse.pool.name : \" + spark.conf.get(\"spark.synapse.pool.name\"))\n
      \   print()\n    print(f\"sys.argv : \" + str(sys.argv))\n    print(\"spark.driver.cores
      : \" + spark.conf.get(\"spark.driver.cores\"))\n    print(\"spark.driver.memory
      : \" + spark.conf.get(\"spark.driver.memory\"))\n    print(\"spark.executor.cores
      : \" + spark.conf.get(\"spark.executor.cores\"))\n    print(\"spark.executor.memory
      : \" + spark.conf.get(\"spark.executor.memory\"))\n    print(\"spark.executor.instances:
      \" + spark.conf.get(\"spark.executor.instances\"))\n    print()\n    print(\n
      \       \"spark.dynamicAllocation.enabled : \"\n        + spark.conf.get(\"spark.dynamicAllocation.enabled\")\n
      \   )\n    print(\n        \"spark.dynamicAllocation.maxExecutors : \"\n        +
      spark.conf.get(\"spark.dynamicAllocation.maxExecutors\")\n    )\n    print(\n
      \       \"spark.dynamicAllocation.minExecutors : \"\n        + spark.conf.get(\"spark.dynamicAllocation.minExecutors\")\n
      \   )\n\n    params = {\"param1\": \"value1\", \"param2\": \"value2\"}\n    df
      = create_dataframe_from_params(spark, params)\n    df.show()\n\n    deltaTablePath
      = \"Tables/ParamsTable\"\n    df.write.option(\"overwriteSchema\", \"true\").mode(\"overwrite\").format(\"delta\").save(\n
      \       deltaTablePath\n    )\n"
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com//4cd6d74d-347d-445c-898e-2ad658f4ee79/6656abf0-4f1b-4f39-870c-20895ab91708/Main/spark_job_simple.py?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com//4cd6d74d-347d-445c-898e-2ad658f4ee79/6656abf0-4f1b-4f39-870c-20895ab91708/Main/spark_job_simple.py?action=flush&position=1758
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB7C81EEDACF4"'
      Last-Modified:
      - Fri, 22 May 2026 06:05:27 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cd6d74d-347d-445c-898e-2ad658f4ee79/items/6656abf0-4f1b-4f39-870c-20895ab91708/jobs/instances?jobType=sparkjob
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/4cd6d74d-347d-445c-898e-2ad658f4ee79/items/6656abf0-4f1b-4f39-870c-20895ab91708/jobs/instances/6edeec25-5b2e-4141-944a-7b9621d76676
      RequestId:
      - d10ad1ad-23a5-41d7-8388-c1f83ca577d7
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cd6d74d-347d-445c-898e-2ad658f4ee79/items/6656abf0-4f1b-4f39-870c-20895ab91708/jobs/instances/6edeec25-5b2e-4141-944a-7b9621d76676
  response:
    body:
      string: '{"id": "6edeec25-5b2e-4141-944a-7b9621d76676", "itemId": "6656abf0-4f1b-4f39-870c-20895ab91708",
        "jobType": "sparkjob", "invokeType": "Manual", "status": "InProgress", "failureReason":
        null, "rootActivityId": "d10ad1ad-23a5-41d7-8388-c1f83ca577d7", "startTimeUtc":
        "2026-05-22T06:05:37.7808861", "endTimeUtc": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3d58be3c-91f1-41b5-8801-5b9fc47c6b1c
      Retry-After:
      - '44'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cd6d74d-347d-445c-898e-2ad658f4ee79/items/d9674c35-e758-438c-aab1-058311cbbb81
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2693ba9d-3e2b-4367-9ffb-b7ee99ef2490
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cd6d74d-347d-445c-898e-2ad658f4ee79/items/6656abf0-4f1b-4f39-870c-20895ab91708
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d6fb5932-6bdb-4a48-b962-24fb5096363e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
