interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "ab04aa79-51eb-45b8-8fa6-c96d985f33e7",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9b42afb9-7a23-43f3-af30-aea6719dd5ee
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 14d2b4f1-0e38-4c44-a256-e920e28dfbfd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "folderId": null, "displayName": "fabcli000001", "definition": {"format": "ipynb", "parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9", "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload": "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgICAgInN[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b78862bd-a06e-49d9-9ab1-b5b0a963c949
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-22T14:51:39.7745306",
        "lastUpdatedTimeUtc": "2026-04-22T14:51:42.1457819", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b78862bd-a06e-49d9-9ab1-b5b0a963c949/result
      RequestId:
      - 43ef1dfa-b290-432e-a489-fcb98adcaebb
      x-ms-operation-id:
      - b78862bd-a06e-49d9-9ab1-b5b0a963c949
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b78862bd-a06e-49d9-9ab1-b5b0a963c949/result
  response:
    body:
      string: '{"id": "090aeedc-1c66-4e70-bebe-01df1101fcf0", "type": "Notebook",
        "displayName": "fabcli000001", "workspaceId":
        "ab04aa79-51eb-45b8-8fa6-c96d985f33e7"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 242abdcf-87b7-4d6d-ae1d-cdddb71a361b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/c865cf59-e071-48b7-a8f2-9b1aeee27e9d/jobs/instances?jobType=RunNotebook
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/c865cf59-e071-48b7-a8f2-9b1aeee27e9d/jobs/instances/1ca89c5b-7640-45b8-909c-c60c2752d33f
      RequestId:
      - 910c6744-f5dc-4876-9af5-2ab3619aa372
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/c865cf59-e071-48b7-a8f2-9b1aeee27e9d/jobs/instances/1ca89c5b-7640-45b8-909c-c60c2752d33f
  response:
    body:
      string: '{"id": "1ca89c5b-7640-45b8-909c-c60c2752d33f", "itemId": "c865cf59-e071-48b7-a8f2-9b1aeee27e9d",
        "jobType": "RunNotebook", "invokeType": "Manual", "status": "NotStarted",
        "failureReason": null, "rootActivityId": "910c6744-f5dc-4876-9af5-2ab3619aa372",
        "startTimeUtc": "2026-04-22T14:52:04.72", "endTimeUtc": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 26f1809c-82ad-402c-8c6b-6884f1e23186
      Retry-After:
      - '28'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/c865cf59-e071-48b7-a8f2-9b1aeee27e9d/jobs/instances/1ca89c5b-7640-45b8-909c-c60c2752d33f/cancel
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/c865cf59-e071-48b7-a8f2-9b1aeee27e9d/jobs/instances/1ca89c5b-7640-45b8-909c-c60c2752d33f
      RequestId:
      - 0304f0e2-0da9-4091-92d1-d14c0d7a4e79
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb1b6ba0-bca2-4806-8519-1c3a3e58604c/items/c865cf59-e071-48b7-a8f2-9b1aeee27e9d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 95f8321f-048d-440b-a76c-d17b11aaed35
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
