interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "f571f780-ed4c-40cf-8c5f-4442d586867c",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 51a33072-557f-424e-8729-62549919ec14
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0b1eb292-1df5-40f8-a620-20915956cfdd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001", "definition": {"parts": [{"path": ".platform",
      "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlX2ZhaWxlZCIsCiAgICAgICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIC0gZGVzaWduZWQgdG8gZmFpbCBmb3IgdGVzdGluZyIKICAgIH0sCiAgICAiY29uZmlnIjogewogICAgICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAgICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgICB9Cn0=",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgI[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/66f6e0b3-6552-468a-bbfd-4bbda86d009e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-22T13:43:24.6204493",
        "lastUpdatedTimeUtc": "2026-04-22T13:43:25.5222928", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/66f6e0b3-6552-468a-bbfd-4bbda86d009e/result
      RequestId:
      - e950375e-2144-43e0-b548-ad2a7b7a5940
      x-ms-operation-id:
      - 66f6e0b3-6552-468a-bbfd-4bbda86d009e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/66f6e0b3-6552-468a-bbfd-4bbda86d009e/result
  response:
    body:
      string: '{"id": "b3598dfd-2836-4322-89fb-3e07eb1ae4c2", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "f571f780-ed4c-40cf-8c5f-4442d586867c"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 87d9bde7-d8f9-48ac-859e-7b090f3dcf25
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/b3598dfd-2836-4322-89fb-3e07eb1ae4c2/jobs/instances?jobType=RunNotebook
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/b3598dfd-2836-4322-89fb-3e07eb1ae4c2/jobs/instances/d1475815-5d59-46c5-8ba2-0111664dac84
      RequestId:
      - 4b8dc46e-cb5b-4af1-8b89-fa317a92f7b9
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/b3598dfd-2836-4322-89fb-3e07eb1ae4c2/jobs/instances/d1475815-5d59-46c5-8ba2-0111664dac84
  response:
    body:
      string: '{"id": "d1475815-5d59-46c5-8ba2-0111664dac84", "itemId": "b3598dfd-2836-4322-89fb-3e07eb1ae4c2",
        "jobType": "RunNotebook", "invokeType": "Manual", "status": "Failed", "failureReason":
        {"requestId": "6c6b2169-582c-485c-bdf2-71508bc6abbb", "errorCode": "JobInstanceStatusFailed",
        "message": "Job instance failed without detail error", "isRetriable": false},
        "rootActivityId": "4b8dc46e-cb5b-4af1-8b89-fa317a92f7b9", "startTimeUtc":
        "2026-04-22T13:43:51.6919013", "endTimeUtc": "2026-04-22T13:44:13.7358798"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6c6b2169-582c-485c-bdf2-71508bc6abbb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f571f780-ed4c-40cf-8c5f-4442d586867c/items/b3598dfd-2836-4322-89fb-3e07eb1ae4c2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ad28365a-5567-46ac-8102-ccc8a21740f4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
