interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "34edd45c-a25b-4158-8329-f12e29fc6c08",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 695abe0a-eebf-4532-ade6-e399098cb713
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/34edd45c-a25b-4158-8329-f12e29fc6c08/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 11115306-dafa-42fc-97fa-85b636ae067b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "SparkJobDefinition", "folderId": null, "displayName": "fabcli000001",
      "definition": {"parts": [{"path": "SparkJobDefinitionV1.json", "payload": "ewogICAgImV4ZWN1dGFibGVGaWxlIjogIiIsCiAgICAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiAiIiwKICAgICJtYWluQ2xhc3MiOiAiIiwKICAgICJhZGRpdGlvbmFsTGFrZWhvdXNlSWRzIjogW10sCiAgICAicmV0cnlQb2xpY3kiOiBudWxsLAogICAgImNvbW1hbmRMaW5lQXJndW1lbnRzIjogIiIsCiAgICAiYWRkaXRpb25hbExpYnJhcnlVcmlzIjogW10sCiAgICAibGFuZ3VhZ2UiOiAiUHl0aG9uIiwKICAgICJlbnZpcm9ubWVudEFydGlmYWN0SWQiOiBudWxsCn0=",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiU3BhcmtKb2JEZWZpbml0aW9uIiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiUGFyYW1fVGVzdF9TcGFya0pvYiIsCiAgICAgICAgImRlc2NyaXB0aW9uIjogIlNwYXJrIGpvYiBkZWZpbml0aW9uIgogICAgfSwKICAgICJjb25maWciOiB7CiAgICAgICAgInZlcnNpb24iOiAiMi4wIiwKICAgICAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICAgIH0KfQ==",
      "payloadType": "InlineBase64"}], "format": "SparkJobDefinitionV1"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/34edd45c-a25b-4158-8329-f12e29fc6c08/items
  response:
    body:
      string: '{"id": "82139ce8-e396-487b-b219-d5309fe52f6c", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Spark job definition", "workspaceId":
        "34edd45c-a25b-4158-8329-f12e29fc6c08"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 0a7afb63-3782-4720-b5ad-17104bfb6ec3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/34edd45c-a25b-4158-8329-f12e29fc6c08/lakehouses
  response:
    body:
      string: '{"id": "5978b436-9a5e-4976-81e1-b62138600c4b", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "", "workspaceId": "34edd45c-a25b-4158-8329-f12e29fc6c08"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 35db15b9-a05c-4645-a9f2-fc4ff3025dd6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/34edd45c-a25b-4158-8329-f12e29fc6c08/items/82139ce8-e396-487b-b219-d5309fe52f6c/getDefinition?format=SparkJobDefinitionV1
  response:
    body:
      string: '{"definition": {"parts": [{"path": "SparkJobDefinitionV1.json", "payload":
        "ew0KICAiZXhlY3V0YWJsZUZpbGUiOiAiIiwNCiAgImRlZmF1bHRMYWtlaG91c2VBcnRpZmFjdElkIjogbnVsbCwNCiAgIm1haW5D[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/34edd45c-a25b-4158-8329-f12e29fc6c08/82139ce8-e396-487b-b219-d5309fe52f6c/Main/spark_job_simple.py/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB0D93F692724"'
      Last-Modified:
      - Wed, 13 May 2026 10:20:25 GMT
    status:
      code: 201
      message: Created
- request:
    body: "# Copyright (c) Microsoft Corporation.\n# Licensed under the MIT License.\n\nimport
      sys\n\n# import Constant\nfrom pyspark.sql import Row, SparkSession\n\n\ndef
      create_dataframe_from_params(spark, params):\n    # Create a Row object with
      the parameters\n    row = Row(**params)\n\n    # Create a DataFrame from the
      Row object\n    df = spark.createDataFrame([row])\n\n    return df\n\n\nif __name__
      == \"__main__\":\n\n    spark = SparkSession.builder.appName(\"SampleSparkJob\").getOrCreate()\n
      \   spark_context = spark.sparkContext\n    spark_context.setLogLevel(\"DEBUG\")\n\n
      \   print(\"spark.synapse.pool.name : \" + spark.conf.get(\"spark.synapse.pool.name\"))\n
      \   print()\n    print(f\"sys.argv : \" + str(sys.argv))\n    print(\"spark.driver.cores
      : \" + spark.conf.get(\"spark.driver.cores\"))\n    print(\"spark.driver.memory
      : \" + spark.conf.get(\"spark.driver.memory\"))\n    print(\"spark.executor.cores
      : \" + spark.conf.get(\"spark.executor.cores\"))\n    print(\"spark.executor.memory
      : \" + spark.conf.get(\"spark.executor.memory\"))\n    print(\"spark.executor.instances:
      \" + spark.conf.get(\"spark.executor.instances\"))\n    print()\n    print(\n
      \       \"spark.dynamicAllocation.enabled : \"\n        + spark.conf.get(\"spark.dynamicAllocation.enabled\")\n
      \   )\n    print(\n        \"spark.dynamicAllocation.maxExecutors : \"\n        +
      spark.conf.get(\"spark.dynamicAllocation.maxExecutors\")\n    )\n    print(\n
      \       \"spark.dynamicAllocation.minExecutors : \"\n        + spark.conf.get(\"spark.dynamicAllocation.minExecutors\")\n
      \   )\n\n    params = {\"param1\": \"value1\", \"param2\": \"value2\"}\n    df
      = create_dataframe_from_params(spark, params)\n    df.show()\n\n    deltaTablePath
      = \"Tables/ParamsTable\"\n    df.write.option(\"overwriteSchema\", \"true\").mode(\"overwrite\").format(\"delta\").save(\n
      \       deltaTablePath\n    )\n"
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/34edd45c-a25b-4158-8329-f12e29fc6c08/82139ce8-e396-487b-b219-d5309fe52f6c/Main/spark_job_simple.py?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/34edd45c-a25b-4158-8329-f12e29fc6c08/82139ce8-e396-487b-b219-d5309fe52f6c/Main/spark_job_simple.py?action=flush&position=1758
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB0D941D5A9E8"'
      Last-Modified:
      - Wed, 13 May 2026 10:20:29 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/34edd45c-a25b-4158-8329-f12e29fc6c08/items/82139ce8-e396-487b-b219-d5309fe52f6c/jobs/instances?jobType=sparkjob
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/34edd45c-a25b-4158-8329-f12e29fc6c08/items/82139ce8-e396-487b-b219-d5309fe52f6c/jobs/instances/ff866df3-24ce-4323-b046-9d29877f88b0
      RequestId:
      - d786455c-8a02-41a8-a765-8d7c01e0e92d
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/34edd45c-a25b-4158-8329-f12e29fc6c08/items/82139ce8-e396-487b-b219-d5309fe52f6c/jobs/instances/ff866df3-24ce-4323-b046-9d29877f88b0
  response:
    body:
      string: '{"id": "ff866df3-24ce-4323-b046-9d29877f88b0", "itemId": "82139ce8-e396-487b-b219-d5309fe52f6c",
        "jobType": "sparkjob", "invokeType": "Manual", "status": "InProgress", "failureReason":
        null, "rootActivityId": "d786455c-8a02-41a8-a765-8d7c01e0e92d", "startTimeUtc":
        "2026-05-13T10:20:37.4613303", "endTimeUtc": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 600b2f59-4a82-4175-a269-6b8de75fd2ee
      Retry-After:
      - '41'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/34edd45c-a25b-4158-8329-f12e29fc6c08/items/5978b436-9a5e-4976-81e1-b62138600c4b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 86f210d9-82d1-4b5a-a39a-c28a033feef2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/34edd45c-a25b-4158-8329-f12e29fc6c08/items/82139ce8-e396-487b-b219-d5309fe52f6c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0760cd2b-45ad-49b4-9922-bb2a04b5394c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
