interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "dd3fd4a4-30ff-4fae-b9c0-726c0206194c", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2a34c3fc-71cd-4bc7-ad6f-021648527fe5
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/dd3fd4a4-30ff-4fae-b9c0-726c0206194c/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 14c816f0-1063-428f-a510-a33d0150b000
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001", "definition": {"format": "ipynb", "parts": [{"path":
      "notebook-content.ipynb", "payload": "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgICAgInNvdXJjZSI6IFsKICAgICAgICAgICAgICAgICIjIFdlbGNvbWUgdG8geW91ciBuZX[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-north-europe-f-primary-redirect.analysis.windows.net/v1/operations/91d58d41-a80b-4ea4-b6cb-b0812a5ec0f9
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-11-10T22:32:06.7330255",
        "lastUpdatedTimeUtc": "2025-11-10T22:32:08.6558761", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/v1/operations/91d58d41-a80b-4ea4-b6cb-b0812a5ec0f9/result
      RequestId:
      - 2f099292-127f-4011-b5d2-728b020ded6b
      x-ms-operation-id:
      - 91d58d41-a80b-4ea4-b6cb-b0812a5ec0f9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-north-europe-f-primary-redirect.analysis.windows.net/v1/operations/91d58d41-a80b-4ea4-b6cb-b0812a5ec0f9/result
  response:
    body:
      string: '{"id": "76688750-6186-4636-bf69-b6b39fa8128d", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "dd3fd4a4-30ff-4fae-b9c0-726c0206194c"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 406a4e43-8de0-4f88-a221-3f7fa02741b6
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"enabled": true, "configuration": {"type": "Cron", "startDateTime": "2024-01-23T00:00:00",
      "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId": "Central Standard Time",
      "interval": 10}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/dd3fd4a4-30ff-4fae-b9c0-726c0206194c/items/76688750-6186-4636-bf69-b6b39fa8128d/jobs/RunNotebook/schedules
  response:
    body:
      string: '{"id": "6dce26a0-8f42-40c8-a9af-bca028638ff7", "enabled": true, "createdDateTime":
        "2025-11-10T22:32:28.2533333", "configuration": {"type": "Cron", "startDateTime":
        "2024-01-23T00:00:00", "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId":
        "Central Standard Time", "interval": 10}, "owner": {"id": "2ed4a6b4-687e-466d-a03f-1bca2e5754d4",
        "type": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/dd3fd4a4-30ff-4fae-b9c0-726c0206194c/items/76688750-6186-4636-bf69-b6b39fa8128d/jobs/RunNotebook/schedules/6dce26a0-8f42-40c8-a9af-bca028638ff7
      RequestId:
      - d34582e8-6776-41fb-ba7f-9bbbdf727776
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/dd3fd4a4-30ff-4fae-b9c0-726c0206194c/items/76688750-6186-4636-bf69-b6b39fa8128d/jobs/RunNotebook/schedules/6dce26a0-8f42-40c8-a9af-bca028638ff7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b8d4afd4-8052-4fba-aa70-6106ebb39c32
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/dd3fd4a4-30ff-4fae-b9c0-726c0206194c/items/76688750-6186-4636-bf69-b6b39fa8128d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9393aa49-f57e-4621-ae2e-2d70eae8acdb
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
