interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "a083d3fa-d4fa-42fe-863e-751937379795", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d5d555e9-97f4-4beb-b5c8-97eafc73d0d2
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 73baa740-b2ed-4b31-b5e4-1e82eaefe3e7
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001", "definition": {"format": "ipynb", "parts": [{"path":
      "notebook-content.ipynb", "payload": "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgICAgInNvdXJjZSI6IFsKICAgICAgICAgICAgICAgICIjIFdlbGNvbWUgdG8geW91ciBuZX[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-north-europe-f-primary-redirect.analysis.windows.net/v1/operations/6b7177b5-5fe9-424f-943f-f97505cd0fd8
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-11-11T19:12:00.408617",
        "lastUpdatedTimeUtc": "2025-11-11T19:12:02.502394", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/v1/operations/6b7177b5-5fe9-424f-943f-f97505cd0fd8/result
      RequestId:
      - 23274297-16c2-4324-9329-0c8c3eed1172
      x-ms-operation-id:
      - 6b7177b5-5fe9-424f-943f-f97505cd0fd8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-north-europe-f-primary-redirect.analysis.windows.net/v1/operations/6b7177b5-5fe9-424f-943f-f97505cd0fd8/result
  response:
    body:
      string: '{"id": "07f09c7b-c45b-4907-8462-71a416ec00fc", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "a083d3fa-d4fa-42fe-863e-751937379795"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - e167bf5e-b72c-457a-8f56-7329d259891a
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"enabled": true, "configuration": {"type": "Cron", "startDateTime": "2024-01-23T00:00:00",
      "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId": "Central Standard Time",
      "interval": 10}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items/07f09c7b-c45b-4907-8462-71a416ec00fc/jobs/RunNotebook/schedules
  response:
    body:
      string: '{"id": "ab1107fb-5574-4341-8306-6776e9721636", "enabled": true, "createdDateTime":
        "2025-11-11T19:12:23.2366667", "configuration": {"type": "Cron", "startDateTime":
        "2024-01-23T00:00:00", "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId":
        "Central Standard Time", "interval": 10}, "owner": {"id": "2ed4a6b4-687e-466d-a03f-1bca2e5754d4",
        "type": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items/07f09c7b-c45b-4907-8462-71a416ec00fc/jobs/RunNotebook/schedules/ab1107fb-5574-4341-8306-6776e9721636
      RequestId:
      - 7706419a-224f-46a5-b283-708e43ce238e
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items/07f09c7b-c45b-4907-8462-71a416ec00fc/jobs/RunNotebook/schedules/ab1107fb-5574-4341-8306-6776e9721636
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9c986dec-1161-4266-8116-53f1bd411d04
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a083d3fa-d4fa-42fe-863e-751937379795/items/07f09c7b-c45b-4907-8462-71a416ec00fc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ca43f778-3dd3-4f39-8d8e-83976badb4ff
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
