interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "abdcbea8-1347-47c9-8d20-5f396c53f804",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 541bf457-8f66-4c68-b0cd-41c375c7c1a4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/abdcbea8-1347-47c9-8d20-5f396c53f804/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 24209ba6-f1cd-46f2-b3cd-8441583e7bff
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "folderId": null, "displayName": "fabcli000001", "definition":
      {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJleGFtcGxlIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": "notebook-content.ipynb", "payload":
      "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgI[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/634ab085-c0b9-4504-af83-9ab6399ffd0e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-27T13:59:51.9493287",
        "lastUpdatedTimeUtc": "2026-05-27T13:59:56.1849752", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/634ab085-c0b9-4504-af83-9ab6399ffd0e/result
      RequestId:
      - 3efe2000-bc29-4ead-b548-352fa97baca5
      x-ms-operation-id:
      - 634ab085-c0b9-4504-af83-9ab6399ffd0e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/634ab085-c0b9-4504-af83-9ab6399ffd0e/result
  response:
    body:
      string: '{"id": "76960590-c6c4-4a2b-9cdf-17ec4cd4bf10", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "abdcbea8-1347-47c9-8d20-5f396c53f804", "attributes": []}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 78c1d1c1-d8c5-42eb-8c12-7d75f1bc18ea
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/abdcbea8-1347-47c9-8d20-5f396c53f804/items/76960590-c6c4-4a2b-9cdf-17ec4cd4bf10/jobs/instances?jobType=RunNotebook
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/abdcbea8-1347-47c9-8d20-5f396c53f804/items/76960590-c6c4-4a2b-9cdf-17ec4cd4bf10/jobs/instances/c490c68a-1dce-440f-90ed-a4c919681192
      RequestId:
      - 0d214eb6-d9b1-4945-9060-7fb2eb75f0d5
      Retry-After:
      - '60'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/abdcbea8-1347-47c9-8d20-5f396c53f804/items/76960590-c6c4-4a2b-9cdf-17ec4cd4bf10/jobs/instances/c490c68a-1dce-440f-90ed-a4c919681192
  response:
    body:
      string: '{"id": "c490c68a-1dce-440f-90ed-a4c919681192", "itemId": "76960590-c6c4-4a2b-9cdf-17ec4cd4bf10",
        "jobType": "RunNotebook", "invokeType": "Manual", "status": "Completed", "failureReason":
        null, "rootActivityId": "0d214eb6-d9b1-4945-9060-7fb2eb75f0d5", "startTimeUtc":
        "2026-05-27T14:00:23.8528053", "endTimeUtc": "2026-05-27T14:00:50.9205418"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7db39a11-6c33-4be5-803f-b1853f18c1b9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/abdcbea8-1347-47c9-8d20-5f396c53f804/items/76960590-c6c4-4a2b-9cdf-17ec4cd4bf10
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 21d9080b-d65e-4a24-915c-42da1e79895c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
