interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "8e6c3dfa-f0b2-4911-8440-3a950c268386", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1733e15b-924a-4b71-ab3e-77dbec96f14a
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8e6c3dfa-f0b2-4911-8440-3a950c268386/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1cc19053-e3a4-4f19-8441-44dcaa1eea88
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001", "definition": {"format": "ipynb", "parts": [{"path":
      "notebook-content.ipynb", "payload": "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgICAgInNvdXJjZSI6IFsKICAgICAgICAgICAgICAgICIjIFdlbGNvbWUgdG8geW91ciBuZX[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-north-europe-f-primary-redirect.analysis.windows.net/v1/operations/c4e7f8be-d792-43b8-9c82-1e7c61ac32ba
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-11-06T21:39:46.8135751",
        "lastUpdatedTimeUtc": "2025-11-06T21:39:48.9232347", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/v1/operations/c4e7f8be-d792-43b8-9c82-1e7c61ac32ba/result
      RequestId:
      - 9c9d12fd-324a-4060-a31b-c4ef7f27d371
      x-ms-operation-id:
      - c4e7f8be-d792-43b8-9c82-1e7c61ac32ba
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-north-europe-f-primary-redirect.analysis.windows.net/v1/operations/c4e7f8be-d792-43b8-9c82-1e7c61ac32ba/result
  response:
    body:
      string: '{"id": "0d0b694a-495d-4523-9dd6-738056d29c09", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "8e6c3dfa-f0b2-4911-8440-3a950c268386"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f5c8209b-5fa7-428f-a779-05f3a3c70563
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/8e6c3dfa-f0b2-4911-8440-3a950c268386/items/0d0b694a-495d-4523-9dd6-738056d29c09/jobs/RunNotebook/schedules/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"requestId": "2afa524f-34c4-49f9-a7c2-d7fd4c506fe3", "errorCode":
        "ScheduleNotFound", "message": "The requested item schedule not found"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2afa524f-34c4-49f9-a7c2-d7fd4c506fe3
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - ScheduleNotFound
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/8e6c3dfa-f0b2-4911-8440-3a950c268386/items/0d0b694a-495d-4523-9dd6-738056d29c09
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9e941c3f-1d4f-40f2-9562-d11f43a09f71
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
