interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "24485b9e-c07f-4bcd-913d-cefcfbc942f4", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8ce33bff-5998-44af-aaf2-9b3c38f321a1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3cb708d4-cfc4-4496-b961-ab9f56eb8961
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "bd719377-a660-4b5a-9f4a-ad9e39f160cb", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/bd719377-a660-4b5a-9f4a-ad9e39f160cb
      RequestId:
      - e897c78a-7d0f-41cc-bba3-b1f6fd796ebb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bd719377-a660-4b5a-9f4a-ad9e39f160cb/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f654dc11-e85e-46fc-883f-344b2ffb2171
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bd719377-a660-4b5a-9f4a-ad9e39f160cb/folders
  response:
    body:
      string: '{"id": "c7236fde-33db-4b58-ad22-f93355c311fc", "displayName": "fabcli000003",
        "workspaceId": "bd719377-a660-4b5a-9f4a-ad9e39f160cb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/bd719377-a660-4b5a-9f4a-ad9e39f160cb/folders/c7236fde-33db-4b58-ad22-f93355c311fc
      RequestId:
      - 6984b5dc-7c2a-4fe4-8a99-6eb05ee47707
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bd719377-a660-4b5a-9f4a-ad9e39f160cb/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a0193fd0-beb5-40be-bfc9-132f0a4e5742
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "MLModel", "folderId": "c7236fde-33db-4b58-ad22-f93355c311fc"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bd719377-a660-4b5a-9f4a-ad9e39f160cb/mlModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/67afee6d-8fee-4796-929a-cb39f29363b7
      RequestId:
      - 2ee37cfc-5490-4f30-8778-828f38f7ed44
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 67afee6d-8fee-4796-929a-cb39f29363b7
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/67afee6d-8fee-4796-929a-cb39f29363b7
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T14:43:04.7838917",
        "lastUpdatedTimeUtc": "2026-01-19T14:43:05.9400467", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/67afee6d-8fee-4796-929a-cb39f29363b7/result
      RequestId:
      - b640700b-cb00-46ae-8faf-fa39ea31e8cb
      x-ms-operation-id:
      - 67afee6d-8fee-4796-929a-cb39f29363b7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/67afee6d-8fee-4796-929a-cb39f29363b7/result
  response:
    body:
      string: '{"id": "4737178c-9ebe-4c76-918d-33f0d54dd45c", "type": "MLModel", "displayName":
        "fabcli000004", "description": "Created by fab", "workspaceId": "bd719377-a660-4b5a-9f4a-ad9e39f160cb",
        "folderId": "c7236fde-33db-4b58-ad22-f93355c311fc"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 76633484-5dbb-483b-9054-807f71870136
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bd719377-a660-4b5a-9f4a-ad9e39f160cb/items/4737178c-9ebe-4c76-918d-33f0d54dd45c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e1757e9d-fe86-4c6c-9f97-74c1458ec300
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bd719377-a660-4b5a-9f4a-ad9e39f160cb/folders/c7236fde-33db-4b58-ad22-f93355c311fc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4f1e14ce-0c96-4a5e-a4fc-fe33f2532b2f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bd719377-a660-4b5a-9f4a-ad9e39f160cb
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 00f44939-10a2-4463-9b93-341ca584ff5b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6af1e4f9-e5b4-47de-a1dd-ba2c282ae61f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - fe9318a4-da9d-489c-92f6-7e6cd7529ee2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
