interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 69c90f60-6e97-4a50-851d-6fe70ee05ac5
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - be8e86e8-11c0-4e45-a5e4-b3b40a51ad75
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "2dea1342-7241-43e0-baa5-a58ab2a71851", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/2dea1342-7241-43e0-baa5-a58ab2a71851
      RequestId:
      - d227040a-1812-41e5-9810-33a565835d79
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2dea1342-7241-43e0-baa5-a58ab2a71851/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a5b4a815-b773-41f9-9ad4-0d00f44f2224
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2dea1342-7241-43e0-baa5-a58ab2a71851/folders
  response:
    body:
      string: '{"id": "70b05128-1612-4e3e-9eb9-282589162460", "displayName": "fabcli000003",
        "workspaceId": "2dea1342-7241-43e0-baa5-a58ab2a71851"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/2dea1342-7241-43e0-baa5-a58ab2a71851/folders/70b05128-1612-4e3e-9eb9-282589162460
      RequestId:
      - 24119a22-b7d4-4f20-9a21-5cbb58ad935e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2dea1342-7241-43e0-baa5-a58ab2a71851/folders?recursive=True
  response:
    body:
      string: '{"requestId": "ef26ae14-4ecf-4b86-bfe1-18df06343d0e", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        9/8/2025 2:26:42 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ef26ae14-4ecf-4b86-bfe1-18df06343d0e
      Retry-After:
      - '29'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "parentFolderId":
      "70b05128-1612-4e3e-9eb9-282589162460"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2dea1342-7241-43e0-baa5-a58ab2a71851/folders
  response:
    body:
      string: '{"id": "8e8d7cc6-7a30-4c9b-ada8-ccd1e2070371", "displayName": "fabcli000004",
        "parentFolderId": "70b05128-1612-4e3e-9eb9-282589162460", "workspaceId": "2dea1342-7241-43e0-baa5-a58ab2a71851"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/2dea1342-7241-43e0-baa5-a58ab2a71851/folders/8e8d7cc6-7a30-4c9b-ada8-ccd1e2070371
      RequestId:
      - b45a7802-58fa-404f-a384-78cef929e697
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2dea1342-7241-43e0-baa5-a58ab2a71851/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ddae67fb-1711-424f-9249-fd73817a5cc8
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000006", "type":
      "Notebook", "folderId": "70b05128-1612-4e3e-9eb9-282589162460", "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2dea1342-7241-43e0-baa5-a58ab2a71851/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7027c990-0c7b-44bd-be05-8e976b087d19
      RequestId:
      - 00c1bcef-1005-4cd0-9e23-704aa438702f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7027c990-0c7b-44bd-be05-8e976b087d19
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7027c990-0c7b-44bd-be05-8e976b087d19
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-08T14:26:44.3500829",
        "lastUpdatedTimeUtc": "2025-09-08T14:26:46.0385741", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7027c990-0c7b-44bd-be05-8e976b087d19/result
      RequestId:
      - c2f0b9ec-df2b-4372-b453-a89d69ec92d9
      x-ms-operation-id:
      - 7027c990-0c7b-44bd-be05-8e976b087d19
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7027c990-0c7b-44bd-be05-8e976b087d19/result
  response:
    body:
      string: '{"id": "c8e30cfe-d36f-455a-8644-9594cbd94866", "type": "Notebook",
        "displayName": "fabcli000006", "description": "Created by fab", "workspaceId":
        "2dea1342-7241-43e0-baa5-a58ab2a71851", "folderId": "70b05128-1612-4e3e-9eb9-282589162460"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 3525b252-8a92-499e-9798-a5796565eb10
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000007", "type":
      "SparkJobDefinition", "folderId": "8e8d7cc6-7a30-4c9b-ada8-ccd1e2070371"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2dea1342-7241-43e0-baa5-a58ab2a71851/sparkJobDefinitions
  response:
    body:
      string: '{"id": "bc89aa6a-c2d1-4fbf-9ca6-613e223ace5e", "type": "SparkJobDefinition",
        "displayName": "fabcli000007", "description": "Created by fab", "workspaceId":
        "2dea1342-7241-43e0-baa5-a58ab2a71851", "folderId": "8e8d7cc6-7a30-4c9b-ada8-ccd1e2070371"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 3fff9b8a-0a49-453e-8e99-3270812bed8b
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2dea1342-7241-43e0-baa5-a58ab2a71851/items/c8e30cfe-d36f-455a-8644-9594cbd94866
  response:
    body:
      string: '{"id": "c8e30cfe-d36f-455a-8644-9594cbd94866", "type": "Notebook",
        "displayName": "fabcli000006", "description": "Created by fab", "workspaceId":
        "2dea1342-7241-43e0-baa5-a58ab2a71851", "folderId": "70b05128-1612-4e3e-9eb9-282589162460"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 22de1fe1-4a52-4b5e-b962-5eed5750c8ff
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2dea1342-7241-43e0-baa5-a58ab2a71851/items/c8e30cfe-d36f-455a-8644-9594cbd94866/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/d9d682ba-0577-4189-b49d-341b1a19c3fc
      RequestId:
      - 2db2de0f-3224-494e-b4aa-a4087e05c9aa
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d9d682ba-0577-4189-b49d-341b1a19c3fc
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "SparkJobDefinition", "description": "Created by fab", "displayName":
      "fabcli000007", "definition": {"parts": [{"path": "SparkJobDefinitionV1.json",
      "payload": "ew0KICAiZXhlY3V0YWJsZUZpbGUiOiBudWxsLA0KICAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiBudWxsLA0KICAibWFpbkNsYXNzIjogbnVsbCwNCiAgImFkZGl0aW9uYWxMYWtlaG91c2VJZHMiOiBbXSwNCiAgInJldHJ5UG9saWN5IjogbnVsbCwNCiAgImNvbW1hbmRMaW5lQXJndW1lbnRzIjogbnVsbCwNCiAgImFkZGl0aW9uYWxMaWJyYXJ5VXJpcyI6IG51bGwsDQogICJsYW5n[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2dea1342-7241-43e0-baa5-a58ab2a71851/folders/8e8d7cc6-7a30-4c9b-ada8-ccd1e2070371
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9c4b19c9-e05c-4824-8315-74692f6ab0d7
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2dea1342-7241-43e0-baa5-a58ab2a71851
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e92c7a99-16b4-4de5-b703-b15c80ac9e6a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/24a85a40-291d-41ea-a507-c81a1258c9ec
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0777692e-7571-4f32-9b88-1d142d764e14
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
