interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4a5d36db-b7c1-4b14-a4d7-57200d02ddd0",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 475e0726-328d-4ae7-abf2-6972d1608fff
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e0c29875-e454-42f8-ab4d-6f6328963cee
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/lakehouses
  response:
    body:
      string: '{"id": "8740b6e0-206d-4f71-b412-2a0127ec9f6a", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "", "workspaceId": "4a5d36db-b7c1-4b14-a4d7-57200d02ddd0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 208afdba-3c75-44dd-a83f-735d34f34603
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/8740b6e0-206d-4f71-b412-2a0127ec9f6a/Files/test_cp_ol2lo.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB0D84B555BB8"'
      Last-Modified:
      - Wed, 13 May 2026 10:13:35 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/8740b6e0-206d-4f71-b412-2a0127ec9f6a/Files/test_cp_ol2lo.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/8740b6e0-206d-4f71-b412-2a0127ec9f6a/Files/test_cp_ol2lo.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB0D84C02D0A0"'
      Last-Modified:
      - Wed, 13 May 2026 10:13:36 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/8740b6e0-206d-4f71-b412-2a0127ec9f6a/Files/test_cp_ol2lo.txt
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain
      ETag:
      - '"0x8DEB0D84C02D0A0"'
      Last-Modified:
      - Wed, 13 May 2026 10:13:36 GMT
      x-ms-resource-type:
      - file
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/items/8740b6e0-206d-4f71-b412-2a0127ec9f6a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 7fb27d7c-15e5-4c4a-91cb-23a37a20f5c6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
