interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e0c56f4e-e523-4a5a-84b3-0cc7285a0897",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 980c2c93-28d2-4d6d-9fcc-231734e0bce7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9ab271a3-3a40-4674-adcf-c96e63db3321
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "39a1a111-e03b-4684-841a-e0a5e631000e", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/39a1a111-e03b-4684-841a-e0a5e631000e
      RequestId:
      - 848e4cb3-c3a4-4491-a7c2-0ef429dc5dac
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/39a1a111-e03b-4684-841a-e0a5e631000e/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 08067838-29c4-4e22-892a-3915bec1f265
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/39a1a111-e03b-4684-841a-e0a5e631000e/folders
  response:
    body:
      string: '{"id": "286030e4-8cb5-4735-9b6c-bdda8b2f4dfe", "displayName": "fabcli000003",
        "workspaceId": "39a1a111-e03b-4684-841a-e0a5e631000e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/39a1a111-e03b-4684-841a-e0a5e631000e/folders/286030e4-8cb5-4735-9b6c-bdda8b2f4dfe
      RequestId:
      - 1405af4e-e988-402c-8cc2-5ac6959c15aa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "parentFolderId":
      "286030e4-8cb5-4735-9b6c-bdda8b2f4dfe"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/39a1a111-e03b-4684-841a-e0a5e631000e/folders
  response:
    body:
      string: '{"id": "b6217fa4-8911-4c8b-98c4-2507fb6fb87c", "displayName": "fabcli000004",
        "parentFolderId": "286030e4-8cb5-4735-9b6c-bdda8b2f4dfe", "workspaceId": "39a1a111-e03b-4684-841a-e0a5e631000e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/39a1a111-e03b-4684-841a-e0a5e631000e/folders/b6217fa4-8911-4c8b-98c4-2507fb6fb87c
      RequestId:
      - 1d89a4b8-61da-49ef-a841-0a18ffb2d66d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/39a1a111-e03b-4684-841a-e0a5e631000e/folders?recursive=True
  response:
    body:
      string: '{"requestId": "c8cd8a19-5f5d-4e01-8a43-6e9b0c488557", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/6/2026 7:51:49 AM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c8cd8a19-5f5d-4e01-8a43-6e9b0c488557
      Retry-After:
      - '9'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/39a1a111-e03b-4684-841a-e0a5e631000e/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2e0e6125-8aba-4f1b-be53-68fd5da8a5cf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000006", "type":
      "Notebook", "folderId": "286030e4-8cb5-4735-9b6c-bdda8b2f4dfe", "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/39a1a111-e03b-4684-841a-e0a5e631000e/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b8e8d851-1efd-4dd0-a29e-a096cb380378
      RequestId:
      - 7434eb45-33a2-4f96-9e4c-4be9bd9eae99
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b8e8d851-1efd-4dd0-a29e-a096cb380378
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b8e8d851-1efd-4dd0-a29e-a096cb380378
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-06T07:51:53.7456402",
        "lastUpdatedTimeUtc": "2026-02-06T07:51:55.1684247", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b8e8d851-1efd-4dd0-a29e-a096cb380378/result
      RequestId:
      - adbb5176-db90-45be-994e-e48c3ecb5065
      x-ms-operation-id:
      - b8e8d851-1efd-4dd0-a29e-a096cb380378
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b8e8d851-1efd-4dd0-a29e-a096cb380378/result
  response:
    body:
      string: '{"id": "92270156-79b2-409b-bd1a-bad40cff71fe", "type": "Notebook",
        "displayName": "fabcli000006", "description": "Created by fab", "workspaceId":
        "39a1a111-e03b-4684-841a-e0a5e631000e", "folderId": "286030e4-8cb5-4735-9b6c-bdda8b2f4dfe"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - bbec0b0e-e233-46ef-820e-def77d64cd18
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000007", "type":
      "SparkJobDefinition", "folderId": "b6217fa4-8911-4c8b-98c4-2507fb6fb87c"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/39a1a111-e03b-4684-841a-e0a5e631000e/sparkJobDefinitions
  response:
    body:
      string: '{"id": "a4517be4-4347-4fc9-9a6a-2dea722c8909", "type": "SparkJobDefinition",
        "displayName": "fabcli000007", "description": "Created by fab", "workspaceId":
        "39a1a111-e03b-4684-841a-e0a5e631000e", "folderId": "b6217fa4-8911-4c8b-98c4-2507fb6fb87c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - cc08f36a-9c8a-4e07-a86a-40d39d21a04c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/39a1a111-e03b-4684-841a-e0a5e631000e/items/92270156-79b2-409b-bd1a-bad40cff71fe
  response:
    body:
      string: '{"id": "92270156-79b2-409b-bd1a-bad40cff71fe", "type": "Notebook",
        "displayName": "fabcli000006", "description": "Created by fab", "workspaceId":
        "39a1a111-e03b-4684-841a-e0a5e631000e", "folderId": "286030e4-8cb5-4735-9b6c-bdda8b2f4dfe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ec539ae7-0808-4c8a-bf8b-4da9ff6139f4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/39a1a111-e03b-4684-841a-e0a5e631000e/items/92270156-79b2-409b-bd1a-bad40cff71fe/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bba931ed-1a6a-4d67-9a07-753935196cc6
      RequestId:
      - b135c583-d6bf-43e9-902b-ba8008b8f967
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - bba931ed-1a6a-4d67-9a07-753935196cc6
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "SparkJobDefinition", "description": "Created by fab", "displayName":
      "fabcli000007", "definition": {"parts": [{"path": "SparkJobDefinitionV1.json",
      "payload": "ew0KICAiZXhlY3V0YWJsZUZpbGUiOiBudWxsLA0KICAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiBudWxsLA0KICAibWFpbkNsYXNzIjogbnVsbCwNCiAgImFkZGl0aW9uYWxMYWtlaG91c2VJZHMiOiBbXSwNCiAgInJldHJ5UG9saWN5IjogbnVsbCwNCiAgImNvbW1hbmRMaW5lQXJndW1lbnRzIjogbnVsbCwNCiAgImFkZGl0aW9uYWxMaWJyYXJ5VXJpcyI6IG51bGwsDQogICJsYW5n[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/39a1a111-e03b-4684-841a-e0a5e631000e/folders/b6217fa4-8911-4c8b-98c4-2507fb6fb87c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3991d598-179e-420e-a7cc-df24131653b9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/39a1a111-e03b-4684-841a-e0a5e631000e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - def7c6a0-94e9-42eb-b3c8-317b8c0f54fe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f80ed229-5a94-47c4-b945-151d5c4e1734
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e5fef65a-1f9b-4eaf-90d4-1febefb33637
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
