interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "86d2271b-2d35-4495-90ca-bacfec5cbb4d", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 642c372b-9cb1-4cdd-92ea-91d342014c1b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/86d2271b-2d35-4495-90ca-bacfec5cbb4d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0283fa86-270c-437f-ac83-f1cf975a10b0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/86d2271b-2d35-4495-90ca-bacfec5cbb4d/eventhouses
  response:
    body:
      string: '{"id": "6ce4a287-9374-4d71-97ef-488e9259d9f7", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "86d2271b-2d35-4495-90ca-bacfec5cbb4d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 5d5897cd-d547-4174-b50c-492e14d3dd9d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "6ce4a287-9374-4d71-97ef-488e9259d9f7"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/86d2271b-2d35-4495-90ca-bacfec5cbb4d/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b7eb58fc-9eff-49e3-9f80-d7950c5e973b
      RequestId:
      - 728f4098-ce5c-47c8-97cd-5ebdcd708851
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b7eb58fc-9eff-49e3-9f80-d7950c5e973b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b7eb58fc-9eff-49e3-9f80-d7950c5e973b
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T14:24:44.5770805",
        "lastUpdatedTimeUtc": "2026-01-19T14:24:49.1719259", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b7eb58fc-9eff-49e3-9f80-d7950c5e973b/result
      RequestId:
      - 3b438e90-415b-4998-8bd4-792adf80a46e
      x-ms-operation-id:
      - b7eb58fc-9eff-49e3-9f80-d7950c5e973b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b7eb58fc-9eff-49e3-9f80-d7950c5e973b/result
  response:
    body:
      string: '{"id": "6ef9aaec-9c72-4155-83e4-5e0cde74ef5f", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "86d2271b-2d35-4495-90ca-bacfec5cbb4d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 26ae1e22-add2-484f-837c-8616d272cb48
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/86d2271b-2d35-4495-90ca-bacfec5cbb4d/items/ef5e4c8b-2cab-47f6-930b-c0f9a22b45ed
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 35dbfcd9-2f00-4de4-bb09-698d30118267
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/86d2271b-2d35-4495-90ca-bacfec5cbb4d/items/6ef9aaec-9c72-4155-83e4-5e0cde74ef5f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 052472df-1604-4275-a2ce-c6074e9c4e5c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
