interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4a5d36db-b7c1-4b14-a4d7-57200d02ddd0",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c3cb652e-8e7e-487d-82e3-40814a06e4ce
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b7cea629-4983-46e3-87ca-ec5fcdc3f2f4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/lakehouses
  response:
    body:
      string: '{"id": "790d6367-69ff-48de-94b9-96d2a7ab58f5", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "", "workspaceId": "4a5d36db-b7c1-4b14-a4d7-57200d02ddd0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 67309435-a9f5-42a8-afef-f1c537a090da
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/790d6367-69ff-48de-94b9-96d2a7ab58f5/Files/test_cp_lakehouse.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/790d6367-69ff-48de-94b9-96d2a7ab58f5/Files/test_cp_lakehouse.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB0D838150A6C"'
      Last-Modified:
      - Wed, 13 May 2026 10:13:03 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/790d6367-69ff-48de-94b9-96d2a7ab58f5/Files/test_cp_lakehouse.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/790d6367-69ff-48de-94b9-96d2a7ab58f5/Files/test_cp_lakehouse.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB0D83A4F3E0C"'
      Last-Modified:
      - Wed, 13 May 2026 10:13:07 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/790d6367-69ff-48de-94b9-96d2a7ab58f5/Files/test_cp_lakehouse.txt
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain
      ETag:
      - '"0x8DEB0D83A4F3E0C"'
      Last-Modified:
      - Wed, 13 May 2026 10:13:07 GMT
      x-ms-resource-type:
      - file
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/?recursive=false&resource=filesystem&directory=11416ef2-4e53-4aca-a675-c5f7d482f897%2FFiles&getShortcutMetadata=true
  response:
    body:
      string: '{"paths": [{"name": "11416ef2-4e53-4aca-a675-c5f7d482f897/Files/test_cp_lakehouse.txt",
        "creationTime": "134231407965448580", "lastModified": "Wed, 13 May 2026 10:13:20
        GMT", "etag": "0x8DEB0D8422F0CD4", "contentLength": "13", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "permissions": "rw-r-----",
        "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/items/11416ef2-4e53-4aca-a675-c5f7d482f897
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 965337cf-1185-4d43-ba59-b31e3b558630
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/items/790d6367-69ff-48de-94b9-96d2a7ab58f5
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4d103db1-4752-4a18-842b-ec407dbecec6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
