interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4a5d36db-b7c1-4b14-a4d7-57200d02ddd0",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b0efedab-7f42-45d6-b9f8-abc9b6bc5694
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bc45e4c3-51d4-487a-9329-3da776896833
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/lakehouses
  response:
    body:
      string: '{"id": "796f0f19-88d2-4e0c-90af-f6c67ba2d53b", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "", "workspaceId": "4a5d36db-b7c1-4b14-a4d7-57200d02ddd0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9c394a29-5f5d-4b5c-a2aa-a85f2cab8c91
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/796f0f19-88d2-4e0c-90af-f6c67ba2d53b/Files/test_cp_ol2ol.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/796f0f19-88d2-4e0c-90af-f6c67ba2d53b/Files/test_cp_ol2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB0D801068A00"'
      Last-Modified:
      - Wed, 13 May 2026 10:11:30 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/796f0f19-88d2-4e0c-90af-f6c67ba2d53b/Files/test_cp_ol2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/796f0f19-88d2-4e0c-90af-f6c67ba2d53b/Files/test_cp_ol2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB0D8037816AC"'
      Last-Modified:
      - Wed, 13 May 2026 10:11:35 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/796f0f19-88d2-4e0c-90af-f6c67ba2d53b/Files/test_cp_ol2ol.txt
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain
      ETag:
      - '"0x8DEB0D8037816AC"'
      Last-Modified:
      - Wed, 13 May 2026 10:11:35 GMT
      x-ms-resource-type:
      - file
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/?recursive=false&resource=filesystem&directory=6c32cc60-6fb8-4abd-a9e1-7d7103e75574%2FFiles&getShortcutMetadata=true
  response:
    body:
      string: '{"paths": [{"name": "6c32cc60-6fb8-4abd-a9e1-7d7103e75574/Files/test_cp_ol2ol.txt",
        "creationTime": "134231407045437072", "lastModified": "Wed, 13 May 2026 10:11:48
        GMT", "etag": "0x8DEB0D80B623330", "contentLength": "13", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "permissions": "rw-r-----",
        "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/6c32cc60-6fb8-4abd-a9e1-7d7103e75574/Files/renamed_test_cp_ol2ol.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/6c32cc60-6fb8-4abd-a9e1-7d7103e75574/Files/renamed_test_cp_ol2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB0D8132AD168"'
      Last-Modified:
      - Wed, 13 May 2026 10:12:01 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/6c32cc60-6fb8-4abd-a9e1-7d7103e75574/Files/renamed_test_cp_ol2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/6c32cc60-6fb8-4abd-a9e1-7d7103e75574/Files/renamed_test_cp_ol2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB0D814BC2D2C"'
      Last-Modified:
      - Wed, 13 May 2026 10:12:04 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/items/6c32cc60-6fb8-4abd-a9e1-7d7103e75574
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - cfbc4621-9d4f-4d33-8f9a-f091b637e43d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/items/796f0f19-88d2-4e0c-90af-f6c67ba2d53b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2f6ad062-85d6-4e32-a58c-9c25a2eee5fd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
