interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c223b4ec-0be3-4bec-ac55-c75a2c335fb3",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bd9c824b-62c4-4cdf-9c56-a5288bf1f950
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3a510ff9-9d42-42d3-88b6-1faf0f3226ee
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "f24aa76c-cdd4-496b-b275-5ba416f0f0d5", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/f24aa76c-cdd4-496b-b275-5ba416f0f0d5
      RequestId:
      - fbb3fb2f-9ddc-4012-ab15-a9bd86e9a94b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f24aa76c-cdd4-496b-b275-5ba416f0f0d5/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0e60453e-cb6f-4924-841e-75d5dd5d82f2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f24aa76c-cdd4-496b-b275-5ba416f0f0d5/folders
  response:
    body:
      string: '{"id": "0799bef2-c26b-4cb6-b4c7-be64c00e4238", "displayName": "fabcli000003",
        "workspaceId": "f24aa76c-cdd4-496b-b275-5ba416f0f0d5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/f24aa76c-cdd4-496b-b275-5ba416f0f0d5/folders/0799bef2-c26b-4cb6-b4c7-be64c00e4238
      RequestId:
      - cd6250c5-acf3-43e2-ad5f-e5718232c169
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f24aa76c-cdd4-496b-b275-5ba416f0f0d5/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4fcac074-05f8-4f5f-81f6-1ed906eaf35c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "DigitalTwinBuilder", "folderId": "0799bef2-c26b-4cb6-b4c7-be64c00e4238"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f24aa76c-cdd4-496b-b275-5ba416f0f0d5/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ff240e4a-69c0-44d1-8f8d-caf7ab6e846c
      RequestId:
      - b72ffb29-5467-4cfc-98a5-a83a0a6b921b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ff240e4a-69c0-44d1-8f8d-caf7ab6e846c
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ff240e4a-69c0-44d1-8f8d-caf7ab6e846c
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-14T13:37:15.6727583",
        "lastUpdatedTimeUtc": "2026-04-14T13:37:24.865826", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ff240e4a-69c0-44d1-8f8d-caf7ab6e846c/result
      RequestId:
      - 10931d4a-953d-48b5-ad34-c106e54c7aa7
      x-ms-operation-id:
      - ff240e4a-69c0-44d1-8f8d-caf7ab6e846c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ff240e4a-69c0-44d1-8f8d-caf7ab6e846c/result
  response:
    body:
      string: '{"id": "825fa4cb-1de9-4015-a8f1-992bae854839", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "f24aa76c-cdd4-496b-b275-5ba416f0f0d5", "folderId": "0799bef2-c26b-4cb6-b4c7-be64c00e4238"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 1d8aa99e-81c2-45ca-941d-6e112e579a19
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f24aa76c-cdd4-496b-b275-5ba416f0f0d5/items/825fa4cb-1de9-4015-a8f1-992bae854839
  response:
    body:
      string: '{"id": "825fa4cb-1de9-4015-a8f1-992bae854839", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "f24aa76c-cdd4-496b-b275-5ba416f0f0d5", "folderId": "0799bef2-c26b-4cb6-b4c7-be64c00e4238"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f590ccbd-bd4f-4f98-ae94-f6a681e604e3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f24aa76c-cdd4-496b-b275-5ba416f0f0d5/items/825fa4cb-1de9-4015-a8f1-992bae854839/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5b0f1b0d-ee42-4697-b428-038c17a31bb6
      RequestId:
      - 9de16c1c-e895-4f36-8d34-eab346b701e7
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5b0f1b0d-ee42-4697-b428-038c17a31bb6
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5b0f1b0d-ee42-4697-b428-038c17a31bb6/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiZTk2MTA4N2QtYjk1My00OTE2LTgxZTQtMGQwOWY2YWY5N2U4Ig0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDA0IiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - dc28666e-f487-4d63-86fb-9226ae27277d
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "DigitalTwinBuilder", "description": "Created by fab", "displayName":
      "fabcli000004", "definition": {"parts": [{"path": "definition.json", "payload":
      "ew0KICAiTGFrZWhvdXNlSWQiOiAiZTk2MTA4N2QtYjk1My00OTE2LTgxZTQtMGQwOWY2YWY5N2U4Ig0KfQ==",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2N[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0c4bbee3-6e08-4369-9995-10c35e8fd0df/folders/e357ca89-950c-4b09-b468-564ae3f73464
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 74de4020-002c-4a06-8fea-ce1c7442f256
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f24aa76c-cdd4-496b-b275-5ba416f0f0d5/folders/0799bef2-c26b-4cb6-b4c7-be64c00e4238
  response:
    body:
      string: '{"requestId": "ae833f77-831a-43f9-8b70-01e9a8ada547", "errorCode":
        "FolderNotEmpty", "message": "The requested folder was not empty.", "relatedResource":
        {"resourceId": "0799bef2-c26b-4cb6-b4c7-be64c00e4238", "resourceType": "Folder"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ae833f77-831a-43f9-8b70-01e9a8ada547
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - FolderNotEmpty
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f24aa76c-cdd4-496b-b275-5ba416f0f0d5
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 194ba7ab-9778-496b-ba79-d866fec2635a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0c4bbee3-6e08-4369-9995-10c35e8fd0df
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 533992cf-6785-4045-8503-e3be88e2f8ef
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
