interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b1987dcd-b45c-4ba9-a9b6-bf7886f473a1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e2408a6e-2985-47f0-aa7e-6cca589c7bb9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e8171f86-2c7d-4e59-92b5-47d3f1067997
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "e9a98b56-95d2-41b6-bea3-b37eb9d693ae", "displayName": "fabcli000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/e9a98b56-95d2-41b6-bea3-b37eb9d693ae
      RequestId:
      - 39503790-c8a8-4b0f-8fd9-0f16949b1e91
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e9a98b56-95d2-41b6-bea3-b37eb9d693ae/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e81936da-d1f7-4e3f-aa22-a89cf7f79652
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000002"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e9a98b56-95d2-41b6-bea3-b37eb9d693ae/folders
  response:
    body:
      string: '{"id": "f13d3cf6-99e9-4f9a-b34d-5f0b9bf0195a", "displayName": "fabcli000002",
        "workspaceId": "e9a98b56-95d2-41b6-bea3-b37eb9d693ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/e9a98b56-95d2-41b6-bea3-b37eb9d693ae/folders/f13d3cf6-99e9-4f9a-b34d-5f0b9bf0195a
      RequestId:
      - d815a309-ce3f-4c9e-831c-68942048a069
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e9a98b56-95d2-41b6-bea3-b37eb9d693ae/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 64d3fe1a-0299-4ef4-9f4b-805d532b169f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000003", "type": "Notebook", "folderId": "f13d3cf6-99e9-4f9a-b34d-5f0b9bf0195a",
      "definition": {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e9a98b56-95d2-41b6-bea3-b37eb9d693ae/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/38e7b3a7-741b-4472-8680-4c1b62d63225
      RequestId:
      - 3b2a6593-c852-4ae2-ac9e-1e2cb0b0e9e6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 38e7b3a7-741b-4472-8680-4c1b62d63225
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/38e7b3a7-741b-4472-8680-4c1b62d63225
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-20T09:14:41.1876165",
        "lastUpdatedTimeUtc": "2026-05-20T09:14:43.3036398", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/38e7b3a7-741b-4472-8680-4c1b62d63225/result
      RequestId:
      - 224212bd-debb-4d82-bad1-79c6c4afc102
      x-ms-operation-id:
      - 38e7b3a7-741b-4472-8680-4c1b62d63225
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/38e7b3a7-741b-4472-8680-4c1b62d63225/result
  response:
    body:
      string: '{"id": "b59fd03e-912f-40be-bc72-64a5c2268b66", "type": "Notebook",
        "displayName": "fabcli000003", "description": "", "workspaceId": "e9a98b56-95d2-41b6-bea3-b37eb9d693ae",
        "folderId": "f13d3cf6-99e9-4f9a-b34d-5f0b9bf0195a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 386a8f3e-ccf1-414c-9a42-cb2ef5dd1409
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e9a98b56-95d2-41b6-bea3-b37eb9d693ae/items/b59fd03e-912f-40be-bc72-64a5c2268b66
  response:
    body:
      string: '{"id": "b59fd03e-912f-40be-bc72-64a5c2268b66", "type": "Notebook",
        "displayName": "fabcli000003", "description": "", "workspaceId": "e9a98b56-95d2-41b6-bea3-b37eb9d693ae",
        "folderId": "f13d3cf6-99e9-4f9a-b34d-5f0b9bf0195a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6c6965db-bc67-45f1-8c0c-8a12e7f620aa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e9a98b56-95d2-41b6-bea3-b37eb9d693ae/items/b59fd03e-912f-40be-bc72-64a5c2268b66/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/52b1bc87-cb80-41f1-b4be-cf0934965843
      RequestId:
      - 53028c10-8ed8-4c78-af90-bb78c2f331e8
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 52b1bc87-cb80-41f1-b4be-cf0934965843
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e9a98b56-95d2-41b6-bea3-b37eb9d693ae/folders/f13d3cf6-99e9-4f9a-b34d-5f0b9bf0195a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 025bda9c-9c56-4a2f-be71-d65c3333ae7a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e9a98b56-95d2-41b6-bea3-b37eb9d693ae
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0c2d9293-bc85-4f3d-a626-323e455badf5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
