interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b26ad2fe-03c2-4acb-b5a0-2bd2186ff79f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 371968a8-bb9c-42b1-88a4-2458d68582f3
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/lakehouses
  response:
    body:
      string: '{"id": "12040b53-cd4e-48cf-8991-dfd2d1a80c45", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 10b25d4f-46c6-42e6-a018-92ea5c5092e0
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/12040b53-cd4e-48cf-8991-dfd2d1a80c45/Files/test_cp_ol2ol.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/12040b53-cd4e-48cf-8991-dfd2d1a80c45/Files/test_cp_ol2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DDEEE32415D5BC"'
      Last-Modified:
      - Mon, 08 Sep 2025 14:22:28 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/12040b53-cd4e-48cf-8991-dfd2d1a80c45/Files/test_cp_ol2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/12040b53-cd4e-48cf-8991-dfd2d1a80c45/Files/test_cp_ol2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DDEEE324B6EAE8"'
      Last-Modified:
      - Mon, 08 Sep 2025 14:22:29 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/12040b53-cd4e-48cf-8991-dfd2d1a80c45/Files/test_cp_ol2ol.txt
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain
      ETag:
      - '"0x8DDEEE324B6EAE8"'
      Last-Modified:
      - Mon, 08 Sep 2025 14:22:29 GMT
      x-ms-resource-type:
      - file
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/?recursive=false&resource=filesystem&directory=5967f026-9f57-4200-bef9-ceffdb775582%2FFiles&getShortcutMetadata=true
  response:
    body:
      string: '{"paths": [{"name": "5967f026-9f57-4200-bef9-ceffdb775582/Files/test_cp_ol2ol.txt",
        "creationTime": "134018149518773332", "lastModified": "Mon, 08 Sep 2025 14:22:32
        GMT", "etag": "0x8DDEEE326A5DAA0", "contentLength": "13", "owner": "954b20be-abdc-4fbc-9e27-545547e1c715",
        "group": "954b20be-abdc-4fbc-9e27-545547e1c715", "permissions": "rw-r-----",
        "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/5967f026-9f57-4200-bef9-ceffdb775582/Files/renamed_test_cp_ol2ol.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/5967f026-9f57-4200-bef9-ceffdb775582/Files/renamed_test_cp_ol2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DDEEE3289FCE84"'
      Last-Modified:
      - Mon, 08 Sep 2025 14:22:36 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/5967f026-9f57-4200-bef9-ceffdb775582/Files/renamed_test_cp_ol2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/5967f026-9f57-4200-bef9-ceffdb775582/Files/renamed_test_cp_ol2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DDEEE3292A0D08"'
      Last-Modified:
      - Mon, 08 Sep 2025 14:22:37 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/items/5967f026-9f57-4200-bef9-ceffdb775582
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d8433752-c7ed-414b-a36e-13f1df2dc606
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/items/12040b53-cd4e-48cf-8991-dfd2d1a80c45
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ad89e426-2c0e-4394-8c1c-b02fd0dd5a6f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
