interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e0c56f4e-e523-4a5a-84b3-0cc7285a0897",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f46f165f-834e-4232-b9d0-b7feecf91ad5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0ed599a8-e19b-40be-8c91-f79ab7a676b1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/lakehouses
  response:
    body:
      string: '{"id": "13bda1b9-2d2d-4f15-96b6-954cd95441ce", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e0c56f4e-e523-4a5a-84b3-0cc7285a0897"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 42b3162b-8f12-4dfe-8c41-aa515fa9878c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/13bda1b9-2d2d-4f15-96b6-954cd95441ce/Files/test_cp_ol2ol.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/13bda1b9-2d2d-4f15-96b6-954cd95441ce/Files/test_cp_ol2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DE655377ED3E60"'
      Last-Modified:
      - Fri, 06 Feb 2026 07:43:50 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/13bda1b9-2d2d-4f15-96b6-954cd95441ce/Files/test_cp_ol2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/13bda1b9-2d2d-4f15-96b6-954cd95441ce/Files/test_cp_ol2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DE65537A6749CC"'
      Last-Modified:
      - Fri, 06 Feb 2026 07:43:54 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/13bda1b9-2d2d-4f15-96b6-954cd95441ce/Files/test_cp_ol2ol.txt
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain
      ETag:
      - '"0x8DE65537A6749CC"'
      Last-Modified:
      - Fri, 06 Feb 2026 07:43:54 GMT
      x-ms-resource-type:
      - file
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/?recursive=false&resource=filesystem&directory=fd446a4d-bff4-44f3-994f-fc04b426f76f%2FFiles&getShortcutMetadata=true
  response:
    body:
      string: '{"paths": [{"name": "fd446a4d-bff4-44f3-994f-fc04b426f76f/Files/test_cp_ol2ol.txt",
        "creationTime": "134148374432701540", "lastModified": "Fri, 06 Feb 2026 07:44:07
        GMT", "etag": "0x8DE65538241BEB0", "contentLength": "13", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "permissions": "rw-r-----",
        "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/fd446a4d-bff4-44f3-994f-fc04b426f76f/Files/renamed_test_cp_ol2ol.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/fd446a4d-bff4-44f3-994f-fc04b426f76f/Files/renamed_test_cp_ol2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DE65538CBD08CC"'
      Last-Modified:
      - Fri, 06 Feb 2026 07:44:25 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/fd446a4d-bff4-44f3-994f-fc04b426f76f/Files/renamed_test_cp_ol2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/fd446a4d-bff4-44f3-994f-fc04b426f76f/Files/renamed_test_cp_ol2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DE65538F3C2EC8"'
      Last-Modified:
      - Fri, 06 Feb 2026 07:44:29 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/items/fd446a4d-bff4-44f3-994f-fc04b426f76f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 942c7a63-f93e-487a-adb8-6d0fef405bbe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/items/13bda1b9-2d2d-4f15-96b6-954cd95441ce
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 10b722c1-b200-41f7-a031-332a3907f043
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
