interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b1987dcd-b45c-4ba9-a9b6-bf7886f473a1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 95befb87-41eb-489b-8171-67990be1e192
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cfff5515-b69e-438e-9356-945a8e18aa04
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "b498efc2-a561-45ed-a186-28a0174117cc", "displayName": "fabcli000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/b498efc2-a561-45ed-a186-28a0174117cc
      RequestId:
      - 38edceb6-624d-4f50-af8a-e7428e99f74b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b498efc2-a561-45ed-a186-28a0174117cc/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 29e04137-c92f-4f80-a62e-91728e719eea
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000003", "type": "Notebook", "folderId": null, "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b498efc2-a561-45ed-a186-28a0174117cc/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e2cb3428-4a68-4333-ba39-70bf0dd39c42
      RequestId:
      - 0325d11b-df64-45a3-94c6-6ab7bdf5af3e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - e2cb3428-4a68-4333-ba39-70bf0dd39c42
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e2cb3428-4a68-4333-ba39-70bf0dd39c42
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-20T08:37:13.0441136",
        "lastUpdatedTimeUtc": "2026-05-20T08:37:14.5715385", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e2cb3428-4a68-4333-ba39-70bf0dd39c42/result
      RequestId:
      - 66143d75-49dd-4527-9bb7-d826c359e36d
      x-ms-operation-id:
      - e2cb3428-4a68-4333-ba39-70bf0dd39c42
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e2cb3428-4a68-4333-ba39-70bf0dd39c42/result
  response:
    body:
      string: '{"id": "5a2e7c38-50e8-442d-b973-118e8a666892", "type": "Notebook",
        "displayName": "fabcli000003", "description": "", "workspaceId": "b498efc2-a561-45ed-a186-28a0174117cc"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - a968a431-3420-4f91-96ea-a27f645684ad
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000004", "type": "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b498efc2-a561-45ed-a186-28a0174117cc/dataPipelines
  response:
    body:
      string: '{"id": "70d2a102-4825-405b-9a3f-dc5f3944e33b", "type": "DataPipeline",
        "displayName": "fabcli000004", "description": "", "workspaceId": "b498efc2-a561-45ed-a186-28a0174117cc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 2674d488-0fb8-4708-9bdb-1479ee491ea2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b498efc2-a561-45ed-a186-28a0174117cc/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 32d42b6e-312e-4764-b150-f6e465cfb17e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000005"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b498efc2-a561-45ed-a186-28a0174117cc/folders
  response:
    body:
      string: '{"id": "a9c1a112-23a5-4d8c-a366-fc4cb6d6d4a7", "displayName": "fabcli000005",
        "workspaceId": "b498efc2-a561-45ed-a186-28a0174117cc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/b498efc2-a561-45ed-a186-28a0174117cc/folders/a9c1a112-23a5-4d8c-a366-fc4cb6d6d4a7
      RequestId:
      - 71070d3c-f8e5-4f71-afc7-4c091225ef87
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"displayName": "fabcli000006", "type": "SparkJobDefinition", "folderId":
      "a9c1a112-23a5-4d8c-a366-fc4cb6d6d4a7"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b498efc2-a561-45ed-a186-28a0174117cc/sparkJobDefinitions
  response:
    body:
      string: '{"id": "362ea567-b1e9-4245-8637-235ff3651b79", "type": "SparkJobDefinition",
        "displayName": "fabcli000006", "description": "", "workspaceId": "b498efc2-a561-45ed-a186-28a0174117cc",
        "folderId": "a9c1a112-23a5-4d8c-a366-fc4cb6d6d4a7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9eac379a-17a5-417e-b793-1af3ca7546e2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"displayName": "fabcli000007", "parentFolderId": "a9c1a112-23a5-4d8c-a366-fc4cb6d6d4a7"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b498efc2-a561-45ed-a186-28a0174117cc/folders
  response:
    body:
      string: '{"id": "c29d7414-de5d-4d2f-b142-38b5b29843cd", "displayName": "fabcli000007",
        "parentFolderId": "a9c1a112-23a5-4d8c-a366-fc4cb6d6d4a7", "workspaceId": "b498efc2-a561-45ed-a186-28a0174117cc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/b498efc2-a561-45ed-a186-28a0174117cc/folders/c29d7414-de5d-4d2f-b142-38b5b29843cd
      RequestId:
      - dce5907c-5d96-4a35-af71-7fb0ea139e2c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b498efc2-a561-45ed-a186-28a0174117cc/items/5a2e7c38-50e8-442d-b973-118e8a666892
  response:
    body:
      string: '{"id": "5a2e7c38-50e8-442d-b973-118e8a666892", "type": "Notebook",
        "displayName": "fabcli000003", "description": "", "workspaceId": "b498efc2-a561-45ed-a186-28a0174117cc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 71a6b0a8-3f5c-4fda-8d53-b006d76f10da
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b498efc2-a561-45ed-a186-28a0174117cc/items/5a2e7c38-50e8-442d-b973-118e8a666892/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bfcf94e8-74e5-4af7-8ba4-b99bed4e454f
      RequestId:
      - 66392d5c-8ea4-4fdb-b01f-b0df22449b59
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - bfcf94e8-74e5-4af7-8ba4-b99bed4e454f
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "DataPipeline", "displayName": "fabcli000004", "definition": {"parts":
      [{"path": "pipeline-content.json", "payload": "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRhdG[...]
[...]
- request:
    body: '{"type": "SparkJobDefinition", "displayName": "fabcli000006", "definition":
      {"parts": [{"path": "SparkJobDefinitionV1.json", "payload": "ew0KICAiZXhlY3V0YWJsZUZpbGUiOiBudWxsLA0KICAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiBudWxsLA0KICAibWFpbkNsYXNzIjogbnVsbCwNCiAgImFkZGl0aW9uYWxMYWtlaG91c2VJZHMiOiBbXSwNCiAgInJldHJ5UG9saWN5IjogbnVsbCwNCiAgImNvbW1hbmRMaW5lQXJndW1lbnRzIjogbnVsbCwNCiAgImFkZGl0aW9uYWxMaWJyYXJ5VXJpcyI6IG51bGwsDQogICJsYW5ndWFnZSI6IG51bGwsDQogICJlbnZpcm9ubWVudEF[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b498efc2-a561-45ed-a186-28a0174117cc/folders/fffd0349-9469-4178-a508-c3bc2a5926cd
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - aa7dcedd-6539-452d-b251-51a3c4f9fff5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b498efc2-a561-45ed-a186-28a0174117cc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c42e7cbf-51a8-4df5-9830-97095af2cfac
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2b905c52-4520-4342-a846-90e8641a367d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0453a382-a4da-47d7-ae52-07317d642f45
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
