interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "87f5821c-76d6-456e-8d79-134d5d30fd21",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d5592469-66b3-44e4-aeef-6fce59418102
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/87f5821c-76d6-456e-8d79-134d5d30fd21/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8801ec7a-b573-4eae-bea3-0b8a66151caa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/87f5821c-76d6-456e-8d79-134d5d30fd21/lakehouses
  response:
    body:
      string: '{"id": "00cb1f40-5004-4ae5-aa72-ad0b469e9012", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "87f5821c-76d6-456e-8d79-134d5d30fd21"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 56a77915-7032-4f78-9d23-3e21ee0b7771
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/87f5821c-76d6-456e-8d79-134d5d30fd21/00cb1f40-5004-4ae5-aa72-ad0b469e9012/Files/test_cp_lakehouse.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/87f5821c-76d6-456e-8d79-134d5d30fd21/00cb1f40-5004-4ae5-aa72-ad0b469e9012/Files/test_cp_lakehouse.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DE5E62CC3EA9CC"'
      Last-Modified:
      - Wed, 28 Jan 2026 11:45:55 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/87f5821c-76d6-456e-8d79-134d5d30fd21/00cb1f40-5004-4ae5-aa72-ad0b469e9012/Files/test_cp_lakehouse.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/87f5821c-76d6-456e-8d79-134d5d30fd21/00cb1f40-5004-4ae5-aa72-ad0b469e9012/Files/test_cp_lakehouse.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DE5E62CEADACF9"'
      Last-Modified:
      - Wed, 28 Jan 2026 11:46:00 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/87f5821c-76d6-456e-8d79-134d5d30fd21/00cb1f40-5004-4ae5-aa72-ad0b469e9012/Files/test_cp_lakehouse.txt
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain
      ETag:
      - '"0x8DE5E62CEADACF9"'
      Last-Modified:
      - Wed, 28 Jan 2026 11:46:00 GMT
      x-ms-resource-type:
      - file
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/87f5821c-76d6-456e-8d79-134d5d30fd21/?recursive=false&resource=filesystem&directory=168f326c-e947-4999-9984-49198a5ff3d9%2FFiles&getShortcutMetadata=true
  response:
    body:
      string: '{"paths": [{"name": "168f326c-e947-4999-9984-49198a5ff3d9/Files/test_cp_lakehouse.txt",
        "creationTime": "134140743692431420", "lastModified": "Wed, 28 Jan 2026 11:46:13
        GMT", "etag": "0x8DE5E62D6C584C9", "contentLength": "13", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "permissions": "rw-r-----",
        "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/87f5821c-76d6-456e-8d79-134d5d30fd21/items/168f326c-e947-4999-9984-49198a5ff3d9
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1daadacc-7867-48fd-bab8-0a7943c53de6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/87f5821c-76d6-456e-8d79-134d5d30fd21/items/00cb1f40-5004-4ae5-aa72-ad0b469e9012
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - bae462fc-3012-45b9-b3a5-b92bddf853a7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
