interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1f12f55e-3636-43c4-b9f9-bfb941d07f05
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0a5502df-7abb-422d-9e8e-89462d71037a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "9dec5c8f-95f0-4a26-85dc-87a0d4cef713", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/9dec5c8f-95f0-4a26-85dc-87a0d4cef713
      RequestId:
      - d59b8256-a3bb-4189-87c7-522c61517b7e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9dec5c8f-95f0-4a26-85dc-87a0d4cef713/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0e47f8ae-6e91-431a-aa07-594cd3aa0e1f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9dec5c8f-95f0-4a26-85dc-87a0d4cef713/folders
  response:
    body:
      string: '{"id": "fad0b0fe-2348-49de-83c6-e2fe58c61642", "displayName": "fabcli000003",
        "workspaceId": "9dec5c8f-95f0-4a26-85dc-87a0d4cef713"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/9dec5c8f-95f0-4a26-85dc-87a0d4cef713/folders/fad0b0fe-2348-49de-83c6-e2fe58c61642
      RequestId:
      - ebec60d0-3e9f-4ea7-a98f-81be203ade3c
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9dec5c8f-95f0-4a26-85dc-87a0d4cef713/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dbc9010a-3138-48ce-8e28-dcb398c1329e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000005", "type":
      "Notebook", "folderId": "fad0b0fe-2348-49de-83c6-e2fe58c61642", "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9dec5c8f-95f0-4a26-85dc-87a0d4cef713/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/e3c4722b-b405-467f-b8f8-f9317af6f4a3
      RequestId:
      - 1d931902-1b4d-4711-981b-5ebb831b35d4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - e3c4722b-b405-467f-b8f8-f9317af6f4a3
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/e3c4722b-b405-467f-b8f8-f9317af6f4a3
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-08T14:34:17.9344512",
        "lastUpdatedTimeUtc": "2025-09-08T14:34:19.7157314", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/e3c4722b-b405-467f-b8f8-f9317af6f4a3/result
      RequestId:
      - 48a6de59-cea3-44a1-acd0-b7d473b2ed0d
      x-ms-operation-id:
      - e3c4722b-b405-467f-b8f8-f9317af6f4a3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/e3c4722b-b405-467f-b8f8-f9317af6f4a3/result
  response:
    body:
      string: '{"id": "3d24a88b-75d9-4892-b014-f6c36b7a3334", "type": "Notebook",
        "displayName": "fabcli000005", "description": "Created by fab", "workspaceId":
        "9dec5c8f-95f0-4a26-85dc-87a0d4cef713", "folderId": "fad0b0fe-2348-49de-83c6-e2fe58c61642"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 2b6e229c-c2b3-4f5d-81b0-faca6feae530
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a08fc36-e856-4734-84ce-35b53c055aba/folders?recursive=True
  response:
    body:
      string: '{"requestId": "d15f3905-b916-4f30-875d-6a9300a96a9e", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        9/8/2025 2:34:47 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d15f3905-b916-4f30-875d-6a9300a96a9e
      Retry-After:
      - '8'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003", "parentFolderId":
      "bc30421a-20f9-4273-b373-ab7f72ac150d"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a08fc36-e856-4734-84ce-35b53c055aba/folders
  response:
    body:
      string: '{"id": "514c6a52-9fff-480c-8203-28d9bf862081", "displayName": "fabcli000003",
        "parentFolderId": "bc30421a-20f9-4273-b373-ab7f72ac150d", "workspaceId": "3a08fc36-e856-4734-84ce-35b53c055aba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/3a08fc36-e856-4734-84ce-35b53c055aba/folders/514c6a52-9fff-480c-8203-28d9bf862081
      RequestId:
      - 0dbf9df3-379f-46fc-acb2-724b16f4013d
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9dec5c8f-95f0-4a26-85dc-87a0d4cef713/items/3d24a88b-75d9-4892-b014-f6c36b7a3334
  response:
    body:
      string: '{"id": "3d24a88b-75d9-4892-b014-f6c36b7a3334", "type": "Notebook",
        "displayName": "fabcli000005", "description": "Created by fab", "workspaceId":
        "9dec5c8f-95f0-4a26-85dc-87a0d4cef713", "folderId": "fad0b0fe-2348-49de-83c6-e2fe58c61642"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b5221f86-3a17-425b-85fe-d424304544be
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9dec5c8f-95f0-4a26-85dc-87a0d4cef713/items/3d24a88b-75d9-4892-b014-f6c36b7a3334/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/08397e37-5e17-41de-bb6a-46a789bf4c28
      RequestId:
      - a97dcbea-0777-4a8b-990b-dbbf2b29665d
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 08397e37-5e17-41de-bb6a-46a789bf4c28
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a08fc36-e856-4734-84ce-35b53c055aba/folders/514c6a52-9fff-480c-8203-28d9bf862081
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d4124995-9d23-4d4e-b4b8-2d0243113017
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9dec5c8f-95f0-4a26-85dc-87a0d4cef713
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 63b1abeb-b78d-40dc-8268-afed6690cd12
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a08fc36-e856-4734-84ce-35b53c055aba
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 996bced1-78c6-470a-b458-8c3f75f02b00
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
