interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b1987dcd-b45c-4ba9-a9b6-bf7886f473a1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e82533b5-98be-4639-88fb-0125e6c84ae3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 58728bff-2462-4595-8061-1e413922c34e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "84f91c13-86b2-41c3-a2ed-e5dae60c2b0e", "displayName": "fabcli000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/84f91c13-86b2-41c3-a2ed-e5dae60c2b0e
      RequestId:
      - 6e8c5d3e-2af2-4c0a-9663-74b67597bd02
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84f91c13-86b2-41c3-a2ed-e5dae60c2b0e/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1e3f9f98-d85e-4c18-9711-dff2166e1e1e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000003", "type": "Notebook", "folderId": null, "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/84f91c13-86b2-41c3-a2ed-e5dae60c2b0e/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/22aa18fe-b12f-4e41-bdff-303e808a1104
      RequestId:
      - 01d480a9-4a86-4da6-be43-d7e83cfc4930
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 22aa18fe-b12f-4e41-bdff-303e808a1104
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/22aa18fe-b12f-4e41-bdff-303e808a1104
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-20T08:34:29.9244458",
        "lastUpdatedTimeUtc": "2026-05-20T08:34:31.5902068", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/22aa18fe-b12f-4e41-bdff-303e808a1104/result
      RequestId:
      - 7f3e8293-df0b-40a1-aa45-2a3c1997a368
      x-ms-operation-id:
      - 22aa18fe-b12f-4e41-bdff-303e808a1104
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/22aa18fe-b12f-4e41-bdff-303e808a1104/result
  response:
    body:
      string: '{"id": "3f09b34f-9c96-4bda-9cc3-8c80d78c1d3b", "type": "Notebook",
        "displayName": "fabcli000003", "description": "", "workspaceId": "84f91c13-86b2-41c3-a2ed-e5dae60c2b0e"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 2a5b616f-2d28-464d-aaed-27b8c62afd73
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000004", "type": "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/84f91c13-86b2-41c3-a2ed-e5dae60c2b0e/dataPipelines
  response:
    body:
      string: '{"id": "2cdfbc2a-0fe6-40ac-8aae-5c6d89ec8eb4", "type": "DataPipeline",
        "displayName": "fabcli000004", "description": "", "workspaceId": "84f91c13-86b2-41c3-a2ed-e5dae60c2b0e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d8c39061-0292-4e92-9c64-59d11e764d34
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84f91c13-86b2-41c3-a2ed-e5dae60c2b0e/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 252a976d-e91f-482f-91e6-0e71cd1b047e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000005"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/84f91c13-86b2-41c3-a2ed-e5dae60c2b0e/folders
  response:
    body:
      string: '{"id": "105f23f9-2490-41f7-a1c5-dc95d99acb4a", "displayName": "fabcli000005",
        "workspaceId": "84f91c13-86b2-41c3-a2ed-e5dae60c2b0e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/84f91c13-86b2-41c3-a2ed-e5dae60c2b0e/folders/105f23f9-2490-41f7-a1c5-dc95d99acb4a
      RequestId:
      - 5b6adf45-2447-45a8-af09-668936bfb976
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"displayName": "fabcli000006", "type": "SparkJobDefinition", "folderId":
      "105f23f9-2490-41f7-a1c5-dc95d99acb4a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/84f91c13-86b2-41c3-a2ed-e5dae60c2b0e/sparkJobDefinitions
  response:
    body:
      string: '{"id": "c8742bed-419c-48a5-9190-ed76c459f74c", "type": "SparkJobDefinition",
        "displayName": "fabcli000006", "description": "", "workspaceId": "84f91c13-86b2-41c3-a2ed-e5dae60c2b0e",
        "folderId": "105f23f9-2490-41f7-a1c5-dc95d99acb4a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - aea98a0e-c3c0-4c54-beb5-3b59c797b943
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84f91c13-86b2-41c3-a2ed-e5dae60c2b0e/items/3f09b34f-9c96-4bda-9cc3-8c80d78c1d3b
  response:
    body:
      string: '{"id": "3f09b34f-9c96-4bda-9cc3-8c80d78c1d3b", "type": "Notebook",
        "displayName": "fabcli000003", "description": "", "workspaceId": "84f91c13-86b2-41c3-a2ed-e5dae60c2b0e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c57d2fb4-0562-4139-9474-fb6b462fb03d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/84f91c13-86b2-41c3-a2ed-e5dae60c2b0e/items/3f09b34f-9c96-4bda-9cc3-8c80d78c1d3b/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a77af522-7a12-4272-b5c1-d5e9c88b1cc6
      RequestId:
      - b30e4704-bab3-4d45-a426-7613ea0edec8
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - a77af522-7a12-4272-b5c1-d5e9c88b1cc6
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "DataPipeline", "displayName": "fabcli000004", "definition": {"parts":
      [{"path": "pipeline-content.json", "payload": "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRhdG[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/84f91c13-86b2-41c3-a2ed-e5dae60c2b0e/folders/105f23f9-2490-41f7-a1c5-dc95d99acb4a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 32eab29c-aa5c-4e2b-ad3c-e85a2ed97183
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/84f91c13-86b2-41c3-a2ed-e5dae60c2b0e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b4e30f3e-e422-4ac9-9372-9a50c9889ba9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6b1091f5-3057-4e89-81f8-25884ca70f7a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 141478ef-ffb5-4d65-99da-c472bf1224b2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
