interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b1987dcd-b45c-4ba9-a9b6-bf7886f473a1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0632cec4-3747-40a4-8ace-0ed4807580c7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 28d355cb-9253-4c30-b744-1668b4cdd3ff
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/lakehouses
  response:
    body:
      string: '{"id": "898f919f-2dbf-4fb1-8dbf-5f301ba5ef28", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "", "workspaceId": "b1987dcd-b45c-4ba9-a9b6-bf7886f473a1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e86255b9-f696-4cc7-86cf-a0a2674482e9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/898f919f-2dbf-4fb1-8dbf-5f301ba5ef28/Files/test_cp_ol2lo.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E7161B400"'
      Last-Modified:
      - Wed, 20 May 2026 09:01:55 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/898f919f-2dbf-4fb1-8dbf-5f301ba5ef28/Files/test_cp_ol2lo.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/898f919f-2dbf-4fb1-8dbf-5f301ba5ef28/Files/test_cp_ol2lo.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E72052EB4"'
      Last-Modified:
      - Wed, 20 May 2026 09:01:56 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/898f919f-2dbf-4fb1-8dbf-5f301ba5ef28/Files/test_cp_ol2lo.txt
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain
      ETag:
      - '"0x8DEB64E72052EB4"'
      Last-Modified:
      - Wed, 20 May 2026 09:01:56 GMT
      x-ms-resource-type:
      - file
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/898f919f-2dbf-4fb1-8dbf-5f301ba5ef28/Files/test_cp_ol2lo.txt
  response:
    body:
      string: 'Hello world!

        '
    headers:
      Content-Type:
      - text/plain
      ETag:
      - '"0x8DEB64E72052EB4"'
      Last-Modified:
      - Wed, 20 May 2026 09:01:56 GMT
      x-ms-resource-type:
      - file
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/items/898f919f-2dbf-4fb1-8dbf-5f301ba5ef28
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5a0e4473-9321-4083-bceb-f00e213b04a3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
