interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a6d1a85a-f5c4-4398-a8e2-46dee267ed39
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 42d917a7-43b9-4596-b918-e0ad79a24c08
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "45c4bd18-9af6-4884-9385-43c77dbc1243", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/45c4bd18-9af6-4884-9385-43c77dbc1243
      RequestId:
      - 553e2968-6b13-40c7-b803-1f6dfcb13d2e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/45c4bd18-9af6-4884-9385-43c77dbc1243/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 43122879-244f-48c6-a7b4-08454b8b6e71
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/45c4bd18-9af6-4884-9385-43c77dbc1243/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7a82d6f1-6e9e-411b-bbe5-2ccb6f41fe62
      RequestId:
      - 1c7a37dd-6c94-4ac5-b50b-41c7fe4e6cd8
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7a82d6f1-6e9e-411b-bbe5-2ccb6f41fe62
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7a82d6f1-6e9e-411b-bbe5-2ccb6f41fe62
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-08T14:01:52.5439073",
        "lastUpdatedTimeUtc": "2025-09-08T14:01:54.1533049", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7a82d6f1-6e9e-411b-bbe5-2ccb6f41fe62/result
      RequestId:
      - d27a077e-0bca-4939-a26e-72bd13d7b88e
      x-ms-operation-id:
      - 7a82d6f1-6e9e-411b-bbe5-2ccb6f41fe62
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7a82d6f1-6e9e-411b-bbe5-2ccb6f41fe62/result
  response:
    body:
      string: '{"id": "b10b3eab-5429-4714-a7fd-56a1b0974f6a", "type": "Notebook",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "45c4bd18-9af6-4884-9385-43c77dbc1243"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 49091ab7-16c9-439d-9a4d-e2c761597300
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/45c4bd18-9af6-4884-9385-43c77dbc1243/dataPipelines
  response:
    body:
      string: '{"id": "a2ed26df-06d1-4114-9743-94ea12d489d4", "type": "DataPipeline",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "45c4bd18-9af6-4884-9385-43c77dbc1243"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - fa7a3294-71e6-48be-b232-fea02fb5e1bf
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/45c4bd18-9af6-4884-9385-43c77dbc1243/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cacb8e1c-d5ad-4f50-91ac-81cdcf1eedfe
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000005"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/45c4bd18-9af6-4884-9385-43c77dbc1243/folders
  response:
    body:
      string: '{"id": "3a67748b-55a6-4e00-9225-f36559b5fc44", "displayName": "fabcli000005",
        "workspaceId": "45c4bd18-9af6-4884-9385-43c77dbc1243"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/45c4bd18-9af6-4884-9385-43c77dbc1243/folders/3a67748b-55a6-4e00-9225-f36559b5fc44
      RequestId:
      - 2f666f94-a05d-4a01-a6fd-87372fd11d09
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000006", "type":
      "SparkJobDefinition", "folderId": "3a67748b-55a6-4e00-9225-f36559b5fc44"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/45c4bd18-9af6-4884-9385-43c77dbc1243/sparkJobDefinitions
  response:
    body:
      string: '{"id": "c0153394-98b1-43b2-980d-8c6c4289ff50", "type": "SparkJobDefinition",
        "displayName": "fabcli000006", "description": "Created by fab", "workspaceId":
        "45c4bd18-9af6-4884-9385-43c77dbc1243", "folderId": "3a67748b-55a6-4e00-9225-f36559b5fc44"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ecc2ba7c-2dcb-43cd-a1fb-022f556ed49b
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/45c4bd18-9af6-4884-9385-43c77dbc1243/items/b10b3eab-5429-4714-a7fd-56a1b0974f6a
  response:
    body:
      string: '{"id": "b10b3eab-5429-4714-a7fd-56a1b0974f6a", "type": "Notebook",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "45c4bd18-9af6-4884-9385-43c77dbc1243"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 15e1d329-cd46-49b0-9d61-be8564d05efd
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/45c4bd18-9af6-4884-9385-43c77dbc1243/items/b10b3eab-5429-4714-a7fd-56a1b0974f6a/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/d461a6f8-ec07-4f0c-96e6-4abcd9f371e1
      RequestId:
      - 21378bff-2b5d-49a3-a582-bd06de0fdc00
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d461a6f8-ec07-4f0c-96e6-4abcd9f371e1
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "DataPipeline", "description": "Created by fab", "displayName":
      "fabcli000004", "definition": {"parts": [{"path": "pipeline-content.json", "payload":
      "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==", "payloadType":
      "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJ[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/45c4bd18-9af6-4884-9385-43c77dbc1243/folders?recursive=True
  response:
    body:
      string: '{"requestId": "42a1f621-0e31-4216-acab-c78737c79f71", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        9/8/2025 2:03:22 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 42a1f621-0e31-4216-acab-c78737c79f71
      Retry-After:
      - '3'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/45c4bd18-9af6-4884-9385-43c77dbc1243/folders/3a67748b-55a6-4e00-9225-f36559b5fc44
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c8dbeaa8-13fe-45d5-928e-f9605aeeccb4
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/45c4bd18-9af6-4884-9385-43c77dbc1243
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - cc5f63ab-d89a-43f0-b70f-3c1a201107ba
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/82fcfd9b-9f0e-4b38-9077-b0f98902fe55
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4a38ce5f-503e-431e-b789-b70472b5c99c
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
