interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b1987dcd-b45c-4ba9-a9b6-bf7886f473a1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4a4342ce-26f3-4a3a-82d7-255dd5f675b4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f1896087-eeb8-4daa-9ab3-a955cc1eb200
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/lakehouses
  response:
    body:
      string: '{"id": "a99d6f9a-0e12-4880-8fcc-e2275b958147", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "", "workspaceId": "b1987dcd-b45c-4ba9-a9b6-bf7886f473a1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 61e120b5-2752-47ac-b63a-007678078449
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/a99d6f9a-0e12-4880-8fcc-e2275b958147/Files/test_cp_lakehouse.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - PathNotFound
    status:
      code: 404
      message: The specified path does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/a99d6f9a-0e12-4880-8fcc-e2275b958147/Files/test_cp_lakehouse.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E5CE30BAC"'
      Last-Modified:
      - Wed, 20 May 2026 09:01:21 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/a99d6f9a-0e12-4880-8fcc-e2275b958147/Files/test_cp_lakehouse.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/a99d6f9a-0e12-4880-8fcc-e2275b958147/Files/test_cp_lakehouse.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E5EAEBB54"'
      Last-Modified:
      - Wed, 20 May 2026 09:01:24 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/a99d6f9a-0e12-4880-8fcc-e2275b958147/Files/test_cp_lakehouse.txt
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain
      ETag:
      - '"0x8DEB64E5EAEBB54"'
      Last-Modified:
      - Wed, 20 May 2026 09:01:24 GMT
      x-ms-resource-type:
      - file
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/3824ce88-cbe7-4150-9bf8-8fbad03567e4/Files/test_cp_lakehouse.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E62ECD634"'
      Last-Modified:
      - Wed, 20 May 2026 09:01:31 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/3824ce88-cbe7-4150-9bf8-8fbad03567e4/Files/test_cp_lakehouse.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/3824ce88-cbe7-4150-9bf8-8fbad03567e4/Files/test_cp_lakehouse.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E638C1FD8"'
      Last-Modified:
      - Wed, 20 May 2026 09:01:32 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/?recursive=false&resource=filesystem&directory=3824ce88-cbe7-4150-9bf8-8fbad03567e4%2FFiles&getShortcutMetadata=true
  response:
    body:
      string: '{"paths": [{"name": "3824ce88-cbe7-4150-9bf8-8fbad03567e4/Files/test_cp_lakehouse.txt",
        "creationTime": "134237412916581940", "lastModified": "Wed, 20 May 2026 09:01:32
        GMT", "etag": "0x8DEB64E638C1FD8", "contentLength": "13", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "permissions": "rw-r-----",
        "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/items/3824ce88-cbe7-4150-9bf8-8fbad03567e4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ade86b00-2d3f-49ff-b5c4-ea46638d4e11
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/items/a99d6f9a-0e12-4880-8fcc-e2275b958147
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c5ffae71-cba6-4635-9b22-4898e7d42057
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
