interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e0c56f4e-e523-4a5a-84b3-0cc7285a0897",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 45bc2f31-ca01-405c-9fca-13ea28dc600f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5bc64e1a-dc87-49d3-ae15-2770287fff9c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "07ad6b91-6dbb-4498-be4b-491db8fd6e31", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/07ad6b91-6dbb-4498-be4b-491db8fd6e31
      RequestId:
      - 6bb45377-38ab-4813-9e0a-da82980e158d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/07ad6b91-6dbb-4498-be4b-491db8fd6e31/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5d69be79-50b0-4e51-912a-14d14dde28fc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/07ad6b91-6dbb-4498-be4b-491db8fd6e31/folders
  response:
    body:
      string: '{"id": "9f2958f1-445e-40eb-b383-b15d4033e88d", "displayName": "fabcli000003",
        "workspaceId": "07ad6b91-6dbb-4498-be4b-491db8fd6e31"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/07ad6b91-6dbb-4498-be4b-491db8fd6e31/folders/9f2958f1-445e-40eb-b383-b15d4033e88d
      RequestId:
      - 26dc4e75-cfd7-4df4-9e59-cb9b9fd85660
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/07ad6b91-6dbb-4498-be4b-491db8fd6e31/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9a61658f-8090-4b46-8978-699758cde06e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000005", "type":
      "Notebook", "folderId": "9f2958f1-445e-40eb-b383-b15d4033e88d", "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/07ad6b91-6dbb-4498-be4b-491db8fd6e31/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/04b67ce8-5b0e-4a3b-b80c-942535c9229b
      RequestId:
      - ed2ffe9d-91ff-4167-a9ee-e12e8286837e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 04b67ce8-5b0e-4a3b-b80c-942535c9229b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/04b67ce8-5b0e-4a3b-b80c-942535c9229b
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-06T07:59:59.3002828",
        "lastUpdatedTimeUtc": "2026-02-06T08:00:01.0974537", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/04b67ce8-5b0e-4a3b-b80c-942535c9229b/result
      RequestId:
      - 74c7f1db-74a4-436c-88bf-45f2c2c130bd
      x-ms-operation-id:
      - 04b67ce8-5b0e-4a3b-b80c-942535c9229b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/04b67ce8-5b0e-4a3b-b80c-942535c9229b/result
  response:
    body:
      string: '{"id": "5fec321a-312f-408c-bcf6-b04fbe4d1e9d", "type": "Notebook",
        "displayName": "fabcli000005", "description": "Created by fab", "workspaceId":
        "07ad6b91-6dbb-4498-be4b-491db8fd6e31", "folderId": "9f2958f1-445e-40eb-b383-b15d4033e88d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ec971ce3-9de1-4564-96ea-f67b24ec9971
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003", "parentFolderId":
      "484b68e2-05f9-4fb7-8756-526b3d356774"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2b46dd8b-6a28-4767-8993-0e5e13fe9d6d/folders
  response:
    body:
      string: '{"id": "2419af10-a86b-4f18-bf9c-5cb056291f68", "displayName": "fabcli000003",
        "parentFolderId": "484b68e2-05f9-4fb7-8756-526b3d356774", "workspaceId": "2b46dd8b-6a28-4767-8993-0e5e13fe9d6d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/2b46dd8b-6a28-4767-8993-0e5e13fe9d6d/folders/2419af10-a86b-4f18-bf9c-5cb056291f68
      RequestId:
      - 0ca36194-4082-47e5-a291-1a1458a73820
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2b46dd8b-6a28-4767-8993-0e5e13fe9d6d/folders?recursive=True
  response:
    body:
      string: '{"requestId": "44ce219d-7d6a-4ae6-a029-3b604c5b3880", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/6/2026 8:01:25 AM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 44ce219d-7d6a-4ae6-a029-3b604c5b3880
      Retry-After:
      - '48'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/07ad6b91-6dbb-4498-be4b-491db8fd6e31/items/5fec321a-312f-408c-bcf6-b04fbe4d1e9d
  response:
    body:
      string: '{"id": "5fec321a-312f-408c-bcf6-b04fbe4d1e9d", "type": "Notebook",
        "displayName": "fabcli000005", "description": "Created by fab", "workspaceId":
        "07ad6b91-6dbb-4498-be4b-491db8fd6e31", "folderId": "9f2958f1-445e-40eb-b383-b15d4033e88d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - eff4f24f-5a99-44f4-b036-2b6c8841b26a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/07ad6b91-6dbb-4498-be4b-491db8fd6e31/items/5fec321a-312f-408c-bcf6-b04fbe4d1e9d/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d7aa0210-0753-4d88-aa86-549c58420a59
      RequestId:
      - de27b388-b836-4c6d-be4f-a34b6022ce77
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d7aa0210-0753-4d88-aa86-549c58420a59
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2b46dd8b-6a28-4767-8993-0e5e13fe9d6d/folders/2419af10-a86b-4f18-bf9c-5cb056291f68
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 7148ced9-fb02-4cfe-b70f-194e9d4141e1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/07ad6b91-6dbb-4498-be4b-491db8fd6e31
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e1e103a6-f020-43d5-b9d8-5b4dd2c72b80
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2b46dd8b-6a28-4767-8993-0e5e13fe9d6d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2a47c2c8-5f52-4163-936e-0228d20b498e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
