interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 70d70c0a-6c71-4f81-9d37-2f915ab25830
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 94c3d644-5d8d-4348-a534-452752e909a7
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "0f5eceeb-0d3a-401d-886d-828c49632fae", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/0f5eceeb-0d3a-401d-886d-828c49632fae
      RequestId:
      - 28bbee1b-dda9-4953-b0d4-066440fce2a3
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bf7aa7e9-c207-4881-bacc-0a901ead3ccf/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 77f0a5ec-98a2-4ae1-b2d5-34be7b8d85d4
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bf7aa7e9-c207-4881-bacc-0a901ead3ccf/folders?recursive=True
  response:
    body:
      string: '{"requestId": "48d3db73-b7f1-41b1-af96-5368191bc1c6", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        9/8/2025 2:17:31 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 48d3db73-b7f1-41b1-af96-5368191bc1c6
      Retry-After:
      - '33'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bf7aa7e9-c207-4881-bacc-0a901ead3ccf/folders
  response:
    body:
      string: '{"id": "efbf6077-b834-4c65-a7fa-07b84a376055", "displayName": "fabcli000003",
        "workspaceId": "bf7aa7e9-c207-4881-bacc-0a901ead3ccf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/bf7aa7e9-c207-4881-bacc-0a901ead3ccf/folders/efbf6077-b834-4c65-a7fa-07b84a376055
      RequestId:
      - 768df4e3-f269-4958-be34-7d3610bd6d5b
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0f5eceeb-0d3a-401d-886d-828c49632fae/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5080607c-6483-447d-8c6a-eabf9e212345
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0f5eceeb-0d3a-401d-886d-828c49632fae/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/9ba1eb5a-d887-4211-a5c4-1a3f21fa34e1
      RequestId:
      - c53dfda4-ece4-46f7-b8c9-5a112c3c7609
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9ba1eb5a-d887-4211-a5c4-1a3f21fa34e1
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/9ba1eb5a-d887-4211-a5c4-1a3f21fa34e1
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-08T14:17:32.8053356",
        "lastUpdatedTimeUtc": "2025-09-08T14:17:34.7584749", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/9ba1eb5a-d887-4211-a5c4-1a3f21fa34e1/result
      RequestId:
      - 59e2f768-77a1-4cc2-9aa3-5dac865ef8fb
      x-ms-operation-id:
      - 9ba1eb5a-d887-4211-a5c4-1a3f21fa34e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/9ba1eb5a-d887-4211-a5c4-1a3f21fa34e1/result
  response:
    body:
      string: '{"id": "f383d8e2-989f-42de-9a15-ecc9119242f8", "type": "Notebook",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "0f5eceeb-0d3a-401d-886d-828c49632fae"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 4eafd7c1-ad16-4d5f-ba63-610aa1f47ec1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000005", "type":
      "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0f5eceeb-0d3a-401d-886d-828c49632fae/dataPipelines
  response:
    body:
      string: '{"id": "ea53b249-179f-4043-b992-f1fc5bb7d357", "type": "DataPipeline",
        "displayName": "fabcli000005", "description": "Created by fab", "workspaceId":
        "0f5eceeb-0d3a-401d-886d-828c49632fae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 8bcd281a-afe3-4367-828b-7f6c581a0488
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0f5eceeb-0d3a-401d-886d-828c49632fae/items/f383d8e2-989f-42de-9a15-ecc9119242f8
  response:
    body:
      string: '{"id": "f383d8e2-989f-42de-9a15-ecc9119242f8", "type": "Notebook",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "0f5eceeb-0d3a-401d-886d-828c49632fae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d293c9be-459e-44c4-a307-a6bb15f83d7a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0f5eceeb-0d3a-401d-886d-828c49632fae/items/f383d8e2-989f-42de-9a15-ecc9119242f8/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/bc6528fe-d181-4eb3-af13-83b19006e5af
      RequestId:
      - 75599836-c6ec-4a40-9535-548aef503e14
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - bc6528fe-d181-4eb3-af13-83b19006e5af
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "DataPipeline", "description": "Created by fab", "displayName":
      "fabcli000005", "definition": {"parts": [{"path": "pipeline-content.json", "payload":
      "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==", "payloadType":
      "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJ[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bf7aa7e9-c207-4881-bacc-0a901ead3ccf/folders/efbf6077-b834-4c65-a7fa-07b84a376055
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 74fd4293-9401-45d4-b29b-94b42dc9e7b1
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0f5eceeb-0d3a-401d-886d-828c49632fae
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1994860b-21fa-4d41-9513-581fb254294e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bf7aa7e9-c207-4881-bacc-0a901ead3ccf
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 77d8edc0-b976-4dab-b639-3fbb4fe5fdb9
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
