interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "24485b9e-c07f-4bcd-913d-cefcfbc942f4", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9dc6e5cd-ddcd-4755-80a6-7f5cfe0a68a4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9b5f407f-9ceb-400d-b0ab-0139a68a9f45
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "e7b6e016-ab57-4043-a6e4-b0116e74f7e7", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/e7b6e016-ab57-4043-a6e4-b0116e74f7e7
      RequestId:
      - 6d0854d4-f770-4f7c-a264-74594ce2308a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e7b6e016-ab57-4043-a6e4-b0116e74f7e7/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3d2b786e-adf6-4f57-9249-6416ae473a88
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e7b6e016-ab57-4043-a6e4-b0116e74f7e7/folders
  response:
    body:
      string: '{"id": "cf0b080f-5769-4a8e-8255-5ffb3ca1e37c", "displayName": "fabcli000003",
        "workspaceId": "e7b6e016-ab57-4043-a6e4-b0116e74f7e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/e7b6e016-ab57-4043-a6e4-b0116e74f7e7/folders/cf0b080f-5769-4a8e-8255-5ffb3ca1e37c
      RequestId:
      - 97ce9118-b5b4-47aa-a535-7cecdfa6c95a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e7b6e016-ab57-4043-a6e4-b0116e74f7e7/folders?recursive=True
  response:
    body:
      string: '{"requestId": "6ab36306-3508-4fc8-b39a-5e914758d101", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        1/19/2026 2:41:17 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6ab36306-3508-4fc8-b39a-5e914758d101
      Retry-After:
      - '6'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e7b6e016-ab57-4043-a6e4-b0116e74f7e7/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0b31cc05-d831-4042-9681-01df536b0ca4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "MLExperiment", "folderId": "cf0b080f-5769-4a8e-8255-5ffb3ca1e37c"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e7b6e016-ab57-4043-a6e4-b0116e74f7e7/mlExperiments
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8798c2aa-ac3d-4512-9329-666c5c622dc2
      RequestId:
      - 7cb3d3ad-f637-4599-ae25-d92cb188a733
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 8798c2aa-ac3d-4512-9329-666c5c622dc2
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8798c2aa-ac3d-4512-9329-666c5c622dc2
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T14:41:20.9296102",
        "lastUpdatedTimeUtc": "2026-01-19T14:41:22.3830387", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8798c2aa-ac3d-4512-9329-666c5c622dc2/result
      RequestId:
      - e6451eb7-f630-4752-a9ea-92809766e7f0
      x-ms-operation-id:
      - 8798c2aa-ac3d-4512-9329-666c5c622dc2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8798c2aa-ac3d-4512-9329-666c5c622dc2/result
  response:
    body:
      string: '{"id": "5d2977dc-0645-481d-8d68-772a21c21873", "type": "MLExperiment",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "e7b6e016-ab57-4043-a6e4-b0116e74f7e7", "folderId": "cf0b080f-5769-4a8e-8255-5ffb3ca1e37c"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b39fb1ab-d39c-4cb4-aa61-ca214d466277
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e7b6e016-ab57-4043-a6e4-b0116e74f7e7/items/5d2977dc-0645-481d-8d68-772a21c21873
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e75c7b1f-646a-4212-8709-32c64ea748fd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e7b6e016-ab57-4043-a6e4-b0116e74f7e7/folders/cf0b080f-5769-4a8e-8255-5ffb3ca1e37c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 51b06787-c835-45b0-aab0-51a46e75a26c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e7b6e016-ab57-4043-a6e4-b0116e74f7e7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5cdfc535-2abe-401e-8b70-08519fcff16e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/dec2c7ce-b289-4a52-b986-41885f369791
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - efb3fd76-b202-478d-b3c3-da8c699b393c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
