interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b1987dcd-b45c-4ba9-a9b6-bf7886f473a1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9e0250c7-1cef-475e-9a34-ef0b1c84b57d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a3748c28-f3fa-47c4-ac31-9878af1ceab5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "c888bcdf-71fa-4ba5-bab9-3fbec377aa2a", "displayName": "fabcli000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/c888bcdf-71fa-4ba5-bab9-3fbec377aa2a
      RequestId:
      - adc3a526-09b1-4dd8-99b0-2dde8bc2c6b6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c888bcdf-71fa-4ba5-bab9-3fbec377aa2a/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 67155ef3-09b4-4982-b826-62aa8d437954
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c888bcdf-71fa-4ba5-bab9-3fbec377aa2a/folders
  response:
    body:
      string: '{"id": "06ca94aa-2456-4ddf-a53e-f41bce88c0bb", "displayName": "fabcli000003",
        "workspaceId": "c888bcdf-71fa-4ba5-bab9-3fbec377aa2a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/c888bcdf-71fa-4ba5-bab9-3fbec377aa2a/folders/06ca94aa-2456-4ddf-a53e-f41bce88c0bb
      RequestId:
      - ac7abd50-8060-4bda-92b8-19c9e7df1f7b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"displayName": "fabcli000004", "parentFolderId": "06ca94aa-2456-4ddf-a53e-f41bce88c0bb"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c888bcdf-71fa-4ba5-bab9-3fbec377aa2a/folders
  response:
    body:
      string: '{"id": "170128a0-234a-431b-b133-4fc0dc6c2258", "displayName": "fabcli000004",
        "parentFolderId": "06ca94aa-2456-4ddf-a53e-f41bce88c0bb", "workspaceId": "c888bcdf-71fa-4ba5-bab9-3fbec377aa2a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/c888bcdf-71fa-4ba5-bab9-3fbec377aa2a/folders/170128a0-234a-431b-b133-4fc0dc6c2258
      RequestId:
      - e63d532d-ba5a-4e9a-9133-77b66d884ab4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c888bcdf-71fa-4ba5-bab9-3fbec377aa2a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f2f29115-7d42-4815-bea6-38828db3523e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000006", "type": "Notebook", "folderId": "06ca94aa-2456-4ddf-a53e-f41bce88c0bb",
      "definition": {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c888bcdf-71fa-4ba5-bab9-3fbec377aa2a/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/025878ab-d2ee-4925-bb4d-4926ed3ef8a0
      RequestId:
      - 2bf7ec5a-ec37-4155-87bc-c9e6bf9dc360
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 025878ab-d2ee-4925-bb4d-4926ed3ef8a0
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/025878ab-d2ee-4925-bb4d-4926ed3ef8a0
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-20T09:06:28.7327109",
        "lastUpdatedTimeUtc": "2026-05-20T09:06:30.5728068", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/025878ab-d2ee-4925-bb4d-4926ed3ef8a0/result
      RequestId:
      - fbea703a-c440-4152-b4b3-32a793785b0d
      x-ms-operation-id:
      - 025878ab-d2ee-4925-bb4d-4926ed3ef8a0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/025878ab-d2ee-4925-bb4d-4926ed3ef8a0/result
  response:
    body:
      string: '{"id": "0485d3f6-d4ac-42e9-89da-b1411eb85bf0", "type": "Notebook",
        "displayName": "fabcli000006", "description": "", "workspaceId": "c888bcdf-71fa-4ba5-bab9-3fbec377aa2a",
        "folderId": "06ca94aa-2456-4ddf-a53e-f41bce88c0bb"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 942901ea-6861-4365-b35b-cecdf4dcf7ad
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000007", "type": "SparkJobDefinition", "folderId":
      "170128a0-234a-431b-b133-4fc0dc6c2258"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c888bcdf-71fa-4ba5-bab9-3fbec377aa2a/sparkJobDefinitions
  response:
    body:
      string: '{"id": "e0829343-6e57-4aa6-b665-6913f1c56998", "type": "SparkJobDefinition",
        "displayName": "fabcli000007", "description": "", "workspaceId": "c888bcdf-71fa-4ba5-bab9-3fbec377aa2a",
        "folderId": "170128a0-234a-431b-b133-4fc0dc6c2258"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 2fdf3ad8-b48c-439e-9c7a-079678357369
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c888bcdf-71fa-4ba5-bab9-3fbec377aa2a/items/0485d3f6-d4ac-42e9-89da-b1411eb85bf0
  response:
    body:
      string: '{"id": "0485d3f6-d4ac-42e9-89da-b1411eb85bf0", "type": "Notebook",
        "displayName": "fabcli000006", "description": "", "workspaceId": "c888bcdf-71fa-4ba5-bab9-3fbec377aa2a",
        "folderId": "06ca94aa-2456-4ddf-a53e-f41bce88c0bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9ae2d317-e973-4977-9f95-e5434912c8d2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c888bcdf-71fa-4ba5-bab9-3fbec377aa2a/items/0485d3f6-d4ac-42e9-89da-b1411eb85bf0/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fcb599cc-c191-4ed5-9c5b-a5ee05efb983
      RequestId:
      - 47b36c25-e86c-4c33-a365-7ba1372d8fc3
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - fcb599cc-c191-4ed5-9c5b-a5ee05efb983
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "SparkJobDefinition", "displayName": "fabcli000007", "definition":
      {"parts": [{"path": "SparkJobDefinitionV1.json", "payload": "ew0KICAiZXhlY3V0YWJsZUZpbGUiOiBudWxsLA0KICAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiBudWxsLA0KICAibWFpbkNsYXNzIjogbnVsbCwNCiAgImFkZGl0aW9uYWxMYWtlaG91c2VJZHMiOiBbXSwNCiAgInJldHJ5UG9saWN5IjogbnVsbCwNCiAgImNvbW1hbmRMaW5lQXJndW1lbnRzIjogbnVsbCwNCiAgImFkZGl0aW9uYWxMaWJyYXJ5VXJpcyI6IG51bGwsDQogICJsYW5ndWFnZSI6IG51bGwsDQogICJlbnZpcm9ubWVudEF[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c888bcdf-71fa-4ba5-bab9-3fbec377aa2a/folders/170128a0-234a-431b-b133-4fc0dc6c2258
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c559173c-94e5-4d72-ae97-eb1c8723e42e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c888bcdf-71fa-4ba5-bab9-3fbec377aa2a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 51df5944-9f5c-4c24-9329-bce04d1e05d2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9cd05d4b-a608-4a24-aa00-8723a03369bf
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - bfe40a2d-6378-4a9e-bd7e-5a4bcd1488b4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
