interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b1987dcd-b45c-4ba9-a9b6-bf7886f473a1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9e190386-a833-4a22-b9c8-1c247c099fc4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d4c50039-b360-4eee-ae6e-05d1683218a5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "d602cf01-30df-4b89-b458-b57093dfb7d1", "displayName": "fabcli000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/d602cf01-30df-4b89-b458-b57093dfb7d1
      RequestId:
      - 5f62b5a3-a25d-4205-bc4a-261e860371e3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d602cf01-30df-4b89-b458-b57093dfb7d1/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dd99c280-f93a-4063-bf06-f57a55904119
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d602cf01-30df-4b89-b458-b57093dfb7d1/folders
  response:
    body:
      string: '{"id": "3f83f176-d651-4140-8d2e-9200635c94e7", "displayName": "fabcli000003",
        "workspaceId": "d602cf01-30df-4b89-b458-b57093dfb7d1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/d602cf01-30df-4b89-b458-b57093dfb7d1/folders/3f83f176-d651-4140-8d2e-9200635c94e7
      RequestId:
      - 4187ea9c-60a4-49e4-8db3-e0d9f78e8c4f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d602cf01-30df-4b89-b458-b57093dfb7d1/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 196d799a-b729-413a-8d68-d8b014e41afc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000005", "type": "Notebook", "folderId": "3f83f176-d651-4140-8d2e-9200635c94e7",
      "definition": {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d602cf01-30df-4b89-b458-b57093dfb7d1/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/599bcdc2-b967-44e9-b5f7-c359d7ac617d
      RequestId:
      - 8265372c-804c-4343-8373-a0ea8e022b43
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 599bcdc2-b967-44e9-b5f7-c359d7ac617d
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/599bcdc2-b967-44e9-b5f7-c359d7ac617d
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-20T09:09:56.2101992",
        "lastUpdatedTimeUtc": "2026-05-20T09:09:57.965755", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/599bcdc2-b967-44e9-b5f7-c359d7ac617d/result
      RequestId:
      - c279aec3-f443-4331-a4db-9f21f27d2e0f
      x-ms-operation-id:
      - 599bcdc2-b967-44e9-b5f7-c359d7ac617d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/599bcdc2-b967-44e9-b5f7-c359d7ac617d/result
  response:
    body:
      string: '{"id": "1a7d1285-36f8-4bca-a940-ecf1ed9345de", "type": "Notebook",
        "displayName": "fabcli000005", "description": "", "workspaceId": "d602cf01-30df-4b89-b458-b57093dfb7d1",
        "folderId": "3f83f176-d651-4140-8d2e-9200635c94e7"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 1387eb11-ba05-4ee3-b6bb-86ce9b2cc8ef
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000003", "parentFolderId": "c44f5fca-9378-493c-afe9-ad54c5fba920"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/020b4c31-2ffb-401e-832b-39cb0808553d/folders
  response:
    body:
      string: '{"id": "fcb8f2b8-63f8-4c1e-88cd-d44741aaec85", "displayName": "fabcli000003",
        "parentFolderId": "c44f5fca-9378-493c-afe9-ad54c5fba920", "workspaceId": "020b4c31-2ffb-401e-832b-39cb0808553d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/020b4c31-2ffb-401e-832b-39cb0808553d/folders/fcb8f2b8-63f8-4c1e-88cd-d44741aaec85
      RequestId:
      - 8d521570-0186-4a98-946c-b526c225fe3f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d602cf01-30df-4b89-b458-b57093dfb7d1/items/1a7d1285-36f8-4bca-a940-ecf1ed9345de
  response:
    body:
      string: '{"id": "1a7d1285-36f8-4bca-a940-ecf1ed9345de", "type": "Notebook",
        "displayName": "fabcli000005", "description": "", "workspaceId": "d602cf01-30df-4b89-b458-b57093dfb7d1",
        "folderId": "3f83f176-d651-4140-8d2e-9200635c94e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ef88ab80-9153-485c-8ed5-b9abfeffcc89
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d602cf01-30df-4b89-b458-b57093dfb7d1/items/1a7d1285-36f8-4bca-a940-ecf1ed9345de/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ce08e980-20f8-481d-8ca2-8ccf188caebb
      RequestId:
      - 97c15011-83e0-4390-b05b-2c0e491915ba
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ce08e980-20f8-481d-8ca2-8ccf188caebb
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/020b4c31-2ffb-401e-832b-39cb0808553d/folders/fcb8f2b8-63f8-4c1e-88cd-d44741aaec85
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8e7ba776-4398-4ada-8ce6-3de8bbf86e30
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d602cf01-30df-4b89-b458-b57093dfb7d1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1d4f1b6b-8ac7-42de-bb11-266f5f814860
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/020b4c31-2ffb-401e-832b-39cb0808553d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f20a431d-1ae8-4f89-afe2-afa3e5a9f247
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
