interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e0c56f4e-e523-4a5a-84b3-0cc7285a0897",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 44ac7b39-19c5-4453-a8c3-b32ea397fee9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8a82fc1e-2c9b-40e1-aa4a-ee80a3d43fef
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/lakehouses
  response:
    body:
      string: '{"id": "77587e55-5a21-4da2-a8df-69aa9482fe5c", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e0c56f4e-e523-4a5a-84b3-0cc7285a0897"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 45eb2db2-0282-4973-b61e-97e9f5fe4ae7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/77587e55-5a21-4da2-a8df-69aa9482fe5c/Files/test_cp_lo2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DE6553A4A3A200"'
      Last-Modified:
      - Fri, 06 Feb 2026 07:45:05 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/77587e55-5a21-4da2-a8df-69aa9482fe5c/Files/test_cp_lo2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/77587e55-5a21-4da2-a8df-69aa9482fe5c/Files/test_cp_lo2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DE6553A62D5F58"'
      Last-Modified:
      - Fri, 06 Feb 2026 07:45:07 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/?recursive=false&resource=filesystem&directory=77587e55-5a21-4da2-a8df-69aa9482fe5c%2FFiles&getShortcutMetadata=true
  response:
    body:
      string: '{"paths": [{"name": "77587e55-5a21-4da2-a8df-69aa9482fe5c/Files/test_cp_lo2ol.txt",
        "creationTime": "134148375052067328", "lastModified": "Fri, 06 Feb 2026 07:45:07
        GMT", "etag": "0x8DE6553A62D5F58", "contentLength": "13", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "permissions": "rw-r-----",
        "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/77587e55-5a21-4da2-a8df-69aa9482fe5c/Files/renamed_test_cp_lo2ol.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/77587e55-5a21-4da2-a8df-69aa9482fe5c/Files/renamed_test_cp_lo2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DE6553AB1CAE90"'
      Last-Modified:
      - Fri, 06 Feb 2026 07:45:16 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/77587e55-5a21-4da2-a8df-69aa9482fe5c/Files/renamed_test_cp_lo2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/77587e55-5a21-4da2-a8df-69aa9482fe5c/Files/renamed_test_cp_lo2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DE6553AD45B320"'
      Last-Modified:
      - Fri, 06 Feb 2026 07:45:19 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0c56f4e-e523-4a5a-84b3-0cc7285a0897/items/77587e55-5a21-4da2-a8df-69aa9482fe5c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - dfcc78a0-cdcb-45e1-9b70-3198fce134f5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
