interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "b6433e07-5e1d-4d5f-9124-b0be37fa7997", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fdfcffb6-2ff0-40b0-8b00-9ca539def89e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b6433e07-5e1d-4d5f-9124-b0be37fa7997/items
  response:
    body:
      string: '{"value": [{"id": "fc34db83-1e88-464b-a365-29ba70add24e", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "b6433e07-5e1d-4d5f-9124-b0be37fa7997"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 54b2a090-e2a9-48bd-932d-72891f3b8747
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b6433e07-5e1d-4d5f-9124-b0be37fa7997/dataPipelines
  response:
    body:
      string: '{"id": "ea79443b-0883-4787-a653-7fbe8c5fb082", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "b6433e07-5e1d-4d5f-9124-b0be37fa7997"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 71ac2e03-b6d9-4d84-a4db-df1a29a0f5fe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "MLModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b6433e07-5e1d-4d5f-9124-b0be37fa7997/mlModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c678566f-f467-4007-b436-baa54ced0a7d
      RequestId:
      - f5a73ffe-7fa3-4a74-a2a0-a4ecb35cc9e3
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - c678566f-f467-4007-b436-baa54ced0a7d
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c678566f-f467-4007-b436-baa54ced0a7d
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T14:15:33.4725801",
        "lastUpdatedTimeUtc": "2026-01-19T14:15:34.0195595", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c678566f-f467-4007-b436-baa54ced0a7d/result
      RequestId:
      - 2b21abb1-7e42-4aca-b599-5b6dd0cc449e
      x-ms-operation-id:
      - c678566f-f467-4007-b436-baa54ced0a7d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c678566f-f467-4007-b436-baa54ced0a7d/result
  response:
    body:
      string: '{"id": "b9aa7a36-233b-4d6a-9659-8a5e95a47649", "type": "MLModel", "displayName":
        "fabcli000002", "description": "Created by fab", "workspaceId": "b6433e07-5e1d-4d5f-9124-b0be37fa7997"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 4ccec90c-f14b-4393-82f3-f0f0f6659e70
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b6433e07-5e1d-4d5f-9124-b0be37fa7997/items/b9aa7a36-233b-4d6a-9659-8a5e95a47649
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6c962dbe-5819-4ddf-8105-0fca76ece2cb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b6433e07-5e1d-4d5f-9124-b0be37fa7997/items/ea79443b-0883-4787-a653-7fbe8c5fb082
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 793108a3-bf32-4ab0-95c2-3d476b8cabd5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
