interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e0c56f4e-e523-4a5a-84b3-0cc7285a0897",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5af01cf5-75b0-4639-a304-b91b26c57cae
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 01a49bd0-235e-4226-982c-c95736b015e4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "30763b40-c9c2-4527-9246-d12086f5b498", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/30763b40-c9c2-4527-9246-d12086f5b498
      RequestId:
      - 64b5c0fb-cb4c-4554-afd9-854a065ff73e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/30763b40-c9c2-4527-9246-d12086f5b498/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 51ef95c8-9512-4669-859c-5fecc964a4d8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/30763b40-c9c2-4527-9246-d12086f5b498/folders
  response:
    body:
      string: '{"id": "40291a18-8b1f-4762-a94e-1f35b90a4a90", "displayName": "fabcli000003",
        "workspaceId": "30763b40-c9c2-4527-9246-d12086f5b498"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/30763b40-c9c2-4527-9246-d12086f5b498/folders/40291a18-8b1f-4762-a94e-1f35b90a4a90
      RequestId:
      - 607935b2-ef91-465d-8684-4d178b7e8d6e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/30763b40-c9c2-4527-9246-d12086f5b498/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ec42160a-c29f-4d51-b891-bf399f54f3e5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "Notebook", "folderId": "40291a18-8b1f-4762-a94e-1f35b90a4a90", "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/30763b40-c9c2-4527-9246-d12086f5b498/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/068dc9d6-255c-4014-817d-6d3bcae0dbdf
      RequestId:
      - a3643cc3-f1d5-421a-b58d-8520d895ab3f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 068dc9d6-255c-4014-817d-6d3bcae0dbdf
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/068dc9d6-255c-4014-817d-6d3bcae0dbdf
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-06T08:25:25.9069726",
        "lastUpdatedTimeUtc": "2026-02-06T08:25:27.3450818", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/068dc9d6-255c-4014-817d-6d3bcae0dbdf/result
      RequestId:
      - 356d19f7-35a5-4ddf-8058-dc69d192f943
      x-ms-operation-id:
      - 068dc9d6-255c-4014-817d-6d3bcae0dbdf
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/068dc9d6-255c-4014-817d-6d3bcae0dbdf/result
  response:
    body:
      string: '{"id": "5c04201e-d9f3-49d1-9e6c-5f875c4835fd", "type": "Notebook",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "30763b40-c9c2-4527-9246-d12086f5b498", "folderId": "40291a18-8b1f-4762-a94e-1f35b90a4a90"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 11f38018-3f37-49de-8517-958477563451
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/30763b40-c9c2-4527-9246-d12086f5b498/items/5c04201e-d9f3-49d1-9e6c-5f875c4835fd
  response:
    body:
      string: '{"id": "5c04201e-d9f3-49d1-9e6c-5f875c4835fd", "type": "Notebook",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "30763b40-c9c2-4527-9246-d12086f5b498", "folderId": "40291a18-8b1f-4762-a94e-1f35b90a4a90"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 10c7b30e-e9d2-4f30-942e-7ba8d1b9cf87
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/30763b40-c9c2-4527-9246-d12086f5b498/items/5c04201e-d9f3-49d1-9e6c-5f875c4835fd/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/319283ea-0a3e-44ca-9a21-33639e9333bc
      RequestId:
      - f53082fb-1e6b-4667-b194-f2e847cb2aba
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 319283ea-0a3e-44ca-9a21-33639e9333bc
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5d9e9502-f2b7-49f2-8ddc-f8381d07b760/folders/a0ea3aa1-61e3-4b93-b71b-25f4bd03c3ea
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4b1d4693-3873-43e7-9987-81dbff4783e9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/30763b40-c9c2-4527-9246-d12086f5b498/folders?recursive=True
  response:
    body:
      string: '{"requestId": "842652fa-b851-495a-9397-5feebfc24f79", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/6/2026 8:27:56 AM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 842652fa-b851-495a-9397-5feebfc24f79
      Retry-After:
      - '44'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/30763b40-c9c2-4527-9246-d12086f5b498
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6792e822-8ceb-4aa8-9e10-4356aa3d701b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5d9e9502-f2b7-49f2-8ddc-f8381d07b760
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 62ed4299-1a5a-4a5b-9d31-efff7e860622
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
