interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 066ba2fa-cee5-4d7e-85fd-c963fd30f492
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cffd8934-0e05-4c9b-8549-50814f55583c
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "9417c456-60df-436f-bd3e-0240daf4fe75", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/9417c456-60df-436f-bd3e-0240daf4fe75
      RequestId:
      - d3b3cb86-80b2-45e3-a9d4-1e11999936b0
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9417c456-60df-436f-bd3e-0240daf4fe75/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ca9f1d5c-0bd6-4faa-a8a2-147a3b79fb94
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9417c456-60df-436f-bd3e-0240daf4fe75/folders
  response:
    body:
      string: '{"id": "bb0c90b9-9186-48a6-b3ad-7a1716a085fc", "displayName": "fabcli000003",
        "workspaceId": "9417c456-60df-436f-bd3e-0240daf4fe75"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/9417c456-60df-436f-bd3e-0240daf4fe75/folders/bb0c90b9-9186-48a6-b3ad-7a1716a085fc
      RequestId:
      - 2b330a7c-0b0a-427c-ac9c-2b4f8f90fb2c
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9417c456-60df-436f-bd3e-0240daf4fe75/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4c1fad84-1cdb-4abd-bd8c-c216f74b6ac1
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "Notebook", "folderId": "bb0c90b9-9186-48a6-b3ad-7a1716a085fc", "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9417c456-60df-436f-bd3e-0240daf4fe75/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/297e8c39-b2ef-4186-8122-032691ab8637
      RequestId:
      - f1a24775-672d-4bf1-b0bc-3685c751f460
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 297e8c39-b2ef-4186-8122-032691ab8637
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/297e8c39-b2ef-4186-8122-032691ab8637
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-08T14:24:07.4167887",
        "lastUpdatedTimeUtc": "2025-09-08T14:24:09.4793239", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/297e8c39-b2ef-4186-8122-032691ab8637/result
      RequestId:
      - 16bda0e1-dc7f-490a-abdb-74ae7e8b1f30
      x-ms-operation-id:
      - 297e8c39-b2ef-4186-8122-032691ab8637
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/297e8c39-b2ef-4186-8122-032691ab8637/result
  response:
    body:
      string: '{"id": "78b92bf4-5f05-4f25-ad04-88a30ec35d57", "type": "Notebook",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "9417c456-60df-436f-bd3e-0240daf4fe75", "folderId": "bb0c90b9-9186-48a6-b3ad-7a1716a085fc"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 8edcc352-0dca-43dd-90e1-b01b801f924b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9417c456-60df-436f-bd3e-0240daf4fe75/folders?recursive=True
  response:
    body:
      string: '{"requestId": "5fec6d7c-a1c2-4c92-9d78-2e60df65227e", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        9/8/2025 2:24:40 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5fec6d7c-a1c2-4c92-9d78-2e60df65227e
      Retry-After:
      - '10'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9417c456-60df-436f-bd3e-0240daf4fe75/items/78b92bf4-5f05-4f25-ad04-88a30ec35d57
  response:
    body:
      string: '{"id": "78b92bf4-5f05-4f25-ad04-88a30ec35d57", "type": "Notebook",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "9417c456-60df-436f-bd3e-0240daf4fe75", "folderId": "bb0c90b9-9186-48a6-b3ad-7a1716a085fc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - fa73c389-4dfb-496a-a521-ea5499c70e39
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9417c456-60df-436f-bd3e-0240daf4fe75/items/78b92bf4-5f05-4f25-ad04-88a30ec35d57/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/2fd90297-97b4-487e-9d11-204f6877ef9b
      RequestId:
      - dcf69e43-258b-4f87-ac1e-34c8cdd9066d
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 2fd90297-97b4-487e-9d11-204f6877ef9b
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/04d4e19b-b223-4a61-85ef-bb6d2fff51e7/folders/0e2cdc4f-7c93-4715-90a7-69a53245459c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 20188b8b-6b51-4218-b732-911f583f73b5
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9417c456-60df-436f-bd3e-0240daf4fe75
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - fbf207e1-ffda-472b-9b52-85f11c2818c8
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/04d4e19b-b223-4a61-85ef-bb6d2fff51e7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 29250ea3-83f9-4ef6-ab8b-d1546788b842
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
