interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a89fefa3-fce2-478e-a1b1-aba5d536efae
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d3c3d603-b043-4aa6-87ed-9b1c766b652a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/lakehouses
  response:
    body:
      string: '{"id": "03a32ea4-daec-4167-9158-67048574c698", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 654ca3a0-63ba-41c4-b553-a71d2857267e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/03a32ea4-daec-4167-9158-67048574c698/Files/test_cp_lo2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DDEEE330CC4440"'
      Last-Modified:
      - Mon, 08 Sep 2025 14:22:50 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/03a32ea4-daec-4167-9158-67048574c698/Files/test_cp_lo2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/03a32ea4-daec-4167-9158-67048574c698/Files/test_cp_lo2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DDEEE331528AE4"'
      Last-Modified:
      - Mon, 08 Sep 2025 14:22:50 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/?recursive=false&resource=filesystem&directory=03a32ea4-daec-4167-9158-67048574c698%2FFiles&getShortcutMetadata=true
  response:
    body:
      string: '{"paths": [{"name": "03a32ea4-daec-4167-9158-67048574c698/Files/test_cp_lo2ol.txt",
        "creationTime": "134018149700158528", "lastModified": "Mon, 08 Sep 2025 14:22:50
        GMT", "etag": "0x8DDEEE331528AE4", "contentLength": "13", "owner": "954b20be-abdc-4fbc-9e27-545547e1c715",
        "group": "954b20be-abdc-4fbc-9e27-545547e1c715", "permissions": "rw-r-----",
        "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/03a32ea4-daec-4167-9158-67048574c698/Files/renamed_test_cp_lo2ol.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/03a32ea4-daec-4167-9158-67048574c698/Files/renamed_test_cp_lo2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DDEEE332804200"'
      Last-Modified:
      - Mon, 08 Sep 2025 14:22:52 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/03a32ea4-daec-4167-9158-67048574c698/Files/renamed_test_cp_lo2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/03a32ea4-daec-4167-9158-67048574c698/Files/renamed_test_cp_lo2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DDEEE3334BA5B4"'
      Last-Modified:
      - Mon, 08 Sep 2025 14:22:54 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8/items/03a32ea4-daec-4167-9158-67048574c698
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 7fd34c9f-8708-4331-b4ec-0954c4e4bdf2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
