interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e2078d49-0bf9-4b28-8b1c-9a9b2245eaf8",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7a73670a-3e6f-42ed-95b3-37383d4191c1
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 76775e6b-7295-4381-baab-49a81626adb1
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "78459c7f-746a-4551-bce4-4c0544e2d9ce", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/78459c7f-746a-4551-bce4-4c0544e2d9ce
      RequestId:
      - a5f5923c-b09b-4404-9bb5-6d8c3cb8ac65
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/78459c7f-746a-4551-bce4-4c0544e2d9ce/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5d22a5df-9bc4-4b27-ab17-db4d6ad8b174
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/78459c7f-746a-4551-bce4-4c0544e2d9ce/folders
  response:
    body:
      string: '{"id": "a5836ffc-1041-42e0-819e-8c954dbaecd7", "displayName": "fabcli000003",
        "workspaceId": "78459c7f-746a-4551-bce4-4c0544e2d9ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/78459c7f-746a-4551-bce4-4c0544e2d9ce/folders/a5836ffc-1041-42e0-819e-8c954dbaecd7
      RequestId:
      - 2d20663e-f93c-4eb0-aeae-f302b5e01f46
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/78459c7f-746a-4551-bce4-4c0544e2d9ce/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7875edb1-f8fc-4051-a4ad-e49d5b04b9c8
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "Notebook", "folderId": "a5836ffc-1041-42e0-819e-8c954dbaecd7", "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/78459c7f-746a-4551-bce4-4c0544e2d9ce/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/36042134-ab11-4fc2-b12a-fe8b42e2fcce
      RequestId:
      - d8e569d7-48ac-4fed-8131-20edb5893642
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 36042134-ab11-4fc2-b12a-fe8b42e2fcce
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/36042134-ab11-4fc2-b12a-fe8b42e2fcce
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-08T14:38:23.8446149",
        "lastUpdatedTimeUtc": "2025-09-08T14:38:25.7353231", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/36042134-ab11-4fc2-b12a-fe8b42e2fcce/result
      RequestId:
      - b56ae9c2-ff48-4095-8ecc-a97341d4ece6
      x-ms-operation-id:
      - 36042134-ab11-4fc2-b12a-fe8b42e2fcce
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/36042134-ab11-4fc2-b12a-fe8b42e2fcce/result
  response:
    body:
      string: '{"id": "315947e0-5b87-4190-a657-01e83ff36ca3", "type": "Notebook",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "78459c7f-746a-4551-bce4-4c0544e2d9ce", "folderId": "a5836ffc-1041-42e0-819e-8c954dbaecd7"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 426a569f-dcc2-4a8f-937b-2dc5cab6bff5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/63bad8d0-5d75-4f14-a968-360a6e5a169c/folders?recursive=True
  response:
    body:
      string: '{"requestId": "2b7131bf-fe63-45ad-abcb-edb25ea67600", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        9/8/2025 2:39:22 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2b7131bf-fe63-45ad-abcb-edb25ea67600
      Retry-After:
      - '35'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/78459c7f-746a-4551-bce4-4c0544e2d9ce/items/315947e0-5b87-4190-a657-01e83ff36ca3
  response:
    body:
      string: '{"id": "315947e0-5b87-4190-a657-01e83ff36ca3", "type": "Notebook",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "78459c7f-746a-4551-bce4-4c0544e2d9ce", "folderId": "a5836ffc-1041-42e0-819e-8c954dbaecd7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 2696e2c1-6e56-46f1-bfa7-eeb4a6ef92e2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/78459c7f-746a-4551-bce4-4c0544e2d9ce/items/315947e0-5b87-4190-a657-01e83ff36ca3/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/b814c01d-c360-4278-a195-714b0ec66f26
      RequestId:
      - 652ef854-b843-4b74-a99f-051abf5e59e0
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b814c01d-c360-4278-a195-714b0ec66f26
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/78459c7f-746a-4551-bce4-4c0544e2d9ce/folders/a5836ffc-1041-42e0-819e-8c954dbaecd7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b07a71ad-babd-4ba3-a0fc-882929a412fa
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/78459c7f-746a-4551-bce4-4c0544e2d9ce
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 14db5feb-b2ee-4da5-b990-c34d1d699502
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/63bad8d0-5d75-4f14-a968-360a6e5a169c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9a7ed103-5dd4-4f9b-83f0-53e53af72b3b
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
