interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "ace730cf-7c25-4530-9b0a-403d51a84a39",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1bdb20ba-63b0-4dfc-9bfa-10baa2b84364
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 506daf51-dafe-475b-8c06-6bbfa7066d5a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "ed64433c-171c-4a24-9cfd-8c09e729a34c", "displayName": "fabcli000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/ed64433c-171c-4a24-9cfd-8c09e729a34c
      RequestId:
      - 982362b3-28d4-46bc-9efc-1de43c0c9dd5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed64433c-171c-4a24-9cfd-8c09e729a34c/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 490b4d29-3a7c-40f1-81f2-ed3f41044149
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000003", "type": "Notebook", "folderId": null, "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed64433c-171c-4a24-9cfd-8c09e729a34c/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/443d6a3a-4a04-40c0-8471-82ea2b43117c
      RequestId:
      - 839aec1a-b9fb-4062-a98c-9d42382b4a94
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 443d6a3a-4a04-40c0-8471-82ea2b43117c
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/443d6a3a-4a04-40c0-8471-82ea2b43117c
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-23T12:40:56.1090063",
        "lastUpdatedTimeUtc": "2026-04-23T12:40:58.0145778", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/443d6a3a-4a04-40c0-8471-82ea2b43117c/result
      RequestId:
      - 48a397a9-33b0-4aea-bdb4-a5ad76d59925
      x-ms-operation-id:
      - 443d6a3a-4a04-40c0-8471-82ea2b43117c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/443d6a3a-4a04-40c0-8471-82ea2b43117c/result
  response:
    body:
      string: '{"id": "de691bb3-4191-4e3f-b119-fd14d8248f37", "type": "Notebook",
        "displayName": "fabcli000003", "description": "", "workspaceId": "ed64433c-171c-4a24-9cfd-8c09e729a34c"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 672f3c4a-ed55-4bef-8467-acf7279e0f74
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000004", "type": "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed64433c-171c-4a24-9cfd-8c09e729a34c/dataPipelines
  response:
    body:
      string: '{"id": "3c4accdb-4d14-4dc1-974e-b59eaa4f489c", "type": "DataPipeline",
        "displayName": "fabcli000004", "description": "", "workspaceId": "ed64433c-171c-4a24-9cfd-8c09e729a34c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d50819f9-281e-40d1-9f49-9d460629c687
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed64433c-171c-4a24-9cfd-8c09e729a34c/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9b1095b3-24d7-4eb7-bb58-7dce15e9cc66
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000005"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed64433c-171c-4a24-9cfd-8c09e729a34c/folders
  response:
    body:
      string: '{"id": "072d7ba5-69a8-4ad2-8cfa-2622113df04e", "displayName": "fabcli000005",
        "workspaceId": "ed64433c-171c-4a24-9cfd-8c09e729a34c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/ed64433c-171c-4a24-9cfd-8c09e729a34c/folders/072d7ba5-69a8-4ad2-8cfa-2622113df04e
      RequestId:
      - 14b31b5a-75b5-48a8-b630-7790aa29170c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"displayName": "fabcli000006", "type": "SparkJobDefinition", "folderId":
      "072d7ba5-69a8-4ad2-8cfa-2622113df04e"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed64433c-171c-4a24-9cfd-8c09e729a34c/sparkJobDefinitions
  response:
    body:
      string: '{"id": "e370d96c-07fc-4fd7-b39b-1535f95e66ea", "type": "SparkJobDefinition",
        "displayName": "fabcli000006", "description": "", "workspaceId": "ed64433c-171c-4a24-9cfd-8c09e729a34c",
        "folderId": "072d7ba5-69a8-4ad2-8cfa-2622113df04e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 1bf1ad3a-5d85-42db-9424-f3be5a8e245b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed64433c-171c-4a24-9cfd-8c09e729a34c/items/de691bb3-4191-4e3f-b119-fd14d8248f37
  response:
    body:
      string: '{"id": "de691bb3-4191-4e3f-b119-fd14d8248f37", "type": "Notebook",
        "displayName": "fabcli000003", "description": "", "workspaceId": "ed64433c-171c-4a24-9cfd-8c09e729a34c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - fe902025-5033-46e6-84ef-e7542adcd04d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed64433c-171c-4a24-9cfd-8c09e729a34c/items/de691bb3-4191-4e3f-b119-fd14d8248f37/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cf660bb6-96e5-4606-be18-5909b22267d8
      RequestId:
      - 345a9068-2069-416d-a328-8ff750b5a519
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - cf660bb6-96e5-4606-be18-5909b22267d8
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "DataPipeline", "displayName": "fabcli000004", "definition": {"parts":
      [{"path": "pipeline-content.json", "payload": "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRhdG[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed64433c-171c-4a24-9cfd-8c09e729a34c/folders/072d7ba5-69a8-4ad2-8cfa-2622113df04e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3a9e2fc5-87a5-4435-beab-c8eab31f1b23
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed64433c-171c-4a24-9cfd-8c09e729a34c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 20466da4-bfc1-42ba-a35c-7bfe5e2cc515
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b0c6f754-3685-4dc9-a679-2eb046618f22
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 68f0b1f6-8e0c-4f73-aa64-9b5a631ba266
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
