interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4a5d36db-b7c1-4b14-a4d7-57200d02ddd0",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c86460d9-d285-4e8d-b2da-d934f2173641
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f1917fbe-41df-410b-852e-1d078ecca4c2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/lakehouses
  response:
    body:
      string: '{"id": "adad6005-e1d8-4eed-b974-200754cc653a", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "", "workspaceId": "4a5d36db-b7c1-4b14-a4d7-57200d02ddd0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7268244b-012b-4690-b427-ebfc7f10d8a7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/adad6005-e1d8-4eed-b974-200754cc653a/Files/test_cp_lo2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB0D81EC4B948"'
      Last-Modified:
      - Wed, 13 May 2026 10:12:20 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/adad6005-e1d8-4eed-b974-200754cc653a/Files/test_cp_lo2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/adad6005-e1d8-4eed-b974-200754cc653a/Files/test_cp_lo2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB0D82131AC78"'
      Last-Modified:
      - Wed, 13 May 2026 10:12:24 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/?recursive=false&resource=filesystem&directory=adad6005-e1d8-4eed-b974-200754cc653a%2FFiles&getShortcutMetadata=true
  response:
    body:
      string: '{"paths": [{"name": "adad6005-e1d8-4eed-b974-200754cc653a/Files/test_cp_lo2ol.txt",
        "creationTime": "134231407408822600", "lastModified": "Wed, 13 May 2026 10:12:24
        GMT", "etag": "0x8DEB0D82131AC78", "contentLength": "13", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "permissions": "rw-r-----",
        "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/adad6005-e1d8-4eed-b974-200754cc653a/Files/renamed_test_cp_lo2ol.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/adad6005-e1d8-4eed-b974-200754cc653a/Files/renamed_test_cp_lo2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB0D827F880B8"'
      Last-Modified:
      - Wed, 13 May 2026 10:12:36 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/adad6005-e1d8-4eed-b974-200754cc653a/Files/renamed_test_cp_lo2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/adad6005-e1d8-4eed-b974-200754cc653a/Files/renamed_test_cp_lo2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB0D8298E40C8"'
      Last-Modified:
      - Wed, 13 May 2026 10:12:38 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4a5d36db-b7c1-4b14-a4d7-57200d02ddd0/items/adad6005-e1d8-4eed-b974-200754cc653a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c3c22b8d-e5c2-4778-a527-4de8f0e269f7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
