interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "dd4a3840-6092-4010-b29b-05668197a9f5",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8d19e056-a587-4a50-995a-ba18a72ab84f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8a39cf43-6a9e-4761-8ef2-2cbf9d34c59f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "ed96e1b1-f566-4956-9f70-572eb26c1c64", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/ed96e1b1-f566-4956-9f70-572eb26c1c64
      RequestId:
      - 1ef3024d-91a1-4362-a31a-5f203f9258ae
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed96e1b1-f566-4956-9f70-572eb26c1c64/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c31e3c85-e2a4-45e9-b5cb-ff1fafd58ac2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed96e1b1-f566-4956-9f70-572eb26c1c64/folders
  response:
    body:
      string: '{"id": "0525ad50-e192-404e-91d4-54bb4c353412", "displayName": "fabcli000003",
        "workspaceId": "ed96e1b1-f566-4956-9f70-572eb26c1c64"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/ed96e1b1-f566-4956-9f70-572eb26c1c64/folders/0525ad50-e192-404e-91d4-54bb4c353412
      RequestId:
      - a40de048-2f75-4b1e-83b8-ef2dcca2a1e1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed96e1b1-f566-4956-9f70-572eb26c1c64/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8b31692a-5e4d-4f6c-b582-a48df099ec30
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "DigitalTwinBuilder", "folderId": "0525ad50-e192-404e-91d4-54bb4c353412"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed96e1b1-f566-4956-9f70-572eb26c1c64/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c33ac1e5-3304-44bf-b7de-0d668ef3069e
      RequestId:
      - 3f30de8f-1d0b-4eab-8e4b-b42e452a5cc4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - c33ac1e5-3304-44bf-b7de-0d668ef3069e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c33ac1e5-3304-44bf-b7de-0d668ef3069e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-14T12:52:35.2903449",
        "lastUpdatedTimeUtc": "2026-04-14T12:52:43.3221302", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c33ac1e5-3304-44bf-b7de-0d668ef3069e/result
      RequestId:
      - c990c2a8-3d0a-4382-8db5-e8fa7bc06b01
      x-ms-operation-id:
      - c33ac1e5-3304-44bf-b7de-0d668ef3069e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c33ac1e5-3304-44bf-b7de-0d668ef3069e/result
  response:
    body:
      string: '{"id": "d6121b05-e186-424a-97f3-72999e258035", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "ed96e1b1-f566-4956-9f70-572eb26c1c64", "folderId": "0525ad50-e192-404e-91d4-54bb4c353412"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 9c2e303b-e533-49e9-b42c-926c06c56d36
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed96e1b1-f566-4956-9f70-572eb26c1c64/items/d6121b05-e186-424a-97f3-72999e258035
  response:
    body:
      string: '{"id": "d6121b05-e186-424a-97f3-72999e258035", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "ed96e1b1-f566-4956-9f70-572eb26c1c64", "folderId": "0525ad50-e192-404e-91d4-54bb4c353412"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 0962bc37-18b4-4af3-b35c-f467d26d89f2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed96e1b1-f566-4956-9f70-572eb26c1c64/items/d6121b05-e186-424a-97f3-72999e258035/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f0e0ccfb-edc9-4f29-892f-c8fa19b2ad9f
      RequestId:
      - 4c72efb5-e4e1-4893-85c0-a4233ca27c92
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - f0e0ccfb-edc9-4f29-892f-c8fa19b2ad9f
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f0e0ccfb-edc9-4f29-892f-c8fa19b2ad9f/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiYjM5ZjlmZGEtNWNjMi00YWY1LTg1MDMtMDE0ODg1MmYyNjY5Ig0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDA0IiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 779f39ba-da7f-4c4b-8e33-bdb520a73689
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "DigitalTwinBuilder", "description": "Created by fab", "displayName":
      "fabcli000004", "definition": {"parts": [{"path": "definition.json", "payload":
      "ew0KICAiTGFrZWhvdXNlSWQiOiAiYjM5ZjlmZGEtNWNjMi00YWY1LTg1MDMtMDE0ODg1MmYyNjY5Ig0KfQ==",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2N[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d9cad26d-d6b7-426c-81db-5271f6008491/folders/f7f26ce6-e87f-4927-86d1-a2d6b51ec57d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 48eebd71-eaab-4364-817b-faae8cf68fa3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed96e1b1-f566-4956-9f70-572eb26c1c64/folders/0525ad50-e192-404e-91d4-54bb4c353412
  response:
    body:
      string: '{"requestId": "bf24d1e5-0275-4b83-ac1c-7982629e14f8", "errorCode":
        "FolderNotEmpty", "message": "The requested folder was not empty.", "relatedResource":
        {"resourceId": "0525ad50-e192-404e-91d4-54bb4c353412", "resourceType": "Folder"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bf24d1e5-0275-4b83-ac1c-7982629e14f8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - FolderNotEmpty
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ed96e1b1-f566-4956-9f70-572eb26c1c64
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f97d7f7d-f93b-45f0-a4f8-c9b9aaa62f27
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d9cad26d-d6b7-426c-81db-5271f6008491
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 682d9dc5-9826-4594-8d5f-c78dfc9bb8ca
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
