interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "24485b9e-c07f-4bcd-913d-cefcfbc942f4", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e609cc5b-1680-4559-93c3-898091da54e0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 28598573-f74c-4354-8f01-2f78df74b63c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "ffc0fed9-54e2-4987-8200-89f7794a9e65", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/ffc0fed9-54e2-4987-8200-89f7794a9e65
      RequestId:
      - 257cc045-8e97-48ff-8eee-ad7994de03bc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ffc0fed9-54e2-4987-8200-89f7794a9e65/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 366186f2-8010-402d-85d6-5aa3d163d9be
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ffc0fed9-54e2-4987-8200-89f7794a9e65/folders
  response:
    body:
      string: '{"id": "7b20b911-661f-4b65-8c58-6854f0f006fc", "displayName": "fabcli000003",
        "workspaceId": "ffc0fed9-54e2-4987-8200-89f7794a9e65"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/ffc0fed9-54e2-4987-8200-89f7794a9e65/folders/7b20b911-661f-4b65-8c58-6854f0f006fc
      RequestId:
      - 638c73c3-267a-42f1-894c-915800b1b73e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ffc0fed9-54e2-4987-8200-89f7794a9e65/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4f8a61c4-8a2f-4fbf-b20f-8c136e6e5738
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "Environment", "folderId": "7b20b911-661f-4b65-8c58-6854f0f006fc"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ffc0fed9-54e2-4987-8200-89f7794a9e65/environments
  response:
    body:
      string: '{"id": "b7adc495-b40f-4927-93d6-71db3e6e8014", "type": "Environment",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "ffc0fed9-54e2-4987-8200-89f7794a9e65", "folderId": "7b20b911-661f-4b65-8c58-6854f0f006fc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b745d79f-b76e-4f87-afe5-3fa2e68df944
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ffc0fed9-54e2-4987-8200-89f7794a9e65/folders?recursive=True
  response:
    body:
      string: '{"requestId": "62e770b9-3135-4a84-a6c5-47e564911cde", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        1/19/2026 2:33:55 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 62e770b9-3135-4a84-a6c5-47e564911cde
      Retry-After:
      - '6'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ffc0fed9-54e2-4987-8200-89f7794a9e65/items/b7adc495-b40f-4927-93d6-71db3e6e8014
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 7973154c-339e-481c-a923-c1cb84fb2007
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ffc0fed9-54e2-4987-8200-89f7794a9e65/folders/7b20b911-661f-4b65-8c58-6854f0f006fc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0d489489-5b6d-4bb6-86c4-4c274694291d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ffc0fed9-54e2-4987-8200-89f7794a9e65
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d5f0b77d-e1ac-430f-bf64-53625e24ced4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1265e1c0-c3cd-4aa5-875c-9d11270b8e37
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 88de8c11-d450-439b-9e4b-8cacd47b4381
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
