interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "86d2271b-2d35-4495-90ca-bacfec5cbb4d", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ddfa9bb7-4538-4805-a3c0-d6264178a6e3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/86d2271b-2d35-4495-90ca-bacfec5cbb4d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - af6ab9a1-e73b-46d8-acf7-62f2ea0cbb3a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/86d2271b-2d35-4495-90ca-bacfec5cbb4d/lakehouses
  response:
    body:
      string: '{"id": "79ae7d74-aed3-4b48-8e6e-de88f254233e", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "86d2271b-2d35-4495-90ca-bacfec5cbb4d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f6aa2f03-ee15-405d-883d-179157b108ee
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/86d2271b-2d35-4495-90ca-bacfec5cbb4d/79ae7d74-aed3-4b48-8e6e-de88f254233e/Files/test_cp_lakehouse.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/86d2271b-2d35-4495-90ca-bacfec5cbb4d/79ae7d74-aed3-4b48-8e6e-de88f254233e/Files/test_cp_lakehouse.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DE576669B49538"'
      Last-Modified:
      - Mon, 19 Jan 2026 14:24:10 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/86d2271b-2d35-4495-90ca-bacfec5cbb4d/79ae7d74-aed3-4b48-8e6e-de88f254233e/Files/test_cp_lakehouse.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/86d2271b-2d35-4495-90ca-bacfec5cbb4d/79ae7d74-aed3-4b48-8e6e-de88f254233e/Files/test_cp_lakehouse.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DE57666C3861B1"'
      Last-Modified:
      - Mon, 19 Jan 2026 14:24:14 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/86d2271b-2d35-4495-90ca-bacfec5cbb4d/79ae7d74-aed3-4b48-8e6e-de88f254233e/Files/test_cp_lakehouse.txt
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain
      ETag:
      - '"0x8DE57666C3861B1"'
      Last-Modified:
      - Mon, 19 Jan 2026 14:24:14 GMT
      x-ms-resource-type:
      - file
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/86d2271b-2d35-4495-90ca-bacfec5cbb4d/?recursive=false&resource=filesystem&directory=4806e645-98e0-45de-870e-10b75b73005b%2FFiles&getShortcutMetadata=true
  response:
    body:
      string: '{"paths": [{"name": "4806e645-98e0-45de-870e-10b75b73005b/Files/test_cp_lakehouse.txt",
        "creationTime": "134133062649538532", "lastModified": "Mon, 19 Jan 2026 14:24:29
        GMT", "etag": "0x8DE576674DCF9DD", "contentLength": "13", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "permissions": "rw-r-----",
        "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/86d2271b-2d35-4495-90ca-bacfec5cbb4d/items/4806e645-98e0-45de-870e-10b75b73005b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f34ddf68-22be-4135-b8c5-35f88730b320
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/86d2271b-2d35-4495-90ca-bacfec5cbb4d/items/79ae7d74-aed3-4b48-8e6e-de88f254233e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ae09f6fd-0af7-4464-89d0-feaecc4525f6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
