interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6443ccb7-667c-4523-b4b4-d90e9bc29b4a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4ce5fc03-e6ce-4efe-a927-9c1dbd084e13
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f5a3b1ad-a7a5-4155-92ed-83cc903e222a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "c6b8cf23-98c4-4c86-aa2c-8e3a0d1356d4", "displayName": "fabcli000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/c6b8cf23-98c4-4c86-aa2c-8e3a0d1356d4
      RequestId:
      - 15844fd2-6675-49e5-a832-d440d69458b8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c6b8cf23-98c4-4c86-aa2c-8e3a0d1356d4/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cb89406f-e454-4934-ac20-cbd3ed2a7540
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000003_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c6b8cf23-98c4-4c86-aa2c-8e3a0d1356d4/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cc840a9c-281d-487b-9698-c54b6c1b356e
      RequestId:
      - 8cc0c16b-b6f8-4ccd-8272-91036a718518
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - cc840a9c-281d-487b-9698-c54b6c1b356e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cc840a9c-281d-487b-9698-c54b6c1b356e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T05:53:10.514493",
        "lastUpdatedTimeUtc": "2026-05-13T05:53:20.4980441", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cc840a9c-281d-487b-9698-c54b6c1b356e/result
      RequestId:
      - f272f860-48f7-4609-b1ef-6522db2658a9
      x-ms-operation-id:
      - cc840a9c-281d-487b-9698-c54b6c1b356e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cc840a9c-281d-487b-9698-c54b6c1b356e/result
  response:
    body:
      string: '{"id": "49ef62f6-09bd-43f1-abd5-a8441bf3aef6", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000003_auto", "description": "", "workspaceId": "c6b8cf23-98c4-4c86-aa2c-8e3a0d1356d4"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 34bd41c9-a520-4b3b-8af9-2cc8d0970519
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000003", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "49ef62f6-09bd-43f1-abd5-a8441bf3aef6", "workspaceId": "c6b8cf23-98c4-4c86-aa2c-8e3a0d1356d4"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c6b8cf23-98c4-4c86-aa2c-8e3a0d1356d4/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "2be1b62b-8d7d-4b4b-afa9-25beda911c8f", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000003", "description": "", "workspaceId": "c6b8cf23-98c4-4c86-aa2c-8e3a0d1356d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ad765ce4-cc91-4024-9f23-a0de8e157ee8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c6b8cf23-98c4-4c86-aa2c-8e3a0d1356d4/items/2be1b62b-8d7d-4b4b-afa9-25beda911c8f
  response:
    body:
      string: '{"id": "2be1b62b-8d7d-4b4b-afa9-25beda911c8f", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000003", "description": "", "workspaceId": "c6b8cf23-98c4-4c86-aa2c-8e3a0d1356d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 29e6a361-3bfb-49c1-86b3-63e1c03b9ffe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c6b8cf23-98c4-4c86-aa2c-8e3a0d1356d4/items/2be1b62b-8d7d-4b4b-afa9-25beda911c8f/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/00387659-2e5a-45e6-a54e-18b1725c095f
      RequestId:
      - c11580e2-8e81-4e36-bab5-897a865cb1a7
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 00387659-2e5a-45e6-a54e-18b1725c095f
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/00387659-2e5a-45e6-a54e-18b1725c095f/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiRGlnaXRhbFR3aW5CdWlsZGVySWQiOiAiNDllZjYyZjYtMDliZC00M2YxLWFiZDUtYTg0NDFiZjNhZWY2IiwNCiAgIk9wZXJhdGlvbklkcyI6IFtdLA0KICAiSXNPbkRlbWFuZCI6IGZhbHNlDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlckZsb3ciLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMyIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 7c8982c8-9cfe-4920-a5bf-82825e65f9f9
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "DigitalTwinBuilderFlow", "displayName": "fabcli000003", "definition":
      {"parts": [{"path": "definition.json", "payload": "ew0KICAiRGlnaXRhbFR3aW5CdWlsZGVySWQiOiAiNDllZjYyZjYtMDliZC00M2YxLWFiZDUtYTg0NDFiZjNhZWY2IiwNCiAgIk9wZXJhdGlvbklkcyI6IFtdLA0KICAiSXNPbkRlbWFuZCI6IGZhbHNlDQp9",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c6b8cf23-98c4-4c86-aa2c-8e3a0d1356d4/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fd6eb5c6-b666-4ef3-90b5-16d7fc53cbce
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c6b8cf23-98c4-4c86-aa2c-8e3a0d1356d4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4359b968-6eec-4ee1-aa83-3666249bc299
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/06814133-02fc-47b5-a451-1aa6178364da
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ec24983f-aca5-4efb-9676-d4ee428a38ac
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
