interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "24485b9e-c07f-4bcd-913d-cefcfbc942f4", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3276d4fc-bae0-4665-b29e-2d6cb0df80ff
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 253abccc-56ae-49df-bbca-987e80461d70
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "9e6e979d-10c7-48c8-929b-27b5fa4762a0", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/9e6e979d-10c7-48c8-929b-27b5fa4762a0
      RequestId:
      - adf35b9a-a234-4dc8-999b-7c5d83c3e751
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9e6e979d-10c7-48c8-929b-27b5fa4762a0/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c4a68dd2-b175-4b4a-8fdd-d571f945a549
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9e6e979d-10c7-48c8-929b-27b5fa4762a0/folders
  response:
    body:
      string: '{"id": "678e5526-6646-4bae-afd5-32295035c6cf", "displayName": "fabcli000003",
        "workspaceId": "9e6e979d-10c7-48c8-929b-27b5fa4762a0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/9e6e979d-10c7-48c8-929b-27b5fa4762a0/folders/678e5526-6646-4bae-afd5-32295035c6cf
      RequestId:
      - 0fcd4d09-b998-4c67-8b73-453d11ee2a62
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9e6e979d-10c7-48c8-929b-27b5fa4762a0/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - daaab30e-065e-49ee-89c1-14659ac1d317
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "Eventstream", "folderId": "678e5526-6646-4bae-afd5-32295035c6cf"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9e6e979d-10c7-48c8-929b-27b5fa4762a0/eventstreams
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/803087eb-376e-4ade-a170-5cef153632a2
      RequestId:
      - 571bda63-e2fc-4414-9a9a-43f74866d793
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 803087eb-376e-4ade-a170-5cef153632a2
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/803087eb-376e-4ade-a170-5cef153632a2
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T14:34:45.7522701",
        "lastUpdatedTimeUtc": "2026-01-19T14:34:48.9711944", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/803087eb-376e-4ade-a170-5cef153632a2/result
      RequestId:
      - 95245648-3225-4fb2-9a5d-d73d6579e4bc
      x-ms-operation-id:
      - 803087eb-376e-4ade-a170-5cef153632a2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/803087eb-376e-4ade-a170-5cef153632a2/result
  response:
    body:
      string: '{"id": "5da1faf2-976b-4ed9-962d-53bede71192c", "type": "Eventstream",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "9e6e979d-10c7-48c8-929b-27b5fa4762a0", "folderId": "678e5526-6646-4bae-afd5-32295035c6cf"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - fffb9b9a-6ad9-4723-96fc-f8ad8833ee61
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9e6e979d-10c7-48c8-929b-27b5fa4762a0/items/5da1faf2-976b-4ed9-962d-53bede71192c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 7b068483-6478-4230-b6fe-fa88e1ee7afa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9e6e979d-10c7-48c8-929b-27b5fa4762a0/folders/678e5526-6646-4bae-afd5-32295035c6cf
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 16b1a43f-5560-4ce3-aa3e-2b58e0ab3223
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9e6e979d-10c7-48c8-929b-27b5fa4762a0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8185a306-f9a1-44ec-9fc8-77aa4297129e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4113b5e5-dede-438b-9884-668eb004baeb
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a527c8f2-8edc-4b8e-b463-556bf772f693
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
