interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b1987dcd-b45c-4ba9-a9b6-bf7886f473a1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 30ae77a2-a06e-4baf-9326-e6a5c7b6da57
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - eb8bf435-e72b-4d56-9914-a64d8762d662
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/lakehouses
  response:
    body:
      string: '{"id": "892f596b-02a6-44a5-8258-01c45ab45d12", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "", "workspaceId": "b1987dcd-b45c-4ba9-a9b6-bf7886f473a1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - fcbedb3b-1e67-44ca-b87f-67f3932dc3f4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/892f596b-02a6-44a5-8258-01c45ab45d12/Files/test_cp_ol2ol.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - PathNotFound
    status:
      code: 404
      message: The specified path does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/892f596b-02a6-44a5-8258-01c45ab45d12/Files/test_cp_ol2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E12BBBD08"'
      Last-Modified:
      - Wed, 20 May 2026 08:59:17 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/892f596b-02a6-44a5-8258-01c45ab45d12/Files/test_cp_ol2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/892f596b-02a6-44a5-8258-01c45ab45d12/Files/test_cp_ol2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E1559A254"'
      Last-Modified:
      - Wed, 20 May 2026 08:59:21 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/892f596b-02a6-44a5-8258-01c45ab45d12/Files/test_cp_ol2ol.txt
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain
      ETag:
      - '"0x8DEB64E1559A254"'
      Last-Modified:
      - Wed, 20 May 2026 08:59:21 GMT
      x-ms-resource-type:
      - file
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/78cf7b9b-2d0f-4792-9ba8-5d7fded11ddd/Files/test_cp_ol2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E1ADBEC30"'
      Last-Modified:
      - Wed, 20 May 2026 08:59:30 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/78cf7b9b-2d0f-4792-9ba8-5d7fded11ddd/Files/test_cp_ol2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/78cf7b9b-2d0f-4792-9ba8-5d7fded11ddd/Files/test_cp_ol2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E1CE0D47C"'
      Last-Modified:
      - Wed, 20 May 2026 08:59:34 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/?recursive=false&resource=filesystem&directory=78cf7b9b-2d0f-4792-9ba8-5d7fded11ddd%2FFiles&getShortcutMetadata=true
  response:
    body:
      string: '{"paths": [{"name": "78cf7b9b-2d0f-4792-9ba8-5d7fded11ddd/Files/test_cp_ol2ol.txt",
        "creationTime": "134237411707513904", "lastModified": "Wed, 20 May 2026 08:59:34
        GMT", "etag": "0x8DEB64E1CE0D47C", "contentLength": "13", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "permissions": "rw-r-----",
        "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/78cf7b9b-2d0f-4792-9ba8-5d7fded11ddd/Files/renamed_test_cp_ol2ol.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - PathNotFound
    status:
      code: 404
      message: The specified path does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/78cf7b9b-2d0f-4792-9ba8-5d7fded11ddd/Files/renamed_test_cp_ol2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E27476C6C"'
      Last-Modified:
      - Wed, 20 May 2026 08:59:51 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/78cf7b9b-2d0f-4792-9ba8-5d7fded11ddd/Files/renamed_test_cp_ol2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/78cf7b9b-2d0f-4792-9ba8-5d7fded11ddd/Files/renamed_test_cp_ol2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E29F1D6EC"'
      Last-Modified:
      - Wed, 20 May 2026 08:59:56 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/items/78cf7b9b-2d0f-4792-9ba8-5d7fded11ddd
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - fd0ae4ce-e83e-4a16-9525-a8c60bd40654
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/items/892f596b-02a6-44a5-8258-01c45ab45d12
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ee6e258f-5425-4f28-b012-9f52e453562a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
