interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b1987dcd-b45c-4ba9-a9b6-bf7886f473a1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 505687cd-c511-4542-adc1-5bc9d24a2572
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d7b0967d-fd7f-4d77-9268-009643a804f6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/lakehouses
  response:
    body:
      string: '{"id": "03356d11-46a1-4ef9-a225-0a04fa076335", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "", "workspaceId": "b1987dcd-b45c-4ba9-a9b6-bf7886f473a1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9287e257-0d45-4d8e-8753-a319c38d8f3e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/03356d11-46a1-4ef9-a225-0a04fa076335/Files/test_cp_lo2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E422DCB28"'
      Last-Modified:
      - Wed, 20 May 2026 09:00:36 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/03356d11-46a1-4ef9-a225-0a04fa076335/Files/test_cp_lo2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/03356d11-46a1-4ef9-a225-0a04fa076335/Files/test_cp_lo2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E43954720"'
      Last-Modified:
      - Wed, 20 May 2026 09:00:39 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/?recursive=false&resource=filesystem&directory=03356d11-46a1-4ef9-a225-0a04fa076335%2FFiles&getShortcutMetadata=true
  response:
    body:
      string: '{"paths": [{"name": "03356d11-46a1-4ef9-a225-0a04fa076335/Files/test_cp_lo2ol.txt",
        "creationTime": "134237412367190824", "lastModified": "Wed, 20 May 2026 09:00:39
        GMT", "etag": "0x8DEB64E43954720", "contentLength": "13", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "permissions": "rw-r-----",
        "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/03356d11-46a1-4ef9-a225-0a04fa076335/Files/renamed_test_cp_lo2ol.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - PathNotFound
    status:
      code: 404
      message: The specified path does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/03356d11-46a1-4ef9-a225-0a04fa076335/Files/renamed_test_cp_lo2ol.txt/?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E49F78784"'
      Last-Modified:
      - Wed, 20 May 2026 09:00:49 GMT
    status:
      code: 201
      message: Created
- request:
    body: 'Hello world!

      '
    headers:
      Content-Type:
      - text/plain
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/03356d11-46a1-4ef9-a225-0a04fa076335/Files/renamed_test_cp_lo2ol.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-type:
      - text/plain
    method: PATCH
    uri: https://onelake.dfs.fabric.microsoft.com//b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/03356d11-46a1-4ef9-a225-0a04fa076335/Files/renamed_test_cp_lo2ol.txt?action=flush&position=13
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB64E4C74F278"'
      Last-Modified:
      - Wed, 20 May 2026 09:00:53 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b1987dcd-b45c-4ba9-a9b6-bf7886f473a1/items/03356d11-46a1-4ef9-a225-0a04fa076335
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5fd5a11c-a9e1-4f07-bab9-f33733079be0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
