setuptools>=65.5.1
pip>=9.0.1
tox>=4.20.0
build
prompt_toolkit
requests
cryptography
questionary
msal>=1.34,<2
msal[broker]>=1.34,<2 ; platform_system != "Linux"
msal_extensions
PyYAML
jmespath
argcomplete>=3.6.2
psutil==7.0.0

# Tests
pytest
pytest-cov
vcrpy