interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 95257cb9-72b5-402a-b173-f528549d6827
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cba50e89-82dc-434a-bc08-e7b2c5ccc721
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "d7d39156-41d5-4411-b689-fea27be79e08", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/d7d39156-41d5-4411-b689-fea27be79e08
      RequestId:
      - b6e9a2fb-a706-4db1-95c6-e41465aa0cb5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/admin/domains
  response:
    body:
      string: '{"domains": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - db4f125c-e104-40ca-a993-6cfcf5f94276
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000002"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/admin/domains
  response:
    body:
      string: '{"contributorsScope": "AllTenant", "id": "c4753322-4380-4493-a8b6-1e7449c84d38",
        "displayName": "fabcli000002", "description": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/admin/domains/c4753322-4380-4493-a8b6-1e7449c84d38
      RequestId:
      - 60c82481-ae62-4e4a-b83e-3a5c953c880f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"workspacesIds": ["d7d39156-41d5-4411-b689-fea27be79e08"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/admin/domains/c4753322-4380-4493-a8b6-1e7449c84d38/assignWorkspaces
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 735276c3-6f7f-4257-8b1d-38c2ab020b36
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "d7d39156-41d5-4411-b689-fea27be79e08", "displayName":
        "fabcli000001", "description": "Created by fab", "type": "Workspace", "capacityId":
        "07b1fd56-9969-4ff5-a2c8-05df5f82759a", "domainId": "c4753322-4380-4493-a8b6-1e7449c84d38"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b60f79a6-8576-4556-95cf-94553d664cca
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/admin/domains/c4753322-4380-4493-a8b6-1e7449c84d38/workspaces
  response:
    body:
      string: '{"value": [{"id": "d7d39156-41d5-4411-b689-fea27be79e08", "displayName":
        "fabcli000001"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 39394e37-66ad-4e74-98e9-fad8a4e5c237
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"workspacesIds": ["d7d39156-41d5-4411-b689-fea27be79e08"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/admin/domains/c4753322-4380-4493-a8b6-1e7449c84d38/unassignWorkspaces
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - bc4bb16e-c2a3-4d81-b774-fa438833ff41
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/admin/domains/c4753322-4380-4493-a8b6-1e7449c84d38
  response:
    body:
      string: '{"contributorsScope": "AllTenant", "id": "c4753322-4380-4493-a8b6-1e7449c84d38",
        "displayName": "fabcli000002", "description": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ce21f2eb-2805-42d6-8e63-af7b92abe032
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7d39156-41d5-4411-b689-fea27be79e08/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5687a710-3244-4546-b58f-7fd12ef9637e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7d39156-41d5-4411-b689-fea27be79e08
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a87dc8fd-dc1a-43ce-a808-4c4357639c50
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
