interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c071905e-f08b-4fb1-9554-00d1eeb48c52
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 71d6fecf-986d-4359-88a9-87acb05532c5
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "8c0e70f4-30f1-40fe-aab8-60f7b40a7ae0", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/8c0e70f4-30f1-40fe-aab8-60f7b40a7ae0
      RequestId:
      - bd7fbea1-b8db-4f4d-aa50-ec1798a723c0
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8c0e70f4-30f1-40fe-aab8-60f7b40a7ae0
  response:
    body:
      string: '{"id": "8c0e70f4-30f1-40fe-aab8-60f7b40a7ae0", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "West Europe", "oneLakeEndpoints": {"blobEndpoint": "https://westeurope-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://westeurope-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e39cc1b9-39f9-41d0-9e43-24a5df44dceb
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8c0e70f4-30f1-40fe-aab8-60f7b40a7ae0/managedPrivateEndpoints
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3e0738d8-af23-40b1-a35a-ad2e6464a3e4
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8c0e70f4-30f1-40fe-aab8-60f7b40a7ae0/spark/settings
  response:
    body:
      string: '{"automaticLog": {"enabled": true}, "highConcurrency": {"notebookInteractiveRunEnabled":
        true, "notebookPipelineRunEnabled": false}, "pool": {"customizeComputeEnabled":
        true, "defaultPool": {"name": "Starter Pool", "type": "Workspace", "id": "00000000-0000-0000-0000-000000000000"},
        "starterPool": {"maxNodeCount": 10, "maxExecutors": 9}}, "environment": {"runtimeVersion":
        "1.3"}, "job": {"conservativeJobAdmissionEnabled": false, "sessionTimeoutInMinutes":
        20}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bbca99e5-a3bb-403a-bb0d-ab117da2a210
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8c0e70f4-30f1-40fe-aab8-60f7b40a7ae0/roleAssignments
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000001", "principal":
        {"id": "00000000-0000-0000-0000-000000000001", "displayName": "Tenant Admin",
        "type": "User", "userDetails": {"userPrincipalName": "mocked@admin_test_user"}},
        "role": "Admin"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bdf4570a-d0f1-427f-a14b-b9b78757bd3f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8c0e70f4-30f1-40fe-aab8-60f7b40a7ae0/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ef30f795-5de6-42f4-a10b-b3cd1eb5a3fa
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/8c0e70f4-30f1-40fe-aab8-60f7b40a7ae0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f4599930-62ad-4083-b19f-e8ec71bb20fe
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
