interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - aeed6043-cffa-44a7-b499-8f485006d12d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 34fd27b8-e5e2-444d-b03f-c006e8969b81
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabriccli_WorkspacePerTestclass_000001",
      "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "55c0a683-4369-40bd-b013-c4c1bea8fa12", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12
      RequestId:
      - 8fde3b98-7d12-4beb-8b8e-9003db463fa2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/items
  response:
    body:
      string: '{"value": [{"id": "4e8d5343-99db-432c-b9af-5890ad6b7db8", "type": "SQLEndpoint",
        "displayName": "fabcli000001_new_2", "description": "", "workspaceId": "55c0a683-4369-40bd-b013-c4c1bea8fa12"},
        {"id": "358e066e-2bb5-4845-9f97-061aa11d1247", "type": "Lakehouse", "displayName":
        "fabcli000001_new_2", "description": "Imported from fab", "workspaceId": "55c0a683-4369-40bd-b013-c4c1bea8fa12"},
        {"id": "ff706532-ca00-42fe-a6c6-3a91bffc3094", "type": "Environment", "displayName":
        "fabcli000001_new_3", "description": "Imported from fab", "workspaceId": "55c0a683-4369-40bd-b013-c4c1bea8fa12"},
        {"id": "32a23c38-dccd-432c-b4d4-c4ddedb93c84", "type": "Notebook", "displayName":
        "fabcli000001_new_4", "description": "Imported from fab", "workspaceId": "55c0a683-4369-40bd-b013-c4c1bea8fa12"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1ac1835c-5856-4c38-b9ed-de43faaac722
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 98d8bba0-52b6-4878-a3a7-6b2d5fec20c3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
