interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 37c6ecf3-9169-4ba1-a158-d51a60b11d5d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 20ae90e5-fdc2-4ffc-97c8-5085b56cdf73
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabriccli_WorkspacePerTestclass_000001",
      "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "e4270291-b332-4146-ab5f-c33d36c70c67", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/e4270291-b332-4146-ab5f-c33d36c70c67
      RequestId:
      - 2f7307a6-bf17-4da1-a451-10a2391bef73
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e4270291-b332-4146-ab5f-c33d36c70c67/items
  response:
    body:
      string: '{"value": [{"id": "809dffab-7480-4f5e-86b4-33ef3e2fd550", "type": "SQLEndpoint",
        "displayName": "fabcli000001_new_3", "description": "", "workspaceId": "e4270291-b332-4146-ab5f-c33d36c70c67"},
        {"id": "b0c4d3ed-e7e9-45a2-92df-de2cb77e0964", "type": "UserDataFunction",
        "displayName": "fabcli000001_new_2", "description": "Imported from fab", "workspaceId":
        "e4270291-b332-4146-ab5f-c33d36c70c67"}, {"id": "bfdd2dd1-5a66-48f6-9bb9-0f52c48efff6",
        "type": "CosmosDBDatabase", "displayName": "fabcli000001_new_3", "description":
        "Imported from fab", "workspaceId": "e4270291-b332-4146-ab5f-c33d36c70c67"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 648946f4-e839-4cb6-9435-d4e5b067a708
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e4270291-b332-4146-ab5f-c33d36c70c67
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d003bd73-4622-4555-a46c-8922d3e91fed
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
