interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8cc592b4-b0b8-4914-9fa2-01db7337fc2c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a708d5be-455f-4a97-823a-0748c6ba0881
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabriccli_WorkspacePerTestclass_000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "2c67d953-d1f0-441b-9227-600c2de5fffc", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/2c67d953-d1f0-441b-9227-600c2de5fffc
      RequestId:
      - 8a2febf6-bc6a-415a-8274-4a813fe490cb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2c67d953-d1f0-441b-9227-600c2de5fffc/items
  response:
    body:
      string: '{"value": [{"id": "a271c4c9-33ff-420d-91aa-ee267b965976", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "", "workspaceId": "2c67d953-d1f0-441b-9227-600c2de5fffc"},
        {"id": "8f078318-7350-46a5-96ea-a839e1ba244e", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "2c67d953-d1f0-441b-9227-600c2de5fffc"},
        {"id": "698aafe0-fa35-47a0-b93b-449963e9d637", "type": "SemanticModel", "displayName":
        "fabcli000001_new_6", "description": "", "workspaceId": "2c67d953-d1f0-441b-9227-600c2de5fffc"},
        {"id": "f8021e51-3cb5-4100-b52f-dca25dafca30", "typ[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2c67d953-d1f0-441b-9227-600c2de5fffc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f28f44a3-98af-45f1-9f21-638af574fa72
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
