interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5fb857bb-dad0-4d59-8e95-af454d3c1e13
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F2", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fe25c410-1bd6-43dc-9d50-76631d2cf4e6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabriccli_WorkspacePerTestclass_000001",
      "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "7c496136-3bd9-4ab1-87de-ca254cb8bb5b", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/7c496136-3bd9-4ab1-87de-ca254cb8bb5b
      RequestId:
      - db93580e-a242-4252-867f-e17a62c441f4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7c496136-3bd9-4ab1-87de-ca254cb8bb5b/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0e2c4aa3-640e-4fea-94d6-739f1904563c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7c496136-3bd9-4ab1-87de-ca254cb8bb5b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - cf0e88ef-5222-46f8-9fe7-cd06b42fe6ae
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
