interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c10a9f82-d191-4a4f-a338-c278ae3f2ae1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fc08064f-06ae-4469-b59c-cf2ba032bdf9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c10a9f82-d191-4a4f-a338-c278ae3f2ae1/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - be691a19-15a6-48ad-bd4c-2c74380ab898
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c10a9f82-d191-4a4f-a338-c278ae3f2ae1/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8537c7cc-7beb-4a12-8f16-a894bc7c7c38
      RequestId:
      - 2d164bfd-2758-4a3e-a87e-58551932eabd
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 8537c7cc-7beb-4a12-8f16-a894bc7c7c38
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8537c7cc-7beb-4a12-8f16-a894bc7c7c38
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:35:28.5613995",
        "lastUpdatedTimeUtc": "2026-05-13T07:35:39.2237237", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8537c7cc-7beb-4a12-8f16-a894bc7c7c38/result
      RequestId:
      - 9792c28d-3ba7-4429-82a3-694ed851e01a
      x-ms-operation-id:
      - 8537c7cc-7beb-4a12-8f16-a894bc7c7c38
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8537c7cc-7beb-4a12-8f16-a894bc7c7c38/result
  response:
    body:
      string: '{"id": "e9de3679-5b25-4fd8-a4fe-e96cffce4948", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "c10a9f82-d191-4a4f-a338-c278ae3f2ae1"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 40884f1e-390e-40d4-803f-6b39ae51d3ce
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "e9de3679-5b25-4fd8-a4fe-e96cffce4948", "workspaceId": "c10a9f82-d191-4a4f-a338-c278ae3f2ae1"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c10a9f82-d191-4a4f-a338-c278ae3f2ae1/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "07b91593-cccb-47e6-b481-dd7e4bec8b73", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "c10a9f82-d191-4a4f-a338-c278ae3f2ae1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - bff30eba-b028-4eeb-b81f-d8386683e8a5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c10a9f82-d191-4a4f-a338-c278ae3f2ae1/items/07b91593-cccb-47e6-b481-dd7e4bec8b73
  response:
    body:
      string: '{"id": "07b91593-cccb-47e6-b481-dd7e4bec8b73", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "c10a9f82-d191-4a4f-a338-c278ae3f2ae1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 389308ca-781a-423e-b00a-15feb26f36eb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c10a9f82-d191-4a4f-a338-c278ae3f2ae1/items/07b91593-cccb-47e6-b481-dd7e4bec8b73/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d23162d1-ad20-44e6-954d-389281eba06c
      RequestId:
      - 2e77312c-f3e0-454f-9708-087ae1f65998
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d23162d1-ad20-44e6-954d-389281eba06c
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d23162d1-ad20-44e6-954d-389281eba06c/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiRGlnaXRhbFR3aW5CdWlsZGVySWQiOiAiZTlkZTM2NzktNWIyNS00ZmQ4LWE0ZmUtZTk2Y2ZmY2U0OTQ4IiwNCiAgIk9wZXJhdGlvbklkcyI6IFtdLA0KICAiSXNPbkRlbWFuZCI6IGZhbHNlDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlckZsb3ciLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - e15cfe76-3ba7-4328-a9ee-1c5be195d857
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "DigitalTwinBuilderFlow", "folderId": null, "displayName": "fabcli000001_new_2",
      "definition": {"parts": [{"path": "definition.json", "payload": "ewogICAgIkRpZ2l0YWxUd2luQnVpbGRlcklkIjogImU5ZGUzNjc5LTViMjUtNGZkOC1hNGZlLWU5NmNmZmNlNDk0OCIsCiAgICAiT3BlcmF0aW9uSWRzIjogW10sCiAgICAiSXNPbkRlbWFuZCI6IGZhbHNlCn0=",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYX[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c10a9f82-d191-4a4f-a338-c278ae3f2ae1/items/07b91593-cccb-47e6-b481-dd7e4bec8b73
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2faf68d8-26b4-4b56-b36b-68809ba0a77e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
