interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e1a99024-4466-4bf6-88cc-d47727560b55
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/97f5c8a4-1588-4a59-9b51-2c7ba0f73761/items
  response:
    body:
      string: '{"value": [{"id": "914ed2ae-b17a-439b-9fd4-ec84d034f4a9", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "Imported from fab", "workspaceId":
        "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}, {"id": "d214eefa-9c3c-47d6-8cf6-92b7fca6a571",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}, {"id": "5c12b14f-5a65-456e-bb90-ed29a4328135",
        "type": "SemanticModel", "displayName": "fabcli000001_new_6", "description":
        "", "workspaceId": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}, {"id": "a570a170-fc80-4329-a255-c016d930fdf8",
    [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDashboard", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/97f5c8a4-1588-4a59-9b51-2c7ba0f73761/kqlDashboards
  response:
    body:
      string: '{"id": "275e0d60-a810-4031-aeca-1cbd963804ea", "type": "KQLDashboard",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 3cd95be2-1a70-4843-b989-80106d0f9b1c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/97f5c8a4-1588-4a59-9b51-2c7ba0f73761/items/275e0d60-a810-4031-aeca-1cbd963804ea
  response:
    body:
      string: '{"id": "275e0d60-a810-4031-aeca-1cbd963804ea", "type": "KQLDashboard",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f25cdcd3-b7fd-469f-bae5-6709baff4424
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/97f5c8a4-1588-4a59-9b51-2c7ba0f73761/items/275e0d60-a810-4031-aeca-1cbd963804ea/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "RealTimeDashboard.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTERhc2hib2FyZCIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e0e96631-668c-4e39-aae0-853436b68fa2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "KQLDashboard", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_12", "definition": {"parts": [{"path":
      "RealTimeDashboard.json", "payload": "e30=", "payloadType": "InlineBase64"},
      {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgIC[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/97f5c8a4-1588-4a59-9b51-2c7ba0f73761/items/275e0d60-a810-4031-aeca-1cbd963804ea
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 48bc86f3-6537-44a3-9dc3-503e4f329af6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
