interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 539b24b9-fcbf-475d-923b-9ec15a4141fa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb/items
  response:
    body:
      string: '{"value": [{"id": "c2bcad3f-04fc-4705-b258-160678bfac5f", "type": "Report",
        "displayName": "fabcli000001_new_11", "description": "Imported from fab",
        "workspaceId": "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb"}, {"id": "ce57bbc8-a136-46fa-a687-7f34d7738b01",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb"}, {"id": "32a26236-8f8f-4003-87fb-7852b22cb05c",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb"}, {"id": "a307a7fa-f82e-47e6-8ef8-79cb61044b98",
        "type[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SemanticModel", "folderId": null, "definition": {"parts": [{"path": ".platform",
      "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlNlbWFudGljTW9kZWwiLAogICAgImRpc3BsYXlOYW1lIjogIkJsYW5rIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
      "payloadType": "InlineBase64"}, {"path": "definition.pbism", "payload": "ewogICJ2ZXJzaW9uIjogIjQuMCIsCiAgInNldHRpbmdzIjoge30KfQ==",
      "payloadType": "InlineBase64"}, {"path": "definition/database.tmdl", "payload":
      "ZGF0YWJhc2UKCWNvbXBhdGliaWxpdHlMZXZlbDogMTU2MQoK", "payloadType": "InlineBase64"},
      {"path": "definition/model.tmdl", "payload": "bW9kZWwgTW9kZWwKCWN1bHR1cmU6IGVuLVVTCglkZWZhdWx0UG93ZXJCSURhdGFTb3VyY2VWZXJzaW9uOiBwb3dlckJJX1YzCglzb3VyY2VRdWVyeUN1bHR1cmU6IGVuLVVTCglkYXRhQWNjZXNzT3B0aW[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/90f00cb0-860f-4b3b-973e-70e93f557491
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-22T13:47:31.1825909",
        "lastUpdatedTimeUtc": "2026-02-22T13:47:41.8263901", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/90f00cb0-860f-4b3b-973e-70e93f557491/result
      RequestId:
      - 9a53159c-c883-415c-a8b2-939d368a9e27
      x-ms-operation-id:
      - 90f00cb0-860f-4b3b-973e-70e93f557491
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/90f00cb0-860f-4b3b-973e-70e93f557491/result
  response:
    body:
      string: '{"id": "5d8a4c4a-d906-4ca9-b7f1-3801c7b6b234", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 772f5a2a-d954-4165-8c3d-a43b2c202fd9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb/items/5d8a4c4a-d906-4ca9-b7f1-3801c7b6b234
  response:
    body:
      string: '{"id": "5d8a4c4a-d906-4ca9-b7f1-3801c7b6b234", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 3ceb79f7-3601-40b1-b681-b546ad5776cd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb/items/5d8a4c4a-d906-4ca9-b7f1-3801c7b6b234/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/393d3c1d-b27d-4069-936b-3a276ba93486
      RequestId:
      - d741cad2-f7b6-40e4-b7de-045cd97a8180
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 393d3c1d-b27d-4069-936b-3a276ba93486
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/393d3c1d-b27d-4069-936b-3a276ba93486/result
  response:
    body:
      string: '{"definition": {"format": "TMDL", "parts": [{"path": "definition.pbism",
        "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9pdGVtL3NlbWFudGljTW9kZWwvZGVmaW5pdGlvblByb3BlcnRpZXMvMS4wLjAvc2NoZW1hLmpzb24iLAogICJ2ZXJzaW9uIjogIjQuMiIsCiAgInNldHRpbmdzIjoge30KfQ==",
        "payloadType": "InlineBase64"}, {"path": "definition/tables/Table.tmdl", "payload":
        "dGFibGUgVGFibGUKCWxpbmVhZ2VUYWc6IDFmY2QyZDhjLTkzZDYtNGU2Zi1hYjg2LThjMDU5YzhhODk4ZAoKCWNvbHVtbiBDb2x1bW4x[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb/items/5d8a4c4a-d906-4ca9-b7f1-3801c7b6b234
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c255b24a-c882-43df-af52-bccc00ac6d09
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
