interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "45b12a86-e49a-48c0-8691-6a437d6fe0e0",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a466aaeb-86fc-468c-b5db-eb4b6cad17d8
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items
  response:
    body:
      string: '{"value": [{"id": "3c04f3c3-d712-4ec5-933c-57b003a8793a", "type": "Report",
        "displayName": "fabcli000001_new_6", "description": "Imported from fab", "workspaceId":
        "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}, {"id": "dd5acc2b-a5a3-4ef2-9a98-9ebca11cea67",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}, {"id": "0347cc7a-0414-41ba-93ed-e1be277aae0e",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}, {"id": "cd75665d-d379-47a6-9d8b-85d037bf39ea",
     [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/eventhouses
  response:
    body:
      string: '{"id": "70b36cfd-a40e-40ae-88aa-e5f7796563f9", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6dcc4148-2070-4635-bd61-7837532519b2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "70b36cfd-a40e-40ae-88aa-e5f7796563f9"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/1c275d4c-1cd4-4cb1-a002-33c95c53260f
      RequestId:
      - fcec7456-2239-4d12-8e64-788116274d1b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 1c275d4c-1cd4-4cb1-a002-33c95c53260f
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/1c275d4c-1cd4-4cb1-a002-33c95c53260f
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2025-09-03T11:47:50.9281572",
        "lastUpdatedTimeUtc": "2025-09-03T11:47:50.9281572", "percentComplete": null,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/1c275d4c-1cd4-4cb1-a002-33c95c53260f
      RequestId:
      - 5c9b3742-1e57-44b9-8a6c-444b48bdcb42
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 1c275d4c-1cd4-4cb1-a002-33c95c53260f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/1c275d4c-1cd4-4cb1-a002-33c95c53260f/result
  response:
    body:
      string: '{"id": "e9ea76b5-c320-4bcb-b622-6a00630ce29f", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 5c80ff55-a84a-4510-8ca5-f40a67b0516d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items/e9ea76b5-c320-4bcb-b622-6a00630ce29f
  response:
    body:
      string: '{"id": "e9ea76b5-c320-4bcb-b622-6a00630ce29f", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 839c0c81-4ca4-445b-a1fc-20f349f794d7
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items/e9ea76b5-c320-4bcb-b622-6a00630ce29f/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/2b3f2aac-a216-41bd-8716-a884268d2f53
      RequestId:
      - 215e8675-db02-42d5-a41d-b6e4b2accbb6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 2b3f2aac-a216-41bd-8716-a884268d2f53
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/2b3f2aac-a216-41bd-8716-a884268d2f53/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "DatabaseProperties.json", "payload":
        "ew0KICAiZGF0YWJhc2VUeXBlIjogIlJlYWRXcml0ZSIsDQogICJwYXJlbnRFdmVudGhvdXNlSXRlbUlkIjogIjcwYjM2Y2ZkLWE0MGUtNDBhZS04OGFhLWU1Zjc3OTY1NjNmOSIsDQogICJvbmVMYWtlQ2FjaGluZ1BlcmlvZCI6ICJQMzY1MDAwRCIsDQogICJvbmVMYWtlU3RhbmRhcmRTdG9yYWdlUGVyaW9kIjogIlAzNjUwMDBEIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": "DatabaseSchema.kql", "payload":
        "Ly8gS1FMIHNjcmlwdA0KLy8gVXNlIG1hbmFnZW1lbnQgY29tbWFuZHMgaW4gdGhpcyBzY3JpcHQgdG8gY29uZmlndXJlIHlvdXIgZGF0YWJhc2UgaXRlbXMsIHN1Y2ggYXMgdGFibGVzLCBmdW5jdGlvbnMsIG1hdGVyaWFsaXplZCB2aWV3cywgYW5kIG1vcmUuDQoNCg0K",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTERhdGFiYXNlIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 7ad87a29-71b0-40dd-8eea-11340b1dff26
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "KQLDatabase", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_8", "definition": {"parts": [{"path":
      "DatabaseProperties.json", "payload": "ewogICAgImRhdGFiYXNlVHlwZSI6ICJSZWFkV3JpdGUiLAogICAgInBhcmVudEV2ZW50aG91c2VJdGVtSWQiOiAiNzBiMzZjZmQtYTQwZS00MGFlLTg4YWEtZTVmNzc5NjU2M2Y5IiwKICAgICJvbmVMYWtlQ2FjaGluZ1BlcmlvZCI6ICJQMzY1MDAwRCIsCiAgICAib25lTGFrZVN0YW5kYXJkU3RvcmFnZVBlcmlvZCI6ICJQMzY1MDAwRCIKfQ==",
      "payloadT[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items/e9ea76b5-c320-4bcb-b622-6a00630ce29f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c8b9615c-5d44-4f1c-bb3c-e95ac9eaacd2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
