interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "704a31b2-abd1-4aac-863d-ba2cdf6527d9",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 428b45ee-ded0-4939-94e5-3dae9f30b623
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/items
  response:
    body:
      string: '{"value": [{"id": "ef224172-91fb-4295-bc00-4952ff1b854e", "type": "Report",
        "displayName": "fabcli000001_new_7", "description": "Imported from fab", "workspaceId":
        "704a31b2-abd1-4aac-863d-ba2cdf6527d9"}, {"id": "63297299-d084-4676-92ca-91cc20fcbc14",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "704a31b2-abd1-4aac-863d-ba2cdf6527d9"}, {"id": "9389fc55-164e-41c0-bbb1-b70897d466a7",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "704a31b2-abd1-4aac-863d-ba2cdf6527d9"}, {"id": "309aee93-1d79-4ac2-b4fb-b963c640af34",
     [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/eventhouses
  response:
    body:
      string: '{"id": "5be6b544-a146-4c9d-aeed-2b9298bc7c01", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "704a31b2-abd1-4aac-863d-ba2cdf6527d9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b88013b8-2383-444c-bc6d-3d98ab480634
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "5be6b544-a146-4c9d-aeed-2b9298bc7c01"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e0a99b1e-fa73-485c-81f5-f9d33212d655
      RequestId:
      - 5d496df5-5556-41df-b88b-97a172358fc7
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - e0a99b1e-fa73-485c-81f5-f9d33212d655
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e0a99b1e-fa73-485c-81f5-f9d33212d655
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-12-15T07:48:05.8419647",
        "lastUpdatedTimeUtc": "2025-12-15T07:48:10.4391431", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e0a99b1e-fa73-485c-81f5-f9d33212d655/result
      RequestId:
      - 142da3ea-427d-4022-8e71-6ccbac800490
      x-ms-operation-id:
      - e0a99b1e-fa73-485c-81f5-f9d33212d655
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e0a99b1e-fa73-485c-81f5-f9d33212d655/result
  response:
    body:
      string: '{"id": "fe6e1845-8f73-44a0-ab6e-7b3f5d68f591", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "704a31b2-abd1-4aac-863d-ba2cdf6527d9"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 676f5335-8006-49ec-9cac-d7eafc1088a4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/items/fe6e1845-8f73-44a0-ab6e-7b3f5d68f591
  response:
    body:
      string: '{"id": "fe6e1845-8f73-44a0-ab6e-7b3f5d68f591", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "704a31b2-abd1-4aac-863d-ba2cdf6527d9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - aa7c5831-95c1-4b3e-9434-bc4f6a93b6df
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/items/fe6e1845-8f73-44a0-ab6e-7b3f5d68f591/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d4aefb6c-2ad3-4795-b06b-677da76082a5
      RequestId:
      - 85f2b312-2533-440c-b7db-8ea112d9bac6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d4aefb6c-2ad3-4795-b06b-677da76082a5
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d4aefb6c-2ad3-4795-b06b-677da76082a5/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "DatabaseProperties.json", "payload":
        "ew0KICAiZGF0YWJhc2VUeXBlIjogIlJlYWRXcml0ZSIsDQogICJwYXJlbnRFdmVudGhvdXNlSXRlbUlkIjogIjViZTZiNTQ0LWExNDYtNGM5ZC1hZWVkLTJiOTI5OGJjN2MwMSIsDQogICJvbmVMYWtlQ2FjaGluZ1BlcmlvZCI6ICJQMzY1MDAwRCIsDQogICJvbmVMYWtlU3RhbmRhcmRTdG9yYWdlUGVyaW9kIjogIlAzNjUwMDBEIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": "DatabaseSchema.kql", "payload":
        "Ly8gS1FMIHNjcmlwdA0KLy8gVXNlIG1hbmFnZW1lbnQgY29tbWFuZHMgaW4gdGhpcyBzY3JpcHQgdG8gY29uZmlndXJlIHlvdXIgZGF0YWJhc2UgaXRlbXMsIHN1Y2ggYXMgdGFibGVzLCBmdW5jdGlvbnMsIG1hdGVyaWFsaXplZCB2aWV3cywgYW5kIG1vcmUuDQoNCg0K",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTERhdGFiYXNlIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 67b1c5bb-e643-4700-a761-654151ec5090
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "KQLDatabase", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_9", "definition": {"parts": [{"path":
      "DatabaseProperties.json", "payload": "ewogICAgImRhdGFiYXNlVHlwZSI6ICJSZWFkV3JpdGUiLAogICAgInBhcmVudEV2ZW50aG91c2VJdGVtSWQiOiAiNWJlNmI1NDQtYTE0Ni00YzlkLWFlZWQtMmI5Mjk4YmM3YzAxIiwKICAgICJvbmVMYWtlQ2FjaGluZ1BlcmlvZCI6ICJQMzY1MDAwRCIsCiAgICAib25lTGFrZVN0YW5kYXJkU3RvcmFnZVBlcmlvZCI6ICJQMzY1MDAwRCIKfQ==",
      "payloadT[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/items/fe6e1845-8f73-44a0-ab6e-7b3f5d68f591
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 82e91d45-2858-46fd-8064-7d653e952c1e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
