interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 957c50ff-60d2-4017-b876-6c537ac1f894
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/97f5c8a4-1588-4a59-9b51-2c7ba0f73761/items
  response:
    body:
      string: '{"value": [{"id": "914ed2ae-b17a-439b-9fd4-ec84d034f4a9", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "Imported from fab", "workspaceId":
        "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}, {"id": "d214eefa-9c3c-47d6-8cf6-92b7fca6a571",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}, {"id": "5c12b14f-5a65-456e-bb90-ed29a4328135",
        "type": "SemanticModel", "displayName": "fabcli000001_new_6", "description":
        "", "workspaceId": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}, {"id": "a570a170-fc80-4329-a255-c016d930fdf8",
    [...]
[...]
