interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "517fbcba-b385-493c-9a8b-2c4f02edef49",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 43bcd3df-bd81-4b5b-8b2f-a324d35dd57b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/517fbcba-b385-493c-9a8b-2c4f02edef49/items
  response:
    body:
      string: '{"value": [{"id": "de78f822-9351-4323-885f-649b59e46846", "type": "Report",
        "displayName": "fabcli000001_new_6", "description": "Imported from fab", "workspaceId":
        "517fbcba-b385-493c-9a8b-2c4f02edef49"}, {"id": "9f138e2e-51f1-4d2f-94ef-484aabe2e6bb",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "517fbcba-b385-493c-9a8b-2c4f02edef49"}, {"id": "5c13cc6c-cfdd-4b5b-bcb4-7aa60ebd0842",
        "type": "SemanticModel", "displayName": "fabcli000001_new_7", "description":
        "", "workspaceId": "517fbcba-b385-493c-9a8b-2c4f02edef49"}, {"id": "5960176e-cb69-4b60-8cca-5b47a1dac0a5",
    [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/517fbcba-b385-493c-9a8b-2c4f02edef49/eventhouses
  response:
    body:
      string: '{"id": "852b51ce-9c0a-4a2f-97c9-a5f36b9b964c", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "517fbcba-b385-493c-9a8b-2c4f02edef49"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 46844789-77ff-4372-b3ab-17336fe418af
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "852b51ce-9c0a-4a2f-97c9-a5f36b9b964c"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/517fbcba-b385-493c-9a8b-2c4f02edef49/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/503763ed-4d5d-4e19-8427-988af625000d
      RequestId:
      - 3dfdc917-3122-434c-aaf0-9e1993c19119
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 503763ed-4d5d-4e19-8427-988af625000d
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/503763ed-4d5d-4e19-8427-988af625000d
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-12-14T20:11:59.564555",
        "lastUpdatedTimeUtc": "2025-12-14T20:12:06.3027829", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/503763ed-4d5d-4e19-8427-988af625000d/result
      RequestId:
      - 8616e499-f498-4dae-ade9-16db39d0129e
      x-ms-operation-id:
      - 503763ed-4d5d-4e19-8427-988af625000d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/503763ed-4d5d-4e19-8427-988af625000d/result
  response:
    body:
      string: '{"id": "e8e0f1f1-c4ca-43cc-83a7-b5ec2d85e627", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "517fbcba-b385-493c-9a8b-2c4f02edef49"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 4340f0b4-73f1-46c3-8e49-ee1deb960424
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/517fbcba-b385-493c-9a8b-2c4f02edef49/items/e8e0f1f1-c4ca-43cc-83a7-b5ec2d85e627
  response:
    body:
      string: '{"id": "e8e0f1f1-c4ca-43cc-83a7-b5ec2d85e627", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "517fbcba-b385-493c-9a8b-2c4f02edef49"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e18cccdb-9846-48da-a4cb-51796e410b62
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/517fbcba-b385-493c-9a8b-2c4f02edef49/items/e8e0f1f1-c4ca-43cc-83a7-b5ec2d85e627/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8b458f1c-a848-4edb-969a-26b1f10776b7
      RequestId:
      - a8f28ddf-0cc0-4972-b89d-a5b393080276
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 8b458f1c-a848-4edb-969a-26b1f10776b7
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8b458f1c-a848-4edb-969a-26b1f10776b7/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "DatabaseProperties.json", "payload":
        "ew0KICAiZGF0YWJhc2VUeXBlIjogIlJlYWRXcml0ZSIsDQogICJwYXJlbnRFdmVudGhvdXNlSXRlbUlkIjogIjg1MmI1MWNlLTljMGEtNGEyZi05N2M5LWE1ZjM2YjliOTY0YyIsDQogICJvbmVMYWtlQ2FjaGluZ1BlcmlvZCI6ICJQMzY1MDAwRCIsDQogICJvbmVMYWtlU3RhbmRhcmRTdG9yYWdlUGVyaW9kIjogIlAzNjUwMDBEIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": "DatabaseSchema.kql", "payload":
        "Ly8gS1FMIHNjcmlwdA0KLy8gVXNlIG1hbmFnZW1lbnQgY29tbWFuZHMgaW4gdGhpcyBzY3JpcHQgdG8gY29uZmlndXJlIHlvdXIgZGF0YWJhc2UgaXRlbXMsIHN1Y2ggYXMgdGFibGVzLCBmdW5jdGlvbnMsIG1hdGVyaWFsaXplZCB2aWV3cywgYW5kIG1vcmUuDQoNCg0K",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTERhdGFiYXNlIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 125b54b9-fda9-429b-951f-413e01814352
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "KQLDatabase", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_8", "definition": {"parts": [{"path":
      "DatabaseProperties.json", "payload": "ewogICAgImRhdGFiYXNlVHlwZSI6ICJSZWFkV3JpdGUiLAogICAgInBhcmVudEV2ZW50aG91c2VJdGVtSWQiOiAiODUyYjUxY2UtOWMwYS00YTJmLTk3YzktYTVmMzZiOWI5NjRjIiwKICAgICJvbmVMYWtlQ2FjaGluZ1BlcmlvZCI6ICJQMzY1MDAwRCIsCiAgICAib25lTGFrZVN0YW5kYXJkU3RvcmFnZVBlcmlvZCI6ICJQMzY1MDAwRCIKfQ==",
      "payloadT[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/517fbcba-b385-493c-9a8b-2c4f02edef49/items/e8e0f1f1-c4ca-43cc-83a7-b5ec2d85e627
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - efe724a9-e988-4ea8-9477-aff55ec8f475
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
