interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 29c3b515-1d93-4f6b-a403-6a12e857dfe4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb/items
  response:
    body:
      string: '{"value": [{"id": "ce57bbc8-a136-46fa-a687-7f34d7738b01", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb"},
        {"id": "a307a7fa-f82e-47e6-8ef8-79cb61044b98", "type": "SQLEndpoint", "displayName":
        "fabcli000001_new_3", "description": "", "workspaceId": "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb"},
        {"id": "1525a7f2-a3c8-46a0-8b2a-f5e9d5a515ed", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb"},
        {"id": "c5b79419-35d0-4915-b77b-c173d671f7[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb/dataPipelines
  response:
    body:
      string: '{"id": "f2ea7705-05a3-4bca-a8aa-b10841e13760", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7b21260d-8815-45aa-9255-d7113cb07088
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb/items/f2ea7705-05a3-4bca-a8aa-b10841e13760
  response:
    body:
      string: '{"id": "f2ea7705-05a3-4bca-a8aa-b10841e13760", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 25aac59d-186e-4b04-9fd9-8d24cb8ba414
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb/items/f2ea7705-05a3-4bca-a8aa-b10841e13760/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "pipeline-content.json", "payload":
        "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==", "payloadType":
        "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRhdGFQaXBlbGluZSIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d8c580c2-bd30-47d2-930d-330bebbccd95
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "DataPipeline", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_10", "definition": {"parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiRGF0YVBpcGVsaW5lIiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgIC[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb/items/f2ea7705-05a3-4bca-a8aa-b10841e13760
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 916aa41e-7d09-463b-9677-391fefa911ab
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
