interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "69ad43c8-9a51-43f8-829d-d6163efc373d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a7dbe28f-0b62-47f3-aaec-d768a2d1c794
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items
  response:
    body:
      string: '{"value": [{"id": "5d7b4149-49f4-4fc8-89fb-cc3767c11e19", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"},
        {"id": "513e527a-145a-4f1e-8a47-569e51089cb2", "type": "SQLEndpoint", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"},
        {"id": "751c1f18-e2a1-4bb3-9bdf-a28f9358bf2b", "type": "SQLEndpoint", "displayName":
        "fabcli000001_new_18", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"},
        {"id": "da769db2-b7ec-4d45-b215-5fbf6e04d5c1", "ty[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Notebook", "folderId": null, "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cc3bdd3e-209f-4c87-89fb-88c400948049
      RequestId:
      - bcdb0097-7113-411f-8282-4edb685a3193
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - cc3bdd3e-209f-4c87-89fb-88c400948049
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cc3bdd3e-209f-4c87-89fb-88c400948049
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T10:18:23.7746193",
        "lastUpdatedTimeUtc": "2026-05-13T10:18:25.1516043", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cc3bdd3e-209f-4c87-89fb-88c400948049/result
      RequestId:
      - fc29adea-d31e-4636-90ac-cfb0e8ceb06f
      x-ms-operation-id:
      - cc3bdd3e-209f-4c87-89fb-88c400948049
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cc3bdd3e-209f-4c87-89fb-88c400948049/result
  response:
    body:
      string: '{"id": "9a81661f-fca1-4c6b-b915-074d41fc199b", "type": "Notebook",
        "displayName": "fabcli000001", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 2f664374-8c39-46b6-ada1-1bd13102ba03
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items/9a81661f-fca1-4c6b-b915-074d41fc199b
  response:
    body:
      string: '{"id": "9a81661f-fca1-4c6b-b915-074d41fc199b", "type": "Notebook",
        "displayName": "fabcli000001", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e29bb40d-20df-47ad-881b-ab0051772ac0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items/9a81661f-fca1-4c6b-b915-074d41fc199b/getDefinition?format=ipynb
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/df5314e0-e21b-4928-8620-e627456130d0
      RequestId:
      - 1e19ebd6-5610-4e37-9da3-e1bc82e8ed24
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - df5314e0-e21b-4928-8620-e627456130d0
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "Notebook", "folderId": null, "displayName": "fabcli000001_new_19",
      "definition": {"parts": [{"path": "notebook-content.ipynb", "payload": "ewogICAgIm5iZm9ybWF0IjogNCwKICAgICJuYmZvcm1hdF9taW5vciI6IDUsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgImxhbmd1YWdlX2luZm8iOiB7CiAgICAgICAgICAgICJuYW1lIjogInB5dGhvbiIKICAgICAgICB9LAogICAgICAgICJrZXJuZWxfaW5mbyI6IHsKICAgICAgICAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIiwKICAgICAgICAgICAgImp1cHl0ZXJfa2VybmVsX25hbWUiOiBudWxsCiAgICAgICA[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items/9a81661f-fca1-4c6b-b915-074d41fc199b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1280f865-7820-4fe9-907e-4e261ea2631b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
