interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c2994b45-b913-433f-965e-bb7a6d8d012a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2331d936-2e8f-49c4-9563-c4acb3c0e3b2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/items
  response:
    body:
      string: '{"value": [{"id": "3afcf9cd-bcf4-4296-b909-2e2fa577cc70", "type": "Report",
        "displayName": "fabcli000001_new_6", "description": "Imported from fab", "workspaceId":
        "c2994b45-b913-433f-965e-bb7a6d8d012a"}, {"id": "ac301525-6707-43f5-b6ce-4a4f2ef78a10",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "c2994b45-b913-433f-965e-bb7a6d8d012a"}, {"id": "16e2b876-d40b-4005-a2b8-41d141a3c621",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "c2994b45-b913-433f-965e-bb7a6d8d012a"}, {"id": "6e734d42-3753-48bd-b846-cccc16cfd7c2",
     [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDashboard", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/kqlDashboards
  response:
    body:
      string: '{"id": "3fadaad1-1ef2-4b11-9776-8413dbb5b772", "type": "KQLDashboard",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c2994b45-b913-433f-965e-bb7a6d8d012a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 8f67da2c-4e71-44cc-8e91-422661f0c65e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/items/3fadaad1-1ef2-4b11-9776-8413dbb5b772
  response:
    body:
      string: '{"id": "3fadaad1-1ef2-4b11-9776-8413dbb5b772", "type": "KQLDashboard",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c2994b45-b913-433f-965e-bb7a6d8d012a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ed98e577-09b7-4778-88d5-8b0fd3794dc1
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/items/3fadaad1-1ef2-4b11-9776-8413dbb5b772/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "RealTimeDashboard.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTERhc2hib2FyZCIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 43de7188-95c4-4927-a7da-aec149283e56
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "KQLDashboard", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_13", "definition": {"parts": [{"path":
      "RealTimeDashboard.json", "payload": "e30=", "payloadType": "InlineBase64"},
      {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgIC[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/items/3fadaad1-1ef2-4b11-9776-8413dbb5b772
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - dca81ff6-9996-4585-a229-6efcf0f87d07
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
