interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e612c1cf-5450-4af1-8113-798350c641ba",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6fd45161-ccdb-4809-9ebb-da4e284d5434
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items
  response:
    body:
      string: '{"value": [{"id": "1d7eecac-af38-4bb4-82ee-03062d007b10", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "Imported from fab", "workspaceId":
        "e612c1cf-5450-4af1-8113-798350c641ba"}, {"id": "1b330f3e-8f48-4026-a21a-bc5817181881",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "e612c1cf-5450-4af1-8113-798350c641ba"}, {"id": "fec5411c-512d-4a39-8f4a-141dbd263869",
        "type": "SemanticModel", "displayName": "fabcli000001_new_6", "description":
        "", "workspaceId": "e612c1cf-5450-4af1-8113-798350c641ba"}, {"id": "28dc2108-531e-4b55-a739-8af135ae72a5",
    [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "UserDataFunction", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/userdatafunctions
  response:
    body:
      string: '{"id": "3dcffca2-3882-4c3c-8a18-e3efa0e688f2", "type": "UserDataFunction",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e612c1cf-5450-4af1-8113-798350c641ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 5b00a8ec-9569-4d11-991e-4a1f1d8e3603
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items/3dcffca2-3882-4c3c-8a18-e3efa0e688f2
  response:
    body:
      string: '{"id": "3dcffca2-3882-4c3c-8a18-e3efa0e688f2", "type": "UserDataFunction",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e612c1cf-5450-4af1-8113-798350c641ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a07d257d-3f3c-4fe2-9a94-787c3597dd49
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items/3dcffca2-3882-4c3c-8a18-e3efa0e688f2/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b59dbb5b-d268-4049-a266-7c5ee4c93c52
      RequestId:
      - 8cc50828-cd28-4f54-a4b4-1b8b01d86280
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b59dbb5b-d268-4049-a266-7c5ee4c93c52
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b59dbb5b-d268-4049-a266-7c5ee4c93c52
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-14T12:41:58.5669351",
        "lastUpdatedTimeUtc": "2026-04-14T12:41:58.7483646", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b59dbb5b-d268-4049-a266-7c5ee4c93c52/result
      RequestId:
      - 9fbd0ede-0867-46a8-8f26-5d1793e60573
      x-ms-operation-id:
      - b59dbb5b-d268-4049-a266-7c5ee4c93c52
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b59dbb5b-d268-4049-a266-7c5ee4c93c52/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS91c2VyRGF0YUZ1bmN0aW9uL2RlZmluaXRpb24vMS4xLjAvc2NoZW1hLmpzb24iLA0KICAicnVudGltZSI6ICJQWVRIT04iLA0KICAiY29ubmVjdGVkRGF0YVNvdXJjZXMiOiBbXSwNCiAgImZ1bmN0aW9ucyI6IFtdLA0KICAibGlicmFyaWVzIjogew0KICAgICJwdWJsaWMiOiBbXSwNCiAgICAicHJpdmF0ZSI6IFtdDQogIH0NCn0=",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlVzZXJEYXRhRnVuY3Rpb24iLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 1ef94a19-9b3e-4edb-afec-8f73df7cebaf
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "UserDataFunction", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_15", "definition": {"parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiVXNlckRhdGFGdW5jdGlvbiIsCiAgICAgICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMS[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items/3dcffca2-3882-4c3c-8a18-e3efa0e688f2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2f24a039-84d6-4820-85c0-7c7a551f934d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
