interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7e598955-2dfe-415b-b4d9-ff0258025428",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 77d538ea-f9d7-4e40-90d6-99edb1502846
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items
  response:
    body:
      string: '{"value": [{"id": "ecb3e483-dfb3-438d-b324-ad4ae515c078", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "3351eb10-5f38-4c77-823c-8c779399100c", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "bd1f8d06-49cd-4629-9687-39510eda3de8", "type": "SemanticModel", "displayName":
        "fabcli000001_new_6", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "37861b2d-8513-4d88-84f3-76386601c3c2", "typ[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "KQLDashboard", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/kqlDashboards
  response:
    body:
      string: '{"id": "2df73074-b9a3-42d8-b499-0508c3b82015", "type": "KQLDashboard",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 1690143d-d7b0-4cbb-9cf4-d7f557e9a05a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items/2df73074-b9a3-42d8-b499-0508c3b82015
  response:
    body:
      string: '{"id": "2df73074-b9a3-42d8-b499-0508c3b82015", "type": "KQLDashboard",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f026ae6d-6de6-41e5-bcbc-5a09b376d3e9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items/2df73074-b9a3-42d8-b499-0508c3b82015/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "RealTimeDashboard.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTERhc2hib2FyZCIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7f1d08a6-174e-4a3d-a136-862532a4acb4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "KQLDashboard", "folderId": null, "displayName": "fabcli000001_new_12",
      "definition": {"parts": [{"path": "RealTimeDashboard.json", "payload": "e30=",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiS1FMRGFzaGJvYXJkIiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIgogICAgfSwKICAgICJjb25maWciOiB7CiAgICAgICAgInZlcnNpb24iOiAiMi4wIiwKICAgICAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICAgIH0KfQ==",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items
  response:
    body:
      string: '{"id": "7d26e995-a059-4b28-b779-78187b5104d4", "type": "KQLDashboard",
        "displayName": "fabcli000001_new_12", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4cc177e7-12e6-407a-ada9-b6bd4aea0962
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items/2df73074-b9a3-42d8-b499-0508c3b82015
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 18ac27fc-9c5d-4f03-ae85-55b07823b200
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
