interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "69ad43c8-9a51-43f8-829d-d6163efc373d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 39e17d06-955a-44d8-843a-d0d0ae9bcca5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c0dc1ba3-b364-480d-a2e3-5cea22b8b14b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7b1bd2d6-fb22-4d7e-b472-3ab4ec3a7f23
      RequestId:
      - 394a4cde-901b-43b6-9476-828a5916f192
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7b1bd2d6-fb22-4d7e-b472-3ab4ec3a7f23
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7b1bd2d6-fb22-4d7e-b472-3ab4ec3a7f23
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T10:14:32.9447653",
        "lastUpdatedTimeUtc": "2026-05-13T10:14:41.7095983", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7b1bd2d6-fb22-4d7e-b472-3ab4ec3a7f23/result
      RequestId:
      - f9b9f738-b285-43d6-8924-116fed009c34
      x-ms-operation-id:
      - 7b1bd2d6-fb22-4d7e-b472-3ab4ec3a7f23
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7b1bd2d6-fb22-4d7e-b472-3ab4ec3a7f23/result
  response:
    body:
      string: '{"id": "196b2907-4e83-4b84-84ef-d62744189326", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 717b5a71-b376-4995-8e05-aad20021e3b5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items/196b2907-4e83-4b84-84ef-d62744189326
  response:
    body:
      string: '{"id": "196b2907-4e83-4b84-84ef-d62744189326", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f4f5f175-e6fd-4991-8bfa-bd4051c0cf95
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items/196b2907-4e83-4b84-84ef-d62744189326/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b2bc60ef-1546-4d26-a346-8c2f605b17cc
      RequestId:
      - 1a1b7a93-c4d7-418b-ace7-780ce7afa878
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b2bc60ef-1546-4d26-a346-8c2f605b17cc
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b2bc60ef-1546-4d26-a346-8c2f605b17cc/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiZGE3NjlkYjItYjdlYy00ZDQ1LWIyMTUtNWZiZjZlMDRkNWMxIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 8bf66c90-d8a0-489c-b02b-311329ce7d90
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "DigitalTwinBuilder", "folderId": null, "displayName": "fabcli000001_new_16",
      "definition": {"parts": [{"path": "definition.json", "payload": "ewogICAgIkxha2Vob3VzZUlkIjogImRhNzY5ZGIyLWI3ZWMtNGQ0NS1iMjE1LTVmYmY2ZTA0ZDVjMSIKfQ==",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvb[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items/196b2907-4e83-4b84-84ef-d62744189326
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0a9f927a-8078-4e7b-a6e1-c2988c59836b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
