interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "cf115c16-dbe1-466c-b3c8-a406a50fcfc7", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ed6ea7ef-881f-4dd3-bb3c-ff1567393299
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf115c16-dbe1-466c-b3c8-a406a50fcfc7/items
  response:
    body:
      string: '{"value": [{"id": "4aa6e43f-20e2-46d6-8fb6-5da2587a0336", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "Imported from fab", "workspaceId":
        "cf115c16-dbe1-466c-b3c8-a406a50fcfc7"}, {"id": "2e77bf8a-2e41-4ad1-89da-77ed7ca4fa7d",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "cf115c16-dbe1-466c-b3c8-a406a50fcfc7"}, {"id": "91bd8fa7-8f42-4999-956f-3ed8341231be",
        "type": "SemanticModel", "displayName": "fabcli000001_new_6", "description":
        "", "workspaceId": "cf115c16-dbe1-466c-b3c8-a406a50fcfc7"}, {"id": "e5c42dde-b7a5-4d98-beee-bb4556edfa86",
    [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf115c16-dbe1-466c-b3c8-a406a50fcfc7/eventhouses
  response:
    body:
      string: '{"id": "14031acc-51a3-4dee-8b35-ad945a3d1cd0", "type": "Eventhouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "cf115c16-dbe1-466c-b3c8-a406a50fcfc7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 587cd4a9-5a7d-466a-bd14-d32f8349afbf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf115c16-dbe1-466c-b3c8-a406a50fcfc7/items/14031acc-51a3-4dee-8b35-ad945a3d1cd0
  response:
    body:
      string: '{"id": "14031acc-51a3-4dee-8b35-ad945a3d1cd0", "type": "Eventhouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "cf115c16-dbe1-466c-b3c8-a406a50fcfc7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 2c9bea65-b40a-4435-a6f4-9b051cf66abb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf115c16-dbe1-466c-b3c8-a406a50fcfc7/items/14031acc-51a3-4dee-8b35-ad945a3d1cd0/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dbc45283-425b-441a-bf0e-e9e0228afd13
      RequestId:
      - 46f880b1-856d-41b3-9dbc-1fd06216b74d
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - dbc45283-425b-441a-bf0e-e9e0228afd13
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dbc45283-425b-441a-bf0e-e9e0228afd13
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-20T08:21:25.0443864",
        "lastUpdatedTimeUtc": "2026-01-20T08:21:33.8757888", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dbc45283-425b-441a-bf0e-e9e0228afd13/result
      RequestId:
      - a64d8c2a-3fd8-492e-b4eb-227707fd41d2
      x-ms-operation-id:
      - dbc45283-425b-441a-bf0e-e9e0228afd13
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dbc45283-425b-441a-bf0e-e9e0228afd13/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "EventhouseProperties.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkV2ZW50aG91c2UiLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 1d6d4cb5-0693-4650-a7d8-6dac3154dbde
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Eventhouse", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_9", "definition": {"parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiRXZlbnRob3VzZSIsCiAgICAgICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAgICAgI[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf115c16-dbe1-466c-b3c8-a406a50fcfc7/items/14031acc-51a3-4dee-8b35-ad945a3d1cd0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - db0bfae1-fd25-436b-9c23-2b7bde35f411
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
