interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6127090a-8bdf-447a-a6ea-c46df89a1855",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9c26ab0b-a1c3-44ac-9465-7ee0d86d874d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6127090a-8bdf-447a-a6ea-c46df89a1855/items
  response:
    body:
      string: '{"value": [{"id": "a64b1698-7861-448a-852c-c4e234bdf44a", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "Imported from fab", "workspaceId":
        "6127090a-8bdf-447a-a6ea-c46df89a1855"}, {"id": "2da733fc-efa0-4796-b044-0650b153ba87",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "6127090a-8bdf-447a-a6ea-c46df89a1855"}, {"id": "a4269aa8-8dc5-4cf4-8b5b-e8f750af65b9",
        "type": "SemanticModel", "displayName": "fabcli000001_new_6", "description":
        "", "workspaceId": "6127090a-8bdf-447a-a6ea-c46df89a1855"}, {"id": "8b55929b-f903-4b1c-946b-ce14a11893d1",
    [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Reflex", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6127090a-8bdf-447a-a6ea-c46df89a1855/reflexes
  response:
    body:
      string: '{"id": "bf09aca6-c428-4cde-8305-50e4b8340fdb", "type": "Reflex", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "6127090a-8bdf-447a-a6ea-c46df89a1855"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c92024d8-037c-48b2-bb71-dc92a29b0495
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6127090a-8bdf-447a-a6ea-c46df89a1855/items/bf09aca6-c428-4cde-8305-50e4b8340fdb
  response:
    body:
      string: '{"id": "bf09aca6-c428-4cde-8305-50e4b8340fdb", "type": "Reflex", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "6127090a-8bdf-447a-a6ea-c46df89a1855"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6a137b78-07e6-4cc9-9aba-084f8ce7aaf8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6127090a-8bdf-447a-a6ea-c46df89a1855/items/bf09aca6-c428-4cde-8305-50e4b8340fdb/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "ReflexEntities.json", "payload":
        "W10=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlJlZmxleCIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - be7f45ca-6c59-4d79-a85e-5a7230bead95
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Reflex", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001_new_11", "definition": {"parts": [{"path": "ReflexEntities.json",
      "payload": "W10=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload":
      "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGU[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6127090a-8bdf-447a-a6ea-c46df89a1855/items/bf09aca6-c428-4cde-8305-50e4b8340fdb
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a45c0865-3ac6-4ee5-b3ee-42d24535edcf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
