interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "0df9017e-280e-4604-b99d-d9cffa9d2647",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f6321ce9-cb1f-4189-a744-76dce975cbf6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0df9017e-280e-4604-b99d-d9cffa9d2647/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dc3859f2-8925-497d-8cbf-8a0e90f90425
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0df9017e-280e-4604-b99d-d9cffa9d2647/lakehouses
  response:
    body:
      string: '{"id": "f4dcf297-059a-4b54-ada2-7b2e7a54baa2", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "0df9017e-280e-4604-b99d-d9cffa9d2647"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6f6a4743-e88f-4588-92b5-a5fc7152b32e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0df9017e-280e-4604-b99d-d9cffa9d2647/items/f4dcf297-059a-4b54-ada2-7b2e7a54baa2
  response:
    body:
      string: '{"id": "f4dcf297-059a-4b54-ada2-7b2e7a54baa2", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "0df9017e-280e-4604-b99d-d9cffa9d2647"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4c51667c-124e-485f-a01a-3979cdbbf738
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0df9017e-280e-4604-b99d-d9cffa9d2647/items/f4dcf297-059a-4b54-ada2-7b2e7a54baa2/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "lakehouse.metadata.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": "alm.settings.json", "payload":
        "ew0KICAidmVyc2lvbiI6ICIxLjAuMSIsDQogICJvYmplY3RUeXBlcyI6IFsNCiAgICB7DQogICAgICAibmFtZSI6ICJTaG9ydGN1dHMiLA0KICAgICAgInN0YXRlIjogIkVuYWJsZWQiLA0KICAgICAgInN1Yk9iamVjdFR5cGVzIjogWw0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLk9uZUxha2UiLA0KICAgICAgICAgICJzdGF0ZSI6ICJFbmFibGVkIg0KICAgICAgICB9LA0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLkFkbHNHZW4yIiwNCiAgICAgICAgICAic3RhdGUiOiAiRW5hYmxlZCINCiAgICAgICAgfSwNCiAg[...]
[...]
- request:
    body: '{"type": "Lakehouse", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001_new_2", "definition": {"parts": [{"path": "shortcuts.metadata.json",
      "payload": "W10=", "payloadType": "InlineBase64"}, {"path": "lakehouse.metadata.json",
      "payload": "e30=", "payloadType": "InlineBase64"}, {"path": "alm.settings.json",
      "payload": "ewogICAgInZlcnNpb24iOiAiMS4wLjEiLAogICAgIm9iamVjdFR5cGVzIjogWwogICAgICAgIHsKICAgICAgICAgICAgIm5hbWUi[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/27c138bd-bfde-424e-baf2-a053c77fcd70
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-26T08:01:52.409158",
        "lastUpdatedTimeUtc": "2026-03-26T08:01:56.1871635", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/27c138bd-bfde-424e-baf2-a053c77fcd70/result
      RequestId:
      - 4bdce1e8-7c85-4ba3-9d89-437aa39e7f4d
      x-ms-operation-id:
      - 27c138bd-bfde-424e-baf2-a053c77fcd70
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/27c138bd-bfde-424e-baf2-a053c77fcd70/result
  response:
    body:
      string: '{"id": "d833d772-723a-4323-94ca-5654a7a93588", "type": "Lakehouse",
        "displayName": "fabcli000001_new_2", "description": "Imported from fab", "workspaceId":
        "0df9017e-280e-4604-b99d-d9cffa9d2647"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 39aff55e-7944-4d58-aab7-ceeb69ce89f6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0df9017e-280e-4604-b99d-d9cffa9d2647/items/f4dcf297-059a-4b54-ada2-7b2e7a54baa2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a6e08f20-b45d-4c6b-b306-25ba05de2221
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
