interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "704a31b2-abd1-4aac-863d-ba2cdf6527d9",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b087f378-7180-4f7d-a667-fd4dd11a5217
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/items
  response:
    body:
      string: '{"value": [{"id": "63297299-d084-4676-92ca-91cc20fcbc14", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "704a31b2-abd1-4aac-863d-ba2cdf6527d9"},
        {"id": "5abac0b4-f94b-4706-bc7d-e37f2a801f47", "type": "SQLEndpoint", "displayName":
        "fabcli000001_new_3", "description": "", "workspaceId": "704a31b2-abd1-4aac-863d-ba2cdf6527d9"},
        {"id": "9065f1b3-34d8-4104-bf19-847b3c724abe", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "704a31b2-abd1-4aac-863d-ba2cdf6527d9"},
        {"id": "9fe7ca9d-f5be-4fd3-9035-42e383715b55", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "704a31b2-abd1-4aac-863d-ba2cdf6527d9"},
        {"id": "33a0ac87-ec7b-4e59-a4ab-64ad7464bb6d", "type": "Notebook", "displayName":
        "fabcli000001_new_2", "description": "Imported from fab", "workspaceId": "704a31b2-abd1-4aac-863d-ba2cdf6527d9"},
        {"id": "aeb6809c-186c-49ee-89cf-de9c31add7e4", "type": "SQLDatabase", "displayName":
        "fabcli000001_new_3", "description": "Imported from fab", "workspaceId": "704a31b2-abd1-4aac-863d-ba2cdf6527d9"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1787daaf-2b44-485c-a1ef-d3ad1610c0c7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7b3822e0-54c7-4822-905c-4e8efd449996
      RequestId:
      - efa0ee31-2a0d-438d-91ef-f6454b40c0a9
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7b3822e0-54c7-4822-905c-4e8efd449996
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7b3822e0-54c7-4822-905c-4e8efd449996
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-12-15T07:43:34.9587051",
        "lastUpdatedTimeUtc": "2025-12-15T07:43:36.2250005", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7b3822e0-54c7-4822-905c-4e8efd449996/result
      RequestId:
      - 788247d8-b68f-4566-a76b-ff6cfbeab8ea
      x-ms-operation-id:
      - 7b3822e0-54c7-4822-905c-4e8efd449996
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7b3822e0-54c7-4822-905c-4e8efd449996/result
  response:
    body:
      string: '{"id": "7fa3c6d4-07e4-4c80-a19c-d01874ccda6c", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "704a31b2-abd1-4aac-863d-ba2cdf6527d9"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b9f256ff-bf7d-44a5-b576-96e96ad2a99b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/items/7fa3c6d4-07e4-4c80-a19c-d01874ccda6c
  response:
    body:
      string: '{"id": "7fa3c6d4-07e4-4c80-a19c-d01874ccda6c", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "704a31b2-abd1-4aac-863d-ba2cdf6527d9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c09ca888-5219-4531-9472-cf87f23dc3a4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/items/7fa3c6d4-07e4-4c80-a19c-d01874ccda6c/getDefinition?format=ipynb
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bca7c0c8-d6b4-4392-871e-ed1e72343e64
      RequestId:
      - cdac3388-14b7-4938-976e-dcd8bdd66e8e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - bca7c0c8-d6b4-4392-871e-ed1e72343e64
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001_new_4", "definition": {"format": "ipynb", "parts":
      [{"path": "notebook-content.ipynb", "payload": "ewogICAgIm5iZm9ybWF0IjogNCwKICAgICJuYmZvcm1hdF9taW5vciI6IDUsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgImxhbmd1YWdlX2luZm8iOiB7CiAgICAgICAgICAgICJuYW1lIjogInB5dGhvbiIKICAgICAgICB9LAogICAgICAgICJrZXJuZWxfaW5mbyI6IHsKICAgICAgICAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIiwKICAgICAgICAgICAgImp1cHl0ZXJfa2VybmVsX25hbWUiOiBudWxsCiAgICAgICAgfSwKICAgICAgICAiYTM2NUNvbXB1dGVPcHRpb25zIjogbnVsbCwKICAgICAgICAic2Vzc2lvbktlZXBBbGl2ZVRpbWVvdXQiOiAwLAo[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/items/7fa3c6d4-07e4-4c80-a19c-d01874ccda6c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - cb3272ab-74d7-44db-9825-a7145d32b050
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
