interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a236738d-ce17-46dd-b17c-ef2502924abb",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 69524618-bc44-454b-9d74-eca6eb817810
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/items
  response:
    body:
      string: '{"value": [{"id": "4b496b1a-60ed-4566-95f2-62608de034d4", "type": "Report",
        "displayName": "fabcli000001_new_6", "description": "Imported from fab", "workspaceId":
        "a236738d-ce17-46dd-b17c-ef2502924abb"}, {"id": "3722b7bc-6772-4795-8b21-21f263cb5087",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "a236738d-ce17-46dd-b17c-ef2502924abb"}, {"id": "7cb24376-4cc2-4027-b06b-70127e6a6fc9",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "a236738d-ce17-46dd-b17c-ef2502924abb"}, {"id": "0bd3685c-f169-42f0-9a6c-2ad8431135a5",
     [...]
[...]
