interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "69ad43c8-9a51-43f8-829d-d6163efc373d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ccf0e052-430c-439a-bf68-26854f39196d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items
  response:
    body:
      string: '{"value": [{"id": "5d7b4149-49f4-4fc8-89fb-cc3767c11e19", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"},
        {"id": "513e527a-145a-4f1e-8a47-569e51089cb2", "type": "SQLEndpoint", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"},
        {"id": "da769db2-b7ec-4d45-b215-5fbf6e04d5c1", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"},
        {"id": "90968799-aaae-4db2-bfee-055ccbbf5ef9", "type": [...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/lakehouses
  response:
    body:
      string: '{"id": "3e39e31e-08d9-4577-b821-90a4c8be2e28", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6582e6fc-94af-403b-aa06-79eac43c9b8a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items/3e39e31e-08d9-4577-b821-90a4c8be2e28
  response:
    body:
      string: '{"id": "3e39e31e-08d9-4577-b821-90a4c8be2e28", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 8d89fd2d-2d25-4729-8116-f7bb39015f85
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items/3e39e31e-08d9-4577-b821-90a4c8be2e28/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "lakehouse.metadata.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": "alm.settings.json", "payload":
        "ew0KICAidmVyc2lvbiI6ICIxLjAuMSIsDQogICJvYmplY3RUeXBlcyI6IFsNCiAgICB7DQogICAgICAibmFtZSI6ICJTaG9ydGN1dHMiLA0KICAgICAgInN0YXRlIjogIkVuYWJsZWQiLA0KICAgICAgInN1Yk9iamVjdFR5cGVzIjogWw0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLk9uZUxha2UiLA0KICAgICAgICAgICJzdGF0ZSI6ICJFbmFibGVkIg0KICAgICAgICB9LA0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLkFkbHNHZW4yIiwNCiAgICAgICAgICAic3RhdGUiOiAiRW5hYmxlZCINCiAgICAgICAgfSwNCiAg[...]
[...]
- request:
    body: '{"type": "Lakehouse", "folderId": null, "displayName": "fabcli000001_new_18",
      "definition": {"parts": [{"path": "alm.settings.json", "payload": "ewogICAgInZlcnNpb24iOiAiMS4wLjEiLAogICAgIm9iamVjdFR5cGVzIjogWwogICAgICAgIHsKICAgICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzIiwKICAgICAgICAgICAgInN0YXRlIjogIkVuYWJsZWQiLAogICAgICAgICAgICAic3ViT2JqZWN0VHlwZXMiOiBbCiAgICAgICAgICAgICAgICB7CiAgICAgICAgICAgICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLk9uZUxha2UiLAogICAgICAgICAgICAgICAgICAgICJzdGF[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c33ee267-e813-42e5-b079-c299ab34c31a
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T10:17:54.3863078",
        "lastUpdatedTimeUtc": "2026-05-13T10:17:58.3737265", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c33ee267-e813-42e5-b079-c299ab34c31a/result
      RequestId:
      - 06b26bbd-eef5-4310-97a3-0a5dd3b294b8
      x-ms-operation-id:
      - c33ee267-e813-42e5-b079-c299ab34c31a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c33ee267-e813-42e5-b079-c299ab34c31a/result
  response:
    body:
      string: '{"id": "8041ccaf-0625-4948-9b10-1bfb9fc6a5d9", "type": "Lakehouse",
        "displayName": "fabcli000001_new_18", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c0b0236b-a416-43ff-b1d2-c1967ac6b710
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items/3e39e31e-08d9-4577-b821-90a4c8be2e28
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ed3bec95-b863-48dd-b5ee-00ad84f3ad74
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
