interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "cd4c9d9e-03f2-4ab2-830b-71d168ddc2ba",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cc8e6174-055c-4acb-9668-9f6885e829d9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cd4c9d9e-03f2-4ab2-830b-71d168ddc2ba/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d19fc563-e001-4f12-9c0a-4ae3dd472cb3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cd4c9d9e-03f2-4ab2-830b-71d168ddc2ba/environments
  response:
    body:
      string: '{"id": "30de3c03-d928-438a-8bb6-00dc1cb48ab5", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "cd4c9d9e-03f2-4ab2-830b-71d168ddc2ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 284ca58b-7c47-4fc2-b2f5-cbcff14d7f70
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cd4c9d9e-03f2-4ab2-830b-71d168ddc2ba/items/30de3c03-d928-438a-8bb6-00dc1cb48ab5
  response:
    body:
      string: '{"id": "30de3c03-d928-438a-8bb6-00dc1cb48ab5", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "cd4c9d9e-03f2-4ab2-830b-71d168ddc2ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 23cf9ac1-e15c-4405-be55-a789583343d3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cd4c9d9e-03f2-4ab2-830b-71d168ddc2ba/items/30de3c03-d928-438a-8bb6-00dc1cb48ab5/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2b3a7c2a-c8ad-4ad4-a81a-c64b737bfa55
      RequestId:
      - 652e7c8d-0167-4d35-9b56-37075f386cbe
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 2b3a7c2a-c8ad-4ad4-a81a-c64b737bfa55
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2b3a7c2a-c8ad-4ad4-a81a-c64b737bfa55
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-23T05:39:54.9528794",
        "lastUpdatedTimeUtc": "2026-04-23T05:39:55.1494731", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2b3a7c2a-c8ad-4ad4-a81a-c64b737bfa55/result
      RequestId:
      - 7d7ca7ef-b1ff-4716-b727-1b88531c552b
      x-ms-operation-id:
      - 2b3a7c2a-c8ad-4ad4-a81a-c64b737bfa55
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2b3a7c2a-c8ad-4ad4-a81a-c64b737bfa55/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "Setting/Sparkcompute.yml", "payload":
        "ZW5hYmxlX25hdGl2ZV9leGVjdXRpb25fZW5naW5lOiBmYWxzZQ0KZHJpdmVyX2NvcmVzOiA4DQpkcml2ZXJfbWVtb3J5OiA1NmcNCmV4ZWN1dG9yX2NvcmVzOiA4DQpleGVjdXRvcl9tZW1vcnk6IDU2Zw0KZHluYW1pY19leGVjdXRvcl9hbGxvY2F0aW9uOg0KICBlbmFibGVkOiB0cnVlDQogIG1pbl9leGVjdXRvcnM6IDENCiAgbWF4X2V4ZWN1dG9yczogOQ0KcnVudGltZV92ZXJzaW9uOiAxLjMNCg==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkVudmlyb25tZW50IiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 12f49aed-ec82-4a5f-886b-6e8267bbf7b2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cd4c9d9e-03f2-4ab2-830b-71d168ddc2ba/environments/7132f7b6-e0e1-4f59-a716-2f1bcc818bb9
  response:
    body:
      string: '{"id": "7132f7b6-e0e1-4f59-a716-2f1bcc818bb9", "type": "Environment",
        "displayName": "fabcli000001_new_2", "description": "Imported from fab", "workspaceId":
        "cd4c9d9e-03f2-4ab2-830b-71d168ddc2ba", "properties": {"publishDetails": {"state":
        "Success", "targetVersion": "f62b10a0-f483-4397-bc1d-7d6de73c29ff", "startTime":
        "2026-04-23T05:40:20.930953Z", "endTime": "2026-04-23T05:40:20.930953Z", "componentPublishInfo":
        {"sparkSettings": {"state": "Success"}, "sparkLibraries": {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 0040b922-5b6b-4d20-8752-1367c89e3929
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"enableNativeExecutionEngine": false, "driverCores": 8, "driverMemory":
      "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
      {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "runtimeVersion": 1.3}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.fabric.microsoft.com/v1/workspaces/cd4c9d9e-03f2-4ab2-830b-71d168ddc2ba/environments/7132f7b6-e0e1-4f59-a716-2f1bcc818bb9/staging/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 18cd52f2-1c46-4ce3-86b6-470b0bd12427
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cd4c9d9e-03f2-4ab2-830b-71d168ddc2ba/environments/7132f7b6-e0e1-4f59-a716-2f1bcc818bb9/libraries
  response:
    body:
      string: '{"requestId": "96d300e3-74ed-414c-bb5a-5ba655885a1f", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any published libraries. Please publish libraries.", "isRetriable": false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 96d300e3-74ed-414c-bb5a-5ba655885a1f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cd4c9d9e-03f2-4ab2-830b-71d168ddc2ba/environments/7132f7b6-e0e1-4f59-a716-2f1bcc818bb9/staging/publish
  response:
    body:
      string: '{"publishDetails": {"state": "Success", "targetVersion": "09934299-71a6-45a7-a7dc-41197793bc48",
        "startTime": "2026-04-23T05:40:25.0872647Z", "endTime": "2026-04-23T05:40:25.7435252Z",
        "componentPublishInfo": {"sparkLibraries": {"state": "Success"}, "sparkSettings":
        {"state": "Success"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4dea1e09-d6f2-4ab0-9d3d-94c52c700b80
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/cd4c9d9e-03f2-4ab2-830b-71d168ddc2ba/items/30de3c03-d928-438a-8bb6-00dc1cb48ab5
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ce1a18d2-fa19-4acc-af95-6725b290051b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
