interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "517fbcba-b385-493c-9a8b-2c4f02edef49",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7b13ea38-9764-4ab6-b339-837bfa3099a3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/517fbcba-b385-493c-9a8b-2c4f02edef49/items
  response:
    body:
      string: '{"value": [{"id": "de78f822-9351-4323-885f-649b59e46846", "type": "Report",
        "displayName": "fabcli000001_new_6", "description": "Imported from fab", "workspaceId":
        "517fbcba-b385-493c-9a8b-2c4f02edef49"}, {"id": "9f138e2e-51f1-4d2f-94ef-484aabe2e6bb",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "517fbcba-b385-493c-9a8b-2c4f02edef49"}, {"id": "5960176e-cb69-4b60-8cca-5b47a1dac0a5",
        "type": "SQLEndpoint", "displayName": "fabcli000001_new_2", "description":
        "", "workspaceId": "517fbcba-b385-493c-9a8b-2c4f02edef49"}, {"id": "174c2f9a-e3e1-4644-8965-e19208595e28",
      [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SemanticModel", "folderId": null, "definition": {"parts": [{"path": "definition.pbism",
      "payload": "ewogICJ2ZXJzaW9uIjogIjQuMCIsCiAgInNldHRpbmdzIjoge30KfQ==", "payloadType":
      "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlNlbWFudGljTW9kZWwiLAogICAgImRpc3BsYXlOYW1lIjogIkJsYW5rIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
      "payloadType": "InlineBase64"}, {"pat[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c2c15a59-db35-47bc-a127-8ff9d3fee021
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-12-14T20:10:33.686243",
        "lastUpdatedTimeUtc": "2025-12-14T20:10:44.4702362", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c2c15a59-db35-47bc-a127-8ff9d3fee021/result
      RequestId:
      - 63980b19-2266-48da-a37c-8aa47ffaf7e6
      x-ms-operation-id:
      - c2c15a59-db35-47bc-a127-8ff9d3fee021
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c2c15a59-db35-47bc-a127-8ff9d3fee021/result
  response:
    body:
      string: '{"id": "076fafd3-7efa-40b0-bc4f-8ff13db03071", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "517fbcba-b385-493c-9a8b-2c4f02edef49"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 6051afcc-e75c-45d1-a05a-bb5660b601f7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/517fbcba-b385-493c-9a8b-2c4f02edef49/items/076fafd3-7efa-40b0-bc4f-8ff13db03071
  response:
    body:
      string: '{"id": "076fafd3-7efa-40b0-bc4f-8ff13db03071", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "517fbcba-b385-493c-9a8b-2c4f02edef49"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a2ccf6b9-e6d4-4ee1-a84f-d1ca3e4e2992
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/517fbcba-b385-493c-9a8b-2c4f02edef49/items/076fafd3-7efa-40b0-bc4f-8ff13db03071/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5d747078-fb1c-47b0-8a76-28f082104150
      RequestId:
      - 3a739852-8c11-4a8f-a8c1-6993fd5fc387
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5d747078-fb1c-47b0-8a76-28f082104150
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5d747078-fb1c-47b0-8a76-28f082104150/result
  response:
    body:
      string: '{"definition": {"format": "TMDL", "parts": [{"path": "definition.pbism",
        "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9pdGVtL3NlbWFudGljTW9kZWwvZGVmaW5pdGlvblByb3BlcnRpZXMvMS4wLjAvc2NoZW1hLmpzb24iLAogICJ2ZXJzaW9uIjogIjQuMiIsCiAgInNldHRpbmdzIjoge30KfQ==",
        "payloadType": "InlineBase64"}, {"path": "definition/tables/Table.tmdl", "payload":
        "dGFibGUgVGFibGUKCWxpbmVhZ2VUYWc6IDFmY2QyZDhjLTkzZDYtNGU2Zi1hYjg2LThjMDU5YzhhODk4ZAoKCWNvbHVtbiBDb2x1bW4x[...]
[...]
- request:
    body: '{"type": "SemanticModel", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_7", "definition": {"parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiU2VtYW50aWNNb2RlbCIsCiAgICAgICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIKICAgIH[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/517fbcba-b385-493c-9a8b-2c4f02edef49/items/076fafd3-7efa-40b0-bc4f-8ff13db03071
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 18a29403-9707-41c7-b2e9-f47852ea8078
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
