interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "76f9989d-2734-49e3-84c1-7395a9c92f77",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3d171e7c-fb77-46f3-9637-f42133c872d5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/76f9989d-2734-49e3-84c1-7395a9c92f77/items
  response:
    body:
      string: '{"value": [{"id": "b3a689d8-8af6-4194-a482-2f20359bff8d", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "76f9989d-2734-49e3-84c1-7395a9c92f77"},
        {"id": "278413f6-897d-471f-b7b5-84874d1f5831", "type": "SQLEndpoint", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "76f9989d-2734-49e3-84c1-7395a9c92f77"},
        {"id": "30a9ac31-cfd9-46c0-af11-9382082bd1ff", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "76f9989d-2734-49e3-84c1-7395a9c92f77"},
        {"id": "dcb9c268-10be-479a-926e-07ba2b6dc886", "type": [...]
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/76f9989d-2734-49e3-84c1-7395a9c92f77/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c9c5f837-3e8f-448e-ac22-826b13d60de7
      RequestId:
      - c0a058cd-37a1-4e53-bc6d-8a945a8b9f5d
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - c9c5f837-3e8f-448e-ac22-826b13d60de7
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c9c5f837-3e8f-448e-ac22-826b13d60de7
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:52:19.4363688",
        "lastUpdatedTimeUtc": "2026-05-13T06:52:26.0389708", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c9c5f837-3e8f-448e-ac22-826b13d60de7/result
      RequestId:
      - f626d8b8-2e18-4bc2-bcab-ffcc5c3927ad
      x-ms-operation-id:
      - c9c5f837-3e8f-448e-ac22-826b13d60de7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c9c5f837-3e8f-448e-ac22-826b13d60de7/result
  response:
    body:
      string: '{"id": "f1827f0d-917a-4f6a-951f-6b2aa97bfcf3", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "76f9989d-2734-49e3-84c1-7395a9c92f77"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - e841794a-6c1e-4385-b8dd-0a931e503f29
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "f1827f0d-917a-4f6a-951f-6b2aa97bfcf3", "workspaceId": "76f9989d-2734-49e3-84c1-7395a9c92f77"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/76f9989d-2734-49e3-84c1-7395a9c92f77/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "b0bcd565-ab38-479b-b587-822139741f92", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "76f9989d-2734-49e3-84c1-7395a9c92f77"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 3c47e404-4a54-45a1-8491-a952fa88676c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/76f9989d-2734-49e3-84c1-7395a9c92f77/items/b0bcd565-ab38-479b-b587-822139741f92
  response:
    body:
      string: '{"id": "b0bcd565-ab38-479b-b587-822139741f92", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "76f9989d-2734-49e3-84c1-7395a9c92f77"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 23b2a402-f046-45cb-804a-114cdf177d56
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/76f9989d-2734-49e3-84c1-7395a9c92f77/items/b0bcd565-ab38-479b-b587-822139741f92/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fa815e37-8910-4c18-88ec-833d907bdbd5
      RequestId:
      - 5651fb6f-dae5-49b8-a51a-027a5a5dd98c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - fa815e37-8910-4c18-88ec-833d907bdbd5
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fa815e37-8910-4c18-88ec-833d907bdbd5/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiRGlnaXRhbFR3aW5CdWlsZGVySWQiOiAiZjE4MjdmMGQtOTE3YS00ZjZhLTk1MWYtNmIyYWE5N2JmY2YzIiwNCiAgIk9wZXJhdGlvbklkcyI6IFtdLA0KICAiSXNPbkRlbWFuZCI6IGZhbHNlDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlckZsb3ciLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 69774cf2-0025-42ec-bdca-945c92dad368
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"definition": {"parts": [{"path": "definition.json", "payload": "ewogICAgIkRpZ2l0YWxUd2luQnVpbGRlcklkIjogImYxODI3ZjBkLTkxN2EtNGY2YS05NTFmLTZiMmFhOTdiZmNmMyIsCiAgICAiT3BlcmF0aW9uSWRzIjogW10sCiAgICAiSXNPbkRlbWFuZCI6IGZhbHNlCn0=",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0Y[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/76f9989d-2734-49e3-84c1-7395a9c92f77/items/b0bcd565-ab38-479b-b587-822139741f92
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 230533dd-b22e-43c8-906b-08ef41636214
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
