interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "2c67d953-d1f0-441b-9227-600c2de5fffc",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c6017795-5927-4972-a270-717f183f34e6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2c67d953-d1f0-441b-9227-600c2de5fffc/items
  response:
    body:
      string: '{"value": [{"id": "a271c4c9-33ff-420d-91aa-ee267b965976", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "", "workspaceId": "2c67d953-d1f0-441b-9227-600c2de5fffc"},
        {"id": "8f078318-7350-46a5-96ea-a839e1ba244e", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "2c67d953-d1f0-441b-9227-600c2de5fffc"},
        {"id": "698aafe0-fa35-47a0-b93b-449963e9d637", "type": "SemanticModel", "displayName":
        "fabcli000001_new_6", "description": "", "workspaceId": "2c67d953-d1f0-441b-9227-600c2de5fffc"},
        {"id": "b106ed9f-e3ef-4343-a425-2ed64c5ed6e0", "typ[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "KQLQueryset", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2c67d953-d1f0-441b-9227-600c2de5fffc/kqlQuerysets
  response:
    body:
      string: '{"id": "d9917813-6c89-4c1b-8ddf-b9e42f2450be", "type": "KQLQueryset",
        "displayName": "fabcli000001", "description": "", "workspaceId": "2c67d953-d1f0-441b-9227-600c2de5fffc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9d356652-dce8-42c7-8465-01704456a5df
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2c67d953-d1f0-441b-9227-600c2de5fffc/items/d9917813-6c89-4c1b-8ddf-b9e42f2450be
  response:
    body:
      string: '{"id": "d9917813-6c89-4c1b-8ddf-b9e42f2450be", "type": "KQLQueryset",
        "displayName": "fabcli000001", "description": "", "workspaceId": "2c67d953-d1f0-441b-9227-600c2de5fffc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a713c755-c5cf-440f-9e0f-a7114f1a742d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2c67d953-d1f0-441b-9227-600c2de5fffc/items/d9917813-6c89-4c1b-8ddf-b9e42f2450be/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "RealTimeQueryset.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTFF1ZXJ5c2V0IiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 862c2722-d403-4f68-9906-5129786e040f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "KQLQueryset", "folderId": null, "displayName": "fabcli000001_new_8",
      "definition": {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiS1FMUXVlcnlzZXQiLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": "RealTimeQueryset.json", "payload":
      "e30=", "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2c67d953-d1f0-441b-9227-600c2de5fffc/items
  response:
    body:
      string: '{"id": "9fbd5f36-b2d7-4dc4-8feb-6e8c37bf505e", "type": "KQLQueryset",
        "displayName": "fabcli000001_new_8", "description": "", "workspaceId": "2c67d953-d1f0-441b-9227-600c2de5fffc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4ed36fef-07b4-4055-895d-28160a665711
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2c67d953-d1f0-441b-9227-600c2de5fffc/items/d9917813-6c89-4c1b-8ddf-b9e42f2450be
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - be0fefff-865a-4d5c-90b8-0ba4cf59e177
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
