interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "443bfa48-fb56-4dbd-8c4e-49f9b0a5495f",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e325203e-ee95-4aea-bc37-a56f4777dd8b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/443bfa48-fb56-4dbd-8c4e-49f9b0a5495f/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 88b2e248-1214-4284-80d9-5b40b3e23f75
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/443bfa48-fb56-4dbd-8c4e-49f9b0a5495f/environments
  response:
    body:
      string: '{"id": "e4aa8000-3b7b-43ff-bf37-507cadc09f64", "type": "Environment",
        "displayName": "fabcli000001", "description": "", "workspaceId": "443bfa48-fb56-4dbd-8c4e-49f9b0a5495f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 60777f8e-603f-4a73-829a-1ae73059000b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/443bfa48-fb56-4dbd-8c4e-49f9b0a5495f/items/e4aa8000-3b7b-43ff-bf37-507cadc09f64
  response:
    body:
      string: '{"id": "e4aa8000-3b7b-43ff-bf37-507cadc09f64", "type": "Environment",
        "displayName": "fabcli000001", "description": "", "workspaceId": "443bfa48-fb56-4dbd-8c4e-49f9b0a5495f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ad7c068f-3468-4344-bb1e-c5ace04a7f0f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/443bfa48-fb56-4dbd-8c4e-49f9b0a5495f/items/e4aa8000-3b7b-43ff-bf37-507cadc09f64/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/73466b5a-aabe-4feb-a8d0-f18492ff6de9
      RequestId:
      - 6d81b59e-0254-4c96-bb2d-0d1606ba721b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 73466b5a-aabe-4feb-a8d0-f18492ff6de9
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/73466b5a-aabe-4feb-a8d0-f18492ff6de9
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-06-15T10:20:51.8239297",
        "lastUpdatedTimeUtc": "2026-06-15T10:20:52.0189151", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/73466b5a-aabe-4feb-a8d0-f18492ff6de9/result
      RequestId:
      - 0a0ecfe9-a071-4759-96bb-7464401a3816
      x-ms-operation-id:
      - 73466b5a-aabe-4feb-a8d0-f18492ff6de9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/73466b5a-aabe-4feb-a8d0-f18492ff6de9/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "Setting/Sparkcompute.yml", "payload":
        "ZW5hYmxlX25hdGl2ZV9leGVjdXRpb25fZW5naW5lOiBmYWxzZQ0KZHJpdmVyX2NvcmVzOiA4DQpkcml2ZXJfbWVtb3J5OiA1NmcNCmV4ZWN1dG9yX2NvcmVzOiA4DQpleGVjdXRvcl9tZW1vcnk6IDU2Zw0KZHluYW1pY19leGVjdXRvcl9hbGxvY2F0aW9uOg0KICBlbmFibGVkOiB0cnVlDQogIG1pbl9leGVjdXRvcnM6IDENCiAgbWF4X2V4ZWN1dG9yczogOQ0KcnVudGltZV92ZXJzaW9uOiAxLjMNCg==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkVudmlyb25tZW50IiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 3fc92a28-f6b6-4124-9118-ec32a8ad5d20
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Environment", "folderId": null, "displayName": "fabcli000001_new_2",
      "definition": {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiRW52aXJvbm1lbnQiLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbi[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/443bfa48-fb56-4dbd-8c4e-49f9b0a5495f/environments/5c082a2e-0b25-47f1-bcfd-64e07ddbf633/staging/publish
  response:
    body:
      string: '{"publishDetails": {"state": "Success", "targetVersion": "77fee0b8-c555-4b47-a277-da6ac5cfcc65",
        "startTime": "2026-06-15T10:21:40.6693802Z", "endTime": "2026-06-15T10:21:41.1850221Z",
        "componentPublishInfo": {"sparkLibraries": {"state": "Success"}, "sparkSettings":
        {"state": "Success"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fc3a871f-1649-428c-8225-9ccb00b2821c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/443bfa48-fb56-4dbd-8c4e-49f9b0a5495f/environments/5c082a2e-0b25-47f1-bcfd-64e07ddbf633
  response:
    body:
      string: '{"id": "5c082a2e-0b25-47f1-bcfd-64e07ddbf633", "type": "Environment",
        "displayName": "fabcli000001_new_2", "description": "", "workspaceId": "443bfa48-fb56-4dbd-8c4e-49f9b0a5495f",
        "properties": {"publishDetails": {"state": "Success", "targetVersion": "77fee0b8-c555-4b47-a277-da6ac5cfcc65",
        "startTime": "2026-06-15T10:21:40.6693802Z", "endTime": "2026-06-15T10:21:41.1850221Z",
        "componentPublishInfo": {"sparkLibraries": {"state": "Success"}, "sparkSettings":
        {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - dce6bd8a-9ef0-4824-ab00-2111f633ebbd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/443bfa48-fb56-4dbd-8c4e-49f9b0a5495f/items/e4aa8000-3b7b-43ff-bf37-507cadc09f64
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8b0af334-a91b-403c-8326-14d0d982c4ac
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
