interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e612c1cf-5450-4af1-8113-798350c641ba",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e4d81c7d-eb87-4784-b6c0-e40a3a283528
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items
  response:
    body:
      string: '{"value": [{"id": "1d7eecac-af38-4bb4-82ee-03062d007b10", "type": "Report",
        "displayName": "fabcli000001_new_5", "workspaceId":
        "e612c1cf-5450-4af1-8113-798350c641ba"}, {"id": "1b330f3e-8f48-4026-a21a-bc5817181881",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "e612c1cf-5450-4af1-8113-798350c641ba"}, {"id": "fec5411c-512d-4a39-8f4a-141dbd263869",
        "type": "SemanticModel", "displayName": "fabcli000001_new_6", "description":
        "", "workspaceId": "e612c1cf-5450-4af1-8113-798350c641ba"}, {"id": "28dc2108-531e-4b55-a739-8af135ae72a5",
    [...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/lakehouses
  response:
    body:
      string: '{"id": "3e0cfc7e-4314-456f-94ff-f5c1c4ab5d3a", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "e612c1cf-5450-4af1-8113-798350c641ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - cbcab9fd-c61e-4487-a72e-4d7204cd6d5a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items/3e0cfc7e-4314-456f-94ff-f5c1c4ab5d3a
  response:
    body:
      string: '{"id": "3e0cfc7e-4314-456f-94ff-f5c1c4ab5d3a", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "e612c1cf-5450-4af1-8113-798350c641ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 41ef59cd-fd60-423c-8750-93c67f0b6c8b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items/3e0cfc7e-4314-456f-94ff-f5c1c4ab5d3a/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "lakehouse.metadata.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": "alm.settings.json", "payload":
        "ew0KICAidmVyc2lvbiI6ICIxLjAuMSIsDQogICJvYmplY3RUeXBlcyI6IFsNCiAgICB7DQogICAgICAibmFtZSI6ICJTaG9ydGN1dHMiLA0KICAgICAgInN0YXRlIjogIkVuYWJsZWQiLA0KICAgICAgInN1Yk9iamVjdFR5cGVzIjogWw0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLk9uZUxha2UiLA0KICAgICAgICAgICJzdGF0ZSI6ICJFbmFibGVkIg0KICAgICAgICB9LA0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLkFkbHNHZW4yIiwNCiAgICAgICAgICAic3RhdGUiOiAiRW5hYmxlZCINCiAgICAgICAgfSwNCiAg[...]
[...]
- request:
    body: '{"type": "Lakehouse", "folderId": null,
      "displayName": "fabcli000001_new_16", "definition": {"parts": [{"path": "shortcuts.metadata.json",
      "payload": "W10=", "payloadType": "InlineBase64"}, {"path": "lakehouse.metadata.json",
      "payload": "e30=", "payloadType": "InlineBase64"}, {"path": "alm.settings.json",
      "payload": "ewogICAgInZlcnNpb24iOiAiMS4wLjEiLAogICAgIm9iamVjdFR5cGVzIjogWwogICAgICAgIHsKICAgICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzIiwKICAgICAgICAgICA[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8a5fd554-14a4-4008-8ea9-4e7c740be1a2
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-14T12:43:05.6274165",
        "lastUpdatedTimeUtc": "2026-04-14T12:43:10.3567611", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8a5fd554-14a4-4008-8ea9-4e7c740be1a2/result
      RequestId:
      - 842055fc-2cdd-4729-8d66-12dee6c47258
      x-ms-operation-id:
      - 8a5fd554-14a4-4008-8ea9-4e7c740be1a2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8a5fd554-14a4-4008-8ea9-4e7c740be1a2/result
  response:
    body:
      string: '{"id": "b4c96d51-4edb-4dfd-931d-8e8dc96f46dc", "type": "Lakehouse",
        "displayName": "fabcli000001_new_16", "description": "Imported from fab",
        "workspaceId": "e612c1cf-5450-4af1-8113-798350c641ba"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 6de9a337-7022-46d8-86c8-7826f6b2ec0c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items/3e0cfc7e-4314-456f-94ff-f5c1c4ab5d3a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3a432290-f61b-4cfb-92f4-a23145ca3fba
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
