interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "76f9989d-2734-49e3-84c1-7395a9c92f77",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 71c32a3f-d201-4f85-86d7-3c9cbee323dc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/76f9989d-2734-49e3-84c1-7395a9c92f77/items
  response:
    body:
      string: '{"value": [{"id": "b3a689d8-8af6-4194-a482-2f20359bff8d", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "76f9989d-2734-49e3-84c1-7395a9c92f77"},
        {"id": "278413f6-897d-471f-b7b5-84874d1f5831", "type": "SQLEndpoint", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "76f9989d-2734-49e3-84c1-7395a9c92f77"},
        {"id": "659c9afe-be76-4e61-9f81-4a6d4d20eef3", "type": "SQLEndpoint", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "76f9989d-2734-49e3-84c1-7395a9c92f77"},
        {"id": "30a9ac31-cfd9-46c0-af11-9382082bd1ff", "[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/76f9989d-2734-49e3-84c1-7395a9c92f77/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/753f20eb-8aed-4c05-842b-7de1ef147436
      RequestId:
      - bff4ab73-3b7d-4261-b5b8-a4a914b2cda4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 753f20eb-8aed-4c05-842b-7de1ef147436
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/753f20eb-8aed-4c05-842b-7de1ef147436
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:53:40.9957026",
        "lastUpdatedTimeUtc": "2026-05-13T06:53:47.1653403", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/753f20eb-8aed-4c05-842b-7de1ef147436/result
      RequestId:
      - 63398fc4-c852-4985-b0ac-f72f2f744d7e
      x-ms-operation-id:
      - 753f20eb-8aed-4c05-842b-7de1ef147436
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/753f20eb-8aed-4c05-842b-7de1ef147436/result
  response:
    body:
      string: '{"id": "bc9bad4e-1276-4ed8-8288-9f78679e6c6e", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "76f9989d-2734-49e3-84c1-7395a9c92f77"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 1d7f5f02-32ca-4053-b257-149bbccc3b74
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/76f9989d-2734-49e3-84c1-7395a9c92f77/items/bc9bad4e-1276-4ed8-8288-9f78679e6c6e
  response:
    body:
      string: '{"id": "bc9bad4e-1276-4ed8-8288-9f78679e6c6e", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "76f9989d-2734-49e3-84c1-7395a9c92f77"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4bf04794-358c-49d6-99a4-cba8da2226e3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/76f9989d-2734-49e3-84c1-7395a9c92f77/items/bc9bad4e-1276-4ed8-8288-9f78679e6c6e/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/aec25258-9e46-45a0-b6e4-a7a95c694a95
      RequestId:
      - 75b0a9b4-f064-4184-af1b-b00e9b89ddf8
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - aec25258-9e46-45a0-b6e4-a7a95c694a95
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/aec25258-9e46-45a0-b6e4-a7a95c694a95/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiM2YxNzBkZjgtOWM2MC00YzZlLWE3NmUtMjBjNjIzZjQwNGFhIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 5021da57-baf6-4bcc-8e37-1f9c33f4d20a
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"definition": {"parts": [{"path": "definition.json", "payload": "ewogICAgIkxha2Vob3VzZUlkIjogIjNmMTcwZGY4LTljNjAtNGM2ZS1hNzZlLTIwYzYyM2Y0MDRhYSIKfQ==",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiRGlnaXRhbFR3aW5CdWlsZGVyIiwKICAgICAgICAiZ[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/76f9989d-2734-49e3-84c1-7395a9c92f77/items/bc9bad4e-1276-4ed8-8288-9f78679e6c6e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5599dbbe-fcb8-4484-b783-cf93af3496a3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
