interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "704a31b2-abd1-4aac-863d-ba2cdf6527d9",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 829674ea-747f-44b6-a63e-10a79b531d65
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/items
  response:
    body:
      string: '{"value": [{"id": "63297299-d084-4676-92ca-91cc20fcbc14", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "704a31b2-abd1-4aac-863d-ba2cdf6527d9"},
        {"id": "9065f1b3-34d8-4104-bf19-847b3c724abe", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "704a31b2-abd1-4aac-863d-ba2cdf6527d9"},
        {"id": "9fe7ca9d-f5be-4fd3-9035-42e383715b55", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "704a31b2-abd1-4aac-863d-ba2cdf6527d9"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b3478cbc-b86c-4437-9bf5-e80e44604ac7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f2a4bfe9-be66-4385-81a5-c31571b1eaaf
      RequestId:
      - 9a12bb13-8135-44f0-8fee-33818f93bc08
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - f2a4bfe9-be66-4385-81a5-c31571b1eaaf
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f2a4bfe9-be66-4385-81a5-c31571b1eaaf
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-12-15T07:40:24.7346701",
        "lastUpdatedTimeUtc": "2025-12-15T07:40:25.9073075", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f2a4bfe9-be66-4385-81a5-c31571b1eaaf/result
      RequestId:
      - 0321abfb-dbd6-4193-a8cc-ab360b41a732
      x-ms-operation-id:
      - f2a4bfe9-be66-4385-81a5-c31571b1eaaf
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f2a4bfe9-be66-4385-81a5-c31571b1eaaf/result
  response:
    body:
      string: '{"id": "38ae6ef7-2e40-4b6a-b9fa-c34181792763", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "704a31b2-abd1-4aac-863d-ba2cdf6527d9"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f1de7634-f34b-4d44-a731-38f1fec00ab7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/items/38ae6ef7-2e40-4b6a-b9fa-c34181792763
  response:
    body:
      string: '{"id": "38ae6ef7-2e40-4b6a-b9fa-c34181792763", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "704a31b2-abd1-4aac-863d-ba2cdf6527d9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 80375d28-29b8-47d6-a734-d8a615f1ac8d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/items/38ae6ef7-2e40-4b6a-b9fa-c34181792763/getDefinition?format=ipynb
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8a4e864e-0ee2-455d-bca9-a5ee7e570f4d
      RequestId:
      - fd9b1082-2d5f-4450-b9dc-2261aa88277e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 8a4e864e-0ee2-455d-bca9-a5ee7e570f4d
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001_new_2", "definition": {"format": "ipynb", "parts":
      [{"path": "notebook-content.ipynb", "payload": "ewogICAgIm5iZm9ybWF0IjogNCwKICAgICJuYmZvcm1hdF9taW5vciI6IDUsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgImxhbmd1YWdlX2luZm8iOiB7CiAgICAgICAgICAgICJuYW1lIjogInB5dGhvbiIKICAgICAgICB9LAogICAgICAgICJrZXJuZWxfaW5mbyI6IHsKICAgICAgICAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIiwKICAgICAgICAgICAgImp1cHl0ZXJfa2VybmVsX25hbWUiOiBudWxsCiAgICAgICAgfSwKICAgICAgICAiYTM2NUNvbXB1dGVPcHRpb25zIjogbnVsbCwKICAgICAgICAic2Vzc2lvbktlZXBBbGl2ZVRpbWVvdXQiOiAwLAo[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/704a31b2-abd1-4aac-863d-ba2cdf6527d9/items/38ae6ef7-2e40-4b6a-b9fa-c34181792763
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1fbb9ed4-cac0-4b3d-bda2-abcfb1436546
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
