interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e612c1cf-5450-4af1-8113-798350c641ba",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a05d8663-48fe-4d57-9258-4728ff59750d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3d1fc693-2882-4c73-b54d-da9f76b09ce8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K", "payloadType": "InlineBase64"}]}}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7b1f2af4-874c-443a-a6fa-d6586e3d07e3
      RequestId:
      - 02a83225-1cc6-4f00-8c69-568747b44af4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7b1f2af4-874c-443a-a6fa-d6586e3d07e3
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7b1f2af4-874c-443a-a6fa-d6586e3d07e3
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-14T12:25:38.4363399",
        "lastUpdatedTimeUtc": "2026-04-14T12:25:39.7442334", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7b1f2af4-874c-443a-a6fa-d6586e3d07e3/result
      RequestId:
      - 8e33edd1-6af1-48bd-b0fe-e06522035ff9
      x-ms-operation-id:
      - 7b1f2af4-874c-443a-a6fa-d6586e3d07e3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7b1f2af4-874c-443a-a6fa-d6586e3d07e3/result
  response:
    body:
      string: '{"id": "082a3462-33b7-4c34-9e1b-f127b690d768", "type": "Notebook",
        "displayName": "fabcli000001", "workspaceId":
        "e612c1cf-5450-4af1-8113-798350c641ba"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c6dc22f8-7e94-4593-9101-5214f1835ad6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items/082a3462-33b7-4c34-9e1b-f127b690d768
  response:
    body:
      string: '{"id": "082a3462-33b7-4c34-9e1b-f127b690d768", "type": "Notebook",
        "displayName": "fabcli000001", "workspaceId":
        "e612c1cf-5450-4af1-8113-798350c641ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 33a353c5-15c7-4239-bf04-857d770024bb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items/082a3462-33b7-4c34-9e1b-f127b690d768/getDefinition?format=ipynb
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d5ff1e61-eed7-43e8-bbb1-5d6f8e9f1f3c
      RequestId:
      - 4f6de2cf-cdca-4517-9448-ad1eba2c88a4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d5ff1e61-eed7-43e8-bbb1-5d6f8e9f1f3c
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "Notebook", "folderId": null,
      "displayName": "fabcli000001_new_2", "definition": {"parts": [{"path": "notebook-content.ipynb",
      "payload": "ewogICAgIm5iZm9ybWF0IjogNCwKICAgICJuYmZvcm1hdF9taW5vciI6IDUsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgImxhbmd1YWdlX2luZm8iOiB7CiAgICAgICAgICAgICJuYW1lIjogInB5dGhvbiIKICAgICAgICB9LAogICAgICAgICJrZXJuZWxfaW5mbyI6IHsKICAgICAgICAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIiwKICAgICAgICAgICAgImp1cHl0ZXJfa2VybmVsX25hbWUiOiBudWxsCiAgIC[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items/082a3462-33b7-4c34-9e1b-f127b690d768
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 807542a7-7160-4d78-ac7f-35a6c0c53317
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
