interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6127090a-8bdf-447a-a6ea-c46df89a1855",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a131515f-1f63-4873-8e09-9897ad79e687
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6127090a-8bdf-447a-a6ea-c46df89a1855/items
  response:
    body:
      string: '{"value": [{"id": "a64b1698-7861-448a-852c-c4e234bdf44a", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "Imported from fab", "workspaceId":
        "6127090a-8bdf-447a-a6ea-c46df89a1855"}, {"id": "2da733fc-efa0-4796-b044-0650b153ba87",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "6127090a-8bdf-447a-a6ea-c46df89a1855"}, {"id": "a4269aa8-8dc5-4cf4-8b5b-e8f750af65b9",
        "type": "SemanticModel", "displayName": "fabcli000001_new_6", "description":
        "", "workspaceId": "6127090a-8bdf-447a-a6ea-c46df89a1855"}, {"id": "b4f34458-4583-4f10-86c8-c94314bdf89f",
    [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "UserDataFunction", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6127090a-8bdf-447a-a6ea-c46df89a1855/userdatafunctions
  response:
    body:
      string: '{"id": "3b4da081-8f8a-431f-87ed-24c2e7d88d8a", "type": "UserDataFunction",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6127090a-8bdf-447a-a6ea-c46df89a1855"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - edd9570a-be6c-4dd3-b842-dc8919c71e31
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6127090a-8bdf-447a-a6ea-c46df89a1855/items/3b4da081-8f8a-431f-87ed-24c2e7d88d8a
  response:
    body:
      string: '{"id": "3b4da081-8f8a-431f-87ed-24c2e7d88d8a", "type": "UserDataFunction",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6127090a-8bdf-447a-a6ea-c46df89a1855"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 94d54c2c-c959-4e6e-bbd2-3b66d1c0a7c4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6127090a-8bdf-447a-a6ea-c46df89a1855/items/3b4da081-8f8a-431f-87ed-24c2e7d88d8a/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/74fedd7e-de3e-4235-8767-7cb7400481cd
      RequestId:
      - d1439ec6-0cd0-49df-9d77-b63790dc665a
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 74fedd7e-de3e-4235-8767-7cb7400481cd
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/74fedd7e-de3e-4235-8767-7cb7400481cd
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-16T08:49:54.413663",
        "lastUpdatedTimeUtc": "2026-04-16T08:49:54.6162046", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/74fedd7e-de3e-4235-8767-7cb7400481cd/result
      RequestId:
      - 4d9fdaa1-2bb5-401b-b179-b020aab3ea4c
      x-ms-operation-id:
      - 74fedd7e-de3e-4235-8767-7cb7400481cd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/74fedd7e-de3e-4235-8767-7cb7400481cd/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS91c2VyRGF0YUZ1bmN0aW9uL2RlZmluaXRpb24vMS4xLjAvc2NoZW1hLmpzb24iLA0KICAicnVudGltZSI6ICJQWVRIT04iLA0KICAiY29ubmVjdGVkRGF0YVNvdXJjZXMiOiBbXSwNCiAgImZ1bmN0aW9ucyI6IFtdLA0KICAibGlicmFyaWVzIjogew0KICAgICJwdWJsaWMiOiBbXSwNCiAgICAicHJpdmF0ZSI6IFtdDQogIH0NCn0=",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlVzZXJEYXRhRnVuY3Rpb24iLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 0000c922-c30c-4b84-ba04-551c95bed99d
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "UserDataFunction", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_15", "definition": {"parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiVXNlckRhdGFGdW5jdGlvbiIsCiAgICAgICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMS[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6127090a-8bdf-447a-a6ea-c46df89a1855/items/3b4da081-8f8a-431f-87ed-24c2e7d88d8a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ed050e41-e7e2-4398-a1d5-ff5cfe101bbc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
