interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "cf115c16-dbe1-466c-b3c8-a406a50fcfc7", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9b5f7522-5b7e-4314-ba78-621f88b12460
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf115c16-dbe1-466c-b3c8-a406a50fcfc7/items
  response:
    body:
      string: '{"value": [{"id": "4aa6e43f-20e2-46d6-8fb6-5da2587a0336", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "Imported from fab", "workspaceId":
        "cf115c16-dbe1-466c-b3c8-a406a50fcfc7"}, {"id": "2e77bf8a-2e41-4ad1-89da-77ed7ca4fa7d",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "cf115c16-dbe1-466c-b3c8-a406a50fcfc7"}, {"id": "91bd8fa7-8f42-4999-956f-3ed8341231be",
        "type": "SemanticModel", "displayName": "fabcli000001_new_6", "description":
        "", "workspaceId": "cf115c16-dbe1-466c-b3c8-a406a50fcfc7"}, {"id": "e5c42dde-b7a5-4d98-beee-bb4556edfa86",
    [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLQueryset", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf115c16-dbe1-466c-b3c8-a406a50fcfc7/kqlQuerysets
  response:
    body:
      string: '{"id": "d640923f-d63a-4b9b-902c-4fead3ddb818", "type": "KQLQueryset",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "cf115c16-dbe1-466c-b3c8-a406a50fcfc7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - dc4aab37-0b7b-4790-96d5-7f3e00cf46fd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf115c16-dbe1-466c-b3c8-a406a50fcfc7/items/d640923f-d63a-4b9b-902c-4fead3ddb818
  response:
    body:
      string: '{"id": "d640923f-d63a-4b9b-902c-4fead3ddb818", "type": "KQLQueryset",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "cf115c16-dbe1-466c-b3c8-a406a50fcfc7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7e10e456-e8ef-4ca2-876f-4a6ef1200ec0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf115c16-dbe1-466c-b3c8-a406a50fcfc7/items/d640923f-d63a-4b9b-902c-4fead3ddb818/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "RealTimeQueryset.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTFF1ZXJ5c2V0IiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fa1702ee-7f9a-4a97-895e-4a8046971fb7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "KQLQueryset", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_8", "definition": {"parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiS1FMUXVlcnlzZXQiLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgICAg[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf115c16-dbe1-466c-b3c8-a406a50fcfc7/items/d640923f-d63a-4b9b-902c-4fead3ddb818
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 720bdbc9-4996-48c8-b0dd-54d989770403
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
