interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7c77369b-49d8-4c4a-b8a3-b153f7f57b2e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/97f5c8a4-1588-4a59-9b51-2c7ba0f73761/items
  response:
    body:
      string: '{"value": [{"id": "914ed2ae-b17a-439b-9fd4-ec84d034f4a9", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "Imported from fab", "workspaceId":
        "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}, {"id": "d214eefa-9c3c-47d6-8cf6-92b7fca6a571",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}, {"id": "f033b3c3-fb95-49bb-9ab7-a7574b6373af",
        "type": "Notebook", "displayName": "fabcli000001_new_2", "description": "Imported
        from fab", "workspaceId": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}, {"id":
        "4021c09a-ec4e-497c-9e7f-c32d00eba90c", "type": "SparkJobDefinition", "displayName":
        "fabcli000001_new_3", "description": "Imported from fab", "workspaceId": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"},
        {"id": "5ad171f3-2b47-4a51-9a03-608e6fdd7cea", "type": "DataPipeline", "displayName":
        "fabcli000001_new_4", "description": "Imported from fab", "workspaceId": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dc107d82-18cf-4670-bf56-4294d1fa4aff
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SemanticModel", "folderId": null, "definition": {"parts": [{"path": ".platform",
      "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlNlbWFudGljTW9kZWwiLAogICAgImRpc3BsYXlOYW1lIjogIkJsYW5rIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
      "payloadType": "InlineBase64"}, {"path": "definition.pbism", "payload": "ewogICJ2ZXJzaW9uIjogIjQuMCIsCiAgInNldHRpbmdzIjoge30KfQ==",
      "payloadType": "InlineBase64"}, {"path": "definition/database.tmdl", "payload":
      "ZGF0YWJhc2UKCWNvbXBhdGliaWxpdHlMZXZlbDogMTU2MQoK", "payloadType": "InlineBase64"},
      {"path": "definition/model.tmdl", "payload": "bW9kZWwgTW9kZWwKCWN1bHR1cmU6IGVuLVVTCglkZWZhdWx0UG93ZXJCSURhdGFTb3VyY2VWZXJzaW9uOiBwb3dlckJJX1YzCglzb3VyY2VRdWVyeUN1bHR1cmU6IGVuLVVTCglkYXRhQWNjZXNzT3B0aW[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6a93ecae-c2fc-4800-8d9a-ce1ff4fafaa4
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-29T06:03:26.3813706",
        "lastUpdatedTimeUtc": "2026-01-29T06:03:37.1346234", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6a93ecae-c2fc-4800-8d9a-ce1ff4fafaa4/result
      RequestId:
      - 12bfe9bf-3b68-430f-ab4b-c75da4fe51de
      x-ms-operation-id:
      - 6a93ecae-c2fc-4800-8d9a-ce1ff4fafaa4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6a93ecae-c2fc-4800-8d9a-ce1ff4fafaa4/result
  response:
    body:
      string: '{"id": "41878e13-61f9-4b21-8390-39e1c0e2110f", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 36899f77-e4d6-47a9-9796-69ed64963ca6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/97f5c8a4-1588-4a59-9b51-2c7ba0f73761/items/41878e13-61f9-4b21-8390-39e1c0e2110f
  response:
    body:
      string: '{"id": "41878e13-61f9-4b21-8390-39e1c0e2110f", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6f199070-4d30-4707-8954-2be7660b6b06
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/97f5c8a4-1588-4a59-9b51-2c7ba0f73761/items/41878e13-61f9-4b21-8390-39e1c0e2110f/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/50c650dd-1e5f-48ae-8c1c-5078b33263e0
      RequestId:
      - b2ba6172-9af5-4c38-962b-98dc0e02d2c0
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 50c650dd-1e5f-48ae-8c1c-5078b33263e0
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/50c650dd-1e5f-48ae-8c1c-5078b33263e0/result
  response:
    body:
      string: '{"definition": {"format": "TMDL", "parts": [{"path": "definition.pbism",
        "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9pdGVtL3NlbWFudGljTW9kZWwvZGVmaW5pdGlvblByb3BlcnRpZXMvMS4wLjAvc2NoZW1hLmpzb24iLAogICJ2ZXJzaW9uIjogIjQuMiIsCiAgInNldHRpbmdzIjoge30KfQ==",
        "payloadType": "InlineBase64"}, {"path": "definition/tables/Table.tmdl", "payload":
        "dGFibGUgVGFibGUKCWxpbmVhZ2VUYWc6IDFmY2QyZDhjLTkzZDYtNGU2Zi1hYjg2LThjMDU5YzhhODk4ZAoKCWNvbHVtbiBDb2x1bW4x[...]
[...]
- request:
    body: '{"type": "SemanticModel", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_6", "definition": {"parts": [{"path":
      "definition.pbism", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2l0ZW0vc2VtYW50aWNNb2RlbC9kZWZpbml0aW9uUHJvcGVydGllcy8xLjAuMC9zY2hlbWEuanNvbiIsCiAgICAidmVyc2lvbiI6ICI0LjIiLAogICAgInNldHRpbmdzIjoge30KfQ==",
      "payloadType": "InlineBase64"}, {"path": "[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/97f5c8a4-1588-4a59-9b51-2c7ba0f73761/items/41878e13-61f9-4b21-8390-39e1c0e2110f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 378e85ca-fd43-4493-9b90-66bd2a2904f7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
