interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b3a55640-baae-43e6-bdbc-fa977f294226",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1472e67b-7535-4e3c-bcbc-4fbcc99a031f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b3a55640-baae-43e6-bdbc-fa977f294226/items
  response:
    body:
      string: '{"value": [{"id": "da37ff96-8bb5-453c-9226-c1241cd452a9", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "Imported from fab", "workspaceId":
        "b3a55640-baae-43e6-bdbc-fa977f294226"}, {"id": "210d8bda-e2ff-4f12-8f72-c57fc91815bc",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "Created by fab", "workspaceId": "b3a55640-baae-43e6-bdbc-fa977f294226"},
        {"id": "2b7e242d-8afa-48dc-8d59-2ca38efb020e", "type": "SemanticModel", "displayName":
        "fabcli000001_new_6", "description": "Imported from fab", "workspaceId": "b3a55640-baae-43e6-bdbc-fa977f294226"},
        {"id": "72ab[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b3a55640-baae-43e6-bdbc-fa977f294226/environments
  response:
    body:
      string: '{"id": "6674306c-96ad-4466-9110-dcf7383c1f70", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "b3a55640-baae-43e6-bdbc-fa977f294226"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 09a906a9-f094-469a-99e0-6edec344445b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b3a55640-baae-43e6-bdbc-fa977f294226/items/6674306c-96ad-4466-9110-dcf7383c1f70
  response:
    body:
      string: '{"id": "6674306c-96ad-4466-9110-dcf7383c1f70", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "b3a55640-baae-43e6-bdbc-fa977f294226"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c8eb53da-9c9f-4bb7-aadc-a01750eabd8f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b3a55640-baae-43e6-bdbc-fa977f294226/items/6674306c-96ad-4466-9110-dcf7383c1f70/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f438dfe0-3399-4f84-8cd9-58713f2e47e4
      RequestId:
      - fa69ca41-b43a-4c03-9df3-775c28d4239a
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - f438dfe0-3399-4f84-8cd9-58713f2e47e4
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f438dfe0-3399-4f84-8cd9-58713f2e47e4
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-23T06:26:47.9013152",
        "lastUpdatedTimeUtc": "2026-04-23T06:26:48.0549157", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f438dfe0-3399-4f84-8cd9-58713f2e47e4/result
      RequestId:
      - 95d40939-459b-4d45-88d9-612d1e29565e
      x-ms-operation-id:
      - f438dfe0-3399-4f84-8cd9-58713f2e47e4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f438dfe0-3399-4f84-8cd9-58713f2e47e4/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "Setting/Sparkcompute.yml", "payload":
        "ZW5hYmxlX25hdGl2ZV9leGVjdXRpb25fZW5naW5lOiBmYWxzZQ0KZHJpdmVyX2NvcmVzOiA4DQpkcml2ZXJfbWVtb3J5OiA1NmcNCmV4ZWN1dG9yX2NvcmVzOiA4DQpleGVjdXRvcl9tZW1vcnk6IDU2Zw0KZHluYW1pY19leGVjdXRvcl9hbGxvY2F0aW9uOg0KICBlbmFibGVkOiB0cnVlDQogIG1pbl9leGVjdXRvcnM6IDENCiAgbWF4X2V4ZWN1dG9yczogOQ0KcnVudGltZV92ZXJzaW9uOiAxLjMNCg==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkVudmlyb25tZW50IiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 390518ea-4e6b-466b-a6d8-f762f52c14a2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b3a55640-baae-43e6-bdbc-fa977f294226/environments/c4286d69-7d2c-42c7-9946-a9e617975fe4
  response:
    body:
      string: '{"id": "c4286d69-7d2c-42c7-9946-a9e617975fe4", "type": "Environment",
        "displayName": "fabcli000001_new_16", "description": "Imported from fab",
        "workspaceId": "b3a55640-baae-43e6-bdbc-fa977f294226", "properties": {"publishDetails":
        {"state": "Success", "targetVersion": "ed7dea6b-a65b-40e8-ad0d-d4c9ec150694",
        "startTime": "2026-04-23T06:27:13.6032934Z", "endTime": "2026-04-23T06:27:13.6032934Z",
        "componentPublishInfo": {"sparkSettings": {"state": "Success"}, "sparkLibraries":
        {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 03098c6a-fd14-4e32-9915-c29d0a367be9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"enableNativeExecutionEngine": false, "driverCores": 8, "driverMemory":
      "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
      {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "runtimeVersion": 1.3}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.fabric.microsoft.com/v1/workspaces/b3a55640-baae-43e6-bdbc-fa977f294226/environments/c4286d69-7d2c-42c7-9946-a9e617975fe4/staging/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 34307c71-24c8-4ec9-959a-113e20cc9ad2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b3a55640-baae-43e6-bdbc-fa977f294226/environments/c4286d69-7d2c-42c7-9946-a9e617975fe4/libraries
  response:
    body:
      string: '{"requestId": "58679169-dd96-48a7-b074-19583f6e34df", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any published libraries. Please publish libraries.", "isRetriable": false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 58679169-dd96-48a7-b074-19583f6e34df
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b3a55640-baae-43e6-bdbc-fa977f294226/environments/c4286d69-7d2c-42c7-9946-a9e617975fe4/staging/publish
  response:
    body:
      string: '{"publishDetails": {"state": "Success", "targetVersion": "cc60b056-595c-4dc6-9aa1-f44a98151f24",
        "startTime": "2026-04-23T06:27:17.6658334Z", "endTime": "2026-04-23T06:27:18.1970908Z",
        "componentPublishInfo": {"sparkLibraries": {"state": "Success"}, "sparkSettings":
        {"state": "Success"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1fb50b8d-e73e-465f-9955-b54f249f1704
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b3a55640-baae-43e6-bdbc-fa977f294226/items/6674306c-96ad-4466-9110-dcf7383c1f70
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 73e987f4-8ea8-4c6e-9488-66dcc3c2388e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
