interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c2994b45-b913-433f-965e-bb7a6d8d012a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9592ef7d-b35f-48d1-9998-975a3ff209f3
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/items
  response:
    body:
      string: '{"value": [{"id": "3afcf9cd-bcf4-4296-b909-2e2fa577cc70", "type": "Report",
        "displayName": "fabcli000001_new_6", "description": "Imported from fab", "workspaceId":
        "c2994b45-b913-433f-965e-bb7a6d8d012a"}, {"id": "ac301525-6707-43f5-b6ce-4a4f2ef78a10",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "c2994b45-b913-433f-965e-bb7a6d8d012a"}, {"id": "16e2b876-d40b-4005-a2b8-41d141a3c621",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "c2994b45-b913-433f-965e-bb7a6d8d012a"}, {"id": "6e734d42-3753-48bd-b846-cccc16cfd7c2",
     [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/eventhouses
  response:
    body:
      string: '{"id": "9173b7f8-d89a-44cc-b3be-4022b9979388", "type": "Eventhouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c2994b45-b913-433f-965e-bb7a6d8d012a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f2473fc9-cc51-4478-8d4a-3758c26a197a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/items/9173b7f8-d89a-44cc-b3be-4022b9979388
  response:
    body:
      string: '{"id": "9173b7f8-d89a-44cc-b3be-4022b9979388", "type": "Eventhouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c2994b45-b913-433f-965e-bb7a6d8d012a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a0655294-4a0c-402f-a702-4994e3d89e1b
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/items/9173b7f8-d89a-44cc-b3be-4022b9979388/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/48e4f868-8447-4c76-86e7-a50611f0e916
      RequestId:
      - 717ddd38-5b59-4f52-911f-f3c8aeee2b13
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 48e4f868-8447-4c76-86e7-a50611f0e916
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/48e4f868-8447-4c76-86e7-a50611f0e916
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-14T06:45:37.3834173",
        "lastUpdatedTimeUtc": "2025-09-14T06:45:46.5605124", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/48e4f868-8447-4c76-86e7-a50611f0e916/result
      RequestId:
      - 06214bdb-a4fb-4633-9053-f7a377d6e697
      x-ms-operation-id:
      - 48e4f868-8447-4c76-86e7-a50611f0e916
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/48e4f868-8447-4c76-86e7-a50611f0e916/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "EventhouseProperties.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkV2ZW50aG91c2UiLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b09b1f1b-2b6c-47a0-857a-64e3ca1e5bda
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Eventhouse", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_10", "definition": {"parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiRXZlbnRob3VzZSIsCiAgICAgICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAgICAg[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/items/9173b7f8-d89a-44cc-b3be-4022b9979388
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b2e9116b-010f-4d41-b556-8646673ef50f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
