interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a236738d-ce17-46dd-b17c-ef2502924abb",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 44ebeac2-5e67-4387-8bfe-09cf58facee9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/items
  response:
    body:
      string: '{"value": [{"id": "4b496b1a-60ed-4566-95f2-62608de034d4", "type": "Report",
        "displayName": "fabcli000001_new_6", "description": "Imported from fab", "workspaceId":
        "a236738d-ce17-46dd-b17c-ef2502924abb"}, {"id": "3722b7bc-6772-4795-8b21-21f263cb5087",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "a236738d-ce17-46dd-b17c-ef2502924abb"}, {"id": "7cb24376-4cc2-4027-b06b-70127e6a6fc9",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "a236738d-ce17-46dd-b17c-ef2502924abb"}, {"id": "0bd3685c-f169-42f0-9a6c-2ad8431135a5",
     [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDashboard", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/kqlDashboards
  response:
    body:
      string: '{"id": "c69ed550-10e3-4fc1-a289-925799f90620", "type": "KQLDashboard",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "a236738d-ce17-46dd-b17c-ef2502924abb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e09f7a76-a3ef-4f32-a255-2bc37a0da244
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/items/c69ed550-10e3-4fc1-a289-925799f90620
  response:
    body:
      string: '{"id": "c69ed550-10e3-4fc1-a289-925799f90620", "type": "KQLDashboard",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "a236738d-ce17-46dd-b17c-ef2502924abb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c04cdbca-af7a-4b18-9473-59c974912fe0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/items/c69ed550-10e3-4fc1-a289-925799f90620/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "RealTimeDashboard.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTERhc2hib2FyZCIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 058e5707-c264-484b-874e-7b551b03889a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "KQLDashboard", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_13", "definition": {"parts": [{"path":
      "RealTimeDashboard.json", "payload": "e30=", "payloadType": "InlineBase64"},
      {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgIC[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/items/c69ed550-10e3-4fc1-a289-925799f90620
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - bf64604f-c76a-42b4-8816-578d0f906a63
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
