interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c10a9f82-d191-4a4f-a338-c278ae3f2ae1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 12ddb452-b916-4eb3-9b30-5e64771465bf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c10a9f82-d191-4a4f-a338-c278ae3f2ae1/items
  response:
    body:
      string: '{"value": [{"id": "4f9c27ec-28a4-4b67-941d-f57a88c2490f", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "c10a9f82-d191-4a4f-a338-c278ae3f2ae1"}, {"id": "e9de3679-5b25-4fd8-a4fe-e96cffce4948",
        "type": "DigitalTwinBuilder", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "c10a9f82-d191-4a4f-a338-c278ae3f2ae1"}, {"id": "af311004-eb64-48cd-98a9-621ed7ab8063",
        "type": "Lakehouse", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "c10a9f82-d191-4a4f-a338-c278ae3f2ae1"}, {"id": "e50c7204-384e-4a4b-83b8-785e5ccd0d95",
        "type": "DigitalTwinBuilderFlow", "displayName": "fabcli000001_autoOnDemand",
        "description": "", "workspaceId": "c10a9f82-d191-4a4f-a338-c278ae3f2ae1"},
        {"id": "8ad8abc2-621f-4bfb-9875-51187ee766a3", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001_new_2", "description": "", "workspaceId": "c10a9f82-d191-4a4f-a338-c278ae3f2ae1"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f0dc7d3c-4fc7-4e20-bd5f-f803521bd3fa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c10a9f82-d191-4a4f-a338-c278ae3f2ae1/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e7229820-f8e0-474f-bc0f-01e1884c35e4
      RequestId:
      - 82eca24b-1b1b-41c1-9fff-ab56859e9d9c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - e7229820-f8e0-474f-bc0f-01e1884c35e4
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e7229820-f8e0-474f-bc0f-01e1884c35e4
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:36:53.0929013",
        "lastUpdatedTimeUtc": "2026-05-13T07:37:01.0449363", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e7229820-f8e0-474f-bc0f-01e1884c35e4/result
      RequestId:
      - 08c245e5-0c03-4b64-820c-b0adae3f0274
      x-ms-operation-id:
      - e7229820-f8e0-474f-bc0f-01e1884c35e4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e7229820-f8e0-474f-bc0f-01e1884c35e4/result
  response:
    body:
      string: '{"id": "dfff86b7-484d-4e32-97e5-9b8a87164ef6", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "c10a9f82-d191-4a4f-a338-c278ae3f2ae1"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - fe13dcae-47d4-451b-b760-59f07159cddb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c10a9f82-d191-4a4f-a338-c278ae3f2ae1/items/dfff86b7-484d-4e32-97e5-9b8a87164ef6
  response:
    body:
      string: '{"id": "dfff86b7-484d-4e32-97e5-9b8a87164ef6", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "c10a9f82-d191-4a4f-a338-c278ae3f2ae1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 5fc7f243-ab28-45b5-b70a-ea9e8824aa01
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c10a9f82-d191-4a4f-a338-c278ae3f2ae1/items/dfff86b7-484d-4e32-97e5-9b8a87164ef6/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b8c91931-86ce-4a39-94f2-2b5e9d797513
      RequestId:
      - 866febaf-3465-4fc8-a4b2-0bc740771f5b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b8c91931-86ce-4a39-94f2-2b5e9d797513
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b8c91931-86ce-4a39-94f2-2b5e9d797513/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiMTc3Nzk4NjMtM2Y1NC00YjMyLThhNjktOTgxNTJjYjdjMzNmIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 97e106f3-f15b-4738-84b2-b09294357a35
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "DigitalTwinBuilder", "folderId": null, "displayName": "fabcli000001_new_3",
      "definition": {"parts": [{"path": "definition.json", "payload": "ewogICAgIkxha2Vob3VzZUlkIjogIjE3Nzc5ODYzLTNmNTQtNGIzMi04YTY5LTk4MTUyY2I3YzMzZiIKfQ==",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbi[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c10a9f82-d191-4a4f-a338-c278ae3f2ae1/items/dfff86b7-484d-4e32-97e5-9b8a87164ef6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4b54a3d1-eeeb-4adc-845f-319007837e59
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
