interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e612c1cf-5450-4af1-8113-798350c641ba",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c5fae29c-9a1e-467e-ac37-84ff5ca5e9a4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 38bc5223-d8ad-439c-b5bf-ac30b9827893
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/lakehouses
  response:
    body:
      string: '{"id": "acde9d2c-e006-4d00-8448-7679e076ca87", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "e612c1cf-5450-4af1-8113-798350c641ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 198ffd70-8979-4212-8515-bfb6ebe34713
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items/acde9d2c-e006-4d00-8448-7679e076ca87
  response:
    body:
      string: '{"id": "acde9d2c-e006-4d00-8448-7679e076ca87", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "e612c1cf-5450-4af1-8113-798350c641ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d3d8c772-a2a6-4173-8e4e-1545f0e9bbec
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items/acde9d2c-e006-4d00-8448-7679e076ca87/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "lakehouse.metadata.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": "alm.settings.json", "payload":
        "ew0KICAidmVyc2lvbiI6ICIxLjAuMSIsDQogICJvYmplY3RUeXBlcyI6IFsNCiAgICB7DQogICAgICAibmFtZSI6ICJTaG9ydGN1dHMiLA0KICAgICAgInN0YXRlIjogIkVuYWJsZWQiLA0KICAgICAgInN1Yk9iamVjdFR5cGVzIjogWw0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLk9uZUxha2UiLA0KICAgICAgICAgICJzdGF0ZSI6ICJFbmFibGVkIg0KICAgICAgICB9LA0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLkFkbHNHZW4yIiwNCiAgICAgICAgICAic3RhdGUiOiAiRW5hYmxlZCINCiAgICAgICAgfSwNCiAg[...]
[...]
- request:
    body: '{"definition": {"parts": [{"path": "shortcuts.metadata.json", "payload":
      "W10=", "payloadType": "InlineBase64"}, {"path": "lakehouse.metadata.json",
      "payload": "e30=", "payloadType": "InlineBase64"}, {"path": "alm.settings.json",
      "payload": "ewogICAgInZlcnNpb24iOiAiMS4wLjEiLAogICAgIm9iamVjdFR5cGVzIjogWwogICAgICAgIHsKICAgICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzIiwKICAgICAgICAgICAgInN0YXRlIjogIkVuYWJsZWQiLAogICAgICAgICAgICAic3ViT2JqZWN0VHlwZXMiOiBbCiAgICAgICAgIC[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2bc78225-08f0-4cb2-9d1a-55c18996c993
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-14T12:25:10.8998867",
        "lastUpdatedTimeUtc": "2026-04-14T12:25:13.2168389", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2bc78225-08f0-4cb2-9d1a-55c18996c993/result
      RequestId:
      - 5cad0a77-d04f-4393-9b2d-9993a7aa718f
      x-ms-operation-id:
      - 2bc78225-08f0-4cb2-9d1a-55c18996c993
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2bc78225-08f0-4cb2-9d1a-55c18996c993/result
  response:
    body:
      string: '{"id": "acde9d2c-e006-4d00-8448-7679e076ca87", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "e612c1cf-5450-4af1-8113-798350c641ba"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 57af616d-60af-4df7-85c0-af73c8afda29
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items/acde9d2c-e006-4d00-8448-7679e076ca87
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 45b07f7b-e487-480a-b2a4-0588d2ecfbec
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
