interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "9d87cc0b-41e2-4c24-adf9-1912f9df0ca7",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1a11a86d-3019-467c-b6ad-12fd5c42f44f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9d87cc0b-41e2-4c24-adf9-1912f9df0ca7/items
  response:
    body:
      string: '{"value": [{"id": "3ea5e4a2-def8-4b30-8251-3943bb1fd051", "type": "Notebook",
        "displayName": "fabcli000001_new_2", "description": "Imported from fab", "workspaceId":
        "9d87cc0b-41e2-4c24-adf9-1912f9df0ca7"}, {"id": "8d59d32d-b7bf-45c9-97f5-47537ee6b835",
        "type": "SparkJobDefinition", "displayName": "fabcli000001_new_3", "description":
        "Imported from fab", "workspaceId": "9d87cc0b-41e2-4c24-adf9-1912f9df0ca7"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ec9f6a07-8653-4d1f-9bc4-f66c6e242513
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9d87cc0b-41e2-4c24-adf9-1912f9df0ca7/dataPipelines
  response:
    body:
      string: '{"id": "14f204bd-8cd1-4e57-9c50-6e115b1a8587", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9d87cc0b-41e2-4c24-adf9-1912f9df0ca7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 761c7e30-03e5-40ca-b69f-3c8bf7d2431c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9d87cc0b-41e2-4c24-adf9-1912f9df0ca7/items/14f204bd-8cd1-4e57-9c50-6e115b1a8587
  response:
    body:
      string: '{"id": "14f204bd-8cd1-4e57-9c50-6e115b1a8587", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9d87cc0b-41e2-4c24-adf9-1912f9df0ca7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f4d6af3e-452a-4f17-a4fe-eda29c39bf7a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9d87cc0b-41e2-4c24-adf9-1912f9df0ca7/items/14f204bd-8cd1-4e57-9c50-6e115b1a8587/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "pipeline-content.json", "payload":
        "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==", "payloadType":
        "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRhdGFQaXBlbGluZSIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b81dde51-ab5b-49dd-8b98-d1b1ef0d7d14
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "DataPipeline", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_4", "definition": {"parts": [{"path":
      "pipeline-content.json", "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgImFjdGl2aXRpZXMiOiBbXQogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVy[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9d87cc0b-41e2-4c24-adf9-1912f9df0ca7/items/14f204bd-8cd1-4e57-9c50-6e115b1a8587
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8e5f1867-f6d7-4f8a-a3d9-9d40290face4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
