interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "45b12a86-e49a-48c0-8691-6a437d6fe0e0",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a8beb989-6d16-4817-97de-f9a82568944b
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items
  response:
    body:
      string: '{"value": [{"id": "dd5acc2b-a5a3-4ef2-9a98-9ebca11cea67", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b72ff339-e833-4a8d-a6ea-25c7c0f30b7d
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/eventhouses
  response:
    body:
      string: '{"id": "4c7117ae-f43e-47d8-a440-143098f5ef2c", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7c52e9cf-c9ff-4308-850c-7b1e50287aa9
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "4c7117ae-f43e-47d8-a440-143098f5ef2c"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/9926de4d-2bee-4a64-8f70-9b9a24453374
      RequestId:
      - 0bc7302c-8e71-4fa4-a2e4-0753c0d93bd4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9926de4d-2bee-4a64-8f70-9b9a24453374
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/9926de4d-2bee-4a64-8f70-9b9a24453374
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2025-09-03T11:44:40.0597952",
        "lastUpdatedTimeUtc": "2025-09-03T11:44:40.0597952", "percentComplete": null,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/9926de4d-2bee-4a64-8f70-9b9a24453374
      RequestId:
      - 949db62d-3dc0-4441-b152-ca5994097f70
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 9926de4d-2bee-4a64-8f70-9b9a24453374
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/9926de4d-2bee-4a64-8f70-9b9a24453374/result
  response:
    body:
      string: '{"id": "516cb9c5-231d-4037-b343-8e84ed1ebcb2", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b594f2af-a078-43e2-aac3-ffc51a6212ca
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items/516cb9c5-231d-4037-b343-8e84ed1ebcb2
  response:
    body:
      string: '{"id": "516cb9c5-231d-4037-b343-8e84ed1ebcb2", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 1efb211d-e488-410e-8dc8-66096e627556
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items/516cb9c5-231d-4037-b343-8e84ed1ebcb2/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/9d07029e-42da-42ba-b4e1-5541da2c75ce
      RequestId:
      - bdafaf98-dbc1-4dbe-b0a3-a4abf82b6bac
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9d07029e-42da-42ba-b4e1-5541da2c75ce
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/9d07029e-42da-42ba-b4e1-5541da2c75ce/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "DatabaseProperties.json", "payload":
        "ew0KICAiZGF0YWJhc2VUeXBlIjogIlJlYWRXcml0ZSIsDQogICJwYXJlbnRFdmVudGhvdXNlSXRlbUlkIjogIjRjNzExN2FlLWY0M2UtNDdkOC1hNDQwLTE0MzA5OGY1ZWYyYyIsDQogICJvbmVMYWtlQ2FjaGluZ1BlcmlvZCI6ICJQMzY1MDAwRCIsDQogICJvbmVMYWtlU3RhbmRhcmRTdG9yYWdlUGVyaW9kIjogIlAzNjUwMDBEIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": "DatabaseSchema.kql", "payload":
        "Ly8gS1FMIHNjcmlwdA0KLy8gVXNlIG1hbmFnZW1lbnQgY29tbWFuZHMgaW4gdGhpcyBzY3JpcHQgdG8gY29uZmlndXJlIHlvdXIgZGF0YWJhc2UgaXRlbXMsIHN1Y2ggYXMgdGFibGVzLCBmdW5jdGlvbnMsIG1hdGVyaWFsaXplZCB2aWV3cywgYW5kIG1vcmUuDQoNCg0K",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTERhdGFiYXNlIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c5b12932-5756-4d83-8942-16ae99f173b3
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"definition": {"parts": [{"path": "DatabaseProperties.json", "payload":
      "ewogICAgImRhdGFiYXNlVHlwZSI6ICJSZWFkV3JpdGUiLAogICAgInBhcmVudEV2ZW50aG91c2VJdGVtSWQiOiAiNGM3MTE3YWUtZjQzZS00N2Q4LWE0NDAtMTQzMDk4ZjVlZjJjIiwKICAgICJvbmVMYWtlQ2FjaGluZ1BlcmlvZCI6ICJQMzY1MDAwRCIsCiAgICAib25lTGFrZVN0YW5kYXJkU3RvcmFnZVBlcmlvZCI6ICJQMzY1MDAwRCIKfQ==",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmN[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items/516cb9c5-231d-4037-b343-8e84ed1ebcb2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9e5d2770-7fcb-46f5-9bb9-2e6f20add7c4
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
