interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "55c0a683-4369-40bd-b013-c4c1bea8fa12",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1f82726d-71cb-4541-b91a-dc83c990f6cd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/items
  response:
    body:
      string: '{"value": [{"id": "4e8d5343-99db-432c-b9af-5890ad6b7db8", "type": "SQLEndpoint",
        "displayName": "fabcli000001_new_2", "description": "", "workspaceId": "55c0a683-4369-40bd-b013-c4c1bea8fa12"},
        {"id": "358e066e-2bb5-4845-9f97-061aa11d1247", "type": "Lakehouse", "displayName":
        "fabcli000001_new_2", "description": "Imported from fab", "workspaceId": "55c0a683-4369-40bd-b013-c4c1bea8fa12"},
        {"id": "ff706532-ca00-42fe-a6c6-3a91bffc3094", "type": "Environment", "displayName":
        "fabcli000001_new_3", "description": "Imported from fab", "workspaceId": "55c0a683-4369-40bd-b013-c4c1bea8fa12"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bcc29602-3f58-4f40-b118-3040cf003df6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/244bc681-8637-4969-be3f-19010fa1ac70
      RequestId:
      - 9270cd72-7218-40d9-8141-571f8bad72ce
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 244bc681-8637-4969-be3f-19010fa1ac70
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/244bc681-8637-4969-be3f-19010fa1ac70
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-16T07:58:53.6399364",
        "lastUpdatedTimeUtc": "2026-04-16T07:58:54.896545", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/244bc681-8637-4969-be3f-19010fa1ac70/result
      RequestId:
      - ff19f2e8-56e6-4489-a819-b5e5384239ce
      x-ms-operation-id:
      - 244bc681-8637-4969-be3f-19010fa1ac70
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/244bc681-8637-4969-be3f-19010fa1ac70/result
  response:
    body:
      string: '{"id": "35bda193-9764-416e-acb7-4610c9a56ca6", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "55c0a683-4369-40bd-b013-c4c1bea8fa12"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ee4e1a99-ee29-44cf-a312-bcfd1db533a6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/items/35bda193-9764-416e-acb7-4610c9a56ca6
  response:
    body:
      string: '{"id": "35bda193-9764-416e-acb7-4610c9a56ca6", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "55c0a683-4369-40bd-b013-c4c1bea8fa12"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 271a23c8-2c40-4178-a31d-69c33902266a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/items/35bda193-9764-416e-acb7-4610c9a56ca6/getDefinition?format=ipynb
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/59ba94e3-af92-4cb0-b1fb-6d23a20b9fbf
      RequestId:
      - 93cab2b9-1fcb-401e-9a37-2d5688e42bb7
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 59ba94e3-af92-4cb0-b1fb-6d23a20b9fbf
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001_new_4", "definition": {"parts": [{"path": "notebook-content.ipynb",
      "payload": "ewogICAgIm5iZm9ybWF0IjogNCwKICAgICJuYmZvcm1hdF9taW5vciI6IDUsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgImxhbmd1YWdlX2luZm8iOiB7CiAgICAgICAgICAgICJuYW1lIjogInB5dGhvbiIKICAgICAgICB9LAogICAgICAgICJrZXJuZWxfaW5mbyI6IHsKICAgICAgICAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIiwKICAgICAgICAgICAgImp1cH[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/items/35bda193-9764-416e-acb7-4610c9a56ca6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6d6e30e9-8ac9-4d71-abc1-ec916d7bff1c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
