interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7e598955-2dfe-415b-b4d9-ff0258025428",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 373dd5c9-e746-4390-93e5-09d2b8049b76
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items
  response:
    body:
      string: '{"value": [{"id": "ecb3e483-dfb3-438d-b324-ad4ae515c078", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "3351eb10-5f38-4c77-823c-8c779399100c", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "bd1f8d06-49cd-4629-9687-39510eda3de8", "type": "SemanticModel", "displayName":
        "fabcli000001_new_6", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "37861b2d-8513-4d88-84f3-76386601c3c2", "typ[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "CosmosDBDatabase", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9014a934-b0ef-40ab-b4cd-e7018bef92aa
      RequestId:
      - a9d73a2f-f2d2-4604-af0f-227c45c48f98
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9014a934-b0ef-40ab-b4cd-e7018bef92aa
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9014a934-b0ef-40ab-b4cd-e7018bef92aa
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-06-02T13:16:46.1670502",
        "lastUpdatedTimeUtc": "2026-06-02T13:16:53.3980238", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9014a934-b0ef-40ab-b4cd-e7018bef92aa/result
      RequestId:
      - 924dc754-605f-4a22-b2d0-6fdb377c7b09
      x-ms-operation-id:
      - 9014a934-b0ef-40ab-b4cd-e7018bef92aa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9014a934-b0ef-40ab-b4cd-e7018bef92aa/result
  response:
    body:
      string: '{"id": "617f3007-2ceb-4661-8a3d-e2a43c3ce84f", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f87affe5-2a0c-436b-964a-bcaf9308b90f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items/617f3007-2ceb-4661-8a3d-e2a43c3ce84f
  response:
    body:
      string: '{"id": "617f3007-2ceb-4661-8a3d-e2a43c3ce84f", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d8715d15-fd99-420a-85cc-e200ec2e6f7c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items/617f3007-2ceb-4661-8a3d-e2a43c3ce84f/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ae67c373-a7ee-47b1-a1eb-f6a630b2f5c7
      RequestId:
      - 2b7e3a9f-7a17-428c-85b2-669b5f1f4c90
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ae67c373-a7ee-47b1-a1eb-f6a630b2f5c7
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ae67c373-a7ee-47b1-a1eb-f6a630b2f5c7/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9pdGVtL0Nvc21vc0RCL2RlZmluaXRpb24vQ29zbW9zREIvMi4wLjAvc2NoZW1hLmpzb24iLAogICJjb250YWluZXJzIjogW10KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkNvc21vc0RCRGF0YWJhc2UiLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 556d0a27-beed-476a-b76d-f8048070f749
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "CosmosDBDatabase", "folderId": null, "displayName": "fabcli000001_new_14",
      "definition": {"parts": [{"path": "definition.json", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2l0ZW0vQ29zbW9zREIvZGVmaW5pdGlvbi9Db3Ntb3NEQi8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAiY29udGFpbmVycyI6IFtdCn0=",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWl[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items/617f3007-2ceb-4661-8a3d-e2a43c3ce84f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8c1275a1-be22-4fbe-863a-a6382fa1dd96
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
