interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "cf115c16-dbe1-466c-b3c8-a406a50fcfc7", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 55caab81-21d9-46a0-bcca-4bb8aaa4be9f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf115c16-dbe1-466c-b3c8-a406a50fcfc7/items
  response:
    body:
      string: '{"value": [{"id": "4aa6e43f-20e2-46d6-8fb6-5da2587a0336", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "Imported from fab", "workspaceId":
        "cf115c16-dbe1-466c-b3c8-a406a50fcfc7"}, {"id": "2e77bf8a-2e41-4ad1-89da-77ed7ca4fa7d",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "cf115c16-dbe1-466c-b3c8-a406a50fcfc7"}, {"id": "91bd8fa7-8f42-4999-956f-3ed8341231be",
        "type": "SemanticModel", "displayName": "fabcli000001_new_6", "description":
        "", "workspaceId": "cf115c16-dbe1-466c-b3c8-a406a50fcfc7"}, {"id": "e5c42dde-b7a5-4d98-beee-bb4556edfa86",
    [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Reflex", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf115c16-dbe1-466c-b3c8-a406a50fcfc7/reflexes
  response:
    body:
      string: '{"id": "9f9b3044-016e-4100-9c74-2e7efc3e584a", "type": "Reflex", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "cf115c16-dbe1-466c-b3c8-a406a50fcfc7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 15838d75-1a44-4cde-aeb4-ecf5ca1aef15
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf115c16-dbe1-466c-b3c8-a406a50fcfc7/items/9f9b3044-016e-4100-9c74-2e7efc3e584a
  response:
    body:
      string: '{"id": "9f9b3044-016e-4100-9c74-2e7efc3e584a", "type": "Reflex", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "cf115c16-dbe1-466c-b3c8-a406a50fcfc7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9808d227-54f2-4701-aae9-5455cad777c0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf115c16-dbe1-466c-b3c8-a406a50fcfc7/items/9f9b3044-016e-4100-9c74-2e7efc3e584a/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "ReflexEntities.json", "payload":
        "W10=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlJlZmxleCIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 789f9e6f-05e2-44d1-86de-fbac9542fb54
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Reflex", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001_new_11", "definition": {"parts": [{"path": "ReflexEntities.json",
      "payload": "W10=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload":
      "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGU[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf115c16-dbe1-466c-b3c8-a406a50fcfc7/items/9f9b3044-016e-4100-9c74-2e7efc3e584a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d19e7b94-600b-45bd-9153-cc82fb59c871
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
