interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "69ad43c8-9a51-43f8-829d-d6163efc373d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8090d851-4da7-4ebe-9e09-0f3e81586b6a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items
  response:
    body:
      string: '{"value": [{"id": "5d7b4149-49f4-4fc8-89fb-cc3767c11e19", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"},
        {"id": "da769db2-b7ec-4d45-b215-5fbf6e04d5c1", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"},
        {"id": "90968799-aaae-4db2-bfee-055ccbbf5ef9", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_new_2", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 63033609-e3a8-4a53-a001-5c90a4a40595
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d0a2bd64-732b-4d02-8689-60d4d97f6e7b
      RequestId:
      - 095f5a98-c8d7-4500-b6e1-651be17a6a49
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d0a2bd64-732b-4d02-8689-60d4d97f6e7b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d0a2bd64-732b-4d02-8689-60d4d97f6e7b
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T10:16:18.4188867",
        "lastUpdatedTimeUtc": "2026-05-13T10:16:24.9436508", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d0a2bd64-732b-4d02-8689-60d4d97f6e7b/result
      RequestId:
      - a692bfc5-f662-4adc-9891-6bcbac42834f
      x-ms-operation-id:
      - d0a2bd64-732b-4d02-8689-60d4d97f6e7b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d0a2bd64-732b-4d02-8689-60d4d97f6e7b/result
  response:
    body:
      string: '{"id": "517281fe-4793-422e-bfe0-4391b1a11a91", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 643dd947-3ef0-433c-8637-74859cac3c4e
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "517281fe-4793-422e-bfe0-4391b1a11a91", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "391f98c6-4b9c-49f5-9559-ba2820eb8acd", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 19f5e686-9444-4210-b612-3755a704b812
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items/391f98c6-4b9c-49f5-9559-ba2820eb8acd
  response:
    body:
      string: '{"id": "391f98c6-4b9c-49f5-9559-ba2820eb8acd", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "69ad43c8-9a51-43f8-829d-d6163efc373d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 49c293b0-ad68-4631-b4df-8d55e710d100
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items/391f98c6-4b9c-49f5-9559-ba2820eb8acd/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b034e311-3ff1-44dd-b5f8-0ff4a7e4eec1
      RequestId:
      - 4ff2443e-5dd0-4449-b371-7bd349581e1b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b034e311-3ff1-44dd-b5f8-0ff4a7e4eec1
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b034e311-3ff1-44dd-b5f8-0ff4a7e4eec1/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiRGlnaXRhbFR3aW5CdWlsZGVySWQiOiAiNTE3MjgxZmUtNDc5My00MjJlLWJmZTAtNDM5MWIxYTExYTkxIiwNCiAgIk9wZXJhdGlvbklkcyI6IFtdLA0KICAiSXNPbkRlbWFuZCI6IGZhbHNlDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlckZsb3ciLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c9fd4c8c-6a6e-434e-98f6-853b325ea77d
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "DigitalTwinBuilderFlow", "folderId": null, "displayName": "fabcli000001_new_3",
      "definition": {"parts": [{"path": "definition.json", "payload": "ewogICAgIkRpZ2l0YWxUd2luQnVpbGRlcklkIjogIjUxNzI4MWZlLTQ3OTMtNDIyZS1iZmUwLTQzOTFiMWExMWE5MSIsCiAgICAiT3BlcmF0aW9uSWRzIjogW10sCiAgICAiSXNPbkRlbWFuZCI6IGZhbHNlCn0=",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYX[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/69ad43c8-9a51-43f8-829d-d6163efc373d/items/391f98c6-4b9c-49f5-9559-ba2820eb8acd
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5fd2cda4-becd-4381-b964-69490bfbb80a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
