interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e612c1cf-5450-4af1-8113-798350c641ba",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 40fd9140-23f7-4f9a-87ee-527e2ff776d2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 27447e95-c00c-4937-a254-f4e2de017db1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Eventstream", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/eventstreams
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/80cbee2a-57c7-48aa-981b-523d43d7e3c5
      RequestId:
      - a2b75294-652b-4ecc-9cdd-955818d727ce
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 80cbee2a-57c7-48aa-981b-523d43d7e3c5
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/80cbee2a-57c7-48aa-981b-523d43d7e3c5
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-14T12:18:39.760954",
        "lastUpdatedTimeUtc": "2026-04-14T12:18:43.7841231", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/80cbee2a-57c7-48aa-981b-523d43d7e3c5/result
      RequestId:
      - 1fbd88d9-8c16-48ce-96f5-311c10406601
      x-ms-operation-id:
      - 80cbee2a-57c7-48aa-981b-523d43d7e3c5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/80cbee2a-57c7-48aa-981b-523d43d7e3c5/result
  response:
    body:
      string: '{"id": "3aeb2b34-c378-4e7b-8d6a-2af0a4cfad03", "type": "Eventstream",
        "displayName": "fabcli000001", "workspaceId":
        "e612c1cf-5450-4af1-8113-798350c641ba"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 5a01ea6a-d11b-4ec7-b5f7-3e44d0e5fb5e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items/3aeb2b34-c378-4e7b-8d6a-2af0a4cfad03
  response:
    body:
      string: '{"id": "3aeb2b34-c378-4e7b-8d6a-2af0a4cfad03", "type": "Eventstream",
        "displayName": "fabcli000001", "workspaceId":
        "e612c1cf-5450-4af1-8113-798350c641ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 5e743f14-1b44-4f37-8ea2-03c4ed91977c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items/3aeb2b34-c378-4e7b-8d6a-2af0a4cfad03/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "eventstream.json", "payload": "ew0KICAic291cmNlcyI6IFtdLA0KICAiZGVzdGluYXRpb25zIjogW10sDQogICJzdHJlYW1zIjogW10sDQogICJvcGVyYXRvcnMiOiBbXSwNCiAgImNvbXBhdGliaWxpdHlMZXZlbCI6ICIxLjEiDQp9",
        "payloadType": "InlineBase64"}, {"path": "eventstreamProperties.json", "payload":
        "ew0KICAicmV0ZW50aW9uVGltZUluRGF5cyI6IDEsDQogICJldmVudFRocm91Z2hwdXRMZXZlbCI6ICJMb3ciDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkV2ZW50c3RyZWFtIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 92027cca-c4dc-4b72-88a3-5d159b70f0ac
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"definition": {"parts": [{"path": "eventstreamProperties.json", "payload":
      "ewogICAgInJldGVudGlvblRpbWVJbkRheXMiOiAxLAogICAgImV2ZW50VGhyb3VnaHB1dExldmVsIjogIkxvdyIKfQ==",
      "payloadType": "InlineBase64"}, {"path": "eventstream.json", "payload": "ewogICAgInNvdXJjZXMiOiBbXSwKICAgICJkZXN0aW5hdGlvbnMiOiBbXSwKICAgICJzdHJlYW1zIjogW10sCiAgICAib3BlcmF0b3JzIjogW10sCiAgICAiY29tcGF0aWJpbGl0eUxldmVsIjogIjEuMSIKfQ==",
      "payloadType": "InlineBase64"}, {"path": ".platform"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e612c1cf-5450-4af1-8113-798350c641ba/items/3aeb2b34-c378-4e7b-8d6a-2af0a4cfad03
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - dde000c4-b8bd-4a00-9a1e-595ad58ae235
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
