interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7e598955-2dfe-415b-b4d9-ff0258025428",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8a3bb478-8a8d-4f67-b630-8b0416bb9fc1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items
  response:
    body:
      string: '{"value": [{"id": "ecb3e483-dfb3-438d-b324-ad4ae515c078", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "3351eb10-5f38-4c77-823c-8c779399100c", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "bd1f8d06-49cd-4629-9687-39510eda3de8", "type": "SemanticModel", "displayName":
        "fabcli000001_new_6", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "37861b2d-8513-4d88-84f3-76386601c3c2", "typ[...]
[...]
