interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7361766b-0a72-4ac0-8a8d-47b606ce4e18",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5fbf4456-92d6-47c3-b4b8-6dfbe9c0dcea
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7361766b-0a72-4ac0-8a8d-47b606ce4e18/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2a62ec51-4d7c-4b04-bf04-4b17b5198bb5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Eventstream", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7361766b-0a72-4ac0-8a8d-47b606ce4e18/eventstreams
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2b6bbf2b-b2ee-4621-af09-05c0cc7ab983
      RequestId:
      - 4e748285-6743-4169-92ed-61ee45f58d31
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 2b6bbf2b-b2ee-4621-af09-05c0cc7ab983
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2b6bbf2b-b2ee-4621-af09-05c0cc7ab983
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-17T09:46:20.9106703",
        "lastUpdatedTimeUtc": "2026-03-17T09:46:25.1767215", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2b6bbf2b-b2ee-4621-af09-05c0cc7ab983/result
      RequestId:
      - 862b77a5-2e33-4827-a3c2-39deebca0d13
      x-ms-operation-id:
      - 2b6bbf2b-b2ee-4621-af09-05c0cc7ab983
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2b6bbf2b-b2ee-4621-af09-05c0cc7ab983/result
  response:
    body:
      string: '{"id": "5dd47ed3-7ad6-48f0-a88d-c6b62804ac7f", "type": "Eventstream",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "7361766b-0a72-4ac0-8a8d-47b606ce4e18"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - e6a43ef7-3e24-49dc-8e6e-7a00c00a686b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7361766b-0a72-4ac0-8a8d-47b606ce4e18/items/5dd47ed3-7ad6-48f0-a88d-c6b62804ac7f
  response:
    body:
      string: '{"id": "5dd47ed3-7ad6-48f0-a88d-c6b62804ac7f", "type": "Eventstream",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "7361766b-0a72-4ac0-8a8d-47b606ce4e18"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - bbd00b5f-4c81-486a-bf25-998854bc5402
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7361766b-0a72-4ac0-8a8d-47b606ce4e18/items/5dd47ed3-7ad6-48f0-a88d-c6b62804ac7f/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "eventstream.json", "payload": "ew0KICAic291cmNlcyI6IFtdLA0KICAiZGVzdGluYXRpb25zIjogW10sDQogICJzdHJlYW1zIjogW10sDQogICJvcGVyYXRvcnMiOiBbXSwNCiAgImNvbXBhdGliaWxpdHlMZXZlbCI6ICIxLjEiDQp9",
        "payloadType": "InlineBase64"}, {"path": "eventstreamProperties.json", "payload":
        "ew0KICAicmV0ZW50aW9uVGltZUluRGF5cyI6IDEsDQogICJldmVudFRocm91Z2hwdXRMZXZlbCI6ICJMb3ciDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkV2ZW50c3RyZWFtIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b16193d7-ea5d-4702-b45a-06b52bdb52b4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"definition": {"parts": [{"path": "eventstreamProperties.json", "payload":
      "ewogICAgInJldGVudGlvblRpbWVJbkRheXMiOiAxLAogICAgImV2ZW50VGhyb3VnaHB1dExldmVsIjogIkxvdyIKfQ==",
      "payloadType": "InlineBase64"}, {"path": "eventstream.json", "payload": "ewogICAgInNvdXJjZXMiOiBbXSwKICAgICJkZXN0aW5hdGlvbnMiOiBbXSwKICAgICJzdHJlYW1zIjogW10sCiAgICAib3BlcmF0b3JzIjogW10sCiAgICAiY29tcGF0aWJpbGl0eUxldmVsIjogIjEuMSIKfQ==",
      "payloadType": "InlineBase64"}, {"path": ".platform"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7361766b-0a72-4ac0-8a8d-47b606ce4e18/items/5dd47ed3-7ad6-48f0-a88d-c6b62804ac7f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 865e487d-1ab1-42ba-a6ac-22125182b31e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
