interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "517fbcba-b385-493c-9a8b-2c4f02edef49",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 41d4d543-9acf-495a-85f8-d058c463fde0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/517fbcba-b385-493c-9a8b-2c4f02edef49/items
  response:
    body:
      string: '{"value": [{"id": "5960176e-cb69-4b60-8cca-5b47a1dac0a5", "type": "SQLEndpoint",
        "displayName": "fabcli000001_new_2", "description": "", "workspaceId": "517fbcba-b385-493c-9a8b-2c4f02edef49"},
        {"id": "174c2f9a-e3e1-4644-8965-e19208595e28", "type": "SQLDatabase", "displayName":
        "fabcli000001_new_2", "description": "Imported from fab", "workspaceId": "517fbcba-b385-493c-9a8b-2c4f02edef49"},
        {"id": "373e73e9-862b-47c0-b3dc-cd9c8df91083", "type": "Notebook", "displayName":
        "fabcli000001_new_3", "description": "Imported from fab", "workspaceId": "517fbcba-b385-493c-9a8b-2c4f02edef49"},
        {"id": "de543306-8db9-4004-87bc-4af9907c56b8", "type": "SparkJobDefinition",
        "displayName": "fabcli000001_new_4", "description": "Imported from fab", "workspaceId":
        "517fbcba-b385-493c-9a8b-2c4f02edef49"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2cbdf13d-ce82-4db7-867f-cd2a200bb78b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/517fbcba-b385-493c-9a8b-2c4f02edef49/dataPipelines
  response:
    body:
      string: '{"id": "55316eb0-9a6f-4214-9bd7-3f98912d23de", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "517fbcba-b385-493c-9a8b-2c4f02edef49"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 115bb5b3-44e0-4029-8b38-3ff4071d24a4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/517fbcba-b385-493c-9a8b-2c4f02edef49/items/55316eb0-9a6f-4214-9bd7-3f98912d23de
  response:
    body:
      string: '{"id": "55316eb0-9a6f-4214-9bd7-3f98912d23de", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "517fbcba-b385-493c-9a8b-2c4f02edef49"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d02538c4-faa5-4348-8ac3-b94aad9155a1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/517fbcba-b385-493c-9a8b-2c4f02edef49/items/55316eb0-9a6f-4214-9bd7-3f98912d23de/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "pipeline-content.json", "payload":
        "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==", "payloadType":
        "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRhdGFQaXBlbGluZSIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0243cb47-bd2b-4193-9601-a4547f82a497
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "DataPipeline", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_5", "definition": {"parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiRGF0YVBpcGVsaW5lIiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICA[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/517fbcba-b385-493c-9a8b-2c4f02edef49/items/55316eb0-9a6f-4214-9bd7-3f98912d23de
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 24db92a3-6da7-4f54-bef7-78d2e9b42089
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
