interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b3a55640-baae-43e6-bdbc-fa977f294226",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 13a15a24-f063-4f2b-928f-2d16f32e1190
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b3a55640-baae-43e6-bdbc-fa977f294226/items
  response:
    body:
      string: '{"value": [{"id": "da37ff96-8bb5-453c-9226-c1241cd452a9", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "Imported from fab", "workspaceId":
        "b3a55640-baae-43e6-bdbc-fa977f294226"}, {"id": "210d8bda-e2ff-4f12-8f72-c57fc91815bc",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "Created by fab", "workspaceId": "b3a55640-baae-43e6-bdbc-fa977f294226"},
        {"id": "2b7e242d-8afa-48dc-8d59-2ca38efb020e", "type": "SemanticModel", "displayName":
        "fabcli000001_new_6", "description": "Imported from fab", "workspaceId": "b3a55640-baae-43e6-bdbc-fa977f294226"},
        {"id": "72ab[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b3a55640-baae-43e6-bdbc-fa977f294226/lakehouses
  response:
    body:
      string: '{"id": "39305b2a-dc1a-495a-b622-06e25c3b444c", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "b3a55640-baae-43e6-bdbc-fa977f294226"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 514b75c7-4a50-4040-b8eb-d969605115e7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b3a55640-baae-43e6-bdbc-fa977f294226/items/39305b2a-dc1a-495a-b622-06e25c3b444c
  response:
    body:
      string: '{"id": "39305b2a-dc1a-495a-b622-06e25c3b444c", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "b3a55640-baae-43e6-bdbc-fa977f294226"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 251b60f1-453e-416e-b86f-51a68b94b0b7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b3a55640-baae-43e6-bdbc-fa977f294226/items/39305b2a-dc1a-495a-b622-06e25c3b444c/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "lakehouse.metadata.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": "alm.settings.json", "payload":
        "ew0KICAidmVyc2lvbiI6ICIxLjAuMSIsDQogICJvYmplY3RUeXBlcyI6IFsNCiAgICB7DQogICAgICAibmFtZSI6ICJTaG9ydGN1dHMiLA0KICAgICAgInN0YXRlIjogIkVuYWJsZWQiLA0KICAgICAgInN1Yk9iamVjdFR5cGVzIjogWw0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLk9uZUxha2UiLA0KICAgICAgICAgICJzdGF0ZSI6ICJFbmFibGVkIg0KICAgICAgICB9LA0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLkFkbHNHZW4yIiwNCiAgICAgICAgICAic3RhdGUiOiAiRW5hYmxlZCINCiAgICAgICAgfSwNCiAg[...]
[...]
- request:
    body: '{"type": "Lakehouse", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001_new_17", "definition": {"parts": [{"path": "shortcuts.metadata.json",
      "payload": "W10=", "payloadType": "InlineBase64"}, {"path": "lakehouse.metadata.json",
      "payload": "e30=", "payloadType": "InlineBase64"}, {"path": "alm.settings.json",
      "payload": "ewogICAgInZlcnNpb24iOiAiMS4wLjEiLAogICAgIm9iamVjdFR5cGVzIjogWwogICAgICAgIHsKICAgICAgICAgICAgIm5hbWU[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bc66ce9f-a4ff-4eaf-bbb6-14dab6d6bfdd
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-23T06:27:35.8362303",
        "lastUpdatedTimeUtc": "2026-04-23T06:27:40.8675005", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bc66ce9f-a4ff-4eaf-bbb6-14dab6d6bfdd/result
      RequestId:
      - f6dd77e1-0660-43a6-99e9-432661a89856
      x-ms-operation-id:
      - bc66ce9f-a4ff-4eaf-bbb6-14dab6d6bfdd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bc66ce9f-a4ff-4eaf-bbb6-14dab6d6bfdd/result
  response:
    body:
      string: '{"id": "05b4aba7-ff31-4b57-bbb0-07242cb848c7", "type": "Lakehouse",
        "displayName": "fabcli000001_new_17", "description": "Imported from fab",
        "workspaceId": "b3a55640-baae-43e6-bdbc-fa977f294226"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 7874c935-6a6f-4cf4-b30c-8d410fda15d3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b3a55640-baae-43e6-bdbc-fa977f294226/items/39305b2a-dc1a-495a-b622-06e25c3b444c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b0cf6186-7876-41ef-a0e9-7efc24227cf0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
