interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "45b12a86-e49a-48c0-8691-6a437d6fe0e0",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7de803f0-b5f3-4bc3-8d3c-e449648dd6da
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items
  response:
    body:
      string: '{"value": [{"id": "dd5acc2b-a5a3-4ef2-9a98-9ebca11cea67", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "45b12a86-e49a-48c0-8691-6a437d6fe0e0"},
        {"id": "4c7117ae-f43e-47d8-a440-143098f5ef2c", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "45b12a86-e49a-48c0-8691-6a437d6fe0e0"},
        {"id": "1375656f-74c8-42f5-998d-e92426fdd9e6", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "45b12a86-e49a-48c0-8691-6a437d6fe0e0"},
        {"id": "7c97e64a-aae0-4d00-9774-d91dfa20fd61", "type": "Notebook", "displayName":
        "fabcli000001_new_2", "description": "Imported from fab", "workspaceId": "45b12a86-e49a-48c0-8691-6a437d6fe0e0"},
        {"id": "63265504-74c8-40db-9eee-cee157bef13d", "type": "Notebook", "displayName":
        "fabcli000001_new_3", "description": "Imported from fab", "workspaceId": "45b12a86-e49a-48c0-8691-6a437d6fe0e0"},
        {"id": "fd345ca4-4e8d-40ce-9a99-b3d5001ee8af", "type": "SparkJobDefinition",
        "displayName": "fabcli000001_new_4", "description": "Imported from fab", "workspaceId":
        "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 403855e5-65a8-4113-a31c-ca47c3740593
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/dataPipelines
  response:
    body:
      string: '{"id": "39c3ddc6-c9e2-410f-83f2-bca9ba4cda29", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - bba6caa5-fab7-4c76-87af-fe3493b76575
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items/39c3ddc6-c9e2-410f-83f2-bca9ba4cda29
  response:
    body:
      string: '{"id": "39c3ddc6-c9e2-410f-83f2-bca9ba4cda29", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a1f2368e-f0e5-43b7-99d7-21e1593ed765
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items/39c3ddc6-c9e2-410f-83f2-bca9ba4cda29/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "pipeline-content.json", "payload":
        "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==", "payloadType":
        "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRhdGFQaXBlbGluZSIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e4701666-3aba-42e3-9fba-e4cb7a65a0b8
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "DataPipeline", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_5", "definition": {"parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiRGF0YVBpcGVsaW5lIiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICA[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items/39c3ddc6-c9e2-410f-83f2-bca9ba4cda29
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ddc29c74-4827-4076-91ea-df58a77474c8
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
