interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "45b12a86-e49a-48c0-8691-6a437d6fe0e0",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 307d5735-57ee-4854-b5c4-0163d27e4ebc
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items
  response:
    body:
      string: '{"value": [{"id": "3c04f3c3-d712-4ec5-933c-57b003a8793a", "type": "Report",
        "displayName": "fabcli000001_new_6", "description": "Imported from fab", "workspaceId":
        "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}, {"id": "dd5acc2b-a5a3-4ef2-9a98-9ebca11cea67",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}, {"id": "0347cc7a-0414-41ba-93ed-e1be277aae0e",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}, {"id": "cd75665d-d379-47a6-9d8b-85d037bf39ea",
     [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MirroredDatabase", "folderId": null, "definition": {"parts": [{"path": "mirroring.json",
      "payload": "ew0KICAgICJwcm9wZXJ0aWVzIjogew0KICAgICAgICAic291cmNlIjogew0KICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsDQogICAgICAgICAgICAidHlwZVByb3BlcnRpZXMiOiB7fQ0KICAgICAgICB9LA0KICAgICAgICAidGFyZ2V0Ijogew0KICAgICAgICAgICAgInR5cGUiOiAiTW91bnRlZFJlbGF0aW9uYWxEYXRhYmFzZSIsDQogICAgICAgICAgICAidHlwZVByb3BlcnRpZXMiOiB7DQogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSINCiAgICAgICAgICAgIH0NCiAgICAgICAgfQ0KICAgIH0NCn0=",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/mirroredDatabases
  response:
    body:
      string: '{"id": "9aab0ed5-3eaa-41f0-9d87-f8d5844e32fe", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d0793c01-a32b-4659-98cc-e604719e583d
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items/9aab0ed5-3eaa-41f0-9d87-f8d5844e32fe
  response:
    body:
      string: '{"id": "9aab0ed5-3eaa-41f0-9d87-f8d5844e32fe", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "45b12a86-e49a-48c0-8691-6a437d6fe0e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 48e783a0-3b42-4e93-b772-fac43e177e8e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items/9aab0ed5-3eaa-41f0-9d87-f8d5844e32fe/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "mirroring.json", "payload": "ew0KICAicHJvcGVydGllcyI6IHsNCiAgICAic291cmNlIjogew0KICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsDQogICAgICAidHlwZVByb3BlcnRpZXMiOiB7fQ0KICAgIH0sDQogICA[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/45b12a86-e49a-48c0-8691-6a437d6fe0e0/items/9aab0ed5-3eaa-41f0-9d87-f8d5844e32fe
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b21d3b22-83f1-440d-a0c3-f0f12298e509
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
