interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7e598955-2dfe-415b-b4d9-ff0258025428",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 89846c25-38a2-498d-aa78-b2c1470d4bdc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items
  response:
    body:
      string: '{"value": [{"id": "37861b2d-8513-4d88-84f3-76386601c3c2", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "ecfc7a41-3719-4312-8a47-36c8ee11f2ff", "type": "SQLEndpoint", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "1230ce1e-4b16-44c8-90e4-1756d7cc9633", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "532e8990-80e8-4962-a956-f0c9f8163d75", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "8a179ed3-e30d-4e97-851b-448e97f0b4f3", "type": "Lakehouse", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "4ae335bf-1be6-4943-855f-bda64a377b37", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001_autoOnDemand", "description": "", "workspaceId":
        "7e598955-2dfe-415b-b4d9-ff0258025428"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 670452d0-99cb-4293-9ea7-c040467d28c2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/lakehouses
  response:
    body:
      string: '{"id": "1a3b6312-9849-48ee-a55a-5a305de5e44c", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - efc38128-8b9e-4325-8485-5cc04a4f44d4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items/1a3b6312-9849-48ee-a55a-5a305de5e44c
  response:
    body:
      string: '{"id": "1a3b6312-9849-48ee-a55a-5a305de5e44c", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 855eca59-9f16-4edb-9196-a3c040295837
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items/1a3b6312-9849-48ee-a55a-5a305de5e44c/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "lakehouse.metadata.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": "alm.settings.json", "payload":
        "ew0KICAidmVyc2lvbiI6ICIxLjAuMSIsDQogICJvYmplY3RUeXBlcyI6IFsNCiAgICB7DQogICAgICAibmFtZSI6ICJTaG9ydGN1dHMiLA0KICAgICAgInN0YXRlIjogIkVuYWJsZWQiLA0KICAgICAgInN1Yk9iamVjdFR5cGVzIjogWw0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLk9uZUxha2UiLA0KICAgICAgICAgICJzdGF0ZSI6ICJFbmFibGVkIg0KICAgICAgICB9LA0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLkFkbHNHZW4yIiwNCiAgICAgICAgICAic3RhdGUiOiAiRW5hYmxlZCINCiAgICAgICAgfSwNCiAg[...]
[...]
- request:
    body: '{"definition": {"parts": [{"path": "alm.settings.json", "payload": "ewogICAgInZlcnNpb24iOiAiMS4wLjEiLAogICAgIm9iamVjdFR5cGVzIjogWwogICAgICAgIHsKICAgICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzIiwKICAgICAgICAgICAgInN0YXRlIjogIkVuYWJsZWQiLAogICAgICAgICAgICAic3ViT2JqZWN0VHlwZXMiOiBbCiAgICAgICAgICAgICAgICB7CiAgICAgICAgICAgICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLk9uZUxha2UiLAogICAgICAgICAgICAgICAgICAgICJzdGF0ZSI6ICJFbmFibGVkIgogICAgICAgICAgICAgICAgfSwKICAgICAgICAgICAgICAgIHsKICAgICAgICAgIC[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b5e5203b-2eb8-4f6a-8991-f861c6b93bf1
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-06-02T13:04:18.3254109",
        "lastUpdatedTimeUtc": "2026-06-02T13:04:27.1809824", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b5e5203b-2eb8-4f6a-8991-f861c6b93bf1/result
      RequestId:
      - ad6b68f1-2f9f-4c55-8b1b-6c020131fc14
      x-ms-operation-id:
      - b5e5203b-2eb8-4f6a-8991-f861c6b93bf1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b5e5203b-2eb8-4f6a-8991-f861c6b93bf1/result
  response:
    body:
      string: '{"id": "1a3b6312-9849-48ee-a55a-5a305de5e44c", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ef3e9ee5-5dc5-4f21-84a2-6d888fdf7ad8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items/1a3b6312-9849-48ee-a55a-5a305de5e44c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a18b4519-74a1-4733-875f-13a2bb1d6868
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
