interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a236738d-ce17-46dd-b17c-ef2502924abb",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 73ec7070-670e-4b03-a4a4-aef268d68b93
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/items
  response:
    body:
      string: '{"value": [{"id": "4b496b1a-60ed-4566-95f2-62608de034d4", "type": "Report",
        "displayName": "fabcli000001_new_6", "description": "Imported from fab", "workspaceId":
        "a236738d-ce17-46dd-b17c-ef2502924abb"}, {"id": "3722b7bc-6772-4795-8b21-21f263cb5087",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "a236738d-ce17-46dd-b17c-ef2502924abb"}, {"id": "7cb24376-4cc2-4027-b06b-70127e6a6fc9",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "a236738d-ce17-46dd-b17c-ef2502924abb"}, {"id": "0bd3685c-f169-42f0-9a6c-2ad8431135a5",
     [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/eventhouses
  response:
    body:
      string: '{"id": "f5cef695-fc4a-4e5d-b92a-31c0e5b476ac", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "a236738d-ce17-46dd-b17c-ef2502924abb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b6443a2c-d2c4-46bb-90c9-32d237aa240c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "f5cef695-fc4a-4e5d-b92a-31c0e5b476ac"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/961967aa-f09b-4be4-b142-45a396036c80
      RequestId:
      - be00f051-c591-455e-93b2-5bc3d22e186f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 961967aa-f09b-4be4-b142-45a396036c80
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/961967aa-f09b-4be4-b142-45a396036c80
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-11-26T15:50:55.1400952",
        "lastUpdatedTimeUtc": "2025-11-26T15:51:03.5934655", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/961967aa-f09b-4be4-b142-45a396036c80/result
      RequestId:
      - ec47878f-5c37-45e3-a4fc-843ef10caf85
      x-ms-operation-id:
      - 961967aa-f09b-4be4-b142-45a396036c80
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/961967aa-f09b-4be4-b142-45a396036c80/result
  response:
    body:
      string: '{"id": "af004ba2-afd5-404d-a204-61e876106481", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "a236738d-ce17-46dd-b17c-ef2502924abb"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 0b542f17-d09c-4241-9589-4be5ab2fbcd6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/items/af004ba2-afd5-404d-a204-61e876106481
  response:
    body:
      string: '{"id": "af004ba2-afd5-404d-a204-61e876106481", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "a236738d-ce17-46dd-b17c-ef2502924abb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7ad9e54a-1bea-47cb-a33c-f04cad867b39
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/items/af004ba2-afd5-404d-a204-61e876106481/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5d13a012-6439-49e6-b01f-195c98347f75
      RequestId:
      - cf47573e-a3be-4297-9ca9-b677aa1c6f4b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5d13a012-6439-49e6-b01f-195c98347f75
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5d13a012-6439-49e6-b01f-195c98347f75/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "DatabaseProperties.json", "payload":
        "ew0KICAiZGF0YWJhc2VUeXBlIjogIlJlYWRXcml0ZSIsDQogICJwYXJlbnRFdmVudGhvdXNlSXRlbUlkIjogImY1Y2VmNjk1LWZjNGEtNGU1ZC1iOTJhLTMxYzBlNWI0NzZhYyIsDQogICJvbmVMYWtlQ2FjaGluZ1BlcmlvZCI6ICJQMzY1MDAwRCIsDQogICJvbmVMYWtlU3RhbmRhcmRTdG9yYWdlUGVyaW9kIjogIlAzNjUwMDBEIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": "DatabaseSchema.kql", "payload":
        "Ly8gS1FMIHNjcmlwdA0KLy8gVXNlIG1hbmFnZW1lbnQgY29tbWFuZHMgaW4gdGhpcyBzY3JpcHQgdG8gY29uZmlndXJlIHlvdXIgZGF0YWJhc2UgaXRlbXMsIHN1Y2ggYXMgdGFibGVzLCBmdW5jdGlvbnMsIG1hdGVyaWFsaXplZCB2aWV3cywgYW5kIG1vcmUuDQoNCg0K",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTERhdGFiYXNlIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 75fb8cdb-4951-4c9e-845a-956c81fe46ba
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "KQLDatabase", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_8", "definition": {"parts": [{"path":
      "DatabaseProperties.json", "payload": "ewogICAgImRhdGFiYXNlVHlwZSI6ICJSZWFkV3JpdGUiLAogICAgInBhcmVudEV2ZW50aG91c2VJdGVtSWQiOiAiZjVjZWY2OTUtZmM0YS00ZTVkLWI5MmEtMzFjMGU1YjQ3NmFjIiwKICAgICJvbmVMYWtlQ2FjaGluZ1BlcmlvZCI6ICJQMzY1MDAwRCIsCiAgICAib25lTGFrZVN0YW5kYXJkU3RvcmFnZVBlcmlvZCI6ICJQMzY1MDAwRCIKfQ==",
      "payloadT[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/items/af004ba2-afd5-404d-a204-61e876106481
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a271e157-8e14-4810-ab22-100a7053dd7b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
