interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "55c0a683-4369-40bd-b013-c4c1bea8fa12",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 097e20e1-3764-40b9-8908-54efe0e7636f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4f84f150-2b48-42a9-8973-a671ba6ddde6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/lakehouses
  response:
    body:
      string: '{"id": "7f583849-18b4-4eb9-aec9-d4bf4adb1858", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "55c0a683-4369-40bd-b013-c4c1bea8fa12"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 38762ce7-b29f-4d4b-92aa-24c2dd32699f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/items/7f583849-18b4-4eb9-aec9-d4bf4adb1858
  response:
    body:
      string: '{"id": "7f583849-18b4-4eb9-aec9-d4bf4adb1858", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "55c0a683-4369-40bd-b013-c4c1bea8fa12"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - de5fea13-ec98-4d06-8031-34a94d01d967
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/items/7f583849-18b4-4eb9-aec9-d4bf4adb1858/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "lakehouse.metadata.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": "alm.settings.json", "payload":
        "ew0KICAidmVyc2lvbiI6ICIxLjAuMSIsDQogICJvYmplY3RUeXBlcyI6IFsNCiAgICB7DQogICAgICAibmFtZSI6ICJTaG9ydGN1dHMiLA0KICAgICAgInN0YXRlIjogIkVuYWJsZWQiLA0KICAgICAgInN1Yk9iamVjdFR5cGVzIjogWw0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLk9uZUxha2UiLA0KICAgICAgICAgICJzdGF0ZSI6ICJFbmFibGVkIg0KICAgICAgICB9LA0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLkFkbHNHZW4yIiwNCiAgICAgICAgICAic3RhdGUiOiAiRW5hYmxlZCINCiAgICAgICAgfSwNCiAg[...]
[...]
- request:
    body: '{"type": "Lakehouse", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001_new_2", "definition": {"parts": [{"path": "shortcuts.metadata.json",
      "payload": "W10=", "payloadType": "InlineBase64"}, {"path": "lakehouse.metadata.json",
      "payload": "e30=", "payloadType": "InlineBase64"}, {"path": "alm.settings.json",
      "payload": "ewogICAgInZlcnNpb24iOiAiMS4wLjEiLAogICAgIm9iamVjdFR5cGVzIjogWwogICAgICAgIHsKICAgICAgICAgICAgIm5hbWUi[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a4fd76e4-a6ef-470d-98b5-01caedb2d3e4
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-16T07:57:30.0258747",
        "lastUpdatedTimeUtc": "2026-04-16T07:57:33.7579801", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a4fd76e4-a6ef-470d-98b5-01caedb2d3e4/result
      RequestId:
      - 6239ed99-5aa0-4928-9eb7-11792f94da85
      x-ms-operation-id:
      - a4fd76e4-a6ef-470d-98b5-01caedb2d3e4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a4fd76e4-a6ef-470d-98b5-01caedb2d3e4/result
  response:
    body:
      string: '{"id": "358e066e-2bb5-4845-9f97-061aa11d1247", "type": "Lakehouse",
        "displayName": "fabcli000001_new_2", "description": "Imported from fab", "workspaceId":
        "55c0a683-4369-40bd-b013-c4c1bea8fa12"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - dc306e8e-de51-4231-a21f-54a2d06478e3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/items/7f583849-18b4-4eb9-aec9-d4bf4adb1858
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 27268a33-3687-4f27-9fb0-713c5ed9db2b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
