interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "9d87cc0b-41e2-4c24-adf9-1912f9df0ca7",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1d0a1698-e243-4c70-881f-c832158f75b1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9d87cc0b-41e2-4c24-adf9-1912f9df0ca7/items
  response:
    body:
      string: '{"value": [{"id": "30b5cf9a-687f-4535-8c41-f8d6090970ce", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "Imported from fab", "workspaceId":
        "9d87cc0b-41e2-4c24-adf9-1912f9df0ca7"}, {"id": "9f811779-9cb2-4993-afef-d75e9e2db99e",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "9d87cc0b-41e2-4c24-adf9-1912f9df0ca7"}, {"id": "d048cd49-cf2b-42a5-b8c8-4399d548c90c",
        "type": "SemanticModel", "displayName": "fabcli000001_new_6", "description":
        "", "workspaceId": "9d87cc0b-41e2-4c24-adf9-1912f9df0ca7"}, {"id": "3ea5e4a2-def8-4b30-8251-3943bb1fd051",
        "type": "Notebook", "displayName": "fabcli000001_new_2", "description": "Imported
        from fab", "workspaceId": "9d87cc0b-41e2-4c24-adf9-1912f9df0ca7"}, {"id":
        "8d59d32d-b7bf-45c9-97f5-47537ee6b835", "type": "SparkJobDefinition", "displayName":
        "fabcli000001_new_3", "description": "Imported from fab", "workspaceId": "9d87cc0b-41e2-4c24-adf9-1912f9df0ca7"},
        {"id": "9c48e9bd-028c-45fb-830b-2e5cf13f462d", "type": "DataPipeline", "displayName":
        "fabcli000001_new_4", "description": "Imported from fab", "workspaceId": "9d87cc0b-41e2-4c24-adf9-1912f9df0ca7"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 00a2492e-ecd0-40da-9cd0-c691b37c7dba
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9d87cc0b-41e2-4c24-adf9-1912f9df0ca7/eventhouses
  response:
    body:
      string: '{"id": "bca21df1-18cc-40ad-ab3f-05c42b3f555a", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "9d87cc0b-41e2-4c24-adf9-1912f9df0ca7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c2060311-103c-4450-b052-cef88f66ce53
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "bca21df1-18cc-40ad-ab3f-05c42b3f555a"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9d87cc0b-41e2-4c24-adf9-1912f9df0ca7/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b4b04498-0b66-4e4b-b51e-f1e0d40aab0a
      RequestId:
      - f2b21251-1dd3-4250-b3e7-1c28e094fd52
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b4b04498-0b66-4e4b-b51e-f1e0d40aab0a
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b4b04498-0b66-4e4b-b51e-f1e0d40aab0a
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-05T09:23:30.8379788",
        "lastUpdatedTimeUtc": "2026-02-05T09:23:35.5102291", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b4b04498-0b66-4e4b-b51e-f1e0d40aab0a/result
      RequestId:
      - 21cdd259-99b5-408f-801a-45e3639d944d
      x-ms-operation-id:
      - b4b04498-0b66-4e4b-b51e-f1e0d40aab0a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b4b04498-0b66-4e4b-b51e-f1e0d40aab0a/result
  response:
    body:
      string: '{"id": "3f8c6c39-bcbe-4911-b7d3-2958dd80b4cc", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9d87cc0b-41e2-4c24-adf9-1912f9df0ca7"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 68526ec9-1903-4503-898c-fb42a224eba0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9d87cc0b-41e2-4c24-adf9-1912f9df0ca7/items/3f8c6c39-bcbe-4911-b7d3-2958dd80b4cc
  response:
    body:
      string: '{"id": "3f8c6c39-bcbe-4911-b7d3-2958dd80b4cc", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9d87cc0b-41e2-4c24-adf9-1912f9df0ca7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7c2df272-5cb1-4d37-a466-a7c2c0d05b3e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9d87cc0b-41e2-4c24-adf9-1912f9df0ca7/items/3f8c6c39-bcbe-4911-b7d3-2958dd80b4cc/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0146c3fc-68d3-4e84-aa30-f46c284ac34f
      RequestId:
      - 85d0c532-6054-48aa-935b-a1d4f5afd41a
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 0146c3fc-68d3-4e84-aa30-f46c284ac34f
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0146c3fc-68d3-4e84-aa30-f46c284ac34f/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "DatabaseProperties.json", "payload":
        "ew0KICAiZGF0YWJhc2VUeXBlIjogIlJlYWRXcml0ZSIsDQogICJwYXJlbnRFdmVudGhvdXNlSXRlbUlkIjogImJjYTIxZGYxLTE4Y2MtNDBhZC1hYjNmLTA1YzQyYjNmNTU1YSIsDQogICJvbmVMYWtlQ2FjaGluZ1BlcmlvZCI6ICJQMzY1MDAwRCIsDQogICJvbmVMYWtlU3RhbmRhcmRTdG9yYWdlUGVyaW9kIjogIlAzNjUwMDBEIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": "DatabaseSchema.kql", "payload":
        "Ly8gS1FMIHNjcmlwdA0KLy8gVXNlIG1hbmFnZW1lbnQgY29tbWFuZHMgaW4gdGhpcyBzY3JpcHQgdG8gY29uZmlndXJlIHlvdXIgZGF0YWJhc2UgaXRlbXMsIHN1Y2ggYXMgdGFibGVzLCBmdW5jdGlvbnMsIG1hdGVyaWFsaXplZCB2aWV3cywgYW5kIG1vcmUuDQoNCg0K",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTERhdGFiYXNlIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - cfb3cf1d-a979-4544-b032-9cc86d789c4a
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "KQLDatabase", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_7", "definition": {"parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiS1FMRGF0YWJhc2UiLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgICAg[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9d87cc0b-41e2-4c24-adf9-1912f9df0ca7/items/3f8c6c39-bcbe-4911-b7d3-2958dd80b4cc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b9aedf9a-2731-462c-9bba-b674a69fc45d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
