interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c2994b45-b913-433f-965e-bb7a6d8d012a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4346a42e-44b8-48f1-8c6a-e0fedc385307
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/items
  response:
    body:
      string: '{"value": [{"id": "3afcf9cd-bcf4-4296-b909-2e2fa577cc70", "type": "Report",
        "displayName": "fabcli000001_new_6", "description": "Imported from fab", "workspaceId":
        "c2994b45-b913-433f-965e-bb7a6d8d012a"}, {"id": "ac301525-6707-43f5-b6ce-4a4f2ef78a10",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "c2994b45-b913-433f-965e-bb7a6d8d012a"}, {"id": "16e2b876-d40b-4005-a2b8-41d141a3c621",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "c2994b45-b913-433f-965e-bb7a6d8d012a"}, {"id": "6e734d42-3753-48bd-b846-cccc16cfd7c2",
     [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/lakehouses
  response:
    body:
      string: '{"id": "3d0b8a7b-21aa-42eb-9331-27d5084f212e", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c2994b45-b913-433f-965e-bb7a6d8d012a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6a6add73-d0c3-463f-b9be-49fe1c3c08a8
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/items/3d0b8a7b-21aa-42eb-9331-27d5084f212e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 140802a6-3bb5-4d57-a628-214a1db047be
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
