interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "55c0a683-4369-40bd-b013-c4c1bea8fa12",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d5b918fa-9804-4d59-950e-d627a9f1d403
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/items
  response:
    body:
      string: '{"value": [{"id": "4e8d5343-99db-432c-b9af-5890ad6b7db8", "type": "SQLEndpoint",
        "displayName": "fabcli000001_new_2", "description": "", "workspaceId": "55c0a683-4369-40bd-b013-c4c1bea8fa12"},
        {"id": "358e066e-2bb5-4845-9f97-061aa11d1247", "type": "Lakehouse", "displayName":
        "fabcli000001_new_2", "description": "Imported from fab", "workspaceId": "55c0a683-4369-40bd-b013-c4c1bea8fa12"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3342e7bf-f040-403c-88ed-25550ae13c7d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/environments
  response:
    body:
      string: '{"id": "57e46f0b-e508-484c-bcff-bec0ec5c9503", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "55c0a683-4369-40bd-b013-c4c1bea8fa12"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 250fa905-6402-4907-88fd-d4425930df7b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/items/57e46f0b-e508-484c-bcff-bec0ec5c9503
  response:
    body:
      string: '{"id": "57e46f0b-e508-484c-bcff-bec0ec5c9503", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "55c0a683-4369-40bd-b013-c4c1bea8fa12"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - dc2ac883-059b-4b29-96b9-62ebab22e5fb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/items/57e46f0b-e508-484c-bcff-bec0ec5c9503/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f1f868d4-c6af-49f9-9cd0-7414f080d426
      RequestId:
      - 73c307a1-c07e-481f-a059-f8e9edfdb810
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - f1f868d4-c6af-49f9-9cd0-7414f080d426
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f1f868d4-c6af-49f9-9cd0-7414f080d426
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-16T07:58:03.7276103",
        "lastUpdatedTimeUtc": "2026-04-16T07:58:03.9306749", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f1f868d4-c6af-49f9-9cd0-7414f080d426/result
      RequestId:
      - 0f73a524-d202-4cbd-8854-74fb6fa75ca0
      x-ms-operation-id:
      - f1f868d4-c6af-49f9-9cd0-7414f080d426
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f1f868d4-c6af-49f9-9cd0-7414f080d426/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "Setting/Sparkcompute.yml", "payload":
        "ZW5hYmxlX25hdGl2ZV9leGVjdXRpb25fZW5naW5lOiBmYWxzZQ0KZHJpdmVyX2NvcmVzOiA4DQpkcml2ZXJfbWVtb3J5OiA1NmcNCmV4ZWN1dG9yX2NvcmVzOiA4DQpleGVjdXRvcl9tZW1vcnk6IDU2Zw0KZHluYW1pY19leGVjdXRvcl9hbGxvY2F0aW9uOg0KICBlbmFibGVkOiB0cnVlDQogIG1pbl9leGVjdXRvcnM6IDENCiAgbWF4X2V4ZWN1dG9yczogOQ0KcnVudGltZV92ZXJzaW9uOiAxLjMNCg==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkVudmlyb25tZW50IiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 71785ff6-72cf-4a35-84fe-58aa64a054b8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Environment", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_3", "definition": {"parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiRW52aXJvbm1lbnQiLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgICAg[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/55c0a683-4369-40bd-b013-c4c1bea8fa12/items/57e46f0b-e508-484c-bcff-bec0ec5c9503
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 272ead69-bdea-4507-b16c-e4e311846389
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
