interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7e598955-2dfe-415b-b4d9-ff0258025428",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cec91e12-93d0-4aad-9621-60ecd5492676
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items
  response:
    body:
      string: '{"value": [{"id": "ecb3e483-dfb3-438d-b324-ad4ae515c078", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "3351eb10-5f38-4c77-823c-8c779399100c", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "bd1f8d06-49cd-4629-9687-39510eda3de8", "type": "SemanticModel", "displayName":
        "fabcli000001_new_6", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "37861b2d-8513-4d88-84f3-76386601c3c2", "typ[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "MirroredDatabase", "folderId":
      null, "definition": {"parts": [{"path": "mirroring.json", "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgInNvdXJjZSI6IHsKICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsCiAgICAgICAgICAgICJ0eXBlUHJvcGVydGllcyI6IHt9CiAgICAgICAgfSwKICAgICAgICAidGFyZ2V0IjogewogICAgICAgICAgICAidHlwZSI6ICJNb3VudGVkUmVsYXRpb25hbERhdGFiYXNlIiwKICAgICAgICAgICAgInR5cGVQcm9wZXJ0aWVzIjogewogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSIKICAgICAgICAgICAgfQogICAgICAgIH0KICAgIH0KfQ==",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/mirroredDatabases
  response:
    body:
      string: '{"id": "31a72662-57ea-427e-97ef-80f83e64a021", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - fe63d1e6-8952-4ed9-92c5-83fe8895087a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items/31a72662-57ea-427e-97ef-80f83e64a021
  response:
    body:
      string: '{"id": "31a72662-57ea-427e-97ef-80f83e64a021", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b1978e28-46e5-4752-8957-59d2d1ce5156
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items/31a72662-57ea-427e-97ef-80f83e64a021/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "mirroring.json", "payload": "ew0KICAicHJvcGVydGllcyI6IHsNCiAgICAic291cmNlIjogew0KICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsDQogICAgICAidHlwZVByb3BlcnRpZXMiOiB7fQ0KICAgIH0sDQogICA[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items/31a72662-57ea-427e-97ef-80f83e64a021
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 24107a56-31cd-421a-a7bc-43f8b7c4443e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
