interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e4a9fa2d-005f-47fe-982a-899138ad35c8",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8dba8638-5536-4a5d-b8d5-0780497caf7e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e4a9fa2d-005f-47fe-982a-899138ad35c8/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4de57bdd-2f71-4f6e-8c08-82cb63ed4b98
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e4a9fa2d-005f-47fe-982a-899138ad35c8/environments
  response:
    body:
      string: '{"id": "8cda86ee-4a32-4eee-ac0a-914a3953cbca", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e4a9fa2d-005f-47fe-982a-899138ad35c8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7aafa59f-360f-498f-a020-8ebac85a7465
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e4a9fa2d-005f-47fe-982a-899138ad35c8/items/8cda86ee-4a32-4eee-ac0a-914a3953cbca
  response:
    body:
      string: '{"id": "8cda86ee-4a32-4eee-ac0a-914a3953cbca", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e4a9fa2d-005f-47fe-982a-899138ad35c8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 257d4cd1-f94d-4d76-bf3c-2cc2fa251bfc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e4a9fa2d-005f-47fe-982a-899138ad35c8/items/8cda86ee-4a32-4eee-ac0a-914a3953cbca/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d7de050a-f1e0-4a0a-a802-4694ca72fdcf
      RequestId:
      - c7080083-69a9-4777-b302-4edb8c378171
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d7de050a-f1e0-4a0a-a802-4694ca72fdcf
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d7de050a-f1e0-4a0a-a802-4694ca72fdcf
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-23T05:45:00.5099537",
        "lastUpdatedTimeUtc": "2026-04-23T05:45:00.7755763", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d7de050a-f1e0-4a0a-a802-4694ca72fdcf/result
      RequestId:
      - 22ffb09e-66f3-41a5-9ad3-802d53fd330f
      x-ms-operation-id:
      - d7de050a-f1e0-4a0a-a802-4694ca72fdcf
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d7de050a-f1e0-4a0a-a802-4694ca72fdcf/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "Setting/Sparkcompute.yml", "payload":
        "ZW5hYmxlX25hdGl2ZV9leGVjdXRpb25fZW5naW5lOiBmYWxzZQ0KZHJpdmVyX2NvcmVzOiA4DQpkcml2ZXJfbWVtb3J5OiA1NmcNCmV4ZWN1dG9yX2NvcmVzOiA4DQpleGVjdXRvcl9tZW1vcnk6IDU2Zw0KZHluYW1pY19leGVjdXRvcl9hbGxvY2F0aW9uOg0KICBlbmFibGVkOiB0cnVlDQogIG1pbl9leGVjdXRvcnM6IDENCiAgbWF4X2V4ZWN1dG9yczogOQ0KcnVudGltZV92ZXJzaW9uOiAxLjMNCg==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkVudmlyb25tZW50IiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b71ec638-3dfa-4255-a684-c76af1335b76
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e4a9fa2d-005f-47fe-982a-899138ad35c8/environments/8cda86ee-4a32-4eee-ac0a-914a3953cbca
  response:
    body:
      string: '{"id": "8cda86ee-4a32-4eee-ac0a-914a3953cbca", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e4a9fa2d-005f-47fe-982a-899138ad35c8", "properties": {"publishDetails": {"state":
        "Success", "targetVersion": "b3df5f43-4d44-43ce-8155-abcb12fc99e1", "startTime":
        "2026-04-23T05:44:56.7356951Z", "endTime": "2026-04-23T05:44:56.7356951Z",
        "componentPublishInfo": {"sparkSettings": {"state": "Success"}, "sparkLibraries":
        {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e1d5a7de-65ff-4047-9e71-51580fcd3845
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"enableNativeExecutionEngine": false, "driverCores": 8, "driverMemory":
      "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
      {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "runtimeVersion": 1.3}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.fabric.microsoft.com/v1/workspaces/e4a9fa2d-005f-47fe-982a-899138ad35c8/environments/8cda86ee-4a32-4eee-ac0a-914a3953cbca/staging/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 926630d1-2ba7-496e-9d33-3ae74ffce38f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e4a9fa2d-005f-47fe-982a-899138ad35c8/environments/8cda86ee-4a32-4eee-ac0a-914a3953cbca/libraries
  response:
    body:
      string: '{"requestId": "0f99c914-0249-45c5-8907-7d3cbdbbbb00", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any published libraries. Please publish libraries.", "isRetriable": false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0f99c914-0249-45c5-8907-7d3cbdbbbb00
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e4a9fa2d-005f-47fe-982a-899138ad35c8/environments/8cda86ee-4a32-4eee-ac0a-914a3953cbca/staging/publish
  response:
    body:
      string: '{"publishDetails": {"state": "Success", "targetVersion": "a5b47965-65c1-4d60-8ba2-f065f83d7e19",
        "startTime": "2026-04-23T05:45:28.3699984Z", "endTime": "2026-04-23T05:45:29.0106444Z",
        "componentPublishInfo": {"sparkLibraries": {"state": "Success"}, "sparkSettings":
        {"state": "Success"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e905f3d8-0a2e-487c-89b1-f857936b0847
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e4a9fa2d-005f-47fe-982a-899138ad35c8/items/8cda86ee-4a32-4eee-ac0a-914a3953cbca
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3ab032d0-fffc-44b0-a6c6-8a0360454405
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
