interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "60369cd9-9432-4297-bd4e-97f1d686aeee",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0af5233c-171a-4e39-842d-817a92bc976f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/60369cd9-9432-4297-bd4e-97f1d686aeee/items
  response:
    body:
      string: '{"value": [{"id": "0a64864a-6c13-4968-b356-c0c8ae376cd5", "type": "Environment",
        "displayName": "fabcli000001_new_2", "description": "", "workspaceId": "60369cd9-9432-4297-bd4e-97f1d686aeee"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 027ce49a-4772-45d2-aa61-f742990c8d68
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Notebook", "folderId": null, "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/60369cd9-9432-4297-bd4e-97f1d686aeee/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9a90a58a-303b-4947-bacc-43ff9535b16d
      RequestId:
      - 67a89220-e525-4805-91df-d719b1ed4e2e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9a90a58a-303b-4947-bacc-43ff9535b16d
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9a90a58a-303b-4947-bacc-43ff9535b16d
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-06-02T12:41:49.1715727",
        "lastUpdatedTimeUtc": "2026-06-02T12:41:50.67948", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9a90a58a-303b-4947-bacc-43ff9535b16d/result
      RequestId:
      - e08d93ca-7a36-4dff-bb29-bc3f848bad94
      x-ms-operation-id:
      - 9a90a58a-303b-4947-bacc-43ff9535b16d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9a90a58a-303b-4947-bacc-43ff9535b16d/result
  response:
    body:
      string: '{"id": "2ddf133a-5556-4c30-8cd9-36773849b35f", "type": "Notebook",
        "displayName": "fabcli000001", "description": "", "workspaceId": "60369cd9-9432-4297-bd4e-97f1d686aeee"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 9cbac078-2dc7-4cb6-82c2-25d6bf2073c6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/60369cd9-9432-4297-bd4e-97f1d686aeee/items/2ddf133a-5556-4c30-8cd9-36773849b35f
  response:
    body:
      string: '{"id": "2ddf133a-5556-4c30-8cd9-36773849b35f", "type": "Notebook",
        "displayName": "fabcli000001", "description": "", "workspaceId": "60369cd9-9432-4297-bd4e-97f1d686aeee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4b0eaadc-45b7-44bc-a8c3-87736bdea6b3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/60369cd9-9432-4297-bd4e-97f1d686aeee/items/2ddf133a-5556-4c30-8cd9-36773849b35f/getDefinition?format=ipynb
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/197a984a-5f7b-4964-bb94-09d3826fa51e
      RequestId:
      - 840925c7-624d-4ae0-99bf-17cdb21adc48
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 197a984a-5f7b-4964-bb94-09d3826fa51e
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "Notebook", "folderId": null, "displayName": "fabcli000001_new_3",
      "definition": {"parts": [{"path": "notebook-content.ipynb", "payload": "ewogICAgIm5iZm9ybWF0IjogNCwKICAgICJuYmZvcm1hdF9taW5vciI6IDUsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgImxhbmd1YWdlX2luZm8iOiB7CiAgICAgICAgICAgICJuYW1lIjogInB5dGhvbiIKICAgICAgICB9LAogICAgICAgICJrZXJuZWxfaW5mbyI6IHsKICAgICAgICAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIiwKICAgICAgICAgICAgImp1cHl0ZXJfa2VybmVsX25hbWUiOiBudWxsCiAgICAgICAg[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/60369cd9-9432-4297-bd4e-97f1d686aeee/items/2ddf133a-5556-4c30-8cd9-36773849b35f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c39e2f4c-4e92-44da-afbf-fed3aee43fb2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
