interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6127090a-8bdf-447a-a6ea-c46df89a1855",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8cb0945b-b040-4f69-866b-8f96b9d206f4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6127090a-8bdf-447a-a6ea-c46df89a1855/items
  response:
    body:
      string: '{"value": [{"id": "a64b1698-7861-448a-852c-c4e234bdf44a", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "Imported from fab", "workspaceId":
        "6127090a-8bdf-447a-a6ea-c46df89a1855"}, {"id": "2da733fc-efa0-4796-b044-0650b153ba87",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "6127090a-8bdf-447a-a6ea-c46df89a1855"}, {"id": "a4269aa8-8dc5-4cf4-8b5b-e8f750af65b9",
        "type": "SemanticModel", "displayName": "fabcli000001_new_6", "description":
        "", "workspaceId": "6127090a-8bdf-447a-a6ea-c46df89a1855"}, {"id": "b4f34458-4583-4f10-86c8-c94314bdf89f",
    [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6127090a-8bdf-447a-a6ea-c46df89a1855/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5a8a9b2a-02ec-4958-a067-a9edc0d8fcf3
      RequestId:
      - f917c0ce-d309-4c6d-8a34-e778932797c4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5a8a9b2a-02ec-4958-a067-a9edc0d8fcf3
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5a8a9b2a-02ec-4958-a067-a9edc0d8fcf3
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-16T08:52:38.5526251",
        "lastUpdatedTimeUtc": "2026-04-16T08:52:39.632445", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5a8a9b2a-02ec-4958-a067-a9edc0d8fcf3/result
      RequestId:
      - a97eca2b-cabd-4044-97bc-dc1669e40b99
      x-ms-operation-id:
      - 5a8a9b2a-02ec-4958-a067-a9edc0d8fcf3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5a8a9b2a-02ec-4958-a067-a9edc0d8fcf3/result
  response:
    body:
      string: '{"id": "ead89942-0cf9-4433-ae2a-305b544f9b7e", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6127090a-8bdf-447a-a6ea-c46df89a1855"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - af81ecec-0c6e-478a-bfd4-e2b1956b43cf
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6127090a-8bdf-447a-a6ea-c46df89a1855/items/ead89942-0cf9-4433-ae2a-305b544f9b7e
  response:
    body:
      string: '{"id": "ead89942-0cf9-4433-ae2a-305b544f9b7e", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6127090a-8bdf-447a-a6ea-c46df89a1855"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - edef5f23-ef35-4e67-bbb2-a5b4c5b8f7eb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6127090a-8bdf-447a-a6ea-c46df89a1855/items/ead89942-0cf9-4433-ae2a-305b544f9b7e/getDefinition?format=ipynb
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/df357048-bb8c-4183-b2e3-ce8f36b92917
      RequestId:
      - e387678f-a81f-4fdd-b084-d9e942d9b59e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - df357048-bb8c-4183-b2e3-ce8f36b92917
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001_new_18", "definition": {"parts": [{"path": "notebook-content.ipynb",
      "payload": "ewogICAgIm5iZm9ybWF0IjogNCwKICAgICJuYmZvcm1hdF9taW5vciI6IDUsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgImxhbmd1YWdlX2luZm8iOiB7CiAgICAgICAgICAgICJuYW1lIjogInB5dGhvbiIKICAgICAgICB9LAogICAgICAgICJrZXJuZWxfaW5mbyI6IHsKICAgICAgICAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIiwKICAgICAgICAgICAgImp1c[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6127090a-8bdf-447a-a6ea-c46df89a1855/items/ead89942-0cf9-4433-ae2a-305b544f9b7e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d72c967f-772c-4bcd-8c51-749e08ff9997
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
