interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c2994b45-b913-433f-965e-bb7a6d8d012a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d114e217-49ea-4170-bde9-e27c0601efe3
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/items
  response:
    body:
      string: '{"value": [{"id": "3afcf9cd-bcf4-4296-b909-2e2fa577cc70", "type": "Report",
        "displayName": "fabcli000001_new_6", "description": "Imported from fab", "workspaceId":
        "c2994b45-b913-433f-965e-bb7a6d8d012a"}, {"id": "ac301525-6707-43f5-b6ce-4a4f2ef78a10",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "c2994b45-b913-433f-965e-bb7a6d8d012a"}, {"id": "16e2b876-d40b-4005-a2b8-41d141a3c621",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "c2994b45-b913-433f-965e-bb7a6d8d012a"}, {"id": "6e734d42-3753-48bd-b846-cccc16cfd7c2",
     [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Reflex", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/reflexes
  response:
    body:
      string: '{"id": "9a0a88f5-a896-4d23-abd3-7c98403b5a84", "type": "Reflex", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "c2994b45-b913-433f-965e-bb7a6d8d012a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b061bd05-44df-4aa5-ba5c-2ca67d02bcd5
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/items/9a0a88f5-a896-4d23-abd3-7c98403b5a84
  response:
    body:
      string: '{"id": "9a0a88f5-a896-4d23-abd3-7c98403b5a84", "type": "Reflex", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "c2994b45-b913-433f-965e-bb7a6d8d012a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4ebb29ee-9573-4122-a375-b0283c6aa19e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/items/9a0a88f5-a896-4d23-abd3-7c98403b5a84/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "ReflexEntities.json", "payload":
        "W10=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlJlZmxleCIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a5b33ee2-0169-4677-b138-9c1522713728
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Reflex", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001_new_12", "definition": {"parts": [{"path": "ReflexEntities.json",
      "payload": "W10=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload":
      "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGU[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2994b45-b913-433f-965e-bb7a6d8d012a/items/9a0a88f5-a896-4d23-abd3-7c98403b5a84
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 514819d3-6169-45d1-8ecc-d169c8428a52
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
