interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7e598955-2dfe-415b-b4d9-ff0258025428",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b000f32f-7aa2-4777-a272-3c7b279a8ef6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items
  response:
    body:
      string: '{"value": [{"id": "ecb3e483-dfb3-438d-b324-ad4ae515c078", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "3351eb10-5f38-4c77-823c-8c779399100c", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "bd1f8d06-49cd-4629-9687-39510eda3de8", "type": "SemanticModel", "displayName":
        "fabcli000001_new_6", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"},
        {"id": "37861b2d-8513-4d88-84f3-76386601c3c2", "typ[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "KQLQueryset", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/kqlQuerysets
  response:
    body:
      string: '{"id": "07a5a595-29c3-4558-87ab-bc8afec47b2b", "type": "KQLQueryset",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a6f77f59-b634-4e5c-823d-df4f9f76a974
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items/07a5a595-29c3-4558-87ab-bc8afec47b2b
  response:
    body:
      string: '{"id": "07a5a595-29c3-4558-87ab-bc8afec47b2b", "type": "KQLQueryset",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 1b985133-7085-47b0-8d8d-bd6a398ba955
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items/07a5a595-29c3-4558-87ab-bc8afec47b2b/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "RealTimeQueryset.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTFF1ZXJ5c2V0IiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cd331b63-7d36-4c08-bfb4-63369ed3e346
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "KQLQueryset", "folderId": null, "displayName": "fabcli000001_new_8",
      "definition": {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiS1FMUXVlcnlzZXQiLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": "RealTimeQueryset.json", "payload":
      "e30=", "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items
  response:
    body:
      string: '{"id": "506dff37-3734-4be6-a0d1-f7ea80cc3d6e", "type": "KQLQueryset",
        "displayName": "fabcli000001_new_8", "description": "", "workspaceId": "7e598955-2dfe-415b-b4d9-ff0258025428"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d64620d1-a744-469d-992b-a91e88982a07
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7e598955-2dfe-415b-b4d9-ff0258025428/items/07a5a595-29c3-4558-87ab-bc8afec47b2b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2817acb7-9573-4a29-a484-41b05d8db351
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
