interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e4cb3f71-1a22-4bf7-8ff9-747f9c39ce12",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d9582732-db9f-4844-97d1-125dc062c7e9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e4cb3f71-1a22-4bf7-8ff9-747f9c39ce12/items
  response:
    body:
      string: '{"value": [{"id": "f47e5509-3340-4a11-b74d-1aebd6df265f", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "", "workspaceId": "e4cb3f71-1a22-4bf7-8ff9-747f9c39ce12"},
        {"id": "ac5ffa01-a77c-43de-9fdc-d50b60c86a89", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "e4cb3f71-1a22-4bf7-8ff9-747f9c39ce12"},
        {"id": "06d3a5bb-4d62-4374-a312-0822a7ce9c89", "type": "SemanticModel", "displayName":
        "fabcli000001_new_6", "description": "", "workspaceId": "e4cb3f71-1a22-4bf7-8ff9-747f9c39ce12"},
        {"id": "76f8755e-0f57-4b80-9b65-a25bd486e81c", "typ[...]
[...]
