interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3189ab14-cd8d-4cf5-bd7a-098660eb17de
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/97f5c8a4-1588-4a59-9b51-2c7ba0f73761/items
  response:
    body:
      string: '{"value": [{"id": "914ed2ae-b17a-439b-9fd4-ec84d034f4a9", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "Imported from fab", "workspaceId":
        "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}, {"id": "d214eefa-9c3c-47d6-8cf6-92b7fca6a571",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}, {"id": "5c12b14f-5a65-456e-bb90-ed29a4328135",
        "type": "SemanticModel", "displayName": "fabcli000001_new_6", "description":
        "", "workspaceId": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}, {"id": "f033b3c3-fb95-49bb-9ab7-a7574b6373af",
    [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Reflex", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/97f5c8a4-1588-4a59-9b51-2c7ba0f73761/reflexes
  response:
    body:
      string: '{"id": "5593f949-9e75-4321-a628-d2798d151e27", "type": "Reflex", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e2169ebe-e2ba-487d-81e4-60c08d7c9533
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/97f5c8a4-1588-4a59-9b51-2c7ba0f73761/items/5593f949-9e75-4321-a628-d2798d151e27
  response:
    body:
      string: '{"id": "5593f949-9e75-4321-a628-d2798d151e27", "type": "Reflex", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "97f5c8a4-1588-4a59-9b51-2c7ba0f73761"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e90b8e43-200c-43a6-b516-56a8fa4f8a65
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/97f5c8a4-1588-4a59-9b51-2c7ba0f73761/items/5593f949-9e75-4321-a628-d2798d151e27/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "ReflexEntities.json", "payload":
        "W10=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlJlZmxleCIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ad7947dc-e536-4d3f-a3d8-f8c7de9b8e3d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Reflex", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001_new_11", "definition": {"parts": [{"path": "ReflexEntities.json",
      "payload": "W10=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload":
      "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGU[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/97f5c8a4-1588-4a59-9b51-2c7ba0f73761/items/5593f949-9e75-4321-a628-d2798d151e27
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0fae6c10-4854-4c9f-b952-fab377fd9d6e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
