interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7a95a90f-c8e4-4495-abfc-3287b632b7dd",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2fadbf22-4f2b-4696-8e5c-16c484a7845b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a95a90f-c8e4-4495-abfc-3287b632b7dd/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f32ec9a9-2a89-4be0-aa42-5297bae13319
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a95a90f-c8e4-4495-abfc-3287b632b7dd/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e8f65e7c-4e72-4568-be0f-d0f6623313f6
      RequestId:
      - 0653992e-06cf-4bb0-be9b-8545dbbb49d5
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - e8f65e7c-4e72-4568-be0f-d0f6623313f6
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e8f65e7c-4e72-4568-be0f-d0f6623313f6
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-05T08:17:01.4934728",
        "lastUpdatedTimeUtc": "2026-02-05T08:17:09.916808", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e8f65e7c-4e72-4568-be0f-d0f6623313f6/result
      RequestId:
      - c684e1a5-a45a-4ab0-8f39-94ce57995f1b
      x-ms-operation-id:
      - e8f65e7c-4e72-4568-be0f-d0f6623313f6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e8f65e7c-4e72-4568-be0f-d0f6623313f6/result
  response:
    body:
      string: '{"id": "2a03a3aa-e17d-4215-a715-840d9104ec6c", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "7a95a90f-c8e4-4495-abfc-3287b632b7dd"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 5d75d59a-79ac-4e1a-a4a0-a190eb876810
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a95a90f-c8e4-4495-abfc-3287b632b7dd/items/2a03a3aa-e17d-4215-a715-840d9104ec6c
  response:
    body:
      string: '{"id": "2a03a3aa-e17d-4215-a715-840d9104ec6c", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "7a95a90f-c8e4-4495-abfc-3287b632b7dd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4fc71cba-b9be-447b-b8d5-33b44400fc15
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a95a90f-c8e4-4495-abfc-3287b632b7dd/items/2a03a3aa-e17d-4215-a715-840d9104ec6c/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/81ef5b3b-11fc-47ff-8d16-f94ce7e80f45
      RequestId:
      - 29213730-4cfb-41aa-b1b3-f4715d32a24c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 81ef5b3b-11fc-47ff-8d16-f94ce7e80f45
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/81ef5b3b-11fc-47ff-8d16-f94ce7e80f45/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9pdGVtL0Nvc21vc0RCL2RlZmluaXRpb24vQ29zbW9zREIvMi4wLjAvc2NoZW1hLmpzb24iLAogICJjb250YWluZXJzIjogW10KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkNvc21vc0RCRGF0YWJhc2UiLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 604e9236-b989-413d-b062-b1dc9c603cba
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "CosmosDBDatabase", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001_new_2", "definition": {"parts": [{"path":
      ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiQ29zbW9zREJEYXRhYmFzZSIsCiAgICAgICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSI[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a95a90f-c8e4-4495-abfc-3287b632b7dd/items/2a03a3aa-e17d-4215-a715-840d9104ec6c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0e72527f-f5a0-40ae-9c61-fe5fb143ed96
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
