interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "08bb70fc-3efd-42c8-aeea-d793ce690531",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0919f1d2-a756-410e-a476-140ffe43c328
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08bb70fc-3efd-42c8-aeea-d793ce690531/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2223b026-19be-4e96-ad82-94ab931c6e13
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/08bb70fc-3efd-42c8-aeea-d793ce690531/environments
  response:
    body:
      string: '{"id": "d76114f2-0d4a-4c58-ac4c-e2ceaee3b23a", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "08bb70fc-3efd-42c8-aeea-d793ce690531"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 0135376a-91e5-47a3-9384-9bb6c0245890
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08bb70fc-3efd-42c8-aeea-d793ce690531/items/d76114f2-0d4a-4c58-ac4c-e2ceaee3b23a
  response:
    body:
      string: '{"id": "d76114f2-0d4a-4c58-ac4c-e2ceaee3b23a", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "08bb70fc-3efd-42c8-aeea-d793ce690531"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 90c54ce7-922e-49cd-b2cb-9f216b483da9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/08bb70fc-3efd-42c8-aeea-d793ce690531/items/d76114f2-0d4a-4c58-ac4c-e2ceaee3b23a/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f36ba183-6265-427d-b66f-133b060b410e
      RequestId:
      - 7c0321f4-8ece-41d1-b15d-a8a606337457
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - f36ba183-6265-427d-b66f-133b060b410e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f36ba183-6265-427d-b66f-133b060b410e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-29T06:27:25.0203845",
        "lastUpdatedTimeUtc": "2026-01-29T06:27:25.2547324", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f36ba183-6265-427d-b66f-133b060b410e/result
      RequestId:
      - 6f9ba868-a434-45d5-a448-956d84e96ef9
      x-ms-operation-id:
      - f36ba183-6265-427d-b66f-133b060b410e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f36ba183-6265-427d-b66f-133b060b410e/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "Setting/Sparkcompute.yml", "payload":
        "ZW5hYmxlX25hdGl2ZV9leGVjdXRpb25fZW5naW5lOiBmYWxzZQ0KZHJpdmVyX2NvcmVzOiA4DQpkcml2ZXJfbWVtb3J5OiA1NmcNCmV4ZWN1dG9yX2NvcmVzOiA4DQpleGVjdXRvcl9tZW1vcnk6IDU2Zw0KZHluYW1pY19leGVjdXRvcl9hbGxvY2F0aW9uOg0KICBlbmFibGVkOiB0cnVlDQogIG1pbl9leGVjdXRvcnM6IDENCiAgbWF4X2V4ZWN1dG9yczogOQ0KcnVudGltZV92ZXJzaW9uOiAxLjMNCg==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkVudmlyb25tZW50IiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - bd28337f-ed43-4ab7-8764-efa9c6d6544d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08bb70fc-3efd-42c8-aeea-d793ce690531/environments/d76114f2-0d4a-4c58-ac4c-e2ceaee3b23a
  response:
    body:
      string: '{"id": "d76114f2-0d4a-4c58-ac4c-e2ceaee3b23a", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "08bb70fc-3efd-42c8-aeea-d793ce690531", "properties": {"publishDetails": {"state":
        "Success", "targetVersion": "0cc8163c-6bf1-4632-a731-019612d09425", "startTime":
        "2026-01-29T06:27:22.4356778Z", "endTime": "2026-01-29T06:27:22.4356778Z",
        "componentPublishInfo": {"sparkSettings": {"state": "Success"}, "sparkLibraries":
        {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 168e40eb-4da4-4cc9-ad25-69f9d9c11e1e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"enableNativeExecutionEngine": false, "driverCores": 8, "driverMemory":
      "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
      {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "runtimeVersion": 1.3}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.fabric.microsoft.com/v1/workspaces/08bb70fc-3efd-42c8-aeea-d793ce690531/environments/d76114f2-0d4a-4c58-ac4c-e2ceaee3b23a/staging/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7401f505-afa4-491e-81e9-423ce8ec2077
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08bb70fc-3efd-42c8-aeea-d793ce690531/environments/d76114f2-0d4a-4c58-ac4c-e2ceaee3b23a/libraries
  response:
    body:
      string: '{"requestId": "f571aafc-a6be-441c-be94-cc3680a2a8c3", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any published libraries. Please publish libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f571aafc-a6be-441c-be94-cc3680a2a8c3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/08bb70fc-3efd-42c8-aeea-d793ce690531/environments/d76114f2-0d4a-4c58-ac4c-e2ceaee3b23a/staging/publish
  response:
    body:
      string: '{"publishDetails": {"state": "Success", "targetVersion": "96587fae-4476-474d-aec8-d29bfcd96b5e",
        "startTime": "2026-01-29T06:27:54.0312356Z", "endTime": "2026-01-29T06:27:54.5156321Z",
        "componentPublishInfo": {"sparkSettings": {"state": "Success"}, "sparkLibraries":
        {"state": "Success"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 250a9204-19a0-4c26-b2b9-d2d0a0db2468
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/08bb70fc-3efd-42c8-aeea-d793ce690531/items/d76114f2-0d4a-4c58-ac4c-e2ceaee3b23a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - cde028d4-9c22-4239-83c0-fb48f536d9c6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
