interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a236738d-ce17-46dd-b17c-ef2502924abb",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - babd61ca-5d48-4273-8ee7-ae12d02a6d68
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/items
  response:
    body:
      string: '{"value": [{"id": "4b496b1a-60ed-4566-95f2-62608de034d4", "type": "Report",
        "displayName": "fabcli000001_new_6", "description": "Imported from fab", "workspaceId":
        "a236738d-ce17-46dd-b17c-ef2502924abb"}, {"id": "3722b7bc-6772-4795-8b21-21f263cb5087",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "a236738d-ce17-46dd-b17c-ef2502924abb"}, {"id": "7cb24376-4cc2-4027-b06b-70127e6a6fc9",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "a236738d-ce17-46dd-b17c-ef2502924abb"}, {"id": "8d6168d5-7322-4679-a7d8-2144ddbde204",
     [...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SemanticModel", "folderId": null, "definition": {"parts": [{"path": ".platform",
      "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlNlbWFudGljTW9kZWwiLAogICAgImRpc3BsYXlOYW1lIjogIkJsYW5rIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
      "payloadType": "InlineBase64"}, {"path": "definition.pbism", "payload": "ewogICJ2ZXJzaW9uIjogIjQuMCIsCiAgInNldHRpbmdzIjoge30KfQ==",
      "payloadType": "InlineBase64"}, {"path": "definition/database.tmdl", "payload":
      "ZGF0YWJhc2UKCWNvbXBhdGliaWxpdHlMZXZlbDogMTU2MQoK", "payloadType": "InlineBase64"},
      {"path": "definition/model.tmdl", "payload": "bW9kZWwgTW9kZWwKCWN1bHR1cmU6IGVuLVVTCglkZWZhdWx0UG93ZXJCSURhdGFTb3VyY2VWZXJzaW9uOiBwb3dlckJJX1YzCglzb3VyY2VRdWVyeUN1bHR1cmU6IGVuLVVTCglkYXRhQWNjZXNzT3B0aW[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/64632000-09ef-4b5f-97fd-5960df460885
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-11-26T15:49:40.6798404",
        "lastUpdatedTimeUtc": "2025-11-26T15:49:51.3532414", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/64632000-09ef-4b5f-97fd-5960df460885/result
      RequestId:
      - e328314c-81c6-4fb7-906d-1523d1c4a05c
      x-ms-operation-id:
      - 64632000-09ef-4b5f-97fd-5960df460885
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/64632000-09ef-4b5f-97fd-5960df460885/result
  response:
    body:
      string: '{"id": "07400d0c-7af9-45d6-a832-fe3ba56cd58f", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "a236738d-ce17-46dd-b17c-ef2502924abb"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 90aacfe8-a143-4f7e-acd8-9638788c1372
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/items/07400d0c-7af9-45d6-a832-fe3ba56cd58f
  response:
    body:
      string: '{"id": "07400d0c-7af9-45d6-a832-fe3ba56cd58f", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "a236738d-ce17-46dd-b17c-ef2502924abb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e3ed5b37-3031-481d-9ed0-3aec6e4e2740
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/items/07400d0c-7af9-45d6-a832-fe3ba56cd58f/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b27fcfa4-80a3-46ef-acd1-6c29fc559642
      RequestId:
      - 7c0aec23-853b-4e6e-a154-e80ed9d2199e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b27fcfa4-80a3-46ef-acd1-6c29fc559642
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b27fcfa4-80a3-46ef-acd1-6c29fc559642/result
  response:
    body:
      string: '{"definition": {"format": "TMDL", "parts": [{"path": "definition/tables/Table.tmdl",
        "payload": "dGFibGUgVGFibGUKCWxpbmVhZ2VUYWc6IDFmY2QyZDhjLTkzZDYtNGU2Zi1hYjg2LThjMDU5YzhhODk4ZAoKCWNvbHVtbiBDb2x1bW4xCgkJZGF0YVR5cGU6IHN0cmluZwoJCWxpbmVhZ2VUYWc6IGIxNGI3M2UwLTI0NDctNDNlYi04ZWU1LTA2ZDQ3NTMxYzQxZAoJCXN1bW1hcml6ZUJ5OiBub25lCgkJc291cmNlQ29sdW1uOiBDb2x1bW4xCgoJCWFubm90YXRpb24gU3VtbWFyaXphdGlvblNldEJ5ID0gQXV0b21hdGljCgoJY29sdW1uIENvbHVtbjIKCQlkYXRhVHlwZTogc3RyaW5nCgkJbGluZWFnZVRhZzogZGE5YWMzNDUtMTFmMS00NGY5LThlNGItMDJj[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a236738d-ce17-46dd-b17c-ef2502924abb/items/07400d0c-7af9-45d6-a832-fe3ba56cd58f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8fd8f003-3034-415a-bcf7-0cc08017c14b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
