interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b0a061e4-8d8b-471f-8828-43c5e253aa06
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb/items
  response:
    body:
      string: '{"value": [{"id": "c2bcad3f-04fc-4705-b258-160678bfac5f", "type": "Report",
        "displayName": "fabcli000001_new_11", "description": "Imported from fab",
        "workspaceId": "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb"}, {"id": "ce57bbc8-a136-46fa-a687-7f34d7738b01",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb"}, {"id": "32a26236-8f8f-4003-87fb-7852b22cb05c",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb"}, {"id": "9070945b-6fd3-48cd-a336-8883231eaff8",
        "type[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MirroredDatabase", "folderId": null, "definition": {"parts": [{"path": "mirroring.json",
      "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgInNvdXJjZSI6IHsKICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsCiAgICAgICAgICAgICJ0eXBlUHJvcGVydGllcyI6IHt9CiAgICAgICAgfSwKICAgICAgICAidGFyZ2V0IjogewogICAgICAgICAgICAidHlwZSI6ICJNb3VudGVkUmVsYXRpb25hbERhdGFiYXNlIiwKICAgICAgICAgICAgInR5cGVQcm9wZXJ0aWVzIjogewogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSIKICAgICAgICAgICAgfQogICAgICAgIH0KICAgIH0KfQ==",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb/mirroredDatabases
  response:
    body:
      string: '{"id": "2fe67705-c6de-42e8-b9c6-826697cf262f", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b84c12c3-6dee-48b8-b490-31e56cdeae93
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb/items/2fe67705-c6de-42e8-b9c6-826697cf262f
  response:
    body:
      string: '{"id": "2fe67705-c6de-42e8-b9c6-826697cf262f", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 30f545b0-de91-44a8-813a-31b445be12bd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb/items/2fe67705-c6de-42e8-b9c6-826697cf262f/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "mirroring.json", "payload": "ew0KICAicHJvcGVydGllcyI6IHsNCiAgICAic291cmNlIjogew0KICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsDQogICAgICAidHlwZVByb3BlcnRpZXMiOiB7fQ0KICAgIH0sDQogICA[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c5e32d92-0cb4-4d87-b02f-7ed7a244c0bb/items/2fe67705-c6de-42e8-b9c6-826697cf262f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 91f72966-5f4d-4950-ae37-7c48719ae284
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
