interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "2c67d953-d1f0-441b-9227-600c2de5fffc",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6add1569-b65c-4dfb-983e-317af1f04922
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2c67d953-d1f0-441b-9227-600c2de5fffc/items
  response:
    body:
      string: '{"value": [{"id": "a271c4c9-33ff-420d-91aa-ee267b965976", "type": "Report",
        "displayName": "fabcli000001_new_5", "description": "", "workspaceId": "2c67d953-d1f0-441b-9227-600c2de5fffc"},
        {"id": "8f078318-7350-46a5-96ea-a839e1ba244e", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "2c67d953-d1f0-441b-9227-600c2de5fffc"},
        {"id": "698aafe0-fa35-47a0-b93b-449963e9d637", "type": "SemanticModel", "displayName":
        "fabcli000001_new_6", "description": "", "workspaceId": "2c67d953-d1f0-441b-9227-600c2de5fffc"},
        {"id": "f8021e51-3cb5-4100-b52f-dca25dafca30", "typ[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2c67d953-d1f0-441b-9227-600c2de5fffc/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b262da32-2a2e-449c-bea5-134a77586648
      RequestId:
      - a7795407-7f60-45cb-89e2-0f8b8f01c046
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b262da32-2a2e-449c-bea5-134a77586648
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b262da32-2a2e-449c-bea5-134a77586648
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-09T13:01:40.6327404",
        "lastUpdatedTimeUtc": "2026-09-09T13:01:40.6327404", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b262da32-2a2e-449c-bea5-134a77586648
      RequestId:
      - d6dc3952-20ac-43b3-9184-edf197eaecab
      Retry-After:
      - '20'
      x-ms-operation-id:
      - b262da32-2a2e-449c-bea5-134a77586648
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b262da32-2a2e-449c-bea5-134a77586648/result
  response:
    body:
      string: '{"id": "db781e8a-6f88-4a99-a899-5529e6e1be8a", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "2c67d953-d1f0-441b-9227-600c2de5fffc"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - e710f956-bcf2-4632-a3a7-55097da8553f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2c67d953-d1f0-441b-9227-600c2de5fffc/items/db781e8a-6f88-4a99-a899-5529e6e1be8a
  response:
    body:
      string: '{"id": "db781e8a-6f88-4a99-a899-5529e6e1be8a", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "2c67d953-d1f0-441b-9227-600c2de5fffc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 38ae9950-2476-4d0f-a7d7-2f360d8a0c04
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2c67d953-d1f0-441b-9227-600c2de5fffc/items/db781e8a-6f88-4a99-a899-5529e6e1be8a/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "e30=",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIk9udG9sb2d5IiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 93fa1688-c60b-45aa-9c8d-09b1d45a818f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Ontology", "folderId": null, "displayName": "fabcli000001_new_21",
      "definition": {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiT250b2xvZ3kiLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIy[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2c67d953-d1f0-441b-9227-600c2de5fffc/items/db781e8a-6f88-4a99-a899-5529e6e1be8a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f9f4b91a-881c-4d39-85f3-e5bf1e6345d7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
