interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3333452f-4fd1-4ab0-a3dd-ede7443034b0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 49e2b84f-639a-44ba-9bfd-8ee8791493d1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabriccli_WorkspacePerTestclass_000001",
      "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "484c6223-5508-44c6-a29c-04d476af4d0a", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a
      RequestId:
      - a742ea14-5f93-4583-9812-37879de1fded
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/items
  response:
    body:
      string: '{"value": [{"id": "00c59c72-a83b-4392-867b-06e3c430acd0", "type": "Report",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "d7ad8b1d-3c36-418b-8c4a-57da2032544c",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "f2285084-ff04-4839-94af-47a37da77255",
        "type": "SemanticModel", "displayName": "fabcli000001", "description": "",
        "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "06d8d28e-6095-45f5-99bd-f59561fe7000",
        "t[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ebbcc0ab-5cdf-498b-83c2-11db2186cbff
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
