interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f1105dd7-ba59-417c-9ef6-c952cede067a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1e72f11e-46f4-4fec-8f62-d60f16387f76
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabriccli_WorkspacePerTestclass_000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "b5405a94-0497-4c26-b834-bfc92b0088bd", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/b5405a94-0497-4c26-b834-bfc92b0088bd
      RequestId:
      - 6bfbf2af-deee-4497-9fc2-97cd7751d668
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b5405a94-0497-4c26-b834-bfc92b0088bd/items
  response:
    body:
      string: '{"value": [{"id": "93cd3f2c-fa07-483b-94b6-911477553fb0", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "b5405a94-0497-4c26-b834-bfc92b0088bd"}, {"id": "a3e71151-f940-4c58-8d05-ac3b29303df9",
        "type": "SQLEndpoint", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "b5405a94-0497-4c26-b834-bfc92b0088bd"}, {"id": "f65dcabd-26b3-41ff-9ae3-89ffbabeb081",
        "type": "DigitalTwinBuilder", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "b5405a94-0497-4c26-b834-bfc92b0088bd"}, {"id": "3862434a-00b0-4d20-a6f1-eab3447fb960",
        "type": "Lakehouse", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "b5405a94-0497-4c26-b834-bfc92b0088bd"}, {"id": "0ef2917f-75ed-4fd0-bcf5-2edccf85c961",
        "type": "DigitalTwinBuilderFlow", "displayName": "fabcli000001_autoOnDemand",
        "description": "", "workspaceId": "b5405a94-0497-4c26-b834-bfc92b0088bd"},
        {"id": "944746a8-2cf9-4ebd-b5bc-2de1882379e8", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "b5405a94-0497-4c26-b834-bfc92b0088bd"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8f87f4d4-fd38-4de1-a51b-f39c7fab001c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b5405a94-0497-4c26-b834-bfc92b0088bd
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ca1e548a-3c13-4f19-a5bf-ce8aa4fcbd4b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
