interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 717d4570-462c-48b0-95ec-06d9ec3c0bfe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3a42ced-efa8-497d-b2e0-e7f5bc1149e6/items
  response:
    body:
      string: '{"value": [{"id": "912e93bd-bdff-4cc6-8abf-a2331c763506", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}, {"id": "7e87f525-921f-41ff-81c6-b209b42c7ffb",
        "type": "SQLEndpoint", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}, {"id": "abb4a7e1-4661-4f2a-a9be-54774e74de5b",
        "type": "SQLEndpoint", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}, {"id": "60144191-2851-4d9f-a329-a81b92e8ab50",
      [...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3a42ced-efa8-497d-b2e0-e7f5bc1149e6/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/066442ef-0738-40e1-937b-e5b460db45d6
      RequestId:
      - 5dc6f77a-a558-4be0-92b5-4b18106753ee
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 066442ef-0738-40e1-937b-e5b460db45d6
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/066442ef-0738-40e1-937b-e5b460db45d6
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:24:11.7164857",
        "lastUpdatedTimeUtc": "2026-05-13T07:24:18.2290953", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/066442ef-0738-40e1-937b-e5b460db45d6/result
      RequestId:
      - 92d774f8-326e-4a75-8876-38f35ffffa1b
      x-ms-operation-id:
      - 066442ef-0738-40e1-937b-e5b460db45d6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/066442ef-0738-40e1-937b-e5b460db45d6/result
  response:
    body:
      string: '{"id": "90285904-45d0-45a6-aa73-703b73a48662", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - af9014a3-4bfd-4dd8-b145-c46ac3bf4948
    status:
      code: 200
      message: OK
[...]
