interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "484c6223-5508-44c6-a29c-04d476af4d0a", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8a35dbf5-2665-4779-8ba8-4a2b2e5fd84a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/items
  response:
    body:
      string: '{"value": [{"id": "cf95db94-f350-4b3a-a6c6-2c70b0c14078", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "69a9a0a4-9e15-4644-b467-61a4a19c43b6",
        "type": "Environment", "displayName": "fabcli000001", "description": "Created
        by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "579fbe20-71f3-4952-b129-1ffffb5f32d8",
        "type": "Eventhouse", "displayName": "fabcli000001", "description": "Created
        by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "13963829-92c5-4574-a66b-3f12b32[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MLExperiment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/mlExperiments
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b2939c14-9c97-432b-8388-06c5de990ba4
      RequestId:
      - 130b3420-adad-482b-af54-b469869bfcca
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b2939c14-9c97-432b-8388-06c5de990ba4
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b2939c14-9c97-432b-8388-06c5de990ba4
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T07:23:08.006317",
        "lastUpdatedTimeUtc": "2026-01-19T07:23:08.7875548", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b2939c14-9c97-432b-8388-06c5de990ba4/result
      RequestId:
      - 428fa737-3770-4b3d-a9ff-339692eeed14
      x-ms-operation-id:
      - b2939c14-9c97-432b-8388-06c5de990ba4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b2939c14-9c97-432b-8388-06c5de990ba4/result
  response:
    body:
      string: '{"id": "6ac12e59-5f41-4be6-8a66-24be9d50f4fd", "type": "MLExperiment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "484c6223-5508-44c6-a29c-04d476af4d0a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - e3101310-ec0e-4b27-a1c3-ee9cd7cf382a
    status:
      code: 200
      message: OK
[...]
