interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "9af26243-c0ec-4d3c-a18a-6229a427943e", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4c888fb6-6680-4208-ba9a-42ba0acc8da1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/items
  response:
    body:
      string: '{"value": [{"id": "03400018-13bb-41ee-96fb-53b483bd55ae", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "9af26243-c0ec-4d3c-a18a-6229a427943e"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9b119152-fe25-49d8-a538-ae6247da349e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cab8bba3-9e02-4fa2-b71f-05f601bcde87
      RequestId:
      - 17afc119-1c4f-4044-ace3-16fdd85286c4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - cab8bba3-9e02-4fa2-b71f-05f601bcde87
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cab8bba3-9e02-4fa2-b71f-05f601bcde87
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T07:13:10.744473",
        "lastUpdatedTimeUtc": "2026-01-19T07:13:22.9806816", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cab8bba3-9e02-4fa2-b71f-05f601bcde87/result
      RequestId:
      - ac4a5e17-73fe-4016-94e3-053d1e183e91
      x-ms-operation-id:
      - cab8bba3-9e02-4fa2-b71f-05f601bcde87
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cab8bba3-9e02-4fa2-b71f-05f601bcde87/result
  response:
    body:
      string: '{"id": "dec7169e-57d9-4835-abdf-0a02fd8cd484", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9af26243-c0ec-4d3c-a18a-6229a427943e"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 97e5b08e-c9d9-448f-b6b1-010ff35c75e3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/items/dec7169e-57d9-4835-abdf-0a02fd8cd484
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 84e4a36e-f159-4069-8be0-d52aea49d1d9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/items
  response:
    body:
      string: '{"value": [{"id": "03400018-13bb-41ee-96fb-53b483bd55ae", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "9af26243-c0ec-4d3c-a18a-6229a427943e"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0baab2f8-3d0e-4e85-9a89-8e77c6dc6029
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
