interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "484c6223-5508-44c6-a29c-04d476af4d0a", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0ee3ac01-6c8f-4936-ab21-ab3be5261360
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/items
  response:
    body:
      string: '{"value": [{"id": "cf95db94-f350-4b3a-a6c6-2c70b0c14078", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "69a9a0a4-9e15-4644-b467-61a4a19c43b6",
        "type": "Environment", "displayName": "fabcli000001", "description": "Created
        by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "579fbe20-71f3-4952-b129-1ffffb5f32d8",
        "type": "Eventhouse", "displayName": "fabcli000001", "description": "Created
        by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "13963829-92c5-4574-a66b-3f12b32[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/lakehouses
  response:
    body:
      string: '{"id": "621651fd-1f08-4d2c-90ff-3c8ec48a91b5", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "484c6223-5508-44c6-a29c-04d476af4d0a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c719fa97-82e6-498b-a0e9-ab9c53bc2d1e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
