interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "9af26243-c0ec-4d3c-a18a-6229a427943e", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2f1c0405-3daf-4f85-8219-18db19551278
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/items
  response:
    body:
      string: '{"value": [{"id": "03400018-13bb-41ee-96fb-53b483bd55ae", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "9af26243-c0ec-4d3c-a18a-6229a427943e"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 11008704-2db6-4d54-85f0-0a10aa35f235
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/012cbd50-6462-4256-bc3f-a586824a9008
      RequestId:
      - b2a74751-0039-4936-83d4-9d2804433bea
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 012cbd50-6462-4256-bc3f-a586824a9008
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/012cbd50-6462-4256-bc3f-a586824a9008
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T07:11:58.5223266",
        "lastUpdatedTimeUtc": "2026-01-19T07:12:14.8225405", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/012cbd50-6462-4256-bc3f-a586824a9008/result
      RequestId:
      - 72fd7e33-bc89-47e9-9556-fa0d6d142458
      x-ms-operation-id:
      - 012cbd50-6462-4256-bc3f-a586824a9008
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/012cbd50-6462-4256-bc3f-a586824a9008/result
  response:
    body:
      string: '{"id": "1eb06a71-8dfd-41a9-bb39-ba560c2a09f6", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9af26243-c0ec-4d3c-a18a-6229a427943e"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 40f39168-78c3-4c87-b9b5-9e4264a106c0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/items/1eb06a71-8dfd-41a9-bb39-ba560c2a09f6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 685a2e8b-fbdc-45d3-b8c0-1b86b365c989
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/items
  response:
    body:
      string: '{"value": [{"id": "03400018-13bb-41ee-96fb-53b483bd55ae", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "9af26243-c0ec-4d3c-a18a-6229a427943e"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d23c0a4c-abaf-440e-8311-92161a9c6f62
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
