interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4cc880b6-f304-4ed3-9923-48116f155d09
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3a42ced-efa8-497d-b2e0-e7f5bc1149e6/items
  response:
    body:
      string: '{"value": [{"id": "912e93bd-bdff-4cc6-8abf-a2331c763506", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}, {"id": "7e87f525-921f-41ff-81c6-b209b42c7ffb",
        "type": "SQLEndpoint", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}, {"id": "abb4a7e1-4661-4f2a-a9be-54774e74de5b",
        "type": "SQLEndpoint", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}, {"id": "60144191-2851-4d9f-a329-a81b92e8ab50",
      [...]
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3a42ced-efa8-497d-b2e0-e7f5bc1149e6/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/03d986cd-4d9f-4c91-a545-a850677f7ef4
      RequestId:
      - 88e61b2d-11a1-41d4-afd8-96186cab40fa
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 03d986cd-4d9f-4c91-a545-a850677f7ef4
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/03d986cd-4d9f-4c91-a545-a850677f7ef4
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:22:35.6223292",
        "lastUpdatedTimeUtc": "2026-05-13T07:22:42.453464", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/03d986cd-4d9f-4c91-a545-a850677f7ef4/result
      RequestId:
      - b02cb474-c759-4b10-b85a-d349b395357a
      x-ms-operation-id:
      - 03d986cd-4d9f-4c91-a545-a850677f7ef4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/03d986cd-4d9f-4c91-a545-a850677f7ef4/result
  response:
    body:
      string: '{"id": "5cc5f35d-554d-4961-a246-31e546b24ffc", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b2680e31-1bea-432a-8056-fb3a0736db4f
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "5cc5f35d-554d-4961-a246-31e546b24ffc", "workspaceId": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3a42ced-efa8-497d-b2e0-e7f5bc1149e6/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "c877e35f-106e-4488-9103-96b588612514", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e8038950-d7e6-4ed0-bcbf-9f591df25bd2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3a42ced-efa8-497d-b2e0-e7f5bc1149e6/items/c877e35f-106e-4488-9103-96b588612514?hardDelete=true
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - bf469236-b576-4b50-9cf0-bece6b837bc9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
