interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6baa410d-ed42-47f2-83ea-5b3ea46dd12d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - eccd90aa-468f-4288-a238-c23776a70458
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 586b39f1-b86b-4471-a740-d80d4dbfd5fb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/97817634-d87e-47a5-8718-41338aeaa782
      RequestId:
      - 3a75eeca-2879-4516-982f-6d1968c3254b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 97817634-d87e-47a5-8718-41338aeaa782
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/97817634-d87e-47a5-8718-41338aeaa782
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-03T12:47:13.3274156",
        "lastUpdatedTimeUtc": "2026-09-03T12:47:13.3274156", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/97817634-d87e-47a5-8718-41338aeaa782
      RequestId:
      - 6d7b9e03-09c3-4c9a-a3a4-6ca29c37605e
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 97817634-d87e-47a5-8718-41338aeaa782
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/97817634-d87e-47a5-8718-41338aeaa782/result
  response:
    body:
      string: '{"id": "e2898360-3f78-465b-8c2e-4b54b543c9a4", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "6baa410d-ed42-47f2-83ea-5b3ea46dd12d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 020293d3-ab27-4af9-aea7-8a9f821cddb9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/items/e2898360-3f78-465b-8c2e-4b54b543c9a4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 64153de5-8fdb-4359-9bf4-6599fad757d8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e5e1b800-3bbf-4a0c-bf23-1ef9d2906517
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
