interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "484c6223-5508-44c6-a29c-04d476af4d0a", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fb76cbfa-f299-4927-b577-b4b2439e92d8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/items
  response:
    body:
      string: '{"value": [{"id": "06d8d28e-6095-45f5-99bd-f59561fe7000", "type": "SQLEndpoint",
        "displayName": "fabcli000001", "description": "", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"},
        {"id": "cf95db94-f350-4b3a-a6c6-2c70b0c14078", "type": "DataPipeline", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"},
        {"id": "69a9a0a4-9e15-4644-b467-61a4a19c43b6", "type": "Environment", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"},
        {"id": "579fbe20-71f3-4952-b129-1ffff[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/adbb9e0f-cc58-4737-9940-b35f0133b30d
      RequestId:
      - 580cef32-a5ac-4788-a1b7-89fb04ef8be2
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - adbb9e0f-cc58-4737-9940-b35f0133b30d
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/adbb9e0f-cc58-4737-9940-b35f0133b30d
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T07:24:12.8306717",
        "lastUpdatedTimeUtc": "2026-01-19T07:24:13.8776269", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/adbb9e0f-cc58-4737-9940-b35f0133b30d/result
      RequestId:
      - 81df893d-6d4e-4e9a-8227-40460a6621dc
      x-ms-operation-id:
      - adbb9e0f-cc58-4737-9940-b35f0133b30d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/adbb9e0f-cc58-4737-9940-b35f0133b30d/result
  response:
    body:
      string: '{"id": "2a1f5d9b-36f6-4f5c-870b-463dc633e72b", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "484c6223-5508-44c6-a29c-04d476af4d0a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 14a8b92f-ce68-40e6-8b09-4c3c6eab4f2b
    status:
      code: 200
      message: OK
[...]
