interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "20e4c8f8-f961-49fd-947f-28f477f881fb",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 653579b7-ef42-4c1d-86f9-039f16a5cab0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/20e4c8f8-f961-49fd-947f-28f477f881fb/items
  response:
    body:
      string: '{"value": [{"id": "58b90332-8f80-43e4-b2bb-ef3986a3a85e", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "20e4c8f8-f961-49fd-947f-28f477f881fb"},
        {"id": "fa36ad95-cc47-4107-93e5-07acdf481a96", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "20e4c8f8-f961-49fd-947f-28f477f881fb"},
        {"id": "c369e379-7161-4048-86ec-47aa9b144d84", "type": "SQLEndpoint", "displayName":
        "fabcli000001", "description": "", "workspaceId": "20e4c8f8-f961-49fd-947f-28f477f881fb"},
        {"id": "a654c2e9-b856-46a5-a713-03db7d9bf9aa", "type": "SQLEnd[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "UserDataFunction", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/20e4c8f8-f961-49fd-947f-28f477f881fb/userdatafunctions
  response:
    body:
      string: '{"id": "3fcb667f-9e2f-4459-a8b5-13518cdaf058", "type": "UserDataFunction",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "20e4c8f8-f961-49fd-947f-28f477f881fb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 82da5eb2-49d9-4c0b-81cc-691403ebfa55
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/20e4c8f8-f961-49fd-947f-28f477f881fb/items/3fcb667f-9e2f-4459-a8b5-13518cdaf058
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - cd853ef3-7432-4328-bba6-9f7989800c67
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
