interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "944d1f82-dc2f-4928-a098-ae36aea563e3", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7fb7fb65-b0d7-4660-97a3-defa7b4cf06e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/944d1f82-dc2f-4928-a098-ae36aea563e3/items
  response:
    body:
      string: '{"value": [{"id": "417d79d6-74b5-4aae-8ef1-a57afa5d7e89", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "944d1f82-dc2f-4928-a098-ae36aea563e3"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b8c11337-2d94-4c17-abd6-4a442d6c4dc2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "GraphQLApi", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/944d1f82-dc2f-4928-a098-ae36aea563e3/graphqlapis
  response:
    body:
      string: '{"id": "f5115307-629e-481e-98ba-4f6c1fb007e9", "type": "GraphQLApi",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "944d1f82-dc2f-4928-a098-ae36aea563e3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 32ea05a8-c280-482b-aee7-e88f74b47f72
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/944d1f82-dc2f-4928-a098-ae36aea563e3/items/f5115307-629e-481e-98ba-4f6c1fb007e9
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4adeb160-a297-4435-87f4-34dfbe4078c3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/944d1f82-dc2f-4928-a098-ae36aea563e3/items
  response:
    body:
      string: '{"value": [{"id": "417d79d6-74b5-4aae-8ef1-a57afa5d7e89", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "944d1f82-dc2f-4928-a098-ae36aea563e3"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f74c4de0-94eb-4355-ac47-889ff5c0944a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
