interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d41a00d0-29f8-4a90-9f67-e08ad1e895fd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0b64fa1c-8afe-42d0-bcd6-afb110aa2cff/items
  response:
    body:
      string: '{"value": [{"id": "8887ff69-8828-4412-92cb-6df939454aad", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff"},
        {"id": "2cfcbe07-45eb-43f5-8605-56748961c63a", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff"},
        {"id": "1f792c3a-4991-4cca-a44a-fd4682c70313", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260402104636", "description": "", "workspaceId":
        "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff"}, {"id": "ab9a18e5-cf41-4d6e-8[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0b64fa1c-8afe-42d0-bcd6-afb110aa2cff/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/729f7115-ec45-4cc8-83db-8818702844c8
      RequestId:
      - 64e71125-e64a-45dd-88d3-b2d76e136130
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 729f7115-ec45-4cc8-83db-8818702844c8
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/729f7115-ec45-4cc8-83db-8818702844c8
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-02T10:54:36.0451515",
        "lastUpdatedTimeUtc": "2026-04-02T10:54:42.1366094", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/729f7115-ec45-4cc8-83db-8818702844c8/result
      RequestId:
      - c3b0908a-e71b-42e2-b3bb-6588fe4c9c7e
      x-ms-operation-id:
      - 729f7115-ec45-4cc8-83db-8818702844c8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/729f7115-ec45-4cc8-83db-8818702844c8/result
  response:
    body:
      string: '{"id": "b7523ac0-6ba0-4a55-bec6-ca36f0820056", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "workspaceId":
        "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - da430a90-4376-4f5d-8960-b704a4f04082
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0b64fa1c-8afe-42d0-bcd6-afb110aa2cff/items/b7523ac0-6ba0-4a55-bec6-ca36f0820056?hardDelete=true
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 43bfd0f5-3ddb-4fe1-8554-1d94bbf6f939
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
