interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "484c6223-5508-44c6-a29c-04d476af4d0a", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 93e52903-9f94-46a4-8ba4-2e848fa7c3fe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/items
  response:
    body:
      string: '{"value": [{"id": "06d8d28e-6095-45f5-99bd-f59561fe7000", "type": "SQLEndpoint",
        "displayName": "fabcli000001", "description": "", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"},
        {"id": "03846232-095c-4336-8b99-b4f4983a9cf4", "type": "SQLEndpoint", "displayName":
        "fabcli000001", "description": "", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"},
        {"id": "cf95db94-f350-4b3a-a6c6-2c70b0c14078", "type": "DataPipeline", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"},
        {"id": "69a9a0a4-9e15-4644-b467-61a4a19c43b6", "typ[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Reflex", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/reflexes
  response:
    body:
      string: '{"id": "0d9356f8-543e-453c-bbdd-bf3fec5c090f", "type": "Reflex", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 5793b8de-e872-486a-9d07-aa84d52899b2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
