interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b5405a94-0497-4c26-b834-bfc92b0088bd",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 51fea0ff-5820-4ed7-a4f3-c0e579e51d97
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b5405a94-0497-4c26-b834-bfc92b0088bd/items
  response:
    body:
      string: '{"value": [{"id": "93cd3f2c-fa07-483b-94b6-911477553fb0", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "b5405a94-0497-4c26-b834-bfc92b0088bd"}, {"id": "f65dcabd-26b3-41ff-9ae3-89ffbabeb081",
        "type": "DigitalTwinBuilder", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "b5405a94-0497-4c26-b834-bfc92b0088bd"}, {"id": "3862434a-00b0-4d20-a6f1-eab3447fb960",
        "type": "Lakehouse", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "b5405a94-0497-4c26-b834-bfc92b0088bd"}, {"id": "0ef2917f-75ed-4fd0-bcf5-2edccf85c961",
        "type": "DigitalTwinBuilderFlow", "displayName": "fabcli000001_autoOnDemand",
        "description": "", "workspaceId": "b5405a94-0497-4c26-b834-bfc92b0088bd"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 853d5307-f6e6-4c8f-a1af-b1120aa80050
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b5405a94-0497-4c26-b834-bfc92b0088bd/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2640680d-5585-43af-9e3c-8fbb4bf7d242
      RequestId:
      - ebd6800a-cb4d-4f05-b455-269011fb88a6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 2640680d-5585-43af-9e3c-8fbb4bf7d242
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2640680d-5585-43af-9e3c-8fbb4bf7d242
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:41:18.0323049",
        "lastUpdatedTimeUtc": "2026-05-13T07:41:24.9949582", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2640680d-5585-43af-9e3c-8fbb4bf7d242/result
      RequestId:
      - dce516d5-12a3-4e9d-9127-739f6b7be665
      x-ms-operation-id:
      - 2640680d-5585-43af-9e3c-8fbb4bf7d242
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2640680d-5585-43af-9e3c-8fbb4bf7d242/result
  response:
    body:
      string: '{"id": "86068f5e-dca0-4a5f-87f0-abb94e43de9b", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "b5405a94-0497-4c26-b834-bfc92b0088bd"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - cded8608-2400-4304-947c-f1f84399e8eb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b5405a94-0497-4c26-b834-bfc92b0088bd/items/86068f5e-dca0-4a5f-87f0-abb94e43de9b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 7f062b45-5f57-4cdc-9673-5db007aa12d6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
