interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6baa410d-ed42-47f2-83ea-5b3ea46dd12d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d0a7b883-a849-4f2f-b594-a4c9fcf91792
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f6ac47ce-09dc-4f16-acd3-cbc5632277a8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/49d58b08-5e7b-4375-8d03-050eda42f837
      RequestId:
      - e3beaf25-5b23-4fd9-a6b0-52fd77cd7cba
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 49d58b08-5e7b-4375-8d03-050eda42f837
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/49d58b08-5e7b-4375-8d03-050eda42f837
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-09-03T12:46:46.2745048",
        "lastUpdatedTimeUtc": "2026-09-03T12:46:59.3104033", "percentComplete": 100,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/49d58b08-5e7b-4375-8d03-050eda42f837/result
      RequestId:
      - 9d21dba3-70bb-4d0f-aa3f-4bb08d610510
      x-ms-operation-id:
      - 49d58b08-5e7b-4375-8d03-050eda42f837
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/49d58b08-5e7b-4375-8d03-050eda42f837/result
  response:
    body:
      string: '{"id": "14811e74-3ecb-4105-b764-df2501689d9e", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "6baa410d-ed42-47f2-83ea-5b3ea46dd12d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - a1402e74-93a3-4cf8-8712-4e5c2faa7975
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/items/14811e74-3ecb-4105-b764-df2501689d9e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a360f612-84e9-45b9-b313-1c8d2a2ddd7f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f09efd4e-56df-4621-a0f0-b21572e82a85
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
