interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4a498cc2-9691-4387-8124-1e4fbc97d0e5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0b64fa1c-8afe-42d0-bcd6-afb110aa2cff/items
  response:
    body:
      string: '{"value": [{"id": "8887ff69-8828-4412-92cb-6df939454aad", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff"},
        {"id": "2cfcbe07-45eb-43f5-8605-56748961c63a", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff"},
        {"id": "1f792c3a-4991-4cca-a44a-fd4682c70313", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260402104636", "description": "", "workspaceId":
        "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff"}, {"id": "ab9a18e5-cf41-4d6e-8[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0b64fa1c-8afe-42d0-bcd6-afb110aa2cff/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7ec42ccd-d15c-4535-b829-c841784afde4
      RequestId:
      - a92602ee-0782-4659-be35-58145926757f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7ec42ccd-d15c-4535-b829-c841784afde4
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7ec42ccd-d15c-4535-b829-c841784afde4
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-02T10:53:38.9765027",
        "lastUpdatedTimeUtc": "2026-04-02T10:53:43.8363272", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7ec42ccd-d15c-4535-b829-c841784afde4/result
      RequestId:
      - d29b3a08-6dbf-4101-8a07-ada56752be59
      x-ms-operation-id:
      - 7ec42ccd-d15c-4535-b829-c841784afde4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7ec42ccd-d15c-4535-b829-c841784afde4/result
  response:
    body:
      string: '{"id": "ea663b60-aa8e-4f33-9ad4-f2942bb6573b", "type": "Warehouse",
        "displayName": "fabcli000001", "workspaceId":
        "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 43f532eb-6c4a-48d3-8e6b-da6a66975af1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0b64fa1c-8afe-42d0-bcd6-afb110aa2cff/items/ea663b60-aa8e-4f33-9ad4-f2942bb6573b?hardDelete=true
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 40883eed-6658-4410-99ee-fda2ed43ae9d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
