interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 810c33f3-a310-483a-8dc8-f3636dbcf8aa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3a42ced-efa8-497d-b2e0-e7f5bc1149e6/items
  response:
    body:
      string: '{"value": [{"id": "912e93bd-bdff-4cc6-8abf-a2331c763506", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}, {"id": "7e87f525-921f-41ff-81c6-b209b42c7ffb",
        "type": "SQLEndpoint", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}, {"id": "abb4a7e1-4661-4f2a-a9be-54774e74de5b",
        "type": "SQLEndpoint", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}, {"id": "6062fd74-e26c-4a3f-ba9a-b6e3b55284a5",
      [...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3a42ced-efa8-497d-b2e0-e7f5bc1149e6/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8ba4f6c1-bde5-48f2-9a58-acc9c64c718e
      RequestId:
      - d92aede2-3d7a-47d6-addc-eaf8b0784e6a
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 8ba4f6c1-bde5-48f2-9a58-acc9c64c718e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8ba4f6c1-bde5-48f2-9a58-acc9c64c718e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:22:04.4917488",
        "lastUpdatedTimeUtc": "2026-05-13T07:22:11.4021137", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8ba4f6c1-bde5-48f2-9a58-acc9c64c718e/result
      RequestId:
      - dc8ec6aa-8173-462d-a237-0bdf246806a5
      x-ms-operation-id:
      - 8ba4f6c1-bde5-48f2-9a58-acc9c64c718e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8ba4f6c1-bde5-48f2-9a58-acc9c64c718e/result
  response:
    body:
      string: '{"id": "fe3b69dc-431a-496a-83d6-1d4a9f90be23", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 67b73f38-9e5c-4445-bb43-b6e56eb99ba9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3a42ced-efa8-497d-b2e0-e7f5bc1149e6/items/fe3b69dc-431a-496a-83d6-1d4a9f90be23?hardDelete=true
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8082859d-8d96-4318-a3fe-fd3c3aa2d9db
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
