interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "484c6223-5508-44c6-a29c-04d476af4d0a", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3bc7ea7f-77fd-47d4-b289-de0d07e8efd4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/items
  response:
    body:
      string: '{"value": [{"id": "cf95db94-f350-4b3a-a6c6-2c70b0c14078", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "484c6223-5508-44c6-a29c-04d476af4d0a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 076fe6b1-f046-4216-bcfe-0c6189fa2696
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/environments
  response:
    body:
      string: '{"id": "69a9a0a4-9e15-4644-b467-61a4a19c43b6", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "484c6223-5508-44c6-a29c-04d476af4d0a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a5ff831b-db8d-4808-b03c-6373deba7303
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/items
  response:
    body:
      string: '{"value": [{"id": "cf95db94-f350-4b3a-a6c6-2c70b0c14078", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "69a9a0a4-9e15-4644-b467-61a4a19c43b6",
        "type": "Environment", "displayName": "fabcli000001", "description": "Created
        by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - afabd480-2569-4ee0-a6f2-c82396488cbb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
