interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6baa410d-ed42-47f2-83ea-5b3ea46dd12d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 97e87e22-bc53-4a58-9b3a-654cd02d2c52
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 303409b1-ed9d-4a12-bfb6-0c2d2f39bee0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d09862ae-d5a0-4fc9-80ae-f2e820d3c0b8
      RequestId:
      - 830f7ff2-410e-4686-9618-9b3042243b00
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d09862ae-d5a0-4fc9-80ae-f2e820d3c0b8
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d09862ae-d5a0-4fc9-80ae-f2e820d3c0b8
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-09-03T12:49:37.9979602",
        "lastUpdatedTimeUtc": "2026-09-03T12:49:50.0828789", "percentComplete": 100,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d09862ae-d5a0-4fc9-80ae-f2e820d3c0b8/result
      RequestId:
      - 24716e0e-eae6-4351-bee6-050e9b72b180
      x-ms-operation-id:
      - d09862ae-d5a0-4fc9-80ae-f2e820d3c0b8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d09862ae-d5a0-4fc9-80ae-f2e820d3c0b8/result
  response:
    body:
      string: '{"id": "f03019f1-24bf-4504-991b-778ae6ab80cd", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "6baa410d-ed42-47f2-83ea-5b3ea46dd12d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - a74e487b-22a2-484d-9957-a24c01bb76ac
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/items/f03019f1-24bf-4504-991b-778ae6ab80cd?hardDelete=true
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5ac7fa9d-279d-4a58-abfe-666473b7568e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 234c5497-5814-4590-855b-20d142382509
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
