interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "adb8fb8e-54a1-4e39-927a-c4d65c660745",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 92c7f988-eb19-4d42-8f57-38222d2cfc5f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/adb8fb8e-54a1-4e39-927a-c4d65c660745/items
  response:
    body:
      string: '{"value": [{"id": "3ae126fe-eac8-4a53-a751-2fa6d72e643a", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "adb8fb8e-54a1-4e39-927a-c4d65c660745"},
        {"id": "ea1fce42-491b-433f-8692-3d237d4acc11", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260205074746", "description": "", "workspaceId":
        "adb8fb8e-54a1-4e39-927a-c4d65c660745"}, {"id": "0f48811d-f17e-4011-adf2-3967c717102e",
        "type": "Warehouse", "displayName": "StagingWarehouseForDataflows_20260205074758",
        "description": "", "workspaceId": "adb8fb8e-54a1-4e39-927a-c4d65c660745"},
        {"id": "40f22982-bb05-4403-9ffc-a76e8a7e3051", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260205074746", "description": "", "workspaceId":
        "adb8fb8e-54a1-4e39-927a-c4d65c660745"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3bc38af3-74b7-49a6-817e-a103e6c7d0e3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/adb8fb8e-54a1-4e39-927a-c4d65c660745/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7c62b9d9-2a8d-4483-be14-45e4bcf4d841
      RequestId:
      - ff03bd50-14a6-4505-82eb-6e11ad82fe9e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7c62b9d9-2a8d-4483-be14-45e4bcf4d841
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7c62b9d9-2a8d-4483-be14-45e4bcf4d841
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-05T07:48:41.714649",
        "lastUpdatedTimeUtc": "2026-02-05T07:48:49.2939636", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7c62b9d9-2a8d-4483-be14-45e4bcf4d841/result
      RequestId:
      - 050b4839-3901-4769-ba03-64fa7a22ac92
      x-ms-operation-id:
      - 7c62b9d9-2a8d-4483-be14-45e4bcf4d841
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7c62b9d9-2a8d-4483-be14-45e4bcf4d841/result
  response:
    body:
      string: '{"id": "105c402a-7cfa-4934-a04d-308547892e1f", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "adb8fb8e-54a1-4e39-927a-c4d65c660745"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ff0cc985-3f22-4159-9264-f56520740e8c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/adb8fb8e-54a1-4e39-927a-c4d65c660745/items/105c402a-7cfa-4934-a04d-308547892e1f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5330e58e-b14f-49dc-8874-d65f90a0f308
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
