interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "3a543a45-29e9-4a66-a271-6c6795d96394",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 251e08d8-8740-43e2-b7b6-c4a32235fbbf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a543a45-29e9-4a66-a271-6c6795d96394/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4cfa70b6-b1da-4fd0-9ca5-d686ca5cc7ca
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a543a45-29e9-4a66-a271-6c6795d96394/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6a74755c-2f34-4a56-95c0-30e5b4581515
      RequestId:
      - b29b782c-9e1b-4e34-943c-a900e34fc3fd
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 6a74755c-2f34-4a56-95c0-30e5b4581515
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6a74755c-2f34-4a56-95c0-30e5b4581515
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-09T07:01:31.2947139",
        "lastUpdatedTimeUtc": "2026-09-09T07:01:31.2947139", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6a74755c-2f34-4a56-95c0-30e5b4581515
      RequestId:
      - f442705e-39d7-4570-9b3c-dd6205a9973d
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 6a74755c-2f34-4a56-95c0-30e5b4581515
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6a74755c-2f34-4a56-95c0-30e5b4581515/result
  response:
    body:
      string: '{"id": "f0a9859a-1381-4857-b8fa-6588af934d30", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "3a543a45-29e9-4a66-a271-6c6795d96394"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c8b944e4-b853-4ca5-82d7-8dc0f50c11d7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a543a45-29e9-4a66-a271-6c6795d96394/items/f0a9859a-1381-4857-b8fa-6588af934d30
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - dcf62251-559e-4cc1-bf27-1657232e5a3e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a543a45-29e9-4a66-a271-6c6795d96394/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6802d8db-7250-4eeb-b822-89c4cd706af5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
