interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "9e6cfa9e-3138-4cf8-aac7-27b97282beab",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c301d356-2a9a-4c66-bbd8-4bf5d7e211fa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9e6cfa9e-3138-4cf8-aac7-27b97282beab/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 244cfb47-e0f2-4367-869d-c0f71b5a718a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9e6cfa9e-3138-4cf8-aac7-27b97282beab/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3b627cef-775e-492b-b522-98227a0cfe7b
      RequestId:
      - d398e3d8-a38f-4671-b97a-d842f1e4887c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 3b627cef-775e-492b-b522-98227a0cfe7b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3b627cef-775e-492b-b522-98227a0cfe7b
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-05T07:39:10.0484678",
        "lastUpdatedTimeUtc": "2026-02-05T07:39:21.3471383", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3b627cef-775e-492b-b522-98227a0cfe7b/result
      RequestId:
      - 57a55420-74f6-47b3-a1e4-fafa07774aa0
      x-ms-operation-id:
      - 3b627cef-775e-492b-b522-98227a0cfe7b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3b627cef-775e-492b-b522-98227a0cfe7b/result
  response:
    body:
      string: '{"id": "1a8033ed-91c1-43cd-b66d-6cd6ec50700f", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9e6cfa9e-3138-4cf8-aac7-27b97282beab"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 25e469b0-1e8e-4302-8272-7279ff133a0c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9e6cfa9e-3138-4cf8-aac7-27b97282beab/items/1a8033ed-91c1-43cd-b66d-6cd6ec50700f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3b6237b4-8227-40a5-89d7-a9bc74748f02
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9e6cfa9e-3138-4cf8-aac7-27b97282beab/items
  response:
    body:
      string: '{"value": [{"id": "49bb5c98-a0b3-403d-8412-9eeead3e8891", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "9e6cfa9e-3138-4cf8-aac7-27b97282beab"},
        {"id": "2cd82c89-0041-434c-8330-a5d786bed9eb", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "9e6cfa9e-3138-4cf8-aac7-27b97282beab"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c7577a49-61f0-40a4-947f-a905f1e1ba47
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
