interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5bf49d41-ccf2-4662-872c-a1d794eb7eba",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 84502afd-e5aa-4e8d-968b-ea5c27525b59
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5bf49d41-ccf2-4662-872c-a1d794eb7eba/items
  response:
    body:
      string: '{"value": [{"id": "0be7fbeb-7129-459c-802c-9768da9fee82", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "5bf49d41-ccf2-4662-872c-a1d794eb7eba"},
        {"id": "8a9513d9-18b0-4c29-8a17-7aeecd1e2976", "type": "SemanticModel", "displayName":
        "fabcli000001", "description": "", "workspaceId": "5bf49d41-ccf2-4662-872c-a1d794eb7eba"},
        {"id": "7e88f169-1073-48df-8344-70ff8c2756be", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "5bf49d41-ccf2-4662-872c-a1d794eb7eba"},
        {"id": "63e713bb-d4c4-439f-aac5-e4e9e2f53e6a", "type": "S[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SemanticModel", "folderId": null, "definition": {"parts": [{"path": ".platform",
      "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlNlbWFudGljTW9kZWwiLAogICAgImRpc3BsYXlOYW1lIjogIkJsYW5rIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
      "payloadType": "InlineBase64"}, {"path": "definition.pbism", "payload": "ewogICJ2ZXJzaW9uIjogIjQuMCIsCiAgInNldHRpbmdzIjoge30KfQ==",
      "payloadType": "InlineBase64"}, {"path": "definition/database.tmdl", "payload":
      "ZGF0YWJhc2UKCWNvbXBhdGliaWxpdHlMZXZlbDogMTU2MQoK", "payloadType": "InlineBase64"},
      {"path": "definition/model.tmdl", "payload": "bW9kZWwgTW9kZWwKCWN1bHR1cmU6IGVuLVVTCglkZWZhdWx0UG93ZXJCSURhdGFTb3VyY2VWZXJzaW9uOiBwb3dlckJJX1YzCglzb3VyY2VRdWVyeUN1bHR1cmU6IGVuLVVTCglkYXRhQWNjZXNzT3B0aW[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d7a799c3-0807-4fd0-b5f6-febe817a9959
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-29T09:49:47.7232381",
        "lastUpdatedTimeUtc": "2026-01-29T09:49:58.3660147", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d7a799c3-0807-4fd0-b5f6-febe817a9959/result
      RequestId:
      - 97fa1305-da45-41a3-9b36-fde766422b6d
      x-ms-operation-id:
      - d7a799c3-0807-4fd0-b5f6-febe817a9959
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d7a799c3-0807-4fd0-b5f6-febe817a9959/result
  response:
    body:
      string: '{"id": "1f60b7a9-8257-4404-a71d-842ee36ddb9b", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "5bf49d41-ccf2-4662-872c-a1d794eb7eba"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b43fb641-f84d-405f-bde2-4c65dcaeb5cc
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5bf49d41-ccf2-4662-872c-a1d794eb7eba/items/1f60b7a9-8257-4404-a71d-842ee36ddb9b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 627e7277-a435-44d1-b0d4-ce8676aa60fb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
