interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "944d1f82-dc2f-4928-a098-ae36aea563e3", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a4ea4206-3e82-4f57-bf8d-86d071f72d4a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/944d1f82-dc2f-4928-a098-ae36aea563e3/items
  response:
    body:
      string: '{"value": [{"id": "417d79d6-74b5-4aae-8ef1-a57afa5d7e89", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "944d1f82-dc2f-4928-a098-ae36aea563e3"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 346bf1a8-6ff2-43f2-be87-619282d6fbe7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Dataflow", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/944d1f82-dc2f-4928-a098-ae36aea563e3/dataflows
  response:
    body:
      string: '{"id": "c041dd6a-38e3-4a09-8f27-22d056061080", "type": "Dataflow",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "944d1f82-dc2f-4928-a098-ae36aea563e3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 36549bba-5f93-4620-a443-50ac5f48b23b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/944d1f82-dc2f-4928-a098-ae36aea563e3/items/c041dd6a-38e3-4a09-8f27-22d056061080
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3fb1637e-3cc0-44f9-9355-281a9a25b594
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/944d1f82-dc2f-4928-a098-ae36aea563e3/items
  response:
    body:
      string: '{"value": [{"id": "417d79d6-74b5-4aae-8ef1-a57afa5d7e89", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "944d1f82-dc2f-4928-a098-ae36aea563e3"},
        {"id": "62a093fb-cdf3-4116-b2d7-a4e496312b43", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260119063636", "description": "", "workspaceId":
        "944d1f82-dc2f-4928-a098-ae36aea563e3"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f72895f3-0bf7-49d3-a2eb-3c86e875f776
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
