interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6baa410d-ed42-47f2-83ea-5b3ea46dd12d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 58efe480-6e98-4963-b761-e6190804039e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/items
  response:
    body:
      string: '{"value": [{"id": "5f2d3a59-a8bd-416b-8ddf-e66a65638388", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "6baa410d-ed42-47f2-83ea-5b3ea46dd12d"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7e2b945d-9743-4150-9d18-0250b960e7b0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6ec2073f-3e8f-4f6c-8508-da5e9c3ed828
      RequestId:
      - df3c8f8c-6e39-486e-9500-fe2f60c74463
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 6ec2073f-3e8f-4f6c-8508-da5e9c3ed828
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6ec2073f-3e8f-4f6c-8508-da5e9c3ed828
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-03T12:51:16.7784326",
        "lastUpdatedTimeUtc": "2026-09-03T12:51:16.7784326", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6ec2073f-3e8f-4f6c-8508-da5e9c3ed828
      RequestId:
      - 877ded5b-f046-4570-8b4a-7de25537e753
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 6ec2073f-3e8f-4f6c-8508-da5e9c3ed828
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6ec2073f-3e8f-4f6c-8508-da5e9c3ed828/result
  response:
    body:
      string: '{"id": "d0e210c3-dafe-46b0-a48e-4c13fe5bcc2b", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "6baa410d-ed42-47f2-83ea-5b3ea46dd12d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 9b67359f-984d-49ef-974b-49e195356ed1
    status:
      code: 200
      message: OK
[...]
