interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5bf49d41-ccf2-4662-872c-a1d794eb7eba",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 36d1c028-643e-40b4-b406-db0baf84d85a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5bf49d41-ccf2-4662-872c-a1d794eb7eba/items
  response:
    body:
      string: '{"value": [{"id": "0be7fbeb-7129-459c-802c-9768da9fee82", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "5bf49d41-ccf2-4662-872c-a1d794eb7eba"},
        {"id": "8a9513d9-18b0-4c29-8a17-7aeecd1e2976", "type": "SemanticModel", "displayName":
        "fabcli000001", "description": "", "workspaceId": "5bf49d41-ccf2-4662-872c-a1d794eb7eba"},
        {"id": "63e713bb-d4c4-439f-aac5-e4e9e2f53e6a", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260129093902", "description": "", "workspaceId":
        "5bf49d41-ccf2-4662-872c-a1d794eb7eba"}, {"id": "001625fe-8bfb-4e1d-8160-e[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5bf49d41-ccf2-4662-872c-a1d794eb7eba/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9c5eb4d3-d7b5-4bc0-a287-fe653d414805
      RequestId:
      - 5aaa9879-ad7d-4b35-b73c-f9a887ba4f9a
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9c5eb4d3-d7b5-4bc0-a287-fe653d414805
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9c5eb4d3-d7b5-4bc0-a287-fe653d414805
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-29T09:42:51.1486466",
        "lastUpdatedTimeUtc": "2026-01-29T09:43:00.2020492", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9c5eb4d3-d7b5-4bc0-a287-fe653d414805/result
      RequestId:
      - d7265ad2-da61-482e-b47e-189bbebb3864
      x-ms-operation-id:
      - 9c5eb4d3-d7b5-4bc0-a287-fe653d414805
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9c5eb4d3-d7b5-4bc0-a287-fe653d414805/result
  response:
    body:
      string: '{"id": "dbc2a011-4abd-41c5-a6aa-49cb20c34032", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5bf49d41-ccf2-4662-872c-a1d794eb7eba"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c8f166f4-ac5b-4811-aa28-c6e2c9924c15
    status:
      code: 200
      message: OK
[...]
