interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "9af26243-c0ec-4d3c-a18a-6229a427943e", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5e35af6a-cd25-4799-916b-41c09d1131a2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e6910fec-9d8e-4403-84c2-77d3d2b49d4a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MLExperiment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/mlExperiments
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/15867df5-ea8d-47d5-94f4-28e43f2c4ce8
      RequestId:
      - 35d50e51-fc97-493a-b8e2-66792ac1e9e4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 15867df5-ea8d-47d5-94f4-28e43f2c4ce8
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/15867df5-ea8d-47d5-94f4-28e43f2c4ce8
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T07:09:05.3638698",
        "lastUpdatedTimeUtc": "2026-01-19T07:09:06.1927711", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/15867df5-ea8d-47d5-94f4-28e43f2c4ce8/result
      RequestId:
      - 13bdf0ff-5f0e-47fa-9818-e8846a3ac0fa
      x-ms-operation-id:
      - 15867df5-ea8d-47d5-94f4-28e43f2c4ce8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/15867df5-ea8d-47d5-94f4-28e43f2c4ce8/result
  response:
    body:
      string: '{"id": "190967d9-aa97-4aa7-be78-0c9d406fb713", "type": "MLExperiment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9af26243-c0ec-4d3c-a18a-6229a427943e"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d3a8e80a-3156-4ed9-a86e-4be6a5753a1a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/items/190967d9-aa97-4aa7-be78-0c9d406fb713
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 504903d8-56c4-4954-ad72-0d639426e83a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9988e874-66fd-43aa-bbd3-460ad53fc7ed
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
