interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "484c6223-5508-44c6-a29c-04d476af4d0a", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4bd4c728-2fbc-4d81-b72e-911f1ee22b66
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/items
  response:
    body:
      string: '{"value": [{"id": "cf95db94-f350-4b3a-a6c6-2c70b0c14078", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "69a9a0a4-9e15-4644-b467-61a4a19c43b6",
        "type": "Environment", "displayName": "fabcli000001", "description": "Created
        by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "579fbe20-71f3-4952-b129-1ffffb5f32d8",
        "type": "Eventhouse", "displayName": "fabcli000001", "description": "Created
        by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "13963829-92c5-4574-a66b-3f12b32d20bc",
        "type": "KQLDatabase", "displayName": "fabcli000001", "description": "fabcli000001",
        "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "5e0883d0-d117-4f10-a27a-5e036da6b7a0",
        "type": "Eventstream", "displayName": "fabcli000001", "description": "Created
        by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a686d66b-924d-4861-ad9f-625aa04565b1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDashboard", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/kqlDashboards
  response:
    body:
      string: '{"id": "33f0c55d-fcbf-4cd8-8991-4389e09d4d35", "type": "KQLDashboard",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "484c6223-5508-44c6-a29c-04d476af4d0a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 161c08d5-447f-4650-804f-6de2004777a9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
