interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c95302b8-95ce-42a9-8cac-26b3fa76f455",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3b890c0d-20af-453d-b4a2-710d8a1b5941
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c95302b8-95ce-42a9-8cac-26b3fa76f455/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 86cdd6f4-a007-435e-b574-c869562d2ed0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Map", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.4.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c95302b8-95ce-42a9-8cac-26b3fa76f455/maps
  response:
    body:
      string: '{"id": "eb1d2378-fbcb-41be-84a9-e7fc350591d1", "type": "Map", "displayName":
        "fabcli000001", "workspaceId": "c95302b8-95ce-42a9-8cac-26b3fa76f455"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 51f617ad-ad77-4d69-a210-1c3296f59760
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c95302b8-95ce-42a9-8cac-26b3fa76f455/items
  response:
    body:
      string: '{"value": [{"id": "eb1d2378-fbcb-41be-84a9-e7fc350591d1", "type": "Map",
        "displayName": "fabcli000001", "workspaceId":
        "c95302b8-95ce-42a9-8cac-26b3fa76f455"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 71b53bbb-9da5-49aa-bb35-987c99c9a26f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
