interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bbd7f1e2-3a28-4fe7-9d96-6365a900c0c6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0b64fa1c-8afe-42d0-bcd6-afb110aa2cff/items
  response:
    body:
      string: '{"value": [{"id": "8887ff69-8828-4412-92cb-6df939454aad", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff"},
        {"id": "1f792c3a-4991-4cca-a44a-fd4682c70313", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260402104636", "description": "", "workspaceId":
        "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff"}, {"id": "ab9a18e5-cf41-4d6e-85fb-1df81c21dd3b",
        "type": "Warehouse", "displayName": "StagingWarehouseForDataflows_20260402104649",
        "description": "", "workspaceId": "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff"},
        {"id": "91cc4c9f-2a19-4a13-b664-6593b1eb82fd", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff"},
        {"id": "dacc9423-f3c8-4d13-8762-e71892778f52", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260402104636", "description": "", "workspaceId":
        "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff"}, {"id": "23dbe9fc-ff1f-451a-9854-86a470ea9484",
        "type": "Lakehouse", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cfe1b3c0-2e2c-4301-a2e2-593b5d176498
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Reflex", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0b64fa1c-8afe-42d0-bcd6-afb110aa2cff/reflexes
  response:
    body:
      string: '{"id": "62185a3f-f6d4-41a2-8dec-f662af501a0f", "type": "Reflex", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "0b64fa1c-8afe-42d0-bcd6-afb110aa2cff"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 59becb9d-b7d2-46e5-b4a4-d5058cba07df
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0b64fa1c-8afe-42d0-bcd6-afb110aa2cff/items/62185a3f-f6d4-41a2-8dec-f662af501a0f?hardDelete=true
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d2404ec2-3fe3-477a-9802-572b5c723f67
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
