interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "944d1f82-dc2f-4928-a098-ae36aea563e3", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f22423d9-44a8-448d-8e7a-2f3473b8b7b3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/944d1f82-dc2f-4928-a098-ae36aea563e3/items
  response:
    body:
      string: '{"value": [{"id": "417d79d6-74b5-4aae-8ef1-a57afa5d7e89", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "944d1f82-dc2f-4928-a098-ae36aea563e3"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8b8f0545-0d38-484f-a97c-244e293d2ad0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/944d1f82-dc2f-4928-a098-ae36aea563e3/items
  response:
    body:
      string: '{"value": [{"id": "417d79d6-74b5-4aae-8ef1-a57afa5d7e89", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "944d1f82-dc2f-4928-a098-ae36aea563e3"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 90deb3a0-530a-43c1-9d7a-431eb3a7b23c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
