interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "9af26243-c0ec-4d3c-a18a-6229a427943e", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f79d9f28-02c4-4a2c-9a72-d86d7d1981a3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fc54b7c4-4c41-489d-b95c-dbdc755dcbe9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Eventstream", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/eventstreams
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3a9f6730-a839-4fef-bd8a-6352f788892e
      RequestId:
      - c6cd9f0b-01a7-4d27-af01-1c3185b9e7b1
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 3a9f6730-a839-4fef-bd8a-6352f788892e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3a9f6730-a839-4fef-bd8a-6352f788892e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T07:08:04.519475",
        "lastUpdatedTimeUtc": "2026-01-19T07:08:07.1298895", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3a9f6730-a839-4fef-bd8a-6352f788892e/result
      RequestId:
      - d8756845-e04e-4127-ab5f-c069d37349c9
      x-ms-operation-id:
      - 3a9f6730-a839-4fef-bd8a-6352f788892e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3a9f6730-a839-4fef-bd8a-6352f788892e/result
  response:
    body:
      string: '{"id": "753af818-ec56-4525-a5df-d24292a03f96", "type": "Eventstream",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9af26243-c0ec-4d3c-a18a-6229a427943e"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f5a12b04-830b-44d6-a09f-ea40d647dc5b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/items/753af818-ec56-4525-a5df-d24292a03f96
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 728bfbfa-8850-449b-aeeb-489e5cc3618c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fa78511d-562a-4166-b944-93c30823aab0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
