interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5bf49d41-ccf2-4662-872c-a1d794eb7eba",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fa349575-cf9c-4788-bd4f-6b0c62991256
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5bf49d41-ccf2-4662-872c-a1d794eb7eba/items
  response:
    body:
      string: '{"value": [{"id": "0be7fbeb-7129-459c-802c-9768da9fee82", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "5bf49d41-ccf2-4662-872c-a1d794eb7eba"},
        {"id": "eb7b9d42-9795-4ba1-a826-19e0428ead6f", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260129093902", "description": "", "workspaceId":
        "5bf49d41-ccf2-4662-872c-a1d794eb7eba"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b1cfedc6-f369-461e-9747-d1aa65e1a9b5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5bf49d41-ccf2-4662-872c-a1d794eb7eba/dataPipelines
  response:
    body:
      string: '{"id": "bb27247d-5842-4280-bc11-ece193543087", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5bf49d41-ccf2-4662-872c-a1d794eb7eba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 545b82f3-f95c-465c-98b8-4d21035e4213
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5bf49d41-ccf2-4662-872c-a1d794eb7eba/items
  response:
    body:
      string: '{"value": [{"id": "0be7fbeb-7129-459c-802c-9768da9fee82", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "5bf49d41-ccf2-4662-872c-a1d794eb7eba"},
        {"id": "eb7b9d42-9795-4ba1-a826-19e0428ead6f", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260129093902", "description": "", "workspaceId":
        "5bf49d41-ccf2-4662-872c-a1d794eb7eba"}, {"id": "bb27247d-5842-4280-bc11-ece193543087",
        "type": "DataPipeline", "displayName": "fabcli000001", "description": "Created
        by fab", "workspaceId": "5bf49d41-ccf2-4662-872c-a1d794eb7eba"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 24338bab-bb84-475c-9370-6097ac6514e0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
