interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "20e4c8f8-f961-49fd-947f-28f477f881fb",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 96cf6a30-f36c-46c7-9c4d-c734910225aa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/20e4c8f8-f961-49fd-947f-28f477f881fb/items
  response:
    body:
      string: '{"value": [{"id": "58b90332-8f80-43e4-b2bb-ef3986a3a85e", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "20e4c8f8-f961-49fd-947f-28f477f881fb"},
        {"id": "fa36ad95-cc47-4107-93e5-07acdf481a96", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "20e4c8f8-f961-49fd-947f-28f477f881fb"},
        {"id": "c369e379-7161-4048-86ec-47aa9b144d84", "type": "SQLEndpoint", "displayName":
        "fabcli000001", "description": "", "workspaceId": "20e4c8f8-f961-49fd-947f-28f477f881fb"},
        {"id": "a654c2e9-b856-46a5-a713-03db7d9bf9aa", "type": "SQLEnd[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "GraphQuerySet", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/20e4c8f8-f961-49fd-947f-28f477f881fb/GraphQuerySets
  response:
    body:
      string: '{"id": "eaac3929-fe84-4ddd-9777-a2d20acea93c", "type": "GraphQuerySet",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "20e4c8f8-f961-49fd-947f-28f477f881fb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ac515724-b723-4283-82d6-d3021d6054a1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/20e4c8f8-f961-49fd-947f-28f477f881fb/items/eaac3929-fe84-4ddd-9777-a2d20acea93c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - fd8b8215-9d70-49bf-8332-559c845eedbe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
