interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "916933dd-72f5-4d84-84d3-3552275d7fbc",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5e9f7117-a63b-486b-9abf-272dfa545eff
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/916933dd-72f5-4d84-84d3-3552275d7fbc/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 29e72d47-f1d1-4c0b-a1cd-58d4c077752c
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/916933dd-72f5-4d84-84d3-3552275d7fbc/folders
  response:
    body:
      string: '{"id": "c1f177a9-69f4-4b9a-9639-df98cd89dc0a", "displayName": "fabcli000001",
        "workspaceId": "916933dd-72f5-4d84-84d3-3552275d7fbc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/916933dd-72f5-4d84-84d3-3552275d7fbc/folders/c1f177a9-69f4-4b9a-9639-df98cd89dc0a
      RequestId:
      - d106e2b1-fd02-4d47-89c3-b233f5baed83
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/916933dd-72f5-4d84-84d3-3552275d7fbc/items
  response:
    body:
      string: '{"value": [{"id": "35dcd9aa-d9dd-420d-b1d5-959a4b5510ee", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "916933dd-72f5-4d84-84d3-3552275d7fbc"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e3cf9f36-4b34-484e-b684-889ff3449f56
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Lakehouse", "folderId": "c1f177a9-69f4-4b9a-9639-df98cd89dc0a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/916933dd-72f5-4d84-84d3-3552275d7fbc/lakehouses
  response:
    body:
      string: '{"id": "e04306ba-6dce-4890-b3dd-4b6e679a8b93", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "916933dd-72f5-4d84-84d3-3552275d7fbc", "folderId": "c1f177a9-69f4-4b9a-9639-df98cd89dc0a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 1860088c-ff15-4b75-8016-48151c43bfb9
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/916933dd-72f5-4d84-84d3-3552275d7fbc/folders/c1f177a9-69f4-4b9a-9639-df98cd89dc0a
  response:
    body:
      string: '{"requestId": "efa3666f-3791-4f9f-8c2b-c14150ce2d31", "errorCode":
        "FolderNotEmpty", "message": "The requested folder was not empty.", "relatedResource":
        {"resourceId": "c1f177a9-69f4-4b9a-9639-df98cd89dc0a", "resourceType": "Folder"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - efa3666f-3791-4f9f-8c2b-c14150ce2d31
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - FolderNotEmpty
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/916933dd-72f5-4d84-84d3-3552275d7fbc/folders?recursive=True
  response:
    body:
      string: '{"requestId": "31551ddf-4f45-4022-bda9-34a804c5fb62", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        9/3/2025 7:03:20 AM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 31551ddf-4f45-4022-bda9-34a804c5fb62
      Retry-After:
      - '53'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/916933dd-72f5-4d84-84d3-3552275d7fbc/items/e04306ba-6dce-4890-b3dd-4b6e679a8b93
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6e85e607-e5dc-40ae-95bb-09a9a8c36821
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/916933dd-72f5-4d84-84d3-3552275d7fbc/folders/c1f177a9-69f4-4b9a-9639-df98cd89dc0a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 45afc9d1-ac5a-4f57-80fd-67dfb5212525
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
