interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b5405a94-0497-4c26-b834-bfc92b0088bd",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2aba3970-9fa2-40c9-97a5-6bc1aa3ae785
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b5405a94-0497-4c26-b834-bfc92b0088bd/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fdbd77b8-03e6-4b0c-ace1-53ca3583dcee
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b5405a94-0497-4c26-b834-bfc92b0088bd/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8e30c7e0-3397-4598-b106-50dc5a39bf35
      RequestId:
      - 1d34843e-b381-49af-aad5-d8004f68639f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 8e30c7e0-3397-4598-b106-50dc5a39bf35
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8e30c7e0-3397-4598-b106-50dc5a39bf35
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:40:43.869665",
        "lastUpdatedTimeUtc": "2026-05-13T07:40:52.7224639", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8e30c7e0-3397-4598-b106-50dc5a39bf35/result
      RequestId:
      - c0c7e0d7-1c28-4f55-bdba-052b550ab995
      x-ms-operation-id:
      - 8e30c7e0-3397-4598-b106-50dc5a39bf35
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8e30c7e0-3397-4598-b106-50dc5a39bf35/result
  response:
    body:
      string: '{"id": "f65dcabd-26b3-41ff-9ae3-89ffbabeb081", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "b5405a94-0497-4c26-b834-bfc92b0088bd"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 9f590eb8-2807-4ef5-b1b8-03fa7c078718
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "f65dcabd-26b3-41ff-9ae3-89ffbabeb081", "workspaceId": "b5405a94-0497-4c26-b834-bfc92b0088bd"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b5405a94-0497-4c26-b834-bfc92b0088bd/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "47d15f44-c7c3-4064-bab7-4234bd97cb66", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "b5405a94-0497-4c26-b834-bfc92b0088bd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c2b56b97-dcac-480f-8083-c04facd66475
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b5405a94-0497-4c26-b834-bfc92b0088bd/items/47d15f44-c7c3-4064-bab7-4234bd97cb66
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f83250f3-f9ec-4f96-92c2-2244dea4853b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b5405a94-0497-4c26-b834-bfc92b0088bd/items
  response:
    body:
      string: '{"value": [{"id": "93cd3f2c-fa07-483b-94b6-911477553fb0", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "b5405a94-0497-4c26-b834-bfc92b0088bd"}, {"id": "f65dcabd-26b3-41ff-9ae3-89ffbabeb081",
        "type": "DigitalTwinBuilder", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "b5405a94-0497-4c26-b834-bfc92b0088bd"}, {"id": "3862434a-00b0-4d20-a6f1-eab3447fb960",
        "type": "Lakehouse", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "b5405a94-0497-4c26-b834-bfc92b0088bd"}, {"id": "0ef2917f-75ed-4fd0-bcf5-2edccf85c961",
        "type": "DigitalTwinBuilderFlow", "displayName": "fabcli000001_autoOnDemand",
        "description": "", "workspaceId": "b5405a94-0497-4c26-b834-bfc92b0088bd"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8e86f08a-c4fa-429c-9520-09b90dba4ae7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
