interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5da8dc7d-f13f-4da3-9e9c-6ebf2d955194",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6ec28312-4ac3-4691-94e9-1e174d0b859a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5da8dc7d-f13f-4da3-9e9c-6ebf2d955194/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6ba2948f-6c18-482d-b08e-45571772b5ee
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5da8dc7d-f13f-4da3-9e9c-6ebf2d955194/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8b638c1a-bd45-484a-b339-ca9eac31a4c0
      RequestId:
      - 38385744-e057-46ba-874f-905e5d428bb3
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 8b638c1a-bd45-484a-b339-ca9eac31a4c0
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8b638c1a-bd45-484a-b339-ca9eac31a4c0
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-05T07:34:20.6256013",
        "lastUpdatedTimeUtc": "2026-02-05T07:34:29.410073", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8b638c1a-bd45-484a-b339-ca9eac31a4c0/result
      RequestId:
      - b45bc54f-8471-4e53-981e-b6aa31ff7990
      x-ms-operation-id:
      - 8b638c1a-bd45-484a-b339-ca9eac31a4c0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8b638c1a-bd45-484a-b339-ca9eac31a4c0/result
  response:
    body:
      string: '{"id": "d55ed870-9f5a-4dd0-87f0-43904d7a49c0", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5da8dc7d-f13f-4da3-9e9c-6ebf2d955194"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 2bfda259-e29c-4318-b1e0-faeb8fa4701b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5da8dc7d-f13f-4da3-9e9c-6ebf2d955194/items/d55ed870-9f5a-4dd0-87f0-43904d7a49c0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 420b9a55-91c7-442f-82ce-9532525dca44
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5da8dc7d-f13f-4da3-9e9c-6ebf2d955194/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 61429f71-a882-40ce-97b2-775503917d21
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
