interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6baa410d-ed42-47f2-83ea-5b3ea46dd12d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2c12266b-9bf7-4b8d-aace-0fd917e06f79
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 776dcbd3-145e-44cc-a072-08669faa2b0b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/93b67070-9ace-4ea7-bf30-54739e7299c2
      RequestId:
      - 136d3306-abfb-4fc6-9569-ae2fce5e2b12
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 93b67070-9ace-4ea7-bf30-54739e7299c2
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/93b67070-9ace-4ea7-bf30-54739e7299c2
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-03T12:48:01.8104327",
        "lastUpdatedTimeUtc": "2026-09-03T12:48:01.8104327", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/93b67070-9ace-4ea7-bf30-54739e7299c2
      RequestId:
      - b1c9a08e-e25b-41dd-86ed-674d9a42b7a2
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 93b67070-9ace-4ea7-bf30-54739e7299c2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/93b67070-9ace-4ea7-bf30-54739e7299c2/result
  response:
    body:
      string: '{"id": "8bf5d9d7-db52-48fb-999f-5ba41eac3ef7", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "6baa410d-ed42-47f2-83ea-5b3ea46dd12d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - fbf1bc60-de7a-4813-88e1-9a15d3a5c223
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/items/8bf5d9d7-db52-48fb-999f-5ba41eac3ef7?hardDelete=true
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8bfe540b-60e0-4c3b-9729-2a440b7a668f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6baa410d-ed42-47f2-83ea-5b3ea46dd12d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - eed981c9-e666-4fdd-b5f3-9b58fe094fbd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
