interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "48be342b-90a5-4d43-bd10-9484b96aab52",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 30d1c112-5fc4-4cd2-99d4-77f681e01c2c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/48be342b-90a5-4d43-bd10-9484b96aab52/items
  response:
    body:
      string: '{"value": [{"id": "d4ed3077-fab1-45a6-86a0-75ab00a28a2a", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "48be342b-90a5-4d43-bd10-9484b96aab52"},
        {"id": "5fea33af-3d34-46db-b268-e838c7748056", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "48be342b-90a5-4d43-bd10-9484b96aab52"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3e105479-8539-4dbd-aaae-0bb445678855
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/48be342b-90a5-4d43-bd10-9484b96aab52/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9a19466f-67c2-4347-9e42-5065fa37df18
      RequestId:
      - c08309ec-6391-4a12-8eab-98e8eb3c60b3
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9a19466f-67c2-4347-9e42-5065fa37df18
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9a19466f-67c2-4347-9e42-5065fa37df18
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T09:28:24.257043",
        "lastUpdatedTimeUtc": "2026-03-31T09:28:30.9219553", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9a19466f-67c2-4347-9e42-5065fa37df18/result
      RequestId:
      - c1b84831-7c29-4e03-ade4-847415492c97
      x-ms-operation-id:
      - 9a19466f-67c2-4347-9e42-5065fa37df18
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9a19466f-67c2-4347-9e42-5065fa37df18/result
  response:
    body:
      string: '{"id": "1cff1948-5c7c-4516-a852-e4724b4bff52", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "48be342b-90a5-4d43-bd10-9484b96aab52"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ab302921-d9ba-4855-8e6f-be01368190f4
    status:
      code: 200
      message: OK
[...]
