interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "484c6223-5508-44c6-a29c-04d476af4d0a", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1c52869e-08fa-43d5-b06c-5b9b1dfc61a3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/items
  response:
    body:
      string: '{"value": [{"id": "06d8d28e-6095-45f5-99bd-f59561fe7000", "type": "SQLEndpoint",
        "displayName": "fabcli000001", "description": "", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"},
        {"id": "cf95db94-f350-4b3a-a6c6-2c70b0c14078", "type": "DataPipeline", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"},
        {"id": "69a9a0a4-9e15-4644-b467-61a4a19c43b6", "type": "Environment", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"},
        {"id": "579fbe20-71f3-4952-b129-1ffff[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MLModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/mlModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dc32d432-6868-48b7-88dc-b6b02b836a8e
      RequestId:
      - b17d8268-6bd9-499e-b42a-62e6eb3278d8
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - dc32d432-6868-48b7-88dc-b6b02b836a8e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dc32d432-6868-48b7-88dc-b6b02b836a8e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T07:23:36.7293787",
        "lastUpdatedTimeUtc": "2026-01-19T07:23:37.2452557", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dc32d432-6868-48b7-88dc-b6b02b836a8e/result
      RequestId:
      - 2c6c776f-90de-4d90-a457-9f9f099e980a
      x-ms-operation-id:
      - dc32d432-6868-48b7-88dc-b6b02b836a8e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dc32d432-6868-48b7-88dc-b6b02b836a8e/result
  response:
    body:
      string: '{"id": "b98df3fd-e1c7-4918-bd51-25a824a60882", "type": "MLModel", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 5f22cf4e-e489-4154-a64a-32e3fe57910e
    status:
      code: 200
      message: OK
[...]
