interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "484c6223-5508-44c6-a29c-04d476af4d0a", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7fbcb467-ace3-481c-bdb1-8e5f907e5257
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/items
  response:
    body:
      string: '{"value": [{"id": "cf95db94-f350-4b3a-a6c6-2c70b0c14078", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "69a9a0a4-9e15-4644-b467-61a4a19c43b6",
        "type": "Environment", "displayName": "fabcli000001", "description": "Created
        by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f22ff53c-be38-410e-b873-5d1d0a2713f3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/eventhouses
  response:
    body:
      string: '{"id": "579fbe20-71f3-4952-b129-1ffffb5f32d8", "type": "Eventhouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "484c6223-5508-44c6-a29c-04d476af4d0a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 927427ac-f1d5-42ef-a5b2-06dc316babd2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/484c6223-5508-44c6-a29c-04d476af4d0a/items
  response:
    body:
      string: '{"value": [{"id": "cf95db94-f350-4b3a-a6c6-2c70b0c14078", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "69a9a0a4-9e15-4644-b467-61a4a19c43b6",
        "type": "Environment", "displayName": "fabcli000001", "description": "Created
        by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "579fbe20-71f3-4952-b129-1ffffb5f32d8",
        "type": "Eventhouse", "displayName": "fabcli000001", "description": "Created
        by fab", "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}, {"id": "13963829-92c5-4574-a66b-3f12b32d20bc",
        "type": "KQLDatabase", "displayName": "fabcli000001", "description": "fabcli000001",
        "workspaceId": "484c6223-5508-44c6-a29c-04d476af4d0a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ace4b81f-8328-4cff-b4c6-7232e9b244fc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
