interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8e256b27-81fb-4599-9f35-81f54a7ae570
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3a42ced-efa8-497d-b2e0-e7f5bc1149e6/items
  response:
    body:
      string: '{"value": [{"id": "912e93bd-bdff-4cc6-8abf-a2331c763506", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}, {"id": "6062fd74-e26c-4a3f-ba9a-b6e3b55284a5",
        "type": "DigitalTwinBuilder", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}, {"id": "e30be52f-cae8-4586-88f2-d421b1236a37",
        "type": "Lakehouse", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}, {"id": "ba76572d-7526-4636-8329-db337f7a1d99",
        "type": "DigitalTwinBuilderFlow", "displayName": "fabcli000001_autoOnDemand",
        "description": "", "workspaceId": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3ece8dbb-d161-4ab5-9a53-f1a2caf6e57a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3a42ced-efa8-497d-b2e0-e7f5bc1149e6/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1b1d1c6f-1625-4cb1-8402-a4cddefb2d42
      RequestId:
      - 47a82719-6505-4f98-a3f4-2fa98e72ff98
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 1b1d1c6f-1625-4cb1-8402-a4cddefb2d42
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1b1d1c6f-1625-4cb1-8402-a4cddefb2d42
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:20:58.5206646",
        "lastUpdatedTimeUtc": "2026-05-13T07:21:09.6787121", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1b1d1c6f-1625-4cb1-8402-a4cddefb2d42/result
      RequestId:
      - ea60a460-ae5b-40b9-9f99-587bd6f68406
      x-ms-operation-id:
      - 1b1d1c6f-1625-4cb1-8402-a4cddefb2d42
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1b1d1c6f-1625-4cb1-8402-a4cddefb2d42/result
  response:
    body:
      string: '{"id": "c2a4218b-ea04-4b6c-ae78-566a4a45202e", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "a3a42ced-efa8-497d-b2e0-e7f5bc1149e6"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - bdcebf76-68a6-4f13-b38c-1efe3e59316e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3a42ced-efa8-497d-b2e0-e7f5bc1149e6/items/c2a4218b-ea04-4b6c-ae78-566a4a45202e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6f6f8039-7ab7-49f3-8607-f812c0ac5f45
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
