interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "48be342b-90a5-4d43-bd10-9484b96aab52",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9d0c2d5b-d760-4897-859b-d5d06c8a9f14
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/48be342b-90a5-4d43-bd10-9484b96aab52/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - eda54c73-cf71-441b-8b38-6b582c01bcea
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/48be342b-90a5-4d43-bd10-9484b96aab52/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/122d7ad4-4ded-4a45-bf90-7e81a68d9aa1
      RequestId:
      - 374f3266-e2ad-45bb-bf29-303dab4f3476
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 122d7ad4-4ded-4a45-bf90-7e81a68d9aa1
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/122d7ad4-4ded-4a45-bf90-7e81a68d9aa1
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T09:27:52.7443438",
        "lastUpdatedTimeUtc": "2026-03-31T09:28:01.0623949", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/122d7ad4-4ded-4a45-bf90-7e81a68d9aa1/result
      RequestId:
      - 05d9dae6-16a0-48ed-9c11-c64a19d9954b
      x-ms-operation-id:
      - 122d7ad4-4ded-4a45-bf90-7e81a68d9aa1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/122d7ad4-4ded-4a45-bf90-7e81a68d9aa1/result
  response:
    body:
      string: '{"id": "c3c0c023-70f0-4bf2-a2b9-6e22afcd302b", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "workspaceId":
        "48be342b-90a5-4d43-bd10-9484b96aab52"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ec2bcc77-afdc-4383-bbf9-9af4fd7a2c38
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/48be342b-90a5-4d43-bd10-9484b96aab52/items/c3c0c023-70f0-4bf2-a2b9-6e22afcd302b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 03b7e701-6177-4330-8510-12e130afcd76
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/48be342b-90a5-4d43-bd10-9484b96aab52/items
  response:
    body:
      string: '{"value": [{"id": "d4ed3077-fab1-45a6-86a0-75ab00a28a2a", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "48be342b-90a5-4d43-bd10-9484b96aab52"},
        {"id": "5fea33af-3d34-46db-b268-e838c7748056", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "48be342b-90a5-4d43-bd10-9484b96aab52"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - aff5dd07-7f8c-476e-976d-9e50185e6510
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
