interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "20e4c8f8-f961-49fd-947f-28f477f881fb",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3f81d35e-3045-43b3-822f-01bc3026ba78
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/20e4c8f8-f961-49fd-947f-28f477f881fb/items
  response:
    body:
      string: '{"value": [{"id": "58b90332-8f80-43e4-b2bb-ef3986a3a85e", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "20e4c8f8-f961-49fd-947f-28f477f881fb"},
        {"id": "fa36ad95-cc47-4107-93e5-07acdf481a96", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "20e4c8f8-f961-49fd-947f-28f477f881fb"},
        {"id": "c369e379-7161-4048-86ec-47aa9b144d84", "type": "SQLEndpoint", "displayName":
        "fabcli000001", "description": "", "workspaceId": "20e4c8f8-f961-49fd-947f-28f477f881fb"},
        {"id": "a654c2e9-b856-46a5-a713-03db7d9bf9aa", "type": "SQLEnd[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/20e4c8f8-f961-49fd-947f-28f477f881fb/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7d0d07f9-c362-4188-a914-48f1add6dd6b
      RequestId:
      - 7da4eea8-ccf3-43a4-9491-a8372eff741e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7d0d07f9-c362-4188-a914-48f1add6dd6b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7d0d07f9-c362-4188-a914-48f1add6dd6b
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T13:09:25.3628814",
        "lastUpdatedTimeUtc": "2026-02-03T13:09:31.2385925", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7d0d07f9-c362-4188-a914-48f1add6dd6b/result
      RequestId:
      - 15481145-b7b3-4be1-ba7d-106859992e81
      x-ms-operation-id:
      - 7d0d07f9-c362-4188-a914-48f1add6dd6b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7d0d07f9-c362-4188-a914-48f1add6dd6b/result
  response:
    body:
      string: '{"id": "0803cd5b-5932-4e23-b036-01dc0f8624a6", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "20e4c8f8-f961-49fd-947f-28f477f881fb"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ca259f5b-d2d1-419e-b53c-3abdd10bde8c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/20e4c8f8-f961-49fd-947f-28f477f881fb/items/0803cd5b-5932-4e23-b036-01dc0f8624a6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3c8871ea-d845-4979-9548-8665287935c8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
