interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "20e4c8f8-f961-49fd-947f-28f477f881fb",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 614aea45-3a61-4498-9a36-43fee37bf7fc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/20e4c8f8-f961-49fd-947f-28f477f881fb/items
  response:
    body:
      string: '{"value": [{"id": "58b90332-8f80-43e4-b2bb-ef3986a3a85e", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "20e4c8f8-f961-49fd-947f-28f477f881fb"},
        {"id": "fa36ad95-cc47-4107-93e5-07acdf481a96", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "20e4c8f8-f961-49fd-947f-28f477f881fb"},
        {"id": "9d0b70c5-f3a8-4a74-86d3-29fa9a218e7c", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "20e4c8f8-f961-49fd-947f-28f477f881fb"},
        {"id": "5947c048-e82e-4d9d-8050-9784d7a1ee8f", "type": "Digi[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "UserDataFunction", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/20e4c8f8-f961-49fd-947f-28f477f881fb/userdatafunctions
  response:
    body:
      string: '{"id": "0950972e-2faa-4809-8944-e227912b77d2", "type": "UserDataFunction",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "20e4c8f8-f961-49fd-947f-28f477f881fb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7849600a-6dab-46cc-bf37-8b47a1387857
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
