interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "916933dd-72f5-4d84-84d3-3552275d7fbc",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 39212374-f1ca-42d0-909e-07cec3804c35
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/916933dd-72f5-4d84-84d3-3552275d7fbc
  response:
    body:
      string: '{"id": "916933dd-72f5-4d84-84d3-3552275d7fbc", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "West Europe", "oneLakeEndpoints": {"blobEndpoint": "https://westeurope-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://westeurope-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a0f40257-c715-41c6-a965-f01b35d3f7ff
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/916933dd-72f5-4d84-84d3-3552275d7fbc/provisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/ac00ac57-5e74-4c5a-9ade-565fa5daaeab
      RequestId:
      - 7773726a-258c-4b4c-bdf1-d3fcedd1b64e
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ac00ac57-5e74-4c5a-9ade-565fa5daaeab
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/ac00ac57-5e74-4c5a-9ade-565fa5daaeab
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2025-09-03T06:57:49.5781326",
        "lastUpdatedTimeUtc": "2025-09-03T06:57:49.5937492", "percentComplete": null,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/ac00ac57-5e74-4c5a-9ade-565fa5daaeab
      RequestId:
      - 7f309cd9-01ce-4261-ad94-26238aa8ed87
      Retry-After:
      - '5'
      x-ms-operation-id:
      - ac00ac57-5e74-4c5a-9ade-565fa5daaeab
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/ac00ac57-5e74-4c5a-9ade-565fa5daaeab/result
  response:
    body:
      string: '{"applicationId": "e27ef571-fb8f-451e-a0a4-c141b638cb6d", "servicePrincipalId":
        "808aca39-0db4-484a-96db-c04e9e0b3e7b"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 6de92c65-1ebd-4c62-8fd4-6705fcd72f91
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/916933dd-72f5-4d84-84d3-3552275d7fbc
  response:
    body:
      string: '{"id": "916933dd-72f5-4d84-84d3-3552275d7fbc", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "West Europe", "oneLakeEndpoints": {"blobEndpoint": "https://westeurope-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://westeurope-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed", "workspaceIdentity": {"applicationId": "e27ef571-fb8f-451e-a0a4-c141b638cb6d",
        "servicePrincipalId": "808aca39-0db4-484a-96db-c04e9e0b3e7b"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a230b451-7608-4d41-a844-5f1e0a15079c
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/916933dd-72f5-4d84-84d3-3552275d7fbc/deprovisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/66e215b1-d178-4ade-be69-06df095f170a
      RequestId:
      - a4eb8371-7710-498d-a1a9-422349cf9e3f
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 66e215b1-d178-4ade-be69-06df095f170a
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/66e215b1-d178-4ade-be69-06df095f170a/result
  response:
    body:
      string: '{"requestId": "9d5439ec-4814-4c9e-807a-85c7bbdd7814", "errorCode":
        "OperationHasNoResult", "message": "The operation has no result"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9d5439ec-4814-4c9e-807a-85c7bbdd7814
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - OperationHasNoResult
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/916933dd-72f5-4d84-84d3-3552275d7fbc
  response:
    body:
      string: '{"id": "916933dd-72f5-4d84-84d3-3552275d7fbc", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "West Europe", "oneLakeEndpoints": {"blobEndpoint": "https://westeurope-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://westeurope-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0f855459-a4e3-4cc6-9467-231adab9c387
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
