interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "3a543a45-29e9-4a66-a271-6c6795d96394",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - afdf8c88-b618-4155-8ab8-4ba73f62826d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a543a45-29e9-4a66-a271-6c6795d96394/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1aca0a7d-b96a-4ed5-9a81-0e517867d844
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a543a45-29e9-4a66-a271-6c6795d96394/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f50d7f0c-29a8-4464-af12-bfbc18548af3
      RequestId:
      - 3b348ec9-e831-4487-b0b2-c316393d0328
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - f50d7f0c-29a8-4464-af12-bfbc18548af3
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f50d7f0c-29a8-4464-af12-bfbc18548af3
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-09-09T07:01:01.3228234",
        "lastUpdatedTimeUtc": "2026-09-09T07:01:07.0922369", "percentComplete": 100,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f50d7f0c-29a8-4464-af12-bfbc18548af3/result
      RequestId:
      - 2520e3c7-f368-4401-93d6-96a70721dfb6
      x-ms-operation-id:
      - f50d7f0c-29a8-4464-af12-bfbc18548af3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f50d7f0c-29a8-4464-af12-bfbc18548af3/result
  response:
    body:
      string: '{"id": "44adbe85-dd77-449d-b1bf-326860690aed", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "3a543a45-29e9-4a66-a271-6c6795d96394"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 66942ed7-2626-427e-a0a8-b1745d7dc997
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a543a45-29e9-4a66-a271-6c6795d96394/items/44adbe85-dd77-449d-b1bf-326860690aed
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - eecd2b5c-292c-45b6-95e6-f14661195688
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a543a45-29e9-4a66-a271-6c6795d96394/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 181e606c-f814-4f21-ae5d-577a1e929eac
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
