interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "9af26243-c0ec-4d3c-a18a-6229a427943e", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 917f305b-76dc-4abf-87c4-e0db9baf82bd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/items
  response:
    body:
      string: '{"value": [{"id": "03400018-13bb-41ee-96fb-53b483bd55ae", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "9af26243-c0ec-4d3c-a18a-6229a427943e"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 62d067a4-b0a0-4f4b-8e0b-1e16e148b8b2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Dataflow", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/dataflows
  response:
    body:
      string: '{"id": "4fdc3a4d-0a69-4e59-b47a-d2e35ae6c97c", "type": "Dataflow",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9af26243-c0ec-4d3c-a18a-6229a427943e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 3b134c0d-d46d-4fe1-8ac2-7afe5021f17f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/items/4fdc3a4d-0a69-4e59-b47a-d2e35ae6c97c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 38724e30-0a9d-48a3-916f-682faf4ef6a2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9af26243-c0ec-4d3c-a18a-6229a427943e/items
  response:
    body:
      string: '{"value": [{"id": "03400018-13bb-41ee-96fb-53b483bd55ae", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "9af26243-c0ec-4d3c-a18a-6229a427943e"},
        {"id": "ab22e516-e8d0-4570-8018-e20ca5af0d9b", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260119071359", "description": "", "workspaceId":
        "9af26243-c0ec-4d3c-a18a-6229a427943e"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 593da996-6b43-40a3-b07c-cf0774652897
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
