interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "2dd107fb-4ef1-422f-9775-d8f3b673bb56",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b76b712d-4bff-434a-b370-8e99ac1017f3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2dd107fb-4ef1-422f-9775-d8f3b673bb56/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 95ae023e-3657-47ec-bf81-fbff75c9563a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2dd107fb-4ef1-422f-9775-d8f3b673bb56/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9d0e227b-6e00-4ee0-b357-5772f25a1e54
      RequestId:
      - 661564cf-6d0b-4dbd-99eb-5a6ff20f0843
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9d0e227b-6e00-4ee0-b357-5772f25a1e54
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9d0e227b-6e00-4ee0-b357-5772f25a1e54
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-14T12:48:34.7969595",
        "lastUpdatedTimeUtc": "2026-04-14T12:48:43.6405446", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9d0e227b-6e00-4ee0-b357-5772f25a1e54/result
      RequestId:
      - d47e9eab-f164-4499-9301-1a63836c2983
      x-ms-operation-id:
      - 9d0e227b-6e00-4ee0-b357-5772f25a1e54
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9d0e227b-6e00-4ee0-b357-5772f25a1e54/result
  response:
    body:
      string: '{"id": "25fee7c5-df93-45cc-ae89-cadbd485ef72", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "2dd107fb-4ef1-422f-9775-d8f3b673bb56"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ae63e57f-374c-4bbd-9c27-4f10f4669e4e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2dd107fb-4ef1-422f-9775-d8f3b673bb56/items/25fee7c5-df93-45cc-ae89-cadbd485ef72
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f89b7329-7021-4700-a3f6-e6df56d642ff
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2dd107fb-4ef1-422f-9775-d8f3b673bb56/items
  response:
    body:
      string: '{"value": [{"id": "1c478a2d-bec9-4fa5-9ad3-6e9d71ea345c", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "2dd107fb-4ef1-422f-9775-d8f3b673bb56"},
        {"id": "2490d4d8-01b3-44a1-abbd-8e938f9987a8", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "2dd107fb-4ef1-422f-9775-d8f3b673bb56"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 045ef4d2-8e2f-49e0-b739-9a371a901bbc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
