interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "944d1f82-dc2f-4928-a098-ae36aea563e3", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bb65975c-a3ae-4114-b8bd-ce6117e3ec12
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/944d1f82-dc2f-4928-a098-ae36aea563e3/items
  response:
    body:
      string: '{"value": [{"id": "417d79d6-74b5-4aae-8ef1-a57afa5d7e89", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "944d1f82-dc2f-4928-a098-ae36aea563e3"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4b990ced-9141-4ffa-97f0-ee070c3fa18e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/944d1f82-dc2f-4928-a098-ae36aea563e3/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/11309e8d-a2fc-40f1-a09f-fdb77ee40508
      RequestId:
      - f8512e39-6dd2-4e89-ac9f-0bc05a892bb6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 11309e8d-a2fc-40f1-a09f-fdb77ee40508
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/11309e8d-a2fc-40f1-a09f-fdb77ee40508
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T06:35:42.0974475",
        "lastUpdatedTimeUtc": "2026-01-19T06:35:54.3012087", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/11309e8d-a2fc-40f1-a09f-fdb77ee40508/result
      RequestId:
      - c133c144-f75d-4e09-a6e8-bc0d82864d89
      x-ms-operation-id:
      - 11309e8d-a2fc-40f1-a09f-fdb77ee40508
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/11309e8d-a2fc-40f1-a09f-fdb77ee40508/result
  response:
    body:
      string: '{"id": "8c99fc7e-ff94-4f4b-9485-938c0108ac80", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "944d1f82-dc2f-4928-a098-ae36aea563e3"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 5ed17ac8-755e-4abc-a2d9-cddcb9450029
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/944d1f82-dc2f-4928-a098-ae36aea563e3/items/8c99fc7e-ff94-4f4b-9485-938c0108ac80
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a14190d3-ef6b-44b4-b607-e758260a52dd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/944d1f82-dc2f-4928-a098-ae36aea563e3/items
  response:
    body:
      string: '{"value": [{"id": "417d79d6-74b5-4aae-8ef1-a57afa5d7e89", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "944d1f82-dc2f-4928-a098-ae36aea563e3"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 145fb339-21aa-4d06-a446-e2400122541c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
