
.md-header {
  background-color: var(--md-primary-fg-color);
}

.md-tabs {
  background-color: var(--md-primary-fg-color--dark);
}

:root  > * {
  --md-primary-fg-color: #009688;
  --md-primary-fg-color--light: #277c74;
  --md-primary-fg-color--dark: #00796b;
  --md-accent-fg-color: #26a69a;
  --md-accent-fg-color--light: #26a69a;
  --md-accent-fg-color--dark: #00796b;
}

.highlight .fab,
code .fab {
    background-color: #4caf50;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
