interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "1d88042e-8e95-44ab-9a35-80bc7eeb9b58", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6c1a3976-55f1-4924-9d8a-45eb57502aea
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d98c971b-49f1-47dc-a508-a0e34f44a9ef
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "DataPipeline", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001", "definition": {"parts": [{"path": "pipeline-content.json",
      "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgImFjdGl2aXRpZXMiOiBbCiAgICAgICAgICAgIHsKICAgICAgICAgICAgICAgICJuYW1lIjogIlJ1bk5vdGVib29rIiwKICAgICAgICAgICAgICAgICJ0eXBlIjogIlRyaWRlbnROb3RlYm9vayIsCiAgICAgICAgICAgICAgICAiZGVwZW5kc09uIjogW10sCiAgICAgICAgICAgICAgICAicG9saWN5IjogewogICAgICAgICAgICAgICAgICAgICJ0aW1lb3V0IjogIjAuMTI6MDA6MDAiLAogICAgICAgICAgICAgICAgICAgICJyZXRyeSI6IDAsCiAgICAgICAgICAgICAgICAgICAgInJldHJ5SW50ZXJ2YWxJblNlY29uZHMiOiAzMCwKICAgICAgICAgICAgICAgICAgICAic2VjdXJlT3V0cHV0IjogZmFsc2UsCi[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items
  response:
    body:
      string: '{"value": [{"id": "692361eb-8058-4fce-819c-7fcd03a0df03", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "1d88042e-8e95-44ab-9a35-80bc7eeb9b58"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - abb2229e-f368-4e89-8318-7e06b74bc2e9
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"enabled": true, "configuration": {"type": "Cron", "startDateTime": "2024-01-23T00:00:00",
      "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId": "Central Standard Time",
      "interval": 10}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items/692361eb-8058-4fce-819c-7fcd03a0df03/jobs/Pipeline/schedules
  response:
    body:
      string: '{"id": "44eb65e2-e83f-4c11-8eed-f101e9aeed1e", "enabled": true, "createdDateTime":
        "2025-11-10T20:32:34.3766667", "configuration": {"type": "Cron", "startDateTime":
        "2024-01-23T00:00:00", "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId":
        "Central Standard Time", "interval": 10}, "owner": {"id": "2ed4a6b4-687e-466d-a03f-1bca2e5754d4",
        "type": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items/692361eb-8058-4fce-819c-7fcd03a0df03/jobs/Pipeline/schedules/44eb65e2-e83f-4c11-8eed-f101e9aeed1e
      RequestId:
      - 7e628b6b-cff3-46fb-8d85-a6e798f205bd
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items/692361eb-8058-4fce-819c-7fcd03a0df03/jobs/Pipeline/schedules/44eb65e2-e83f-4c11-8eed-f101e9aeed1e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - fd142d59-c8a3-4e91-951c-0748a38bbcf4
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items/692361eb-8058-4fce-819c-7fcd03a0df03
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 7fd7905a-29b8-41e5-b0e4-170c8ca20a47
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
