interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "1d88042e-8e95-44ab-9a35-80bc7eeb9b58", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f88686ef-719d-4467-bd3e-5cb210ac4af7
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8ba98304-6dc8-4b55-8fcd-ea988355bfee
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Notebook", "description": "Imported from fab", "folderId": null,
      "displayName": "fabcli000001", "definition": {"format": "ipynb", "parts": [{"path":
      "notebook-content.ipynb", "payload": "ewogICAgImNlbGxzIjogWwogICAgICAgIHsKICAgICAgICAgICAgImNlbGxfdHlwZSI6ICJjb2RlIiwKICAgICAgICAgICAgImV4ZWN1dGlvbl9jb3VudCI6IG51bGwsCiAgICAgICAgICAgICJtZXRhZGF0YSI6IHsKICAgICAgICAgICAgICAgICJtaWNyb3NvZnQiOiB7CiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlIjogInB5dGhvbiIsCiAgICAgICAgICAgICAgICAgICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgfSwKICAgICAgICAgICAgIm91dHB1dHMiOiBbXSwKICAgICAgICAgICAgInNvdXJjZSI6IFsKICAgICAgICAgICAgICAgICIjIFdlbGNvbWUgdG8geW91ciBuZX[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-north-europe-f-primary-redirect.analysis.windows.net/v1/operations/e4e0e355-369d-42ad-9d15-c5b62b933007
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-11-10T20:32:00.7731498",
        "lastUpdatedTimeUtc": "2025-11-10T20:32:02.8356634", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/v1/operations/e4e0e355-369d-42ad-9d15-c5b62b933007/result
      RequestId:
      - 9a5e6a8d-fcf3-4aa1-a565-76c01243d866
      x-ms-operation-id:
      - e4e0e355-369d-42ad-9d15-c5b62b933007
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-north-europe-f-primary-redirect.analysis.windows.net/v1/operations/e4e0e355-369d-42ad-9d15-c5b62b933007/result
  response:
    body:
      string: '{"id": "00e17e27-8d54-4cb9-913e-31e4a60c7669", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "1d88042e-8e95-44ab-9a35-80bc7eeb9b58"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f917cdc8-d5ed-47f1-ad89-fa2bba435a36
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"enabled": true, "configuration": {"type": "Cron", "startDateTime": "2024-01-23T00:00:00",
      "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId": "Central Standard Time",
      "interval": 10}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items/00e17e27-8d54-4cb9-913e-31e4a60c7669/jobs/RunNotebook/schedules
  response:
    body:
      string: '{"id": "a9333d1d-42f5-4de7-8286-65560d445c60", "enabled": true, "createdDateTime":
        "2025-11-10T20:32:22.6133333", "configuration": {"type": "Cron", "startDateTime":
        "2024-01-23T00:00:00", "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId":
        "Central Standard Time", "interval": 10}, "owner": {"id": "2ed4a6b4-687e-466d-a03f-1bca2e5754d4",
        "type": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items/00e17e27-8d54-4cb9-913e-31e4a60c7669/jobs/RunNotebook/schedules/a9333d1d-42f5-4de7-8286-65560d445c60
      RequestId:
      - 7cf0bd85-e739-4253-a35f-ed426ee8b3ee
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items/00e17e27-8d54-4cb9-913e-31e4a60c7669/jobs/RunNotebook/schedules/a9333d1d-42f5-4de7-8286-65560d445c60
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e7e9926f-3900-4e55-b040-0250f540ad49
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items/00e17e27-8d54-4cb9-913e-31e4a60c7669
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8ff0ecfc-d1a0-47d7-a634-62a9e642a255
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
