interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "49ab4e5d-367c-4f8b-a7a5-275cc77e5ec2",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a83a98c4-3cec-4613-b92e-222a951b4cdb
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3f3884df-3f7d-4bea-bf8b-df0cb86c07d6
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "695c69a8-32f7-4bee-9635-86e62551367b", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/695c69a8-32f7-4bee-9635-86e62551367b
      RequestId:
      - 39edb18e-4400-4164-ae3d-b651429c542f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/admin/domains
  response:
    body:
      string: '{"domains": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 55e49faa-2a54-48d8-82f0-098de7cd3386
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000002"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/admin/domains
  response:
    body:
      string: '{"contributorsScope": "AllTenant", "id": "e8cfe17b-4750-4487-9f23-5f2e2088f3af",
        "displayName": "fabcli000002", "description": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/admin/domains/e8cfe17b-4750-4487-9f23-5f2e2088f3af
      RequestId:
      - 6c8aed3b-4e0b-4c13-a827-97b524821917
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"workspacesIds": ["695c69a8-32f7-4bee-9635-86e62551367b"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/admin/domains/e8cfe17b-4750-4487-9f23-5f2e2088f3af/assignWorkspaces
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 170588cd-3c9b-4ae2-afe8-080ed902e494
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/admin/domains/e8cfe17b-4750-4487-9f23-5f2e2088f3af
  response:
    body:
      string: '{"contributorsScope": "AllTenant", "id": "e8cfe17b-4750-4487-9f23-5f2e2088f3af",
        "displayName": "fabcli000002", "description": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 08802dc0-23b2-44d4-b170-08687ab0aace
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/admin/domains/e8cfe17b-4750-4487-9f23-5f2e2088f3af/workspaces
  response:
    body:
      string: '{"value": [{"id": "695c69a8-32f7-4bee-9635-86e62551367b", "displayName":
        "fabcli000001"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 96399cf2-1a25-41ce-87cd-c89ee200d771
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "49ab4e5d-367c-4f8b-a7a5-275cc77e5ec2",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "695c69a8-32f7-4bee-9635-86e62551367b", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "domainId": "e8cfe17b-4750-4487-9f23-5f2e2088f3af"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 43dfdda7-827d-410c-ab8f-78b66bfdb105
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/695c69a8-32f7-4bee-9635-86e62551367b/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 08e8386d-785e-431c-878c-588ba5c898fa
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/695c69a8-32f7-4bee-9635-86e62551367b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d54c23c9-653e-437a-a2bf-e3493df7e0d9
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/admin/domains/e8cfe17b-4750-4487-9f23-5f2e2088f3af
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6b4e1aaf-9a17-4590-9f5f-5665d5ee8cb7
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
