interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c949d407-d701-4e5f-90e5-c67dd55544d4",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 651b327d-926b-4743-bec8-cf0e904d2ada
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d8c4a2b4-cfb0-47e6-b4b1-e7255431338b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/folders
  response:
    body:
      string: '{"id": "c2bd2efc-5dd7-45b3-9d45-a09966d106bd", "displayName": "fabcli000001",
        "workspaceId": "c949d407-d701-4e5f-90e5-c67dd55544d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/folders/c2bd2efc-5dd7-45b3-9d45-a09966d106bd
      RequestId:
      - d79ec765-6cf6-466d-ad47-1612e9241b76
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6195f4ac-7700-4aeb-ad26-19f674a1f93d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "Notebook", "folderId": "c2bd2efc-5dd7-45b3-9d45-a09966d106bd",
      "definition": {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/98928d10-b7d9-48a5-a9cb-c92b6e326b01
      RequestId:
      - 06b39ce9-83cc-4a84-a62c-e7cbc04d415e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 98928d10-b7d9-48a5-a9cb-c92b6e326b01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/98928d10-b7d9-48a5-a9cb-c92b6e326b01
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-07-14T08:54:34.8955546",
        "lastUpdatedTimeUtc": "2026-07-14T08:54:37.941263", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/98928d10-b7d9-48a5-a9cb-c92b6e326b01/result
      RequestId:
      - ec7bfbd5-80b3-47a5-9aa3-ccbf7237e883
      x-ms-operation-id:
      - 98928d10-b7d9-48a5-a9cb-c92b6e326b01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/98928d10-b7d9-48a5-a9cb-c92b6e326b01/result
  response:
    body:
      string: '{"id": "1f0f3a1f-c1eb-4a09-9497-ee0b84608583", "type": "Notebook",
        "displayName": "fabcli000002", "description": "", "workspaceId": "c949d407-d701-4e5f-90e5-c67dd55544d4",
        "folderId": "c2bd2efc-5dd7-45b3-9d45-a09966d106bd"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - dd5ca331-fb54-4999-be63-573e8174e23e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000003", "type": "Environment", "folderId": "c2bd2efc-5dd7-45b3-9d45-a09966d106bd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/environments
  response:
    body:
      string: '{"id": "77053826-ecf2-4bd9-9969-61ee6d4b2622", "type": "Environment",
        "displayName": "fabcli000003", "description": "", "workspaceId": "c949d407-d701-4e5f-90e5-c67dd55544d4",
        "folderId": "c2bd2efc-5dd7-45b3-9d45-a09966d106bd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7bec2b13-1329-4e0b-bc19-dbf146c7b004
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"items": [{"id": "1f0f3a1f-c1eb-4a09-9497-ee0b84608583"}], "mode": "Selective"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/items/bulkExportDefinitions?beta=true
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/91ac027e-52c7-4bd1-a5c5-c6b256203150
      RequestId:
      - bbde3079-6ee8-4da2-b993-e6ff9f2b187c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 91ac027e-52c7-4bd1-a5c5-c6b256203150
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/91ac027e-52c7-4bd1-a5c5-c6b256203150/result
  response:
    body:
      string: '{"itemDefinitionsIndex": [{"id": "1f0f3a1f-c1eb-4a09-9497-ee0b84608583",
        "rootPath": "/fabcli000001/fabcli000002.Notebook"}], "definitionParts": [{"path":
        "/fabcli000001/fabcli000002.Notebook/.platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIk5vdGVib29rIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGl1eG12cnptcjVlIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjg0NjA4NTgzLWVlMGItOTQ5Ny00YTA5LWMxZWIxZjBmM2ExZiIKICB9Cn0=",
        "payloadType": "InlineBase64"}, {"path": "/fabcli000001/fabcli000002.Notebook/notebook-content.py",
        "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
        "payloadType": "InlineBase64"}]}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - cb3c2b0e-a827-4736-b2f6-ce983829028d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/items/77053826-ecf2-4bd9-9969-61ee6d4b2622
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 00ee54a5-f387-40fa-8dcf-ccb0f648bf03
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/folders/c2bd2efc-5dd7-45b3-9d45-a09966d106bd
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2842f12d-f174-4b19-945d-862bbce1db4a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
