interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c949d407-d701-4e5f-90e5-c67dd55544d4",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7af7a3ba-b326-4c85-93b4-d2543e423a2a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 91994d06-359c-4cf2-8088-0cdb62372ef0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "451a460c-6fb8-4275-a9d7-f8793782fcc6", "displayName": "fabcli000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/451a460c-6fb8-4275-a9d7-f8793782fcc6
      RequestId:
      - 1d71b951-ca70-49a3-9b2d-1cfeb00169d4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/451a460c-6fb8-4275-a9d7-f8793782fcc6/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b28b8d6e-3d9c-44d9-a553-64631111ab1d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/451a460c-6fb8-4275-a9d7-f8793782fcc6/folders
  response:
    body:
      string: '{"id": "3c6846e6-d70a-4b1b-a151-83b9c6b252ef", "displayName": "fabcli000003",
        "workspaceId": "451a460c-6fb8-4275-a9d7-f8793782fcc6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/451a460c-6fb8-4275-a9d7-f8793782fcc6/folders/3c6846e6-d70a-4b1b-a151-83b9c6b252ef
      RequestId:
      - 363a118a-5ecc-4496-9c59-13bff86f54af
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/451a460c-6fb8-4275-a9d7-f8793782fcc6/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9bfae61d-9e0d-4250-b722-ff087e5fac5a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000004", "type": "Notebook", "folderId": null, "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/451a460c-6fb8-4275-a9d7-f8793782fcc6/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f764d09c-3865-4b51-8fa0-481a763e5ba3
      RequestId:
      - a6829bc9-61bb-4bb0-858b-467e568a35fd
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - f764d09c-3865-4b51-8fa0-481a763e5ba3
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f764d09c-3865-4b51-8fa0-481a763e5ba3
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-07-14T08:56:03.2825067",
        "lastUpdatedTimeUtc": "2026-07-14T08:56:04.9879138", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f764d09c-3865-4b51-8fa0-481a763e5ba3/result
      RequestId:
      - 5b968398-f3ee-4d13-815f-aa9940cead68
      x-ms-operation-id:
      - f764d09c-3865-4b51-8fa0-481a763e5ba3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f764d09c-3865-4b51-8fa0-481a763e5ba3/result
  response:
    body:
      string: '{"id": "59c0cdbe-efc9-41c4-92c1-0d493d0f82c7", "type": "Notebook",
        "displayName": "fabcli000004", "description": "", "workspaceId": "451a460c-6fb8-4275-a9d7-f8793782fcc6"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 37b1dc09-582a-4302-8a6a-52d2360a14f4
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000005", "type": "DataPipeline", "folderId": "3c6846e6-d70a-4b1b-a151-83b9c6b252ef"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/451a460c-6fb8-4275-a9d7-f8793782fcc6/dataPipelines
  response:
    body:
      string: '{"id": "6387f857-5b38-420b-813b-2f3bcfa1458d", "type": "DataPipeline",
        "displayName": "fabcli000005", "description": "", "workspaceId": "451a460c-6fb8-4275-a9d7-f8793782fcc6",
        "folderId": "3c6846e6-d70a-4b1b-a151-83b9c6b252ef"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9e29af18-0616-4224-9de3-4cd8e4601b1b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"items": [], "mode": "All"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/451a460c-6fb8-4275-a9d7-f8793782fcc6/items/bulkExportDefinitions?beta=true
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/092cd025-ace1-4d0d-adae-5c4c77af37a2
      RequestId:
      - 63755a18-271e-4ba9-aef6-14efbfc6e385
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 092cd025-ace1-4d0d-adae-5c4c77af37a2
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/092cd025-ace1-4d0d-adae-5c4c77af37a2/result
  response:
    body:
      string: '{"itemDefinitionsIndex": [{"id": "59c0cdbe-efc9-41c4-92c1-0d493d0f82c7",
        "rootPath": "/fabcli000004.Notebook"}, {"id": "6387f857-5b38-420b-813b-2f3bcfa1458d",
        "rootPath": "/fabcli000003/fabcli000005.DataPipeline"}], "definitionParts":
        [{"path": "/fabcli000004.Notebook/.platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIk5vdGVib29rIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGk4M3lwYmM1OXpkIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjNkMGY4MmM3LTBkNDktOTJjMS00MWM0LWVmYzk1OWMwY2RiZSIKICB9Cn0=",
        "payloadType": "In[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c949d407-d701-4e5f-90e5-c67dd55544d4",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}, {"id": "451a460c-6fb8-4275-a9d7-f8793782fcc6",
        "displayName": "fabcli000001", "description": "", "type": "Workspace", "capacityId":
        "00000000-0000-0000-0000-000000000004", "capacityRegion": "Central US"}, {"id":
        "fffdceba-e51a-4df1-a869-71afb95361cf", "displayName": "fabcli000002", "description":
        "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bf34e4aa-6ccc-4aa3-b4bd-d37708ca3013
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/fffdceba-e51a-4df1-a869-71afb95361cf
  response:
    body:
      string: '{"id": "fffdceba-e51a-4df1-a869-71afb95361cf", "displayName": "fabcli000002",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 30df3a94-f3cd-466d-a8d2-c3a83e0b343f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/fffdceba-e51a-4df1-a869-71afb95361cf/folders
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 40488c71-7f7f-481b-8e48-aa9b7c303753
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/fffdceba-e51a-4df1-a869-71afb95361cf/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 70c8f344-ecd6-42e4-9f3b-af9fdaf6a638
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000004", "type": "Notebook", "description": "",
      "definition": {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDQiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLA[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/451a460c-6fb8-4275-a9d7-f8793782fcc6/items/6387f857-5b38-420b-813b-2f3bcfa1458d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - dffd7857-f0c4-4575-a0e0-1967402b1682
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/451a460c-6fb8-4275-a9d7-f8793782fcc6/folders/3c6846e6-d70a-4b1b-a151-83b9c6b252ef
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c10502ba-e368-43cd-8850-b2264f04eb4a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/451a460c-6fb8-4275-a9d7-f8793782fcc6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c037042c-1f9a-41ff-bed5-aa57f4151de8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/fffdceba-e51a-4df1-a869-71afb95361cf
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0a36d0cc-67a5-44de-9a7d-5c5abcbf9a89
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
