interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c949d407-d701-4e5f-90e5-c67dd55544d4",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ee1194cd-34d5-4e5c-b180-9c72f8e0f2cf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 14a08b3a-9242-4f9c-a78b-07e22e47dd80
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/folders
  response:
    body:
      string: '{"id": "139d63e6-f161-4bc3-800f-f7533603ffc7", "displayName": "fabcli000001",
        "workspaceId": "c949d407-d701-4e5f-90e5-c67dd55544d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/folders/139d63e6-f161-4bc3-800f-f7533603ffc7
      RequestId:
      - c58ba146-1766-45a8-84f3-a4e6212513f0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"displayName": "fabcli000002", "parentFolderId": "139d63e6-f161-4bc3-800f-f7533603ffc7"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/folders
  response:
    body:
      string: '{"id": "6c194025-9a2b-4873-82b2-03de593cd7d8", "displayName": "fabcli000002",
        "parentFolderId": "139d63e6-f161-4bc3-800f-f7533603ffc7", "workspaceId": "c949d407-d701-4e5f-90e5-c67dd55544d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/folders/6c194025-9a2b-4873-82b2-03de593cd7d8
      RequestId:
      - f8031aa6-04b0-4e62-a477-d5833f633871
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5c9a39e3-cb44-4424-9f1c-f1d1120be5c9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000003", "type": "Notebook", "folderId": "139d63e6-f161-4bc3-800f-f7533603ffc7",
      "definition": {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/de688a48-bf8a-4650-89fb-38af4d920f24
      RequestId:
      - e67455a8-424f-4c6c-98d5-658fe0487c31
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - de688a48-bf8a-4650-89fb-38af4d920f24
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/de688a48-bf8a-4650-89fb-38af4d920f24
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-07-14T08:52:15.1755839",
        "lastUpdatedTimeUtc": "2026-07-14T08:52:16.4436585", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/de688a48-bf8a-4650-89fb-38af4d920f24/result
      RequestId:
      - 79f9a657-ea5a-4c17-934a-2f031e9f2b4a
      x-ms-operation-id:
      - de688a48-bf8a-4650-89fb-38af4d920f24
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/de688a48-bf8a-4650-89fb-38af4d920f24/result
  response:
    body:
      string: '{"id": "774667b1-53eb-4ee9-961f-b8c110157a1b", "type": "Notebook",
        "displayName": "fabcli000003", "description": "", "workspaceId": "c949d407-d701-4e5f-90e5-c67dd55544d4",
        "folderId": "139d63e6-f161-4bc3-800f-f7533603ffc7"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 471f46b7-fe4a-4ff9-82d4-3000097d293b
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"items": [], "mode": "All"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/items/bulkExportDefinitions?beta=true
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/894069e4-022a-4cd7-b2ab-bcb87a427901
      RequestId:
      - ddddccbd-5571-40fb-9dcd-3fd4632df4d6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 894069e4-022a-4cd7-b2ab-bcb87a427901
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/894069e4-022a-4cd7-b2ab-bcb87a427901/result
  response:
    body:
      string: '{"itemDefinitionsIndex": [{"id": "774667b1-53eb-4ee9-961f-b8c110157a1b",
        "rootPath": "/fabcli000001/fabcli000003.Notebook"}, {"id": "969878bf-eb31-4e96-a0e9-33b9987513de",
        "rootPath": "/fabcli000001/fabcli000002/fabcli000004.Notebook"}], "definitionParts":
        [{"path": "/fabcli000001/fabcli000003.Notebook/.platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIk5vdGVib29rIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGlubm0ybm1qMGtqIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjEwMTU3YTFiLWI4YzEtOTYxZi00ZWU5LTUzZWI3NzQ2NjdiMSIKICB9Cn0=",
        "payl[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/items/969878bf-eb31-4e96-a0e9-33b9987513de
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 096352f5-f145-4200-acb7-5f01a9e58b18
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/folders/6c194025-9a2b-4873-82b2-03de593cd7d8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ecf5bc08-7d05-4f47-b37f-c164abba766c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/folders/139d63e6-f161-4bc3-800f-f7533603ffc7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1a896382-691d-4323-b37d-b2aeec2febc7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
