interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c949d407-d701-4e5f-90e5-c67dd55544d4",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9a07f30d-c7ab-4b55-87c4-01d9a932c845
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 060e21df-62ec-4331-8fb5-206fe32c6301
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/folders
  response:
    body:
      string: '{"id": "3ee0f3b2-433e-4c97-a0a5-4dfc3aa5326a", "displayName": "fabcli000001",
        "workspaceId": "c949d407-d701-4e5f-90e5-c67dd55544d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/folders/3ee0f3b2-433e-4c97-a0a5-4dfc3aa5326a
      RequestId:
      - d0d2b1b4-b8de-4012-b2d1-dd1fe037152b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d5e6400a-809a-4f4f-901c-bd817c1f4bb2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "Notebook", "folderId": "3ee0f3b2-433e-4c97-a0a5-4dfc3aa5326a",
      "definition": {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/525775d0-1876-4eb9-9a50-833b3291611f
      RequestId:
      - 1eecb714-8ebd-40fd-8851-54dacadd0239
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 525775d0-1876-4eb9-9a50-833b3291611f
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/525775d0-1876-4eb9-9a50-833b3291611f
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-07-14T08:48:42.7085894",
        "lastUpdatedTimeUtc": "2026-07-14T08:48:43.940593", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/525775d0-1876-4eb9-9a50-833b3291611f/result
      RequestId:
      - b8c3b373-45b5-47d9-8a81-738548ad5a03
      x-ms-operation-id:
      - 525775d0-1876-4eb9-9a50-833b3291611f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/525775d0-1876-4eb9-9a50-833b3291611f/result
  response:
    body:
      string: '{"id": "6f12f2ab-e1c0-482d-807f-1656708bcc0c", "type": "Notebook",
        "displayName": "fabcli000002", "description": "", "workspaceId": "c949d407-d701-4e5f-90e5-c67dd55544d4",
        "folderId": "3ee0f3b2-433e-4c97-a0a5-4dfc3aa5326a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 97e7163e-558b-4190-88b1-c733dcbd31d1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/items/6f12f2ab-e1c0-482d-807f-1656708bcc0c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c964bdc4-4c5a-4253-b726-94e2850d7fad
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c949d407-d701-4e5f-90e5-c67dd55544d4/folders/3ee0f3b2-433e-4c97-a0a5-4dfc3aa5326a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 64601240-30c6-455f-beff-44c39caaf5c5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
