interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a459667c-c738-4987-8ac4-a0f917b16a13
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9c4ca6d4-a025-44ff-9814-c1ac26cb5614
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6/folders
  response:
    body:
      string: '{"id": "3b3a59b5-4992-4575-821f-6f102c208191", "displayName": "fabcli000001",
        "workspaceId": "d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6/folders/3b3a59b5-4992-4575-821f-6f102c208191
      RequestId:
      - cb1b344e-3676-48cd-bf3a-5207043d6cf7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cfebb81c-daaf-4651-81e8-e044cc0a5382
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "Notebook", "folderId": "3b3a59b5-4992-4575-821f-6f102c208191",
      "definition": {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/98f7e655-2a11-4c82-815b-cc4da14ce3f6
      RequestId:
      - 9b717484-08f9-4eb4-b40f-3003b0ee648c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 98f7e655-2a11-4c82-815b-cc4da14ce3f6
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/98f7e655-2a11-4c82-815b-cc4da14ce3f6
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-06-28T09:09:27.9856126",
        "lastUpdatedTimeUtc": "2026-06-28T09:09:29.323049", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/98f7e655-2a11-4c82-815b-cc4da14ce3f6/result
      RequestId:
      - 57a9703d-cc98-483e-a333-7ce8e3364c07
      x-ms-operation-id:
      - 98f7e655-2a11-4c82-815b-cc4da14ce3f6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/98f7e655-2a11-4c82-815b-cc4da14ce3f6/result
  response:
    body:
      string: '{"id": "c000fb1f-d0c8-42c2-a8c6-e995ff9dbf1e", "type": "Notebook",
        "displayName": "fabcli000002", "description": "", "workspaceId": "d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6",
        "folderId": "3b3a59b5-4992-4575-821f-6f102c208191"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 183a8f94-52c6-4fb2-b307-fb266feb091a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6/items/c000fb1f-d0c8-42c2-a8c6-e995ff9dbf1e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 185be856-9637-48a1-a754-0b3ec79e1bfb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6/folders/3b3a59b5-4992-4575-821f-6f102c208191
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - fa2187c2-cf51-4be2-a96f-45459c21f5d0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
