interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "0317e494-ca09-4b8e-a1b9-42b06ac4c585",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7e7fcace-7cbd-4069-9ef6-daa769844632
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0317e494-ca09-4b8e-a1b9-42b06ac4c585/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 05f70a37-b6d9-412b-9068-a38b95779c5e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0317e494-ca09-4b8e-a1b9-42b06ac4c585/folders
  response:
    body:
      string: '{"id": "cc1a2fda-8468-4c0e-824c-7a4cad577a4d", "displayName": "fabcli000001",
        "workspaceId": "0317e494-ca09-4b8e-a1b9-42b06ac4c585"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/0317e494-ca09-4b8e-a1b9-42b06ac4c585/folders/cc1a2fda-8468-4c0e-824c-7a4cad577a4d
      RequestId:
      - 566fe644-e0ed-468a-9e09-c9adea5d0739
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"displayName": "fabcli000002", "parentFolderId": "cc1a2fda-8468-4c0e-824c-7a4cad577a4d"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0317e494-ca09-4b8e-a1b9-42b06ac4c585/folders
  response:
    body:
      string: '{"id": "f9aa14f9-1b1a-420f-861c-a11152a62f1d", "displayName": "fabcli000002",
        "parentFolderId": "cc1a2fda-8468-4c0e-824c-7a4cad577a4d", "workspaceId": "0317e494-ca09-4b8e-a1b9-42b06ac4c585"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/0317e494-ca09-4b8e-a1b9-42b06ac4c585/folders/f9aa14f9-1b1a-420f-861c-a11152a62f1d
      RequestId:
      - f093e130-65bb-4e45-9fd4-32d52b064b5b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0317e494-ca09-4b8e-a1b9-42b06ac4c585/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b5abfbbc-2da2-43d2-ace2-91c7edd0267e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000003", "type": "Notebook", "folderId": "cc1a2fda-8468-4c0e-824c-7a4cad577a4d",
      "definition": {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0317e494-ca09-4b8e-a1b9-42b06ac4c585/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2d21c61b-76c8-4e30-9601-c2e50ce5d2ec
      RequestId:
      - ff641f92-af95-4cec-bb1e-a747a99fc314
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 2d21c61b-76c8-4e30-9601-c2e50ce5d2ec
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2d21c61b-76c8-4e30-9601-c2e50ce5d2ec
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-07-20T10:18:34.7388571",
        "lastUpdatedTimeUtc": "2026-07-20T10:18:36.2220317", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2d21c61b-76c8-4e30-9601-c2e50ce5d2ec/result
      RequestId:
      - 21da8f5b-2759-44fd-9af5-201920402009
      x-ms-operation-id:
      - 2d21c61b-76c8-4e30-9601-c2e50ce5d2ec
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2d21c61b-76c8-4e30-9601-c2e50ce5d2ec/result
  response:
    body:
      string: '{"id": "ecd96630-f480-4aa8-b24b-5decf9024c8b", "type": "Notebook",
        "displayName": "fabcli000003", "description": "", "workspaceId": "0317e494-ca09-4b8e-a1b9-42b06ac4c585",
        "folderId": "cc1a2fda-8468-4c0e-824c-7a4cad577a4d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d758cee7-bb43-4138-bf35-211868b68d98
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"items": [], "mode": "All"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0317e494-ca09-4b8e-a1b9-42b06ac4c585/items/bulkExportDefinitions?beta=true
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d1659f07-d63f-49ea-a92a-129b11efd1fe
      RequestId:
      - fd0bd62a-eb61-4a29-93cd-ba388a459b9c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d1659f07-d63f-49ea-a92a-129b11efd1fe
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d1659f07-d63f-49ea-a92a-129b11efd1fe/result
  response:
    body:
      string: '{"itemDefinitionsIndex": [{"id": "ecd96630-f480-4aa8-b24b-5decf9024c8b",
        "rootPath": "/fabcli000001/fabcli000003.Notebook"}, {"id": "63c62fc7-4162-4859-8b7e-83e537a41e60",
        "rootPath": "/fabcli000001/fabcli000002/fabcli000004.Notebook"}], "definitionParts":
        [{"path": "/fabcli000001/fabcli000003.Notebook/.platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIk5vdGVib29rIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGliMjUxNTlkZjcyIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogImY5MDI0YzhiLTVkZWMtYjI0Yi00YWE4LWY0ODBlY2Q5NjYzMCIKICB9Cn0=",
        "payl[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0317e494-ca09-4b8e-a1b9-42b06ac4c585/items/63c62fc7-4162-4859-8b7e-83e537a41e60
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b4e15aed-dfff-492e-9be6-70911061de19
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0317e494-ca09-4b8e-a1b9-42b06ac4c585/folders/f9aa14f9-1b1a-420f-861c-a11152a62f1d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e9b61d8b-536c-4620-8ab2-00e950bbfe70
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0317e494-ca09-4b8e-a1b9-42b06ac4c585/folders/cc1a2fda-8468-4c0e-824c-7a4cad577a4d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b581080e-76ed-4c72-a177-ba1b401412a5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
