interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cd8ee19d-1476-44bb-98ed-bf48cf90c084
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d820eb06-3485-49e8-92b4-1229e71d2592
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Notebook", "folderId": null, "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2c79e0a3-56a4-4e66-885a-1d05e92dabe3
      RequestId:
      - 1259e03e-89e1-416b-b6f2-8a51acb4b646
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 2c79e0a3-56a4-4e66-885a-1d05e92dabe3
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2c79e0a3-56a4-4e66-885a-1d05e92dabe3
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-06-28T09:14:20.7732995",
        "lastUpdatedTimeUtc": "2026-06-28T09:14:22.0823861", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2c79e0a3-56a4-4e66-885a-1d05e92dabe3/result
      RequestId:
      - a7639c05-93e1-464d-95fd-a2d28eff03ba
      x-ms-operation-id:
      - 2c79e0a3-56a4-4e66-885a-1d05e92dabe3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2c79e0a3-56a4-4e66-885a-1d05e92dabe3/result
  response:
    body:
      string: '{"id": "c6691f45-4741-4dc2-aeef-c861a85a9d3f", "type": "Notebook",
        "displayName": "fabcli000001", "description": "", "workspaceId": "d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 8564f927-8f7e-43c8-ab66-59ad18ce0df7
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6/environments
  response:
    body:
      string: '{"id": "f5e4f711-dbe8-4991-b0d9-be39495a0bb2", "type": "Environment",
        "displayName": "fabcli000002", "description": "", "workspaceId": "d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7ef4ec72-5081-477b-a42e-6a38a58e7443
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"items": [], "mode": "All"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6/items/bulkExportDefinitions?beta=true
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/47014c28-50f0-4d7e-b0ed-01b51e6a0644
      RequestId:
      - ed4d32ba-011f-4893-a420-750770c6ff99
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 47014c28-50f0-4d7e-b0ed-01b51e6a0644
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/47014c28-50f0-4d7e-b0ed-01b51e6a0644/result
  response:
    body:
      string: '{"itemDefinitionsIndex": [{"id": "c6691f45-4741-4dc2-aeef-c861a85a9d3f",
        "rootPath": "/fabcli000001.Notebook"}, {"id": "f5e4f711-dbe8-4991-b0d9-be39495a0bb2",
        "rootPath": "/fabcli000002.Environment"}], "definitionParts": [{"path": "/fabcli000001.Notebook/.platform",
        "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIk5vdGVib29rIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGl0MXE5cDNvOHVhIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogImE4NWE5ZDNmLWM4NjEtYWVlZi00ZGMyLTQ3NDFjNjY5MWY0NSIKICB9Cn0=",
        "payloadType": "In[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6/items/f5e4f711-dbe8-4991-b0d9-be39495a0bb2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b73e6639-60b2-4a14-b28e-dd6f14da0906
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7ec1ac1-a3b2-431a-8ca7-4f0aa19c78d6/items/c6691f45-4741-4dc2-aeef-c861a85a9d3f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - acf6be8b-8b5b-4694-a679-e7b06e542b35
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
