interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "29490b32-2d1c-4f65-aa77-711b366ca219", "displayName":
        "My workspace", "description": "", "type": "Personal", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "0544fcee-a14e-4eee-b4de-028e6d9bd987", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 04685be6-a33a-4b06-8757-25e5f9bf2936
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0544fcee-a14e-4eee-b4de-028e6d9bd987/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a81a6068-c36d-4112-bdad-b60ca522a73c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0544fcee-a14e-4eee-b4de-028e6d9bd987/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/43b5e9c0-522f-4ccc-a0f7-5f10a26cd495
      RequestId:
      - ebec0ede-777a-4d67-86d7-8d296793904b
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 43b5e9c0-522f-4ccc-a0f7-5f10a26cd495
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/43b5e9c0-522f-4ccc-a0f7-5f10a26cd495
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-17T13:26:45.1840227",
        "lastUpdatedTimeUtc": "2026-04-17T13:26:46.652335", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/43b5e9c0-522f-4ccc-a0f7-5f10a26cd495/result
      RequestId:
      - 6b0306dc-1ea1-4a21-b521-f849dd8fec3f
      x-ms-operation-id:
      - 43b5e9c0-522f-4ccc-a0f7-5f10a26cd495
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/43b5e9c0-522f-4ccc-a0f7-5f10a26cd495/result
  response:
    body:
      string: '{"id": "4af27ce9-30d6-4962-84b9-33de1eeca15a", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "0544fcee-a14e-4eee-b4de-028e6d9bd987"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 142461b4-940d-4451-9fd5-8a2403389509
    status:
      code: 200
      message: OK
- request:
    body: '{"search": "fabcli000001", "pageSize": 50}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "4af27ce9-30d6-4962-84b9-33de1eeca15a", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "0544fcee-a14e-4eee-b4de-028e6d9bd987",
        "displayName": "fabriccli_WorkspacePerTestclass_000001"}}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2de62079-52fd-487e-aff9-81a1224eeb08
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0544fcee-a14e-4eee-b4de-028e6d9bd987/items
  response:
    body:
      string: '{"value": [{"id": "4af27ce9-30d6-4962-84b9-33de1eeca15a", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "0544fcee-a14e-4eee-b4de-028e6d9bd987", "sensitivityLabel": {"sensitivityLabelId":
        "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6d75514b-b9dd-44fd-a03b-e0c4e906a808
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0544fcee-a14e-4eee-b4de-028e6d9bd987/items/4af27ce9-30d6-4962-84b9-33de1eeca15a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e300e01f-d915-4e21-9606-25afd982dff1
    status:
      code: 200
      message: OK
version: 1
