interactions:
- request:
    body: '{"search": "data", "pageSize": 50}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "bb0df270-bbc3-4713-a3f3-47010daa20d5", "type": "KQLQueryset",
        "displayName": "Li test data explorer", "description": "Li test data explorer",
        "workspaceId": "28310b87-0baa-486e-8432-ecd6dac2d25c", "workspaceName": "Dataflows
        Gen2 Bug Bash", "catalogEntryType": "FabricItem"}, {"id": "02d7b085-0330-4687-a1b4-341ebe935c09",
        "type": "Dataflow", "displayName": "Dataflow 3", "description": "", "workspaceId":
        "ffa0c26a-4131-4019-bc32-9c97c175b3b3", "workspaceName": "SQL DB Native Bug
        Bash", "catalogEntryType": "FabricItem"}, {"id": "af39d1ee-4434-434d-ac11-525e83f74f46",
        "type": "Dataflow", "displayName": "Dataflow 1", "description": "", "workspaceId":
        "b63156b4-86bf-4239-aab3-aab7e6474913", "workspaceName": "Loc Test[...]
