interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "29490b32-2d1c-4f65-aa77-711b366ca219", "displayName":
        "My workspace", "description": "", "type": "Personal", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "75e11421-85ce-411e-8673-1edc859aeb8f", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f9567142-3fe5-4236-bfec-32ed653aa53f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5d38797e-3e3a-4587-8cab-536054ff333b
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/lakehouses
  response:
    body:
      string: '{"id": "614d485f-9011-4741-b373-4df3a98971ae", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "75e11421-85ce-411e-8673-1edc859aeb8f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - afb795d0-f83a-4643-9bdc-995801028cd6
    status:
      code: 201
      message: Created
- request:
    body: '{"search": "fabcli000001", "pageSize": 30, "filter": "Type eq ''Lakehouse''"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "614d485f-9011-4741-b373-4df3a98971ae", "type": "Lakehouse",
        "displayName": "fabcli000001", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "75e11421-85ce-411e-8673-1edc859aeb8f",
        "displayName": "fabriccli_WorkspacePerTestclass_000001"}}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bee07f3c-01d6-49e6-8a31-1c26670ec254
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/items
  response:
    body:
      string: '{"value": [{"id": "04481fa8-c2f9-4342-8e71-810eb3a51485", "type": "SQLEndpoint",
        "displayName": "fabcli000001", "description": "", "workspaceId": "75e11421-85ce-411e-8673-1edc859aeb8f",
        "sensitivityLabel": {"sensitivityLabelId": "9fbde396-1a24-4c79-8edf-9254a0f35055"}},
        {"id": "614d485f-9011-4741-b373-4df3a98971ae", "type": "Lakehouse", "displayName":
        "fabcli000001", "workspaceId": "75e11421-85ce-411e-8673-1edc859aeb8f",
        "sensitivityLabel": {"sensitivityLabelId": "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9716af73-910d-4a3e-aa4a-fb7632f1642b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/items/614d485f-9011-4741-b373-4df3a98971ae
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3f21af63-d033-4080-8115-9193ab094cda
    status:
      code: 200
      message: OK
version: 1
