interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "29490b32-2d1c-4f65-aa77-711b366ca219", "displayName":
        "My workspace", "description": "", "type": "Personal", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "0544fcee-a14e-4eee-b4de-028e6d9bd987", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bedf58d7-4032-40e6-a4c5-b4d4929851d5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0544fcee-a14e-4eee-b4de-028e6d9bd987/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 44fd61c3-9df9-4f75-8ae2-ca17c9f36056
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0544fcee-a14e-4eee-b4de-028e6d9bd987/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/262d1d5f-6283-4104-95ae-338767377343
      RequestId:
      - c9e8cc34-5e58-4acb-a866-82a54b075176
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 262d1d5f-6283-4104-95ae-338767377343
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/262d1d5f-6283-4104-95ae-338767377343
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-17T13:24:38.2700318",
        "lastUpdatedTimeUtc": "2026-04-17T13:24:39.4281481", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/262d1d5f-6283-4104-95ae-338767377343/result
      RequestId:
      - 3180f093-e1a4-4156-9caa-aace8eecda2a
      x-ms-operation-id:
      - 262d1d5f-6283-4104-95ae-338767377343
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/262d1d5f-6283-4104-95ae-338767377343/result
  response:
    body:
      string: '{"id": "86705391-f42c-4a69-aab1-60230cb00761", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "0544fcee-a14e-4eee-b4de-028e6d9bd987"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 25f65f1f-c32d-40e4-90a9-b17929572751
    status:
      code: 200
      message: OK
- request:
    body: '{"search": "fabcli000001", "pageSize": 50}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "86705391-f42c-4a69-aab1-60230cb00761", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "0544fcee-a14e-4eee-b4de-028e6d9bd987",
        "displayName": "fabriccli_WorkspacePerTestclass_000001"}}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9a285f0e-33c7-444e-8753-c3067185d64c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0544fcee-a14e-4eee-b4de-028e6d9bd987/items
  response:
    body:
      string: '{"value": [{"id": "86705391-f42c-4a69-aab1-60230cb00761", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "0544fcee-a14e-4eee-b4de-028e6d9bd987", "sensitivityLabel": {"sensitivityLabelId":
        "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0cabdfea-3343-4bc7-abb4-70a96d9e643a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0544fcee-a14e-4eee-b4de-028e6d9bd987/items/86705391-f42c-4a69-aab1-60230cb00761
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 719892a3-2f8e-4cb0-9ee8-694be9ce9ed7
    status:
      code: 200
      message: OK
version: 1
