interactions:
- request:
    body: '{"search": "report", "pageSize": 50, "filter": "Type ne ''Dashboard''"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000018", "type": "Report",
        "displayName": "MockItem1", "description": "", "workspaceId":
        "00000000-0000-0000-0000-000000000021", "workspaceName": "Mock Workspace 1", "catalogEntryType": "FabricItem"}, {"id": "00000000-0000-0000-0000-000000000007",
        "type": "PaginatedReport", "displayName": "MockItem2",
        "description": "", "workspaceId": "00000000-0000-0000-0000-000000000093",
        "workspaceName": "Mock Workspace 2", "catalogEntryType": "FabricItem"}, {"id":
        "00000000-0000-0000-0000-000000000043", "type": "Report", "displayName": "MockItem3",
        "description": "", "workspaceId": "00000000-0000-0000-0000-000000000021",
        "workspaceName": "Moc[...]
