interactions:
- request:
    body: '{"search": "report", "pageSize": 50, "filter": "Type ne ''Dashboard''"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "1c3365f4-78d8-41ac-b633-3a51f2237b33", "type": "Report",
        "displayName": "Report Usage Metrics Report", "description": "", "workspaceId":
        "28310b87-0baa-486e-8432-ecd6dac2d25c", "workspaceName": "Dataflows Gen2 Bug
        Bash", "catalogEntryType": "FabricItem"}, {"id": "0915bc89-db24-41e9-8946-4665cd5660c6",
        "type": "PaginatedReport", "displayName": "ReportWithLocalizedDataReportLanguageSet",
        "description": "", "workspaceId": "b63156b4-86bf-4239-aab3-aab7e6474913",
        "workspaceName": "Loc Testing", "catalogEntryType": "FabricItem"}, {"id":
        "3f7caec3-ad14-4fe3-8833-d03a04074799", "type": "Report", "displayName": "report_1",
        "description": "", "workspaceId": "28310b87-0baa-486e-8432-ecd6dac2d25c",
    [...]
