interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "29490b32-2d1c-4f65-aa77-711b366ca219", "displayName":
        "My workspace", "description": "", "type": "Personal", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "75e11421-85ce-411e-8673-1edc859aeb8f", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8cf697e9-aa9e-4961-8d46-158f856c45da
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d2f13356-6333-4fd7-9517-62b770f7ec92
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/cb2817d5-da7b-4e22-b918-4c85357d9f25
      RequestId:
      - bc9cfaf5-c715-4aff-a433-339678974baa
      Retry-After:
      - '20'
      x-ms-operation-id:
      - cb2817d5-da7b-4e22-b918-4c85357d9f25
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/cb2817d5-da7b-4e22-b918-4c85357d9f25
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-19T11:00:56.0034909",
        "lastUpdatedTimeUtc": "2026-04-19T11:00:57.6785391", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/cb2817d5-da7b-4e22-b918-4c85357d9f25/result
      RequestId:
      - 9fa7e164-a432-4317-bb50-f2c5a8b45d41
      x-ms-operation-id:
      - cb2817d5-da7b-4e22-b918-4c85357d9f25
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/cb2817d5-da7b-4e22-b918-4c85357d9f25/result
  response:
    body:
      string: '{"id": "16263eed-22d6-4cd2-9c63-4a752c2e8bed", "type": "Notebook",
        "displayName": "fabcli000001", "workspaceId":
        "75e11421-85ce-411e-8673-1edc859aeb8f"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f6cf0db5-4518-46f8-8db9-753b7043cbfe
    status:
      code: 200
      message: OK
- request:
    body: '{"search": "fabcli000001", "pageSize": 30, "filter": "(Type eq ''Notebook''
      or Type eq ''Report'')"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "16263eed-22d6-4cd2-9c63-4a752c2e8bed", "type": "Notebook",
        "displayName": "fabcli000001", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "75e11421-85ce-411e-8673-1edc859aeb8f",
        "displayName": "fabriccli_WorkspacePerTestclass_000001"}}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 63047529-7835-4cd0-a8ab-a4e9bd3b0718
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/items
  response:
    body:
      string: '{"value": [{"id": "16263eed-22d6-4cd2-9c63-4a752c2e8bed", "type": "Notebook",
        "displayName": "fabcli000001", "workspaceId":
        "75e11421-85ce-411e-8673-1edc859aeb8f", "sensitivityLabel": {"sensitivityLabelId":
        "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 63ff31bf-ea8f-49a4-90a3-09cbc8938f17
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/items/16263eed-22d6-4cd2-9c63-4a752c2e8bed
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - fe841b62-e803-4669-8df6-47eb77999602
    status:
      code: 200
      message: OK
version: 1
