interactions:
- request:
    body: '{"search": "data", "pageSize": 50}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000095", "type": "KQLQueryset",
        "displayName": "MockItem1", "description": "Mock description 1",
        "workspaceId": "00000000-0000-0000-0000-000000000021", "workspaceName": "Mock Workspace 1", "catalogEntryType": "FabricItem"}, {"id": "00000000-0000-0000-0000-000000000000",
        "type": "Dataflow", "displayName": "MockItem2", "description": "", "workspaceId":
        "00000000-0000-0000-0000-000000000132", "workspaceName": "Mock Workspace 2", "catalogEntryType": "FabricItem"}, {"id": "00000000-0000-0000-0000-000000000091",
        "type": "Dataflow", "displayName": "MockItem3", "description": "", "workspaceId":
        "00000000-0000-0000-0000-000000000093", "workspaceName": "Mock Workspace 3", "cata[...]
