interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "29490b32-2d1c-4f65-aa77-711b366ca219", "displayName":
        "My workspace", "description": "", "type": "Personal", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b91cc385-50af-4750-b26f-aa3ee60c0e6c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - faad00af-6a21-4800-b307-b98e56f9659f
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/lakehouses
  response:
    body:
      string: '{"id": "37b9010b-a102-4cdc-8cba-50e9e07b7688", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "248df804-7c71-49e6-9b0f-2e1c2e57f3fa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9df20318-0b52-433f-a955-6941c1b069db
    status:
      code: 201
      message: Created
- request:
    body: '{"search": "fabcli000001", "pageSize": 50, "filter": "Type eq ''Lakehouse''"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "37b9010b-a102-4cdc-8cba-50e9e07b7688", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa",
        "displayName": "fabriccli_WorkspacePerTestclass_000001"}}}, {"id": "417ad217-8964-4a79-b508-b7efb64a02aa",
        "type": "Lakehouse", "displayName": "lake12", "description": "", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "19be0255-5bae-4ed9-8d1a-db0431e70860",
        "displayName": "1-HideStagingArtifacts"}}}, {"id": "fb15dbb8-9173-402b-9d7c-d978cf4b24d8",
        "type": "Lakehouse", "displayName": "Data[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items
  response:
    body:
      string: '{"value": [{"id": "2fad414c-118d-4fb7-b9c6-ac559363a501", "type": "SQLEndpoint",
        "displayName": "fabcli000001", "description": "", "workspaceId": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa",
        "sensitivityLabel": {"sensitivityLabelId": "9fbde396-1a24-4c79-8edf-9254a0f35055"}},
        {"id": "37b9010b-a102-4cdc-8cba-50e9e07b7688", "type": "Lakehouse", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa",
        "sensitivityLabel": {"sensitivityLabelId": "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c3143d64-f353-4c96-ba22-a3dc53a917ae
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items/37b9010b-a102-4cdc-8cba-50e9e07b7688
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f473a39e-eb27-44bd-a9b9-e4b25af8c8f0
    status:
      code: 200
      message: OK
version: 1
