interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "29490b32-2d1c-4f65-aa77-711b366ca219", "displayName":
        "My workspace", "description": "", "type": "Personal", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3b6f9b75-869f-4106-ac8e-3d3729176403
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e6c139bc-34e9-4526-a086-2262d25e688e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/aa021d09-19a3-489e-94e5-a9897c45185d
      RequestId:
      - 7270f81b-3c1b-461c-8b97-6b12ea0aad41
      Retry-After:
      - '20'
      x-ms-operation-id:
      - aa021d09-19a3-489e-94e5-a9897c45185d
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/aa021d09-19a3-489e-94e5-a9897c45185d
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-13T14:00:10.9403415",
        "lastUpdatedTimeUtc": "2026-04-13T14:00:12.0484008", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/aa021d09-19a3-489e-94e5-a9897c45185d/result
      RequestId:
      - 66306008-2c1f-4db9-b1ee-4ff8316b80a6
      x-ms-operation-id:
      - aa021d09-19a3-489e-94e5-a9897c45185d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/aa021d09-19a3-489e-94e5-a9897c45185d/result
  response:
    body:
      string: '{"id": "f6c60244-443a-453e-ac2d-eddd879c97fe", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "248df804-7c71-49e6-9b0f-2e1c2e57f3fa"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 11078d34-938e-4157-a35d-b60c784ded36
    status:
      code: 200
      message: OK
- request:
    body: '{"search": "fabcli000001", "pageSize": 50, "filter": "(Type ne ''Notebook''
      and Type ne ''Report'')"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "98bff886-83ff-41bf-a27f-57b98699ad56", "type": "Lakehouse",
        "displayName": "gdfg_lh_b9dc5c31b21d42d1a506a7ecbb91bd39", "description":
        "", "catalogEntryType": "FabricItem", "hierarchy": {"workspace": {"id": "b63156b4-86bf-4239-aab3-aab7e6474913",
        "displayName": "Loc Testing"}}}, {"id": "59916ce2-23f4-4168-8d24-785bb4669e2c",
        "type": "SQLEndpoint", "displayName": "gdfg_lh_b9dc5c31b21d42d1a506a7ecbb91bd39",
        "description": "", "catalogEntryType": "FabricItem", "hierarchy": {"workspace":
        {"id": "b63156b4-86bf-4239-aab3-aab7e6474913", "displayName": "Loc Testing"}}},
        {"id": "6e869fb7-be8e-4d09-afcc-e975a9f6111d", "type": "GraphModel", "displayName":
      [...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items
  response:
    body:
      string: '{"value": [{"id": "f6c60244-443a-453e-ac2d-eddd879c97fe", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "248df804-7c71-49e6-9b0f-2e1c2e57f3fa", "sensitivityLabel": {"sensitivityLabelId":
        "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ffbe1dea-8309-464a-a180-68236282e9b0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items/f6c60244-443a-453e-ac2d-eddd879c97fe
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a8ee9a9d-b8c6-4e9f-acc3-4e1209b61215
    status:
      code: 200
      message: OK
version: 1
