interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "29490b32-2d1c-4f65-aa77-711b366ca219", "displayName":
        "My workspace", "description": "", "type": "Personal", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3e52522e-83b3-4270-adbc-db1f00bb9549
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0b140899-bbf8-4f66-9782-4dd1b9f36662
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/8c28d48f-e6f3-4a28-a2c4-9b4dc166aa37
      RequestId:
      - c4c3f8b8-6dc6-43c8-9816-ca7a8da94d01
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 8c28d48f-e6f3-4a28-a2c4-9b4dc166aa37
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/8c28d48f-e6f3-4a28-a2c4-9b4dc166aa37
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-13T14:01:15.1441586",
        "lastUpdatedTimeUtc": "2026-04-13T14:01:16.1870492", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/8c28d48f-e6f3-4a28-a2c4-9b4dc166aa37/result
      RequestId:
      - b28e20a5-0a4a-403f-a3c1-11b361f5733b
      x-ms-operation-id:
      - 8c28d48f-e6f3-4a28-a2c4-9b4dc166aa37
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/8c28d48f-e6f3-4a28-a2c4-9b4dc166aa37/result
  response:
    body:
      string: '{"id": "86341f0d-084e-4d4f-a2a4-315e19738cbf", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "248df804-7c71-49e6-9b0f-2e1c2e57f3fa"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 70973277-8c8f-4c7c-bc07-19d96ad5e8ec
    status:
      code: 200
      message: OK
- request:
    body: '{"search": "fabcli000001", "pageSize": 50}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "86341f0d-084e-4d4f-a2a4-315e19738cbf", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa",
        "displayName": "fabriccli_WorkspacePerTestclass_000001"}}}, {"id": "4e5cccf4-7fe4-4d31-aed0-56d1623b2fe6",
        "type": "SQLDatabase", "displayName": "9_18", "description": "sql desc 2",
        "catalogEntryType": "FabricItem", "hierarchy": {"workspace": {"id": "ffa0c26a-4131-4019-bc32-9c97c175b3b3",
        "displayName": "SQL DB Native Bug Bash"}}}, {"id": "e430a87b-dbce-45e4-83ac-9c31ef300234",
        "type": "Reflex", "displayName"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items
  response:
    body:
      string: '{"value": [{"id": "86341f0d-084e-4d4f-a2a4-315e19738cbf", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "248df804-7c71-49e6-9b0f-2e1c2e57f3fa", "sensitivityLabel": {"sensitivityLabelId":
        "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 69f0225d-3153-49c1-839d-34477c15bead
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items/86341f0d-084e-4d4f-a2a4-315e19738cbf
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 65bc4150-6ec8-49cb-8dce-438f14c6456d
    status:
      code: 200
      message: OK
version: 1
