interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "29490b32-2d1c-4f65-aa77-711b366ca219", "displayName":
        "My workspace", "description": "", "type": "Personal", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "75e11421-85ce-411e-8673-1edc859aeb8f", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8d54f585-1b65-42f7-83e7-96b791df42ab
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cb70fa65-cce9-4c76-ad35-9182a81cf942
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/4a6dfda4-7d04-46a5-889b-4fb29e1d81ee
      RequestId:
      - 6c68d3f9-98ef-4b73-ab8b-eac487b9e5e9
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 4a6dfda4-7d04-46a5-889b-4fb29e1d81ee
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/4a6dfda4-7d04-46a5-889b-4fb29e1d81ee
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-19T11:02:04.0954636",
        "lastUpdatedTimeUtc": "2026-04-19T11:02:05.6837302", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/4a6dfda4-7d04-46a5-889b-4fb29e1d81ee/result
      RequestId:
      - ba534f2a-5c72-4f91-acca-6b98a6c58469
      x-ms-operation-id:
      - 4a6dfda4-7d04-46a5-889b-4fb29e1d81ee
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/4a6dfda4-7d04-46a5-889b-4fb29e1d81ee/result
  response:
    body:
      string: '{"id": "493fe96d-d818-42e5-89c8-eb1adc76c48f", "type": "Notebook",
        "displayName": "fabcli000001", "workspaceId":
        "75e11421-85ce-411e-8673-1edc859aeb8f"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 4cefd66c-c1d1-4d83-a05f-a3197b7afbd5
    status:
      code: 200
      message: OK
- request:
    body: '{"search": "fabcli000001", "pageSize": 30}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "493fe96d-d818-42e5-89c8-eb1adc76c48f", "type": "Notebook",
        "displayName": "fabcli000001", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "75e11421-85ce-411e-8673-1edc859aeb8f",
        "displayName": "fabriccli_WorkspacePerTestclass_000001"}}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9321dbba-37bd-4559-9a11-5b55f1265fb6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/items
  response:
    body:
      string: '{"value": [{"id": "493fe96d-d818-42e5-89c8-eb1adc76c48f", "type": "Notebook",
        "displayName": "fabcli000001", "workspaceId":
        "75e11421-85ce-411e-8673-1edc859aeb8f", "sensitivityLabel": {"sensitivityLabelId":
        "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 75ef2fe2-015b-4ef8-89ac-7f94e2ffeb3f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/items/493fe96d-d818-42e5-89c8-eb1adc76c48f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c0d80ca6-3f2d-420f-a97f-3b57a773abb3
    status:
      code: 200
      message: OK
version: 1
