interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "29490b32-2d1c-4f65-aa77-711b366ca219", "displayName":
        "My workspace", "description": "", "type": "Personal", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1ff37741-3a49-437b-a771-d3d813692d1a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6f2a1e86-01dc-4e68-8413-dd728eefa175
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/3eee63d4-ac37-4613-a434-8ea28f3ee9d5
      RequestId:
      - 0e71c123-2275-4032-b861-4fc7b1c10600
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 3eee63d4-ac37-4613-a434-8ea28f3ee9d5
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/3eee63d4-ac37-4613-a434-8ea28f3ee9d5
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-13T14:02:20.7526492",
        "lastUpdatedTimeUtc": "2026-04-13T14:02:22.0301202", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/3eee63d4-ac37-4613-a434-8ea28f3ee9d5/result
      RequestId:
      - dfb646fc-5b0f-4289-89af-0d5285e6bd08
      x-ms-operation-id:
      - 3eee63d4-ac37-4613-a434-8ea28f3ee9d5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/3eee63d4-ac37-4613-a434-8ea28f3ee9d5/result
  response:
    body:
      string: '{"id": "990ceedb-aae0-42f3-9e4d-ad99559969c4", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "248df804-7c71-49e6-9b0f-2e1c2e57f3fa"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 017e81cb-0399-4187-a9c2-b13ac5bd1df7
    status:
      code: 200
      message: OK
- request:
    body: '{"search": "fabcli000001", "pageSize": 50, "filter": "(Type eq ''Notebook''
      or Type eq ''Report'')"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "990ceedb-aae0-42f3-9e4d-ad99559969c4", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa",
        "displayName": "fabriccli_WorkspacePerTestclass_000001"}}}, {"id": "d747179a-d862-4a7a-80cb-4f186457a68c",
        "type": "Notebook", "displayName": "IliasKhan_item_1_to_recover2026_01_09_04_49",
        "description": "", "catalogEntryType": "FabricItem", "hierarchy": {"workspace":
        {"id": "ffa0c26a-4131-4019-bc32-9c97c175b3b3", "displayName": "SQL DB Native
        Bug Bash"}}}, {"id": "c4ee7ebf-24c7-4fec-a33b-6bb14ee24017", "type": "Notebook",
        "displayName": "diag_nb_20260330094352", "description": "Created by fab",
        "catalogEntryType": "FabricItem", "hierarchy": {"workspace": {"id": "fcc07217-bc36-47b4-8a58-653aca132393",
        "displayName": "fabcli_diag_20260330094352"}}}], "continuationToken": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5bae00ed-3625-4d38-9b73-a92da45f2540
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items
  response:
    body:
      string: '{"value": [{"id": "990ceedb-aae0-42f3-9e4d-ad99559969c4", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "248df804-7c71-49e6-9b0f-2e1c2e57f3fa", "sensitivityLabel": {"sensitivityLabelId":
        "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e8c6b53c-cfd4-47e4-8732-fe9487d22e09
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items/990ceedb-aae0-42f3-9e4d-ad99559969c4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e1d0b002-3d0a-46cf-9cef-0618c3bc1cff
    status:
      code: 200
      message: OK
version: 1
