interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "29490b32-2d1c-4f65-aa77-711b366ca219", "displayName":
        "My workspace", "description": "", "type": "Personal", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "75e11421-85ce-411e-8673-1edc859aeb8f", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b1e2adfa-20b4-499e-843f-e86a01331054
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1e5ad797-5944-4eac-9b9b-172d29817711
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/09506b41-2b7b-406e-9b29-9ff60eaa2fd2
      RequestId:
      - e6baa4ca-cdb0-4205-8944-02e2bb8b57a2
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 09506b41-2b7b-406e-9b29-9ff60eaa2fd2
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/09506b41-2b7b-406e-9b29-9ff60eaa2fd2
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-19T10:57:11.1587658",
        "lastUpdatedTimeUtc": "2026-04-19T10:57:12.63963", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/09506b41-2b7b-406e-9b29-9ff60eaa2fd2/result
      RequestId:
      - cb783306-dad3-46d3-853c-415d1944b81c
      x-ms-operation-id:
      - 09506b41-2b7b-406e-9b29-9ff60eaa2fd2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/09506b41-2b7b-406e-9b29-9ff60eaa2fd2/result
  response:
    body:
      string: '{"id": "88c91de0-e4e9-4cfe-a3ce-10eed3b81b8a", "type": "Notebook",
        "displayName": "fabcli000001", "workspaceId":
        "75e11421-85ce-411e-8673-1edc859aeb8f"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - e0e0a580-0630-4318-893d-0f568e0b4e78
    status:
      code: 200
      message: OK
- request:
    body: '{"search": "fabcli000001", "pageSize": 30, "filter": "Type ne ''Notebook''"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 86453cf0-9441-41d5-9ebf-90ac56c8abeb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/items
  response:
    body:
      string: '{"value": [{"id": "88c91de0-e4e9-4cfe-a3ce-10eed3b81b8a", "type": "Notebook",
        "displayName": "fabcli000001", "workspaceId":
        "75e11421-85ce-411e-8673-1edc859aeb8f", "sensitivityLabel": {"sensitivityLabelId":
        "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 916e5bc7-04bc-452f-a77e-3bb3b896ffc5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/75e11421-85ce-411e-8673-1edc859aeb8f/items/88c91de0-e4e9-4cfe-a3ce-10eed3b81b8a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5f76d9db-1680-4d25-ba73-17a515f1829f
    status:
      code: 200
      message: OK
version: 1
