interactions:
- request:
    body: '{"search": "data", "pageSize": 50, "filter": "(Type eq ''Report'' or Type eq ''Lakehouse'')"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "05736538-aabd-4507-ab7a-31ca7c33c9fa", "type": "Report", "displayName": "Dataverse ", "description": "", "workspaceId": "a9e0676c-febb-4150-b1ac-16ff6fadc918", "workspaceName": "BasicTestPass", "catalogEntryType": "FabricItem"}, {"id": "188f6c74-064a-403b-8dfa-e7737b069165", "type": "Lakehouse",
        "displayName": "DataflowsStagingLakehouse", "description": "", "workspaceId":
        "47f4d36c-a45a-4eb3-b990-09058a1f39d2", "workspaceName": "stoscano_daily_postTIPS",
        "catalogEntryType": "FabricItem"}, {"id": "58b7c787-4fd6-4181-803b-a7ba22e4b352",
        "type": "Lakehouse", "displayName": "StagingLakehouseForDataflows", "description":
        "", "workspaceId": "29490b32-2d1c-4f65-aa77-711b3[...]
