interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "29490b32-2d1c-4f65-aa77-711b366ca219", "displayName":
        "My workspace", "description": "", "type": "Personal", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 88bce1ff-1ed2-4faa-a4ff-e37699f487f2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2224a5a7-9d4a-4ebb-a1f2-3056890b2fa3
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/lakehouses
  response:
    body:
      string: '{"id": "fe75b716-eab5-4a6a-9448-275a18e57214", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "248df804-7c71-49e6-9b0f-2e1c2e57f3fa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4359ca4a-c46f-4d03-b5a2-a31006272090
    status:
      code: 201
      message: Created
- request:
    body: '{"search": "fabcli000001", "pageSize": 50, "filter": "Type eq ''Lakehouse''"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "fe75b716-eab5-4a6a-9448-275a18e57214", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa",
        "displayName": "fabriccli_WorkspacePerTestclass_000001"}}}, {"id": "98bff886-83ff-41bf-a27f-57b98699ad56",
        "type": "Lakehouse", "displayName": "gdfg_lh_b9dc5c31b21d42d1a506a7ecbb91bd39",
        "description": "", "catalogEntryType": "FabricItem", "hierarchy": {"workspace":
        {"id": "b63156b4-86bf-4239-aab3-aab7e6474913", "displayName": "Loc Testing"}}},
        {"id": "4efeb02f-8486-4a72-b674-0ba24ca9b56d", "type": "Lakehouse[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items
  response:
    body:
      string: '{"value": [{"id": "0c17d8e7-4622-4c92-9373-725f87f1b262", "type": "SQLEndpoint",
        "displayName": "fabcli000001", "description": "", "workspaceId": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa",
        "sensitivityLabel": {"sensitivityLabelId": "9fbde396-1a24-4c79-8edf-9254a0f35055"}},
        {"id": "fe75b716-eab5-4a6a-9448-275a18e57214", "type": "Lakehouse", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa",
        "sensitivityLabel": {"sensitivityLabelId": "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 188424fd-6853-4618-b18d-027e405f76e0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items/fe75b716-eab5-4a6a-9448-275a18e57214
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0abe0719-15a8-411c-964f-a9223400390e
    status:
      code: 200
      message: OK
version: 1
