interactions:
- request:
    body: '{"search": "multipage", "pageSize": 30}'
    headers:
      Content-Type: &id004
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-031833810413", "type": "Notebook",
        "displayName": "NB-P1-0", "description": "Test item", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "11111111-1111-1111-1111-111111111111",
        "displayName": "TestWorkspace"}}}, {"id": "00000000-0000-0000-0000-977430163345",
        "type": "Notebook", "displayName": "NB-P1-1", "description": "Test item",
        "catalogEntryType": "FabricItem", "hierarchy": {"workspace": {"id": "11111111-1111-1111-1111-111111111111",
        "displayName": "TestWorkspace"}}}, {"id": "00000000-0000-0000-0000-972104337521",
        "type": "Notebook", "displayName": "NB-P1-2", "description": "Test item",
        "catalogEntryType": "FabricItem", "hierarchy": {"workspace": {"id": "11111111-1111-1111-1111-111111111111",
        "displayName": "TestWorkspace"}}}], "continuationToken": "token-page2"}'
    headers:
      Content-Type: &id009
      - application/json; charset=utf-8
      RequestId: &id012
      - aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
    status:
      code: 200
      message: OK
- request:
    body: '{"continuationToken": "token-page2", "pageSize": 30}'
    headers:
      Content-Type: *id004
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-186429331592", "type": "Notebook",
        "displayName": "NB-P2-0", "description": "Test item", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "11111111-1111-1111-1111-111111111111",
        "displayName": "TestWorkspace"}}}, {"id": "00000000-0000-0000-0000-679042946985",
        "type": "Notebook", "displayName": "NB-P2-1", "description": "Test item",
        "catalogEntryType": "FabricItem", "hierarchy": {"workspace": {"id": "11111111-1111-1111-1111-111111111111",
        "displayName": "TestWorkspace"}}}], "continuationToken": ""}'
    headers:
      Content-Type: *id009
      RequestId: *id012
    status:
      code: 200
      message: OK
version: 1
