interactions:
- request:
    body: '{"search": "data", "pageSize": 50, "filter": "Type eq ''Lakehouse''"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000015", "type": "Lakehouse",
        "displayName": "MockItem1", "description": "", "workspaceId":
        "00000000-0000-0000-0000-000000000045", "workspaceName": "Mock Workspace 1",
        "catalogEntryType": "FabricItem"}, {"id": "00000000-0000-0000-0000-000000000052",
        "type": "Lakehouse", "displayName": "MockItem2", "description": "", "workspaceId": "00000000-0000-0000-0000-000000000022", "workspaceName": "Mock Workspace 2", "catalogEntryType": "FabricItem"}, {"id": "00000000-0000-0000-0000-000000000128",
        "type": "Lakehouse", "displayName": "MockItem1", "description": "", "workspaceId": "00000000-0000-0000-0000-000000000029", "workspaceName": "Mock Workspace 3", "catalogEntryType":[...]
