interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "29490b32-2d1c-4f65-aa77-711b366ca219", "displayName":
        "My workspace", "description": "", "type": "Personal", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "0544fcee-a14e-4eee-b4de-028e6d9bd987", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 00d25fd1-8dd4-4bed-95f7-1b8a7879475e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0544fcee-a14e-4eee-b4de-028e6d9bd987/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - aec91ef8-ab7e-4ba0-919d-5e916acdf8e3
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0544fcee-a14e-4eee-b4de-028e6d9bd987/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/9cb796c3-71d0-4a02-a255-54477df40ae9
      RequestId:
      - a244381d-cc48-46f9-a8a7-8ff314606806
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 9cb796c3-71d0-4a02-a255-54477df40ae9
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/9cb796c3-71d0-4a02-a255-54477df40ae9
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-17T13:19:40.6123868",
        "lastUpdatedTimeUtc": "2026-04-17T13:19:42.0450929", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/9cb796c3-71d0-4a02-a255-54477df40ae9/result
      RequestId:
      - f9a5f93e-b8ed-4779-9b41-d5b6746893dd
      x-ms-operation-id:
      - 9cb796c3-71d0-4a02-a255-54477df40ae9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/9cb796c3-71d0-4a02-a255-54477df40ae9/result
  response:
    body:
      string: '{"id": "e155ebff-44d5-4b39-aecf-5263394e5e68", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "0544fcee-a14e-4eee-b4de-028e6d9bd987"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 81929dea-6d63-478b-90be-39b43a562129
    status:
      code: 200
      message: OK
- request:
    body: '{"search": "fabcli000001", "pageSize": 50, "filter": "Type eq ''Notebook''"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "e155ebff-44d5-4b39-aecf-5263394e5e68", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "0544fcee-a14e-4eee-b4de-028e6d9bd987",
        "displayName": "fabriccli_WorkspacePerTestclass_000001"}}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 546a030c-7266-4e28-a755-38c92d613ee2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0544fcee-a14e-4eee-b4de-028e6d9bd987/items
  response:
    body:
      string: '{"value": [{"id": "e155ebff-44d5-4b39-aecf-5263394e5e68", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "0544fcee-a14e-4eee-b4de-028e6d9bd987", "sensitivityLabel": {"sensitivityLabelId":
        "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 843a5341-262d-4acd-8f7f-ca0ab53b039a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0544fcee-a14e-4eee-b4de-028e6d9bd987/items/e155ebff-44d5-4b39-aecf-5263394e5e68
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3d4cb83b-f296-4fe3-b2a8-d31c370bc358
    status:
      code: 200
      message: OK
version: 1
