interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "29490b32-2d1c-4f65-aa77-711b366ca219", "displayName":
        "My workspace", "description": "", "type": "Personal", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "23c33f24-bb96-48b2-8bf8-a3a9cd995ffd", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a7fc9bec-5766-4c20-9711-2e24c6f2c78c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/23c33f24-bb96-48b2-8bf8-a3a9cd995ffd/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 76ce5293-6788-4ce0-84fb-24e2eaaf90d1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/23c33f24-bb96-48b2-8bf8-a3a9cd995ffd/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/1665b42e-b215-4558-8242-86ef7d620298
      RequestId:
      - 54f6fde2-13e1-4f26-b6a8-49d62e124544
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 1665b42e-b215-4558-8242-86ef7d620298
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/1665b42e-b215-4558-8242-86ef7d620298
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-13T14:16:28.4868803",
        "lastUpdatedTimeUtc": "2026-04-13T14:16:30.8042917", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/1665b42e-b215-4558-8242-86ef7d620298/result
      RequestId:
      - 593c6674-e4eb-4bc8-9394-de73b9a9e4ce
      x-ms-operation-id:
      - 1665b42e-b215-4558-8242-86ef7d620298
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/1665b42e-b215-4558-8242-86ef7d620298/result
  response:
    body:
      string: '{"id": "eee5041d-fd64-48c6-851f-c9e328be99b8", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "23c33f24-bb96-48b2-8bf8-a3a9cd995ffd"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c4329b00-d41e-48cb-963c-e93006c13c0e
    status:
      code: 200
      message: OK
- request:
    body: '{"search": "fabcli000001", "pageSize": 50, "filter": "Type eq ''Notebook''"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "eee5041d-fd64-48c6-851f-c9e328be99b8", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "23c33f24-bb96-48b2-8bf8-a3a9cd995ffd",
        "displayName": "fabriccli_WorkspacePerTestclass_000001"}}}], "continuationToken":
        ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 19bac8e1-1471-49a2-a475-bf24edd39992
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/23c33f24-bb96-48b2-8bf8-a3a9cd995ffd/items
  response:
    body:
      string: '{"value": [{"id": "eee5041d-fd64-48c6-851f-c9e328be99b8", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "23c33f24-bb96-48b2-8bf8-a3a9cd995ffd", "sensitivityLabel": {"sensitivityLabelId":
        "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d385164e-be37-4f80-bd7b-72fd7e9e90db
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/23c33f24-bb96-48b2-8bf8-a3a9cd995ffd/items/eee5041d-fd64-48c6-851f-c9e328be99b8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f1da1fe0-ff8f-4950-bb8c-74c13994e9b4
    status:
      code: 200
      message: OK
version: 1
