interactions:
- request:
    body: '{"search": "jmespathskip", "pageSize": 30}'
    headers:
      Content-Type: &id004
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-065134249370", "type": "Notebook",
        "displayName": "NB-SK-0", "description": "Test item", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "11111111-1111-1111-1111-111111111111",
        "displayName": "TestWorkspace"}}}, {"id": "00000000-0000-0000-0000-846917334185",
        "type": "Notebook", "displayName": "NB-SK-1", "description": "Test item",
        "catalogEntryType": "FabricItem", "hierarchy": {"workspace": {"id": "11111111-1111-1111-1111-111111111111",
        "displayName": "TestWorkspace"}}}, {"id": "00000000-0000-0000-0000-437223391280",
        "type": "Notebook", "displayName": "NB-SK-2", "description": "Test item",
        "catalogEntryType": "FabricItem", "hierarchy": {"workspace": {"id": "11111111-1111-1111-1111-111111111111",
        "displayName": "TestWorkspace"}}}], "continuationToken": "token-skip2"}'
    headers:
      Content-Type: &id009
      - application/json; charset=utf-8
      RequestId: &id012
      - aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"continuationToken": "token-skip3", "pageSize": 30}'
    headers:
      Content-Type: *id004
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-139661754670", "type": "Notebook",
        "displayName": "NB-SK-3", "description": "Test item", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "11111111-1111-1111-1111-111111111111",
        "displayName": "TestWorkspace"}}}, {"id": "00000000-0000-0000-0000-471761962560",
        "type": "Notebook", "displayName": "NB-SK-4", "description": "Test item",
        "catalogEntryType": "FabricItem", "hierarchy": {"workspace": {"id": "11111111-1111-1111-1111-111111111111",
        "displayName": "TestWorkspace"}}}], "continuationToken": ""}'
    headers:
      Content-Type: *id009
      RequestId: *id012
    status:
      code: 200
      message: OK
version: 1
