interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "29490b32-2d1c-4f65-aa77-711b366ca219", "displayName":
        "My workspace", "description": "", "type": "Personal", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a7150911-5b96-4ffc-bd98-b78d57be48cc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2064fe6c-d53c-48c9-946a-5e2e0ef5debe
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/89a80378-5bf8-482f-baae-8350b946d476
      RequestId:
      - f572e2e1-3133-414f-bc68-e53ee3ac1706
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 89a80378-5bf8-482f-baae-8350b946d476
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/89a80378-5bf8-482f-baae-8350b946d476
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-13T13:59:06.7373195",
        "lastUpdatedTimeUtc": "2026-04-13T13:59:07.7804759", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/89a80378-5bf8-482f-baae-8350b946d476/result
      RequestId:
      - 4c824022-e84f-4fe7-8993-ce7a8a4981d1
      x-ms-operation-id:
      - 89a80378-5bf8-482f-baae-8350b946d476
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/89a80378-5bf8-482f-baae-8350b946d476/result
  response:
    body:
      string: '{"id": "ce33d348-7cdd-4ded-8b5d-690ab9dfbb19", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "248df804-7c71-49e6-9b0f-2e1c2e57f3fa"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 0cb653eb-9066-4d3a-8a84-0496ce612bfe
    status:
      code: 200
      message: OK
- request:
    body: '{"search": "fabcli000001", "pageSize": 50, "filter": "Type ne ''Notebook''"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "034fdf32-221d-4dd1-beb5-6d31674d9aee", "type": "Environment",
        "displayName": "tingting", "description": "Environment", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "ffa0c26a-4131-4019-bc32-9c97c175b3b3",
        "displayName": "SQL DB Native Bug Bash"}}}, {"id": "4922163c-2f9a-4c00-bbfb-c82988d79e27",
        "type": "OrgApp", "displayName": "orgapp with real time dashboard", "description":
        "", "catalogEntryType": "FabricItem", "hierarchy": {"workspace": {"id": "ffa0c26a-4131-4019-bc32-9c97c175b3b3",
        "displayName": "SQL DB Native Bug Bash"}}}, {"id": "91b253ef-9325-4941-922e-d009558f3d8f",
        "type": "Warehouse", "displayName":[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items
  response:
    body:
      string: '{"value": [{"id": "ce33d348-7cdd-4ded-8b5d-690ab9dfbb19", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "248df804-7c71-49e6-9b0f-2e1c2e57f3fa", "sensitivityLabel": {"sensitivityLabelId":
        "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a4153c5a-c396-491f-9bde-d574b9b118e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items/ce33d348-7cdd-4ded-8b5d-690ab9dfbb19
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3b0adb29-7f8a-4dc7-93f7-512813d32076
    status:
      code: 200
      message: OK
version: 1
