interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "29490b32-2d1c-4f65-aa77-711b366ca219", "displayName":
        "My workspace", "description": "", "type": "Personal", "capacityId": "00000000-0000-0000-0000-000000000004"},
        {"id": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4219c0af-81a9-43f3-8cca-4c8e9e85114f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d4589a44-8647-462e-8408-9dae5724d99a
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/c3b2da2c-db71-4290-b7bf-30daf6a05678
      RequestId:
      - fcb938b8-846e-4da8-b936-d9e17a422a49
      Retry-After:
      - '20'
      x-ms-operation-id:
      - c3b2da2c-db71-4290-b7bf-30daf6a05678
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/c3b2da2c-db71-4290-b7bf-30daf6a05678
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-13T14:03:24.8433929",
        "lastUpdatedTimeUtc": "2026-04-13T14:03:26.2470115", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://dailyapi.fabric.microsoft.com/v1/operations/c3b2da2c-db71-4290-b7bf-30daf6a05678/result
      RequestId:
      - cee6aebc-9a9c-49d9-baab-36f78e9b85c4
      x-ms-operation-id:
      - c3b2da2c-db71-4290-b7bf-30daf6a05678
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/c3b2da2c-db71-4290-b7bf-30daf6a05678/result
  response:
    body:
      string: '{"id": "20629465-2364-4d11-8e52-9f6df2f6d0a4", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "248df804-7c71-49e6-9b0f-2e1c2e57f3fa"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 6c7952b7-78fb-4b06-afdb-8bd825ac30a8
    status:
      code: 200
      message: OK
- request:
    body: '{"search": "fabcli000001", "pageSize": 50}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/catalog/search
  response:
    body:
      string: '{"value": [{"id": "20629465-2364-4d11-8e52-9f6df2f6d0a4", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "catalogEntryType":
        "FabricItem", "hierarchy": {"workspace": {"id": "248df804-7c71-49e6-9b0f-2e1c2e57f3fa",
        "displayName": "fabriccli_WorkspacePerTestclass_000001"}}}, {"id": "c4ee7ebf-24c7-4fec-a33b-6bb14ee24017",
        "type": "Notebook", "displayName": "diag_nb_20260330094352", "description":
        "Created by fab", "catalogEntryType": "FabricItem", "hierarchy": {"workspace":
        {"id": "fcc07217-bc36-47b4-8a58-653aca132393", "displayName": "fabcli_diag_20260330094352"}}}],
        "continuationToken": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 23ade7c5-4347-41b7-bea1-90e592f59876
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items
  response:
    body:
      string: '{"value": [{"id": "20629465-2364-4d11-8e52-9f6df2f6d0a4", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "248df804-7c71-49e6-9b0f-2e1c2e57f3fa", "sensitivityLabel": {"sensitivityLabelId":
        "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ccc2a6aa-891a-4b9d-8f94-22b806c446d4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/248df804-7c71-49e6-9b0f-2e1c2e57f3fa/items/20629465-2364-4d11-8e52-9f6df2f6d0a4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ddf56520-97fb-4fb5-bf15-7cd4addccf6a
    status:
      code: 200
      message: OK
version: 1
