interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "1d88042e-8e95-44ab-9a35-80bc7eeb9b58", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 54f5f758-138f-4f81-95dd-3449edb192f1
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 00aef84e-c370-4073-be55-4b0b2efb9f53
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "SparkJobDefinition", "description": "Imported from fab", "folderId":
      null, "displayName": "fabcli000001", "definition": {"format": "SparkJobDefinitionV1",
      "parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiU3BhcmtKb2JEZWZpbml0aW9uIiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiUGFyYW1fVGVzdF9TcGFya0pvYiIsCiAgICAgICAgImRlc2NyaXB0aW9uIjogIlNwYXJrIGpvYiBkZWZpbml0aW9uIgogICAgfSwKICAgICJjb25maWciOiB7CiAgICAgICAgInZlcnNpb24iOiAiMi4wIiwKICAgICAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICAgIH0KfQ==",
      "payloadType": "InlineBase64"}, {"path": "SparkJobDefinitionV1.json", "payload":
      "ewogICAgImV4ZWN1dGFibGVGaWxlIjogIiIsCiAgICAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiAiIiwKICAgICJtYWluQ2xhc3MiOiAiIiwKICAgICJhZGRpdGlvbmFsTGFrZWhvdXNlSWRzIjogW10sCiAgICAicmV0cnlQb2xpY3kiOiBudWxsLAogICAgImNvbW1hbmRMaW5lQXJndW1lbnRzIjogIiIsCiAgICAiYWRkaXRpb25hbExpYnJhcnlVcmlzIjogW10sCiAgICAibGFuZ3VhZ2UiOiAiUHl0aG9uIiwKICAgICJlbnZpcm9ubWVudEFydGlmYWN0SWQiOiBudWxsCn0=",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items
  response:
    body:
      string: '{"id": "098003a9-04a9-46e4-a707-6b597b08181d", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Imported from fab", "workspaceId":
        "1d88042e-8e95-44ab-9a35-80bc7eeb9b58"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a1a872ab-b1f2-48a3-899b-34f1e2a806d4
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"enabled": true, "configuration": {"type": "Cron", "startDateTime": "2024-01-23T00:00:00",
      "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId": "Central Standard Time",
      "interval": 10}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items/098003a9-04a9-46e4-a707-6b597b08181d/jobs/sparkjob/schedules
  response:
    body:
      string: '{"id": "251d4b7d-ba87-41fd-bf34-a35eb13da7b9", "enabled": true, "createdDateTime":
        "2025-11-10T20:32:42.91", "configuration": {"type": "Cron", "startDateTime":
        "2024-01-23T00:00:00", "endDateTime": "2024-10-07T23:59:00", "localTimeZoneId":
        "Central Standard Time", "interval": 10}, "owner": {"id": "2ed4a6b4-687e-466d-a03f-1bca2e5754d4",
        "type": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items/098003a9-04a9-46e4-a707-6b597b08181d/jobs/sparkjob/schedules/251d4b7d-ba87-41fd-bf34-a35eb13da7b9
      RequestId:
      - e57c2497-d00f-4135-9a55-dab67d84bb2d
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items/098003a9-04a9-46e4-a707-6b597b08181d/jobs/sparkjob/schedules/251d4b7d-ba87-41fd-bf34-a35eb13da7b9
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - df12bc8d-af5f-4e24-90d6-24515bb8e180
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d88042e-8e95-44ab-9a35-80bc7eeb9b58/items/098003a9-04a9-46e4-a707-6b597b08181d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d674aefe-1864-4660-97bc-ab5bfc4fc93b
      home-cluster-uri:
      - https://wabi-north-europe-f-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
