interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "a7f75c16-aca1-49d4-aafa-ed12c42ed8d8", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 832775ed-77fd-4d1c-b408-08ddc203d014
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e00f0486-a70b-4e39-8259-8b1076269935
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "f7fece42-af33-4a43-bb5f-b75cddd1c04d", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/f7fece42-af33-4a43-bb5f-b75cddd1c04d
      RequestId:
      - 92b6ba49-3bf3-4d7c-b7ea-7ee12591a183
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f7fece42-af33-4a43-bb5f-b75cddd1c04d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bc465a1f-5254-4d5f-a3c3-eab603c59d2c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003", "type":
      "MLExperiment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f7fece42-af33-4a43-bb5f-b75cddd1c04d/mlExperiments
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/affe1c15-bf07-4e6d-a606-ef3fa2ca5427
      RequestId:
      - f11403ba-93cd-4f2b-88bf-ea4876d3e739
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - affe1c15-bf07-4e6d-a606-ef3fa2ca5427
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/affe1c15-bf07-4e6d-a606-ef3fa2ca5427
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-20T06:45:41.4889763",
        "lastUpdatedTimeUtc": "2026-01-20T06:45:42.9427129", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/affe1c15-bf07-4e6d-a606-ef3fa2ca5427/result
      RequestId:
      - f64b3c94-a4b5-441f-8082-32ace32a58a8
      x-ms-operation-id:
      - affe1c15-bf07-4e6d-a606-ef3fa2ca5427
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/affe1c15-bf07-4e6d-a606-ef3fa2ca5427/result
  response:
    body:
      string: '{"id": "f7580bec-471b-4bd8-8cf0-ee84a48ab28a", "type": "MLExperiment",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "f7fece42-af33-4a43-bb5f-b75cddd1c04d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 8102ebcb-484b-4243-a773-e0ebb84e33aa
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f7fece42-af33-4a43-bb5f-b75cddd1c04d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5c3df940-e49d-4921-a6a6-c1148169e25b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/63b768d7-aa43-435c-9863-301702981c2c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8df69f82-3bf6-4059-810b-dbab2f66c3d1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
