interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e135d870-1fa7-4e2c-8b6a-ac703963a047",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6220d8d3-0c0c-4e7a-8896-dc3edc435e31
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8531f273-855c-4355-b294-191db8e3713a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "d7685efd-63d8-458a-8300-fb1d129d9d2a", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/d7685efd-63d8-458a-8300-fb1d129d9d2a
      RequestId:
      - a77c0f01-948d-4fae-b21b-56513c7b579f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7685efd-63d8-458a-8300-fb1d129d9d2a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b637e618-22af-4014-9497-cba465dffa65
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7685efd-63d8-458a-8300-fb1d129d9d2a/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7a65672b-56f7-4fa0-b1f8-7a3a7d65e87b
      RequestId:
      - b662d369-46ae-42e6-9718-17484246c937
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7a65672b-56f7-4fa0-b1f8-7a3a7d65e87b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7a65672b-56f7-4fa0-b1f8-7a3a7d65e87b
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-08T17:34:38.028058",
        "lastUpdatedTimeUtc": "2025-09-08T17:34:39.8874141", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7a65672b-56f7-4fa0-b1f8-7a3a7d65e87b/result
      RequestId:
      - 7709e619-6b97-419f-be6e-ee9e70ca1865
      x-ms-operation-id:
      - 7a65672b-56f7-4fa0-b1f8-7a3a7d65e87b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7a65672b-56f7-4fa0-b1f8-7a3a7d65e87b/result
  response:
    body:
      string: '{"id": "71d0887c-e8a0-4c28-bdc2-9139c147f28b", "type": "Notebook",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "d7685efd-63d8-458a-8300-fb1d129d9d2a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 566318b6-2cf1-4385-9244-b4d137d063bd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7685efd-63d8-458a-8300-fb1d129d9d2a/items/71d0887c-e8a0-4c28-bdc2-9139c147f28b
  response:
    body:
      string: '{"id": "71d0887c-e8a0-4c28-bdc2-9139c147f28b", "type": "Notebook",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "d7685efd-63d8-458a-8300-fb1d129d9d2a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 462b86ea-240e-441f-b80f-d984d9ec4bf6
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7685efd-63d8-458a-8300-fb1d129d9d2a/items/71d0887c-e8a0-4c28-bdc2-9139c147f28b/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/b3a40043-e7bb-407b-ba81-7b77748e9ee8
      RequestId:
      - 08a99d79-a4d7-436d-a921-de26b93ab9f6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b3a40043-e7bb-407b-ba81-7b77748e9ee8
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d7685efd-63d8-458a-8300-fb1d129d9d2a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4776c2f3-ec09-4f19-bfe4-f7aa17a0a57c
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c2178da2-8ae4-48be-8bd4-b897913a884e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6d58b1e7-f11e-4e16-aa61-58c73b8d9c4d
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
