interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "98a13383-ab9f-4d0d-ade6-cee53b5df502",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b75b1839-ac92-4fd9-ade1-312994b0c65d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 327869d0-1a3e-4e3b-8eb3-722f59dacc14
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "a98f0dfa-e50c-4d01-9bd3-3889d8516e7f", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/a98f0dfa-e50c-4d01-9bd3-3889d8516e7f
      RequestId:
      - 4429a7be-2a15-461f-ac03-567a11547a76
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a98f0dfa-e50c-4d01-9bd3-3889d8516e7f/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 74bc1ff5-8eb2-4d14-a7aa-1c83a4408946
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Map", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a98f0dfa-e50c-4d01-9bd3-3889d8516e7f/maps
  response:
    body:
      string: '{"id": "0361901f-8082-4277-a88d-d7e644dca83e", "type": "Map", "displayName":
        "fabcli000002", "description": "Created by fab", "workspaceId": "a98f0dfa-e50c-4d01-9bd3-3889d8516e7f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d2d10b08-8f7b-4269-a8ea-50d41e50b8b9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a98f0dfa-e50c-4d01-9bd3-3889d8516e7f/items/0361901f-8082-4277-a88d-d7e644dca83e
  response:
    body:
      string: '{"id": "0361901f-8082-4277-a88d-d7e644dca83e", "type": "Map", "displayName":
        "fabcli000002", "description": "Created by fab", "workspaceId": "a98f0dfa-e50c-4d01-9bd3-3889d8516e7f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9f93a37d-326d-4ea5-a944-aff5390007d7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a98f0dfa-e50c-4d01-9bd3-3889d8516e7f/items/0361901f-8082-4277-a88d-d7e644dca83e/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f3a42916-67a4-4e93-88fa-5ef7349ae6c9
      RequestId:
      - 6ac004b5-cf84-41fc-9c6c-0f72afe0d9ae
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - f3a42916-67a4-4e93-88fa-5ef7349ae6c9
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f3a42916-67a4-4e93-88fa-5ef7349ae6c9
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-19T09:22:59.3204147",
        "lastUpdatedTimeUtc": "2026-03-19T09:22:59.6218009", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f3a42916-67a4-4e93-88fa-5ef7349ae6c9/result
      RequestId:
      - b43eac05-017a-4140-86cf-51a0fbf3c462
      x-ms-operation-id:
      - f3a42916-67a4-4e93-88fa-5ef7349ae6c9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f3a42916-67a4-4e93-88fa-5ef7349ae6c9/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "map.json", "payload": "77u/ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9tYXAvZGVmaW5pdGlvbi8yLjAuMC9zY2hlbWEuanNvbiIsDQogICJiYXNlbWFwIjoge30sDQogICJkYXRhU291cmNlcyI6IFtdLA0KICAiaWNvblNvdXJjZXMiOiBbXSwNCiAgImxheWVyU291cmNlcyI6IFtdLA0KICAibGF5ZXJTZXR0aW5ncyI6IFtdDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIk1hcCIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAyIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 41f8b271-131f-453f-a6d5-649df79dac1f
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "Map", "description": "Created by fab", "displayName": "fabcli000002
      Renamed", "definition": {"parts": [{"path": "map.json", "payload": "77u/ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9tYXAvZGVmaW5pdGlvbi8yLjAuMC9zY2hlbWEuanNvbiIsDQogICJiYXNlbWFwIjoge30sDQogICJkYXRhU291cmNlcyI6IFtdLA0KICAiaWNvblNvdXJjZXMiOiBbXSwNCiAgImxheWVyU291cmNlcyI6IFtdLA0KICAibGF5ZXJTZXR0aW5ncyI6IFtdDQp9",
      "payloadType": "Inlin[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a98f0dfa-e50c-4d01-9bd3-3889d8516e7f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f8efebc0-0ba5-4ca1-b194-e439c4897c06
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
