interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e135d870-1fa7-4e2c-8b6a-ac703963a047",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 14a5e5f3-d83e-4d43-9b27-4029ce67ceb4
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - af513f63-bfae-42c9-9803-c54bd867574a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "4eabca83-a358-4d0e-a292-5453403663ab", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/4eabca83-a358-4d0e-a292-5453403663ab
      RequestId:
      - 8c191ed6-f04e-49d4-959a-d0d6c9ac6d44
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4eabca83-a358-4d0e-a292-5453403663ab/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5de867c9-be32-4f0f-8979-c4b2b6e09d3a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4eabca83-a358-4d0e-a292-5453403663ab/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/ebd445a9-c5e9-4501-875d-f76b32004483
      RequestId:
      - 2ad8a846-1500-4163-8c06-3644e038b2c2
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ebd445a9-c5e9-4501-875d-f76b32004483
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/ebd445a9-c5e9-4501-875d-f76b32004483
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-08T17:39:48.2002371",
        "lastUpdatedTimeUtc": "2025-09-08T17:39:49.7783819", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/ebd445a9-c5e9-4501-875d-f76b32004483/result
      RequestId:
      - 350ef8d3-fe76-4eea-8713-bddf3a4c4689
      x-ms-operation-id:
      - ebd445a9-c5e9-4501-875d-f76b32004483
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/ebd445a9-c5e9-4501-875d-f76b32004483/result
  response:
    body:
      string: '{"id": "3502327b-2808-4c1a-85f2-b98f40961ac2", "type": "Notebook",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "4eabca83-a358-4d0e-a292-5453403663ab"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 03c577f0-9d7a-4163-9706-71efafa5594e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4eabca83-a358-4d0e-a292-5453403663ab/items/3502327b-2808-4c1a-85f2-b98f40961ac2
  response:
    body:
      string: '{"id": "3502327b-2808-4c1a-85f2-b98f40961ac2", "type": "Notebook",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "4eabca83-a358-4d0e-a292-5453403663ab"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 93fd66e5-a8d4-4ebd-bff5-4799515581ad
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4eabca83-a358-4d0e-a292-5453403663ab/items/3502327b-2808-4c1a-85f2-b98f40961ac2/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/5b02f176-7915-464a-b72f-9f3eefeda156
      RequestId:
      - 7e9af3fc-ae56-4006-af45-aa470a8fbcc8
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5b02f176-7915-464a-b72f-9f3eefeda156
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4eabca83-a358-4d0e-a292-5453403663ab
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 78b580e8-4129-4b46-84eb-9de444a19570
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/50f4296a-24c7-4d22-9bbb-e0182846207d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 08f57ed0-00c2-4981-8741-f5e5b0a06e30
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
