interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e135d870-1fa7-4e2c-8b6a-ac703963a047",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5b5a0c90-e8cc-41fa-834c-2fb948150582
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c1cb6593-8e2a-4873-b047-39da7b774b17
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "e65c2a31-e0ee-4bdd-b203-22eaa319b39e", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/e65c2a31-e0ee-4bdd-b203-22eaa319b39e
      RequestId:
      - e818e12e-5744-4a2d-b261-544effcff92d
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e65c2a31-e0ee-4bdd-b203-22eaa319b39e/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 740c2e0f-ca94-4ca2-b39f-05b5212b6dd5
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e65c2a31-e0ee-4bdd-b203-22eaa319b39e/folders
  response:
    body:
      string: '{"id": "7e2dac1e-5d7a-4434-8169-7d67aa0aa00e", "displayName": "fabcli000003",
        "workspaceId": "e65c2a31-e0ee-4bdd-b203-22eaa319b39e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/e65c2a31-e0ee-4bdd-b203-22eaa319b39e/folders/7e2dac1e-5d7a-4434-8169-7d67aa0aa00e
      RequestId:
      - 2919fc0d-fbad-4dc2-b554-1f06bb9ae4fe
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e65c2a31-e0ee-4bdd-b203-22eaa319b39e/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e16b6ca2-63ba-47e3-a2ee-dab2ef0de4b0
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "Notebook", "folderId": "7e2dac1e-5d7a-4434-8169-7d67aa0aa00e", "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e65c2a31-e0ee-4bdd-b203-22eaa319b39e/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/182be018-494e-4563-ad63-04eb50aa36be
      RequestId:
      - ea9f2243-6263-4d9c-82d6-9324071d6890
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 182be018-494e-4563-ad63-04eb50aa36be
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/182be018-494e-4563-ad63-04eb50aa36be
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-08T17:46:21.7460976",
        "lastUpdatedTimeUtc": "2025-09-08T17:46:23.5742271", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/182be018-494e-4563-ad63-04eb50aa36be/result
      RequestId:
      - cba17072-aea4-4691-85e2-92306a46f48a
      x-ms-operation-id:
      - 182be018-494e-4563-ad63-04eb50aa36be
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/182be018-494e-4563-ad63-04eb50aa36be/result
  response:
    body:
      string: '{"id": "6058d047-b056-427a-a30c-8beb9fe8378f", "type": "Notebook",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "e65c2a31-e0ee-4bdd-b203-22eaa319b39e", "folderId": "7e2dac1e-5d7a-4434-8169-7d67aa0aa00e"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 1fb5fbef-9f38-480b-8814-d404d9025f52
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000005", "type":
      "DataPipeline", "folderId": "7e2dac1e-5d7a-4434-8169-7d67aa0aa00e"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e65c2a31-e0ee-4bdd-b203-22eaa319b39e/dataPipelines
  response:
    body:
      string: '{"id": "374c8077-ef0e-49fd-b023-e4d961397c3c", "type": "DataPipeline",
        "displayName": "fabcli000005", "description": "Created by fab", "workspaceId":
        "e65c2a31-e0ee-4bdd-b203-22eaa319b39e", "folderId": "7e2dac1e-5d7a-4434-8169-7d67aa0aa00e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7351daa8-eb0e-4745-ab65-ae5190b0cdb0
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e65c2a31-e0ee-4bdd-b203-22eaa319b39e/folders?recursive=True
  response:
    body:
      string: '{"requestId": "558e9dd2-0def-4924-b9fa-6ecbcb2111d9", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        9/8/2025 5:47:21 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 558e9dd2-0def-4924-b9fa-6ecbcb2111d9
      Retry-After:
      - '30'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e65c2a31-e0ee-4bdd-b203-22eaa319b39e/items/6058d047-b056-427a-a30c-8beb9fe8378f
  response:
    body:
      string: '{"id": "6058d047-b056-427a-a30c-8beb9fe8378f", "type": "Notebook",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "e65c2a31-e0ee-4bdd-b203-22eaa319b39e", "folderId": "7e2dac1e-5d7a-4434-8169-7d67aa0aa00e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - da6e992f-1237-4968-88dd-d1374f1ac3a4
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e65c2a31-e0ee-4bdd-b203-22eaa319b39e/items/6058d047-b056-427a-a30c-8beb9fe8378f/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/be3735cc-cf0f-4523-809f-8d947770a353
      RequestId:
      - 84beaeaf-a5e3-4a46-a339-360b7eb8e984
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - be3735cc-cf0f-4523-809f-8d947770a353
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "DataPipeline", "description": "Created by fab", "displayName":
      "fabcli000005", "definition": {"parts": [{"path": "pipeline-content.json", "payload":
      "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==", "payloadType":
      "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJ[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e65c2a31-e0ee-4bdd-b203-22eaa319b39e/folders/7e2dac1e-5d7a-4434-8169-7d67aa0aa00e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 78379b8b-6dba-41ae-a938-f6b248ed1108
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e65c2a31-e0ee-4bdd-b203-22eaa319b39e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e0ac5b83-fd76-400b-a5cc-c82c4f997910
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/63e1fc4b-3694-459d-820c-313b7bcf95c0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9f17805e-2f7f-4029-a487-abfe6cc3688a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
