interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "0246ddfd-c43c-4239-9ab1-b3cf8444578a", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3505467a-5a4e-4099-9de6-cbabf3630045
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0246ddfd-c43c-4239-9ab1-b3cf8444578a/items
  response:
    body:
      string: '{"value": [{"id": "b6d204c0-c561-433a-afb8-af712db13bb5", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "0246ddfd-c43c-4239-9ab1-b3cf8444578a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1c547f55-372e-4d95-98a6-82dbf958aff5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MLModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0246ddfd-c43c-4239-9ab1-b3cf8444578a/mlModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ff62af45-37a7-40e9-8c3e-f267a9259ca0
      RequestId:
      - 453cf20e-bf99-40d5-b794-f7c28fcf44e1
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ff62af45-37a7-40e9-8c3e-f267a9259ca0
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ff62af45-37a7-40e9-8c3e-f267a9259ca0
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-20T07:02:36.313305",
        "lastUpdatedTimeUtc": "2026-01-20T07:02:37.0632961", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ff62af45-37a7-40e9-8c3e-f267a9259ca0/result
      RequestId:
      - 37d3088a-ab38-4776-9346-cdc95d1bae70
      x-ms-operation-id:
      - ff62af45-37a7-40e9-8c3e-f267a9259ca0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ff62af45-37a7-40e9-8c3e-f267a9259ca0/result
  response:
    body:
      string: '{"id": "b2c80768-9d5b-4739-b1d0-832d3227bea6", "type": "MLModel", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "0246ddfd-c43c-4239-9ab1-b3cf8444578a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 00e360c6-8f8c-4fc3-8339-c00c8eb567b7
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0246ddfd-c43c-4239-9ab1-b3cf8444578a/eventhouses
  response:
    body:
      string: '{"id": "112c95b4-e2dc-42e3-8e8e-246bc4790fdc", "type": "Eventhouse",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "0246ddfd-c43c-4239-9ab1-b3cf8444578a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 254d8370-a4f8-4ca6-89fc-dd9314c263b4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0246ddfd-c43c-4239-9ab1-b3cf8444578a/items/112c95b4-e2dc-42e3-8e8e-246bc4790fdc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f9e24ac6-0ca7-44f8-a388-2fcfcd747da2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0246ddfd-c43c-4239-9ab1-b3cf8444578a/items/b2c80768-9d5b-4739-b1d0-832d3227bea6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2e441614-4534-4102-abe0-46087ac47d32
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
