interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e135d870-1fa7-4e2c-8b6a-ac703963a047",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d3eb3a59-3eea-442a-a2b8-7551ccce9813
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3899fd96-8cfe-48ab-8aa7-71a10cef3056
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "aba7dcaa-7267-4917-99b0-34095c861541", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/aba7dcaa-7267-4917-99b0-34095c861541
      RequestId:
      - 1ec8f361-725a-497c-88f0-f6f4dceaff28
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/aba7dcaa-7267-4917-99b0-34095c861541/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7e49808a-4d95-4ec5-88a0-7a4d3c28943f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/aba7dcaa-7267-4917-99b0-34095c861541/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/cd75d979-14bb-4fed-b185-f7e77bde3364
      RequestId:
      - c23e29f5-0730-4b72-aae8-4ed054be7027
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - cd75d979-14bb-4fed-b185-f7e77bde3364
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/cd75d979-14bb-4fed-b185-f7e77bde3364
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-08T17:29:46.4654429",
        "lastUpdatedTimeUtc": "2025-09-08T17:29:48.5906754", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/cd75d979-14bb-4fed-b185-f7e77bde3364/result
      RequestId:
      - b0273381-633f-452c-b056-9e3479deae98
      x-ms-operation-id:
      - cd75d979-14bb-4fed-b185-f7e77bde3364
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/cd75d979-14bb-4fed-b185-f7e77bde3364/result
  response:
    body:
      string: '{"id": "89ab9893-e9ce-49bb-a626-913a1ca65295", "type": "Notebook",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "aba7dcaa-7267-4917-99b0-34095c861541"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 9ec1a71e-2b03-4932-bc49-762662f74be8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/aba7dcaa-7267-4917-99b0-34095c861541/dataPipelines
  response:
    body:
      string: '{"id": "90097b47-b1fc-4417-9c6d-a27f93d46c8a", "type": "DataPipeline",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "aba7dcaa-7267-4917-99b0-34095c861541"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ba5e26f5-df37-4026-a14d-022147cfa9ce
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/aba7dcaa-7267-4917-99b0-34095c861541/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0269bfdc-e154-4695-8156-c958e0cbc94c
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000005"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/aba7dcaa-7267-4917-99b0-34095c861541/folders
  response:
    body:
      string: '{"id": "238b3bf1-4e41-499d-ac36-9c44d3ec71a8", "displayName": "fabcli000005",
        "workspaceId": "aba7dcaa-7267-4917-99b0-34095c861541"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/aba7dcaa-7267-4917-99b0-34095c861541/folders/238b3bf1-4e41-499d-ac36-9c44d3ec71a8
      RequestId:
      - 33e68798-563c-4c1b-b7f1-7eb47d2e6d2f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000006", "type":
      "SparkJobDefinition", "folderId": "238b3bf1-4e41-499d-ac36-9c44d3ec71a8"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/aba7dcaa-7267-4917-99b0-34095c861541/sparkJobDefinitions
  response:
    body:
      string: '{"id": "17055e56-741e-4437-9f41-6ce5e4013143", "type": "SparkJobDefinition",
        "displayName": "fabcli000006", "description": "Created by fab", "workspaceId":
        "aba7dcaa-7267-4917-99b0-34095c861541", "folderId": "238b3bf1-4e41-499d-ac36-9c44d3ec71a8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - cbc24edf-1bbf-4ec0-9d41-3f6085d30dd5
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/aba7dcaa-7267-4917-99b0-34095c861541/items/89ab9893-e9ce-49bb-a626-913a1ca65295
  response:
    body:
      string: '{"id": "89ab9893-e9ce-49bb-a626-913a1ca65295", "type": "Notebook",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "aba7dcaa-7267-4917-99b0-34095c861541"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 56e6be54-fc4a-4ba4-bf5b-9a0b346320c6
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/aba7dcaa-7267-4917-99b0-34095c861541/items/89ab9893-e9ce-49bb-a626-913a1ca65295/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/3ab3793b-ad74-46b2-9782-3980a1226761
      RequestId:
      - 373c0bc8-788e-494f-ab7a-dc14f91409cb
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 3ab3793b-ad74-46b2-9782-3980a1226761
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "DataPipeline", "description": "Created by fab", "displayName":
      "fabcli000004", "definition": {"parts": [{"path": "pipeline-content.json", "payload":
      "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==", "payloadType":
      "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJ[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/aba7dcaa-7267-4917-99b0-34095c861541/folders?recursive=True
  response:
    body:
      string: '{"requestId": "4db9883f-82bc-4ae8-ac76-3ca4ba118498", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        9/8/2025 5:31:19 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4db9883f-82bc-4ae8-ac76-3ca4ba118498
      Retry-After:
      - '3'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/aba7dcaa-7267-4917-99b0-34095c861541/folders/238b3bf1-4e41-499d-ac36-9c44d3ec71a8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ac83abc6-542b-45b3-96f9-7e8f2b156921
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/aba7dcaa-7267-4917-99b0-34095c861541
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b9bcff7e-7b27-4bac-ad29-8d14fdb879e1
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1c3979f1-1851-43b1-a842-7a6fda50badd
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 302a4c3a-5658-4122-9ced-b756e6c6d553
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
