interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "919063ce-2590-4d13-992f-c0179af9f8c2", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1e1b9719-fd0b-4fd8-8dd4-c0b7d9411ea8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1f40884f-461c-40ab-ab24-b6d52b291970
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "7aeafd24-9336-49bd-80c1-d185f7d0849a", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/7aeafd24-9336-49bd-80c1-d185f7d0849a
      RequestId:
      - a9c6a165-ac2d-4daf-b7e9-b0e7a33b9a8c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7aeafd24-9336-49bd-80c1-d185f7d0849a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b40a554e-8023-41b1-8369-2fde63ee5b35
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "MLModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7aeafd24-9336-49bd-80c1-d185f7d0849a/mlModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a8da908e-4fca-40f0-b950-deaf8e56b1dd
      RequestId:
      - 983fefe8-4685-441e-a6ea-0439742a59da
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - a8da908e-4fca-40f0-b950-deaf8e56b1dd
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a8da908e-4fca-40f0-b950-deaf8e56b1dd
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-20T07:14:56.0039902",
        "lastUpdatedTimeUtc": "2026-01-20T07:14:56.8945907", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a8da908e-4fca-40f0-b950-deaf8e56b1dd/result
      RequestId:
      - 4c2ec7df-16e4-46df-bc78-0b61e61cd0b0
      x-ms-operation-id:
      - a8da908e-4fca-40f0-b950-deaf8e56b1dd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a8da908e-4fca-40f0-b950-deaf8e56b1dd/result
  response:
    body:
      string: '{"id": "3e29de8f-fcc2-49c7-b545-14eb014e5b25", "type": "MLModel", "displayName":
        "fabcli000002", "description": "Created by fab", "workspaceId": "7aeafd24-9336-49bd-80c1-d185f7d0849a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - e45f7b74-cf97-4750-8844-5aee4ee20082
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7aeafd24-9336-49bd-80c1-d185f7d0849a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3eeda1e0-7fe8-423f-90e7-43e789b5f6e4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
