interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "7e3650b4-b63b-41fb-bc4d-4a5ef5344ca1", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d4beac9e-6e2e-47a6-bcc0-7a84a9bdd87b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c18d0312-f7a4-44bf-b0f0-9d118cac51d7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "d8c31300-5c2e-4a80-9230-a159bb15d795", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/d8c31300-5c2e-4a80-9230-a159bb15d795
      RequestId:
      - fcb72348-555c-4d8a-a265-bb0930e93a75
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d8c31300-5c2e-4a80-9230-a159bb15d795/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 11a83035-59b1-460b-900b-51289514e6a5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d8c31300-5c2e-4a80-9230-a159bb15d795/eventhouses
  response:
    body:
      string: '{"id": "b4fe1332-4c55-426f-81fb-771e2a6a9558", "type": "Eventhouse",
        "displayName": "fabcli000003_auto", "description": "Created by fab", "workspaceId":
        "d8c31300-5c2e-4a80-9230-a159bb15d795"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - db4590fa-6a91-4bc5-8fb6-39a5a1e06f6e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "b4fe1332-4c55-426f-81fb-771e2a6a9558"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d8c31300-5c2e-4a80-9230-a159bb15d795/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/354f6003-9aca-425c-8c5d-e0d40a04d4ca
      RequestId:
      - 020b070d-93ce-4b73-916e-c49369954bc5
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 354f6003-9aca-425c-8c5d-e0d40a04d4ca
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/354f6003-9aca-425c-8c5d-e0d40a04d4ca
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-20T06:55:03.9941333",
        "lastUpdatedTimeUtc": "2026-01-20T06:55:10.4327441", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/354f6003-9aca-425c-8c5d-e0d40a04d4ca/result
      RequestId:
      - 0d54dd07-68b8-400f-915f-ca5722e17d9a
      x-ms-operation-id:
      - 354f6003-9aca-425c-8c5d-e0d40a04d4ca
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/354f6003-9aca-425c-8c5d-e0d40a04d4ca/result
  response:
    body:
      string: '{"id": "f0fcbcff-a958-4512-a166-1059e4f139c3", "type": "KQLDatabase",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "d8c31300-5c2e-4a80-9230-a159bb15d795"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 174a4fb9-7a1e-46a6-8a64-24109119e377
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d8c31300-5c2e-4a80-9230-a159bb15d795/items/f0fcbcff-a958-4512-a166-1059e4f139c3
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ef22c476-e3e5-42e7-a7bc-a6aea8843b8e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d8c31300-5c2e-4a80-9230-a159bb15d795
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 23344164-6c02-4910-8b98-70d0a95ca291
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfceb930-f512-4226-a1fb-8bff8f01270a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d4dfa124-296d-47ff-9b42-b3c8cd887930
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
