interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "8ded5367-0146-4b90-ad17-61a688b83c81",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9e208f82-089f-4b38-ad72-69a69952b4a1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 82cfcf41-bb3a-458f-8391-fa3dfe4b1172
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "19bbf7db-72d0-41d5-bdc8-61339620dabc", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/19bbf7db-72d0-41d5-bdc8-61339620dabc
      RequestId:
      - 079cd852-f63b-45f8-9eaf-33e70308ddc8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/19bbf7db-72d0-41d5-bdc8-61339620dabc/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 43e20a99-b846-418e-8876-bc4d4320efba
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Map", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/19bbf7db-72d0-41d5-bdc8-61339620dabc/maps
  response:
    body:
      string: '{"id": "8ac0f3c6-a3c8-4ef2-b349-70184039304c", "type": "Map", "displayName":
        "fabcli000002", "description": "Created by fab", "workspaceId": "19bbf7db-72d0-41d5-bdc8-61339620dabc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - dc917f25-8e19-48eb-adde-c0269d8501dc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/19bbf7db-72d0-41d5-bdc8-61339620dabc/items/8ac0f3c6-a3c8-4ef2-b349-70184039304c
  response:
    body:
      string: '{"id": "8ac0f3c6-a3c8-4ef2-b349-70184039304c", "type": "Map", "displayName":
        "fabcli000002", "description": "Created by fab", "workspaceId": "19bbf7db-72d0-41d5-bdc8-61339620dabc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a7d166c8-975b-446b-a40e-9e2a04fd6024
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/19bbf7db-72d0-41d5-bdc8-61339620dabc/items/8ac0f3c6-a3c8-4ef2-b349-70184039304c/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7516d82f-183e-4608-a722-3a81457f982e
      RequestId:
      - 61f859aa-9e46-4ad4-809d-9d56daca6e83
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7516d82f-183e-4608-a722-3a81457f982e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7516d82f-183e-4608-a722-3a81457f982e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-14T12:45:26.0147783",
        "lastUpdatedTimeUtc": "2026-04-14T12:45:26.7839045", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7516d82f-183e-4608-a722-3a81457f982e/result
      RequestId:
      - edaba89c-d35e-4ef2-b694-fba4cf155d42
      x-ms-operation-id:
      - 7516d82f-183e-4608-a722-3a81457f982e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7516d82f-183e-4608-a722-3a81457f982e/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "map.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9tYXAvZGVmaW5pdGlvbi8yLjAuMC9zY2hlbWEuanNvbiIsDQogICJiYXNlbWFwIjoge30sDQogICJkYXRhU291cmNlcyI6IFtdLA0KICAiaWNvblNvdXJjZXMiOiBbXSwNCiAgImxheWVyU291cmNlcyI6IFtdLA0KICAibGF5ZXJTZXR0aW5ncyI6IFtdDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIk1hcCIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAyIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d6d0b5ba-91f3-4a65-8e56-eb97f67ae6f3
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "Map", "description": "Created by fab", "displayName": "fabcli000002
      Renamed", "definition": {"parts": [{"path": "map.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9tYXAvZGVmaW5pdGlvbi8yLjAuMC9zY2hlbWEuanNvbiIsDQogICJiYXNlbWFwIjoge30sDQogICJkYXRhU291cmNlcyI6IFtdLA0KICAiaWNvblNvdXJjZXMiOiBbXSwNCiAgImxheWVyU291cmNlcyI6IFtdLA0KICAibGF5ZXJTZXR0aW5ncyI6IFtdDQp9",
      "payloadType": "InlineBas[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/19bbf7db-72d0-41d5-bdc8-61339620dabc/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - aa18c2eb-76f1-418f-8cd2-ee51dff32392
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/19bbf7db-72d0-41d5-bdc8-61339620dabc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 69143c9e-fc32-4d75-8a18-79e18b8c4153
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
