interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e135d870-1fa7-4e2c-8b6a-ac703963a047",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dd548714-d4e5-4d3e-be96-b7fdbd42fa60
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 790269dd-384b-4840-b021-21079bc45622
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "e0d16fa1-4e72-4780-9550-5819442fb5d4", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/e0d16fa1-4e72-4780-9550-5819442fb5d4
      RequestId:
      - 24660eb7-1ded-42ae-9b47-bc42e4c7a7e0
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0d16fa1-4e72-4780-9550-5819442fb5d4/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - be7f9258-f918-46a3-a033-33b811f51f51
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0d16fa1-4e72-4780-9550-5819442fb5d4/folders
  response:
    body:
      string: '{"id": "dfdc2430-4667-4290-9070-8c7feafd2aae", "displayName": "fabcli000002",
        "workspaceId": "e0d16fa1-4e72-4780-9550-5819442fb5d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/e0d16fa1-4e72-4780-9550-5819442fb5d4/folders/dfdc2430-4667-4290-9070-8c7feafd2aae
      RequestId:
      - 73d84934-88e7-4244-9731-eb8762aa1d1f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0d16fa1-4e72-4780-9550-5819442fb5d4/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7ff3d25d-9ab5-4091-82d2-89087a12cb6c
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "Notebook", "folderId": "8a0916a8-0a3f-4872-bdea-ca83cfabac95", "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0d16fa1-4e72-4780-9550-5819442fb5d4/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7d2c51f4-0c7e-442d-b0e3-883171b2f207
      RequestId:
      - 3bb1a4fd-021e-414b-95bb-58ad68cb87a1
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7d2c51f4-0c7e-442d-b0e3-883171b2f207
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7d2c51f4-0c7e-442d-b0e3-883171b2f207
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-08T17:49:42.2938671",
        "lastUpdatedTimeUtc": "2025-09-08T17:49:43.9821016", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7d2c51f4-0c7e-442d-b0e3-883171b2f207/result
      RequestId:
      - 8308db39-072f-4403-9758-4104b0c07377
      x-ms-operation-id:
      - 7d2c51f4-0c7e-442d-b0e3-883171b2f207
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/7d2c51f4-0c7e-442d-b0e3-883171b2f207/result
  response:
    body:
      string: '{"id": "cf95e018-7904-4c59-bda6-cd28263a0eac", "type": "Notebook",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "e0d16fa1-4e72-4780-9550-5819442fb5d4", "folderId": "8a0916a8-0a3f-4872-bdea-ca83cfabac95"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 8e01ed49-e313-446c-a9bb-16a902027436
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0d16fa1-4e72-4780-9550-5819442fb5d4/folders?recursive=True
  response:
    body:
      string: '{"requestId": "33fe77ff-9c18-470a-8dd8-af3ecaf2af62", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        9/8/2025 5:50:22 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 33fe77ff-9c18-470a-8dd8-af3ecaf2af62
      Retry-After:
      - '19'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000005", "type":
      "DataPipeline", "folderId": "8a0916a8-0a3f-4872-bdea-ca83cfabac95"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0d16fa1-4e72-4780-9550-5819442fb5d4/dataPipelines
  response:
    body:
      string: '{"id": "91450d66-aebe-4451-8716-da3fb1cf95a5", "type": "DataPipeline",
        "displayName": "fabcli000005", "description": "Created by fab", "workspaceId":
        "e0d16fa1-4e72-4780-9550-5819442fb5d4", "folderId": "8a0916a8-0a3f-4872-bdea-ca83cfabac95"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c0c5b422-efff-4a83-a01f-fe489f9a7473
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000006", "parentFolderId":
      "8a0916a8-0a3f-4872-bdea-ca83cfabac95"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0d16fa1-4e72-4780-9550-5819442fb5d4/folders
  response:
    body:
      string: '{"id": "e9f422d8-7992-402f-87ff-6386ab3a1c77", "displayName": "fabcli000006",
        "parentFolderId": "8a0916a8-0a3f-4872-bdea-ca83cfabac95", "workspaceId": "e0d16fa1-4e72-4780-9550-5819442fb5d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/e0d16fa1-4e72-4780-9550-5819442fb5d4/folders/e9f422d8-7992-402f-87ff-6386ab3a1c77
      RequestId:
      - e68997c5-7582-440b-aca2-885b825885b5
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000007", "type":
      "SparkJobDefinition", "folderId": "e9f422d8-7992-402f-87ff-6386ab3a1c77"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0d16fa1-4e72-4780-9550-5819442fb5d4/sparkJobDefinitions
  response:
    body:
      string: '{"id": "053270a9-e9c1-41c2-b71f-cda50fe27720", "type": "SparkJobDefinition",
        "displayName": "fabcli000007", "description": "Created by fab", "workspaceId":
        "e0d16fa1-4e72-4780-9550-5819442fb5d4", "folderId": "e9f422d8-7992-402f-87ff-6386ab3a1c77"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f3e8b7df-fdfe-47d3-8122-e2b907c34264
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"targetFolderId": "dfdc2430-4667-4290-9070-8c7feafd2aae"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0d16fa1-4e72-4780-9550-5819442fb5d4/folders/8a0916a8-0a3f-4872-bdea-ca83cfabac95/move
  response:
    body:
      string: '{"id": "8a0916a8-0a3f-4872-bdea-ca83cfabac95", "displayName": "fabcli000003",
        "parentFolderId": "dfdc2430-4667-4290-9070-8c7feafd2aae", "workspaceId": "e0d16fa1-4e72-4780-9550-5819442fb5d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 13cc9da6-b847-46de-bf19-ae87c80e936d
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0d16fa1-4e72-4780-9550-5819442fb5d4/items/053270a9-e9c1-41c2-b71f-cda50fe27720
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1bdd6c0f-04bd-4332-9b23-0f646fe22302
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0d16fa1-4e72-4780-9550-5819442fb5d4/folders/e9f422d8-7992-402f-87ff-6386ab3a1c77
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0a2650e8-5281-4b94-8cd3-bff1f10d62bb
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e0d16fa1-4e72-4780-9550-5819442fb5d4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - bad82ecb-f18f-4a8f-90e9-1a430f42ba36
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
