interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e135d870-1fa7-4e2c-8b6a-ac703963a047",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 658f25e6-1300-492f-82ef-c8b4ad3a9e69
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e3b82219-9ce3-4ddc-9193-2e72f39ab12e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0
      RequestId:
      - 8198e691-b194-4ee5-bdc9-c6956c341730
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b03f6340-a5e1-49ac-8c0a-a0b2c20ea00a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/76b49984-2905-45b6-a8ce-46cd5d8001ca
      RequestId:
      - 48d22f92-0079-44a8-bdac-d907a1e5524b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 76b49984-2905-45b6-a8ce-46cd5d8001ca
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/76b49984-2905-45b6-a8ce-46cd5d8001ca
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-08T17:31:45.9026444",
        "lastUpdatedTimeUtc": "2025-09-08T17:31:47.5908936", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/76b49984-2905-45b6-a8ce-46cd5d8001ca/result
      RequestId:
      - c87ae5ca-0471-420f-9e28-41e3363e9399
      x-ms-operation-id:
      - 76b49984-2905-45b6-a8ce-46cd5d8001ca
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/76b49984-2905-45b6-a8ce-46cd5d8001ca/result
  response:
    body:
      string: '{"id": "6f1a6312-0f0c-4bf6-8343-8680fe6a22bd", "type": "Notebook",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 03873d0d-aa93-4c91-b5a1-c8b88c4968de
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0/dataPipelines
  response:
    body:
      string: '{"id": "e8281199-3e57-499f-a704-16982f8d3571", "type": "DataPipeline",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9d06d27a-347b-40d5-b58e-0209eb2e7d80
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 529c776f-f3bc-4d5d-abaa-b9e3be26a3d0
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000005"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0/folders
  response:
    body:
      string: '{"id": "bf5f3aec-3932-45d6-952f-11bf615b6cb2", "displayName": "fabcli000005",
        "workspaceId": "3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0/folders/bf5f3aec-3932-45d6-952f-11bf615b6cb2
      RequestId:
      - 2937edeb-fc14-4178-9fec-7e4f9e01e4b0
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000006", "type":
      "SparkJobDefinition", "folderId": "bf5f3aec-3932-45d6-952f-11bf615b6cb2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0/sparkJobDefinitions
  response:
    body:
      string: '{"id": "d9a7dab6-9f28-499e-a40c-812ab9dce806", "type": "SparkJobDefinition",
        "displayName": "fabcli000006", "description": "Created by fab", "workspaceId":
        "3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0", "folderId": "bf5f3aec-3932-45d6-952f-11bf615b6cb2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - eb0c1bff-f29b-4535-a69e-5edd14aa7cda
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0/items/6f1a6312-0f0c-4bf6-8343-8680fe6a22bd
  response:
    body:
      string: '{"id": "6f1a6312-0f0c-4bf6-8343-8680fe6a22bd", "type": "Notebook",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9a957240-e952-4012-8510-29096069c029
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0/items/6f1a6312-0f0c-4bf6-8343-8680fe6a22bd/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/8bc7e54c-2b1b-4981-9bb5-84900ac0c056
      RequestId:
      - 9ebaeb6b-6bce-434e-b980-7b0099b61fce
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 8bc7e54c-2b1b-4981-9bb5-84900ac0c056
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "DataPipeline", "description": "Created by fab", "displayName":
      "fabcli000004", "definition": {"parts": [{"path": "pipeline-content.json", "payload":
      "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==", "payloadType":
      "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJ[...]
[...]
- request:
    body: '{"type": "SparkJobDefinition", "description": "Created by fab", "displayName":
      "fabcli000006", "definition": {"parts": [{"path": "SparkJobDefinitionV1.json",
      "payload": "ew0KICAiZXhlY3V0YWJsZUZpbGUiOiBudWxsLA0KICAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiBudWxsLA0KICAibWFpbkNsYXNzIjogbnVsbCwNCiAgImFkZGl0aW9uYWxMYWtlaG91c2VJZHMiOiBbXSwNCiAgInJldHJ5UG9saWN5IjogbnVsbCwNCiAgImNvbW1hbmRMaW5lQXJndW1lbnRzIjogbnVsbCwNCiAgImFkZGl0aW9uYWxMaWJyYXJ5VXJpcyI6IG51bGwsDQogICJsYW5n[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0/folders/bf5f3aec-3932-45d6-952f-11bf615b6cb2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e7e6d269-ea6c-416f-b159-5df195d65c11
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a5fdd686-6ee1-480c-9f39-1e6ee882c8e1/folders?recursive=True
  response:
    body:
      string: '{"requestId": "9ddf98f7-d788-4faf-bdd4-b7e27a97bc8a", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        9/8/2025 5:34:08 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9ddf98f7-d788-4faf-bdd4-b7e27a97bc8a
      Retry-After:
      - '54'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/3c3f6337-ae99-41b2-bba8-ca8ceefcd9b0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2156530d-6e34-4642-9cd4-0fbd5e1fdaf4
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a5fdd686-6ee1-480c-9f39-1e6ee882c8e1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0cba32b3-75e2-48f4-a6e6-f10a57574264
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
