interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c96273f8-3544-4caf-8c9f-2459c71c633a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a4d19f15-10a3-4626-a1e4-a70b43e42cb1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dbaeef17-f057-47e2-bb5d-e4644ed87f44
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "47a09b81-619e-426c-b5fb-f5c70b7ea383", "displayName": "fabcli000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/47a09b81-619e-426c-b5fb-f5c70b7ea383
      RequestId:
      - 6eb88720-c68d-44b7-904f-4396e77de6fb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/47a09b81-619e-426c-b5fb-f5c70b7ea383/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1e1752ea-0253-41e0-a13f-6574a67c50ea
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000002_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/47a09b81-619e-426c-b5fb-f5c70b7ea383/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/62c5a3ba-4d08-429f-9f8c-1b466053e7e6
      RequestId:
      - 04ed4655-82cd-40a6-a4e9-f44d3293dfa2
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 62c5a3ba-4d08-429f-9f8c-1b466053e7e6
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/62c5a3ba-4d08-429f-9f8c-1b466053e7e6
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:18:30.9291595",
        "lastUpdatedTimeUtc": "2026-05-13T07:18:38.0505383", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/62c5a3ba-4d08-429f-9f8c-1b466053e7e6/result
      RequestId:
      - defadd4a-094f-4583-ac83-3362318a823a
      x-ms-operation-id:
      - 62c5a3ba-4d08-429f-9f8c-1b466053e7e6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/62c5a3ba-4d08-429f-9f8c-1b466053e7e6/result
  response:
    body:
      string: '{"id": "494f8bea-2507-4c1e-89d2-7c5468487250", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000002_auto", "description": "", "workspaceId": "47a09b81-619e-426c-b5fb-f5c70b7ea383"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 80955e0c-2537-45d5-b921-758f2838fb3a
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000002", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "494f8bea-2507-4c1e-89d2-7c5468487250", "workspaceId": "47a09b81-619e-426c-b5fb-f5c70b7ea383"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/47a09b81-619e-426c-b5fb-f5c70b7ea383/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "f50f9f61-4769-4a44-bd23-652f01b62930", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000002", "description": "", "workspaceId": "47a09b81-619e-426c-b5fb-f5c70b7ea383"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d16b0d81-899a-474f-b4a5-f5fc433434c9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/47a09b81-619e-426c-b5fb-f5c70b7ea383/items/f50f9f61-4769-4a44-bd23-652f01b62930
  response:
    body:
      string: '{"id": "f50f9f61-4769-4a44-bd23-652f01b62930", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000002", "description": "", "workspaceId": "47a09b81-619e-426c-b5fb-f5c70b7ea383"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 09ba7d6a-22fa-49ac-8b72-4732e5415356
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/47a09b81-619e-426c-b5fb-f5c70b7ea383/items/f50f9f61-4769-4a44-bd23-652f01b62930/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/657790de-adc3-4937-a7e2-129d46feada3
      RequestId:
      - 754ba0af-2c6a-4ac5-b9cb-fe5380649a41
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 657790de-adc3-4937-a7e2-129d46feada3
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/657790de-adc3-4937-a7e2-129d46feada3/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiRGlnaXRhbFR3aW5CdWlsZGVySWQiOiAiNDk0ZjhiZWEtMjUwNy00YzFlLTg5ZDItN2M1NDY4NDg3MjUwIiwNCiAgIk9wZXJhdGlvbklkcyI6IFtdLA0KICAiSXNPbkRlbWFuZCI6IGZhbHNlDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlckZsb3ciLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - a3c67507-18d0-4660-b534-52a4be700bf9
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "DigitalTwinBuilderFlow", "displayName": "fabcli000002 Renamed",
      "definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiRGlnaXRhbFR3aW5CdWlsZGVySWQiOiAiNDk0ZjhiZWEtMjUwNy00YzFlLTg5ZDItN2M1NDY4NDg3MjUwIiwNCiAgIk9wZXJhdGlvbklkcyI6IFtdLA0KICAiSXNPbkRlbWFuZCI6IGZhbHNlDQp9",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/47a09b81-619e-426c-b5fb-f5c70b7ea383/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b3cea741-05fe-4955-a311-078a4b5f5450
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/47a09b81-619e-426c-b5fb-f5c70b7ea383
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 939f9c2c-c8ec-4b16-ab32-5faed1fa5ab3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
