interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "8497b10f-ce11-4de7-8021-eb7ab7a0e355",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6dc89eba-c77b-4e74-89ce-a246bbaa2982
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"principal": {"id": "00000000-0000-0000-0000-000000000002", "type": "User"},
      "role": "Member"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/8497b10f-ce11-4de7-8021-eb7ab7a0e355/roleAssignments
  response:
    body:
      string: '{"id": "00000000-0000-0000-0000-000000000002", "principal": {"id":
        "00000000-0000-0000-0000-000000000002", "type": "User"}, "role": "Member"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/8497b10f-ce11-4de7-8021-eb7ab7a0e355/roleAssignments/00000000-0000-0000-0000-000000000002
      RequestId:
      - aa974169-99ea-42e9-932f-e74ce1106c39
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
version: 1
