interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "8497b10f-ce11-4de7-8021-eb7ab7a0e355",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d0a4cf92-6c2b-47ac-8f34-df4c663ba13f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8497b10f-ce11-4de7-8021-eb7ab7a0e355/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1256ca8e-68ff-425a-ad5c-229330818fa8
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/8497b10f-ce11-4de7-8021-eb7ab7a0e355/environments
  response:
    body:
      string: '{"id": "6132f560-256b-45f2-ab83-5f537a0ef2f7", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "8497b10f-ce11-4de7-8021-eb7ab7a0e355"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d216d620-dc42-4c86-b0ab-0640c5b20bb8
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: "--16aff833083f0dd881ad7c1eefa86869\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"environment.yml\"\r\n\r\ndependencies:\n  - pip:\n      - ms-fabric-cli==1.0.0\n\r\n--16aff833083f0dd881ad7c1eefa86869--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=16aff833083f0dd881ad7c1eefa86869
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/8497b10f-ce11-4de7-8021-eb7ab7a0e355/environments/6132f560-256b-45f2-ab83-5f537a0ef2f7/staging/libraries
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 995dc726-d8e3-4f72-8302-9aada66bfb6e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/8497b10f-ce11-4de7-8021-eb7ab7a0e355/items/6132f560-256b-45f2-ab83-5f537a0ef2f7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - cecbe231-c72e-4fbc-bcac-f0ae2bb03ff3
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
