interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2d08fe43-47cd-4324-a6b0-56a96d7dbc6e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b8192b8a-8d08-4ed9-8356-7a20595c91b2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabriccli_WorkspacePerTestclass_000001",
      "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba
      RequestId:
      - b8951c7a-989a-4426-8cb9-d69544dd3b8b
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 98dfb1dd-d17c-41cd-9d99-cdbfbb5051ec
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 36cb785c-0df4-4e49-b667-538edd72acb2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
