interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a02b7bc4-5ab3-487c-9675-2f5a626a8d1c",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a6649396-9a08-4aaf-a96e-1fb8c34ee753
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a02b7bc4-5ab3-487c-9675-2f5a626a8d1c/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fe9a36c1-fd4f-4a99-86e0-a174c1feb4df
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MirroredDatabase", "folderId": null, "definition": {"parts": [{"path": "mirroring.json",
      "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgInNvdXJjZSI6IHsKICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsCiAgICAgICAgICAgICJ0eXBlUHJvcGVydGllcyI6IHt9CiAgICAgICAgfSwKICAgICAgICAidGFyZ2V0IjogewogICAgICAgICAgICAidHlwZSI6ICJNb3VudGVkUmVsYXRpb25hbERhdGFiYXNlIiwKICAgICAgICAgICAgInR5cGVQcm9wZXJ0aWVzIjogewogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSIKICAgICAgICAgICAgfQogICAgICAgIH0KICAgIH0KfQ==",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a02b7bc4-5ab3-487c-9675-2f5a626a8d1c/mirroredDatabases
  response:
    body:
      string: '{"id": "83eb91d2-740c-4adf-8b19-564ab623fe4a", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "a02b7bc4-5ab3-487c-9675-2f5a626a8d1c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 609ed6eb-423d-4106-93be-6646ae3929f3
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a02b7bc4-5ab3-487c-9675-2f5a626a8d1c/mirroredDatabases/83eb91d2-740c-4adf-8b19-564ab623fe4a/getMirroringStatus
  response:
    body:
      string: '{"status": "Initialized"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cc2da173-d4a0-43bc-8ce6-dc3765ee952a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a02b7bc4-5ab3-487c-9675-2f5a626a8d1c/mirroredDatabases/83eb91d2-740c-4adf-8b19-564ab623fe4a/startMirroring
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - aeaf17fd-561e-4480-88c9-34b95c4422c1
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a02b7bc4-5ab3-487c-9675-2f5a626a8d1c/mirroredDatabases/83eb91d2-740c-4adf-8b19-564ab623fe4a
  response:
    body:
      string: '{"id": "83eb91d2-740c-4adf-8b19-564ab623fe4a", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "a02b7bc4-5ab3-487c-9675-2f5a626a8d1c", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/a02b7bc4-5ab3-487c-9675-2f5a626a8d1c/83eb91d2-740c-4adf-8b19-564ab623fe4a/Tables",
        "sqlEndpointProperties": {"connectionString": "mock_connection_string", "id":
        "e70ee4d2-eb0f-45d4-8982-66bb7e93ff25", "provisioningStatus": "Success"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f19fb7d7-45e9-42ca-979c-7a5cfc24c043
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a02b7bc4-5ab3-487c-9675-2f5a626a8d1c/items/83eb91d2-740c-4adf-8b19-564ab623fe4a/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "mirroring.json", "payload": "ew0KICAicHJvcGVydGllcyI6IHsNCiAgICAic291cmNlIjogew0KICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsDQogICAgICAidHlwZVByb3BlcnRpZXMiOiB7fQ0KICAgIH0sDQogICA[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a02b7bc4-5ab3-487c-9675-2f5a626a8d1c/items/83eb91d2-740c-4adf-8b19-564ab623fe4a/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e07668bf-2e37-4e16-ba47-1381d8bd189d
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a02b7bc4-5ab3-487c-9675-2f5a626a8d1c/mirroredDatabases/83eb91d2-740c-4adf-8b19-564ab623fe4a/getTablesMirroringStatus
  response:
    body:
      string: '{"continuationToken": null, "continuationUri": null, "data": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ac2d1463-fb46-4a0c-8d52-024d30ef0e13
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a02b7bc4-5ab3-487c-9675-2f5a626a8d1c/items/83eb91d2-740c-4adf-8b19-564ab623fe4a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 53945b03-f5d5-42cd-bc3e-62779ce94125
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
