interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - af44aa28-31dd-49fd-9b4e-0f22b2f17dce
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2c9e2dc7-0324-4be8-855c-55462cc7e9df
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MirroredDatabase", "folderId": null, "definition": {"parts": [{"path": "mirroring.json",
      "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgInNvdXJjZSI6IHsKICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsCiAgICAgICAgICAgICJ0eXBlUHJvcGVydGllcyI6IHt9CiAgICAgICAgfSwKICAgICAgICAidGFyZ2V0IjogewogICAgICAgICAgICAidHlwZSI6ICJNb3VudGVkUmVsYXRpb25hbERhdGFiYXNlIiwKICAgICAgICAgICAgInR5cGVQcm9wZXJ0aWVzIjogewogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSIKICAgICAgICAgICAgfQogICAgICAgIH0KICAgIH0KfQ==",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba/mirroredDatabases
  response:
    body:
      string: '{"id": "1328c185-99b4-4f2d-987b-59cda725dfcb", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ccbd8c24-71e3-4917-839b-92d1b7889842
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba/mirroredDatabases/1328c185-99b4-4f2d-987b-59cda725dfcb/getMirroringStatus
  response:
    body:
      string: '{"status": "Initialized"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6d988012-f70d-4a96-b434-ace1fd4ffb06
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba/mirroredDatabases/1328c185-99b4-4f2d-987b-59cda725dfcb/startMirroring
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 090daf90-0f60-4bac-85fe-cae84fb020d6
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba/mirroredDatabases/1328c185-99b4-4f2d-987b-59cda725dfcb
  response:
    body:
      string: '{"id": "1328c185-99b4-4f2d-987b-59cda725dfcb", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba/1328c185-99b4-4f2d-987b-59cda725dfcb/Tables",
        "sqlEndpointProperties": {"connectionString": "mock_connection_string", "id":
        "mock_sql_endpoint_properties_id", "provisioningStatus": "Success"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 84a73ccb-c956-46f7-bf08-abf314718c66
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba/items/1328c185-99b4-4f2d-987b-59cda725dfcb/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "mirroring.json", "payload": "ew0KICAicHJvcGVydGllcyI6IHsNCiAgICAic291cmNlIjogew0KICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsDQogICAgICAidHlwZVByb3BlcnRpZXMiOiB7fQ0KICAgIH0sDQogICA[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba/items/1328c185-99b4-4f2d-987b-59cda725dfcb/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f3064582-062b-4ccf-85bb-0ed921475f4f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba/mirroredDatabases/1328c185-99b4-4f2d-987b-59cda725dfcb/getTablesMirroringStatus
  response:
    body:
      string: '{"continuationToken": null, "continuationUri": null, "data": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7fc394f7-59b1-437c-9be0-f1d0ce807077
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/81cfa69e-3efa-4fdf-9fe5-a1877a50c3ba/items/1328c185-99b4-4f2d-987b-59cda725dfcb
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5bc0c271-e3b5-4137-a8ff-6dc63505d089
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
