interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "2f02efbc-958c-4a96-91bc-ef6f0cbb4949",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 32697f39-360a-4b85-8670-2a1f4aa9a10d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2f02efbc-958c-4a96-91bc-ef6f0cbb4949/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d07d08c6-3f64-411b-95b2-cae1ade47f57
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "MirroredDatabase", "folderId":
      null, "definition": {"parts": [{"path": "mirroring.json", "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgInNvdXJjZSI6IHsKICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsCiAgICAgICAgICAgICJ0eXBlUHJvcGVydGllcyI6IHt9CiAgICAgICAgfSwKICAgICAgICAidGFyZ2V0IjogewogICAgICAgICAgICAidHlwZSI6ICJNb3VudGVkUmVsYXRpb25hbERhdGFiYXNlIiwKICAgICAgICAgICAgInR5cGVQcm9wZXJ0aWVzIjogewogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSIKICAgICAgICAgICAgfQogICAgICAgIH0KICAgIH0KfQ==",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2f02efbc-958c-4a96-91bc-ef6f0cbb4949/mirroredDatabases
  response:
    body:
      string: '{"id": "cc68cc95-33b5-4dd1-82a7-6f6979fbe868", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "2f02efbc-958c-4a96-91bc-ef6f0cbb4949"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6dfd778e-93f4-4cf2-a6db-89fa87e91825
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2f02efbc-958c-4a96-91bc-ef6f0cbb4949/mirroredDatabases/cc68cc95-33b5-4dd1-82a7-6f6979fbe868/getMirroringStatus
  response:
    body:
      string: '{"status": "Initialized"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0bf7cd41-2b23-459b-9246-c3ed5f490038
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2f02efbc-958c-4a96-91bc-ef6f0cbb4949/mirroredDatabases/cc68cc95-33b5-4dd1-82a7-6f6979fbe868/startMirroring
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 42473d6a-c3e9-4f77-877c-8684cd7fc131
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2f02efbc-958c-4a96-91bc-ef6f0cbb4949/mirroredDatabases/cc68cc95-33b5-4dd1-82a7-6f6979fbe868
  response:
    body:
      string: '{"id": "cc68cc95-33b5-4dd1-82a7-6f6979fbe868", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "2f02efbc-958c-4a96-91bc-ef6f0cbb4949",
        "properties": {"oneLakeTablesPath": "https://onelake.dfs.fabric.microsoft.com/2f02efbc-958c-4a96-91bc-ef6f0cbb4949/cc68cc95-33b5-4dd1-82a7-6f6979fbe868/Tables",
        "sqlEndpointProperties": {"connectionString": "mock_connection_string", "id":
        "84232a2f-0666-4183-9bf7-380105c23084", "provisioningStatus": "Success"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b6133ddd-dea5-4575-9768-77d598ba6c29
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2f02efbc-958c-4a96-91bc-ef6f0cbb4949/items/cc68cc95-33b5-4dd1-82a7-6f6979fbe868/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "mirroring.json", "payload": "ew0KICAicHJvcGVydGllcyI6IHsNCiAgICAic291cmNlIjogew0KICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsDQogICAgICAidHlwZVByb3BlcnRpZXMiOiB7fQ0KICAgIH0sDQogICA[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2f02efbc-958c-4a96-91bc-ef6f0cbb4949/items/cc68cc95-33b5-4dd1-82a7-6f6979fbe868/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0ec7d94d-82ab-4458-a73e-ac5ead621793
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2f02efbc-958c-4a96-91bc-ef6f0cbb4949/mirroredDatabases/cc68cc95-33b5-4dd1-82a7-6f6979fbe868/getTablesMirroringStatus
  response:
    body:
      string: '{"continuationToken": null, "continuationUri": null, "data": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a99e19aa-171e-4434-a44b-e36dd4564867
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2f02efbc-958c-4a96-91bc-ef6f0cbb4949/items/cc68cc95-33b5-4dd1-82a7-6f6979fbe868
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1eafeb8f-c833-4878-8d5d-d9d512c79bd4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
