interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "333ff49b-4a8e-446b-b27b-c2f216580c52",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 49307b60-6fe8-4b6d-8245-27e3504d465f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/333ff49b-4a8e-446b-b27b-c2f216580c52/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1ebf57f8-2a4b-4c85-98a6-f2d188e8143a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MirroredDatabase", "folderId": null, "definition": {"parts": [{"path": "mirroring.json",
      "payload": "ew0KICAgICJwcm9wZXJ0aWVzIjogew0KICAgICAgICAic291cmNlIjogew0KICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsDQogICAgICAgICAgICAidHlwZVByb3BlcnRpZXMiOiB7fQ0KICAgICAgICB9LA0KICAgICAgICAidGFyZ2V0Ijogew0KICAgICAgICAgICAgInR5cGUiOiAiTW91bnRlZFJlbGF0aW9uYWxEYXRhYmFzZSIsDQogICAgICAgICAgICAidHlwZVByb3BlcnRpZXMiOiB7DQogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSINCiAgICAgICAgICAgIH0NCiAgICAgICAgfQ0KICAgIH0NCn0=",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/333ff49b-4a8e-446b-b27b-c2f216580c52/mirroredDatabases
  response:
    body:
      string: '{"id": "40229914-f537-4e7a-b493-65ae6bd6a379", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "333ff49b-4a8e-446b-b27b-c2f216580c52"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 501389b9-59bd-464b-b46c-15296dc7d80e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/333ff49b-4a8e-446b-b27b-c2f216580c52/mirroredDatabases/40229914-f537-4e7a-b493-65ae6bd6a379/getMirroringStatus
  response:
    body:
      string: '{"status": "Initialized"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6568a097-885d-4cbd-a550-faa45364c119
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/333ff49b-4a8e-446b-b27b-c2f216580c52/mirroredDatabases/40229914-f537-4e7a-b493-65ae6bd6a379/startMirroring
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1bea6ade-144d-4fbe-9a83-ac9b79bdbb61
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/333ff49b-4a8e-446b-b27b-c2f216580c52/items/40229914-f537-4e7a-b493-65ae6bd6a379
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 19cb07e3-774d-48cc-9077-ea862b7c8c87
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
