interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "ff213028-2352-44bd-8457-096c4effbfee",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 79e9d9ad-ba7f-477b-813d-eee14d4aeda3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ff213028-2352-44bd-8457-096c4effbfee/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bc74f452-8ab4-4e22-87bb-3fe964dbf068
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "MirroredDatabase", "folderId":
      null, "definition": {"parts": [{"path": "mirroring.json", "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgInNvdXJjZSI6IHsKICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsCiAgICAgICAgICAgICJ0eXBlUHJvcGVydGllcyI6IHt9CiAgICAgICAgfSwKICAgICAgICAidGFyZ2V0IjogewogICAgICAgICAgICAidHlwZSI6ICJNb3VudGVkUmVsYXRpb25hbERhdGFiYXNlIiwKICAgICAgICAgICAgInR5cGVQcm9wZXJ0aWVzIjogewogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSIKICAgICAgICAgICAgfQogICAgICAgIH0KICAgIH0KfQ==",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ff213028-2352-44bd-8457-096c4effbfee/mirroredDatabases
  response:
    body:
      string: '{"id": "c1a618c8-b424-4d72-bdab-c4366735bf81", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "ff213028-2352-44bd-8457-096c4effbfee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 75117d6b-df65-43b8-bdba-f02fd3e3f8fa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ff213028-2352-44bd-8457-096c4effbfee/mirroredDatabases/c1a618c8-b424-4d72-bdab-c4366735bf81/getMirroringStatus
  response:
    body:
      string: '{"status": "Initialized"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d33333ca-4875-4eb1-9bae-9e69c355168f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ff213028-2352-44bd-8457-096c4effbfee/mirroredDatabases/c1a618c8-b424-4d72-bdab-c4366735bf81/startMirroring
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c11d2d5e-55d2-4cdc-bc66-f00cc58b684f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ff213028-2352-44bd-8457-096c4effbfee/mirroredDatabases/c1a618c8-b424-4d72-bdab-c4366735bf81
  response:
    body:
      string: '{"id": "c1a618c8-b424-4d72-bdab-c4366735bf81", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "ff213028-2352-44bd-8457-096c4effbfee",
        "properties": {"oneLakeTablesPath": "https://onelake.dfs.fabric.microsoft.com/ff213028-2352-44bd-8457-096c4effbfee/c1a618c8-b424-4d72-bdab-c4366735bf81/Tables",
        "sqlEndpointProperties": {"connectionString": "mock_connection_string", "id":
        "0eee750a-108c-4cb0-8422-d19c9fc63f46", "provisioningStatus": "Success"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b66625e2-2345-46a0-9944-7421736c312f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ff213028-2352-44bd-8457-096c4effbfee/items/c1a618c8-b424-4d72-bdab-c4366735bf81/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "mirroring.json", "payload": "ew0KICAicHJvcGVydGllcyI6IHsNCiAgICAic291cmNlIjogew0KICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsDQogICAgICAidHlwZVByb3BlcnRpZXMiOiB7fQ0KICAgIH0sDQogICA[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ff213028-2352-44bd-8457-096c4effbfee/items/c1a618c8-b424-4d72-bdab-c4366735bf81/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ebda8bdb-e190-4cac-962f-a43c56a74f45
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ff213028-2352-44bd-8457-096c4effbfee/mirroredDatabases/c1a618c8-b424-4d72-bdab-c4366735bf81/getTablesMirroringStatus
  response:
    body:
      string: '{"continuationToken": null, "continuationUri": null, "data": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6241d8ff-dacb-490f-97b1-014b20f47fad
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ff213028-2352-44bd-8457-096c4effbfee/items/c1a618c8-b424-4d72-bdab-c4366735bf81
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 11ca8854-20a4-46a2-a277-d0ed020e9186
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
