interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9e6b93fd-ad96-4e66-bedd-2d9d7d893c83
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F2", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f21606a5-9d87-4905-8b42-3cc120089e75
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabriccli_WorkspacePerTestclass_000001",
      "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "800bbebe-d0cc-4d21-b8fd-f29885b0363c", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/800bbebe-d0cc-4d21-b8fd-f29885b0363c
      RequestId:
      - 9b38bbdf-0a08-4d0d-a0bb-46d24a685778
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/800bbebe-d0cc-4d21-b8fd-f29885b0363c/items
  response:
    body:
      string: '{"value": [{"id": "0662aeb7-3fd2-44e4-b378-f4b9b0e62451", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "800bbebe-d0cc-4d21-b8fd-f29885b0363c"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b9ea1e1d-1848-416a-98a4-f89c185e3ab7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/800bbebe-d0cc-4d21-b8fd-f29885b0363c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - bdf035cc-f4bd-413b-8712-069fc53027df
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
