interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c0ad49e8-efdf-4ac0-a985-606a72d7edef
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 399bd799-ea30-48c5-9f66-53f6e440284b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabriccli_WorkspacePerTestclass_000001",
      "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "9b9b7432-90cd-4ae2-9702-5d97c233784c", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/9b9b7432-90cd-4ae2-9702-5d97c233784c
      RequestId:
      - b10807f5-fd9e-4ea5-9a3d-1b808ad590ab
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9b9b7432-90cd-4ae2-9702-5d97c233784c/items
  response:
    body:
      string: '{"value": [{"id": "02b473d6-b687-4f79-a0af-0d6bd295742d", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "9b9b7432-90cd-4ae2-9702-5d97c233784c"},
        {"id": "0516c4f6-54d8-4eb9-93fd-aa2afcb9fd1c", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "9b9b7432-90cd-4ae2-9702-5d97c233784c"},
        {"id": "c867e21e-e44d-4821-821b-70dd3fae45ad", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "9b9b7432-90cd-4ae2-9702-5d97c233784c"},
        {"id": "c822a139-20b0-4aba-a7d4-6b14556dd890", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "9b9b7432-90cd-4ae2-9702-5d97c233784c"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9bf700bb-1848-42ab-8b30-038d926d24f1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9b9b7432-90cd-4ae2-9702-5d97c233784c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c3e0e109-9db7-404e-8460-78235dece80d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
