interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "fa27f57f-70d6-4009-872b-f7e7149c5026",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 54615783-89c3-4586-a86f-6181c507ee9b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fa27f57f-70d6-4009-872b-f7e7149c5026/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cc0d5d9e-8462-44d4-a7c6-5463e17de7e5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Reflex", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/fa27f57f-70d6-4009-872b-f7e7149c5026/reflexes
  response:
    body:
      string: '{"id": "a226b70d-c59c-4a8d-bf32-9fad41caab35", "type": "Reflex", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "fa27f57f-70d6-4009-872b-f7e7149c5026"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 5f2d410a-9d12-4ece-ab89-7c371e0e8ba4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fa27f57f-70d6-4009-872b-f7e7149c5026/reflexes/a226b70d-c59c-4a8d-bf32-9fad41caab35
  response:
    body:
      string: '{"id": "a226b70d-c59c-4a8d-bf32-9fad41caab35", "type": "Reflex", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "fa27f57f-70d6-4009-872b-f7e7149c5026"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 19c9ccc8-c15a-4812-921c-455b593f63a4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fa27f57f-70d6-4009-872b-f7e7149c5026/items/a226b70d-c59c-4a8d-bf32-9fad41caab35/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1acc1b5a-a776-4e66-ab12-931edcc43c22
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/fa27f57f-70d6-4009-872b-f7e7149c5026/items/a226b70d-c59c-4a8d-bf32-9fad41caab35
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 23bdd663-572d-4cdb-835c-ff876e70431f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
