interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "9296d6df-a250-4853-bb51-04f8b42ec6ee",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 68646731-9ef6-4b0b-9d2d-961149873e5d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9296d6df-a250-4853-bb51-04f8b42ec6ee/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3298d95a-d0f2-4d22-9ab7-408935eb69ee
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9296d6df-a250-4853-bb51-04f8b42ec6ee/lakehouses
  response:
    body:
      string: '{"id": "804db058-307e-44fe-a598-995d83fc8fd7", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9296d6df-a250-4853-bb51-04f8b42ec6ee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6767326f-12c8-46bc-b3ac-b694b6d01d8f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/9296d6df-a250-4853-bb51-04f8b42ec6ee/804db058-307e-44fe-a598-995d83fc8fd7/Files/originalBothShortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/9296d6df-a250-4853-bb51-04f8b42ec6ee/804db058-307e-44fe-a598-995d83fc8fd7/Files/originalBothShortcut.Shortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: '{"path": "Files", "name": "originalBothShortcut", "target": {"oneLake":
      {"workspaceId": "9296d6df-a250-4853-bb51-04f8b42ec6ee", "itemId": "bb94ddf6-20f0-45c7-a2ab-3e9ecaa57d3b",
      "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9296d6df-a250-4853-bb51-04f8b42ec6ee/items/804db058-307e-44fe-a598-995d83fc8fd7/shortcuts?shortcutConflictPolicy=GenerateUniqueName
  response:
    body:
      string: '{"name": "originalBothShortcut", "path": "Files", "target": {"type":
        "OneLake", "oneLake": {"workspaceId": "9296d6df-a250-4853-bb51-04f8b42ec6ee",
        "itemId": "bb94ddf6-20f0-45c7-a2ab-3e9ecaa57d3b", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/9296d6df-a250-4853-bb51-04f8b42ec6ee/items/804db058-307e-44fe-a598-995d83fc8fd7/shortcuts/Files/originalBothShortcut
      RequestId:
      - 063ea3bc-c18e-4f7e-a1f3-692e4b929d0c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9296d6df-a250-4853-bb51-04f8b42ec6ee/lakehouses/2f192842-2d1d-4b71-8a6e-3213db4026d5
  response:
    body:
      string: '{"id": "2f192842-2d1d-4b71-8a6e-3213db4026d5", "type": "Lakehouse",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "9296d6df-a250-4853-bb51-04f8b42ec6ee", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/9296d6df-a250-4853-bb51-04f8b42ec6ee/2f192842-2d1d-4b71-8a6e-3213db4026d5/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/9296d6df-a250-4853-bb51-04f8b42ec6ee/2f192842-2d1d-4b71-8a6e-3213db4026d5/Files",
        "sqlEndpointProperties": {"connectionString": "mock_connection_string", "id":
        "b07813c0-ca2d-4949-82ed-db533f18d1b4", "provisioningStatus": "Success"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 8ec5013e-61f0-4315-b702-2566b3b9a73b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9296d6df-a250-4853-bb51-04f8b42ec6ee/items/2f192842-2d1d-4b71-8a6e-3213db4026d5/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cf9aabe2-f25a-4835-90bc-aad05cd72779
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9296d6df-a250-4853-bb51-04f8b42ec6ee/items/2f192842-2d1d-4b71-8a6e-3213db4026d5/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4b097f20-95f1-4ecb-89c5-c6666e00544e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/9296d6df-a250-4853-bb51-04f8b42ec6ee/804db058-307e-44fe-a598-995d83fc8fd7/Files/originalBothShortcut
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DE45E10DC12280"'
      Last-Modified:
      - Sun, 28 Dec 2025 07:16:43 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9296d6df-a250-4853-bb51-04f8b42ec6ee/items/804db058-307e-44fe-a598-995d83fc8fd7/shortcuts/Files/originalBothShortcut
  response:
    body:
      string: '{"name": "originalBothShortcut", "path": "Files", "target": {"type":
        "OneLake", "oneLake": {"workspaceId": "9296d6df-a250-4853-bb51-04f8b42ec6ee",
        "itemId": "bb94ddf6-20f0-45c7-a2ab-3e9ecaa57d3b", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5c8f956f-996f-42f0-841a-100824181bde
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/9296d6df-a250-4853-bb51-04f8b42ec6ee/804db058-307e-44fe-a598-995d83fc8fd7/Files/fabcli000004
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DE45E11041F664"'
      Last-Modified:
      - Sun, 28 Dec 2025 07:16:47 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9296d6df-a250-4853-bb51-04f8b42ec6ee/items/804db058-307e-44fe-a598-995d83fc8fd7/shortcuts/Files/fabcli000004
  response:
    body:
      string: '{"name": "fabcli000004", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "9296d6df-a250-4853-bb51-04f8b42ec6ee", "itemId":
        "2f192842-2d1d-4b71-8a6e-3213db4026d5", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ca0f426b-d3cb-456d-84b1-2603fdd11e72
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9296d6df-a250-4853-bb51-04f8b42ec6ee/items/2f192842-2d1d-4b71-8a6e-3213db4026d5
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - add0c30e-1f6e-4e2a-9a8c-452bf93c9b6e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9296d6df-a250-4853-bb51-04f8b42ec6ee/items/804db058-307e-44fe-a598-995d83fc8fd7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d6d34b82-1536-44cf-a28d-7d364b2368c5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
