interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "066ce40b-1395-4b1e-b4ba-9ed15654e67d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bf0a3ffa-a071-4b18-b992-541d75610989
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 80cfd80a-c028-4a2d-9782-d3bf2c78b0a8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/32fa2466-3c3e-43dd-b194-32e4e7c07b89
      RequestId:
      - 9b7829bd-cd80-4935-bf2c-95954c77ef56
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 32fa2466-3c3e-43dd-b194-32e4e7c07b89
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/32fa2466-3c3e-43dd-b194-32e4e7c07b89
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-03T12:42:55.8855323",
        "lastUpdatedTimeUtc": "2026-09-03T12:42:55.8855323", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/32fa2466-3c3e-43dd-b194-32e4e7c07b89
      RequestId:
      - 3e2260f1-8ceb-48d9-abbc-20076f9d60eb
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 32fa2466-3c3e-43dd-b194-32e4e7c07b89
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/32fa2466-3c3e-43dd-b194-32e4e7c07b89/result
  response:
    body:
      string: '{"id": "7009792e-a1b0-4efb-a702-11d3979c47fa", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "066ce40b-1395-4b1e-b4ba-9ed15654e67d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 99bed110-c286-4025-92d4-986e250b4dcd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/ontologies/7009792e-a1b0-4efb-a702-11d3979c47fa
  response:
    body:
      string: '{"id": "7009792e-a1b0-4efb-a702-11d3979c47fa", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "066ce40b-1395-4b1e-b4ba-9ed15654e67d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 8e71bcaa-a3c5-474d-9b79-e479830d9581
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/items/7009792e-a1b0-4efb-a702-11d3979c47fa/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 44462128-9622-4824-b453-573240870afd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/items/7009792e-a1b0-4efb-a702-11d3979c47fa
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8e3df0f7-b702-4177-8047-655b92f333c8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
