interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "84896de5-b6a6-44b7-b305-ca0c9bfdef99", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c4a94b76-43e5-44ed-9c06-30e7cf340560
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a031bd0e-3498-4a14-8d5c-d048829f48e8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MLModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/mlModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/34e7be71-53ca-47b9-8757-b51ec342f817
      RequestId:
      - d2029adb-7db5-4ce6-8f66-c86004640067
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 34e7be71-53ca-47b9-8757-b51ec342f817
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/34e7be71-53ca-47b9-8757-b51ec342f817
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-20T07:42:15.0058196",
        "lastUpdatedTimeUtc": "2026-01-20T07:42:15.4589316", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/34e7be71-53ca-47b9-8757-b51ec342f817/result
      RequestId:
      - a4fd0899-10ac-40d8-92a8-fffe8007f5e9
      x-ms-operation-id:
      - 34e7be71-53ca-47b9-8757-b51ec342f817
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/34e7be71-53ca-47b9-8757-b51ec342f817/result
  response:
    body:
      string: '{"id": "fcf40ac2-699e-49ad-b503-25a287d8e988", "type": "MLModel", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "84896de5-b6a6-44b7-b305-ca0c9bfdef99"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 8a76086d-8594-4e6d-a97b-6b5f315f37c1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/mlModels/fcf40ac2-699e-49ad-b503-25a287d8e988
  response:
    body:
      string: '{"id": "fcf40ac2-699e-49ad-b503-25a287d8e988", "type": "MLModel", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "84896de5-b6a6-44b7-b305-ca0c9bfdef99"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 50585d80-9241-472c-9059-d4f0ecdcfff5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000002"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/mlModels/fcf40ac2-699e-49ad-b503-25a287d8e988
  response:
    body:
      string: '{"requestId": "f2f0c6ea-3065-425a-871d-90cd8e404a54", "errorCode":
        "MLModelDisplayNameCannotBeChanged", "message": "The displayName of MLModel
        items cannot be changed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f2f0c6ea-3065-425a-871d-90cd8e404a54
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - MLModelDisplayNameCannotBeChanged
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items/fcf40ac2-699e-49ad-b503-25a287d8e988
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3af4b08e-b9e4-41dd-a2e9-6baeee6cd79d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
