interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "9b9b7432-90cd-4ae2-9702-5d97c233784c",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 072c7fe7-2cef-420c-97b7-dba4d61f4bd4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9b9b7432-90cd-4ae2-9702-5d97c233784c/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 41851d8f-7afe-45d7-af68-ad6f34a6803e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9b9b7432-90cd-4ae2-9702-5d97c233784c/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7affb468-3b29-402f-9f26-3091a5a2e2f7
      RequestId:
      - 61f2fd43-0c59-431a-8851-111649a83050
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7affb468-3b29-402f-9f26-3091a5a2e2f7
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7affb468-3b29-402f-9f26-3091a5a2e2f7
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T09:29:41.7996365",
        "lastUpdatedTimeUtc": "2026-03-31T09:29:49.9546908", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7affb468-3b29-402f-9f26-3091a5a2e2f7/result
      RequestId:
      - a94e2e55-e988-42a5-8bae-c535bdbabc6d
      x-ms-operation-id:
      - 7affb468-3b29-402f-9f26-3091a5a2e2f7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7affb468-3b29-402f-9f26-3091a5a2e2f7/result
  response:
    body:
      string: '{"id": "6ca92fb9-0f1c-486d-bf7a-9eb783c7d813", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "workspaceId":
        "9b9b7432-90cd-4ae2-9702-5d97c233784c"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ad3b59dc-01e2-4009-b347-41467aca80f8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9b9b7432-90cd-4ae2-9702-5d97c233784c/digitalTwinBuilders/6ca92fb9-0f1c-486d-bf7a-9eb783c7d813
  response:
    body:
      string: '{"id": "6ca92fb9-0f1c-486d-bf7a-9eb783c7d813", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "workspaceId":
        "9b9b7432-90cd-4ae2-9702-5d97c233784c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 99ecf2d3-8426-4430-9fbb-67a890997f9f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9b9b7432-90cd-4ae2-9702-5d97c233784c/items/6ca92fb9-0f1c-486d-bf7a-9eb783c7d813/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fe27873f-87da-4358-8af5-62f51894114b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9b9b7432-90cd-4ae2-9702-5d97c233784c/items/6ca92fb9-0f1c-486d-bf7a-9eb783c7d813
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 75abea99-7c87-4dce-a6ea-bb76e70833e0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
