interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b0b9a4a2-1b0c-43ff-be15-703ed4d8a8b4",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f140b9d9-3a4b-4e1d-b807-2dda32be8d0e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b0b9a4a2-1b0c-43ff-be15-703ed4d8a8b4
  response:
    body:
      string: '{"id": "b0b9a4a2-1b0c-43ff-be15-703ed4d8a8b4", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ac328cdd-8b2c-4f84-938b-129c9bb29df7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b0b9a4a2-1b0c-43ff-be15-703ed4d8a8b4/provisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1a645f64-a703-4592-a11f-a83bec8754a1
      RequestId:
      - 8805d80b-e4ea-4ef3-884b-2a45bd5b06f7
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 1a645f64-a703-4592-a11f-a83bec8754a1
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1a645f64-a703-4592-a11f-a83bec8754a1
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-05T13:58:01.8065357",
        "lastUpdatedTimeUtc": "2026-02-05T13:58:03.4950688", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1a645f64-a703-4592-a11f-a83bec8754a1/result
      RequestId:
      - f738a37c-a3af-44a9-9021-c479f45713f0
      x-ms-operation-id:
      - 1a645f64-a703-4592-a11f-a83bec8754a1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1a645f64-a703-4592-a11f-a83bec8754a1/result
  response:
    body:
      string: '{"applicationId": "206abd67-3476-44c4-a890-7f29d2f3c39f", "servicePrincipalId":
        "39965fec-aedb-426f-a8b5-b9c03725abdc"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - a4979f87-e750-4c29-9e18-cd7512ba9fd8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b0b9a4a2-1b0c-43ff-be15-703ed4d8a8b4
  response:
    body:
      string: '{"id": "b0b9a4a2-1b0c-43ff-be15-703ed4d8a8b4", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed", "workspaceIdentity": {"applicationId": "206abd67-3476-44c4-a890-7f29d2f3c39f",
        "servicePrincipalId": "39965fec-aedb-426f-a8b5-b9c03725abdc"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c8a14b48-7423-480c-ad53-48d50762eca7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b0b9a4a2-1b0c-43ff-be15-703ed4d8a8b4/deprovisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/000791d4-78dc-4732-936a-f8214972ac44
      RequestId:
      - 22e663f0-f803-40ff-8c82-2ada6bd78136
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 000791d4-78dc-4732-936a-f8214972ac44
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/000791d4-78dc-4732-936a-f8214972ac44
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-05T13:58:10.1867422",
        "lastUpdatedTimeUtc": "2026-02-05T13:58:11.1401763", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ff11ddcd-8d94-4ae1-8f9c-c6e003f18122
    status:
      code: 200
      message: OK
version: 1
