interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "84896de5-b6a6-44b7-b305-ca0c9bfdef99", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 73a28e70-83ba-441a-9d7d-59404f93afda
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 240193ac-f1fc-43b3-9517-43fef0b232a7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDashboard", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/kqlDashboards
  response:
    body:
      string: '{"id": "d12149b4-3c6f-40ad-a627-c4326d4c52a7", "type": "KQLDashboard",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "84896de5-b6a6-44b7-b305-ca0c9bfdef99"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - db357132-36b8-4d30-bd5c-d37289558630
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/kqlDashboards/d12149b4-3c6f-40ad-a627-c4326d4c52a7
  response:
    body:
      string: '{"id": "d12149b4-3c6f-40ad-a627-c4326d4c52a7", "type": "KQLDashboard",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "84896de5-b6a6-44b7-b305-ca0c9bfdef99"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - de7489a2-b0ea-447c-810c-910564694717
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items/d12149b4-3c6f-40ad-a627-c4326d4c52a7/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 16934169-705f-4246-8c54-187d32cd656d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items/d12149b4-3c6f-40ad-a627-c4326d4c52a7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 94e4b557-dad8-434d-b139-1b5450080f74
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
