interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "8f373a88-b815-487a-8125-6ad07cd0d33d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 49fa0c6b-11e4-4850-9c86-d1d817a4e307
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8f373a88-b815-487a-8125-6ad07cd0d33d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 20eb531d-8114-4922-897b-2bcbb8a4cc46
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/8f373a88-b815-487a-8125-6ad07cd0d33d/lakehouses
  response:
    body:
      string: '{"id": "3fb37033-5479-477e-8400-b903cc4b8b69", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "8f373a88-b815-487a-8125-6ad07cd0d33d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ad0950d0-8b20-4b21-a9e7-fe1847269e4f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/8f373a88-b815-487a-8125-6ad07cd0d33d/3fb37033-5479-477e-8400-b903cc4b8b69/Files/targetUpdateShortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/8f373a88-b815-487a-8125-6ad07cd0d33d/3fb37033-5479-477e-8400-b903cc4b8b69/Files/targetUpdateShortcut.Shortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: '{"path": "Files", "name": "targetUpdateShortcut", "target": {"oneLake":
      {"workspaceId": "8f373a88-b815-487a-8125-6ad07cd0d33d", "itemId": "df25c4e8-ce61-4f97-9297-a8213fedecc0",
      "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/8f373a88-b815-487a-8125-6ad07cd0d33d/items/3fb37033-5479-477e-8400-b903cc4b8b69/shortcuts?shortcutConflictPolicy=GenerateUniqueName
  response:
    body:
      string: '{"name": "targetUpdateShortcut", "path": "Files", "target": {"type":
        "OneLake", "oneLake": {"workspaceId": "8f373a88-b815-487a-8125-6ad07cd0d33d",
        "itemId": "df25c4e8-ce61-4f97-9297-a8213fedecc0", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/8f373a88-b815-487a-8125-6ad07cd0d33d/items/3fb37033-5479-477e-8400-b903cc4b8b69/shortcuts/Files/targetUpdateShortcut
      RequestId:
      - 84c37433-aebc-4a7c-9d1f-c885d2cd25f8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8f373a88-b815-487a-8125-6ad07cd0d33d/lakehouses/0bab0021-2d4f-4858-94b4-abe665b88681
  response:
    body:
      string: '{"id": "0bab0021-2d4f-4858-94b4-abe665b88681", "type": "Lakehouse",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "8f373a88-b815-487a-8125-6ad07cd0d33d", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/8f373a88-b815-487a-8125-6ad07cd0d33d/0bab0021-2d4f-4858-94b4-abe665b88681/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/8f373a88-b815-487a-8125-6ad07cd0d33d/0bab0021-2d4f-4858-94b4-abe665b88681/Files",
        "sqlEndpointProperties": {"connectionString": "mock_connection_string", "id":
        "acf39f05-8ca2-4267-9834-d718ffc817d6", "provisioningStatus": "Success"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ce6f6357-6b91-4695-b56d-7c7ff93183ae
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8f373a88-b815-487a-8125-6ad07cd0d33d/items/0bab0021-2d4f-4858-94b4-abe665b88681/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 64b58d96-d919-4b25-94ad-4a4c6803ff0f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8f373a88-b815-487a-8125-6ad07cd0d33d/items/0bab0021-2d4f-4858-94b4-abe665b88681/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1f85377f-5803-4dc7-bbae-876d8100af83
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/8f373a88-b815-487a-8125-6ad07cd0d33d/3fb37033-5479-477e-8400-b903cc4b8b69/Files/targetUpdateShortcut
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DE45E0864E6624"'
      Last-Modified:
      - Sun, 28 Dec 2025 07:12:56 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8f373a88-b815-487a-8125-6ad07cd0d33d/items/3fb37033-5479-477e-8400-b903cc4b8b69/shortcuts/Files/targetUpdateShortcut
  response:
    body:
      string: '{"name": "targetUpdateShortcut", "path": "Files", "target": {"type":
        "OneLake", "oneLake": {"workspaceId": "8f373a88-b815-487a-8125-6ad07cd0d33d",
        "itemId": "df25c4e8-ce61-4f97-9297-a8213fedecc0", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f810f787-c450-4ff1-a7fd-ef4d36d89b98
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/8f373a88-b815-487a-8125-6ad07cd0d33d/items/0bab0021-2d4f-4858-94b4-abe665b88681
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 07adf7c1-741a-4121-a876-88c8f6b327a7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/8f373a88-b815-487a-8125-6ad07cd0d33d/items/3fb37033-5479-477e-8400-b903cc4b8b69
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d2c2fc53-52f5-4b31-b6e9-5bfbf6ef829e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
