interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "2f821edf-614b-4cf7-ba07-c789b53a050f",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0a68cff9-210a-49c2-a6bc-ff388cbd5288
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2f821edf-614b-4cf7-ba07-c789b53a050f/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b6db026a-73fd-4133-ab16-e36a91401d4e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2f821edf-614b-4cf7-ba07-c789b53a050f/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d2ac1801-a6f7-4429-95a7-94a23af4cd53
      RequestId:
      - 913b88d2-918f-49ad-b315-23e9b3f230d2
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d2ac1801-a6f7-4429-95a7-94a23af4cd53
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d2ac1801-a6f7-4429-95a7-94a23af4cd53
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-11T07:52:01.1540194",
        "lastUpdatedTimeUtc": "2026-02-11T07:52:11.6462973", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d2ac1801-a6f7-4429-95a7-94a23af4cd53/result
      RequestId:
      - 82e0a3e5-99f8-447b-ad25-cec053fccfd7
      x-ms-operation-id:
      - d2ac1801-a6f7-4429-95a7-94a23af4cd53
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d2ac1801-a6f7-4429-95a7-94a23af4cd53/result
  response:
    body:
      string: '{"id": "ed8da6da-199e-47ac-b1ba-a0349911da00", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "2f821edf-614b-4cf7-ba07-c789b53a050f"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 457fe4ed-3c94-4578-9cac-0d5eb7c4c212
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2f821edf-614b-4cf7-ba07-c789b53a050f/cosmosDbDatabases/ed8da6da-199e-47ac-b1ba-a0349911da00
  response:
    body:
      string: '{"id": "ed8da6da-199e-47ac-b1ba-a0349911da00", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "2f821edf-614b-4cf7-ba07-c789b53a050f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 131ac00d-4de0-4ee4-941a-dc86c01e1e75
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2f821edf-614b-4cf7-ba07-c789b53a050f/items/ed8da6da-199e-47ac-b1ba-a0349911da00/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8ebf8728-e2a3-450f-87b3-398c905760f8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2f821edf-614b-4cf7-ba07-c789b53a050f/items/ed8da6da-199e-47ac-b1ba-a0349911da00
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 68e054ef-da14-40fe-8886-0640214b0510
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
