interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "81065bd8-e334-4715-b170-dedb4cd514e6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e0584eb6-8fff-4af5-8b19-720a78727fd7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items
  response:
    body:
      string: '{"value": [{"id": "3e75a415-b907-4295-b163-a746b3af88d1", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "81065bd8-e334-4715-b170-dedb4cd514e6"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a7828f54-30a8-4f8a-a77c-731fcfc266ea
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/lakehouses
  response:
    body:
      string: '{"id": "feef205f-3aec-4175-9e2b-0104d11d2202", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "81065bd8-e334-4715-b170-dedb4cd514e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7ca20a1b-b3f6-4bfd-bb29-62fe2b0c0e27
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/81065bd8-e334-4715-b170-dedb4cd514e6/feef205f-3aec-4175-9e2b-0104d11d2202/Files/originalShortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/81065bd8-e334-4715-b170-dedb4cd514e6/feef205f-3aec-4175-9e2b-0104d11d2202/Files/originalShortcut.Shortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: '{"path": "Files", "name": "originalShortcut", "target": {"oneLake": {"workspaceId":
      "81065bd8-e334-4715-b170-dedb4cd514e6", "itemId": "ee914472-2b9e-4a22-9624-3eac0e96c32f",
      "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/feef205f-3aec-4175-9e2b-0104d11d2202/shortcuts?shortcutConflictPolicy=GenerateUniqueName
  response:
    body:
      string: '{"name": "originalShortcut", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "81065bd8-e334-4715-b170-dedb4cd514e6", "itemId":
        "ee914472-2b9e-4a22-9624-3eac0e96c32f", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/feef205f-3aec-4175-9e2b-0104d11d2202/shortcuts/Files/originalShortcut
      RequestId:
      - 0eff946d-0d7f-424e-8403-41b447fd19f4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/81065bd8-e334-4715-b170-dedb4cd514e6/feef205f-3aec-4175-9e2b-0104d11d2202/Files/originalShortcut
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DE487A28128E18"'
      Last-Modified:
      - Wed, 31 Dec 2025 14:37:42 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/feef205f-3aec-4175-9e2b-0104d11d2202/shortcuts/Files/originalShortcut
  response:
    body:
      string: '{"name": "originalShortcut", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "81065bd8-e334-4715-b170-dedb4cd514e6", "itemId":
        "ee914472-2b9e-4a22-9624-3eac0e96c32f", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ee3a3745-271e-48d3-91bb-3aa7aedd1c1e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/81065bd8-e334-4715-b170-dedb4cd514e6/feef205f-3aec-4175-9e2b-0104d11d2202/Files/fabcli000003
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DE487A28128E18"'
      Last-Modified:
      - Wed, 31 Dec 2025 14:37:42 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/feef205f-3aec-4175-9e2b-0104d11d2202/shortcuts/Files/fabcli000003
  response:
    body:
      string: '{"name": "fabcli000003", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "81065bd8-e334-4715-b170-dedb4cd514e6", "itemId":
        "ee914472-2b9e-4a22-9624-3eac0e96c32f", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 432dc991-b61e-4f1a-96f6-fb870d023b9e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/lakehouses/ee914472-2b9e-4a22-9624-3eac0e96c32f
  response:
    body:
      string: '{"id": "ee914472-2b9e-4a22-9624-3eac0e96c32f", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "81065bd8-e334-4715-b170-dedb4cd514e6", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/81065bd8-e334-4715-b170-dedb4cd514e6/ee914472-2b9e-4a22-9624-3eac0e96c32f/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/81065bd8-e334-4715-b170-dedb4cd514e6/ee914472-2b9e-4a22-9624-3eac0e96c32f/Files",
        "sqlEndpointProperties": {"connectionString": null, "id": null, "provisioningStatus":
        "InProgress"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 82653e14-af9a-46a0-ace1-195d7f1ca568
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/ee914472-2b9e-4a22-9624-3eac0e96c32f/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2f9ee618-7655-4b0f-92ee-56e760fa21e2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/ee914472-2b9e-4a22-9624-3eac0e96c32f/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1b7bba4e-4f7c-4928-9c8e-80d37e298e16
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/ee914472-2b9e-4a22-9624-3eac0e96c32f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 86f584bf-61f6-429e-8679-25d039b41ba3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/feef205f-3aec-4175-9e2b-0104d11d2202
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b875c6e3-26fe-4e8d-87dd-98f524f615f4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
