interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5c8a8929-5b8c-4fe0-b47a-4ffd8e08206d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d5773bc1-d322-4a0a-837f-baa52d1eef14
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c8a8929-5b8c-4fe0-b47a-4ffd8e08206d
  response:
    body:
      string: '{"id": "5c8a8929-5b8c-4fe0-b47a-4ffd8e08206d", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "West Europe", "oneLakeEndpoints": {"blobEndpoint": "https://westeurope-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://westeurope-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7bc11616-1a99-44a4-aedb-1aa4aff30c57
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c8a8929-5b8c-4fe0-b47a-4ffd8e08206d/provisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/50d2cdc8-9ec8-4f35-9029-76f642812600
      RequestId:
      - 57567c10-f9ae-40e3-b622-bb5d692c986d
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 50d2cdc8-9ec8-4f35-9029-76f642812600
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/50d2cdc8-9ec8-4f35-9029-76f642812600
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2025-09-03T09:23:49.5566223",
        "lastUpdatedTimeUtc": "2025-09-03T09:23:49.6191293", "percentComplete": null,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/50d2cdc8-9ec8-4f35-9029-76f642812600
      RequestId:
      - 0db88de8-f774-43c6-90cb-1f93d16b3113
      Retry-After:
      - '5'
      x-ms-operation-id:
      - 50d2cdc8-9ec8-4f35-9029-76f642812600
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/50d2cdc8-9ec8-4f35-9029-76f642812600/result
  response:
    body:
      string: '{"applicationId": "004e3921-f44f-4526-a70d-df55461c9de5", "servicePrincipalId":
        "623be6ed-a6a5-4ff2-9844-bfe2a3269db5"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 1a447f76-1fba-445b-92c9-06fb52d9b188
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c8a8929-5b8c-4fe0-b47a-4ffd8e08206d
  response:
    body:
      string: '{"id": "5c8a8929-5b8c-4fe0-b47a-4ffd8e08206d", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "West Europe", "oneLakeEndpoints": {"blobEndpoint": "https://westeurope-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://westeurope-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed", "workspaceIdentity": {"applicationId": "004e3921-f44f-4526-a70d-df55461c9de5",
        "servicePrincipalId": "623be6ed-a6a5-4ff2-9844-bfe2a3269db5"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1a1a8d29-5e9d-4d4a-83e2-68d19495b552
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c8a8929-5b8c-4fe0-b47a-4ffd8e08206d/deprovisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/9ed6c650-238a-4977-b93d-935f8672e34a
      RequestId:
      - 964c6c96-efd2-43bd-8132-58ea1bb8cd4a
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9ed6c650-238a-4977-b93d-935f8672e34a
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/9ed6c650-238a-4977-b93d-935f8672e34a/result
  response:
    body:
      string: '{"requestId": "62770043-f6dc-45c4-b96c-9dde1c1d1ff8", "errorCode":
        "OperationHasNoResult", "message": "The operation has no result"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 62770043-f6dc-45c4-b96c-9dde1c1d1ff8
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - OperationHasNoResult
    status:
      code: 400
      message: Bad Request
version: 1
