interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d3987bbd-67f7-48da-906b-48291a09838a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ed73e734-7c24-480c-bdeb-f783388c675a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d3987bbd-67f7-48da-906b-48291a09838a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8219484d-076d-46c1-b353-39a6751b0e82
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d3987bbd-67f7-48da-906b-48291a09838a/lakehouses
  response:
    body:
      string: '{"id": "afd7ef95-7350-4867-bab1-cca395bdfc16", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "d3987bbd-67f7-48da-906b-48291a09838a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c158ee20-0f97-4a06-90c4-9d6af31f7e4a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/d3987bbd-67f7-48da-906b-48291a09838a/afd7ef95-7350-4867-bab1-cca395bdfc16/Files/originalShortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/d3987bbd-67f7-48da-906b-48291a09838a/afd7ef95-7350-4867-bab1-cca395bdfc16/Files/originalShortcut.Shortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: '{"path": "Files", "name": "originalShortcut", "target": {"oneLake": {"workspaceId":
      "d3987bbd-67f7-48da-906b-48291a09838a", "itemId": "24ccf396-64f7-4069-8dbe-7b0e9be87430",
      "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d3987bbd-67f7-48da-906b-48291a09838a/items/afd7ef95-7350-4867-bab1-cca395bdfc16/shortcuts?shortcutConflictPolicy=GenerateUniqueName
  response:
    body:
      string: '{"name": "originalShortcut", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "d3987bbd-67f7-48da-906b-48291a09838a", "itemId":
        "24ccf396-64f7-4069-8dbe-7b0e9be87430", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/d3987bbd-67f7-48da-906b-48291a09838a/items/afd7ef95-7350-4867-bab1-cca395bdfc16/shortcuts/Files/originalShortcut
      RequestId:
      - adff07e9-4575-4c9f-abbf-effbdc060e73
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/d3987bbd-67f7-48da-906b-48291a09838a/afd7ef95-7350-4867-bab1-cca395bdfc16/Files/originalShortcut
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DE4617BA8B190C"'
      Last-Modified:
      - Sun, 28 Dec 2025 13:48:06 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d3987bbd-67f7-48da-906b-48291a09838a/items/afd7ef95-7350-4867-bab1-cca395bdfc16/shortcuts/Files/originalShortcut
  response:
    body:
      string: '{"name": "originalShortcut", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "d3987bbd-67f7-48da-906b-48291a09838a", "itemId":
        "24ccf396-64f7-4069-8dbe-7b0e9be87430", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cbca5d0c-713f-4269-aa7e-4b7805155ca7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/d3987bbd-67f7-48da-906b-48291a09838a/afd7ef95-7350-4867-bab1-cca395bdfc16/Files/fabcli000003
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DE4617BA8B190C"'
      Last-Modified:
      - Sun, 28 Dec 2025 13:48:06 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d3987bbd-67f7-48da-906b-48291a09838a/items/afd7ef95-7350-4867-bab1-cca395bdfc16/shortcuts/Files/fabcli000003
  response:
    body:
      string: '{"name": "fabcli000003", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "d3987bbd-67f7-48da-906b-48291a09838a", "itemId":
        "24ccf396-64f7-4069-8dbe-7b0e9be87430", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a0a627fc-48be-48bc-8b63-eba03b3a78be
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d3987bbd-67f7-48da-906b-48291a09838a/lakehouses/24ccf396-64f7-4069-8dbe-7b0e9be87430
  response:
    body:
      string: '{"id": "24ccf396-64f7-4069-8dbe-7b0e9be87430", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "d3987bbd-67f7-48da-906b-48291a09838a", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/d3987bbd-67f7-48da-906b-48291a09838a/24ccf396-64f7-4069-8dbe-7b0e9be87430/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/d3987bbd-67f7-48da-906b-48291a09838a/24ccf396-64f7-4069-8dbe-7b0e9be87430/Files",
        "sqlEndpointProperties": {"connectionString": "mock_connection_string", "id":
        "c834f81f-b371-46af-9dd2-3d5ba37849df", "provisioningStatus": "Success"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a69a99b5-c3ac-4782-afb0-2203f7883119
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d3987bbd-67f7-48da-906b-48291a09838a/items/24ccf396-64f7-4069-8dbe-7b0e9be87430/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d27d387d-90d1-4215-b7b6-a03dd0e18962
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d3987bbd-67f7-48da-906b-48291a09838a/items/24ccf396-64f7-4069-8dbe-7b0e9be87430/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9ec2585c-d096-43d0-bdd3-b6d0e0edc560
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d3987bbd-67f7-48da-906b-48291a09838a/items/24ccf396-64f7-4069-8dbe-7b0e9be87430
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6855ca7d-b953-436b-ae71-97720e63b99b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d3987bbd-67f7-48da-906b-48291a09838a/items/afd7ef95-7350-4867-bab1-cca395bdfc16
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 21ea5a7d-557a-44b1-a14b-b303b1446b75
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
