interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "9b9b7432-90cd-4ae2-9702-5d97c233784c",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b836b611-fcd5-4041-b706-87a28d65161f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9b9b7432-90cd-4ae2-9702-5d97c233784c/items
  response:
    body:
      string: '{"value": [{"id": "02b473d6-b687-4f79-a0af-0d6bd295742d", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "9b9b7432-90cd-4ae2-9702-5d97c233784c"},
        {"id": "c867e21e-e44d-4821-821b-70dd3fae45ad", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "9b9b7432-90cd-4ae2-9702-5d97c233784c"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d69ec8ca-560b-441d-8c4c-f3834a07c384
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9b9b7432-90cd-4ae2-9702-5d97c233784c/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2b06518f-c4d8-4367-9979-5d70c3de9609
      RequestId:
      - 6b969800-4fc4-416f-a487-95cac5ee4767
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 2b06518f-c4d8-4367-9979-5d70c3de9609
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2b06518f-c4d8-4367-9979-5d70c3de9609
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T09:30:17.6116207",
        "lastUpdatedTimeUtc": "2026-03-31T09:30:24.1871393", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2b06518f-c4d8-4367-9979-5d70c3de9609/result
      RequestId:
      - 68c60c34-e552-4083-961c-f827f8d344e1
      x-ms-operation-id:
      - 2b06518f-c4d8-4367-9979-5d70c3de9609
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2b06518f-c4d8-4367-9979-5d70c3de9609/result
  response:
    body:
      string: '{"id": "6b3592c7-97a3-4330-8ce8-bb2e393d65b4", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9b9b7432-90cd-4ae2-9702-5d97c233784c"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 1ce9480e-c36e-4544-9ef0-0ec70b2d7faf
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9b9b7432-90cd-4ae2-9702-5d97c233784c/digitalTwinBuilders/6b3592c7-97a3-4330-8ce8-bb2e393d65b4
  response:
    body:
      string: '{"id": "6b3592c7-97a3-4330-8ce8-bb2e393d65b4", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9b9b7432-90cd-4ae2-9702-5d97c233784c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 853edf90-8a6f-4c0c-87ef-af234611455d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9b9b7432-90cd-4ae2-9702-5d97c233784c/items/6b3592c7-97a3-4330-8ce8-bb2e393d65b4/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3b0aa9a7-dab6-4658-be71-4aea673f36c0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9b9b7432-90cd-4ae2-9702-5d97c233784c/items/6b3592c7-97a3-4330-8ce8-bb2e393d65b4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3164c7c7-9978-473d-8742-386ef78633e9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
