interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4f3c92ee-023c-48a7-b08b-1c5e91be6534",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1ded8406-808b-4f13-8f9d-576d4e88b7e8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534
  response:
    body:
      string: '{"id": "4f3c92ee-023c-48a7-b08b-1c5e91be6534", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6f133901-a34f-47c1-8db8-f731b6471538
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/provisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7670ac8a-6c70-40ea-af46-4da007a543f2
      RequestId:
      - cb5289ed-3e74-4154-87a4-a3992d4dcead
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7670ac8a-6c70-40ea-af46-4da007a543f2
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7670ac8a-6c70-40ea-af46-4da007a543f2
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-22T09:16:22.8784351",
        "lastUpdatedTimeUtc": "2026-05-22T09:16:24.0978028", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7670ac8a-6c70-40ea-af46-4da007a543f2/result
      RequestId:
      - f49aaa51-935b-4772-9dd6-3e7e96d94453
      x-ms-operation-id:
      - 7670ac8a-6c70-40ea-af46-4da007a543f2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7670ac8a-6c70-40ea-af46-4da007a543f2/result
  response:
    body:
      string: '{"applicationId": "bd7cc565-7d06-4ab7-b96e-626c45f1fcb9", "servicePrincipalId":
        "f7559944-2bb4-4123-9560-057f0235109c"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 3b3e2f50-3921-4ca5-8c46-9c1bf789bc7e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534
  response:
    body:
      string: '{"id": "4f3c92ee-023c-48a7-b08b-1c5e91be6534", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed", "workspaceIdentity": {"applicationId": "bd7cc565-7d06-4ab7-b96e-626c45f1fcb9",
        "servicePrincipalId": "f7559944-2bb4-4123-9560-057f0235109c"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9eb62a07-0e08-44c4-b823-49c81182e6e1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/deprovisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/aa0d8937-e7ad-4642-97e1-e4f1963da290
      RequestId:
      - c22edb97-bf3d-4f3b-a96d-3ea7e137f031
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - aa0d8937-e7ad-4642-97e1-e4f1963da290
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/aa0d8937-e7ad-4642-97e1-e4f1963da290
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-22T09:16:33.692699",
        "lastUpdatedTimeUtc": "2026-05-22T09:16:34.349204", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ddfee420-5b80-4686-8bf8-9aaf0048d43e
    status:
      code: 200
      message: OK
version: 1
