interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "84896de5-b6a6-44b7-b305-ca0c9bfdef99", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f1276d5e-b06b-4554-b842-54d8377da29f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 11c2dc47-6aa9-4c02-b749-5b6e9681cfb8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/environments
  response:
    body:
      string: '{"id": "b67e8da6-5e5b-4f2d-8180-f96a55679c0b", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "84896de5-b6a6-44b7-b305-ca0c9bfdef99"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d165355e-a1b6-480d-abc8-fbb8aa827bac
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/environments/b67e8da6-5e5b-4f2d-8180-f96a55679c0b
  response:
    body:
      string: '{"id": "b67e8da6-5e5b-4f2d-8180-f96a55679c0b", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "84896de5-b6a6-44b7-b305-ca0c9bfdef99", "properties": {"publishDetails": {"state":
        "Success", "targetVersion": "f2064c9a-fbe4-4043-9bdb-d216540e50e5", "startTime":
        "2026-01-20T07:40:04.1381407Z", "endTime": "2026-01-20T07:40:04.1381407Z",
        "componentPublishInfo": {"sparkSettings": {"state": "Success"}, "sparkLibraries":
        {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9daee6a7-c9c1-4e6e-8d4b-592e2e367ccd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items/b67e8da6-5e5b-4f2d-8180-f96a55679c0b/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e419efc4-7e88-42c2-bf69-fd6e4d07fe88
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/environments/b67e8da6-5e5b-4f2d-8180-f96a55679c0b/libraries
  response:
    body:
      string: '{"requestId": "6ad79c88-de9a-4c90-8092-fb792dbb1560", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any published libraries. Please publish libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6ad79c88-de9a-4c90-8092-fb792dbb1560
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/environments/b67e8da6-5e5b-4f2d-8180-f96a55679c0b/staging/libraries
  response:
    body:
      string: '{"requestId": "b0f8beeb-e392-4048-80e3-1b581e259a18", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any staged libraries. Please upload libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b0f8beeb-e392-4048-80e3-1b581e259a18
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/environments/b67e8da6-5e5b-4f2d-8180-f96a55679c0b/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ad61e8bc-058c-4119-9368-f28b04270930
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/environments/b67e8da6-5e5b-4f2d-8180-f96a55679c0b/staging/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7f4356d2-7e5e-4c40-8c7e-3215f6cdfc77
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items/b67e8da6-5e5b-4f2d-8180-f96a55679c0b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 71486c44-6663-40cb-91c1-5e7c32c3aebf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
