interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6025eb11-3c19-4ad1-8a75-59f13d2f9c65",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 240d5cd7-7837-4a68-8ba2-4b0d2cd7d866
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3e5c996c-6915-47d0-884b-d9d56a5d765f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/lakehouses
  response:
    body:
      string: '{"id": "b1c545c6-8018-4fa5-9a57-aa24b8aeda8d", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6025eb11-3c19-4ad1-8a75-59f13d2f9c65"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - fda4894e-e612-45b2-a990-653738d22b21
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/b1c545c6-8018-4fa5-9a57-aa24b8aeda8d/Files/originalShortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/b1c545c6-8018-4fa5-9a57-aa24b8aeda8d/Files/originalShortcut.Shortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: '{"path": "Files", "name": "originalShortcut", "target": {"oneLake": {"workspaceId":
      "6025eb11-3c19-4ad1-8a75-59f13d2f9c65", "itemId": "e254fd2e-aac2-47b2-8ad0-74c299ce2bcc",
      "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/items/b1c545c6-8018-4fa5-9a57-aa24b8aeda8d/shortcuts?shortcutConflictPolicy=GenerateUniqueName
  response:
    body:
      string: '{"name": "originalShortcut", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "6025eb11-3c19-4ad1-8a75-59f13d2f9c65", "itemId":
        "e254fd2e-aac2-47b2-8ad0-74c299ce2bcc", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/items/b1c545c6-8018-4fa5-9a57-aa24b8aeda8d/shortcuts/Files/originalShortcut
      RequestId:
      - adc3ef1e-e4cc-4bd3-b718-92dbf9bdd2e8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/b1c545c6-8018-4fa5-9a57-aa24b8aeda8d/Files/originalShortcut
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DE45E03F97633C"'
      Last-Modified:
      - Sun, 28 Dec 2025 07:10:57 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/items/b1c545c6-8018-4fa5-9a57-aa24b8aeda8d/shortcuts/Files/originalShortcut
  response:
    body:
      string: '{"name": "originalShortcut", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "6025eb11-3c19-4ad1-8a75-59f13d2f9c65", "itemId":
        "e254fd2e-aac2-47b2-8ad0-74c299ce2bcc", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 98266d5c-1843-4773-9ff2-68a22677ab3e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/b1c545c6-8018-4fa5-9a57-aa24b8aeda8d/Files/fabcli000003
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DE45E03F97633C"'
      Last-Modified:
      - Sun, 28 Dec 2025 07:10:57 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/items/b1c545c6-8018-4fa5-9a57-aa24b8aeda8d/shortcuts/Files/fabcli000003
  response:
    body:
      string: '{"name": "fabcli000003", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "6025eb11-3c19-4ad1-8a75-59f13d2f9c65", "itemId":
        "e254fd2e-aac2-47b2-8ad0-74c299ce2bcc", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e8ab1574-b574-4c74-870d-055c3493e587
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/lakehouses/e254fd2e-aac2-47b2-8ad0-74c299ce2bcc
  response:
    body:
      string: '{"id": "e254fd2e-aac2-47b2-8ad0-74c299ce2bcc", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "6025eb11-3c19-4ad1-8a75-59f13d2f9c65", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/e254fd2e-aac2-47b2-8ad0-74c299ce2bcc/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/e254fd2e-aac2-47b2-8ad0-74c299ce2bcc/Files",
        "sqlEndpointProperties": {"connectionString": "mock_connection_string", "id":
        "c07cfd37-8ccd-46cb-a271-925fd9ea7cb2", "provisioningStatus": "Success"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e5b00069-3aa7-4a4d-8d08-e1b69360187c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/items/e254fd2e-aac2-47b2-8ad0-74c299ce2bcc/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 595934ad-b253-402b-80d8-c82f6aab9687
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/items/e254fd2e-aac2-47b2-8ad0-74c299ce2bcc/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 41e2672f-71b4-4fbb-aa6c-744cab69bade
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/items/e254fd2e-aac2-47b2-8ad0-74c299ce2bcc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 7fedde91-564f-43a4-b691-db8cf5b4bdc4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6025eb11-3c19-4ad1-8a75-59f13d2f9c65/items/b1c545c6-8018-4fa5-9a57-aa24b8aeda8d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0adb259c-97d1-4056-a80f-61f9a5d082f6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
