interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "066ce40b-1395-4b1e-b4ba-9ed15654e67d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9cdaec52-02fb-4b31-8267-693eb2dba45a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1c25fe52-e536-4f53-bb42-b729738f25a1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8a6087f1-dc1c-468b-a2b5-280a8f1ba04e
      RequestId:
      - e7cce9e2-e60e-492d-816f-28b915b6ad02
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 8a6087f1-dc1c-468b-a2b5-280a8f1ba04e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8a6087f1-dc1c-468b-a2b5-280a8f1ba04e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-09-03T12:42:25.8848714",
        "lastUpdatedTimeUtc": "2026-09-03T12:42:38.2986653", "percentComplete": 100,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8a6087f1-dc1c-468b-a2b5-280a8f1ba04e/result
      RequestId:
      - 30ad1791-d020-442e-ab99-732ae7da769a
      x-ms-operation-id:
      - 8a6087f1-dc1c-468b-a2b5-280a8f1ba04e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8a6087f1-dc1c-468b-a2b5-280a8f1ba04e/result
  response:
    body:
      string: '{"id": "18cc3773-55ea-4fbd-a774-3353f31cf467", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "066ce40b-1395-4b1e-b4ba-9ed15654e67d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 178e35b8-df22-49f2-a743-0af186c14c48
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/graphModels/18cc3773-55ea-4fbd-a774-3353f31cf467
  response:
    body:
      string: '{"id": "18cc3773-55ea-4fbd-a774-3353f31cf467", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "066ce40b-1395-4b1e-b4ba-9ed15654e67d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ca07650f-2a3a-4422-9e75-7235e824f436
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/items/18cc3773-55ea-4fbd-a774-3353f31cf467/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7ecc4ae8-6283-4ea7-a42b-bce3f52690cc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/items/18cc3773-55ea-4fbd-a774-3353f31cf467/jobs/refreshGraph/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7c05907e-9d7b-439e-a5a2-e623705c8223
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/items/18cc3773-55ea-4fbd-a774-3353f31cf467
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a4091d26-4882-4154-9e99-872c60551cb4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
