interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "fa27f57f-70d6-4009-872b-f7e7149c5026",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 48be8f0d-e196-4afb-a04f-800e3f1f4027
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fa27f57f-70d6-4009-872b-f7e7149c5026/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 40c16a44-61b7-4ba7-86d1-b62a13106f3c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLQueryset", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/fa27f57f-70d6-4009-872b-f7e7149c5026/kqlQuerysets
  response:
    body:
      string: '{"id": "b9f80066-344d-4656-9a10-55e349824a3c", "type": "KQLQueryset",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "fa27f57f-70d6-4009-872b-f7e7149c5026"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 3a185898-0556-4dca-afb8-a2377e5f61e0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fa27f57f-70d6-4009-872b-f7e7149c5026/kqlQuerysets/b9f80066-344d-4656-9a10-55e349824a3c
  response:
    body:
      string: '{"id": "b9f80066-344d-4656-9a10-55e349824a3c", "type": "KQLQueryset",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "fa27f57f-70d6-4009-872b-f7e7149c5026"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 36655de8-4eef-4e6b-a82e-41dacbb09b5e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fa27f57f-70d6-4009-872b-f7e7149c5026/items/b9f80066-344d-4656-9a10-55e349824a3c/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ee0a41e1-4d3d-4cf3-b38c-d432726154a0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/fa27f57f-70d6-4009-872b-f7e7149c5026/items/b9f80066-344d-4656-9a10-55e349824a3c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9f7ee874-5eb8-4ad4-93ad-d7e729a4f2be
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
