interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5c8a8929-5b8c-4fe0-b47a-4ffd8e08206d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e83cbd1e-0477-4463-930e-43dae0064286
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c8a8929-5b8c-4fe0-b47a-4ffd8e08206d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bc0dfdf3-e0c3-400e-8718-9ef6812b3b15
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c8a8929-5b8c-4fe0-b47a-4ffd8e08206d/lakehouses
  response:
    body:
      string: '{"id": "bf093ccc-a7be-4236-889d-ad2fc445d9f1", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5c8a8929-5b8c-4fe0-b47a-4ffd8e08206d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e0fc310f-e805-4a7c-b3bb-d884026345ca
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c8a8929-5b8c-4fe0-b47a-4ffd8e08206d/items/bf093ccc-a7be-4236-889d-ad2fc445d9f1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c7d8b625-1d95-4eb5-9a56-6d3edb4a365f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
