interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "20374c49-e5a0-4e3c-aa61-b7b1484872f2",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 16f545e1-20d6-49ff-9813-6589bad4ba60
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/20374c49-e5a0-4e3c-aa61-b7b1484872f2/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c4234d58-1feb-4653-a9f3-1465b71f954b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/20374c49-e5a0-4e3c-aa61-b7b1484872f2/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b5f7b838-3bfb-4ccb-84f8-db564ddd8a1e
      RequestId:
      - efaff480-f69c-4813-9f45-d75f88108f32
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b5f7b838-3bfb-4ccb-84f8-db564ddd8a1e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b5f7b838-3bfb-4ccb-84f8-db564ddd8a1e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:42:08.7693312",
        "lastUpdatedTimeUtc": "2026-05-13T07:42:17.0707854", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b5f7b838-3bfb-4ccb-84f8-db564ddd8a1e/result
      RequestId:
      - 391f56d9-af3d-4404-bbbe-a9b64826defc
      x-ms-operation-id:
      - b5f7b838-3bfb-4ccb-84f8-db564ddd8a1e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b5f7b838-3bfb-4ccb-84f8-db564ddd8a1e/result
  response:
    body:
      string: '{"id": "090a4709-c8fc-4d58-8257-57641f50e565", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "20374c49-e5a0-4e3c-aa61-b7b1484872f2"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 02931826-29bc-4f9b-beb8-92f9bd152bcb
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "090a4709-c8fc-4d58-8257-57641f50e565", "workspaceId": "20374c49-e5a0-4e3c-aa61-b7b1484872f2"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/20374c49-e5a0-4e3c-aa61-b7b1484872f2/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "2c8859e4-f5b1-4049-accf-ef25bee5d9e4", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "20374c49-e5a0-4e3c-aa61-b7b1484872f2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a289b2a5-35e6-45e2-b79e-a27f460aedc1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/20374c49-e5a0-4e3c-aa61-b7b1484872f2/digitalTwinBuilderFlows/2c8859e4-f5b1-4049-accf-ef25bee5d9e4
  response:
    body:
      string: '{"id": "2c8859e4-f5b1-4049-accf-ef25bee5d9e4", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "20374c49-e5a0-4e3c-aa61-b7b1484872f2",
        "properties": {"digitalTwinBuilderItemReference": {"referenceType": "ById",
        "itemId": "090a4709-c8fc-4d58-8257-57641f50e565", "workspaceId": "20374c49-e5a0-4e3c-aa61-b7b1484872f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7fdb4e4c-4ec9-4219-86d6-bf9b777796cf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/20374c49-e5a0-4e3c-aa61-b7b1484872f2/items/2c8859e4-f5b1-4049-accf-ef25bee5d9e4/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cf49c48b-dd8c-48c9-b64b-b46cdb8949a6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/20374c49-e5a0-4e3c-aa61-b7b1484872f2/items/2c8859e4-f5b1-4049-accf-ef25bee5d9e4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 99e60136-e7b7-4e73-91ca-ed9ff304e321
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
