interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/gateways
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 672ffc2c-d9d0-47bc-af03-6388668c6132
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F32", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 03a0f093-1df4-4658-94a7-03e1c649e9ee
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://management.azure.com/subscriptions?api-version=2022-12-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000"}],
        "count": {"type": "Total", "value": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/virtualNetworks?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"name": "mocked_fabriccli_vnet_name", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Network/virtualNetworks/mocked_fabriccli_vnet_name",
        "properties": {"subnets": [{"name": "mocked_fabriccli_vnet_subnet", "id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Network/virtualNetworks/mocked_fabriccli_vnet_name/subnets/mocked_fabriccli_vnet_subnet"}]}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004",
      "inactivityMinutesBeforeSleep": 30, "numberOfMemberGateways": 1, "type": "VirtualNetwork",
      "virtualNetworkAzureResource": {"subscriptionId": "00000000-0000-0000-0000-000000000000",
      "resourceGroupName": "mocked_fabriccli_resource_group", "virtualNetworkName":
      "mocked_fabriccli_vnet_name", "subnetName": "mocked_fabriccli_vnet_subnet"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/gateways
  response:
    body:
      string: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004",
        "virtualNetworkAzureResource": {"virtualNetworkName": "mocked_fabriccli_vnet_name",
        "subnetName": "mocked_fabriccli_vnet_subnet", "resourceGroupName": "mocked_fabriccli_resource_group",
        "subscriptionId": "00000000-0000-0000-0000-000000000000"}, "inactivityMinutesBeforeSleep":
        30, "numberOfMemberGateways": 1, "id": "3c78ba6e-148c-4e99-b2fe-dcc194f4dfe7",
        "type": "VirtualNetwork"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/gateways/3c78ba6e-148c-4e99-b2fe-dcc194f4dfe7
      RequestId:
      - 4510f891-5ec7-4a5a-b168-b92f2c9ee006
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/gateways/3c78ba6e-148c-4e99-b2fe-dcc194f4dfe7
  response:
    body:
      string: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004",
        "virtualNetworkAzureResource": {"virtualNetworkName": "mocked_fabriccli_vnet_name",
        "subnetName": "mocked_fabriccli_vnet_subnet", "resourceGroupName": "mocked_fabriccli_resource_group",
        "subscriptionId": "00000000-0000-0000-0000-000000000000"}, "inactivityMinutesBeforeSleep":
        30, "numberOfMemberGateways": 1, "id": "3c78ba6e-148c-4e99-b2fe-dcc194f4dfe7",
        "type": "VirtualNetwork"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d71ba432-6580-48c9-ab09-7d9cc50386aa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"capacityId": "00000000-0000-0000-0000-000000000000", "type": "VirtualNetwork"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.fabric.microsoft.com/v1/gateways/3c78ba6e-148c-4e99-b2fe-dcc194f4dfe7
  response:
    body:
      string: '{"requestId": "d4df1390-a2b7-4280-8693-542211fd501d", "errorCode":
        "CapacityNotFound", "message": "The provided capacity was not found"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d4df1390-a2b7-4280-8693-542211fd501d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - CapacityNotFound
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/gateways/3c78ba6e-148c-4e99-b2fe-dcc194f4dfe7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 7ed084be-37ff-4af1-b049-34b030a011dc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
