interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "20374c49-e5a0-4e3c-aa61-b7b1484872f2",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9557d22c-d65a-494f-9cb9-9f4bd26904c4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/20374c49-e5a0-4e3c-aa61-b7b1484872f2/items
  response:
    body:
      string: '{"value": [{"id": "c6e14d34-bb18-4d9c-a9b4-5458948e852e", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "20374c49-e5a0-4e3c-aa61-b7b1484872f2"}, {"id": "090a4709-c8fc-4d58-8257-57641f50e565",
        "type": "DigitalTwinBuilder", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "20374c49-e5a0-4e3c-aa61-b7b1484872f2"}, {"id": "0d9c9f6c-d81f-4faf-84ec-a8d23aa59304",
        "type": "Lakehouse", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "20374c49-e5a0-4e3c-aa61-b7b1484872f2"}, {"id": "6e811017-3b2f-4b61-bc19-44f1b78c1b5e",
        "type": "DigitalTwinBuilderFlow", "displayName": "fabcli000001_autoOnDemand",
        "description": "", "workspaceId": "20374c49-e5a0-4e3c-aa61-b7b1484872f2"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d9d67c6c-db6f-4d53-a0cc-05c8d74fd9e5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/20374c49-e5a0-4e3c-aa61-b7b1484872f2/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/581b763d-505d-4555-b7f1-e49762f22adf
      RequestId:
      - 5c7b7dee-35af-43c2-bff5-038b7f22cb78
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 581b763d-505d-4555-b7f1-e49762f22adf
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/581b763d-505d-4555-b7f1-e49762f22adf
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:42:47.4587004",
        "lastUpdatedTimeUtc": "2026-05-13T07:42:53.5018916", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/581b763d-505d-4555-b7f1-e49762f22adf/result
      RequestId:
      - f2e9ace8-c637-4206-bba8-1e96678644b9
      x-ms-operation-id:
      - 581b763d-505d-4555-b7f1-e49762f22adf
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/581b763d-505d-4555-b7f1-e49762f22adf/result
  response:
    body:
      string: '{"id": "a4ca3912-83ff-46df-86ca-d5285a7489ac", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "20374c49-e5a0-4e3c-aa61-b7b1484872f2"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f3c5038b-d00e-4f46-bbcc-7721c87d28fd
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "a4ca3912-83ff-46df-86ca-d5285a7489ac", "workspaceId": "20374c49-e5a0-4e3c-aa61-b7b1484872f2"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/20374c49-e5a0-4e3c-aa61-b7b1484872f2/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "10cbba6e-bddc-4bec-b4e4-29e6bdd7950a", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "20374c49-e5a0-4e3c-aa61-b7b1484872f2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - bcc8cc7e-3fb2-4546-877e-0b28bad24aa5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/20374c49-e5a0-4e3c-aa61-b7b1484872f2/digitalTwinBuilderFlows/10cbba6e-bddc-4bec-b4e4-29e6bdd7950a
  response:
    body:
      string: '{"id": "10cbba6e-bddc-4bec-b4e4-29e6bdd7950a", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "20374c49-e5a0-4e3c-aa61-b7b1484872f2",
        "properties": {"digitalTwinBuilderItemReference": {"referenceType": "ById",
        "itemId": "a4ca3912-83ff-46df-86ca-d5285a7489ac", "workspaceId": "20374c49-e5a0-4e3c-aa61-b7b1484872f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 3a0686dd-2b8c-4da1-a61e-825b23f23109
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/20374c49-e5a0-4e3c-aa61-b7b1484872f2/items/10cbba6e-bddc-4bec-b4e4-29e6bdd7950a/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 06a6fe78-9ae7-4649-838e-1132cd3fb79d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/20374c49-e5a0-4e3c-aa61-b7b1484872f2/items/10cbba6e-bddc-4bec-b4e4-29e6bdd7950a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 75aed0a8-bc69-45d1-ae40-0436c3aeb761
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
