interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "f016a7de-afee-43d3-a0ab-4023cd91ca7e",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e12501e8-69f9-4bad-ba3d-118737f6deaf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f016a7de-afee-43d3-a0ab-4023cd91ca7e
  response:
    body:
      string: '{"id": "f016a7de-afee-43d3-a0ab-4023cd91ca7e", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bc2967d4-ddb9-43d3-8659-b24df6b25096
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f016a7de-afee-43d3-a0ab-4023cd91ca7e/provisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/89182ab0-421f-4e87-9dde-75be1ebd9111
      RequestId:
      - c0362583-366f-4853-9bc9-4ec4f8e7dd91
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 89182ab0-421f-4e87-9dde-75be1ebd9111
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/89182ab0-421f-4e87-9dde-75be1ebd9111
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-11-26T16:13:15.516331",
        "lastUpdatedTimeUtc": "2025-11-26T16:13:16.6724559", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/89182ab0-421f-4e87-9dde-75be1ebd9111/result
      RequestId:
      - b9d49634-d823-4390-9546-d07344c5d1de
      x-ms-operation-id:
      - 89182ab0-421f-4e87-9dde-75be1ebd9111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/89182ab0-421f-4e87-9dde-75be1ebd9111/result
  response:
    body:
      string: '{"applicationId": "9604146b-09a6-4697-ac2c-d1966993059b", "servicePrincipalId":
        "f2d4386b-5d54-4e32-99af-a590e81e0b8d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 9e5634c9-4e81-445a-9da2-360aa303d45f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f016a7de-afee-43d3-a0ab-4023cd91ca7e
  response:
    body:
      string: '{"id": "f016a7de-afee-43d3-a0ab-4023cd91ca7e", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed", "workspaceIdentity": {"applicationId": "9604146b-09a6-4697-ac2c-d1966993059b",
        "servicePrincipalId": "f2d4386b-5d54-4e32-99af-a590e81e0b8d"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7a50a301-038b-4bac-bcd8-14012b690ab7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f016a7de-afee-43d3-a0ab-4023cd91ca7e/deprovisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fe05be56-a6ca-4b2e-a1e8-4e67ef348fdb
      RequestId:
      - 0df09912-2d74-4923-97da-7520d0f19c07
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - fe05be56-a6ca-4b2e-a1e8-4e67ef348fdb
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fe05be56-a6ca-4b2e-a1e8-4e67ef348fdb
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-11-26T16:13:23.2058387",
        "lastUpdatedTimeUtc": "2025-11-26T16:13:24.1120723", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6286141f-a3d5-4e4e-8e17-a698cca52f45
    status:
      code: 200
      message: OK
version: 1
