interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4f3c92ee-023c-48a7-b08b-1c5e91be6534",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 09edb57c-f0dd-4e94-8a64-d5cc0758a5ac
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items
  response:
    body:
      string: '{"value": [{"id": "3fbee2ca-aebd-49fd-a03a-0bd5bd2a66a5", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"},
        {"id": "fa09d374-f85b-4671-8dac-508f484655fb", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"},
        {"id": "a495463c-dd5d-47ee-8430-3c29c55e0c9a", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"},
        {"id": "9a6cc513-6fb1-4d99-b70f-ab9df4e339dd", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"},
        {"id": "d2f9a359-3c7a-4fa2-95ef-65eae896d937", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7d2e7c2a-81e2-4dab-bb11-09662593c368
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "VariableLibrary", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/variablelibraries
  response:
    body:
      string: '{"id": "0bbed76c-8527-4e33-a067-e50673070014", "type": "VariableLibrary",
        "displayName": "fabcli000001", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6592ddd9-45ef-4e87-8d5f-c798072d62d3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/variablelibraries/0bbed76c-8527-4e33-a067-e50673070014
  response:
    body:
      string: '{"id": "0bbed76c-8527-4e33-a067-e50673070014", "type": "VariableLibrary",
        "displayName": "fabcli000001", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534",
        "properties": {"activeValueSetName": "Default value set"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ba638187-5206-4c44-96ad-0a11ad8245ba
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/0bbed76c-8527-4e33-a067-e50673070014/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9734c2e5-fb21-4ef3-acbc-d61d91ce0f28
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/0bbed76c-8527-4e33-a067-e50673070014
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 7b26d426-30bf-4648-96a9-a2ec87d3397f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
