interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "fa27f57f-70d6-4009-872b-f7e7149c5026",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 17aea543-3b6f-4035-b4e0-1755c373a6d5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fa27f57f-70d6-4009-872b-f7e7149c5026/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 04d6bca6-7025-4036-8585-c8e8f84d0d90
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Eventstream", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/fa27f57f-70d6-4009-872b-f7e7149c5026/eventstreams
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8f368731-43fb-4499-959d-b6da0edf38fd
      RequestId:
      - c16f8b92-04a8-426d-a9cb-d23862208aee
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 8f368731-43fb-4499-959d-b6da0edf38fd
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8f368731-43fb-4499-959d-b6da0edf38fd
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-29T10:08:30.0321237",
        "lastUpdatedTimeUtc": "2026-01-29T10:08:33.1738368", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8f368731-43fb-4499-959d-b6da0edf38fd/result
      RequestId:
      - 48b2632b-5254-4b3d-8be5-391b5f9124cd
      x-ms-operation-id:
      - 8f368731-43fb-4499-959d-b6da0edf38fd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8f368731-43fb-4499-959d-b6da0edf38fd/result
  response:
    body:
      string: '{"id": "01eb4df9-509b-42d0-8675-0c3db51e0e5d", "type": "Eventstream",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "fa27f57f-70d6-4009-872b-f7e7149c5026"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - e6c52029-f2b0-4f3c-9b02-d7d44b1fb456
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fa27f57f-70d6-4009-872b-f7e7149c5026/eventstreams/01eb4df9-509b-42d0-8675-0c3db51e0e5d
  response:
    body:
      string: '{"id": "01eb4df9-509b-42d0-8675-0c3db51e0e5d", "type": "Eventstream",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "fa27f57f-70d6-4009-872b-f7e7149c5026"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - afe22a0e-4a15-433b-a4f5-31d60c1146f7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fa27f57f-70d6-4009-872b-f7e7149c5026/items/01eb4df9-509b-42d0-8675-0c3db51e0e5d/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0d3b9df2-c6e3-442f-b9f5-72ea966ae2ee
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/fa27f57f-70d6-4009-872b-f7e7149c5026/items/01eb4df9-509b-42d0-8675-0c3db51e0e5d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 805bbffd-0779-46d7-834a-8835f5cec248
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
