interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "81065bd8-e334-4715-b170-dedb4cd514e6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 958715d8-9506-4f0e-aa9c-07f751db655c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6
  response:
    body:
      string: '{"id": "81065bd8-e334-4715-b170-dedb4cd514e6", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 37fc74e3-5297-4f43-8c05-3c28f78c21eb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/provisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dbb74b3b-99c5-4c1c-ae10-91ad32a59afe
      RequestId:
      - f47cd8be-5ec0-48e7-9d54-1c928deddb7a
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - dbb74b3b-99c5-4c1c-ae10-91ad32a59afe
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dbb74b3b-99c5-4c1c-ae10-91ad32a59afe
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-12-31T14:38:41.4469362",
        "lastUpdatedTimeUtc": "2025-12-31T14:38:42.7752692", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dbb74b3b-99c5-4c1c-ae10-91ad32a59afe/result
      RequestId:
      - 0cdbb703-7c55-4555-96bb-c5792ab6dd27
      x-ms-operation-id:
      - dbb74b3b-99c5-4c1c-ae10-91ad32a59afe
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dbb74b3b-99c5-4c1c-ae10-91ad32a59afe/result
  response:
    body:
      string: '{"applicationId": "c7d3c782-72a2-47e1-ba87-c3039090f603", "servicePrincipalId":
        "df83e5ef-fcd6-4dbf-b773-53ad2542cf15"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - a73cdc1f-3a31-4894-9a5e-e1f61c497247
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6
  response:
    body:
      string: '{"id": "81065bd8-e334-4715-b170-dedb4cd514e6", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed", "workspaceIdentity": {"applicationId": "c7d3c782-72a2-47e1-ba87-c3039090f603",
        "servicePrincipalId": "df83e5ef-fcd6-4dbf-b773-53ad2542cf15"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2454b4eb-c260-4e74-abb2-81538009b9d9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/deprovisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7eb48be7-3e2c-4d09-8196-8ff0ca24ffee
      RequestId:
      - 32c27277-9881-4427-aacd-f12a8d67edf4
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7eb48be7-3e2c-4d09-8196-8ff0ca24ffee
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7eb48be7-3e2c-4d09-8196-8ff0ca24ffee
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-12-31T14:38:49.5878458",
        "lastUpdatedTimeUtc": "2025-12-31T14:38:50.5722903", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fc7e0ed7-709f-4541-82b8-82e23b281993
    status:
      code: 200
      message: OK
version: 1
