interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/admin/domains
  response:
    body:
      string: '{"domains": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d5db956e-4fd9-4ab5-8d2d-7dc1096bd530
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/admin/domains
  response:
    body:
      string: '{"contributorsScope": "AllTenant", "id": "08e3b5e7-1521-4631-b0f8-54f73327c5f8",
        "displayName": "fabcli000001", "description": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/admin/domains/08e3b5e7-1521-4631-b0f8-54f73327c5f8
      RequestId:
      - 4850300b-9340-407d-82d6-ba109e3633da
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/admin/domains/08e3b5e7-1521-4631-b0f8-54f73327c5f8
  response:
    body:
      string: '{"contributorsScope": "AllTenant", "id": "08e3b5e7-1521-4631-b0f8-54f73327c5f8",
        "displayName": "fabcli000001", "description": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cdfca432-6a22-4635-950f-becb542aceff
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/admin/domains/08e3b5e7-1521-4631-b0f8-54f73327c5f8/workspaces
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 071b546b-a541-49bc-b317-81248e8098c0
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"contributorsScope": "AllTenant", "displayName": "fabcli000001", "description":
      "fabcli000002", "domainWorkspaces": []}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.fabric.microsoft.com/v1/admin/domains/08e3b5e7-1521-4631-b0f8-54f73327c5f8
  response:
    body:
      string: '{"contributorsScope": "AllTenant", "id": "08e3b5e7-1521-4631-b0f8-54f73327c5f8",
        "displayName": "fabcli000001", "description": "fabcli000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8faffe04-4e9e-443a-b2de-a41cbe2e8b85
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/admin/domains/08e3b5e7-1521-4631-b0f8-54f73327c5f8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 11f60380-75c5-45ef-b170-6b818eb1b969
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
