interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/gateways
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b7923956-4a3d-4f23-a98f-0094aceb4688
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 49f7dd74-6e9c-41d9-a7a6-e1811bfa1b21
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://management.azure.com/subscriptions?api-version=2022-12-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000"}],
        "count": {"type": "Total", "value": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/virtualNetworks?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"name": "mocked_fabriccli_vnet_name", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Network/virtualNetworks/mocked_fabriccli_vnet_name",
        "properties": {"subnets": [{"name": "mocked_fabriccli_vnet_subnet", "id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Network/virtualNetworks/mocked_fabriccli_vnet_name/subnets/mocked_fabriccli_vnet_subnet"}]}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004",
      "inactivityMinutesBeforeSleep": 30, "numberOfMemberGateways": 1, "type": "VirtualNetwork",
      "virtualNetworkAzureResource": {"subscriptionId": "00000000-0000-0000-0000-000000000000",
      "resourceGroupName": "mocked_fabriccli_resource_group", "virtualNetworkName":
      "mocked_fabriccli_vnet_name", "subnetName": "mocked_fabriccli_vnet_subnet"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/gateways
  response:
    body:
      string: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004",
        "virtualNetworkAzureResource": {"virtualNetworkName": "mocked_fabriccli_vnet_name",
        "subnetName": "mocked_fabriccli_vnet_subnet", "resourceGroupName": "mocked_fabriccli_resource_group",
        "subscriptionId": "00000000-0000-0000-0000-000000000000"}, "inactivityMinutesBeforeSleep":
        30, "numberOfMemberGateways": 1, "id": "19112dbc-e827-40c0-b0ed-ddb08cecf3da",
        "type": "VirtualNetwork"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/gateways/19112dbc-e827-40c0-b0ed-ddb08cecf3da
      RequestId:
      - 3d3701c1-8a63-4dbf-8f7b-1be47035298d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/gateways/19112dbc-e827-40c0-b0ed-ddb08cecf3da
  response:
    body:
      string: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004",
        "virtualNetworkAzureResource": {"virtualNetworkName": "mocked_fabriccli_vnet_name",
        "subnetName": "mocked_fabriccli_vnet_subnet", "resourceGroupName": "mocked_fabriccli_resource_group",
        "subscriptionId": "00000000-0000-0000-0000-000000000000"}, "inactivityMinutesBeforeSleep":
        30, "numberOfMemberGateways": 1, "id": "19112dbc-e827-40c0-b0ed-ddb08cecf3da",
        "type": "VirtualNetwork"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c869cf44-80f9-4ec0-9b79-0269048d1752
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000002", "type": "VirtualNetwork"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.fabric.microsoft.com/v1/gateways/19112dbc-e827-40c0-b0ed-ddb08cecf3da
  response:
    body:
      string: '{"requestId": "1284c763-6a34-496c-9d12-a43926cc95d1", "errorCode":
        "DuplicateGatewayName", "message": "The gateway DisplayName input is already
        being used by another gateway", "isRetriable": false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1284c763-6a34-496c-9d12-a43926cc95d1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - DuplicateGatewayName
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/gateways/a544092c-72ad-4576-b8eb-ad5975aa489c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - dc08f9f1-4196-496a-ab5a-b53dfd58ce32
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
