interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/admin/domains
  response:
    body:
      string: '{"domains": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 36fe70eb-1ee9-4fdb-a531-0c798875c9b5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/admin/domains
  response:
    body:
      string: '{"contributorsScope": "AllTenant", "id": "2656a830-696f-4bae-949c-4fa13974b5fe",
        "displayName": "fabcli000001", "description": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/admin/domains/2656a830-696f-4bae-949c-4fa13974b5fe
      RequestId:
      - af5e1563-cc1e-4ba6-9a0f-b5cc1c1e2a74
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/admin/domains/2656a830-696f-4bae-949c-4fa13974b5fe
  response:
    body:
      string: '{"contributorsScope": "AllTenant", "id": "2656a830-696f-4bae-949c-4fa13974b5fe",
        "displayName": "fabcli000001", "description": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0714a6e9-2075-40a7-aacb-d457cb78c2ea
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/admin/domains/2656a830-696f-4bae-949c-4fa13974b5fe/workspaces
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1fb8ce52-fc60-47e4-816b-a7b256e31387
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/admin/domains/2656a830-696f-4bae-949c-4fa13974b5fe
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4a9db1df-1a14-4c4a-aac3-9dc214e6960f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
