interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4f3c92ee-023c-48a7-b08b-1c5e91be6534",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e49dbbc6-a2d5-4d1f-833e-e366d9fcbb14
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items
  response:
    body:
      string: '{"value": [{"id": "fa09d374-f85b-4671-8dac-508f484655fb", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"},
        {"id": "9a6cc513-6fb1-4d99-b70f-ab9df4e339dd", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2b782ef4-d9db-4264-9e13-669416e27fcb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "KQLQueryset", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/kqlQuerysets
  response:
    body:
      string: '{"id": "316fa8fa-a9f6-4bfe-82d7-4ce714702dd4", "type": "KQLQueryset",
        "displayName": "fabcli000001", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e405565e-d392-4d5e-99b7-bb3d594146f5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/kqlQuerysets/316fa8fa-a9f6-4bfe-82d7-4ce714702dd4
  response:
    body:
      string: '{"id": "316fa8fa-a9f6-4bfe-82d7-4ce714702dd4", "type": "KQLQueryset",
        "displayName": "fabcli000001", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b1b248d4-0933-4768-a192-cc28a7dd3afa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/316fa8fa-a9f6-4bfe-82d7-4ce714702dd4/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7cf2a6a4-1489-45ad-886e-5f79feba82c9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/316fa8fa-a9f6-4bfe-82d7-4ce714702dd4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6b1f4418-786b-4e52-a2c3-79f23da887f6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
