interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7d331fef-1f2a-406b-8eb9-b4776069f5f6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d1989a1b-abb2-4793-8a84-8cc6657ca98a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7d331fef-1f2a-406b-8eb9-b4776069f5f6/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0ac99d7f-3f03-4643-9987-227f7c4ccae1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7d331fef-1f2a-406b-8eb9-b4776069f5f6/lakehouses
  response:
    body:
      string: '{"id": "429cd6c6-87b4-4d1a-9fb6-818b7c8074e6", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "7d331fef-1f2a-406b-8eb9-b4776069f5f6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f2ce54ad-0da3-418d-b353-49f6a1555751
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/7d331fef-1f2a-406b-8eb9-b4776069f5f6/429cd6c6-87b4-4d1a-9fb6-818b7c8074e6/Files/testShortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/7d331fef-1f2a-406b-8eb9-b4776069f5f6/429cd6c6-87b4-4d1a-9fb6-818b7c8074e6/Files/testShortcut.Shortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: '{"path": "Files", "name": "testShortcut", "target": {"oneLake": {"workspaceId":
      "7d331fef-1f2a-406b-8eb9-b4776069f5f6", "itemId": "295b3ffc-089c-4368-892a-2411a2e85cf2",
      "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7d331fef-1f2a-406b-8eb9-b4776069f5f6/items/429cd6c6-87b4-4d1a-9fb6-818b7c8074e6/shortcuts?shortcutConflictPolicy=GenerateUniqueName
  response:
    body:
      string: '{"name": "testShortcut", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "7d331fef-1f2a-406b-8eb9-b4776069f5f6", "itemId":
        "295b3ffc-089c-4368-892a-2411a2e85cf2", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/7d331fef-1f2a-406b-8eb9-b4776069f5f6/items/429cd6c6-87b4-4d1a-9fb6-818b7c8074e6/shortcuts/Files/testShortcut
      RequestId:
      - 8d329538-0149-46a1-9a03-5f476e03fa72
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/7d331fef-1f2a-406b-8eb9-b4776069f5f6/429cd6c6-87b4-4d1a-9fb6-818b7c8074e6/Files/testShortcut
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DE5F3A00F02D48"'
      Last-Modified:
      - Thu, 29 Jan 2026 13:26:26 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7d331fef-1f2a-406b-8eb9-b4776069f5f6/items/295b3ffc-089c-4368-892a-2411a2e85cf2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f03124a6-67d3-4205-8def-d7bc181cfc38
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7d331fef-1f2a-406b-8eb9-b4776069f5f6/items/429cd6c6-87b4-4d1a-9fb6-818b7c8074e6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - cb8f93a7-04cb-4d5c-882f-fb5565c618fc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
