interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4f3c92ee-023c-48a7-b08b-1c5e91be6534",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c4f77b99-3d57-489a-805b-acdddbb9a3da
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items
  response:
    body:
      string: '{"value": [{"id": "3fbee2ca-aebd-49fd-a03a-0bd5bd2a66a5", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"},
        {"id": "fa09d374-f85b-4671-8dac-508f484655fb", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"},
        {"id": "a495463c-dd5d-47ee-8430-3c29c55e0c9a", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"},
        {"id": "9a6cc513-6fb1-4d99-b70f-ab9df4e339dd", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"},
        {"id": "d2f9a359-3c7a-4fa2-95ef-65eae896d937", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ce74155a-c2ca-4775-95c2-fe1654351ffc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/lakehouses
  response:
    body:
      string: '{"id": "cc048d36-7222-42e9-bdb6-58ead6b5e2d0", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 5786d161-d799-4b98-ab37-d97c7b8145c2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/4f3c92ee-023c-48a7-b08b-1c5e91be6534/cc048d36-7222-42e9-bdb6-58ead6b5e2d0/Files/targetUpdateShortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - PathNotFound
    status:
      code: 404
      message: The specified path does not exist.
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/4f3c92ee-023c-48a7-b08b-1c5e91be6534/cc048d36-7222-42e9-bdb6-58ead6b5e2d0/Files/targetUpdateShortcut.Shortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - PathNotFound
    status:
      code: 404
      message: The specified path does not exist.
[...]
- request:
    body: '{"path": "Files", "name": "targetUpdateShortcut", "target": {"oneLake":
      {"workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534", "itemId": "3be62445-9557-4e92-af0a-3bc3f1ad4a45",
      "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/cc048d36-7222-42e9-bdb6-58ead6b5e2d0/shortcuts?shortcutConflictPolicy=GenerateUniqueName
  response:
    body:
      string: '{"name": "targetUpdateShortcut", "path": "Files", "target": {"type":
        "OneLake", "oneLake": {"workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534",
        "itemId": "3be62445-9557-4e92-af0a-3bc3f1ad4a45", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/cc048d36-7222-42e9-bdb6-58ead6b5e2d0/shortcuts/Files/targetUpdateShortcut
      RequestId:
      - f8467177-238e-4b4b-ac00-755deb92dee2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/lakehouses/d2cb9457-65fb-434c-8240-3b3b34042b70
  response:
    body:
      string: '{"id": "d2cb9457-65fb-434c-8240-3b3b34042b70", "type": "Lakehouse",
        "displayName": "fabcli000003", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534",
        "properties": {"oneLakeTablesPath": "https://onelake.dfs.fabric.microsoft.com/4f3c92ee-023c-48a7-b08b-1c5e91be6534/d2cb9457-65fb-434c-8240-3b3b34042b70/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/4f3c92ee-023c-48a7-b08b-1c5e91be6534/d2cb9457-65fb-434c-8240-3b3b34042b70/Files",
        "sqlEndpointProperties": {"connectionString": "mock_connection_string", "id":
        "fb505727-c0ac-46ba-ae1e-f13e00fb3a8a", "provisioningStatus": "Success"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 729f3e44-9054-4177-88c3-2179b0e00aa8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/d2cb9457-65fb-434c-8240-3b3b34042b70/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5a4701ff-575d-48d0-90a1-3b3aaac6c18c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/d2cb9457-65fb-434c-8240-3b3b34042b70/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 19b8c0b4-e29f-4ea0-82a3-f28f943329cb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/4f3c92ee-023c-48a7-b08b-1c5e91be6534/cc048d36-7222-42e9-bdb6-58ead6b5e2d0/Files/targetUpdateShortcut
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DEB7E2A329B648"'
      Last-Modified:
      - Fri, 22 May 2026 09:15:16 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/cc048d36-7222-42e9-bdb6-58ead6b5e2d0/shortcuts/Files/targetUpdateShortcut
  response:
    body:
      string: '{"name": "targetUpdateShortcut", "path": "Files", "target": {"type":
        "OneLake", "oneLake": {"workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534",
        "itemId": "3be62445-9557-4e92-af0a-3bc3f1ad4a45", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - fc12dcaf-304b-4f61-a9a6-c871bf43c8ef
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/d2cb9457-65fb-434c-8240-3b3b34042b70
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1076cd63-8d7b-4c02-9429-2b736e96e782
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/cc048d36-7222-42e9-bdb6-58ead6b5e2d0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1a8b97ff-c288-4edf-8e93-8bbffa7b01dd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
