interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "f016a7de-afee-43d3-a0ab-4023cd91ca7e",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d60a3589-a354-49fb-b71b-7761325d33a2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f016a7de-afee-43d3-a0ab-4023cd91ca7e/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6207f2b9-d955-484a-b006-05fb673bf631
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f016a7de-afee-43d3-a0ab-4023cd91ca7e/folders
  response:
    body:
      string: '{"id": "b41a5709-a085-471e-9f95-b1333e0cd583", "displayName": "fabcli000001",
        "workspaceId": "f016a7de-afee-43d3-a0ab-4023cd91ca7e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/f016a7de-afee-43d3-a0ab-4023cd91ca7e/folders/b41a5709-a085-471e-9f95-b1333e0cd583
      RequestId:
      - 8b16de9c-dd34-478c-8aee-e28cc6487d0a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f016a7de-afee-43d3-a0ab-4023cd91ca7e/folders/b41a5709-a085-471e-9f95-b1333e0cd583
  response:
    body:
      string: '{"id": "b41a5709-a085-471e-9f95-b1333e0cd583", "displayName": "fabcli000001",
        "workspaceId": "f016a7de-afee-43d3-a0ab-4023cd91ca7e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 405153dc-58a5-4471-8365-2da4bd19e73a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f016a7de-afee-43d3-a0ab-4023cd91ca7e/folders/b41a5709-a085-471e-9f95-b1333e0cd583
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6b77d0fd-3988-4b16-bd5b-d0a0eb3be1d5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
