interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "619e9877-6a58-4dc2-9589-bd4d8ee36bd2",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cc316c46-f24f-4610-8517-11f8afd012ae
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/619e9877-6a58-4dc2-9589-bd4d8ee36bd2/spark/pools
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000000", "type": "Workspace",
        "name": "Starter Pool", "nodeFamily": "MemoryOptimized", "nodeSize": "Medium",
        "autoScale": {"enabled": true, "minNodeCount": 1, "maxNodeCount": 10}, "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ddb19f16-dbb0-4c53-b284-e62b7d8bda4c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/619e9877-6a58-4dc2-9589-bd4d8ee36bd2/spark/pools/cfb27133-1062-435e-a41d-b1c55786490b
  response:
    body:
      string: '{"id": "cfb27133-1062-435e-a41d-b1c55786490b", "type": "Workspace",
        "name": "fabcli000001", "nodeFamily": "MemoryOptimized", "nodeSize": "Small",
        "autoScale": {"enabled": true, "minNodeCount": 1, "maxNodeCount": 3}, "dynamicExecutorAllocation":
        {"enabled": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9bc3ba0e-798a-43cf-b16d-97d2c97fffe9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/619e9877-6a58-4dc2-9589-bd4d8ee36bd2/spark/pools/cfb27133-1062-435e-a41d-b1c55786490b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4eee107c-7a1d-4ec9-9861-2d2b281fbd14
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
