interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7f856733-0681-4bf0-b46f-fe3a6240864b",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5b78ad92-955c-4f09-a1d7-0e5cb8194e05
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7f856733-0681-4bf0-b46f-fe3a6240864b/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8d5db2f7-86da-4c25-9adf-ac2690f5d90f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Map", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.4.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7f856733-0681-4bf0-b46f-fe3a6240864b/maps
  response:
    body:
      string: '{"id": "451bf42b-9dce-4f23-afa6-b21045b9a7c7", "type": "Map", "displayName":
        "fabcli000001", "workspaceId": "7f856733-0681-4bf0-b46f-fe3a6240864b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7bbd0ebd-3a93-40e1-bfd4-5740b7a70f54
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7f856733-0681-4bf0-b46f-fe3a6240864b/maps/451bf42b-9dce-4f23-afa6-b21045b9a7c7
  response:
    body:
      string: '{"id": "451bf42b-9dce-4f23-afa6-b21045b9a7c7", "type": "Map", "displayName":
        "fabcli000001", "workspaceId": "7f856733-0681-4bf0-b46f-fe3a6240864b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e073e5e8-1d52-4273-bb3b-c7d163c28952
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7f856733-0681-4bf0-b46f-fe3a6240864b/items/451bf42b-9dce-4f23-afa6-b21045b9a7c7/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 93393949-c806-4d4f-b420-7136406d315f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7f856733-0681-4bf0-b46f-fe3a6240864b/items/451bf42b-9dce-4f23-afa6-b21045b9a7c7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0bf214c4-1a04-4b1c-8c22-f6d17d9bf5cb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
