interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "84896de5-b6a6-44b7-b305-ca0c9bfdef99", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4fa18117-4899-4f1e-8056-f7a6d1977c04
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 24f07a00-dc88-45c8-a81c-95f88c6b0ae2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLQueryset", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/kqlQuerysets
  response:
    body:
      string: '{"id": "219818e9-10ab-412f-945d-ab6d9e1f6c96", "type": "KQLQueryset",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "84896de5-b6a6-44b7-b305-ca0c9bfdef99"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 622a8a44-3f47-4ee8-b646-d9db08d07389
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/kqlQuerysets/219818e9-10ab-412f-945d-ab6d9e1f6c96
  response:
    body:
      string: '{"id": "219818e9-10ab-412f-945d-ab6d9e1f6c96", "type": "KQLQueryset",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "84896de5-b6a6-44b7-b305-ca0c9bfdef99"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 5ddeb69d-35de-4617-9c27-20726af01fb3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items/219818e9-10ab-412f-945d-ab6d9e1f6c96/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 07df5879-e1b5-4456-b724-bf0e17f1c2ab
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items/219818e9-10ab-412f-945d-ab6d9e1f6c96
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 99ef9c8a-aa79-4915-b47e-e6dbac465734
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
