interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "2624caf6-b51d-4b9b-a0d7-9da2c6385d0e",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f2c573d6-ca27-4fb1-94ff-6c463ab553fe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2624caf6-b51d-4b9b-a0d7-9da2c6385d0e/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e1121f92-b62a-4f8d-b96f-77464c3f775f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2624caf6-b51d-4b9b-a0d7-9da2c6385d0e/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d8884687-dfdc-468b-bf23-2c8ab132ba2a
      RequestId:
      - 820e1847-8fbb-4773-b38c-498ba736a9bd
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d8884687-dfdc-468b-bf23-2c8ab132ba2a
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d8884687-dfdc-468b-bf23-2c8ab132ba2a
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-04T07:22:01.7318473",
        "lastUpdatedTimeUtc": "2026-02-04T07:22:08.6372408", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d8884687-dfdc-468b-bf23-2c8ab132ba2a/result
      RequestId:
      - cc684308-cbcb-4963-8cfe-26c79970fe06
      x-ms-operation-id:
      - d8884687-dfdc-468b-bf23-2c8ab132ba2a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d8884687-dfdc-468b-bf23-2c8ab132ba2a/result
  response:
    body:
      string: '{"id": "8b4e0a79-5ae7-4a14-a504-1e1cd14219ce", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "2624caf6-b51d-4b9b-a0d7-9da2c6385d0e"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ff402ab6-5127-4f27-a0ea-d2c4294c9b01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2624caf6-b51d-4b9b-a0d7-9da2c6385d0e/cosmosDbDatabases/8b4e0a79-5ae7-4a14-a504-1e1cd14219ce
  response:
    body:
      string: '{"id": "8b4e0a79-5ae7-4a14-a504-1e1cd14219ce", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "2624caf6-b51d-4b9b-a0d7-9da2c6385d0e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 474a6938-b4ca-482a-a118-5e468550671f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2624caf6-b51d-4b9b-a0d7-9da2c6385d0e/items/8b4e0a79-5ae7-4a14-a504-1e1cd14219ce/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5e1d5e6b-182d-434b-96e1-def4d781de1c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2624caf6-b51d-4b9b-a0d7-9da2c6385d0e/items/8b4e0a79-5ae7-4a14-a504-1e1cd14219ce
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 92013263-8cd5-4dd6-87bb-badd1e181b19
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
