interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "81065bd8-e334-4715-b170-dedb4cd514e6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 00a8d903-501f-4a56-b8fb-71e2f277f0f4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items
  response:
    body:
      string: '{"value": [{"id": "3e75a415-b907-4295-b163-a746b3af88d1", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "81065bd8-e334-4715-b170-dedb4cd514e6"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9281dbb5-2b12-469e-8f24-95e3f2a41fca
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/lakehouses
  response:
    body:
      string: '{"id": "ae8184b3-7d1b-4e58-b5a1-1dbc1eb89b47", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "81065bd8-e334-4715-b170-dedb4cd514e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 5fff0398-ddb1-4258-8e1b-5896e827d941
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/81065bd8-e334-4715-b170-dedb4cd514e6/ae8184b3-7d1b-4e58-b5a1-1dbc1eb89b47/Files/targetUpdateShortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/81065bd8-e334-4715-b170-dedb4cd514e6/ae8184b3-7d1b-4e58-b5a1-1dbc1eb89b47/Files/targetUpdateShortcut.Shortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: '{"path": "Files", "name": "targetUpdateShortcut", "target": {"oneLake":
      {"workspaceId": "81065bd8-e334-4715-b170-dedb4cd514e6", "itemId": "6d583dee-3995-4593-9920-f58526b47dd5",
      "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/ae8184b3-7d1b-4e58-b5a1-1dbc1eb89b47/shortcuts?shortcutConflictPolicy=GenerateUniqueName
  response:
    body:
      string: '{"name": "targetUpdateShortcut", "path": "Files", "target": {"type":
        "OneLake", "oneLake": {"workspaceId": "81065bd8-e334-4715-b170-dedb4cd514e6",
        "itemId": "6d583dee-3995-4593-9920-f58526b47dd5", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/ae8184b3-7d1b-4e58-b5a1-1dbc1eb89b47/shortcuts/Files/targetUpdateShortcut
      RequestId:
      - 6da094e3-efad-42a0-b4ca-e7b496b38301
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/lakehouses/56107b92-5b1c-4752-ab0a-4958a0064934
  response:
    body:
      string: '{"id": "56107b92-5b1c-4752-ab0a-4958a0064934", "type": "Lakehouse",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "81065bd8-e334-4715-b170-dedb4cd514e6", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/81065bd8-e334-4715-b170-dedb4cd514e6/56107b92-5b1c-4752-ab0a-4958a0064934/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/81065bd8-e334-4715-b170-dedb4cd514e6/56107b92-5b1c-4752-ab0a-4958a0064934/Files",
        "sqlEndpointProperties": {"connectionString": null, "id": null, "provisioningStatus":
        "InProgress"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 685fbbb8-56c1-45c0-9e95-88f8bac53655
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/56107b92-5b1c-4752-ab0a-4958a0064934/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 68fcfe6a-dbe3-4757-a544-d13cc335a21b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/56107b92-5b1c-4752-ab0a-4958a0064934/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 12bf8d40-5ffb-4203-a26b-2d92bbca4c26
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/81065bd8-e334-4715-b170-dedb4cd514e6/ae8184b3-7d1b-4e58-b5a1-1dbc1eb89b47/Files/targetUpdateShortcut
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DE487A3691DE3C"'
      Last-Modified:
      - Wed, 31 Dec 2025 14:38:07 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/ae8184b3-7d1b-4e58-b5a1-1dbc1eb89b47/shortcuts/Files/targetUpdateShortcut
  response:
    body:
      string: '{"name": "targetUpdateShortcut", "path": "Files", "target": {"type":
        "OneLake", "oneLake": {"workspaceId": "81065bd8-e334-4715-b170-dedb4cd514e6",
        "itemId": "6d583dee-3995-4593-9920-f58526b47dd5", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d69b3365-41f7-48f3-8fa4-e7a9962cad99
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/56107b92-5b1c-4752-ab0a-4958a0064934
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 30dfb59d-5671-423b-a0db-b16f90f00425
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/ae8184b3-7d1b-4e58-b5a1-1dbc1eb89b47
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4031f6d4-02d4-4b13-a138-13b28cdafc93
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
