interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c0c700b7-1584-44c0-b3a3-28e6c3caa9b1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dff2e20c-37a4-49d8-b16c-8aa62badb346
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c0c700b7-1584-44c0-b3a3-28e6c3caa9b1/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 17184258-5a85-4b52-b6c9-d15e861e1885
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c0c700b7-1584-44c0-b3a3-28e6c3caa9b1/lakehouses
  response:
    body:
      string: '{"id": "be810b42-58ab-4488-8f30-5aba4acfcb35", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c0c700b7-1584-44c0-b3a3-28e6c3caa9b1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7de87d8d-e8a8-498c-9e3c-95795ae26aa2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/c0c700b7-1584-44c0-b3a3-28e6c3caa9b1/be810b42-58ab-4488-8f30-5aba4acfcb35/Files/targetUpdateShortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/c0c700b7-1584-44c0-b3a3-28e6c3caa9b1/be810b42-58ab-4488-8f30-5aba4acfcb35/Files/targetUpdateShortcut.Shortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: '{"path": "Files", "name": "targetUpdateShortcut", "target": {"oneLake":
      {"workspaceId": "c0c700b7-1584-44c0-b3a3-28e6c3caa9b1", "itemId": "6eb15e4a-f40c-4ddb-965a-e35d8ec2ff0d",
      "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c0c700b7-1584-44c0-b3a3-28e6c3caa9b1/items/be810b42-58ab-4488-8f30-5aba4acfcb35/shortcuts?shortcutConflictPolicy=GenerateUniqueName
  response:
    body:
      string: '{"name": "targetUpdateShortcut", "path": "Files", "target": {"type":
        "OneLake", "oneLake": {"workspaceId": "c0c700b7-1584-44c0-b3a3-28e6c3caa9b1",
        "itemId": "6eb15e4a-f40c-4ddb-965a-e35d8ec2ff0d", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/c0c700b7-1584-44c0-b3a3-28e6c3caa9b1/items/be810b42-58ab-4488-8f30-5aba4acfcb35/shortcuts/Files/targetUpdateShortcut
      RequestId:
      - 20df7474-e7ec-41f6-8d1a-e057285cb8f2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c0c700b7-1584-44c0-b3a3-28e6c3caa9b1/lakehouses/a3f96756-5f52-4ecf-a1cf-1d6eee2eb8d8
  response:
    body:
      string: '{"id": "a3f96756-5f52-4ecf-a1cf-1d6eee2eb8d8", "type": "Lakehouse",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "c0c700b7-1584-44c0-b3a3-28e6c3caa9b1", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/c0c700b7-1584-44c0-b3a3-28e6c3caa9b1/a3f96756-5f52-4ecf-a1cf-1d6eee2eb8d8/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/c0c700b7-1584-44c0-b3a3-28e6c3caa9b1/a3f96756-5f52-4ecf-a1cf-1d6eee2eb8d8/Files",
        "sqlEndpointProperties": {"connectionString": "mock_connection_string", "id":
        "375db029-c6ea-4745-ae3a-1dae01116aac", "provisioningStatus": "Success"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 1ce2f203-46de-4170-a4d9-5be7692b635d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c0c700b7-1584-44c0-b3a3-28e6c3caa9b1/items/a3f96756-5f52-4ecf-a1cf-1d6eee2eb8d8/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 61883668-dd73-4d12-b0a4-d8bcc186af29
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c0c700b7-1584-44c0-b3a3-28e6c3caa9b1/items/a3f96756-5f52-4ecf-a1cf-1d6eee2eb8d8/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5b9c1cac-5d0b-4267-92b9-1a2fd90993ba
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/c0c700b7-1584-44c0-b3a3-28e6c3caa9b1/be810b42-58ab-4488-8f30-5aba4acfcb35/Files/targetUpdateShortcut
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DE46184E73C9BC"'
      Last-Modified:
      - Sun, 28 Dec 2025 13:52:14 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c0c700b7-1584-44c0-b3a3-28e6c3caa9b1/items/be810b42-58ab-4488-8f30-5aba4acfcb35/shortcuts/Files/targetUpdateShortcut
  response:
    body:
      string: '{"name": "targetUpdateShortcut", "path": "Files", "target": {"type":
        "OneLake", "oneLake": {"workspaceId": "c0c700b7-1584-44c0-b3a3-28e6c3caa9b1",
        "itemId": "6eb15e4a-f40c-4ddb-965a-e35d8ec2ff0d", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e8ccda73-5750-4b67-ae18-ab7dbd091ec6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c0c700b7-1584-44c0-b3a3-28e6c3caa9b1/items/a3f96756-5f52-4ecf-a1cf-1d6eee2eb8d8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 472ae224-afec-4ecf-ae87-442094ec989a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c0c700b7-1584-44c0-b3a3-28e6c3caa9b1/items/be810b42-58ab-4488-8f30-5aba4acfcb35
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 62dbcd96-f8df-46a8-9b9e-e3db6142e8f5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
