interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "84896de5-b6a6-44b7-b305-ca0c9bfdef99", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5974708f-593b-41c1-9a33-284145c09594
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f96bccd7-928d-49ee-b295-d622aab0ab51
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MirroredDatabase", "folderId": null, "definition": {"parts": [{"path": "mirroring.json",
      "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgInNvdXJjZSI6IHsKICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsCiAgICAgICAgICAgICJ0eXBlUHJvcGVydGllcyI6IHt9CiAgICAgICAgfSwKICAgICAgICAidGFyZ2V0IjogewogICAgICAgICAgICAidHlwZSI6ICJNb3VudGVkUmVsYXRpb25hbERhdGFiYXNlIiwKICAgICAgICAgICAgInR5cGVQcm9wZXJ0aWVzIjogewogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSIKICAgICAgICAgICAgfQogICAgICAgIH0KICAgIH0KfQ==",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/mirroredDatabases
  response:
    body:
      string: '{"id": "8821f51c-5ea3-48b1-ab65-89113dd84984", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "84896de5-b6a6-44b7-b305-ca0c9bfdef99"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7d91aa73-5d1e-4e2b-b4b2-6c46ad972196
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/mirroredDatabases/8821f51c-5ea3-48b1-ab65-89113dd84984
  response:
    body:
      string: '{"id": "8821f51c-5ea3-48b1-ab65-89113dd84984", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "84896de5-b6a6-44b7-b305-ca0c9bfdef99", "properties": {"oneLakeTablesPath":
        null, "sqlEndpointProperties": {"connectionString": null, "id": null, "provisioningStatus":
        "Failed"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b255def6-0b7c-4af0-8502-23f20efb8ba6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000002"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/mirroredDatabases/8821f51c-5ea3-48b1-ab65-89113dd84984
  response:
    body:
      string: '{"requestId": "d0fff626-b822-43cc-bfdc-a92b96e3d652", "errorCode":
        "DatamartNotFound", "moreDetails": [], "message": "PowerBI service client
        received error HTTP response. HttpStatus: 400. PowerBIErrorCode: DatamartNotFound"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d0fff626-b822-43cc-bfdc-a92b96e3d652
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - DatamartNotFound
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items
  response:
    body:
      string: '{"value": [{"id": "8821f51c-5ea3-48b1-ab65-89113dd84984", "type": "MirroredDatabase",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "84896de5-b6a6-44b7-b305-ca0c9bfdef99"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9da2abc7-4373-402f-af91-3ce0bddaea0a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
