interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "2624caf6-b51d-4b9b-a0d7-9da2c6385d0e",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - aa9ba7c2-ede5-4db7-af7b-a2a529ec307e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2624caf6-b51d-4b9b-a0d7-9da2c6385d0e/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ba59dd67-08a8-46e6-a976-9d995e278197
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2624caf6-b51d-4b9b-a0d7-9da2c6385d0e/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3225775e-7f3f-4ce7-a9e8-8b88bd3b2602
      RequestId:
      - e7c6fcea-256b-4c47-aed1-c1d7dc644e71
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 3225775e-7f3f-4ce7-a9e8-8b88bd3b2602
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3225775e-7f3f-4ce7-a9e8-8b88bd3b2602
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-04T07:21:30.0848824",
        "lastUpdatedTimeUtc": "2026-02-04T07:21:38.1005213", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3225775e-7f3f-4ce7-a9e8-8b88bd3b2602/result
      RequestId:
      - 4ad87f1d-17d4-406d-8692-b7824abc1df7
      x-ms-operation-id:
      - 3225775e-7f3f-4ce7-a9e8-8b88bd3b2602
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3225775e-7f3f-4ce7-a9e8-8b88bd3b2602/result
  response:
    body:
      string: '{"id": "df2dbdbe-50ed-4667-a4b0-6b9ef01887b1", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "2624caf6-b51d-4b9b-a0d7-9da2c6385d0e"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f12bc846-2026-429b-b9e8-bc847c3ee924
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2624caf6-b51d-4b9b-a0d7-9da2c6385d0e/cosmosDbDatabases/df2dbdbe-50ed-4667-a4b0-6b9ef01887b1
  response:
    body:
      string: '{"id": "df2dbdbe-50ed-4667-a4b0-6b9ef01887b1", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "2624caf6-b51d-4b9b-a0d7-9da2c6385d0e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 0c93ac61-ca99-4578-b15e-d29bf3511dc7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000002"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.fabric.microsoft.com/v1/workspaces/2624caf6-b51d-4b9b-a0d7-9da2c6385d0e/cosmosDbDatabases/df2dbdbe-50ed-4667-a4b0-6b9ef01887b1
  response:
    body:
      string: '{"requestId": "2813becf-5027-4c11-829a-f7fd81acd17a", "errorCode":
        "CosmosDBDatabaseDisplayNameCannotBeChanged", "message": "The display name
        of CosmosDBDatabase items cannot be changed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2813becf-5027-4c11-829a-f7fd81acd17a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - CosmosDBDatabaseDisplayNameCannotBeChanged
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2624caf6-b51d-4b9b-a0d7-9da2c6385d0e/items/df2dbdbe-50ed-4667-a4b0-6b9ef01887b1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c6106f17-3d1c-4238-9359-bdd9b5f53260
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
