interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "84896de5-b6a6-44b7-b305-ca0c9bfdef99", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7a9a3909-6f25-43bc-a6c8-9b046050f0a6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items
  response:
    body:
      string: '{"value": [{"id": "8821f51c-5ea3-48b1-ab65-89113dd84984", "type": "MirroredDatabase",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "84896de5-b6a6-44b7-b305-ca0c9bfdef99"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e06481dc-f922-4028-8dda-6282b9c983d7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e879668e-8f25-424d-b600-b9dce477c0fb
      RequestId:
      - 64cdf4d5-b2a9-4bc7-a59b-3474baff7789
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - e879668e-8f25-424d-b600-b9dce477c0fb
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e879668e-8f25-424d-b600-b9dce477c0fb
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-20T07:42:58.6313507",
        "lastUpdatedTimeUtc": "2026-01-20T07:42:59.8188363", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e879668e-8f25-424d-b600-b9dce477c0fb/result
      RequestId:
      - 24d3df7b-41d2-46d3-bcc9-e0c6d82cd068
      x-ms-operation-id:
      - e879668e-8f25-424d-b600-b9dce477c0fb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e879668e-8f25-424d-b600-b9dce477c0fb/result
  response:
    body:
      string: '{"id": "3e0211e9-77e4-46c4-839a-f60a301dcb70", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "84896de5-b6a6-44b7-b305-ca0c9bfdef99"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 7742edab-a002-4487-b95b-11f438cc9cb3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/notebooks/3e0211e9-77e4-46c4-839a-f60a301dcb70
  response:
    body:
      string: '{"id": "3e0211e9-77e4-46c4-839a-f60a301dcb70", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "84896de5-b6a6-44b7-b305-ca0c9bfdef99"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 66745b43-28d3-4777-bac8-3dff9fbc0ff2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items/3e0211e9-77e4-46c4-839a-f60a301dcb70/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 35d7cf29-b61b-451f-8732-60354123e6ca
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items/3e0211e9-77e4-46c4-839a-f60a301dcb70/jobs/RunNotebook/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 94b14809-a449-4aa3-994a-aedbb6957103
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/84896de5-b6a6-44b7-b305-ca0c9bfdef99/items/3e0211e9-77e4-46c4-839a-f60a301dcb70
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1570024e-359e-4faa-b240-eae0338391dd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
