interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "066ce40b-1395-4b1e-b4ba-9ed15654e67d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 40c2294d-4c4b-4e5a-bd6a-9ceaac86d9c7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 636ede1a-8f50-403c-88c2-462445ea46da
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/951cddb9-73b2-4cd5-a8ce-26dc78b13cca
      RequestId:
      - c1b06c46-026f-4b41-bf84-3d04b510b335
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 951cddb9-73b2-4cd5-a8ce-26dc78b13cca
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/951cddb9-73b2-4cd5-a8ce-26dc78b13cca
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-03T12:43:47.583955",
        "lastUpdatedTimeUtc": "2026-09-03T12:43:47.583955", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/951cddb9-73b2-4cd5-a8ce-26dc78b13cca
      RequestId:
      - 5130fef1-88da-47c1-b76b-3aa170912e27
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 951cddb9-73b2-4cd5-a8ce-26dc78b13cca
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/951cddb9-73b2-4cd5-a8ce-26dc78b13cca/result
  response:
    body:
      string: '{"id": "5d4fa970-fd12-423c-9af9-d527560b8f17", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "066ce40b-1395-4b1e-b4ba-9ed15654e67d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 0c3d8d1d-5751-429b-9160-8335db306004
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/graphModels/5d4fa970-fd12-423c-9af9-d527560b8f17
  response:
    body:
      string: '{"id": "5d4fa970-fd12-423c-9af9-d527560b8f17", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "066ce40b-1395-4b1e-b4ba-9ed15654e67d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 410dcf87-bac1-45e8-a315-335768297fa0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/items/5d4fa970-fd12-423c-9af9-d527560b8f17/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c43fd2fb-71a8-4c58-99be-3c6ca3fa83e9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/items/5d4fa970-fd12-423c-9af9-d527560b8f17/jobs/refreshGraph/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4d7d43d3-50c0-44f3-9d8c-8dd239373b49
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/items/5d4fa970-fd12-423c-9af9-d527560b8f17
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 089a16a5-d65d-42ca-94a2-85449400b0c1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
