interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5378d2e8-a1ef-4bcd-a1d9-47f984697342",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 860329a6-946b-4f53-a104-07be2a2e0e26
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5378d2e8-a1ef-4bcd-a1d9-47f984697342/items
  response:
    body:
      string: '{"value": [{"id": "d615dd1a-7660-4a93-aa86-b5b3c5d1c553", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "5378d2e8-a1ef-4bcd-a1d9-47f984697342"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e231ef1c-5f31-4266-ad39-afcba33f9024
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "VariableLibrary", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5378d2e8-a1ef-4bcd-a1d9-47f984697342/variablelibraries
  response:
    body:
      string: '{"id": "3c969690-935a-42c5-8dbc-acdcf421110a", "type": "VariableLibrary",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5378d2e8-a1ef-4bcd-a1d9-47f984697342"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 34065525-893a-4647-803f-d07e8c701993
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5378d2e8-a1ef-4bcd-a1d9-47f984697342/variablelibraries/3c969690-935a-42c5-8dbc-acdcf421110a
  response:
    body:
      string: '{"id": "3c969690-935a-42c5-8dbc-acdcf421110a", "type": "VariableLibrary",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5378d2e8-a1ef-4bcd-a1d9-47f984697342", "properties": {"activeValueSetName":
        "Default value set"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d8e8f378-935d-422b-8f38-1be798fee26e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5378d2e8-a1ef-4bcd-a1d9-47f984697342/items/3c969690-935a-42c5-8dbc-acdcf421110a/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6c9c0806-7362-47ce-b9c6-6336d1870656
      RequestId:
      - 40c5bb68-4662-4a92-ad5d-0c4fe7bfc12c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 6c9c0806-7362-47ce-b9c6-6336d1870656
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6c9c0806-7362-47ce-b9c6-6336d1870656
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-11-23T08:02:37.5793197",
        "lastUpdatedTimeUtc": "2025-11-23T08:02:37.9386947", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6c9c0806-7362-47ce-b9c6-6336d1870656/result
      RequestId:
      - 117b5d12-1089-4ea2-8e70-fe163df92402
      x-ms-operation-id:
      - 6c9c0806-7362-47ce-b9c6-6336d1870656
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6c9c0806-7362-47ce-b9c6-6336d1870656/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "variables.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS92YXJpYWJsZUxpYnJhcnkvZGVmaW5pdGlvbi92YXJpYWJsZXMvMS4wLjAvc2NoZW1hLmpzb24iLA0KICAidmFyaWFibGVzIjogW10NCn0=",
        "payloadType": "InlineBase64"}, {"path": "settings.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS92YXJpYWJsZUxpYnJhcnkvZGVmaW5pdGlvbi9zZXR0aW5ncy8xLjAuMC9zY2hlbWEuanNvbiIsDQogICJ2YWx1ZVNldHNPcmRlciI6IFtdDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlZhcmlhYmxlTGlicmFyeSIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 08a1fb5b-69de-4b1c-a4cf-5d787f9e8c45
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5378d2e8-a1ef-4bcd-a1d9-47f984697342/items/3c969690-935a-42c5-8dbc-acdcf421110a/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6c5d7959-2929-4bf6-ab43-3ab18fee4ecf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5378d2e8-a1ef-4bcd-a1d9-47f984697342/items/3c969690-935a-42c5-8dbc-acdcf421110a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3b5fd73a-cbe7-4cf1-9c47-7f7418d339eb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
