interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "81065bd8-e334-4715-b170-dedb4cd514e6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 60942e6a-0a43-45b4-ba2b-883de0a1f45a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items
  response:
    body:
      string: '{"value": [{"id": "3e75a415-b907-4295-b163-a746b3af88d1", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "81065bd8-e334-4715-b170-dedb4cd514e6"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2cd8bfa5-eb90-46bd-b80c-3f47804fbacd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/lakehouses
  response:
    body:
      string: '{"id": "890f09d7-ced5-41c1-9a1f-8c28015e7f8a", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "81065bd8-e334-4715-b170-dedb4cd514e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 8749b321-a1ae-4663-a16a-b4ef3af93d66
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/81065bd8-e334-4715-b170-dedb4cd514e6/890f09d7-ced5-41c1-9a1f-8c28015e7f8a/Files/testShortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/81065bd8-e334-4715-b170-dedb4cd514e6/890f09d7-ced5-41c1-9a1f-8c28015e7f8a/Files/testShortcut.Shortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: '{"path": "Files", "name": "testShortcut", "target": {"oneLake": {"workspaceId":
      "81065bd8-e334-4715-b170-dedb4cd514e6", "itemId": "7fcd70b8-c565-4d53-b5b6-6dc0215b5069",
      "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/890f09d7-ced5-41c1-9a1f-8c28015e7f8a/shortcuts?shortcutConflictPolicy=GenerateUniqueName
  response:
    body:
      string: '{"name": "testShortcut", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "81065bd8-e334-4715-b170-dedb4cd514e6", "itemId":
        "7fcd70b8-c565-4d53-b5b6-6dc0215b5069", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/890f09d7-ced5-41c1-9a1f-8c28015e7f8a/shortcuts/Files/testShortcut
      RequestId:
      - 20d9a9cf-ff94-4ff4-b08f-91ecc12df08f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/81065bd8-e334-4715-b170-dedb4cd514e6/890f09d7-ced5-41c1-9a1f-8c28015e7f8a/Files/testShortcut
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DE487A1ADF2810"'
      Last-Modified:
      - Wed, 31 Dec 2025 14:37:20 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/7fcd70b8-c565-4d53-b5b6-6dc0215b5069
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 11ae2768-fe9d-407c-ac18-a61c78d0e0ad
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/81065bd8-e334-4715-b170-dedb4cd514e6/items/890f09d7-ced5-41c1-9a1f-8c28015e7f8a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - fb847e43-2876-450c-b4a0-3c53a322ee5a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
