interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4f3c92ee-023c-48a7-b08b-1c5e91be6534",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e6032008-9770-46d2-8255-48a3f357c208
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items
  response:
    body:
      string: '{"value": [{"id": "3fbee2ca-aebd-49fd-a03a-0bd5bd2a66a5", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"},
        {"id": "fa09d374-f85b-4671-8dac-508f484655fb", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"},
        {"id": "a495463c-dd5d-47ee-8430-3c29c55e0c9a", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"},
        {"id": "9a6cc513-6fb1-4d99-b70f-ab9df4e339dd", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"},
        {"id": "d2f9a359-3c7a-4fa2-95ef-65eae896d937", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9f021c22-2c51-48fd-9a90-b539c5f674f1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/lakehouses
  response:
    body:
      string: '{"id": "b73f15a6-6c87-465f-bd01-b295921453a2", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - dd30d306-c5db-4ce4-a1ed-70e922cc2fab
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/4f3c92ee-023c-48a7-b08b-1c5e91be6534/b73f15a6-6c87-465f-bd01-b295921453a2/Files/originalShortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - PathNotFound
    status:
      code: 404
      message: The specified path does not exist.
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/4f3c92ee-023c-48a7-b08b-1c5e91be6534/b73f15a6-6c87-465f-bd01-b295921453a2/Files/originalShortcut.Shortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - PathNotFound
    status:
      code: 404
      message: The specified path does not exist.
[...]
- request:
    body: '{"path": "Files", "name": "originalShortcut", "target": {"oneLake": {"workspaceId":
      "4f3c92ee-023c-48a7-b08b-1c5e91be6534", "itemId": "ffbdf8c9-64dd-44ed-bd28-a51813144172",
      "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/b73f15a6-6c87-465f-bd01-b295921453a2/shortcuts?shortcutConflictPolicy=GenerateUniqueName
  response:
    body:
      string: '{"name": "originalShortcut", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534", "itemId":
        "ffbdf8c9-64dd-44ed-bd28-a51813144172", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/b73f15a6-6c87-465f-bd01-b295921453a2/shortcuts/Files/originalShortcut
      RequestId:
      - d8dfabf7-ec9b-4eed-b8be-2ca4b25619e0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/4f3c92ee-023c-48a7-b08b-1c5e91be6534/b73f15a6-6c87-465f-bd01-b295921453a2/Files/originalShortcut
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DEB7E28A9BA37C"'
      Last-Modified:
      - Fri, 22 May 2026 09:14:34 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/b73f15a6-6c87-465f-bd01-b295921453a2/shortcuts/Files/originalShortcut
  response:
    body:
      string: '{"name": "originalShortcut", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534", "itemId":
        "ffbdf8c9-64dd-44ed-bd28-a51813144172", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b1a32e82-d84b-4d01-956f-d354f80b35ba
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/4f3c92ee-023c-48a7-b08b-1c5e91be6534/b73f15a6-6c87-465f-bd01-b295921453a2/Files/fabcli000003
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DEB7E28A9BA37C"'
      Last-Modified:
      - Fri, 22 May 2026 09:14:34 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/b73f15a6-6c87-465f-bd01-b295921453a2/shortcuts/Files/fabcli000003
  response:
    body:
      string: '{"name": "fabcli000003", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534", "itemId":
        "ffbdf8c9-64dd-44ed-bd28-a51813144172", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 60bf93d9-2213-43c7-a312-f66cd7c335c3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/lakehouses/ffbdf8c9-64dd-44ed-bd28-a51813144172
  response:
    body:
      string: '{"id": "ffbdf8c9-64dd-44ed-bd28-a51813144172", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "", "workspaceId": "4f3c92ee-023c-48a7-b08b-1c5e91be6534",
        "properties": {"oneLakeTablesPath": "https://onelake.dfs.fabric.microsoft.com/4f3c92ee-023c-48a7-b08b-1c5e91be6534/ffbdf8c9-64dd-44ed-bd28-a51813144172/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/4f3c92ee-023c-48a7-b08b-1c5e91be6534/ffbdf8c9-64dd-44ed-bd28-a51813144172/Files",
        "sqlEndpointProperties": {"connectionString": "mock_connection_string", "id":
        "2e38e157-5b67-4f50-90fd-8281232342bc", "provisioningStatus": "Success"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 1cd4c61e-38c2-4119-9e3a-dde3ba66d325
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/ffbdf8c9-64dd-44ed-bd28-a51813144172/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 08d1cd86-be4e-4f65-a226-6e21ccb96509
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/ffbdf8c9-64dd-44ed-bd28-a51813144172/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1a936bf4-2eb4-4dde-8ad7-5da0852ebc67
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/ffbdf8c9-64dd-44ed-bd28-a51813144172
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5b7f8357-623f-475f-a239-772a43fd1106
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4f3c92ee-023c-48a7-b08b-1c5e91be6534/items/b73f15a6-6c87-465f-bd01-b295921453a2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e1ea419d-7c1c-4992-aefd-22915f21b016
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
