interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5e07b4ee-75df-4246-a07a-bbf7c07d4ff9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"administration": {"members": ["mocked@admin_test_user"]}},
      "sku": {"name": "F2", "tier": "Fabric"}, "location": "mocked_fabriccli_azure_location"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/%3CMissing%20FABRIC_CLI_TEST_AZURE_RESOURCE_GROUP%20value%3E/providers/Microsoft.Fabric/capacities/fabcli000001?api-version=2023-11-01
  response:
    body:
      string: '{"error": {"code": "ResourceGroupNotFound", "message": "Resource group
        ''<Missing FABRIC_CLI_TEST_AZURE_RESOURCE_GROUP value>'' could not be found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
