interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "066ce40b-1395-4b1e-b4ba-9ed15654e67d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 21800f88-1378-4ab3-9b29-337a6f2bd3a6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5d3207a2-88b2-46ac-a57d-d8c4c2370059
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/080939c4-e14f-448d-a445-794c6dc9ae4a
      RequestId:
      - 7dde0595-d443-44b9-93cb-5281aaeaca79
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 080939c4-e14f-448d-a445-794c6dc9ae4a
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/080939c4-e14f-448d-a445-794c6dc9ae4a
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-03T12:44:41.1852592",
        "lastUpdatedTimeUtc": "2026-09-03T12:44:41.1852592", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/080939c4-e14f-448d-a445-794c6dc9ae4a
      RequestId:
      - 47214586-d29a-46fd-99d6-14255fde9493
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 080939c4-e14f-448d-a445-794c6dc9ae4a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/080939c4-e14f-448d-a445-794c6dc9ae4a/result
  response:
    body:
      string: '{"id": "0ca83a6b-1577-48e8-b3c2-79826ba08cca", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "066ce40b-1395-4b1e-b4ba-9ed15654e67d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b8730d78-bf9b-450c-873c-673ae19e6e29
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/ontologies/0ca83a6b-1577-48e8-b3c2-79826ba08cca
  response:
    body:
      string: '{"id": "0ca83a6b-1577-48e8-b3c2-79826ba08cca", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "066ce40b-1395-4b1e-b4ba-9ed15654e67d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b73d223b-c2e4-4d75-9b51-2bcc349cc07d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/items/0ca83a6b-1577-48e8-b3c2-79826ba08cca/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3548f07c-d8b0-430c-80ec-502ce788bedd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/066ce40b-1395-4b1e-b4ba-9ed15654e67d/items/0ca83a6b-1577-48e8-b3c2-79826ba08cca
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9058358b-bb0d-4a88-b14d-0a223014ea2e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
