interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 746144c2-b100-48d2-9ade-05fa36455807
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1259c26c-e67d-4a58-bce1-00d7fce3a048
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabriccli_WorkspacePerTestclass_000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "4cb4cf65-b25e-450e-8afc-8f600b1ce932", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/4cb4cf65-b25e-450e-8afc-8f600b1ce932
      RequestId:
      - 5b9978be-694f-4425-9154-7960c63ffba2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cb4cf65-b25e-450e-8afc-8f600b1ce932/items
  response:
    body:
      string: '{"value": [{"id": "34c117de-d833-4e68-8069-e5712d633225", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "4cb4cf65-b25e-450e-8afc-8f600b1ce932"}, {"id": "ed222b2a-79c3-46de-b29f-3f24a65fa8b1",
        "type": "SQLEndpoint", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "4cb4cf65-b25e-450e-8afc-8f600b1ce932"}, {"id": "1151b062-a0d0-4724-9e6d-2b8b3070790b",
        "type": "DigitalTwinBuilder", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "4cb4cf65-b25e-450e-8afc-8f600b1ce932"}, {"id": "32017f84-6075-4b47-8413-5b20e99217ff",
        "type": "Lakehouse", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "4cb4cf65-b25e-450e-8afc-8f600b1ce932"}, {"id": "f37226ea-badf-4318-8607-452763087720",
        "type": "DigitalTwinBuilderFlow", "displayName": "fabcli000001_autoOnDemand",
        "description": "", "workspaceId": "4cb4cf65-b25e-450e-8afc-8f600b1ce932"},
        {"id": "5f487d0f-c741-4749-8ddb-0dbfcad1db79", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "4cb4cf65-b25e-450e-8afc-8f600b1ce932"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 335758d5-02b3-4d1c-8c54-59812d201e88
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cb4cf65-b25e-450e-8afc-8f600b1ce932
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4ec75bdf-29f7-4dc1-94c5-fc683c46b5ea
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
