interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 217e7d27-ad19-419d-b75a-86e6e94347ee
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 523bf25d-7c17-488c-abf7-cb5143f4dcca
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabriccli_WorkspacePerTestclass_000001",
      "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "8345c10e-7b97-44ce-8111-806b95aad368", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/8345c10e-7b97-44ce-8111-806b95aad368
      RequestId:
      - 02e2ce7e-93b5-4e49-b0e0-a0b5b9705974
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8345c10e-7b97-44ce-8111-806b95aad368/items
  response:
    body:
      string: '{"value": [{"id": "b51a7eb5-9481-425a-8037-d6723709f8d4", "type": "SQLEndpoint",
        "displayName": "fabcli000002dtdm", "description": "", "workspaceId": "8345c10e-7b97-44ce-8111-806b95aad368",
        "folderId": "dae78c10-fe9c-4e10-a115-1845eb5b6ef9"}, {"id": "13372126-888e-466b-a7b9-8b635c6f8333",
        "type": "Lakehouse", "displayName": "fabcli000002dtdm", "description": "",
        "workspaceId": "8345c10e-7b97-44ce-8111-806b95aad368", "folderId": "dae78c10-fe9c-4e10-a115-1845eb5b6ef9"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f9198688-df06-40f1-b2f1-83785cc3e9fd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8345c10e-7b97-44ce-8111-806b95aad368/folders?recursive=True
  response:
    body:
      string: '{"value": [{"id": "dae78c10-fe9c-4e10-a115-1845eb5b6ef9", "displayName":
        "fabcli000001", "workspaceId": "8345c10e-7b97-44ce-8111-806b95aad368"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 13c26542-f28d-43eb-a690-d66c8693a81c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/8345c10e-7b97-44ce-8111-806b95aad368
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4d32ff8d-8b20-43ef-9974-7c3a91fcc908
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
