interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2d5fee75-ea93-4e41-9537-631c4ae0a850
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ebf1c950-48dc-4899-8a76-b1ff96eccecc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabriccli_WorkspacePerTestclass_000001",
      "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "b99c3830-c62c-4f5d-82c4-9c73ae16a678", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/b99c3830-c62c-4f5d-82c4-9c73ae16a678
      RequestId:
      - 2cee1548-d387-47e6-98aa-8d77c9525e53
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b99c3830-c62c-4f5d-82c4-9c73ae16a678/items
  response:
    body:
      string: '{"value": [{"id": "2aeba4b7-8c56-4e22-a498-947fb5eaee89", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "d98954b4-2ca2-40b7-a02d-f9859d901092"},
        {"id": "4079ef73-3ba5-44a9-8a86-cba107835f63", "type": "SQLEndpoint", "displayName":
        "fabcli000002dtdm", "description": "", "workspaceId": "d98954b4-2ca2-40b7-a02d-f9859d901092"},
        {"id": "923192c3-c1cc-4e97-bea6-15a8dfeb6c17", "type": "SQLEndpoint", "displayName":
        "fabcli000003dtdm", "description": "", "workspaceId": "d98954b4-2ca2-40b7-a02d-f9859d901092"},
        {"id": "48fb59a5-600f-44a5-9000-6e19ceb49852", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "d98954b4-2ca2-40b7-a02d-f9859d901092"},
        {"id": "2c56bb07-3b8c-4087-9226-ac158dddb443", "type": "Lakehouse", "displayName":
        "fabcli000002dtdm", "description": "", "workspaceId": "d98954b4-2ca2-40b7-a02d-f9859d901092"},
        {"id": "343ec674-a3ff-4e0f-80f7-5840f77c08e2", "type": "Lakehouse", "displayName":
        "fabcli000003dtdm", "description": "", "workspaceId": "d98954b4-2ca2-40b7-a02d-f9859d901092"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ad52aaaa-a20e-44ab-8fe8-1c0b531129ba
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b99c3830-c62c-4f5d-82c4-9c73ae16a678
  response:
    body:
      string: '{"requestId": "6e77c6fe-eec6-4159-ae1d-bb65beec8ccd", "errorCode":
        "WorkspaceContainsManagedEndpoints", "message": "The workspace cannot be deleted
        because it contains one or more managed endpoints", "isRetriable": false,
        "relatedResource": {"resourceId": "d98954b4-2ca2-40b7-a02d-f9859d901092",
        "resourceType": "Workspace"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 72dd1f3e-dfcc-46a8-b7cc-30c72b0cb473
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - WorkspaceContainsManagedEndpoints
    status:
      code: 400
      message: Bad Request
version: 1
