interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "20015b53-cb84-4f8d-8814-33b22729b0d7",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1d30377a-267d-4b63-8c6c-e4c239a61c3e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/20015b53-cb84-4f8d-8814-33b22729b0d7/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2614f967-86ca-42a5-9250-75d124b7b3c6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/20015b53-cb84-4f8d-8814-33b22729b0d7/folders
  response:
    body:
      string: '{"id": "ba19c5c9-55cc-4fc7-9803-fe30c3713e5a", "displayName": "fabcli000001",
        "workspaceId": "20015b53-cb84-4f8d-8814-33b22729b0d7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/20015b53-cb84-4f8d-8814-33b22729b0d7/folders/ba19c5c9-55cc-4fc7-9803-fe30c3713e5a
      RequestId:
      - 9c584a0b-2c70-488d-b6dd-9b2d46f84dd2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/20015b53-cb84-4f8d-8814-33b22729b0d7/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e64a5d88-f701-4447-8498-2e0c0718b678
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/20015b53-cb84-4f8d-8814-33b22729b0d7/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2f8544e0-c46b-4988-8717-0bc6fcf2cf49
      RequestId:
      - 66b9b6a6-d4d6-4c6a-bbb7-150d76ec23ad
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 2f8544e0-c46b-4988-8717-0bc6fcf2cf49
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2f8544e0-c46b-4988-8717-0bc6fcf2cf49
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-05T13:40:55.3123803",
        "lastUpdatedTimeUtc": "2026-02-05T13:41:06.7835019", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2f8544e0-c46b-4988-8717-0bc6fcf2cf49/result
      RequestId:
      - cef53979-7326-4626-abe1-6b5bc4337377
      x-ms-operation-id:
      - 2f8544e0-c46b-4988-8717-0bc6fcf2cf49
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2f8544e0-c46b-4988-8717-0bc6fcf2cf49/result
  response:
    body:
      string: '{"id": "3f4a2bb7-506c-4e79-9ed8-646f68200ede", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "20015b53-cb84-4f8d-8814-33b22729b0d7"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - bebf2168-2517-4f1e-afdd-cbebd3c1f735
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/20015b53-cb84-4f8d-8814-33b22729b0d7/folders?recursive=True
  response:
    body:
      string: '{"requestId": "eff44eb3-32a5-4f0d-88dd-ddefa88fa4a8", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/5/2026 1:42:22 PM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - eff44eb3-32a5-4f0d-88dd-ddefa88fa4a8
      Retry-After:
      - '22'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/20015b53-cb84-4f8d-8814-33b22729b0d7/items/da4cb73f-65b2-452f-8e37-23ffb75090f7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 00933a5e-9bd7-4a09-9545-1eac09747a19
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/20015b53-cb84-4f8d-8814-33b22729b0d7/folders/ba19c5c9-55cc-4fc7-9803-fe30c3713e5a
  response:
    body:
      string: '{"requestId": "1173d294-d40c-4928-ae4f-c8019f059866", "errorCode":
        "FolderNotEmpty", "message": "The requested folder was not empty.", "relatedResource":
        {"resourceId": "ba19c5c9-55cc-4fc7-9803-fe30c3713e5a", "resourceType": "Folder"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1173d294-d40c-4928-ae4f-c8019f059866
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - FolderNotEmpty
    status:
      code: 400
      message: Bad Request
version: 1
