interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d98954b4-2ca2-40b7-a02d-f9859d901092",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f4662fc3-b11e-4451-a7d8-ff03529c3d7b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d98954b4-2ca2-40b7-a02d-f9859d901092/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fdd511ca-fef6-48e0-92b7-32adaf832516
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d98954b4-2ca2-40b7-a02d-f9859d901092/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d488aa07-26a5-496a-acb4-7f5db74c60a7
      RequestId:
      - 033da3e2-01ba-4d98-b41a-c9c28124cd28
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d488aa07-26a5-496a-acb4-7f5db74c60a7
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d488aa07-26a5-496a-acb4-7f5db74c60a7
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-22T17:51:58.3281746",
        "lastUpdatedTimeUtc": "2026-04-22T17:52:07.7756049", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d488aa07-26a5-496a-acb4-7f5db74c60a7/result
      RequestId:
      - 33c74559-134b-48e2-8fec-6741751824f8
      x-ms-operation-id:
      - d488aa07-26a5-496a-acb4-7f5db74c60a7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d488aa07-26a5-496a-acb4-7f5db74c60a7/result
  response:
    body:
      string: '{"id": "cff1b45d-25c7-4b5f-ba61-fa31ea44ed40", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "d98954b4-2ca2-40b7-a02d-f9859d901092"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 73edd290-f3b1-4ca9-8e01-64123fa9816b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d98954b4-2ca2-40b7-a02d-f9859d901092/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - df3634aa-905b-43fe-9f81-ed2d6d50d47b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d98954b4-2ca2-40b7-a02d-f9859d901092/items/00a9a0cc-73f3-41a1-a849-d30aeba336f7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b17b8220-aabe-45f1-a6be-f7127c06b6fe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d98954b4-2ca2-40b7-a02d-f9859d901092/items/cff1b45d-25c7-4b5f-ba61-fa31ea44ed40
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - dbca369e-88ab-4fbd-98c9-3a9c4616e57c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
