interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5761b945-b707-4180-b20d-5f0615d2295a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 96ded2fc-0062-4ca0-a667-0df0519db539
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 58e3f283-ea3b-46f8-91e3-0cbb756fc528
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/501122ff-a5fc-4f2d-8106-bd796293f0f7
      RequestId:
      - 21a54add-a6f5-447e-afab-0574f48fecd5
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 501122ff-a5fc-4f2d-8106-bd796293f0f7
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/501122ff-a5fc-4f2d-8106-bd796293f0f7
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-09T07:17:29.7686368",
        "lastUpdatedTimeUtc": "2026-09-09T07:17:29.7686368", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/501122ff-a5fc-4f2d-8106-bd796293f0f7
      RequestId:
      - a5014878-5c88-4f70-81be-2e5c4c6e4cf8
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 501122ff-a5fc-4f2d-8106-bd796293f0f7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/501122ff-a5fc-4f2d-8106-bd796293f0f7/result
  response:
    body:
      string: '{"id": "5f566387-1dd0-49a6-b4e3-5f31c7f32e0e", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "5761b945-b707-4180-b20d-5f0615d2295a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 663351fc-1d30-434a-94d4-d7023f49147e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ac74fc6c-b28f-4b05-bf6c-0174a9daf51e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/items/5f566387-1dd0-49a6-b4e3-5f31c7f32e0e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b17535eb-6d41-4b68-803c-dd04f6e46614
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
