interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "9783996b-f720-4ed2-8b66-47ff761edc33",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a07f7527-3437-4413-bd4a-474991a25780
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items
  response:
    body:
      string: '{"value": [{"id": "b83b7bc9-7ecd-449c-9711-5a01cb3f1474", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id": "31be2151-5757-4852-9205-b65c63a0dc33",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "Created by fab", "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33"},
        {"id": "b63974c8-6987-489c-9007-536f524e4a60", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260422150351", "description": "", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id":[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/lakehouses
  response:
    body:
      string: '{"id": "bd7a55f9-aa39-4550-8e2a-f9f539a9fff1", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e51aab26-566f-479c-80a9-5c05a1a0fc9b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"paths": ["Files/images/taxi_zone_map_bronx.jpg"], "recipient": {"userprincipalname":
      "lisa@fabrikam.com", "tenantid": "c51dc03f-268a-4da0-a879-25f24947ab8b"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items/bd7a55f9-aa39-4550-8e2a-f9f539a9fff1/externalDataShares
  response:
    body:
      string: '{"id": "326f02f0-f808-4587-a08b-35071be61020", "paths": ["Files/images/taxi_zone_map_bronx.jpg"],
        "creatorPrincipal": {"id": "00000000-0000-0000-0000-000000000001", "type":
        "User"}, "recipient": {"type": "User", "userPrincipalName": "lisa@fabrikam.com",
        "tenantId": "c51dc03f-268a-4da0-a879-25f24947ab8b"}, "status": "Pending",
        "expirationTimeUtc": "2026-07-21T15:40:13.01", "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33",
        "itemId": "bd7a55f9-aa39-4550-8e2a-f9f539a9fff1", "invitationUrl": "mock_invitation_url"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1.0/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/artifacts/bd7a55f9-aa39-4550-8e2a-f9f539a9fff1/security/roles/326f02f0-f808-4587-a08b-35071be61020
      RequestId:
      - 5fb31662-0293-4c79-aa16-7e1120416ce1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items/4002d03c-71f6-4eb1-bbeb-53e952f71ae7/externalDataShares
  response:
    body:
      string: '{"requestId": "f70727b6-2ce7-43d4-bc46-4fa8109fa667", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        4/22/2026 3:40:47 PM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f70727b6-2ce7-43d4-bc46-4fa8109fa667
      Retry-After:
      - '31'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items/bd7a55f9-aa39-4550-8e2a-f9f539a9fff1/externalDataShares/326f02f0-f808-4587-a08b-35071be61020/revoke
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b2573e5c-c52a-4845-9f43-e09731d21083
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items/bd7a55f9-aa39-4550-8e2a-f9f539a9fff1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6f43504b-7b74-475d-9626-fc0b0275840f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
