interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "f1b98cd9-3c32-4456-940d-0966cbde7f51", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 147d61b1-cf59-4d24-b095-3e8b4a1796f5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/items
  response:
    body:
      string: '{"value": [{"id": "e57fb6a6-275c-4c2e-9f13-c54c8373430e", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "f1b98cd9-3c32-4456-940d-0966cbde7f51"}, {"id": "03930dd6-ed3e-46d1-b914-b431c7b6a0a2",
        "type": "KQLDatabase", "displayName": "fabcli000001_auto", "description":
        "fabcli000001_auto", "workspaceId": "f1b98cd9-3c32-4456-940d-0966cbde7f51"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6cb9bb03-a2d0-4cef-be93-ef62b270c36c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MirroredDatabase", "folderId": null, "definition": {"parts": [{"path": "mirroring.json",
      "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgInNvdXJjZSI6IHsKICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsCiAgICAgICAgICAgICJ0eXBlUHJvcGVydGllcyI6IHt9CiAgICAgICAgfSwKICAgICAgICAidGFyZ2V0IjogewogICAgICAgICAgICAidHlwZSI6ICJNb3VudGVkUmVsYXRpb25hbERhdGFiYXNlIiwKICAgICAgICAgICAgInR5cGVQcm9wZXJ0aWVzIjogewogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSIKICAgICAgICAgICAgfQogICAgICAgIH0KICAgIH0KfQ==",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/mirroredDatabases
  response:
    body:
      string: '{"id": "2f51132f-444a-4a76-9cd8-013e63c233ad", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "f1b98cd9-3c32-4456-940d-0966cbde7f51"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 026061bb-7ef6-4e4d-9a17-af030b00529b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/f1b98cd9-3c32-4456-940d-0966cbde7f51/2f51132f-444a-4a76-9cd8-013e63c233ad/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "2f51132f-444a-4a76-9cd8-013e63c233ad/Files", "isDirectory":
        "true", "creationTime": "134130442861767308", "lastModified": "Fri, 16 Jan
        2026 13:38:06 GMT", "etag": "0x8DE55047ACE6A8C", "contentLength": "0", "owner":
        "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "2f51132f-444a-4a76-9cd8-013e63c233ad/Tables",
        "isDirectory": "true", "creationTime": "134130442861630644", "lastModified":
        "Fri, 16 Jan 2026 13:38:06 GMT", "etag": "0x8DE55047ACC54B4", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/items/2f51132f-444a-4a76-9cd8-013e63c233ad
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 635d8f9c-2b8c-4eeb-9285-c6e156af1f86
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
