interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a8da376c-5ff3-46bc-8818-6f57de6811dc",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 732f7a31-8134-445a-a1af-e73882716e99
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7137ec2f-e744-4485-95a1-5eef40afece7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b6129fc3-641d-4ba7-8455-e6ab7189aea5
      RequestId:
      - fdfee40d-fc38-46ac-9c51-48f141026eb6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b6129fc3-641d-4ba7-8455-e6ab7189aea5
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b6129fc3-641d-4ba7-8455-e6ab7189aea5
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:58:28.1978296",
        "lastUpdatedTimeUtc": "2026-05-13T06:58:36.3897857", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b6129fc3-641d-4ba7-8455-e6ab7189aea5/result
      RequestId:
      - f91292b1-3c52-4fc3-83e4-11a5a9a29125
      x-ms-operation-id:
      - b6129fc3-641d-4ba7-8455-e6ab7189aea5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b6129fc3-641d-4ba7-8455-e6ab7189aea5/result
  response:
    body:
      string: '{"id": "5b59921f-8457-404e-a478-4374f41636fd", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 2449beec-15d9-4af0-bc05-e2a8edb02257
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "5b59921f-8457-404e-a478-4374f41636fd", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "e979dd2e-58d0-4223-bd30-dc21bb204570", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 3059f037-db29-4852-9618-82bfeb0cfa8d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fccfa804-fb08-4235-813f-cafb98e231e1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/items/e979dd2e-58d0-4223-bd30-dc21bb204570
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 16e52039-72de-44ec-a19b-0f1e5a12c9d0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
