interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "4b786514-ff85-4824-88c0-4d0b64b491f1", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 09e0ab4f-ffb3-4003-8788-af7cd02d1a19
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 21b7a91d-8126-4ea3-832a-41341d870897
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders
  response:
    body:
      string: '{"id": "ced2dc7c-4f2f-46f9-b50a-00c6b604e35e", "displayName": "fabcli000001",
        "workspaceId": "4b786514-ff85-4824-88c0-4d0b64b491f1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders/ced2dc7c-4f2f-46f9-b50a-00c6b604e35e
      RequestId:
      - a614194c-e43d-41b1-baa5-1504253d40e8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 04d6ac9c-2690-4d7a-986c-aeb50c1a6f96
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/environments
  response:
    body:
      string: '{"id": "bc997891-a7dc-4615-9f13-2f052a4d39d1", "type": "Environment",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "4b786514-ff85-4824-88c0-4d0b64b491f1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4caf9f48-8fed-46ea-bd7a-2b49ebef4605
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders?recursive=True
  response:
    body:
      string: '{"requestId": "9db87cff-4600-4eab-a1fe-e4255136a6c2", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        1/20/2026 6:15:58 AM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9db87cff-4600-4eab-a1fe-e4255136a6c2
      Retry-After:
      - '33'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/items/e98732b5-1061-4336-919e-c24ab290de0f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1a037c5b-89be-4edc-8e4f-e7c78402d4f6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders/ced2dc7c-4f2f-46f9-b50a-00c6b604e35e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c56fd4e5-144d-4f96-9f58-90bfe7b7f411
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
