interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "0ebeea34-a816-4f5b-ba87-ced910733d86",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 85c10ac9-11d4-4773-8e49-c9492c40ebcd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0ebeea34-a816-4f5b-ba87-ced910733d86/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fecd94c7-eda1-4bac-b924-7d0d56be8e9a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0ebeea34-a816-4f5b-ba87-ced910733d86/folders
  response:
    body:
      string: '{"id": "ea62df1c-fae9-4b65-b3e8-087ba6d308e6", "displayName": "fabcli000001",
        "workspaceId": "0ebeea34-a816-4f5b-ba87-ced910733d86"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/0ebeea34-a816-4f5b-ba87-ced910733d86/folders/ea62df1c-fae9-4b65-b3e8-087ba6d308e6
      RequestId:
      - 923cdcbf-0f35-4643-bff7-e23ba60db70a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0ebeea34-a816-4f5b-ba87-ced910733d86/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8a97bbf4-9893-43fc-b9f5-5686b974c566
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "MLModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0ebeea34-a816-4f5b-ba87-ced910733d86/mlModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0dce4633-b720-486b-99ab-ffb9e1dc2f39
      RequestId:
      - f2791e26-2cdb-4698-b3cf-233620b7d158
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 0dce4633-b720-486b-99ab-ffb9e1dc2f39
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0dce4633-b720-486b-99ab-ffb9e1dc2f39
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-05T13:19:08.2199511",
        "lastUpdatedTimeUtc": "2026-02-05T13:19:12.2540834", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0dce4633-b720-486b-99ab-ffb9e1dc2f39/result
      RequestId:
      - 3ebc450d-3100-4c01-b0ac-25e80975a851
      x-ms-operation-id:
      - 0dce4633-b720-486b-99ab-ffb9e1dc2f39
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0dce4633-b720-486b-99ab-ffb9e1dc2f39/result
  response:
    body:
      string: '{"id": "442ea700-bd6d-456a-ab90-862e5433f69b", "type": "MLModel", "displayName":
        "fabcli000002", "description": "Created by fab", "workspaceId": "0ebeea34-a816-4f5b-ba87-ced910733d86"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 06860484-6c07-47fb-8555-99f8a4e8e80a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0ebeea34-a816-4f5b-ba87-ced910733d86/items/db45e74c-305c-4a66-93cb-507fe082119f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 194498db-eeb1-4ef8-b79f-3f1edb4f5ea4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0ebeea34-a816-4f5b-ba87-ced910733d86/folders/ea62df1c-fae9-4b65-b3e8-087ba6d308e6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 21ddb23b-f9fb-4eae-aab2-a4e11fbc6dc8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
