interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e80ae731-02fe-4edd-9f6a-e1815d35357f",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bbfea868-8124-4754-ada9-288cf51af802
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e80ae731-02fe-4edd-9f6a-e1815d35357f/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a116a0b3-85cc-41ea-927e-a394f0dcd6c2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e80ae731-02fe-4edd-9f6a-e1815d35357f/eventhouses
  response:
    body:
      string: '{"id": "94797dc3-590e-4927-9cb2-5baa5b1149e7", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "e80ae731-02fe-4edd-9f6a-e1815d35357f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 5c811749-c55c-4cec-8146-7afe29199ba1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "94797dc3-590e-4927-9cb2-5baa5b1149e7"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e80ae731-02fe-4edd-9f6a-e1815d35357f/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4df7213f-ee63-4b99-9d38-e154f3552c22
      RequestId:
      - e4047a09-3bc9-4197-8d2b-d895db32607b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 4df7213f-ee63-4b99-9d38-e154f3552c22
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4df7213f-ee63-4b99-9d38-e154f3552c22
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-11T11:26:08.0930836",
        "lastUpdatedTimeUtc": "2026-02-11T11:26:13.8300792", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4df7213f-ee63-4b99-9d38-e154f3552c22/result
      RequestId:
      - 49aee9ba-0c28-4904-8031-7a35714f2cde
      x-ms-operation-id:
      - 4df7213f-ee63-4b99-9d38-e154f3552c22
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4df7213f-ee63-4b99-9d38-e154f3552c22/result
  response:
    body:
      string: '{"id": "f39b1f00-4b2a-4a5f-9a4e-15b9a5f43019", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e80ae731-02fe-4edd-9f6a-e1815d35357f"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 208b367b-448a-49ec-bbdb-6ac58a28a0cd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/e80ae731-02fe-4edd-9f6a-e1815d35357f/f39b1f00-4b2a-4a5f-9a4e-15b9a5f43019/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "f39b1f00-4b2a-4a5f-9a4e-15b9a5f43019/Shortcut",
        "isDirectory": "true", "creationTime": "134152827683335900", "lastModified":
        "Wed, 11 Feb 2026 11:26:08 GMT", "etag": "0x8DE69605A24EEDC", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "f39b1f00-4b2a-4a5f-9a4e-15b9a5f43019/Tables",
        "isDirectory": "true", "creationTime": "134152827683218568", "lastModified":
        "Wed, 11 Feb 2026 11:26:08 GMT", "etag": "0x8DE69605A232488", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e80ae731-02fe-4edd-9f6a-e1815d35357f/items/f39b1f00-4b2a-4a5f-9a4e-15b9a5f43019
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 86657e07-1252-4d2e-9454-0c8eb5a192e7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
