interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5761b945-b707-4180-b20d-5f0615d2295a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6d8a3abd-128c-4107-919e-4e7fe86ce057
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 990ea84a-2fa3-49a6-b79b-08f2f5bc87fe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6f74d0d8-1154-4ba1-b34a-33f1a2f2e22e
      RequestId:
      - a905d967-acdc-493b-8978-faa261238e5c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 6f74d0d8-1154-4ba1-b34a-33f1a2f2e22e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6f74d0d8-1154-4ba1-b34a-33f1a2f2e22e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-09-09T07:15:37.362148",
        "lastUpdatedTimeUtc": "2026-09-09T07:15:49.3510721", "percentComplete": 100,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6f74d0d8-1154-4ba1-b34a-33f1a2f2e22e/result
      RequestId:
      - 7686d376-7de9-47f1-9cf3-bef7e0196dac
      x-ms-operation-id:
      - 6f74d0d8-1154-4ba1-b34a-33f1a2f2e22e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6f74d0d8-1154-4ba1-b34a-33f1a2f2e22e/result
  response:
    body:
      string: '{"id": "a73f6dba-f21d-4e06-ad6f-676a5e089d92", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "5761b945-b707-4180-b20d-5f0615d2295a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 4aafb2f2-8ed1-4cb8-bd0d-46d8102cddad
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ff07f7f2-6a46-4ead-a445-10a7143b747c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/items/a73f6dba-f21d-4e06-ad6f-676a5e089d92
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - bc0cf338-4027-416f-8cad-6a6ee0202a66
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
