interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "87ba647e-ae41-4d95-baec-8ebdc7a2b5a8",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 541f57f5-45a5-4b3a-83f1-9144f8656617
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/87ba647e-ae41-4d95-baec-8ebdc7a2b5a8/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9a6a0d17-9bfe-47ce-b834-5cbd10e99156
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/87ba647e-ae41-4d95-baec-8ebdc7a2b5a8/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/83373dd6-b548-4b2f-b4bb-ccf4428e4fd7
      RequestId:
      - b3044c58-6d61-4caa-9fbc-7fedab06424a
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 83373dd6-b548-4b2f-b4bb-ccf4428e4fd7
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/83373dd6-b548-4b2f-b4bb-ccf4428e4fd7
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-11-10T10:33:41.9312036",
        "lastUpdatedTimeUtc": "2025-11-10T10:33:43.103063", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/83373dd6-b548-4b2f-b4bb-ccf4428e4fd7/result
      RequestId:
      - 03e003eb-907f-4129-964a-bb5869a443fd
      x-ms-operation-id:
      - 83373dd6-b548-4b2f-b4bb-ccf4428e4fd7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/83373dd6-b548-4b2f-b4bb-ccf4428e4fd7/result
  response:
    body:
      string: '{"id": "ad27e604-f0ef-48e2-b3b0-8797be7cbef2", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "87ba647e-ae41-4d95-baec-8ebdc7a2b5a8"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f2863e8b-eaab-4005-8f91-61a3b6414670
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/87ba647e-ae41-4d95-baec-8ebdc7a2b5a8/lakehouses
  response:
    body:
      string: '{"id": "8755b51f-1279-4d4d-aadb-f6f73e75d178", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "87ba647e-ae41-4d95-baec-8ebdc7a2b5a8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 40d41db4-03ca-49c7-bcf0-c3dc474d4265
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003", "type":
      "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/87ba647e-ae41-4d95-baec-8ebdc7a2b5a8/dataPipelines
  response:
    body:
      string: '{"id": "80f2a1d5-25bd-4541-9662-2b9d07e2acae", "type": "DataPipeline",
        "displayName": "fabcli000003", "description": "Created by fab", "workspaceId":
        "87ba647e-ae41-4d95-baec-8ebdc7a2b5a8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 2408f013-1bd5-44fb-9a6d-45742fd74f11
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/87ba647e-ae41-4d95-baec-8ebdc7a2b5a8/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 77ee0922-f7b1-441d-bce4-7ca42a7ea005
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/87ba647e-ae41-4d95-baec-8ebdc7a2b5a8/items/80f2a1d5-25bd-4541-9662-2b9d07e2acae
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - aa556d4e-cce2-4dca-9874-2beac3d10c23
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/87ba647e-ae41-4d95-baec-8ebdc7a2b5a8/items/ad27e604-f0ef-48e2-b3b0-8797be7cbef2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2af6ab00-7c70-4d24-b0cd-358b399f840c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
