interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e5c5c93e-41ba-44a0-bf99-8dc28a6e0486",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8c79ab74-dda5-479d-bc75-360ae82f2b9b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e5c5c93e-41ba-44a0-bf99-8dc28a6e0486/folders?recursive=True
  response:
    body:
      string: '{"requestId": "98418541-633e-4c35-8959-27fc63f9cdcb", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/5/2026 1:34:07 PM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 98418541-633e-4c35-8959-27fc63f9cdcb
      Retry-After:
      - '1'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e5c5c93e-41ba-44a0-bf99-8dc28a6e0486/folders
  response:
    body:
      string: '{"id": "a7253195-b091-4b93-a976-32932514c37d", "displayName": "fabcli000001",
        "workspaceId": "e5c5c93e-41ba-44a0-bf99-8dc28a6e0486"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/e5c5c93e-41ba-44a0-bf99-8dc28a6e0486/folders/a7253195-b091-4b93-a976-32932514c37d
      RequestId:
      - 430a9f61-679c-4977-af4e-f071ba42c979
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e5c5c93e-41ba-44a0-bf99-8dc28a6e0486/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 82e7b239-147c-4559-9c97-1e9722390f49
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e5c5c93e-41ba-44a0-bf99-8dc28a6e0486/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3c3b0b49-e5b0-4544-9754-f9bd67a89287
      RequestId:
      - b533576e-0a98-447d-899b-20eeb6f2981e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 3c3b0b49-e5b0-4544-9754-f9bd67a89287
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3c3b0b49-e5b0-4544-9754-f9bd67a89287
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-05T13:34:13.4973865",
        "lastUpdatedTimeUtc": "2026-02-05T13:34:25.7661843", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3c3b0b49-e5b0-4544-9754-f9bd67a89287/result
      RequestId:
      - 4c3147a7-5b43-449f-8b57-f74fb840e19f
      x-ms-operation-id:
      - 3c3b0b49-e5b0-4544-9754-f9bd67a89287
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3c3b0b49-e5b0-4544-9754-f9bd67a89287/result
  response:
    body:
      string: '{"id": "f47ebc7a-eb89-4acd-b48a-3c8654e49e02", "type": "Warehouse",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "e5c5c93e-41ba-44a0-bf99-8dc28a6e0486"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - a3b9476f-9406-4d27-872a-719e1a689efd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e5c5c93e-41ba-44a0-bf99-8dc28a6e0486/items/febe4042-a293-4e82-9706-84240657534c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f45cd1df-ceea-478b-9a3c-74d597e2a311
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e5c5c93e-41ba-44a0-bf99-8dc28a6e0486/folders/a7253195-b091-4b93-a976-32932514c37d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 721ee1de-5db5-4baa-92a2-c01954509fa2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
