interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "983d6c2b-ac95-468f-8085-6663983fc4fb", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b4751eaf-95c5-44fb-a94c-6625167dcfc4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders?recursive=True
  response:
    body:
      string: '{"value": [{"id": "2d341b0f-9f4d-466a-8160-34c8d9f689aa", "displayName":
        "fabcli000001", "workspaceId": "983d6c2b-ac95-468f-8085-6663983fc4fb"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e9812c60-d160-4893-990b-9ff43a6fac5d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders
  response:
    body:
      string: '{"id": "735fa2cf-3ee0-415f-ab62-f0858d24e0b9", "displayName": "fabcli000001",
        "workspaceId": "983d6c2b-ac95-468f-8085-6663983fc4fb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders/735fa2cf-3ee0-415f-ab62-f0858d24e0b9
      RequestId:
      - 04d698f1-74fd-466a-9a5f-5c6c6fc8bbd7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/items
  response:
    body:
      string: '{"value": [{"id": "410fcc96-e8fa-4d0f-a60b-519e8a5de73f", "type": "SemanticModel",
        "displayName": "fabcli000002_auto", "description": "", "workspaceId": "983d6c2b-ac95-468f-8085-6663983fc4fb",
        "folderId": "2d341b0f-9f4d-466a-8160-34c8d9f689aa"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 15a41b0d-15d5-4000-a0bd-7094395f558c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Dataflow", "folderId": "735fa2cf-3ee0-415f-ab62-f0858d24e0b9"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/dataflows
  response:
    body:
      string: '{"id": "97fbb38b-a367-46c6-8ba7-5e985b9a5cae", "type": "Dataflow",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "983d6c2b-ac95-468f-8085-6663983fc4fb", "folderId": "735fa2cf-3ee0-415f-ab62-f0858d24e0b9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 2c3969c0-6607-47b3-9165-95d4959e8237
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders?recursive=True
  response:
    body:
      string: '{"requestId": "fe7c861b-4098-41cb-bb17-926b9b1a3d65", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        1/16/2026 2:32:40 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fe7c861b-4098-41cb-bb17-926b9b1a3d65
      Retry-After:
      - '40'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders?recursive=True
  response:
    body:
      string: '{"requestId": "4abb8dec-1ac8-4fcb-b9f0-65671b468be9", "errorCode":
        "TokenExpired", "message": "Access token has expired, resubmit with a new
        access token"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4abb8dec-1ac8-4fcb-b9f0-65671b468be9
      x-ms-public-api-error-code:
      - TokenExpired
    status:
      code: 401
      message: Unauthorized
version: 1
