interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1a27e7a6-7b25-44a5-8738-f64290449c5b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/items
  response:
    body:
      string: '{"value": [{"id": "29d21a30-b92a-4715-bc05-a3950044cd63", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"},
        {"id": "40804bc5-9491-4b94-9a61-d11dfcd7083f", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"},
        {"id": "a388c286-a5e2-49fe-a4d1-7ad47c829f26", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260116114754", "description": "", "workspaceId":
        "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"}, {"id": "a374ddb6-fbd3-49d9-bd8f-ab7a05c6d2eb",
        "type": "Lakehouse", "displayName": "StagingLakehouseForDataflows_20260116114754",
        "description": "", "workspaceId": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dd5709f3-01f4-4213-b310-0f0a6830160c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SemanticModel", "folderId": null, "definition": {"parts": [{"path": ".platform",
      "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlNlbWFudGljTW9kZWwiLAogICAgImRpc3BsYXlOYW1lIjogIkJsYW5rIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
      "payloadType": "InlineBase64"}, {"path": "definition.pbism", "payload": "ewogICJ2ZXJzaW9uIjogIjQuMCIsCiAgInNldHRpbmdzIjoge30KfQ==",
      "payloadType": "InlineBase64"}, {"path": "definition/database.tmdl", "payload":
      "ZGF0YWJhc2UKCWNvbXBhdGliaWxpdHlMZXZlbDogMTU2MQoK", "payloadType": "InlineBase64"},
      {"path": "definition/model.tmdl", "payload": "bW9kZWwgTW9kZWwKCWN1bHR1cmU6IGVuLVVTCglkZWZhdWx0UG93ZXJCSURhdGFTb3VyY2VWZXJzaW9uOiBwb3dlckJJX1YzCglzb3VyY2VRdWVyeUN1bHR1cmU6IGVuLVVTCglkYXRhQWNjZXNzT3B0aW[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/52446e50-c697-4137-b85e-f82b1fb6b3c6
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-16T11:57:14.0843238",
        "lastUpdatedTimeUtc": "2026-01-16T11:57:24.9148533", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/52446e50-c697-4137-b85e-f82b1fb6b3c6/result
      RequestId:
      - b23d3ce2-d7e3-4a28-ae84-30cbe69a14df
      x-ms-operation-id:
      - 52446e50-c697-4137-b85e-f82b1fb6b3c6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/52446e50-c697-4137-b85e-f82b1fb6b3c6/result
  response:
    body:
      string: '{"id": "dcc212b9-0698-4ef2-adf1-4b7cf76bd429", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 67bc0fcd-3dd7-4507-a93c-10f8f6390699
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2d4e3377-71ea-4b87-a993-3014073fe964
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/items/dcc212b9-0698-4ef2-adf1-4b7cf76bd429
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8cd7a1d7-407b-4662-ac88-a50c5f1b54b0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
