interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a32f2c4b-828b-4897-8b4b-9225c45db8d6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 81a9da99-a38b-43e8-ab97-8e0491fb1c6c
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a32f2c4b-828b-4897-8b4b-9225c45db8d6
  response:
    body:
      string: '{"id": "a32f2c4b-828b-4897-8b4b-9225c45db8d6", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "West Europe", "oneLakeEndpoints": {"blobEndpoint": "https://westeurope-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://westeurope-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4d84de65-a584-44ce-bbd8-9fa7df8957bd
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a32f2c4b-828b-4897-8b4b-9225c45db8d6/provisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/d32f3c87-2b20-4669-95e3-41c0df3850fd
      RequestId:
      - 087cdae4-0d37-4c6b-8564-058a270d2a52
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d32f3c87-2b20-4669-95e3-41c0df3850fd
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/d32f3c87-2b20-4669-95e3-41c0df3850fd
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-08T17:15:37.6437761",
        "lastUpdatedTimeUtc": "2025-09-08T17:15:38.9719325", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/d32f3c87-2b20-4669-95e3-41c0df3850fd/result
      RequestId:
      - bf335b79-fd4b-433e-af44-1dbffc4fa7de
      x-ms-operation-id:
      - d32f3c87-2b20-4669-95e3-41c0df3850fd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/d32f3c87-2b20-4669-95e3-41c0df3850fd/result
  response:
    body:
      string: '{"applicationId": "b49f0772-78a7-437d-bf75-9edf8ea5ed8a", "servicePrincipalId":
        "1196982b-25c9-4715-8dae-80ce4a982eaf"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - bbcccca3-9579-4a23-a4e0-98cdc24513a3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a32f2c4b-828b-4897-8b4b-9225c45db8d6
  response:
    body:
      string: '{"id": "a32f2c4b-828b-4897-8b4b-9225c45db8d6", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "West Europe", "oneLakeEndpoints": {"blobEndpoint": "https://westeurope-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://westeurope-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed", "workspaceIdentity": {"applicationId": "b49f0772-78a7-437d-bf75-9edf8ea5ed8a",
        "servicePrincipalId": "1196982b-25c9-4715-8dae-80ce4a982eaf"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b741717e-56a1-4a95-9478-ab5f9a1828c2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a32f2c4b-828b-4897-8b4b-9225c45db8d6/deprovisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/5c5b8765-cb69-40cd-bfa5-1d256645591a
      RequestId:
      - 8a8b6f8c-9d31-4583-b244-f8ac59194e8d
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5c5b8765-cb69-40cd-bfa5-1d256645591a
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/5c5b8765-cb69-40cd-bfa5-1d256645591a/result
  response:
    body:
      string: '{"requestId": "46696cc4-c311-446e-bab2-8ec5f805f2a0", "errorCode":
        "OperationHasNoResult", "message": "The operation has no result"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 46696cc4-c311-446e-bab2-8ec5f805f2a0
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - OperationHasNoResult
    status:
      code: 400
      message: Bad Request
version: 1
