interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2facc4b3-d2fd-4759-975d-da902a4a417d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 895190a7-1512-4b7f-bd2e-b6f76d0bf1a2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders?recursive=True
  response:
    body:
      string: '{"requestId": "0b46438f-b606-439d-941d-f367d9a9dbb1", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/3/2026 9:47:25 AM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0b46438f-b606-439d-941d-f367d9a9dbb1
      Retry-After:
      - '45'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders
  response:
    body:
      string: '{"id": "7f1398f8-ce3e-458d-8d7d-64cc12323360", "displayName": "fabcli000001",
        "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders/7f1398f8-ce3e-458d-8d7d-64cc12323360
      RequestId:
      - bfa1807f-5810-4977-bcba-bac2bc6ed39f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a285d547-8a48-4f95-991e-dc90fbf8edb5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "DigitalTwinBuilder", "folderId": "7f1398f8-ce3e-458d-8d7d-64cc12323360"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f199750e-a2c6-4bab-b5cf-9dd05f9c2390
      RequestId:
      - 363632a9-741c-4931-a4bb-0398b2c69e79
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - f199750e-a2c6-4bab-b5cf-9dd05f9c2390
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f199750e-a2c6-4bab-b5cf-9dd05f9c2390
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T09:47:34.8597331",
        "lastUpdatedTimeUtc": "2026-02-03T09:47:47.2354677", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f199750e-a2c6-4bab-b5cf-9dd05f9c2390/result
      RequestId:
      - 61ba3ef1-62c8-455a-b4e4-eb92595eae3b
      x-ms-operation-id:
      - f199750e-a2c6-4bab-b5cf-9dd05f9c2390
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f199750e-a2c6-4bab-b5cf-9dd05f9c2390/result
  response:
    body:
      string: '{"id": "61968636-f241-4dd8-af91-db05b06800df", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "d4491e7b-5a69-4ba5-bedf-3d0b9560a448", "folderId": "7f1398f8-ce3e-458d-8d7d-64cc12323360"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 8157b57d-86ee-4562-9c6a-1e9024065830
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/items/61968636-f241-4dd8-af91-db05b06800df
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c23bbaa4-0e8a-4d53-aaa9-4b8da8b5a831
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders/7f1398f8-ce3e-458d-8d7d-64cc12323360
  response:
    body:
      string: '{"requestId": "112d7fa8-aed7-47cf-a338-57ed1f7af814", "errorCode":
        "FolderNotEmpty", "message": "The requested folder was not empty.", "relatedResource":
        {"resourceId": "7f1398f8-ce3e-458d-8d7d-64cc12323360", "resourceType": "Folder"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 112d7fa8-aed7-47cf-a338-57ed1f7af814
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - FolderNotEmpty
    status:
      code: 400
      message: Bad Request
version: 1
