interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "e8293fbd-7292-44e5-bd79-74caa5afee7e", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d547bece-fc96-47ee-9fc9-b48885ae0b3c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/items
  response:
    body:
      string: '{"value": [{"id": "fd892f1d-ea7d-4e0f-89c5-c441c3137ae1", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"},
        {"id": "9dd81d5e-795c-4e79-ae0b-adf83f920f6e", "type": "SemanticModel", "displayName":
        "fabcli000002_auto", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"},
        {"id": "607a9393-53cc-4ecf-a853-d3d331fd7816", "type": "SemanticModel", "displayName":
        "fabcli000003_auto", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - efbc31ba-5079-4b10-a812-049217b15afe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "CopyJob", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/copyJobs
  response:
    body:
      string: '{"id": "f0de27f9-9317-476a-8c75-1793e4b6fbbb", "type": "CopyJob", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - cf575dcb-157a-4911-b246-e8e45945f816
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3e428ce9-508d-4965-b157-33465777ef52
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/items/e8711a68-b6c5-4be7-b8e4-86f9350f7fa5
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b2953e7d-5fc3-4bb9-b3e1-1571c3f79c23
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/items/f0de27f9-9317-476a-8c75-1793e4b6fbbb
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6c90f627-befa-46b6-8b5f-42eb73765829
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
