interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7db38657-dc93-43e0-a2e0-57172ba89708",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ed883afe-4098-4e0c-8ef4-1d1c177d7e70
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/items
  response:
    body:
      string: '{"value": [{"id": "8ec3ea7b-5764-4097-98e4-0c221377cb79", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708"},
        {"id": "a28b6612-8748-4920-985c-4b68ceaa6890", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260427042210", "description": "", "workspaceId":
        "7db38657-dc93-43e0-a2e0-57172ba89708"}, {"id": "588186af-80ba-451f-8e23-53059f8edd7e",
        "type": "Warehouse", "displayName": "StagingWarehouseForDataflows_20260427042224",
        "description": "", "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708"},
        {"id": "eb0b4778-b3cf-43a0-9862-c35cd2b7f2ee", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708"},
        {"id": "76735d19-893c-49ee-8e91-c5bc4ebc4398", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260427042210", "description": "", "workspaceId":
        "7db38657-dc93-43e0-a2e0-57172ba89708"}, {"id": "29651913-f5b6-4380-bbc1-68aa7069df8e",
        "type": "Lakehouse", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f10c885b-2320-4391-aa41-8594b80ff92e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "MLExperiment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/mlExperiments
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/12b1b413-ccbe-4864-b09f-1408ca6a88a1
      RequestId:
      - 38938c88-dbf7-4a00-a920-a7193ff92c32
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 12b1b413-ccbe-4864-b09f-1408ca6a88a1
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/12b1b413-ccbe-4864-b09f-1408ca6a88a1
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-27T04:26:30.557188",
        "lastUpdatedTimeUtc": "2026-04-27T04:26:31.4442948", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/12b1b413-ccbe-4864-b09f-1408ca6a88a1/result
      RequestId:
      - e10ae689-9a20-4f7d-a707-b22f00a7db05
      x-ms-operation-id:
      - 12b1b413-ccbe-4864-b09f-1408ca6a88a1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/12b1b413-ccbe-4864-b09f-1408ca6a88a1/result
  response:
    body:
      string: '{"id": "d480c103-a4b7-4f93-8fdc-161d7c2bf92a", "type": "MLExperiment",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 29aea78e-3e08-4e25-8df4-398925221f6a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3b85ad53-42f6-43c7-abac-a6ff095423ff
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/items/d480c103-a4b7-4f93-8fdc-161d7c2bf92a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1236b7a8-2ce4-49be-8227-925d8c69b65b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
