interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "e8293fbd-7292-44e5-bd79-74caa5afee7e", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1b5ad2b1-38c5-4882-85a4-928466760254
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/items
  response:
    body:
      string: '{"value": [{"id": "fd892f1d-ea7d-4e0f-89c5-c441c3137ae1", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"},
        {"id": "9dd81d5e-795c-4e79-ae0b-adf83f920f6e", "type": "SemanticModel", "displayName":
        "fabcli000002_auto", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"},
        {"id": "607a9393-53cc-4ecf-a853-d3d331fd7816", "type": "SemanticModel", "displayName":
        "fabcli000003_auto", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 844c3ba7-59d1-472c-8cdc-ac376226319d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4653436a-ecbc-4838-8573-27c342bbe12e
      RequestId:
      - 41f895a8-2800-46ef-ae30-883bf4c437ec
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 4653436a-ecbc-4838-8573-27c342bbe12e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4653436a-ecbc-4838-8573-27c342bbe12e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-16T13:10:33.0131324",
        "lastUpdatedTimeUtc": "2026-01-16T13:10:49.3794021", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4653436a-ecbc-4838-8573-27c342bbe12e/result
      RequestId:
      - bdb1e688-c8a5-4415-9b84-0903e3a57e49
      x-ms-operation-id:
      - 4653436a-ecbc-4838-8573-27c342bbe12e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4653436a-ecbc-4838-8573-27c342bbe12e/result
  response:
    body:
      string: '{"id": "d533d194-00a7-4f33-88c6-f0f8d85ed4c7", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e8293fbd-7292-44e5-bd79-74caa5afee7e"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - aa04b604-c4a5-40dd-85e7-7908c45210a6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 805d24e1-32bf-4471-96a3-5d296adbc222
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/items/ea7a2b92-d666-4657-a89a-29401e1dec4d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8b99d5b5-8765-4d8e-b661-e94aaa1adecf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/items/d533d194-00a7-4f33-88c6-f0f8d85ed4c7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4e43467f-d057-47a2-a104-58c8d482d2af
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
