interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5761b945-b707-4180-b20d-5f0615d2295a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e5b62baf-8387-4326-9054-abfbb9a5417e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a8e0fea9-262a-47c5-ac24-ea841d6c192f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ecbfc555-c9e0-44d7-a822-5653e275d6ba
      RequestId:
      - 3c47c8e8-31a6-4523-928a-d08cfd884ad0
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ecbfc555-c9e0-44d7-a822-5653e275d6ba
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ecbfc555-c9e0-44d7-a822-5653e275d6ba
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-09T07:13:05.7399487",
        "lastUpdatedTimeUtc": "2026-09-09T07:13:05.7399487", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ecbfc555-c9e0-44d7-a822-5653e275d6ba
      RequestId:
      - 4009be54-e502-4f00-b692-0a6b5f86de2b
      Retry-After:
      - '20'
      x-ms-operation-id:
      - ecbfc555-c9e0-44d7-a822-5653e275d6ba
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ecbfc555-c9e0-44d7-a822-5653e275d6ba/result
  response:
    body:
      string: '{"id": "6b24bd78-8e6f-49ae-a43f-63bc2d925f98", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "5761b945-b707-4180-b20d-5f0615d2295a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 4072da64-dbfb-4a9e-a2e7-5a90b3a31c1d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 54e0eff7-f21d-480a-8e8a-bea2a3613ae4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/items/b2c98efd-9747-435c-a7ea-794667f37060
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1d6b0f05-88b5-423c-808d-b7c5314d06e5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/items/6b24bd78-8e6f-49ae-a43f-63bc2d925f98
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9813c082-a1b7-410e-a008-a6893faffae0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
