interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c01e443f-8548-4fb9-8ae3-01d709279c68
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e204f64b-92c7-4b4b-b9ee-5d91f7042999
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MLExperiment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/mlExperiments
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/da611763-0e0d-4070-9759-b20e4c2fb217
      RequestId:
      - e724a15f-9414-4fe8-8c1b-41c3425d752f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - da611763-0e0d-4070-9759-b20e4c2fb217
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/da611763-0e0d-4070-9759-b20e4c2fb217
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-16T11:39:34.2465553",
        "lastUpdatedTimeUtc": "2026-01-16T11:39:35.1839828", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/da611763-0e0d-4070-9759-b20e4c2fb217/result
      RequestId:
      - 3bd652ff-e38c-40a3-9237-0c1227176488
      x-ms-operation-id:
      - da611763-0e0d-4070-9759-b20e4c2fb217
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/da611763-0e0d-4070-9759-b20e4c2fb217/result
  response:
    body:
      string: '{"id": "2ab8340b-bad4-4c20-a6a0-7fe91544ffa6", "type": "MLExperiment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ec90f0af-f377-47bc-88cc-d880015e2322
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 88caac0e-0186-4722-b84b-b664582cb02e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/items/2ab8340b-bad4-4c20-a6a0-7fe91544ffa6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b5369fd6-c5fd-4ea6-969c-5f198a3e6e55
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
