interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "983d6c2b-ac95-468f-8085-6663983fc4fb", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8870eb8c-a49b-4bab-98d4-e338f0ec587c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 594d73b2-28ee-492c-833f-f95b14dac97f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders
  response:
    body:
      string: '{"id": "ac137885-ab47-43c0-8cf3-23a2026073cc", "displayName": "fabcli000001",
        "workspaceId": "983d6c2b-ac95-468f-8085-6663983fc4fb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders/ac137885-ab47-43c0-8cf3-23a2026073cc
      RequestId:
      - 310f8bf2-d74a-48ca-ade2-37e76b298f93
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 93b93200-dda7-4fb7-8bfa-d065edec1291
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Notebook", "folderId": "ac137885-ab47-43c0-8cf3-23a2026073cc", "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/130945af-fd14-4ba9-9791-30a298d95620
      RequestId:
      - d26938c4-33ef-4112-9f27-cc8d24d2ff2a
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 130945af-fd14-4ba9-9791-30a298d95620
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/130945af-fd14-4ba9-9791-30a298d95620
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-16T14:08:30.9372172",
        "lastUpdatedTimeUtc": "2026-01-16T14:08:32.0934528", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/130945af-fd14-4ba9-9791-30a298d95620/result
      RequestId:
      - 68edde51-3b43-419f-bdfe-fb70a953864f
      x-ms-operation-id:
      - 130945af-fd14-4ba9-9791-30a298d95620
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/130945af-fd14-4ba9-9791-30a298d95620/result
  response:
    body:
      string: '{"id": "e6a57d2e-1f5e-4bd8-918f-b1ddadbf567d", "type": "Notebook",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "983d6c2b-ac95-468f-8085-6663983fc4fb", "folderId": "ac137885-ab47-43c0-8cf3-23a2026073cc"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 85fda2f2-4205-4b56-87fa-b2080e4e476a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders?recursive=True
  response:
    body:
      string: '{"requestId": "83771a23-8a67-41ca-828c-650e13ddfc28", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        1/16/2026 2:09:25 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 83771a23-8a67-41ca-828c-650e13ddfc28
      Retry-After:
      - '19'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/items/e6a57d2e-1f5e-4bd8-918f-b1ddadbf567d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3024a3b1-b27e-45eb-8dc9-1811e27af729
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders/ac137885-ab47-43c0-8cf3-23a2026073cc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - afec415e-b41e-44df-8d2b-ed5af627f095
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
