interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a8da376c-5ff3-46bc-8818-6f57de6811dc",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a4f53478-a61a-4ff2-98e8-dafe99c0325c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/items
  response:
    body:
      string: '{"value": [{"id": "fdaaf72d-2f8a-43f3-b6d1-a6bd6e49d57a", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "a8da376c-5ff3-46bc-8818-6f57de6811dc"}, {"id": "104ea3fd-fbea-4b33-b803-cd88afbc2823",
        "type": "SQLEndpoint", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}, {"id": "5b59921f-8457-404e-a478-4374f41636fd",
        "type": "DigitalTwinBuilder", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}, {"id": "2601a687-3e42-4fb1-84cf-1064dfdf11e1",
        "type": "Lakehouse", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}, {"id": "100e88ce-45f8-4004-9d04-91e78f326b86",
        "type": "DigitalTwinBuilderFlow", "displayName": "fabcli000001_autoOnDemand",
        "description": "", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"},
        {"id": "86c77d90-75aa-460f-a0bb-7ea441da88cb", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7be2b915-e49e-47cd-ac51-93d11837dc0d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/44d53517-6a25-4a46-b3ac-c5151759947d
      RequestId:
      - aea92da8-30aa-4e78-942a-a7813672b513
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 44d53517-6a25-4a46-b3ac-c5151759947d
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/44d53517-6a25-4a46-b3ac-c5151759947d
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:59:47.3254929",
        "lastUpdatedTimeUtc": "2026-05-13T06:59:53.4477364", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/44d53517-6a25-4a46-b3ac-c5151759947d/result
      RequestId:
      - 9ff752ba-1c23-41c0-86bb-4fecadbe7340
      x-ms-operation-id:
      - 44d53517-6a25-4a46-b3ac-c5151759947d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/44d53517-6a25-4a46-b3ac-c5151759947d/result
  response:
    body:
      string: '{"id": "292edbea-b5e2-4bee-a710-1a0b130130d7", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 5b12f22f-34f6-4c2d-a468-bd4fd124eaf6
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "292edbea-b5e2-4bee-a710-1a0b130130d7", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "82f1b6eb-c8e5-4fb0-8ee2-633e3949d2f2", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 05db7eb1-3b00-4862-8eaa-a3bb99df8f7c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0c477b6a-a6ce-453b-87f4-be60341928d8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/items/a6be320f-7c00-43c0-b2cd-e24e198d51a3
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9be3325c-542b-4ca0-b8db-97f075ff1304
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/items/82f1b6eb-c8e5-4fb0-8ee2-633e3949d2f2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b5df34b1-8294-4674-9725-420901782a8c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
