interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "ebe5f85c-0343-4508-9d2d-a8299cfea504",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7936556a-2069-41a3-b5d6-9411d897b53c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ebe5f85c-0343-4508-9d2d-a8299cfea504/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5e27b2ef-7fbb-44d0-8c13-9167f431ec73
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ebe5f85c-0343-4508-9d2d-a8299cfea504/lakehouses
  response:
    body:
      string: '{"id": "81429b0d-178c-4ab1-b65e-dcf754a99d4f", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "ebe5f85c-0343-4508-9d2d-a8299cfea504"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9fb8e596-f4bd-4bc8-9447-a4e4409c6c1d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/ebe5f85c-0343-4508-9d2d-a8299cfea504/81429b0d-178c-4ab1-b65e-dcf754a99d4f/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "81429b0d-178c-4ab1-b65e-dcf754a99d4f/Files", "isDirectory":
        "true", "creationTime": "134147728912521160", "lastModified": "Thu, 05 Feb
        2026 13:48:11 GMT", "etag": "0x8DE64BD33B897C8", "contentLength": "0", "owner":
        "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "81429b0d-178c-4ab1-b65e-dcf754a99d4f/TableMaintenance",
        "isDirectory": "true", "creationTime": "134147728912599432", "lastModified":
        "Thu, 05 Feb 2026 13:48:11 GMT", "etag": "0x8DE64BD33B9C988", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "81429b0d-178c-4ab1-b65e-dcf754a99d4f/Tables",
        "isDirectory": "true", "creationTime": "134147728912417996", "lastModified":
        "Thu, 05 Feb 2026 13:48:11 GMT", "etag": "0x8DE64BD33B704CC", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ebe5f85c-0343-4508-9d2d-a8299cfea504/items/81429b0d-178c-4ab1-b65e-dcf754a99d4f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 35e9c4a7-cf7b-4270-ab35-8940c904e87f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
