interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "f1b98cd9-3c32-4456-940d-0966cbde7f51", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e2cbecec-a59f-4369-8b08-a4de0076c0ef
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 714ad491-55fb-435e-88d2-348738909e1b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/lakehouses
  response:
    body:
      string: '{"id": "36fed804-0c3a-4fd6-83e9-8df2df8ea237", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "f1b98cd9-3c32-4456-940d-0966cbde7f51"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 98170d8a-a109-43f0-8b8b-7a55478de000
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/f1b98cd9-3c32-4456-940d-0966cbde7f51/36fed804-0c3a-4fd6-83e9-8df2df8ea237/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "36fed804-0c3a-4fd6-83e9-8df2df8ea237/Files", "isDirectory":
        "true", "creationTime": "134130441046983316", "lastModified": "Fri, 16 Jan
        2026 13:35:04 GMT", "etag": "0x8DE55040EA30294", "contentLength": "0", "owner":
        "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "36fed804-0c3a-4fd6-83e9-8df2df8ea237/TableMaintenance",
        "isDirectory": "true", "creationTime": "134130441047091304", "lastModified":
        "Fri, 16 Jan 2026 13:35:04 GMT", "etag": "0x8DE55040EA4A868", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "36fed804-0c3a-4fd6-83e9-8df2df8ea237/Tables",
        "isDirectory": "true", "creationTime": "134130441046834664", "lastModified":
        "Fri, 16 Jan 2026 13:35:04 GMT", "etag": "0x8DE55040EA0BDE8", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/items/36fed804-0c3a-4fd6-83e9-8df2df8ea237
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 436a1c7c-16bb-4eb2-a724-3cf7fa76b5bb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
