interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "e8293fbd-7292-44e5-bd79-74caa5afee7e", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d52895a2-9319-4a74-ad79-2301b89a8cc7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/items
  response:
    body:
      string: '{"value": [{"id": "fd892f1d-ea7d-4e0f-89c5-c441c3137ae1", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"},
        {"id": "9dd81d5e-795c-4e79-ae0b-adf83f920f6e", "type": "SemanticModel", "displayName":
        "fabcli000002_auto", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"},
        {"id": "607a9393-53cc-4ecf-a853-d3d331fd7816", "type": "SemanticModel", "displayName":
        "fabcli000003_auto", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 168bff78-0065-4343-8b8f-04e31352f0ec
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Dataflow", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/dataflows
  response:
    body:
      string: '{"id": "3a8b6a3b-0a35-4744-9b4f-c02870422d8b", "type": "Dataflow",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e8293fbd-7292-44e5-bd79-74caa5afee7e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c55ff213-8451-4487-b8cb-4ca26b0ab841
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 50f476d1-d9d9-4580-80dd-f9e1bf28e965
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/items/5b1f53cf-e199-4bbf-876c-b776f0f8a790
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9a3f2c0d-3a23-4d71-baf5-58ea97be23bb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/items/3a8b6a3b-0a35-4744-9b4f-c02870422d8b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1cbf659c-474f-444f-a5ae-214b26fe9e72
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
