interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e80ae731-02fe-4edd-9f6a-e1815d35357f",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 57f28c93-a0ec-4973-bf18-b5aafbd882d9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e80ae731-02fe-4edd-9f6a-e1815d35357f/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 326af2d0-0026-44d5-b82a-464ee429b052
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e80ae731-02fe-4edd-9f6a-e1815d35357f/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6612a897-06e1-468f-9d2d-bc0b6e263936
      RequestId:
      - bd0abab0-20cc-4d32-a97d-ddd05f9301b0
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 6612a897-06e1-468f-9d2d-bc0b6e263936
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6612a897-06e1-468f-9d2d-bc0b6e263936
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-11T11:25:17.3639226",
        "lastUpdatedTimeUtc": "2026-02-11T11:25:29.8339607", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6612a897-06e1-468f-9d2d-bc0b6e263936/result
      RequestId:
      - 0603cd90-81d1-4410-b007-5f879e6b2f4a
      x-ms-operation-id:
      - 6612a897-06e1-468f-9d2d-bc0b6e263936
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6612a897-06e1-468f-9d2d-bc0b6e263936/result
  response:
    body:
      string: '{"id": "d3123e96-de7b-4acc-a202-0e0f196a1ec1", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e80ae731-02fe-4edd-9f6a-e1815d35357f"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 4ac9e7bf-cf1d-4c98-a316-050c685c83ea
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/e80ae731-02fe-4edd-9f6a-e1815d35357f/d3123e96-de7b-4acc-a202-0e0f196a1ec1/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "d3123e96-de7b-4acc-a202-0e0f196a1ec1/Files", "isDirectory":
        "true", "creationTime": "134152827187084604", "lastModified": "Wed, 11 Feb
        2026 11:25:18 GMT", "etag": "0x8DE69603C90BD3C", "contentLength": "0", "owner":
        "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "d3123e96-de7b-4acc-a202-0e0f196a1ec1/Tables",
        "isDirectory": "true", "creationTime": "134152827186957168", "lastModified":
        "Wed, 11 Feb 2026 11:25:18 GMT", "etag": "0x8DE69603C8ECB70", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e80ae731-02fe-4edd-9f6a-e1815d35357f/items/d3123e96-de7b-4acc-a202-0e0f196a1ec1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b7305d42-4521-4f3c-8be4-aba8daf7c94b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
