interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e80ae731-02fe-4edd-9f6a-e1815d35357f",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8f407e03-d3a7-41d2-9ffd-853a0ee9b843
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e80ae731-02fe-4edd-9f6a-e1815d35357f/items
  response:
    body:
      string: '{"value": [{"id": "94797dc3-590e-4927-9cb2-5baa5b1149e7", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "e80ae731-02fe-4edd-9f6a-e1815d35357f"}, {"id": "a759531c-c3e9-4ac4-9a39-44eac0c9f62c",
        "type": "KQLDatabase", "displayName": "fabcli000001_auto", "description":
        "fabcli000001_auto", "workspaceId": "e80ae731-02fe-4edd-9f6a-e1815d35357f"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e515f52b-60b9-4e72-a009-c95b18c6a703
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e80ae731-02fe-4edd-9f6a-e1815d35357f/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/15c314fd-3ea0-4bfc-8b1a-80b9ff8d5b6f
      RequestId:
      - b3bae740-64e7-4cb8-ad85-00b11c3efd49
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 15c314fd-3ea0-4bfc-8b1a-80b9ff8d5b6f
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/15c314fd-3ea0-4bfc-8b1a-80b9ff8d5b6f
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-11T11:26:41.9783993",
        "lastUpdatedTimeUtc": "2026-02-11T11:27:00.0747262", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/15c314fd-3ea0-4bfc-8b1a-80b9ff8d5b6f/result
      RequestId:
      - 0d43fce3-bd32-4eed-993d-64488bdfe5c3
      x-ms-operation-id:
      - 15c314fd-3ea0-4bfc-8b1a-80b9ff8d5b6f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/15c314fd-3ea0-4bfc-8b1a-80b9ff8d5b6f/result
  response:
    body:
      string: '{"id": "5bdebdeb-b9f6-48e5-82d8-7e39dc6196f2", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e80ae731-02fe-4edd-9f6a-e1815d35357f"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 0775cec8-7d17-4f94-b100-f3f25144f457
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/e80ae731-02fe-4edd-9f6a-e1815d35357f/5bdebdeb-b9f6-48e5-82d8-7e39dc6196f2/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "5bdebdeb-b9f6-48e5-82d8-7e39dc6196f2/Audit", "isDirectory":
        "true", "creationTime": "134152828033512004", "lastModified": "Wed, 11 Feb
        2026 11:26:43 GMT", "etag": "0x8DE69606F043244", "contentLength": "0", "owner":
        "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "5bdebdeb-b9f6-48e5-82d8-7e39dc6196f2/Code",
        "isDirectory": "true", "creationTime": "134152828033815312", "lastModified":
        "Wed, 11 Feb 2026 11:26:43 GMT", "etag": "0x8DE69606F08D310", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "5bdebdeb-b9f6-48e5-82d8-7e39dc6196f2/Files",
        "isDirectory": "true", "creationTime": "134152828033661744", "lastModified":
        "Wed, 11 Feb 2026 11:26:43 GMT", "etag": "0x8DE69606F067B30", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "5bdebdeb-b9f6-48e5-82d8-7e39dc6196f2/Tables",
        "isDirectory": "true", "creationTime": "134152828033741524", "lastModified":
        "Wed, 11 Feb 2026 11:26:43 GMT", "etag": "0x8DE69606F07B2D4", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e80ae731-02fe-4edd-9f6a-e1815d35357f/items/5bdebdeb-b9f6-48e5-82d8-7e39dc6196f2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 87d73fa9-fad9-43da-8645-9bffe5268733
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
