interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "ebe5f85c-0343-4508-9d2d-a8299cfea504",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dabb8b2a-d52e-4d93-b4c8-9f6d8da36aad
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items
  response:
    body:
      string: '{"value": [{"id": "b83b7bc9-7ecd-449c-9711-5a01cb3f1474", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id": "31be2151-5757-4852-9205-b65c63a0dc33",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "Created by fab", "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33"},
        {"id": "b63974c8-6987-489c-9007-536f524e4a60", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260422150351", "description": "", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id":[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "CosmosDBDatabase", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/859af40d-ca41-42cc-b50c-8a42f08c8575
      RequestId:
      - 9b73a6f2-c422-4f62-b589-d6a66c280994
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 859af40d-ca41-42cc-b50c-8a42f08c8575
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/859af40d-ca41-42cc-b50c-8a42f08c8575
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-22T15:35:01.8834018",
        "lastUpdatedTimeUtc": "2026-04-22T15:35:07.9945933", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/859af40d-ca41-42cc-b50c-8a42f08c8575/result
      RequestId:
      - 668c5796-2021-45ce-8b1e-cef0c4893d81
      x-ms-operation-id:
      - 859af40d-ca41-42cc-b50c-8a42f08c8575
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/859af40d-ca41-42cc-b50c-8a42f08c8575/result
  response:
    body:
      string: '{"id": "2f44c7e8-2115-42c9-9a36-ead109a31299", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "workspaceId":
        "ebe5f85c-0343-4508-9d2d-a8299cfea504"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - a7810a09-5322-4be1-9068-a4aa389efb1d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/9783996b-f720-4ed2-8b66-47ff761edc33/c9129592-da11-4140-b3a5-d19e418df648/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "c9129592-da11-4140-b3a5-d19e418df648/Audit", "isDirectory":
        "true", "creationTime": "134213457022658976", "lastModified": "Wed, 22 Apr
        2026 15:35:02 GMT", "etag": "0x8DEA084B860A9A0", "contentLength": "0", "owner":
        "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "c9129592-da11-4140-b3a5-d19e418df648/Code",
        "isDirectory": "true", "creationTime": "134213457023145504", "lastModified":
        "Wed, 22 Apr 2026 15:35:02 GMT", "etag": "0x8DEA084B8681620", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "c9129592-da11-4140-b3a5-d19e418df648/Files",
        "isDirectory": "true", "creationTime": "134213457022923232", "lastModified":
        "Wed, 22 Apr 2026 15:35:02 GMT", "etag": "0x8DEA084B864B1E0", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "c9129592-da11-4140-b3a5-d19e418df648/Tables",
        "isDirectory": "true", "creationTime": "134213457023036224", "lastModified":
        "Wed, 22 Apr 2026 15:35:02 GMT", "etag": "0x8DEA084B8666B40", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items/c9129592-da11-4140-b3a5-d19e418df648
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 645c770a-b3bc-4dfe-bd18-27a2975dc89a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
