interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "4b786514-ff85-4824-88c0-4d0b64b491f1", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4556499b-882c-4f99-93e9-411aa1234e15
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7c5d8e13-ba33-4283-aad6-76da5eddd7f8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders
  response:
    body:
      string: '{"id": "95aa8dc8-e08b-4c2e-8b52-34a85d9aa14e", "displayName": "fabcli000001",
        "workspaceId": "4b786514-ff85-4824-88c0-4d0b64b491f1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders/95aa8dc8-e08b-4c2e-8b52-34a85d9aa14e
      RequestId:
      - 6f7ccb92-dbef-47f7-9fb4-dd2badff985d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e8dcfa2e-94c2-4102-82ff-54107fd838d6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "GraphQLApi", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/graphqlapis
  response:
    body:
      string: '{"id": "c9258c53-3e3a-47f3-bb24-8499e08899fe", "type": "GraphQLApi",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "4b786514-ff85-4824-88c0-4d0b64b491f1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4febf1aa-428d-4532-b1f8-82d1225cba29
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders?recursive=True
  response:
    body:
      string: '{"requestId": "775bd395-5c50-485e-b74a-0d48572c9b91", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        1/20/2026 6:31:34 AM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 775bd395-5c50-485e-b74a-0d48572c9b91
      Retry-After:
      - '38'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/items/f1e0d1ca-cc24-44cc-bc0f-701b16929398
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ee2bc75e-c09f-4b84-9957-43c2a8f9d3ee
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders/95aa8dc8-e08b-4c2e-8b52-34a85d9aa14e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a41a497e-0442-492f-b968-208db8398508
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
