interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "58518f68-697f-42d5-82a3-9d87fdfa4e36", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d8a5b3cb-ffab-41f7-b20b-819f95d409ec
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/58518f68-697f-42d5-82a3-9d87fdfa4e36/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 09dc28a8-e154-431f-a481-5da968d7eb90
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MLModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/58518f68-697f-42d5-82a3-9d87fdfa4e36/mlModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ecd5988e-7192-4ba4-bc82-5eb61a54de49
      RequestId:
      - d94a756d-b595-4cb8-a882-547b6ce24306
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ecd5988e-7192-4ba4-bc82-5eb61a54de49
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ecd5988e-7192-4ba4-bc82-5eb61a54de49
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-16T13:28:29.1261256",
        "lastUpdatedTimeUtc": "2026-01-16T13:28:29.6729934", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ecd5988e-7192-4ba4-bc82-5eb61a54de49/result
      RequestId:
      - 93dbbf1b-94de-41da-9752-58c7dcb7ea9a
      x-ms-operation-id:
      - ecd5988e-7192-4ba4-bc82-5eb61a54de49
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ecd5988e-7192-4ba4-bc82-5eb61a54de49/result
  response:
    body:
      string: '{"id": "ccaf16ed-a4f9-4f43-99a2-17dbb94d7202", "type": "MLModel", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "58518f68-697f-42d5-82a3-9d87fdfa4e36"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 4bd2c505-ff1f-4705-96e7-54e22ff10999
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/58518f68-697f-42d5-82a3-9d87fdfa4e36/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cbc24e39-c713-48c5-873f-af39bbfd69fa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/58518f68-697f-42d5-82a3-9d87fdfa4e36/items/a2357ce2-9a0b-4829-865f-e8cd7b9855db
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 64509adc-e4bf-48fa-829e-b526db36d07a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/58518f68-697f-42d5-82a3-9d87fdfa4e36/items/ccaf16ed-a4f9-4f43-99a2-17dbb94d7202
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 435c7eca-fd12-4061-b46f-e19b04114bec
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
