interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4cb4cf65-b25e-450e-8afc-8f600b1ce932",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2f63dae8-5aa3-467c-af87-014bf279b898
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cb4cf65-b25e-450e-8afc-8f600b1ce932/items
  response:
    body:
      string: '{"value": [{"id": "34c117de-d833-4e68-8069-e5712d633225", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "4cb4cf65-b25e-450e-8afc-8f600b1ce932"}, {"id": "1151b062-a0d0-4724-9e6d-2b8b3070790b",
        "type": "DigitalTwinBuilder", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "4cb4cf65-b25e-450e-8afc-8f600b1ce932"}, {"id": "32017f84-6075-4b47-8413-5b20e99217ff",
        "type": "Lakehouse", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "4cb4cf65-b25e-450e-8afc-8f600b1ce932"}, {"id": "f37226ea-badf-4318-8607-452763087720",
        "type": "DigitalTwinBuilderFlow", "displayName": "fabcli000001_autoOnDemand",
        "description": "", "workspaceId": "4cb4cf65-b25e-450e-8afc-8f600b1ce932"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 257e1cc4-3841-45f6-a44a-8b6f6189ee0d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cb4cf65-b25e-450e-8afc-8f600b1ce932/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9e218b5d-bb30-4222-9449-89355b2b7ad5
      RequestId:
      - be67b37b-b7ea-48f6-a342-d0965c812534
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9e218b5d-bb30-4222-9449-89355b2b7ad5
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9e218b5d-bb30-4222-9449-89355b2b7ad5
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:04:31.6983056",
        "lastUpdatedTimeUtc": "2026-05-13T07:04:38.1580147", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9e218b5d-bb30-4222-9449-89355b2b7ad5/result
      RequestId:
      - 1bf641d6-9f36-4b00-9bc4-ce071150f71a
      x-ms-operation-id:
      - 9e218b5d-bb30-4222-9449-89355b2b7ad5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9e218b5d-bb30-4222-9449-89355b2b7ad5/result
  response:
    body:
      string: '{"id": "8f0a5927-343e-40ab-bab3-f15c5f0c22a6", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "4cb4cf65-b25e-450e-8afc-8f600b1ce932"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 501b6f90-1160-4b41-8f18-608b8d496b19
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cb4cf65-b25e-450e-8afc-8f600b1ce932/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9f548ed0-ce61-4e3d-b2ef-0b4c5d0b6d21
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cb4cf65-b25e-450e-8afc-8f600b1ce932/items/8f0a5927-343e-40ab-bab3-f15c5f0c22a6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 290e872d-c207-48a6-ba33-cdb1c3998437
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
