interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "948bd34e-8e3c-44cc-9879-8d3e3fa54394",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 732ad296-876c-48b1-91ab-c3db9b2d6a2b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0495b167-ce15-48e9-b5df-78bd72c3482c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/60203a68-1e28-4af5-b418-844895fef90c
      RequestId:
      - b1c0bd94-b48c-46fb-9bc2-466027893435
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 60203a68-1e28-4af5-b418-844895fef90c
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/60203a68-1e28-4af5-b418-844895fef90c
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T09:18:32.287282",
        "lastUpdatedTimeUtc": "2026-03-31T09:18:54.2631976", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/60203a68-1e28-4af5-b418-844895fef90c/result
      RequestId:
      - 5a0972a4-19a1-47d5-8e65-d4de51a7c713
      x-ms-operation-id:
      - 60203a68-1e28-4af5-b418-844895fef90c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/60203a68-1e28-4af5-b418-844895fef90c/result
  response:
    body:
      string: '{"id": "01580b14-05b6-4920-bf11-1624952bab81", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "workspaceId":
        "948bd34e-8e3c-44cc-9879-8d3e3fa54394"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 55ddb4b1-a89e-45d0-9be5-91c2de4176af
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d11e627a-51df-47e1-b717-1e7a3bb3a444
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394/items/38b5977f-2587-4875-9030-1c72d60af6ee
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8b6efeec-6f0b-437a-b955-f776a5f10eee
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394/items/01580b14-05b6-4920-bf11-1624952bab81
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 19dfdcbe-af60-4c2b-a9ed-56d0e5c3887f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
