interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d6e0bc2f-c5d9-481a-9dee-16661c96330c",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f154a009-652f-4506-af95-733ede3a96aa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6e0bc2f-c5d9-481a-9dee-16661c96330c/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - aad8e4f4-70cc-448d-9bc7-446ab9396092
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6e0bc2f-c5d9-481a-9dee-16661c96330c/folders?recursive=True
  response:
    body:
      string: '{"requestId": "750152d5-698f-40fb-b313-2243074ad4a2", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/5/2026 1:39:15 PM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 750152d5-698f-40fb-b313-2243074ad4a2
      Retry-After:
      - '12'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6e0bc2f-c5d9-481a-9dee-16661c96330c/folders
  response:
    body:
      string: '{"id": "ae692ecd-7ffc-45cf-ad4f-d681300188b6", "displayName": "fabcli000001",
        "workspaceId": "d6e0bc2f-c5d9-481a-9dee-16661c96330c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/d6e0bc2f-c5d9-481a-9dee-16661c96330c/folders/ae692ecd-7ffc-45cf-ad4f-d681300188b6
      RequestId:
      - d6f30884-a34e-42e7-9c5f-d1189eadc78f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6e0bc2f-c5d9-481a-9dee-16661c96330c/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f1674ef2-096d-4f37-86fc-79fd786e7261
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "UserDataFunction", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6e0bc2f-c5d9-481a-9dee-16661c96330c/userdatafunctions
  response:
    body:
      string: '{"id": "d805e22c-3c30-49ee-aa2b-416a55f20d64", "type": "UserDataFunction",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "d6e0bc2f-c5d9-481a-9dee-16661c96330c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f8033737-fe06-4dae-9adb-bddbbf617612
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6e0bc2f-c5d9-481a-9dee-16661c96330c/items/436cdd9c-39e4-465e-a84d-2aec24533543
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 07ae35e2-45ea-4262-86a6-e3460625ad79
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6e0bc2f-c5d9-481a-9dee-16661c96330c/folders/ae692ecd-7ffc-45cf-ad4f-d681300188b6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ea8a296d-aa87-45e9-838a-05c6e470618e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
