interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "dbf7c50d-10b5-405f-a2a4-058e8b7a1fdd",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9ee3d8bb-fea6-4fe2-820d-37028455167c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/dbf7c50d-10b5-405f-a2a4-058e8b7a1fdd/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0a008d68-c34f-40b0-bb7f-c3d9d3ee9337
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/dbf7c50d-10b5-405f-a2a4-058e8b7a1fdd/lakehouses
  response:
    body:
      string: '{"id": "7e797e45-f1dc-4eb1-a604-bb2016fd45d7", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "dbf7c50d-10b5-405f-a2a4-058e8b7a1fdd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 566184ed-0dbe-4599-8b57-3e14ce22a4be
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/dbf7c50d-10b5-405f-a2a4-058e8b7a1fdd/7e797e45-f1dc-4eb1-a604-bb2016fd45d7/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "7e797e45-f1dc-4eb1-a604-bb2016fd45d7/Files", "isDirectory":
        "true", "creationTime": "134152826385887440", "lastModified": "Wed, 11 Feb
        2026 11:23:58 GMT", "etag": "0x8DE69600CCF70D0", "contentLength": "0", "owner":
        "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "7e797e45-f1dc-4eb1-a604-bb2016fd45d7/TableMaintenance",
        "isDirectory": "true", "creationTime": "134152826385970096", "lastModified":
        "Wed, 11 Feb 2026 11:23:58 GMT", "etag": "0x8DE69600CD0B3B0", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "7e797e45-f1dc-4eb1-a604-bb2016fd45d7/Tables",
        "isDirectory": "true", "creationTime": "134152826385768152", "lastModified":
        "Wed, 11 Feb 2026 11:23:58 GMT", "etag": "0x8DE69600CCD9ED8", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/dbf7c50d-10b5-405f-a2a4-058e8b7a1fdd/items/7e797e45-f1dc-4eb1-a604-bb2016fd45d7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - dda42247-0e82-4f05-b5cb-35825c8b4889
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
