interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7db38657-dc93-43e0-a2e0-57172ba89708",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fd0d9a09-3d68-4f35-af69-7293e9583cc8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/items
  response:
    body:
      string: '{"value": [{"id": "8ec3ea7b-5764-4097-98e4-0c221377cb79", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708"},
        {"id": "7a5395b6-63ef-4d98-bac4-2c2347120532", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708"},
        {"id": "a28b6612-8748-4920-985c-4b68ceaa6890", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260427042210", "description": "", "workspaceId":
        "7db38657-dc93-43e0-a2e0-57172ba89708"}, {"id": "588186af-80ba-451f-8[...]
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "Eventhouse", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/eventhouses
  response:
    body:
      string: '{"id": "3251c1d6-67cd-4954-9dac-ce4331e9a992", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a5f7674b-3d52-4963-94e8-c1492bb53020
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"displayName": "fabcli000001", "type": "KQLDatabase", "folderId": null,
      "creationPayload": {"databaseType": "ReadWrite", "parentEventhouseItemId": "3251c1d6-67cd-4954-9dac-ce4331e9a992"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7c7141ea-93a9-4371-be80-74e63bdbf1fb
      RequestId:
      - a8150e35-0536-49e3-90cd-390800d242af
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7c7141ea-93a9-4371-be80-74e63bdbf1fb
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7c7141ea-93a9-4371-be80-74e63bdbf1fb
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-27T04:51:57.7853533",
        "lastUpdatedTimeUtc": "2026-04-27T04:52:04.6948238", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7c7141ea-93a9-4371-be80-74e63bdbf1fb/result
      RequestId:
      - 2b0e3aaa-b144-4bb1-9ad1-ee5724ea3ee9
      x-ms-operation-id:
      - 7c7141ea-93a9-4371-be80-74e63bdbf1fb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7c7141ea-93a9-4371-be80-74e63bdbf1fb/result
  response:
    body:
      string: '{"id": "64bcc7a7-0d40-4a24-9c06-32f4a4d90184", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c6c4b5ef-4a61-40f7-8e2c-7fab1c4ab08d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/7db38657-dc93-43e0-a2e0-57172ba89708/64bcc7a7-0d40-4a24-9c06-32f4a4d90184/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "64bcc7a7-0d40-4a24-9c06-32f4a4d90184/Shortcut",
        "isDirectory": "true", "creationTime": "134217391180726316", "lastModified":
        "Mon, 27 Apr 2026 04:51:58 GMT", "etag": "0x8DEA418B678C02C", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "64bcc7a7-0d40-4a24-9c06-32f4a4d90184/Tables",
        "isDirectory": "true", "creationTime": "134217391180529840", "lastModified":
        "Mon, 27 Apr 2026 04:51:58 GMT", "etag": "0x8DEA418B675C0B0", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/items/64bcc7a7-0d40-4a24-9c06-32f4a4d90184
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 95134c70-4879-445e-a3aa-714d42e1bb8f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
