interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "9783996b-f720-4ed2-8b66-47ff761edc33",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5c1b596b-055c-4eb4-a2fb-119da47ffaa3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items
  response:
    body:
      string: '{"value": [{"id": "b83b7bc9-7ecd-449c-9711-5a01cb3f1474", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id": "31be2151-5757-4852-9205-b65c63a0dc33",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "Created by fab", "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33"},
        {"id": "b63974c8-6987-489c-9007-536f524e4a60", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260422150351", "description": "", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id":[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/62e92d47-e6cf-4ac5-ab37-e1bbbff37baa
      RequestId:
      - 7fd946ae-6da0-4a28-81be-fca4b9d0500b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 62e92d47-e6cf-4ac5-ab37-e1bbbff37baa
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/62e92d47-e6cf-4ac5-ab37-e1bbbff37baa
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-22T15:37:09.9499139",
        "lastUpdatedTimeUtc": "2026-04-22T15:37:25.7119731", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/62e92d47-e6cf-4ac5-ab37-e1bbbff37baa/result
      RequestId:
      - 47203dbc-cba5-40c5-abfa-801e14932cb8
      x-ms-operation-id:
      - 62e92d47-e6cf-4ac5-ab37-e1bbbff37baa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/62e92d47-e6cf-4ac5-ab37-e1bbbff37baa/result
  response:
    body:
      string: '{"id": "1b50a640-0c2a-4e35-86ec-de942d93b49f", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - fbb7c43b-035b-4c0f-abd1-59480bab86cd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/9783996b-f720-4ed2-8b66-47ff761edc33/1b50a640-0c2a-4e35-86ec-de942d93b49f/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "1b50a640-0c2a-4e35-86ec-de942d93b49f/Audit", "isDirectory":
        "true", "creationTime": "134213458302689860", "lastModified": "Wed, 22 Apr
        2026 15:37:10 GMT", "etag": "0x8DEA08504AC6244", "contentLength": "0", "owner":
        "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "1b50a640-0c2a-4e35-86ec-de942d93b49f/Code",
        "isDirectory": "true", "creationTime": "134213458303135196", "lastModified":
        "Wed, 22 Apr 2026 15:37:10 GMT", "etag": "0x8DEA08504B32DDC", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "1b50a640-0c2a-4e35-86ec-de942d93b49f/Files",
        "isDirectory": "true", "creationTime": "134213458302908112", "lastModified":
        "Wed, 22 Apr 2026 15:37:10 GMT", "etag": "0x8DEA08504AFB6D0", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "1b50a640-0c2a-4e35-86ec-de942d93b49f/Tables",
        "isDirectory": "true", "creationTime": "134213458303011948", "lastModified":
        "Wed, 22 Apr 2026 15:37:10 GMT", "etag": "0x8DEA08504B14C6C", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items/1b50a640-0c2a-4e35-86ec-de942d93b49f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f04113f9-2d16-4183-93b1-acebd424cea7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
