interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "368f354f-9d92-4982-b04b-9c397928cdf0",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9e66d015-0ce1-4c95-816c-79708b6b6e3e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/368f354f-9d92-4982-b04b-9c397928cdf0/items
  response:
    body:
      string: '{"value": [{"id": "c0655a25-e6f8-4858-b332-e84f704df3c0", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "368f354f-9d92-4982-b04b-9c397928cdf0"},
        {"id": "eb993493-fcab-4245-8f15-5b31d00680fb", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "368f354f-9d92-4982-b04b-9c397928cdf0"},
        {"id": "19c63aee-97f0-479d-8d5f-b90a4de61ccd", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260129064248", "description": "", "workspaceId":
        "368f354f-9d92-4982-b04b-9c397928cdf0"}, {"id": "8339a561-3c03-407d-b[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/368f354f-9d92-4982-b04b-9c397928cdf0/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dccd9787-90b8-4877-8e60-d2e942ff0b4e
      RequestId:
      - 396da211-46a4-4e69-a58c-ee6bd1ac5737
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - dccd9787-90b8-4877-8e60-d2e942ff0b4e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dccd9787-90b8-4877-8e60-d2e942ff0b4e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-29T07:04:53.0044416",
        "lastUpdatedTimeUtc": "2026-01-29T07:05:07.5342417", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dccd9787-90b8-4877-8e60-d2e942ff0b4e/result
      RequestId:
      - fb243797-ac8d-466c-a582-25f639462813
      x-ms-operation-id:
      - dccd9787-90b8-4877-8e60-d2e942ff0b4e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dccd9787-90b8-4877-8e60-d2e942ff0b4e/result
  response:
    body:
      string: '{"id": "24217b51-f038-4c92-8121-d3ea3d72671f", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "368f354f-9d92-4982-b04b-9c397928cdf0"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ac37f5c6-469b-4b63-891e-99d2c8c3c75a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/368f354f-9d92-4982-b04b-9c397928cdf0/24217b51-f038-4c92-8121-d3ea3d72671f/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "24217b51-f038-4c92-8121-d3ea3d72671f/Audit", "isDirectory":
        "true", "creationTime": "134141438933393548", "lastModified": "Thu, 29 Jan
        2026 07:04:53 GMT", "etag": "0x8DE5F04B3BFE08C", "contentLength": "0", "owner":
        "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "24217b51-f038-4c92-8121-d3ea3d72671f/Code",
        "isDirectory": "true", "creationTime": "134141438933698204", "lastModified":
        "Thu, 29 Jan 2026 07:04:53 GMT", "etag": "0x8DE5F04B3C4869C", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "24217b51-f038-4c92-8121-d3ea3d72671f/Files",
        "isDirectory": "true", "creationTime": "134141438933548376", "lastModified":
        "Thu, 29 Jan 2026 07:04:53 GMT", "etag": "0x8DE5F04B3C23D58", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "24217b51-f038-4c92-8121-d3ea3d72671f/Tables",
        "isDirectory": "true", "creationTime": "134141438933623984", "lastModified":
        "Thu, 29 Jan 2026 07:04:53 GMT", "etag": "0x8DE5F04B3C364B0", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/368f354f-9d92-4982-b04b-9c397928cdf0/items/24217b51-f038-4c92-8121-d3ea3d72671f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 08941a00-6819-47b9-9598-550653482f71
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
