interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a8da376c-5ff3-46bc-8818-6f57de6811dc",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e463d9e0-ee80-4085-bee2-511aa2c264e2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/items
  response:
    body:
      string: '{"value": [{"id": "fdaaf72d-2f8a-43f3-b6d1-a6bd6e49d57a", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "a8da376c-5ff3-46bc-8818-6f57de6811dc"}, {"id": "104ea3fd-fbea-4b33-b803-cd88afbc2823",
        "type": "SQLEndpoint", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}, {"id": "411ff678-754d-40c9-84aa-2d0797360164",
        "type": "SQLEndpoint", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}, {"id": "3c5ededf-1b60-47a2-b4eb-bc6b1309bbbe",
      [...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1fc7e0e5-14fc-410f-a054-357abe347daf
      RequestId:
      - 73ca0c76-6038-4491-aaf2-29904f46903e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 1fc7e0e5-14fc-410f-a054-357abe347daf
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1fc7e0e5-14fc-410f-a054-357abe347daf
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:01:33.8139221",
        "lastUpdatedTimeUtc": "2026-05-13T07:01:40.1443631", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1fc7e0e5-14fc-410f-a054-357abe347daf/result
      RequestId:
      - 2088829a-ff8c-4916-8e14-a6a8fe3e39a9
      x-ms-operation-id:
      - 1fc7e0e5-14fc-410f-a054-357abe347daf
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1fc7e0e5-14fc-410f-a054-357abe347daf/result
  response:
    body:
      string: '{"id": "19284665-2499-4c9b-815f-7e04ee62b2e4", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 4fc86e31-bfe9-4f9d-be82-6aa2ec8cb6db
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c4c9fe3f-8f53-4d16-b890-0cb45f6a76c3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/items/baa08557-8233-4e9f-b319-98d85cff118f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 10a269f4-28f6-4058-a0eb-cf08639e7aa7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/items/19284665-2499-4c9b-815f-7e04ee62b2e4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5d8c9593-25ba-47ab-af79-ac1a0f4ca66f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
