interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "8345c10e-7b97-44ce-8111-806b95aad368",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0c8ed3b3-8aeb-4507-bbd3-2751289fe5a3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8345c10e-7b97-44ce-8111-806b95aad368/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ae2d0878-8ea1-4541-b122-d998c6fa4c39
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/8345c10e-7b97-44ce-8111-806b95aad368/folders
  response:
    body:
      string: '{"id": "dae78c10-fe9c-4e10-a115-1845eb5b6ef9", "displayName": "fabcli000001",
        "workspaceId": "8345c10e-7b97-44ce-8111-806b95aad368"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/8345c10e-7b97-44ce-8111-806b95aad368/folders/dae78c10-fe9c-4e10-a115-1845eb5b6ef9
      RequestId:
      - 8ebfaeb5-4723-4a31-8a5e-339a857d73bf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8345c10e-7b97-44ce-8111-806b95aad368/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ae99ded2-855c-422a-86fa-7cb662e00f80
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "DigitalTwinBuilder", "folderId": "dae78c10-fe9c-4e10-a115-1845eb5b6ef9"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/8345c10e-7b97-44ce-8111-806b95aad368/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0ece407f-6e10-40a5-899a-08ab81e84213
      RequestId:
      - 0616c566-13f6-483b-800d-767ac4637a82
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 0ece407f-6e10-40a5-899a-08ab81e84213
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0ece407f-6e10-40a5-899a-08ab81e84213
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-11T12:02:01.7968061",
        "lastUpdatedTimeUtc": "2026-02-11T12:02:13.3957992", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0ece407f-6e10-40a5-899a-08ab81e84213/result
      RequestId:
      - bc287084-0d15-48da-85f5-b81eaa470959
      x-ms-operation-id:
      - 0ece407f-6e10-40a5-899a-08ab81e84213
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0ece407f-6e10-40a5-899a-08ab81e84213/result
  response:
    body:
      string: '{"id": "ad752076-fd9d-4ad2-b698-882ce481318e", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "8345c10e-7b97-44ce-8111-806b95aad368", "folderId": "dae78c10-fe9c-4e10-a115-1845eb5b6ef9"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - bf3ffd01-0698-481d-8eae-ef9eca2c70e3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8345c10e-7b97-44ce-8111-806b95aad368/folders?recursive=True
  response:
    body:
      string: '{"requestId": "6af6c958-c86a-49a8-9d06-f6b40637e288", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/11/2026 12:02:54 PM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6af6c958-c86a-49a8-9d06-f6b40637e288
      Retry-After:
      - '19'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/8345c10e-7b97-44ce-8111-806b95aad368/items/ad752076-fd9d-4ad2-b698-882ce481318e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f4f27672-8a93-4009-99f1-a4c5dae316bb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/8345c10e-7b97-44ce-8111-806b95aad368/folders/dae78c10-fe9c-4e10-a115-1845eb5b6ef9
  response:
    body:
      string: '{"requestId": "b4e9826d-a84f-431f-b023-07d196501fc3", "errorCode":
        "FolderNotEmpty", "message": "The requested folder was not empty.", "relatedResource":
        {"resourceId": "dae78c10-fe9c-4e10-a115-1845eb5b6ef9", "resourceType": "Folder"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b4e9826d-a84f-431f-b023-07d196501fc3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - FolderNotEmpty
    status:
      code: 400
      message: Bad Request
version: 1
