interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5761b945-b707-4180-b20d-5f0615d2295a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d7ca7a3d-1ac5-4204-ae25-5aa1ba9133e0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 01f02ba7-2172-484a-8f52-59217e871b79
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cb13fef8-2679-420c-8a0e-2aa03bda9b52
      RequestId:
      - e2951eeb-5716-4be4-abe6-8c331b7744b6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - cb13fef8-2679-420c-8a0e-2aa03bda9b52
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cb13fef8-2679-420c-8a0e-2aa03bda9b52
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-09T07:16:07.1817065",
        "lastUpdatedTimeUtc": "2026-09-09T07:16:07.1817065", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cb13fef8-2679-420c-8a0e-2aa03bda9b52
      RequestId:
      - f5869e85-5dcc-49ab-95f1-90aae2bf03d3
      Retry-After:
      - '20'
      x-ms-operation-id:
      - cb13fef8-2679-420c-8a0e-2aa03bda9b52
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cb13fef8-2679-420c-8a0e-2aa03bda9b52/result
  response:
    body:
      string: '{"id": "a13de5f9-7e8d-4fcc-9b6b-5423d2b25b58", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "5761b945-b707-4180-b20d-5f0615d2295a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 63e7341f-89bc-4b62-a9c3-7d25bf35b3db
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d461f9d0-b401-414f-b946-bcaefa7d4ac7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/items/a13de5f9-7e8d-4fcc-9b6b-5423d2b25b58
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4cd074f8-6634-4144-8336-2a67657b39d3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
