interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e80ae731-02fe-4edd-9f6a-e1815d35357f",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 29b4ad5f-2b57-4c8d-8ebe-fd1710ca5561
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e80ae731-02fe-4edd-9f6a-e1815d35357f/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - af290906-d088-403d-be2b-4a6c8c7c20c3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SparkJobDefinition", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e80ae731-02fe-4edd-9f6a-e1815d35357f/sparkJobDefinitions
  response:
    body:
      string: '{"id": "aecf97c5-b2a3-4955-8fc7-4367775d7eb6", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e80ae731-02fe-4edd-9f6a-e1815d35357f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6495a7b0-dd16-4cf8-88c7-5a4c06ccf8b0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/e80ae731-02fe-4edd-9f6a-e1815d35357f/aecf97c5-b2a3-4955-8fc7-4367775d7eb6/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "aecf97c5-b2a3-4955-8fc7-4367775d7eb6/Libs", "isDirectory":
        "true", "creationTime": "134152827526782156", "lastModified": "Wed, 11 Feb
        2026 11:25:52 GMT", "etag": "0x8DE696050D01CCC", "contentLength": "0", "owner":
        "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "aecf97c5-b2a3-4955-8fc7-4367775d7eb6/Main",
        "isDirectory": "true", "creationTime": "134152827526895988", "lastModified":
        "Wed, 11 Feb 2026 11:25:52 GMT", "etag": "0x8DE696050D1D974", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "aecf97c5-b2a3-4955-8fc7-4367775d7eb6/Snapshots",
        "isDirectory": "true", "creationTime": "134152827526980816", "lastModified":
        "Wed, 11 Feb 2026 11:25:52 GMT", "etag": "0x8DE696050D324D0", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e80ae731-02fe-4edd-9f6a-e1815d35357f/items/aecf97c5-b2a3-4955-8fc7-4367775d7eb6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e6c32230-d9a9-4343-98e4-9c697647b330
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
