interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7db38657-dc93-43e0-a2e0-57172ba89708",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4fa31e81-b9c3-4f41-9730-f4cbbf4d9fd5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708
  response:
    body:
      string: '{"id": "7db38657-dc93-43e0-a2e0-57172ba89708", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bbe021a1-797a-4005-a66c-b500f2640e73
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/provisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b83b0687-0b95-4c4f-bc4b-2c5574524654
      RequestId:
      - 8ad640be-8acb-4902-9af2-cab1153e738b
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b83b0687-0b95-4c4f-bc4b-2c5574524654
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b83b0687-0b95-4c4f-bc4b-2c5574524654
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-27T04:53:14.3577802",
        "lastUpdatedTimeUtc": "2026-04-27T04:53:16.1667685", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b83b0687-0b95-4c4f-bc4b-2c5574524654/result
      RequestId:
      - 9deac6ec-e5f7-404c-b75a-59abc6ab492b
      x-ms-operation-id:
      - b83b0687-0b95-4c4f-bc4b-2c5574524654
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b83b0687-0b95-4c4f-bc4b-2c5574524654/result
  response:
    body:
      string: '{"applicationId": "2e310cde-8064-498e-ada3-4c4b768191b9", "servicePrincipalId":
        "bb75c702-bcaa-4b11-92ed-f1da4e81537b"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ac41a70e-9a56-49d1-911d-857283155c68
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708
  response:
    body:
      string: '{"id": "7db38657-dc93-43e0-a2e0-57172ba89708", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed", "workspaceIdentity": {"applicationId": "2e310cde-8064-498e-ada3-4c4b768191b9",
        "servicePrincipalId": "bb75c702-bcaa-4b11-92ed-f1da4e81537b"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fd5ff4e6-b11a-42fd-9890-b63d2ea81039
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/deprovisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5c1238c4-cb07-477c-8d9c-31ac2f316ca3
      RequestId:
      - 4e5c1157-ca09-409e-8ca8-ff4927845993
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5c1238c4-cb07-477c-8d9c-31ac2f316ca3
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5c1238c4-cb07-477c-8d9c-31ac2f316ca3
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-27T04:53:26.6918111",
        "lastUpdatedTimeUtc": "2026-04-27T04:53:27.7675886", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d0cb6a8c-680f-4904-8a8f-3d7170e33032
    status:
      code: 200
      message: OK
version: 1
