interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "4b786514-ff85-4824-88c0-4d0b64b491f1", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f2cac3a6-dbb9-47a6-80d9-211a147a7c58
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dd381096-6a53-41d8-858c-f7aa21bd20b6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders?recursive=True
  response:
    body:
      string: '{"requestId": "ce133058-24b5-4940-83e9-98478bf78c18", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        1/20/2026 6:25:17 AM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ce133058-24b5-4940-83e9-98478bf78c18
      Retry-After:
      - '41'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders
  response:
    body:
      string: '{"id": "d1ec2a90-0809-4e6a-88f6-3f40b000c76a", "displayName": "fabcli000001",
        "workspaceId": "4b786514-ff85-4824-88c0-4d0b64b491f1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders/d1ec2a90-0809-4e6a-88f6-3f40b000c76a
      RequestId:
      - 7e0a42f7-24af-4f5a-bba3-bdace9f07047
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5a80bc1f-476e-4fe3-bb58-94098648c38e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "MLModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/mlModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8d8539c7-e428-44ec-8560-58452d87f33d
      RequestId:
      - eede544c-fe38-4d24-b2e3-58d156c1a330
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 8d8539c7-e428-44ec-8560-58452d87f33d
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8d8539c7-e428-44ec-8560-58452d87f33d
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-20T06:25:23.0638068",
        "lastUpdatedTimeUtc": "2026-01-20T06:25:23.6107281", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8d8539c7-e428-44ec-8560-58452d87f33d/result
      RequestId:
      - e85525e9-30c2-4a63-b6b4-d5a565ba245f
      x-ms-operation-id:
      - 8d8539c7-e428-44ec-8560-58452d87f33d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8d8539c7-e428-44ec-8560-58452d87f33d/result
  response:
    body:
      string: '{"id": "be835832-9dd1-4e08-a6f2-3a51552b5c44", "type": "MLModel", "displayName":
        "fabcli000002", "description": "Created by fab", "workspaceId": "4b786514-ff85-4824-88c0-4d0b64b491f1"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 91d1373b-afcf-47fd-abc1-ef27a73bfde4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/items/4a7798e0-f611-430f-bc03-9d2b1a139c4d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 327e6d10-1cb7-4bd2-b506-543ce91e0658
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders/d1ec2a90-0809-4e6a-88f6-3f40b000c76a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f60f7a9f-242f-458a-abd1-f9988040cc14
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
