interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "9783996b-f720-4ed2-8b66-47ff761edc33",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ae60a3ff-86ec-44dd-8ee1-3a3c7b2444c8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items
  response:
    body:
      string: '{"value": [{"id": "b83b7bc9-7ecd-449c-9711-5a01cb3f1474", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id": "31be2151-5757-4852-9205-b65c63a0dc33",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "Created by fab", "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33"},
        {"id": "b63974c8-6987-489c-9007-536f524e4a60", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260422150351", "description": "", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id":[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SparkJobDefinition", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/sparkJobDefinitions
  response:
    body:
      string: '{"id": "83a9adce-6383-405f-b08d-bc728be94d4d", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 3b6a4da6-5da8-46df-bf51-243b8693351d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/9783996b-f720-4ed2-8b66-47ff761edc33/83a9adce-6383-405f-b08d-bc728be94d4d/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "83a9adce-6383-405f-b08d-bc728be94d4d/Libs", "isDirectory":
        "true", "creationTime": "134213457798047236", "lastModified": "Wed, 22 Apr
        2026 15:36:19 GMT", "etag": "0x8DEA084E6982604", "contentLength": "0", "owner":
        "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "83a9adce-6383-405f-b08d-bc728be94d4d/Main",
        "isDirectory": "true", "creationTime": "134213457798167376", "lastModified":
        "Wed, 22 Apr 2026 15:36:19 GMT", "etag": "0x8DEA084E699FB50", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "83a9adce-6383-405f-b08d-bc728be94d4d/Snapshots",
        "isDirectory": "true", "creationTime": "134213457798272948", "lastModified":
        "Wed, 22 Apr 2026 15:36:19 GMT", "etag": "0x8DEA084E69B97B4", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items/83a9adce-6383-405f-b08d-bc728be94d4d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9ee7ccb5-4fdd-4313-84b6-232188d70aa2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
