interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "e8293fbd-7292-44e5-bd79-74caa5afee7e", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fae334c0-a04b-4892-a5a0-9553650aa5df
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/items
  response:
    body:
      string: '{"value": [{"id": "fd892f1d-ea7d-4e0f-89c5-c441c3137ae1", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"},
        {"id": "9dd81d5e-795c-4e79-ae0b-adf83f920f6e", "type": "SemanticModel", "displayName":
        "fabcli000002_auto", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"},
        {"id": "607a9393-53cc-4ecf-a853-d3d331fd7816", "type": "SemanticModel", "displayName":
        "fabcli000003_auto", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f5c98ad3-7cc7-4493-af4d-f1c4d2226546
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SemanticModel", "folderId": null, "definition": {"parts": [{"path": ".platform",
      "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlNlbWFudGljTW9kZWwiLAogICAgImRpc3BsYXlOYW1lIjogIkJsYW5rIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
      "payloadType": "InlineBase64"}, {"path": "definition.pbism", "payload": "ewogICJ2ZXJzaW9uIjogIjQuMCIsCiAgInNldHRpbmdzIjoge30KfQ==",
      "payloadType": "InlineBase64"}, {"path": "definition/database.tmdl", "payload":
      "ZGF0YWJhc2UKCWNvbXBhdGliaWxpdHlMZXZlbDogMTU2MQoK", "payloadType": "InlineBase64"},
      {"path": "definition/model.tmdl", "payload": "bW9kZWwgTW9kZWwKCWN1bHR1cmU6IGVuLVVTCglkZWZhdWx0UG93ZXJCSURhdGFTb3VyY2VWZXJzaW9uOiBwb3dlckJJX1YzCglzb3VyY2VRdWVyeUN1bHR1cmU6IGVuLVVTCglkYXRhQWNjZXNzT3B0aW[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8f38eb16-75f2-4cee-a1a5-3d2b269853f8
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-16T13:08:28.4398259",
        "lastUpdatedTimeUtc": "2026-01-16T13:08:39.2087085", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8f38eb16-75f2-4cee-a1a5-3d2b269853f8/result
      RequestId:
      - 922237ee-6046-4f92-927e-b34e61ab88f3
      x-ms-operation-id:
      - 8f38eb16-75f2-4cee-a1a5-3d2b269853f8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8f38eb16-75f2-4cee-a1a5-3d2b269853f8/result
  response:
    body:
      string: '{"id": "32797b7f-1f29-4be2-b4d9-49cdef9ee843", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 7270fc18-8234-490a-9f2a-3192dd8e6147
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d135a1e4-d31a-4df3-9d82-923bf402dfeb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/items/2d415846-06ca-45bb-88b7-6c836bfb9d5b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 11b34920-9d6a-413b-8828-ea7eabdf8121
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/items/32797b7f-1f29-4be2-b4d9-49cdef9ee843
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 74eaeb73-7bf8-49af-a3dd-a0548b064902
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
