interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "368f354f-9d92-4982-b04b-9c397928cdf0",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e6f8d7d5-bbbb-4fa9-98fc-0b1031403c40
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/368f354f-9d92-4982-b04b-9c397928cdf0/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 35932b23-197c-4555-9825-f41ffaddc477
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/368f354f-9d92-4982-b04b-9c397928cdf0/folders
  response:
    body:
      string: '{"id": "a5c2608f-f961-451f-ad0f-0daf41817cfa", "displayName": "fabcli000001",
        "workspaceId": "368f354f-9d92-4982-b04b-9c397928cdf0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/368f354f-9d92-4982-b04b-9c397928cdf0/folders/a5c2608f-f961-451f-ad0f-0daf41817cfa
      RequestId:
      - bbec2423-1567-42dc-a820-1de0970f4ae8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/368f354f-9d92-4982-b04b-9c397928cdf0/items
  response:
    body:
      string: '{"value": [{"id": "c0655a25-e6f8-4858-b332-e84f704df3c0", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "368f354f-9d92-4982-b04b-9c397928cdf0"},
        {"id": "eb993493-fcab-4245-8f15-5b31d00680fb", "type":[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Warehouse", "folderId": "a5c2608f-f961-451f-ad0f-0daf41817cfa", "creationPayload":
      {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/368f354f-9d92-4982-b04b-9c397928cdf0/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e92e0f82-b693-471d-a0e3-cde6f91abe6b
      RequestId:
      - 081b4b5e-83d1-43cf-aadc-70bf06b4cbb8
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - e92e0f82-b693-471d-a0e3-cde6f91abe6b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e92e0f82-b693-471d-a0e3-cde6f91abe6b
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-29T07:37:38.6869344",
        "lastUpdatedTimeUtc": "2026-01-29T07:37:43.4696617", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e92e0f82-b693-471d-a0e3-cde6f91abe6b/result
      RequestId:
      - 7ace7955-957a-4820-8b2d-9ee35873c2b5
      x-ms-operation-id:
      - e92e0f82-b693-471d-a0e3-cde6f91abe6b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e92e0f82-b693-471d-a0e3-cde6f91abe6b/result
  response:
    body:
      string: '{"id": "46a3e0c4-f519-4e71-b2bd-12e3958d0597", "type": "Warehouse",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "368f354f-9d92-4982-b04b-9c397928cdf0", "folderId": "a5c2608f-f961-451f-ad0f-0daf41817cfa"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 95a90b95-a36d-477f-b5b6-ceabce8a9d06
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/368f354f-9d92-4982-b04b-9c397928cdf0/folders?recursive=True
  response:
    body:
      string: '{"requestId": "7c67e1b0-ad5b-4524-87ea-660300176404", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        1/29/2026 7:38:22 AM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7c67e1b0-ad5b-4524-87ea-660300176404
      Retry-After:
      - '18'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/368f354f-9d92-4982-b04b-9c397928cdf0/items/46a3e0c4-f519-4e71-b2bd-12e3958d0597
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 33f96486-5e59-4fe6-b909-1fa0adf33101
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/368f354f-9d92-4982-b04b-9c397928cdf0/folders/a5c2608f-f961-451f-ad0f-0daf41817cfa
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4186d352-f87e-4dde-9805-984a4a715642
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
