interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "9783996b-f720-4ed2-8b66-47ff761edc33",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 87166a45-a1b1-4abd-81c4-08dcbc4f8bfd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items
  response:
    body:
      string: '{"value": [{"id": "b83b7bc9-7ecd-449c-9711-5a01cb3f1474", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id": "b63974c8-6987-489c-9007-536f524e4a60",
        "type": "SQLEndpoint", "displayName": "StagingLakehouseForDataflows_20260422150351",
        "description": "", "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33"},
        {"id": "cf139473-5c57-4ee2-abc2-295043848fca", "type": "Warehouse", "displayName":
        "StagingWarehouseForDataflows_20260422150415", "description": "", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id": "bbb9ae8f-5d2b-457d-a47b-cd63c1621207",
        "type": "SQLEndpoint", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id": "a96893ec-bed6-4ead-928b-014d76e95d4d",
        "type": "Lakehouse", "displayName": "StagingLakehouseForDataflows_20260422150351",
        "description": "", "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33"},
        {"id": "b3e8d9ae-6502-4de0-8c3b-9735502c3fae", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5ed39720-cded-4055-a79c-2c911bffc8d1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/environments
  response:
    body:
      string: '{"id": "70cf9489-e10c-4c56-bd72-92ddb4b553a6", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 0cde95ff-fec1-4baa-821a-f97016c5f3a5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a51bcc7b-69a3-4eb3-8f82-3116023d555c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items/70cf9489-e10c-4c56-bd72-92ddb4b553a6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 41067ba5-3530-4699-bf40-01c149d34000
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
