interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "368f354f-9d92-4982-b04b-9c397928cdf0",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8f25a297-e1f7-49e7-b0ff-638f71b284ad
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/368f354f-9d92-4982-b04b-9c397928cdf0/items
  response:
    body:
      string: '{"value": [{"id": "c0655a25-e6f8-4858-b332-e84f704df3c0", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "368f354f-9d92-4982-b04b-9c397928cdf0"},
        {"id": "eb993493-fcab-4245-8f15-5b31d00680fb", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "368f354f-9d92-4982-b04b-9c397928cdf0"},
        {"id": "19c63aee-97f0-479d-8d5f-b90a4de61ccd", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260129064248", "description": "", "workspaceId":
        "368f354f-9d92-4982-b04b-9c397928cdf0"}, {"id": "8339a561-3c03-407d-b[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/368f354f-9d92-4982-b04b-9c397928cdf0/eventhouses
  response:
    body:
      string: '{"id": "46ec8cf3-b649-4c0e-a5bf-8082f2c8a062", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "368f354f-9d92-4982-b04b-9c397928cdf0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 78b679d1-8bbd-447d-8cbe-85f302973f07
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "46ec8cf3-b649-4c0e-a5bf-8082f2c8a062"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/368f354f-9d92-4982-b04b-9c397928cdf0/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3f03ae9f-ebc9-4067-bb00-fd467da161d2
      RequestId:
      - 06f5c7cf-31ba-48ae-a101-8037247b7167
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 3f03ae9f-ebc9-4067-bb00-fd467da161d2
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3f03ae9f-ebc9-4067-bb00-fd467da161d2
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-29T07:04:15.9636514",
        "lastUpdatedTimeUtc": "2026-01-29T07:04:20.7481481", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3f03ae9f-ebc9-4067-bb00-fd467da161d2/result
      RequestId:
      - 018d8921-c32e-44e0-a751-521401c5858e
      x-ms-operation-id:
      - 3f03ae9f-ebc9-4067-bb00-fd467da161d2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3f03ae9f-ebc9-4067-bb00-fd467da161d2/result
  response:
    body:
      string: '{"id": "1fa3b5bb-572a-4333-9b9a-46ea08e1bf27", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "368f354f-9d92-4982-b04b-9c397928cdf0"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c193d1d5-3e6a-4115-ac1f-fc41a1e9d029
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/368f354f-9d92-4982-b04b-9c397928cdf0/1fa3b5bb-572a-4333-9b9a-46ea08e1bf27/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "1fa3b5bb-572a-4333-9b9a-46ea08e1bf27/Shortcut",
        "isDirectory": "true", "creationTime": "134141438561757528", "lastModified":
        "Thu, 29 Jan 2026 07:04:16 GMT", "etag": "0x8DE5F049D992958", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "1fa3b5bb-572a-4333-9b9a-46ea08e1bf27/Tables",
        "isDirectory": "true", "creationTime": "134141438561628628", "lastModified":
        "Thu, 29 Jan 2026 07:04:16 GMT", "etag": "0x8DE5F049D9731D4", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/368f354f-9d92-4982-b04b-9c397928cdf0/items/1fa3b5bb-572a-4333-9b9a-46ea08e1bf27
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - fb468ad8-daef-4df5-99fa-95e4b1d99640
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
