interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "58518f68-697f-42d5-82a3-9d87fdfa4e36", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d9bfb41d-fa73-40bb-942f-34301f7cf5e2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/58518f68-697f-42d5-82a3-9d87fdfa4e36/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 56f8a7f0-2098-4c5f-8a9d-1369c646df72
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLQueryset", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/58518f68-697f-42d5-82a3-9d87fdfa4e36/kqlQuerysets
  response:
    body:
      string: '{"id": "ac090122-f50a-4de2-a55f-722c09fcd0f8", "type": "KQLQueryset",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "58518f68-697f-42d5-82a3-9d87fdfa4e36"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 27e09a95-997d-49e4-bc8a-6678e9724e38
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/58518f68-697f-42d5-82a3-9d87fdfa4e36/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6993c0a8-215e-45e9-a9ed-3d746875e120
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/58518f68-697f-42d5-82a3-9d87fdfa4e36/items/97117a18-970d-4428-b1b8-f60117fb0e3d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4af3fa4a-50ab-43b0-95f7-77beeb2699fe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/58518f68-697f-42d5-82a3-9d87fdfa4e36/items/ac090122-f50a-4de2-a55f-722c09fcd0f8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ddb7b9b8-4e0d-49c4-9402-3cfa4c159ca1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
