interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a8da376c-5ff3-46bc-8818-6f57de6811dc",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9c48377c-4080-4e8e-ab03-6590e4954a61
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/items
  response:
    body:
      string: '{"value": [{"id": "fdaaf72d-2f8a-43f3-b6d1-a6bd6e49d57a", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "a8da376c-5ff3-46bc-8818-6f57de6811dc"}, {"id": "5b59921f-8457-404e-a478-4374f41636fd",
        "type": "DigitalTwinBuilder", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}, {"id": "2601a687-3e42-4fb1-84cf-1064dfdf11e1",
        "type": "Lakehouse", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}, {"id": "100e88ce-45f8-4004-9d04-91e78f326b86",
        "type": "DigitalTwinBuilderFlow", "displayName": "fabcli000001_autoOnDemand",
        "description": "", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 54aefc0c-b6ab-41d9-99be-daf05cd1744e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6981d2a5-96da-4de5-bcf0-b8df5b7134fb
      RequestId:
      - bd7bbd7e-dee4-44d3-b487-c619179f3f19
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 6981d2a5-96da-4de5-bcf0-b8df5b7134fb
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6981d2a5-96da-4de5-bcf0-b8df5b7134fb
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:59:13.6522409",
        "lastUpdatedTimeUtc": "2026-05-13T06:59:20.0360584", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6981d2a5-96da-4de5-bcf0-b8df5b7134fb/result
      RequestId:
      - 55051e98-a204-4a93-8ce4-3b54a2502d83
      x-ms-operation-id:
      - 6981d2a5-96da-4de5-bcf0-b8df5b7134fb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6981d2a5-96da-4de5-bcf0-b8df5b7134fb/result
  response:
    body:
      string: '{"id": "4b68b678-df10-4023-8e44-51f620be4cbf", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "a8da376c-5ff3-46bc-8818-6f57de6811dc"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 29b397cb-7595-41f2-a29a-46d2bcf52271
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a5d85718-1213-4d89-8bf2-6c27cc1bcc24
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a8da376c-5ff3-46bc-8818-6f57de6811dc/items/4b68b678-df10-4023-8e44-51f620be4cbf
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 08874af0-7f74-49f3-9a63-606cbfdada75
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
