interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5761b945-b707-4180-b20d-5f0615d2295a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 219ef9bb-2131-4138-b722-daa636fdb20e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a05e93b2-e3b4-4efd-8c6a-65035e268743
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/19c4476b-de9c-449c-874b-0d157a2f795d
      RequestId:
      - 9504f95c-750b-4c53-b19d-a79aaff547c8
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 19c4476b-de9c-449c-874b-0d157a2f795d
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/19c4476b-de9c-449c-874b-0d157a2f795d
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-09T07:10:58.8710855",
        "lastUpdatedTimeUtc": "2026-09-09T07:10:58.8710855", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/19c4476b-de9c-449c-874b-0d157a2f795d
      RequestId:
      - c56a7ccd-5b6b-4ddf-a36d-7674d7f58a2b
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 19c4476b-de9c-449c-874b-0d157a2f795d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/19c4476b-de9c-449c-874b-0d157a2f795d/result
  response:
    body:
      string: '{"id": "e992b602-7b2d-4ad2-ba30-47b3bff649bb", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "5761b945-b707-4180-b20d-5f0615d2295a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b8a950b8-7ee7-47f5-8e20-a54d4d544cd5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9329b29f-f894-45d9-9b0d-e97b7decb58c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/items/49a7e0e2-208c-4063-b63e-c8ea177ef4e4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8cd109a3-0c3b-45a6-aee1-f6f5e6807047
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5761b945-b707-4180-b20d-5f0615d2295a/items/e992b602-7b2d-4ad2-ba30-47b3bff649bb
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 75ff91d0-e1dc-4e6f-a11b-0f73f1eac277
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
