interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4cb4cf65-b25e-450e-8afc-8f600b1ce932",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7c5c7410-0fea-48e2-974f-9bc51c9becdf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cb4cf65-b25e-450e-8afc-8f600b1ce932/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - aaaeca84-8279-4fd6-9ddc-fe197b1d440b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cb4cf65-b25e-450e-8afc-8f600b1ce932/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/46553a5e-a6d0-4cbf-aa84-1cf77141d54c
      RequestId:
      - f182ac8e-d8b1-4600-b415-b97e34802487
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 46553a5e-a6d0-4cbf-aa84-1cf77141d54c
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/46553a5e-a6d0-4cbf-aa84-1cf77141d54c
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:03:48.4061159",
        "lastUpdatedTimeUtc": "2026-05-13T07:03:58.3630673", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/46553a5e-a6d0-4cbf-aa84-1cf77141d54c/result
      RequestId:
      - 0aa85138-0143-45b5-95bd-b5db6285a6d1
      x-ms-operation-id:
      - 46553a5e-a6d0-4cbf-aa84-1cf77141d54c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/46553a5e-a6d0-4cbf-aa84-1cf77141d54c/result
  response:
    body:
      string: '{"id": "1151b062-a0d0-4724-9e6d-2b8b3070790b", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "4cb4cf65-b25e-450e-8afc-8f600b1ce932"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - fd961bfd-8112-400c-a00b-34206cf5b7cb
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "1151b062-a0d0-4724-9e6d-2b8b3070790b", "workspaceId": "4cb4cf65-b25e-450e-8afc-8f600b1ce932"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cb4cf65-b25e-450e-8afc-8f600b1ce932/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "16719142-84c1-4524-aba1-9fae55e8c615", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "4cb4cf65-b25e-450e-8afc-8f600b1ce932"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 8ed74357-97af-46d9-b5ae-94db76e1a512
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cb4cf65-b25e-450e-8afc-8f600b1ce932/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d873e5f4-3410-4285-bef3-011fd20fde2c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4cb4cf65-b25e-450e-8afc-8f600b1ce932/items/16719142-84c1-4524-aba1-9fae55e8c615
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - bea49643-3f64-42f5-8f4f-423902805240
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
