interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 758168c3-c0e8-401e-a9fc-d8880e48ec17
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/items
  response:
    body:
      string: '{"value": [{"id": "07ddbef4-51a4-4f68-b867-dee484fee4db", "type": "SQLEndpoint",
        "displayName": "fabcli000002dtdm", "description": "", "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448",
        "folderId": "7f1398f8-ce3e-458d-8d7d-64cc12323360"}, {"id": "174ed7b9-b0bf-4d7b-b2c0-d723c5ad0a90",
        "type": "SQLEndpoint", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448"}, {"id": "52ad477f-c60f-47c5-ab07-daa8e1afdbcd",
        "type": "SQLEndpoint", "displayName": "fabcli000002dtdm", "description": "",
        "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448"}, {"id": "21ba9137-da9e-4275-add7-463bb8d5a0c4",
        "type": "SQ[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders?recursive=True
  response:
    body:
      string: '{"value": [{"id": "7f1398f8-ce3e-458d-8d7d-64cc12323360", "displayName":
        "fabcli000001", "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8303977e-ea2b-4387-b92d-4f37eaa36c6e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9062ca3f-2d8b-4340-ad37-e3101decdbdf
      RequestId:
      - c4046bf3-5654-493c-a8fd-f14e3e287457
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9062ca3f-2d8b-4340-ad37-e3101decdbdf
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9062ca3f-2d8b-4340-ad37-e3101decdbdf
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T10:17:42.4983345",
        "lastUpdatedTimeUtc": "2026-02-03T10:17:48.2817221", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9062ca3f-2d8b-4340-ad37-e3101decdbdf/result
      RequestId:
      - 06de49dc-3224-48d1-9707-264e87ce4795
      x-ms-operation-id:
      - 9062ca3f-2d8b-4340-ad37-e3101decdbdf
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9062ca3f-2d8b-4340-ad37-e3101decdbdf/result
  response:
    body:
      string: '{"id": "c3794aa2-b76e-4045-8264-df225295ca95", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "d4491e7b-5a69-4ba5-bedf-3d0b9560a448"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 7aa94aab-61d9-4afa-b0e2-ed6b2ad62cf5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders?recursive=True
  response:
    body:
      string: '{"requestId": "9dc0004f-de7e-4239-804b-d5781a068ed6", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/3/2026 10:18:30 AM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9dc0004f-de7e-4239-804b-d5781a068ed6
      Retry-After:
      - '22'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/items/c3794aa2-b76e-4045-8264-df225295ca95
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 37ef420b-65fa-4a78-b9f0-a71eff128265
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
