interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "f1b98cd9-3c32-4456-940d-0966cbde7f51", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 060451fe-2bc8-45a6-92db-f914d663dbd7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f2e737a5-7ec1-49f6-a394-e06635b952b5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/eventhouses
  response:
    body:
      string: '{"id": "e57fb6a6-275c-4c2e-9f13-c54c8373430e", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "f1b98cd9-3c32-4456-940d-0966cbde7f51"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 752a47ee-6638-407d-a484-41312875065f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "e57fb6a6-275c-4c2e-9f13-c54c8373430e"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9ebe58af-e2f1-4903-8455-62573ad40789
      RequestId:
      - 133034eb-5788-4098-bfed-ea2b5673bff4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9ebe58af-e2f1-4903-8455-62573ad40789
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9ebe58af-e2f1-4903-8455-62573ad40789
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-16T13:36:52.3464375",
        "lastUpdatedTimeUtc": "2026-01-16T13:36:57.0342929", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9ebe58af-e2f1-4903-8455-62573ad40789/result
      RequestId:
      - 421e471d-d7a1-4fcc-8e7a-f3b734fed888
      x-ms-operation-id:
      - 9ebe58af-e2f1-4903-8455-62573ad40789
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9ebe58af-e2f1-4903-8455-62573ad40789/result
  response:
    body:
      string: '{"id": "c1ef8551-3105-4e4e-bfcd-37e18547c170", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "f1b98cd9-3c32-4456-940d-0966cbde7f51"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 6376b73a-9fe4-441b-bc45-2f42b46bbb69
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/f1b98cd9-3c32-4456-940d-0966cbde7f51/c1ef8551-3105-4e4e-bfcd-37e18547c170/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "c1ef8551-3105-4e4e-bfcd-37e18547c170/Shortcut",
        "isDirectory": "true", "creationTime": "134130442124371212", "lastModified":
        "Fri, 16 Jan 2026 13:36:52 GMT", "etag": "0x8DE55044EDAA50C", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "c1ef8551-3105-4e4e-bfcd-37e18547c170/Tables",
        "isDirectory": "true", "creationTime": "134130442124229772", "lastModified":
        "Fri, 16 Jan 2026 13:36:52 GMT", "etag": "0x8DE55044ED87C8C", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/items/c1ef8551-3105-4e4e-bfcd-37e18547c170
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b9193f29-cecb-4462-810f-349756982d9c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
