interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "983d6c2b-ac95-468f-8085-6663983fc4fb", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4e517f50-2d7f-4f20-aae3-1d5e6de1d1d3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fc275b97-c322-4d7c-88c6-4dadc5ad76e2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders?recursive=True
  response:
    body:
      string: '{"requestId": "8581f8df-f696-4273-a8ab-67ef9c0b617d", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        1/16/2026 1:54:40 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8581f8df-f696-4273-a8ab-67ef9c0b617d
      Retry-After:
      - '45'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders
  response:
    body:
      string: '{"id": "21b96f86-442d-4d72-8b3f-00e05619ecc3", "displayName": "fabcli000001",
        "workspaceId": "983d6c2b-ac95-468f-8085-6663983fc4fb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders/21b96f86-442d-4d72-8b3f-00e05619ecc3
      RequestId:
      - b19e473e-2b32-4779-b6ad-c413fe6e7292
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dd97b6d0-80a1-4338-9c45-46de91c39591
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Eventstream", "folderId": "21b96f86-442d-4d72-8b3f-00e05619ecc3"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/eventstreams
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ed9d5b51-1edd-47ba-beb4-0206f705cfcd
      RequestId:
      - a8274e49-5dc1-4fd8-b7e2-1d29af9c5f45
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ed9d5b51-1edd-47ba-beb4-0206f705cfcd
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ed9d5b51-1edd-47ba-beb4-0206f705cfcd
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-16T13:54:47.5145175",
        "lastUpdatedTimeUtc": "2026-01-16T13:54:59.0187885", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ed9d5b51-1edd-47ba-beb4-0206f705cfcd/result
      RequestId:
      - 04034fdd-c97b-4333-abb4-456fc8ff7398
      x-ms-operation-id:
      - ed9d5b51-1edd-47ba-beb4-0206f705cfcd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ed9d5b51-1edd-47ba-beb4-0206f705cfcd/result
  response:
    body:
      string: '{"id": "d61dd9d9-b0c2-4ccc-9af7-911f9392c79e", "type": "Eventstream",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "983d6c2b-ac95-468f-8085-6663983fc4fb", "folderId": "21b96f86-442d-4d72-8b3f-00e05619ecc3"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 2f287f1d-cae9-4d5b-b139-7eb0d82de8b7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/items/d61dd9d9-b0c2-4ccc-9af7-911f9392c79e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2e5268c6-d113-45a7-abcf-0e7ce6816a17
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders/21b96f86-442d-4d72-8b3f-00e05619ecc3
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 19effd92-107a-43de-ac86-2f79550fe2dd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
