interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "948bd34e-8e3c-44cc-9879-8d3e3fa54394",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 255fe822-655e-4674-af9a-2a6d1ac37fc7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394/items
  response:
    body:
      string: '{"value": [{"id": "f737f665-ef30-44a8-b8e8-b6992434ec8a", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "948bd34e-8e3c-44cc-9879-8d3e3fa54394"},
        {"id": "f16f4cd1-8976-4bae-a902-dae7b27fa776", "type": "SQLEndpoint", "displayName":
        "fabcli000002dtdm", "description": "", "workspaceId": "948bd34e-8e3c-44cc-9879-8d3e3fa54394"},
        {"id": "6451357f-5a1d-49d8-9bcb-76bd62a949bc", "type": "SQLEndpoint", "displayName":
        "fabcli000003dtdm", "description": "", "workspaceId": "948bd34e-8e3c-44cc-9879-8d3e3fa54394"},
        {"id": "230c3fb5-2f7f-4db7-9e70-3abf5e8d239d", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "948bd34e-8e3c-44cc-9879-8d3e3fa54394"},
        {"id": "ca4751f5-c64f-4d24-9116-2b9ea51b3490", "type": "Lakehouse", "displayName":
        "fabcli000002dtdm", "description": "", "workspaceId": "948bd34e-8e3c-44cc-9879-8d3e3fa54394"},
        {"id": "22e81d9b-8630-45ed-8c1b-3195858c8117", "type": "Lakehouse", "displayName":
        "fabcli000003dtdm", "description": "", "workspaceId": "948bd34e-8e3c-44cc-9879-8d3e3fa54394"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d8c532d4-5978-4c41-a389-3119864ce4a9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/20a91c0c-62f2-4f87-a96b-adafcfbf5156
      RequestId:
      - 01a27483-8790-4afe-91e4-c730a2f1855b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 20a91c0c-62f2-4f87-a96b-adafcfbf5156
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/20a91c0c-62f2-4f87-a96b-adafcfbf5156
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T09:20:17.0516056",
        "lastUpdatedTimeUtc": "2026-03-31T09:20:24.3130122", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/20a91c0c-62f2-4f87-a96b-adafcfbf5156/result
      RequestId:
      - 5c15c9aa-b690-4b1a-8c0c-7f49fb4c9b2b
      x-ms-operation-id:
      - 20a91c0c-62f2-4f87-a96b-adafcfbf5156
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/20a91c0c-62f2-4f87-a96b-adafcfbf5156/result
  response:
    body:
      string: '{"id": "9826ffa7-962e-47d8-9d6b-271fe0b97eef", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "workspaceId":
        "948bd34e-8e3c-44cc-9879-8d3e3fa54394"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 29124f4f-2a06-4fd1-acda-6e497c7cc902
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 88bbcedd-0e2b-4b39-99b8-88ed0eb92218
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394/items/9826ffa7-962e-47d8-9d6b-271fe0b97eef
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1a4a10b7-b726-4845-8b54-25fb5bf68706
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
