interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "ebe5f85c-0343-4508-9d2d-a8299cfea504",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 55f8bfe4-bb1e-465b-9dcd-1cb3a63880bc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/ebe5f85c-0343-4508-9d2d-a8299cfea504/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4f5ae9e2-7742-4c77-975c-fd2ad45d2b32
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/ebe5f85c-0343-4508-9d2d-a8299cfea504/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/63929cb5-7fa5-465f-a0e2-a3face99ed7c
      RequestId:
      - 0c3dabd2-1527-4793-9ed4-2e636f01e1ad
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 63929cb5-7fa5-465f-a0e2-a3face99ed7c
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/63929cb5-7fa5-465f-a0e2-a3face99ed7c
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-05T13:48:23.0289402",
        "lastUpdatedTimeUtc": "2026-02-05T13:48:30.9526521", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/63929cb5-7fa5-465f-a0e2-a3face99ed7c/result
      RequestId:
      - f0130760-7feb-4a48-879a-3ec9eb8848cf
      x-ms-operation-id:
      - 63929cb5-7fa5-465f-a0e2-a3face99ed7c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/63929cb5-7fa5-465f-a0e2-a3face99ed7c/result
  response:
    body:
      string: '{"id": "2f44c7e8-2115-42c9-9a36-ead109a31299", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "ebe5f85c-0343-4508-9d2d-a8299cfea504"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 893939d1-a76d-4af1-a1c0-4b02bebfaa2f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/ebe5f85c-0343-4508-9d2d-a8299cfea504/2f44c7e8-2115-42c9-9a36-ead109a31299/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "2f44c7e8-2115-42c9-9a36-ead109a31299/Audit", "isDirectory":
        "true", "creationTime": "134147729034614848", "lastModified": "Thu, 05 Feb
        2026 13:48:23 GMT", "etag": "0x8DE64BD3AFF9840", "contentLength": "0", "owner":
        "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "2f44c7e8-2115-42c9-9a36-ead109a31299/Code",
        "isDirectory": "true", "creationTime": "134147729034976284", "lastModified":
        "Thu, 05 Feb 2026 13:48:23 GMT", "etag": "0x8DE64BD3B051C1C", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "2f44c7e8-2115-42c9-9a36-ead109a31299/Files",
        "isDirectory": "true", "creationTime": "134147729034805364", "lastModified":
        "Thu, 05 Feb 2026 13:48:23 GMT", "etag": "0x8DE64BD3B028074", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "2f44c7e8-2115-42c9-9a36-ead109a31299/Tables",
        "isDirectory": "true", "creationTime": "134147729034890928", "lastModified":
        "Thu, 05 Feb 2026 13:48:23 GMT", "etag": "0x8DE64BD3B03CEB0", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/ebe5f85c-0343-4508-9d2d-a8299cfea504/items/2f44c7e8-2115-42c9-9a36-ead109a31299
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 57594f39-dd21-425b-bb76-1d1f5982420f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
