interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a32f2c4b-828b-4897-8b4b-9225c45db8d6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cd06381f-9c95-41e6-92ff-54978c796542
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a32f2c4b-828b-4897-8b4b-9225c45db8d6/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1a6e6c04-8c0b-4782-b958-ec1b0a00f2a8
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a32f2c4b-828b-4897-8b4b-9225c45db8d6/lakehouses
  response:
    body:
      string: '{"id": "24a235a7-95ef-4f74-a7c7-155ff42c2128", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "a32f2c4b-828b-4897-8b4b-9225c45db8d6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4a441d95-4039-46fb-b91d-3d4e99f3e9f3
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"paths": ["Files/images/taxi_zone_map_bronx.jpg"], "recipient": {"userprincipalname":
      "lisa@fabrikam.com", "tenantid": "c51dc03f-268a-4da0-a879-25f24947ab8b"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a32f2c4b-828b-4897-8b4b-9225c45db8d6/items/24a235a7-95ef-4f74-a7c7-155ff42c2128/externalDataShares
  response:
    body:
      string: '{"id": "f873f627-4935-401d-9585-963ebbe2d57c", "paths": ["https://onelake.dfs.fabric.microsoft.com/a32f2c4b-828b-4897-8b4b-9225c45db8d6/24a235a7-95ef-4f74-a7c7-155ff42c2128/Files/images/taxi_zone_map_bronx.jpg"],
        "creatorPrincipal": {"id": "00000000-0000-0000-0000-000000000001", "type":
        "User"}, "recipient": {"userPrincipalName": "lisa@fabrikam.com", "tenantId":
        "c51dc03f-268a-4da0-a879-25f24947ab8b"}, "status": "Pending", "expirationTimeUtc":
        "2025-12-07T17:18:15.2233333", "workspaceId": "a32f2c4b-828b-4897-8b4b-9225c45db8d6",
        "itemId": "24a235a7-95ef-4f74-a7c7-155ff42c2128", "invitationUrl": "mock_invitation_url"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1.0/workspaces/a32f2c4b-828b-4897-8b4b-9225c45db8d6/artifacts/24a235a7-95ef-4f74-a7c7-155ff42c2128/security/roles/f873f627-4935-401d-9585-963ebbe2d57c
      RequestId:
      - 82ddb6ea-7fa5-4338-bc73-f143f97c1a46
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a32f2c4b-828b-4897-8b4b-9225c45db8d6/items/24a235a7-95ef-4f74-a7c7-155ff42c2128/externalDataShares/f873f627-4935-401d-9585-963ebbe2d57c/revoke
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 18cc4c5b-a558-409c-896c-6166b3f94ca5
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a32f2c4b-828b-4897-8b4b-9225c45db8d6/items/24a235a7-95ef-4f74-a7c7-155ff42c2128
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d4596c26-5999-4b1b-b91f-32f82b17c751
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
