interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 03c6d2b0-c2ab-4b32-bd86-4fb45c582f61
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/items
  response:
    body:
      string: '{"value": [{"id": "07ddbef4-51a4-4f68-b867-dee484fee4db", "type": "SQLEndpoint",
        "displayName": "fabcli000002dtdm", "description": "", "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448",
        "folderId": "7f1398f8-ce3e-458d-8d7d-64cc12323360"}, {"id": "e7d29f13-3952-426c-b1d8-a06ca0a8728d",
        "type": "Lakehouse", "displayName": "fabcli000002dtdm", "description": "",
        "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448", "folderId": "7f1398f8-ce3e-458d-8d7d-64cc12323360"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3667e653-b10b-4533-8518-ee76242636b5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders?recursive=True
  response:
    body:
      string: '{"value": [{"id": "7f1398f8-ce3e-458d-8d7d-64cc12323360", "displayName":
        "fabcli000001", "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - be916a93-cdcf-4ed2-b482-33c2a88fbbaf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders?recursive=True
  response:
    body:
      string: '{"requestId": "575d7278-d6af-4b7f-a183-e9288f6ef4b4", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/3/2026 10:02:26 AM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 575d7278-d6af-4b7f-a183-e9288f6ef4b4
      Retry-After:
      - '43'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f5dd3e87-d259-4f1c-a606-b41bc5694730
      RequestId:
      - 7af020ca-cf32-4063-9fe2-31b562a5a1d4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - f5dd3e87-d259-4f1c-a606-b41bc5694730
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f5dd3e87-d259-4f1c-a606-b41bc5694730
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T10:02:31.7985941",
        "lastUpdatedTimeUtc": "2026-02-03T10:02:41.8797029", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f5dd3e87-d259-4f1c-a606-b41bc5694730/result
      RequestId:
      - 7a00ab60-82c8-4504-9dd3-2594f5311228
      x-ms-operation-id:
      - f5dd3e87-d259-4f1c-a606-b41bc5694730
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f5dd3e87-d259-4f1c-a606-b41bc5694730/result
  response:
    body:
      string: '{"id": "35153d16-63da-483f-a912-81ef467000f2", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "d4491e7b-5a69-4ba5-bedf-3d0b9560a448"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - bcf34116-2ab0-4a8e-a753-945311833e04
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/items/07be57a6-e839-45b4-a1fd-b65924787b01
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 19444edf-9648-4e1e-a2ed-6cb95c76f43c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/items/35153d16-63da-483f-a912-81ef467000f2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e3110377-9843-4052-a1f4-380b785687d2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
