interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "195a6bcb-bf4f-43ac-a63d-b8ef131a0de9",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2b892095-069e-4b60-99e2-6a33bfaa3038
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/195a6bcb-bf4f-43ac-a63d-b8ef131a0de9/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fe966c67-03d0-4805-979a-0e056e1ae2e4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/195a6bcb-bf4f-43ac-a63d-b8ef131a0de9/folders
  response:
    body:
      string: '{"id": "9da5df3e-7d89-4e85-bbc7-18b732e817cc", "displayName": "fabcli000001",
        "workspaceId": "195a6bcb-bf4f-43ac-a63d-b8ef131a0de9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/195a6bcb-bf4f-43ac-a63d-b8ef131a0de9/folders/9da5df3e-7d89-4e85-bbc7-18b732e817cc
      RequestId:
      - b30128b0-f181-4c23-b9b3-1c7bc65df941
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/195a6bcb-bf4f-43ac-a63d-b8ef131a0de9/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 77569734-74c3-4681-b3b8-24970726e7fe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "GraphQLApi", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/195a6bcb-bf4f-43ac-a63d-b8ef131a0de9/graphqlapis
  response:
    body:
      string: '{"id": "9c8a2508-4a1d-435b-93c8-d652830ca86a", "type": "GraphQLApi",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "195a6bcb-bf4f-43ac-a63d-b8ef131a0de9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 46c41d4f-1ab5-420e-8180-db66840b00fd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/195a6bcb-bf4f-43ac-a63d-b8ef131a0de9/folders?recursive=True
  response:
    body:
      string: '{"requestId": "49c8547a-c058-4e46-bad1-a403865536cf", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/5/2026 1:46:48 PM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 49c8547a-c058-4e46-bad1-a403865536cf
      Retry-After:
      - '37'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/195a6bcb-bf4f-43ac-a63d-b8ef131a0de9/items/508dfb8b-cdc3-49f5-b6ee-2c737ab114cb
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - efb8ee53-418b-435b-abb0-7fa7014e35a1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/195a6bcb-bf4f-43ac-a63d-b8ef131a0de9/folders/9da5df3e-7d89-4e85-bbc7-18b732e817cc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d438a4ab-788c-4c5c-901a-84680c7a24ab
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
