interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 691dc2b1-318e-40c0-915e-fd03a39e3aa9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/items
  response:
    body:
      string: '{"value": [{"id": "29d21a30-b92a-4715-bc05-a3950044cd63", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"},
        {"id": "a388c286-a5e2-49fe-a4d1-7ad47c829f26", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260116114754", "description": "", "workspaceId":
        "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"}, {"id": "a374ddb6-fbd3-49d9-bd8f-ab7a05c6d2eb",
        "type": "Lakehouse", "displayName": "StagingLakehouseForDataflows_20260116114754",
        "description": "", "workspaceId": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a02cb9f7-a449-4b52-8296-66cf4b88c330
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Reflex", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/reflexes
  response:
    body:
      string: '{"id": "478f3fcb-a052-4ad8-9fef-c818dcac3285", "type": "Reflex", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e7fefed3-3ea4-45e8-9f83-1bcf258896bf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d467b250-41bd-4701-ae1b-303037c19b59
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/items/478f3fcb-a052-4ad8-9fef-c818dcac3285
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 63ba8941-ac8e-48fd-8b4b-4b69cc427300
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
