interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7db38657-dc93-43e0-a2e0-57172ba89708",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3e9617d6-1e38-475d-8217-f6e06532f2a6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/items
  response:
    body:
      string: '{"value": [{"id": "8ec3ea7b-5764-4097-98e4-0c221377cb79", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708"},
        {"id": "7a5395b6-63ef-4d98-bac4-2c2347120532", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708"},
        {"id": "a28b6612-8748-4920-985c-4b68ceaa6890", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260427042210", "description": "", "workspaceId":
        "7db38657-dc93-43e0-a2e0-57172ba89708"}, {"id": "588186af-80ba-451f-8[...]
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/lakehouses
  response:
    body:
      string: '{"id": "58bee61f-5197-4d97-8077-0123f23b416d", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "", "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 388bdf76-ecb4-41fb-a70b-a91cad1c881f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"paths": ["Files/images/taxi_zone_map_bronx.jpg"], "recipient": {"userprincipalname":
      "lisa@fabrikam.com", "tenantid": "c51dc03f-268a-4da0-a879-25f24947ab8b"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/items/58bee61f-5197-4d97-8077-0123f23b416d/externalDataShares
  response:
    body:
      string: '{"id": "43ca3663-135a-4e84-8d27-b87064bc8d8b", "paths": ["Files/images/taxi_zone_map_bronx.jpg"],
        "creatorPrincipal": {"id": "00000000-0000-0000-0000-000000000001", "type":
        "User"}, "recipient": {"type": "User", "userPrincipalName": "lisa@fabrikam.com",
        "tenantId": "c51dc03f-268a-4da0-a879-25f24947ab8b"}, "status": "Pending",
        "expirationTimeUtc": "2026-07-26T04:56:18.28", "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708",
        "itemId": "58bee61f-5197-4d97-8077-0123f23b416d", "invitationUrl": "mock_invitation_url"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1.0/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/artifacts/58bee61f-5197-4d97-8077-0123f23b416d/security/roles/43ca3663-135a-4e84-8d27-b87064bc8d8b
      RequestId:
      - dae0a635-33c6-4da6-a152-57a0903b3793
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/items/9b58b089-f1a5-4e08-9155-0e73fd3765c8/externalDataShares
  response:
    body:
      string: '{"requestId": "2e996696-3526-47e4-8000-d506171acc25", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        4/27/2026 4:57:01 AM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2e996696-3526-47e4-8000-d506171acc25
      Retry-After:
      - '36'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/items/58bee61f-5197-4d97-8077-0123f23b416d/externalDataShares/43ca3663-135a-4e84-8d27-b87064bc8d8b/revoke
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e4d56f6e-2ab2-4303-af99-067eedd83c1d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/items/58bee61f-5197-4d97-8077-0123f23b416d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2b42b2c8-f467-4545-a25d-a38fc6400858
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
