interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "368f354f-9d92-4982-b04b-9c397928cdf0",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 18102875-73fc-466b-8f48-9aacdb9fcf34
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4f35bc26-e950-4c8d-bc2a-9f8259cfeab3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/folders
  response:
    body:
      string: '{"id": "823c16df-a7a4-4031-b05b-25ded7526be5", "displayName": "fabcli000001",
        "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/folders/823c16df-a7a4-4031-b05b-25ded7526be5
      RequestId:
      - f0df553f-03b3-4294-80c1-4d62e4c4b0e7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items
  response:
    body:
      string: '{"value": [{"id": "c0655a25-e6f8-4858-b332-e84f704df3c0", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "368f354f-9d92-4982-b04b-9c397928cdf0"},
        {"id": "eb993493-fcab-4245-8f15-5b31d00680fb", "type":[...]
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "SQLDatabase", "folderId": "b0c094e3-85bc-43e1-82a5-8fd1b7650dc0"}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7fb1f666-28c2-45a7-b488-8cfde7780ed0
      RequestId:
      - 133333e8-a67b-4750-a898-6d7f52ce9876
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7fb1f666-28c2-45a7-b488-8cfde7780ed0
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7fb1f666-28c2-45a7-b488-8cfde7780ed0
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-22T15:59:02.1146421",
        "lastUpdatedTimeUtc": "2026-04-22T15:59:15.7096481", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7fb1f666-28c2-45a7-b488-8cfde7780ed0/result
      RequestId:
      - a5012d92-4c34-45cb-b8e0-350916ae70bc
      x-ms-operation-id:
      - 7fb1f666-28c2-45a7-b488-8cfde7780ed0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7fb1f666-28c2-45a7-b488-8cfde7780ed0/result
  response:
    body:
      string: '{"id": "73f8c925-9398-4598-a708-6ea18d9ca0d4", "type": "SQLDatabase",
        "displayName": "fabcli000002", "workspaceId":
        "368f354f-9d92-4982-b04b-9c397928cdf0", "folderId": "b0c094e3-85bc-43e1-82a5-8fd1b7650dc0"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 1fad6049-5f2f-4bbf-82fb-a683468844cb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items/97571dce-4fb0-4b59-b446-7d6c56b995b2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5980b9a5-7397-4f09-89ce-60723bf8760e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/folders/823c16df-a7a4-4031-b05b-25ded7526be5
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - be559efa-36a0-4e51-abe2-71a995f1a7d2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
