interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5851e120-e7a6-42af-88dd-bce869ab9495",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 52ed0e12-67ca-4d19-807d-c90e37fa536c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5851e120-e7a6-42af-88dd-bce869ab9495/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6b1c17b9-3aa5-4122-aa05-733ce33ca3d0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5851e120-e7a6-42af-88dd-bce869ab9495/folders
  response:
    body:
      string: '{"id": "14d9606e-0955-4244-a90e-cf1573da1a36", "displayName": "fabcli000001",
        "workspaceId": "5851e120-e7a6-42af-88dd-bce869ab9495"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/5851e120-e7a6-42af-88dd-bce869ab9495/folders/14d9606e-0955-4244-a90e-cf1573da1a36
      RequestId:
      - e6c3d5e3-cbeb-466e-a4d5-8732a3b4e8a0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5851e120-e7a6-42af-88dd-bce869ab9495/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 39f7c8cc-32a2-40ce-b66d-a2484d975677
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5851e120-e7a6-42af-88dd-bce869ab9495/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3d80a608-f3d6-4ec0-a04c-f807266f1e83
      RequestId:
      - 015bfdb6-0f94-4dce-9e85-0bd15e2ef67b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 3d80a608-f3d6-4ec0-a04c-f807266f1e83
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3d80a608-f3d6-4ec0-a04c-f807266f1e83
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-05T13:30:08.9007664",
        "lastUpdatedTimeUtc": "2026-02-05T13:30:28.2930999", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3d80a608-f3d6-4ec0-a04c-f807266f1e83/result
      RequestId:
      - f7dc5753-ad8d-496d-8062-d34371b0e8fb
      x-ms-operation-id:
      - 3d80a608-f3d6-4ec0-a04c-f807266f1e83
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3d80a608-f3d6-4ec0-a04c-f807266f1e83/result
  response:
    body:
      string: '{"id": "ec21dacf-9b0f-4564-bdb6-88137db67a99", "type": "SQLDatabase",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "5851e120-e7a6-42af-88dd-bce869ab9495"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 472ad46d-e514-48dd-abc8-80bfba0efad4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5851e120-e7a6-42af-88dd-bce869ab9495/items/7eceafc0-a5fd-4146-9bbd-6c118e6518fa
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 47ed105d-caff-422a-bdfe-887f6e6d7d3c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5851e120-e7a6-42af-88dd-bce869ab9495/folders?recursive=True
  response:
    body:
      string: '{"requestId": "c6cf4e05-f4e7-45e4-b03e-55550d1f7c9a", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/5/2026 1:32:05 PM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c6cf4e05-f4e7-45e4-b03e-55550d1f7c9a
      Retry-After:
      - '44'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5851e120-e7a6-42af-88dd-bce869ab9495/folders/14d9606e-0955-4244-a90e-cf1573da1a36
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f44367bc-5c62-41ca-9db2-7583b128c710
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
