interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7db38657-dc93-43e0-a2e0-57172ba89708",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 84e4623a-41c2-45ca-aec1-3d8b3d5e5424
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/items
  response:
    body:
      string: '{"value": [{"id": "8ec3ea7b-5764-4097-98e4-0c221377cb79", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708"},
        {"id": "7a5395b6-63ef-4d98-bac4-2c2347120532", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708"},
        {"id": "a28b6612-8748-4920-985c-4b68ceaa6890", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260427042210", "description": "", "workspaceId":
        "7db38657-dc93-43e0-a2e0-57172ba89708"}, {"id": "588186af-80ba-451f-8[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "CosmosDBDatabase", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c3b48428-ba10-4be7-aeeb-3e2351a500fd
      RequestId:
      - 78b3d578-efdd-49bc-838b-eb66560faa22
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - c3b48428-ba10-4be7-aeeb-3e2351a500fd
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c3b48428-ba10-4be7-aeeb-3e2351a500fd
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-27T04:50:34.170233",
        "lastUpdatedTimeUtc": "2026-04-27T04:50:40.4381382", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c3b48428-ba10-4be7-aeeb-3e2351a500fd/result
      RequestId:
      - ca01719e-1688-415d-881c-dcb815596706
      x-ms-operation-id:
      - c3b48428-ba10-4be7-aeeb-3e2351a500fd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c3b48428-ba10-4be7-aeeb-3e2351a500fd/result
  response:
    body:
      string: '{"id": "80a37716-922d-48ea-b6c3-d967b1e18a2d", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7db38657-dc93-43e0-a2e0-57172ba89708"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b17706ca-aa36-4062-a149-4070dd0cf0e1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/7db38657-dc93-43e0-a2e0-57172ba89708/80a37716-922d-48ea-b6c3-d967b1e18a2d/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "80a37716-922d-48ea-b6c3-d967b1e18a2d/Audit", "isDirectory":
        "true", "creationTime": "134217390345278456", "lastModified": "Mon, 27 Apr
        2026 04:50:34 GMT", "etag": "0x8DEA41884ACD3F8", "contentLength": "0", "owner":
        "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "80a37716-922d-48ea-b6c3-d967b1e18a2d/Code",
        "isDirectory": "true", "creationTime": "134217390345802808", "lastModified":
        "Mon, 27 Apr 2026 04:50:34 GMT", "etag": "0x8DEA41884B4D438", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "80a37716-922d-48ea-b6c3-d967b1e18a2d/Files",
        "isDirectory": "true", "creationTime": "134217390345550208", "lastModified":
        "Mon, 27 Apr 2026 04:50:34 GMT", "etag": "0x8DEA41884B0F980", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "80a37716-922d-48ea-b6c3-d967b1e18a2d/Tables",
        "isDirectory": "true", "creationTime": "134217390345677576", "lastModified":
        "Mon, 27 Apr 2026 04:50:34 GMT", "etag": "0x8DEA41884B2EB08", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7db38657-dc93-43e0-a2e0-57172ba89708/items/80a37716-922d-48ea-b6c3-d967b1e18a2d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c196c0ba-e035-4de9-abb0-441cb4e4ba9f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
