interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "f1b98cd9-3c32-4456-940d-0966cbde7f51", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ae77ccc7-596d-4e0f-8d44-706946b79125
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/items
  response:
    body:
      string: '{"value": [{"id": "e57fb6a6-275c-4c2e-9f13-c54c8373430e", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "f1b98cd9-3c32-4456-940d-0966cbde7f51"}, {"id": "03930dd6-ed3e-46d1-b914-b431c7b6a0a2",
        "type": "KQLDatabase", "displayName": "fabcli000001_auto", "description":
        "fabcli000001_auto", "workspaceId": "f1b98cd9-3c32-4456-940d-0966cbde7f51"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3f7d0825-2fc1-4cb8-9888-01c5a8e5827c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/070e6568-2020-403f-b897-fa1ecc7e0c2a
      RequestId:
      - 30749b53-eb52-4098-bd36-be7435e63f6e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 070e6568-2020-403f-b897-fa1ecc7e0c2a
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/070e6568-2020-403f-b897-fa1ecc7e0c2a
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-16T13:37:28.4324642",
        "lastUpdatedTimeUtc": "2026-01-16T13:37:45.1559966", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/070e6568-2020-403f-b897-fa1ecc7e0c2a/result
      RequestId:
      - 4ac6543e-665d-4955-b880-d1ec75ee5d8d
      x-ms-operation-id:
      - 070e6568-2020-403f-b897-fa1ecc7e0c2a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/070e6568-2020-403f-b897-fa1ecc7e0c2a/result
  response:
    body:
      string: '{"id": "4292d1db-d709-4d0b-93d5-8030820a2b8a", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "f1b98cd9-3c32-4456-940d-0966cbde7f51"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 3ec82dce-c381-49ce-836f-8631f5f9d2b1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/f1b98cd9-3c32-4456-940d-0966cbde7f51/4292d1db-d709-4d0b-93d5-8030820a2b8a/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "4292d1db-d709-4d0b-93d5-8030820a2b8a/Audit", "isDirectory":
        "true", "creationTime": "134130442488513888", "lastModified": "Fri, 16 Jan
        2026 13:37:28 GMT", "etag": "0x8DE5504648F0560", "contentLength": "0", "owner":
        "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "4292d1db-d709-4d0b-93d5-8030820a2b8a/Code",
        "isDirectory": "true", "creationTime": "134130442488909680", "lastModified":
        "Fri, 16 Jan 2026 13:37:28 GMT", "etag": "0x8DE550464950F70", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "4292d1db-d709-4d0b-93d5-8030820a2b8a/Files",
        "isDirectory": "true", "creationTime": "134130442488722364", "lastModified":
        "Fri, 16 Jan 2026 13:37:28 GMT", "etag": "0x8DE5504649233BC", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "4292d1db-d709-4d0b-93d5-8030820a2b8a/Tables",
        "isDirectory": "true", "creationTime": "134130442488815308", "lastModified":
        "Fri, 16 Jan 2026 13:37:28 GMT", "etag": "0x8DE550464939ECC", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/items/4292d1db-d709-4d0b-93d5-8030820a2b8a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ec19f89e-f2b4-46fd-994e-5caa37f15191
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
