interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - af6aa018-ccc4-462d-ab44-3af96536e904
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders?recursive=True
  response:
    body:
      string: '{"value": [{"id": "7f1398f8-ce3e-458d-8d7d-64cc12323360", "displayName":
        "fabcli000001", "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0c76d763-3f01-4bde-b907-6df74a8e149e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders
  response:
    body:
      string: '{"id": "257c8584-4ce8-4f4a-a03c-40892b6e833f", "displayName": "fabcli000001",
        "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders/257c8584-4ce8-4f4a-a03c-40892b6e833f
      RequestId:
      - d66aa90c-db0f-4cf1-a4a9-bb625ba806a0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/items
  response:
    body:
      string: '{"value": [{"id": "07ddbef4-51a4-4f68-b867-dee484fee4db", "type": "SQLEndpoint",
        "displayName": "fabcli000002dtdm", "description": "", "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448",
        "folderId": "7f1398f8-ce3e-458d-8d7d-64cc12323360"}, {"id": "174ed7b9-b0bf-4d7b-b2c0-d723c5ad0a90",
        "type": "SQLEndpoint", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448"}, {"id": "52ad477f-c60f-47c5-ab07-daa8e1afdbcd",
        "type": "SQLEndpoint", "displayName": "fabcli000002dtdm", "description": "",
        "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448"}, {"id": "21ba9137-da9e-4275-add7-463bb8d5a0c4",
        "type": "SQ[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "UserDataFunction", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/userdatafunctions
  response:
    body:
      string: '{"id": "8a81a8c6-ece4-4792-b3f9-a7a8ab099536", "type": "UserDataFunction",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "d4491e7b-5a69-4ba5-bedf-3d0b9560a448"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ddc1f2b2-5fe4-4058-a276-fbbb0efb39cd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders?recursive=True
  response:
    body:
      string: '{"requestId": "760ef633-c702-47b7-8964-9e07ad0334e3", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/3/2026 10:30:18 AM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 760ef633-c702-47b7-8964-9e07ad0334e3
      Retry-After:
      - '40'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/items/f7031820-bd68-4ed8-8a20-157f886c1593
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 38d57b35-934e-42fd-911d-2cb42ac5a787
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders/257c8584-4ce8-4f4a-a03c-40892b6e833f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e94d22c4-bdbe-413b-8f92-0496b9985ba8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
