interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d729ec0b-0947-4adf-8049-bcf6333d7dd8",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fc5a1834-169b-4796-a7c4-129a4fbab028
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d729ec0b-0947-4adf-8049-bcf6333d7dd8/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 81a3fc0c-29cf-4ba6-a1a3-b08f938d51bc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d729ec0b-0947-4adf-8049-bcf6333d7dd8/folders
  response:
    body:
      string: '{"id": "db743921-121e-4759-9b1c-ddd99ab65441", "displayName": "fabcli000001",
        "workspaceId": "d729ec0b-0947-4adf-8049-bcf6333d7dd8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/d729ec0b-0947-4adf-8049-bcf6333d7dd8/folders/db743921-121e-4759-9b1c-ddd99ab65441
      RequestId:
      - 99d25cd4-96ce-459f-a002-312642c0405d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d729ec0b-0947-4adf-8049-bcf6333d7dd8/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - eafbc1f4-0b3e-4045-9064-5aa435135866
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "GraphQuerySet", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d729ec0b-0947-4adf-8049-bcf6333d7dd8/GraphQuerySets
  response:
    body:
      string: '{"id": "8f3887d8-fd8f-472c-aaef-a90bb93eff57", "type": "GraphQuerySet",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "d729ec0b-0947-4adf-8049-bcf6333d7dd8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 24ee259e-a438-436f-b262-cd3a7b92325a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d729ec0b-0947-4adf-8049-bcf6333d7dd8/folders?recursive=True
  response:
    body:
      string: '{"requestId": "f1f3d04f-036c-42c2-94e6-1b27e5ad5ddc", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/5/2026 1:44:28 PM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f1f3d04f-036c-42c2-94e6-1b27e5ad5ddc
      Retry-After:
      - '7'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d729ec0b-0947-4adf-8049-bcf6333d7dd8/items/61f4820a-6e67-4309-9034-b81f47320e95
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2e18a040-103e-44e6-8e88-d2682e387e52
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d729ec0b-0947-4adf-8049-bcf6333d7dd8/folders/db743921-121e-4759-9b1c-ddd99ab65441
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 78484b88-e71b-453f-a9e6-c82ef76e3388
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
