interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "9783996b-f720-4ed2-8b66-47ff761edc33",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a3f65027-2a68-4b6c-ad2a-9586d67ad929
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items
  response:
    body:
      string: '{"value": [{"id": "b83b7bc9-7ecd-449c-9711-5a01cb3f1474", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id": "b63974c8-6987-489c-9007-536f524e4a60",
        "type": "SQLEndpoint", "displayName": "StagingLakehouseForDataflows_20260422150351",
        "description": "", "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33"},
        {"id": "cf139473-5c57-4ee2-abc2-295043848fca", "type": "Warehouse", "displayName":
        "StagingWarehouseForDataflows_20260422150415", "description": "", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id": "bbb9ae8f-5d2b-457d-a47b-cd63c1621207",
        "type": "SQLEndpoint", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id": "a96893ec-bed6-4ead-928b-014d76e95d4d",
        "type": "Lakehouse", "displayName": "StagingLakehouseForDataflows_20260422150351",
        "description": "", "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33"},
        {"id": "b3e8d9ae-6502-4de0-8c3b-9735502c3fae", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5c3741e3-5cfa-45b7-8c61-3f71d5468684
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MirroredDatabase", "folderId": null, "definition": {"parts": [{"path": "mirroring.json",
      "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgInNvdXJjZSI6IHsKICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsCiAgICAgICAgICAgICJ0eXBlUHJvcGVydGllcyI6IHt9CiAgICAgICAgfSwKICAgICAgICAidGFyZ2V0IjogewogICAgICAgICAgICAidHlwZSI6ICJNb3VudGVkUmVsYXRpb25hbERhdGFiYXNlIiwKICAgICAgICAgICAgInR5cGVQcm9wZXJ0aWVzIjogewogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSIKICAgICAgICAgICAgfQogICAgICAgIH0KICAgIH0KfQ==",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/mirroredDatabases
  response:
    body:
      string: '{"id": "bfba39a9-820d-4c66-acf1-ad7281113b17", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 0df22653-c881-49fc-b6b4-03fa971bcaec
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8b6f44b8-9f14-430b-9b91-4c194a110f2c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items/bfba39a9-820d-4c66-acf1-ad7281113b17
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 28707fc1-391b-4b61-8f21-05cf370c076f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
