interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "53cba250-60ab-40e8-9a4a-8bc165ee4c9b",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 05a5f06d-59c7-437d-be78-a873d59d557a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/53cba250-60ab-40e8-9a4a-8bc165ee4c9b/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 956db584-9be9-4fab-b06a-81aa02d1fc67
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/53cba250-60ab-40e8-9a4a-8bc165ee4c9b/folders?recursive=True
  response:
    body:
      string: '{"requestId": "90997193-a65b-4cbe-837e-1c4f9311b842", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/5/2026 1:37:11 PM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 90997193-a65b-4cbe-837e-1c4f9311b842
      Retry-After:
      - '18'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/53cba250-60ab-40e8-9a4a-8bc165ee4c9b/folders
  response:
    body:
      string: '{"id": "6e22986b-1dbb-44d6-baa3-8178798cdd1d", "displayName": "fabcli000001",
        "workspaceId": "53cba250-60ab-40e8-9a4a-8bc165ee4c9b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/53cba250-60ab-40e8-9a4a-8bc165ee4c9b/folders/6e22986b-1dbb-44d6-baa3-8178798cdd1d
      RequestId:
      - 5d783035-a0ae-41b6-8e44-6c1f0901054f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/53cba250-60ab-40e8-9a4a-8bc165ee4c9b/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7013975d-b83d-4e14-ab90-f60ca01a77d0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/53cba250-60ab-40e8-9a4a-8bc165ee4c9b/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/08a93d8d-140c-465f-b726-890ee8f5b66f
      RequestId:
      - f2eafe57-ff43-4fe9-bc8a-50b6e0d32a66
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 08a93d8d-140c-465f-b726-890ee8f5b66f
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/08a93d8d-140c-465f-b726-890ee8f5b66f
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-05T13:37:16.9523031",
        "lastUpdatedTimeUtc": "2026-02-05T13:37:25.1881391", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/08a93d8d-140c-465f-b726-890ee8f5b66f/result
      RequestId:
      - b76869ef-7a88-48f2-afc2-86b06b97ce8b
      x-ms-operation-id:
      - 08a93d8d-140c-465f-b726-890ee8f5b66f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/08a93d8d-140c-465f-b726-890ee8f5b66f/result
  response:
    body:
      string: '{"id": "58e85233-88c9-4225-bb45-f2f560f9ecd7", "type": "CosmosDBDatabase",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "53cba250-60ab-40e8-9a4a-8bc165ee4c9b"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 6b80946a-501e-405f-bb9b-5e1679d4bcf2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/53cba250-60ab-40e8-9a4a-8bc165ee4c9b/items/fa478a69-d118-4d59-8dab-d80ff5cdde87
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 63749d19-2854-417b-a8c6-15fca6b0f468
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/53cba250-60ab-40e8-9a4a-8bc165ee4c9b/folders/6e22986b-1dbb-44d6-baa3-8178798cdd1d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d1c8a785-7809-43ae-aae2-673150609cc4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
