interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b3e318cf-e61c-41ba-bcef-a889d164b43f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/items
  response:
    body:
      string: '{"value": [{"id": "29d21a30-b92a-4715-bc05-a3950044cd63", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"},
        {"id": "40804bc5-9491-4b94-9a61-d11dfcd7083f", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"},
        {"id": "a388c286-a5e2-49fe-a4d1-7ad47c829f26", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260116114754", "description": "", "workspaceId":
        "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"}, {"id": "a374ddb6-fbd3-49d9-bd8f-ab7a05c6d2eb",
        "type": "Lakehouse", "displayName": "StagingLakehouseForDataflows_20260116114754",
        "description": "", "workspaceId": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4c4daa0b-cfed-4dcf-8da5-fae575e44849
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SparkJobDefinition", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/sparkJobDefinitions
  response:
    body:
      string: '{"id": "04eeb529-dd86-47a9-b277-8e619cebe1bb", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 130f80b4-6ba4-43d5-a228-af7b19bddf5c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 209caae1-1046-4e4c-93b3-1f31b5a17af2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/items/04eeb529-dd86-47a9-b277-8e619cebe1bb
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5608f775-0227-4c5f-ab63-2896c9075eba
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
