interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 97639b59-c8bb-4ea7-a6c1-9cf670b4c790
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/items
  response:
    body:
      string: '{"value": [{"id": "29d21a30-b92a-4715-bc05-a3950044cd63", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ca3e866c-d934-4c5c-97aa-c3bb896c4ccc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c5d8db8c-1e92-4301-923f-62f2e2f5a1b3
      RequestId:
      - 09f62b93-1f11-4f32-b35c-170ba12971b4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - c5d8db8c-1e92-4301-923f-62f2e2f5a1b3
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c5d8db8c-1e92-4301-923f-62f2e2f5a1b3
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-16T11:44:06.9472158",
        "lastUpdatedTimeUtc": "2026-01-16T11:44:24.6536045", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c5d8db8c-1e92-4301-923f-62f2e2f5a1b3/result
      RequestId:
      - 92feaa60-b4e0-4656-877e-122318e8f961
      x-ms-operation-id:
      - c5d8db8c-1e92-4301-923f-62f2e2f5a1b3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c5d8db8c-1e92-4301-923f-62f2e2f5a1b3/result
  response:
    body:
      string: '{"id": "2f6014a6-bfca-42d2-a0c8-4c1bff5ed38a", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "bfaf415e-635b-4a2d-a5a0-6d3a05682fc6"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 21cca6cb-a519-4311-a20c-2b7525e153f3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b0c9da14-0855-4e4a-8df1-f0af21c3ae58
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bfaf415e-635b-4a2d-a5a0-6d3a05682fc6/items/2f6014a6-bfca-42d2-a0c8-4c1bff5ed38a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f74250d8-6313-4b95-8ca2-263622a54ac8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
