interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "948bd34e-8e3c-44cc-9879-8d3e3fa54394",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f6aee00e-3795-42f2-ab4b-564521433cc0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394/items
  response:
    body:
      string: '{"value": [{"id": "f737f665-ef30-44a8-b8e8-b6992434ec8a", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "948bd34e-8e3c-44cc-9879-8d3e3fa54394"},
        {"id": "f16f4cd1-8976-4bae-a902-dae7b27fa776", "type": "SQLEndpoint", "displayName":
        "fabcli000002dtdm", "description": "", "workspaceId": "948bd34e-8e3c-44cc-9879-8d3e3fa54394"},
        {"id": "6451357f-5a1d-49d8-9bcb-76bd62a949bc", "type": "SQLEndpoint", "displayName":
        "fabcli000003dtdm", "description": "", "workspaceId": "948bd34e-8e3c-44cc-9879-8d3e3fa54394"},
        {"id": "862bdc78-cffc-4b0e-9b93-155d898eafea", "type": "SQ[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d3fbedcd-8588-4692-a3de-735900cb5968
      RequestId:
      - 3f5b6e4a-a083-4bb9-808e-6383f635b2ef
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d3fbedcd-8588-4692-a3de-735900cb5968
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d3fbedcd-8588-4692-a3de-735900cb5968
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T09:20:57.0491545",
        "lastUpdatedTimeUtc": "2026-03-31T09:21:04.1865909", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d3fbedcd-8588-4692-a3de-735900cb5968/result
      RequestId:
      - 28368806-8744-498b-9acb-f6dc3bdf9505
      x-ms-operation-id:
      - d3fbedcd-8588-4692-a3de-735900cb5968
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d3fbedcd-8588-4692-a3de-735900cb5968/result
  response:
    body:
      string: '{"id": "04d09bd8-e15e-443b-bb6f-8c7562a580ef", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "workspaceId":
        "948bd34e-8e3c-44cc-9879-8d3e3fa54394"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 3d4f3663-f65d-46ff-8547-10419badf02a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a790cc96-8bed-4e84-9eb8-86db8ea222ea
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394/items/04d09bd8-e15e-443b-bb6f-8c7562a580ef
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 39b242d1-889b-4dd9-a1d7-d81f3c5345db
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
