interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d6781eb9-0c4e-46c9-aeed-adda091c9c37",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6a768793-72e6-4181-b0a3-b1d42ba2f4c1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6781eb9-0c4e-46c9-aeed-adda091c9c37/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bc857625-49cb-491c-8e70-4280b0647102
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6781eb9-0c4e-46c9-aeed-adda091c9c37/folders
  response:
    body:
      string: '{"id": "d62d6134-1835-4c91-a821-82ad97a41694", "displayName": "fabcli000001",
        "workspaceId": "d6781eb9-0c4e-46c9-aeed-adda091c9c37"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/d6781eb9-0c4e-46c9-aeed-adda091c9c37/folders/d62d6134-1835-4c91-a821-82ad97a41694
      RequestId:
      - f7a83912-ba45-4415-9137-d7743968c244
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6781eb9-0c4e-46c9-aeed-adda091c9c37/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a01faac2-9a88-4fb8-8b5c-46df94ea341d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "GraphQuerySet", "folderId": "d62d6134-1835-4c91-a821-82ad97a41694"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6781eb9-0c4e-46c9-aeed-adda091c9c37/GraphQuerySets
  response:
    body:
      string: '{"id": "0a266f25-cc4e-4902-ab25-6704529158a5", "type": "GraphQuerySet",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "d6781eb9-0c4e-46c9-aeed-adda091c9c37", "folderId": "d62d6134-1835-4c91-a821-82ad97a41694"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 933f2d34-6ffd-460b-b1fc-c36ed63c3763
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6781eb9-0c4e-46c9-aeed-adda091c9c37/folders?recursive=True
  response:
    body:
      string: '{"requestId": "565be7ed-2818-4fae-b3e9-a4963f63196f", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/5/2026 1:18:16 PM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 565be7ed-2818-4fae-b3e9-a4963f63196f
      Retry-After:
      - '44'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6781eb9-0c4e-46c9-aeed-adda091c9c37/items/0a266f25-cc4e-4902-ab25-6704529158a5
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 67bcb843-30c7-4dc5-875c-0d84f4198d05
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6781eb9-0c4e-46c9-aeed-adda091c9c37/folders/d62d6134-1835-4c91-a821-82ad97a41694
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ca2d4813-287b-445c-a1a2-db70b1f5626f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
