interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "983d6c2b-ac95-468f-8085-6663983fc4fb", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - adae12a4-2474-4b54-a2d2-014ffa07c3fe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 98890122-0ee6-471a-a898-e0d818b34ef1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders
  response:
    body:
      string: '{"id": "fc43ce43-72bc-4a7f-97c8-64056ac6536a", "displayName": "fabcli000001",
        "workspaceId": "983d6c2b-ac95-468f-8085-6663983fc4fb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders/fc43ce43-72bc-4a7f-97c8-64056ac6536a
      RequestId:
      - 3c8657f0-4d57-4706-bb56-d61832d290af
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders?recursive=True
  response:
    body:
      string: '{"requestId": "5fbc0623-1662-4e06-8734-28b421d42eb7", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        1/16/2026 2:10:26 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5fbc0623-1662-4e06-8734-28b421d42eb7
      Retry-After:
      - '44'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1912180a-cc54-41f3-a694-8822a70deb51
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Reflex", "folderId": "fc43ce43-72bc-4a7f-97c8-64056ac6536a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/reflexes
  response:
    body:
      string: '{"id": "9affc596-c391-4cfd-9f9f-9be7290ef5c5", "type": "Reflex", "displayName":
        "fabcli000002", "description": "Created by fab", "workspaceId": "983d6c2b-ac95-468f-8085-6663983fc4fb",
        "folderId": "fc43ce43-72bc-4a7f-97c8-64056ac6536a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d6901d3f-9b13-4d07-be71-0c150de93b9a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/items/9affc596-c391-4cfd-9f9f-9be7290ef5c5
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - edfb9746-1ac8-4284-b5f4-3c3b640a457f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders/fc43ce43-72bc-4a7f-97c8-64056ac6536a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f8c955e7-9d03-4675-a13d-d9c2bfa9e1ec
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
