interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5a5ea7ec-d68a-4f85-b555-12075a5488a2",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3cb27631-1dc0-4ef3-9b26-0e8631b8290d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5a5ea7ec-d68a-4f85-b555-12075a5488a2/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4ca9e9eb-59a2-41c6-af98-93f604c342a6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5a5ea7ec-d68a-4f85-b555-12075a5488a2/folders
  response:
    body:
      string: '{"id": "6f78f7a9-a383-4230-ab2b-5c816771edb8", "displayName": "fabcli000001",
        "workspaceId": "5a5ea7ec-d68a-4f85-b555-12075a5488a2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/5a5ea7ec-d68a-4f85-b555-12075a5488a2/folders/6f78f7a9-a383-4230-ab2b-5c816771edb8
      RequestId:
      - f2f85677-4f2c-4643-90ef-949e537e03ee
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5a5ea7ec-d68a-4f85-b555-12075a5488a2/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8656aafc-09c7-432e-9159-d5bdd551110b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "MLExperiment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5a5ea7ec-d68a-4f85-b555-12075a5488a2/mlExperiments
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5ae34937-3aa1-4acd-86ec-f41117001024
      RequestId:
      - b87fdddf-0611-4c58-8eb1-2a2d243c1eba
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5ae34937-3aa1-4acd-86ec-f41117001024
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5ae34937-3aa1-4acd-86ec-f41117001024
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-11T11:55:24.7546042",
        "lastUpdatedTimeUtc": "2026-02-11T11:55:26.1765025", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5ae34937-3aa1-4acd-86ec-f41117001024/result
      RequestId:
      - cb1156a6-4600-4c36-b6a2-1d74661d35e1
      x-ms-operation-id:
      - 5ae34937-3aa1-4acd-86ec-f41117001024
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5ae34937-3aa1-4acd-86ec-f41117001024/result
  response:
    body:
      string: '{"id": "1a5ab85c-4a97-400e-9906-40431890f571", "type": "MLExperiment",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "5a5ea7ec-d68a-4f85-b555-12075a5488a2"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 7cc4345b-b1be-4bc9-b3a5-650a03e25b7e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5a5ea7ec-d68a-4f85-b555-12075a5488a2/items/5580e83d-0c55-4f36-9979-de19468dbd5f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0579febb-4974-4df0-9b5c-06b0a3ff6e71
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5a5ea7ec-d68a-4f85-b555-12075a5488a2/folders/6f78f7a9-a383-4230-ab2b-5c816771edb8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b9343a3b-a92c-44bd-b02d-f752a5260e41
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
