interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "2a1c1352-3d0c-4176-a1f7-6c29f815d83d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 72a2bab9-4ce7-40c6-bf90-27ea547a707f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2a1c1352-3d0c-4176-a1f7-6c29f815d83d/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2034c517-3027-4398-971c-2e518f1ee7ad
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2a1c1352-3d0c-4176-a1f7-6c29f815d83d/folders
  response:
    body:
      string: '{"id": "5bb80d11-671c-44d0-b10c-46e270d39213", "displayName": "fabcli000001",
        "workspaceId": "2a1c1352-3d0c-4176-a1f7-6c29f815d83d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/2a1c1352-3d0c-4176-a1f7-6c29f815d83d/folders/5bb80d11-671c-44d0-b10c-46e270d39213
      RequestId:
      - 1e97c15c-84ab-4652-8a46-98e967dada14
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2a1c1352-3d0c-4176-a1f7-6c29f815d83d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4fde0e35-f412-4e1f-8464-14af07f81097
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/2a1c1352-3d0c-4176-a1f7-6c29f815d83d/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b09a724f-4dcd-4fe6-899b-51e88e0ebde8
      RequestId:
      - e2823d89-6eca-40a9-a8c9-517176b77f11
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b09a724f-4dcd-4fe6-899b-51e88e0ebde8
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b09a724f-4dcd-4fe6-899b-51e88e0ebde8
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-11T11:57:43.6496993",
        "lastUpdatedTimeUtc": "2026-02-11T11:57:56.3839196", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b09a724f-4dcd-4fe6-899b-51e88e0ebde8/result
      RequestId:
      - 7de41378-4691-4f97-bbf7-611303e84743
      x-ms-operation-id:
      - b09a724f-4dcd-4fe6-899b-51e88e0ebde8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b09a724f-4dcd-4fe6-899b-51e88e0ebde8/result
  response:
    body:
      string: '{"id": "4801717c-8106-43c9-a7ab-bf1472b0fe30", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "2a1c1352-3d0c-4176-a1f7-6c29f815d83d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c7775bc8-a13b-4dba-8db1-382494b41762
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/2a1c1352-3d0c-4176-a1f7-6c29f815d83d/folders?recursive=True
  response:
    body:
      string: '{"requestId": "94370879-74ef-425c-9745-48e2b70efe03", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/11/2026 11:59:41 AM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 94370879-74ef-425c-9745-48e2b70efe03
      Retry-After:
      - '51'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2a1c1352-3d0c-4176-a1f7-6c29f815d83d/items/7c999899-7c94-40f0-8517-0b8abc1cdb7c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - dbd78c9f-295a-4e26-81a2-e4ec393c46e3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/2a1c1352-3d0c-4176-a1f7-6c29f815d83d/folders/5bb80d11-671c-44d0-b10c-46e270d39213
  response:
    body:
      string: '{"requestId": "14126923-034f-4c29-928f-8cff59b158bd", "errorCode":
        "FolderNotEmpty", "message": "The requested folder was not empty.", "relatedResource":
        {"resourceId": "5bb80d11-671c-44d0-b10c-46e270d39213", "resourceType": "Folder"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 14126923-034f-4c29-928f-8cff59b158bd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - FolderNotEmpty
    status:
      code: 400
      message: Bad Request
version: 1
