interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "441bd2e5-f3c8-4030-a8f7-169f4fa7e9b4",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f7d898f2-9820-451e-9f5c-1011ec535d69
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/441bd2e5-f3c8-4030-a8f7-169f4fa7e9b4/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b554cc8f-c87e-4ef2-99dc-5f25cb38db9b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/441bd2e5-f3c8-4030-a8f7-169f4fa7e9b4/folders
  response:
    body:
      string: '{"id": "d2207175-efac-48c3-9476-4bfd5cab4a28", "displayName": "fabcli000001",
        "workspaceId": "441bd2e5-f3c8-4030-a8f7-169f4fa7e9b4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/441bd2e5-f3c8-4030-a8f7-169f4fa7e9b4/folders/d2207175-efac-48c3-9476-4bfd5cab4a28
      RequestId:
      - 45bb6434-d140-47f6-88be-66cb78700a51
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/441bd2e5-f3c8-4030-a8f7-169f4fa7e9b4/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a7b37be1-5910-48e3-ab94-3b524f8c53a8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "CopyJob", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/441bd2e5-f3c8-4030-a8f7-169f4fa7e9b4/copyJobs
  response:
    body:
      string: '{"id": "495b32ac-51ce-461a-b4b3-937fda10cfda", "type": "CopyJob", "displayName":
        "fabcli000002", "description": "Created by fab", "workspaceId": "441bd2e5-f3c8-4030-a8f7-169f4fa7e9b4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 918a83bf-04ee-44cd-b4fa-9a29b844cac4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/441bd2e5-f3c8-4030-a8f7-169f4fa7e9b4/items/905cdb56-5589-4602-a4df-12a84cc5da7b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 62a7590a-8197-4f9e-bf2a-9ecf4e95226f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/441bd2e5-f3c8-4030-a8f7-169f4fa7e9b4/folders/d2207175-efac-48c3-9476-4bfd5cab4a28
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - eb3dc4c4-0b53-423f-9de3-55233723b5f1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
