interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "4b786514-ff85-4824-88c0-4d0b64b491f1", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7e8bab4c-c14e-491e-b10b-bd230fd1968b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders?recursive=True
  response:
    body:
      string: '{"requestId": "cf552bea-52ad-4870-951b-c47e3a7cf9bf", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        1/20/2026 6:18:01 AM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cf552bea-52ad-4870-951b-c47e3a7cf9bf
      Retry-After:
      - '43'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders
  response:
    body:
      string: '{"id": "db99b58d-b8e4-48fe-863a-ae9d77a26bdf", "displayName": "fabcli000001",
        "workspaceId": "4b786514-ff85-4824-88c0-4d0b64b491f1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders/db99b58d-b8e4-48fe-863a-ae9d77a26bdf
      RequestId:
      - b2b9c074-2840-4dea-aedd-e37de1a8b622
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4b316e5b-3f53-452d-92a3-869c32f951e5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Eventstream", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/eventstreams
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d7e91160-847c-41df-bf32-f785a85d7790
      RequestId:
      - d2f4a940-a962-4f12-88cd-9a1016abd362
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d7e91160-847c-41df-bf32-f785a85d7790
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d7e91160-847c-41df-bf32-f785a85d7790
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-20T06:18:06.846603",
        "lastUpdatedTimeUtc": "2026-01-20T06:18:10.0501196", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d7e91160-847c-41df-bf32-f785a85d7790/result
      RequestId:
      - d3596d97-06ea-49cc-8cd5-b17a41719624
      x-ms-operation-id:
      - d7e91160-847c-41df-bf32-f785a85d7790
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d7e91160-847c-41df-bf32-f785a85d7790/result
  response:
    body:
      string: '{"id": "e37e6f75-7c9c-47ca-bb5b-acf7e0a02c43", "type": "Eventstream",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "4b786514-ff85-4824-88c0-4d0b64b491f1"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - e823350e-0f08-4a72-b4a2-9704e4ca1d6d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/items/86fcef17-42e9-4e2f-beb8-c070ed34af8e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ec1ee362-a90e-4d66-9e3f-93c2cb278661
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4b786514-ff85-4824-88c0-4d0b64b491f1/folders/db99b58d-b8e4-48fe-863a-ae9d77a26bdf
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0535669b-4685-4ab2-96f4-5482a40d1ae4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
