interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "f1b98cd9-3c32-4456-940d-0966cbde7f51", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f31f93eb-2cdb-4841-af21-c8646a1ad728
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 40c08509-1f87-4fc2-b4ea-a8b9d40b1ed6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e540c685-7807-4fa1-a4df-d527dce148fe
      RequestId:
      - 8ed38a48-1e60-49f4-b72f-429ff5526da3
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - e540c685-7807-4fa1-a4df-d527dce148fe
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e540c685-7807-4fa1-a4df-d527dce148fe
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-16T13:35:22.2037934",
        "lastUpdatedTimeUtc": "2026-01-16T13:35:38.6139711", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e540c685-7807-4fa1-a4df-d527dce148fe/result
      RequestId:
      - 86a2f926-27fb-4c70-a35e-02b33b30f1b7
      x-ms-operation-id:
      - e540c685-7807-4fa1-a4df-d527dce148fe
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e540c685-7807-4fa1-a4df-d527dce148fe/result
  response:
    body:
      string: '{"id": "6b1490de-d5ef-42ac-8122-e158a277f6ab", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "f1b98cd9-3c32-4456-940d-0966cbde7f51"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c83d5ec6-3dcd-4ac9-9baf-74d391f1b3b5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/f1b98cd9-3c32-4456-940d-0966cbde7f51/6b1490de-d5ef-42ac-8122-e158a277f6ab/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "6b1490de-d5ef-42ac-8122-e158a277f6ab/Files", "isDirectory":
        "true", "creationTime": "134130441249853172", "lastModified": "Fri, 16 Jan
        2026 13:35:24 GMT", "etag": "0x8DE55041ABA8EF4", "contentLength": "0", "owner":
        "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "6b1490de-d5ef-42ac-8122-e158a277f6ab/Tables",
        "isDirectory": "true", "creationTime": "134130441249686548", "lastModified":
        "Fri, 16 Jan 2026 13:35:24 GMT", "etag": "0x8DE55041AB80414", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/items/6b1490de-d5ef-42ac-8122-e158a277f6ab
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e2882a60-b404-4163-9543-46ef2bb49527
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
