interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "9783996b-f720-4ed2-8b66-47ff761edc33",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 02ec8f3b-9e8f-490c-8d94-3aa65a534b8a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33
  response:
    body:
      string: '{"id": "9783996b-f720-4ed2-8b66-47ff761edc33", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6e500f1a-2413-42f4-ab3a-653c836c7f85
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/provisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e136ddfa-a5fe-4bf0-8942-b5882d84c90a
      RequestId:
      - 99abdde3-787f-4294-8330-48eba3f4a483
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - e136ddfa-a5fe-4bf0-8942-b5882d84c90a
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e136ddfa-a5fe-4bf0-8942-b5882d84c90a
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-22T15:37:59.6678664",
        "lastUpdatedTimeUtc": "2026-04-22T15:38:01.1704974", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e136ddfa-a5fe-4bf0-8942-b5882d84c90a/result
      RequestId:
      - e2b7ec28-3cd1-4b56-9213-e37c0c0f24fa
      x-ms-operation-id:
      - e136ddfa-a5fe-4bf0-8942-b5882d84c90a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e136ddfa-a5fe-4bf0-8942-b5882d84c90a/result
  response:
    body:
      string: '{"applicationId": "9fc86e64-f2a5-48b6-ae1c-4d5e4ebab5f7", "servicePrincipalId":
        "aeeeee97-885c-45e2-a6ca-02f0f3aeb45c"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 0b7b75ac-5429-4949-a380-e233a5d49b83
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33
  response:
    body:
      string: '{"id": "9783996b-f720-4ed2-8b66-47ff761edc33", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed", "workspaceIdentity": {"applicationId": "9fc86e64-f2a5-48b6-ae1c-4d5e4ebab5f7",
        "servicePrincipalId": "aeeeee97-885c-45e2-a6ca-02f0f3aeb45c"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 74a746a6-0380-4911-817b-9ed0b3d92b48
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/deprovisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/706fdb64-d556-44bb-8ab0-539d85b17309
      RequestId:
      - 55670db4-2019-4251-91ef-20266938698e
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 706fdb64-d556-44bb-8ab0-539d85b17309
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/706fdb64-d556-44bb-8ab0-539d85b17309
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-04-22T15:38:12.7945919",
        "lastUpdatedTimeUtc": "2026-04-22T15:38:13.8131226", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5bf97345-921b-4426-bd11-e75184735435
    status:
      code: 200
      message: OK
version: 1
