interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "dfb711f8-b0fa-449c-955b-93bca9a496ce",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b047105d-a1ac-4f03-b873-c85c4f8e01c2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items
  response:
    body:
      string: '{"value": [{"id": "b83b7bc9-7ecd-449c-9711-5a01cb3f1474", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id": "31be2151-5757-4852-9205-b65c63a0dc33",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "Created by fab", "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33"},
        {"id": "b63974c8-6987-489c-9007-536f524e4a60", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260422150351", "description": "", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id":[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Environment", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/environments
  response:
    body:
      string: '{"id": "dad1c879-c7f9-4a11-adef-ba54eecdf34f", "type": "Environment",
        "displayName": "fabcli000001", "workspaceId":
        "dfb711f8-b0fa-449c-955b-93bca9a496ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 3527b302-7e2d-4a5a-abcc-5352213476d4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5ee7278d-cfc5-43ab-aee4-2110eedfa150
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items/8344f0af-e1e6-4892-970f-e3982d3a83a0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ef183ac8-dc5c-43d8-be45-66e40218d123
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items/a9f18335-05b7-4bf3-b5d5-1c547003e5b9
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a32fcfbb-4ddf-4380-b5d9-e60c44438a5c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
