interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "983d6c2b-ac95-468f-8085-6663983fc4fb", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 262fff1f-3310-4260-914c-0ec71a053eb3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3d2b8a14-60b9-4fb5-ac99-cec061852811
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders
  response:
    body:
      string: '{"id": "2538a382-421c-48f1-accf-e4635163753d", "displayName": "fabcli000001",
        "workspaceId": "983d6c2b-ac95-468f-8085-6663983fc4fb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders/2538a382-421c-48f1-accf-e4635163753d
      RequestId:
      - 4b28ddbe-6222-4f16-b22c-35552ddfdcdd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 452e6c26-07b0-4540-a35d-1ea9b12b10f2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "DataPipeline", "folderId": "2538a382-421c-48f1-accf-e4635163753d"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/dataPipelines
  response:
    body:
      string: '{"id": "79a596d6-3c65-428e-aaa1-16db0a534125", "type": "DataPipeline",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "983d6c2b-ac95-468f-8085-6663983fc4fb", "folderId": "2538a382-421c-48f1-accf-e4635163753d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a01c3076-5abe-4968-bee0-f5c4e3da658c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders?recursive=True
  response:
    body:
      string: '{"requestId": "3504145a-b403-4bff-84a9-04fd8209d44d", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        1/16/2026 1:49:32 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3504145a-b403-4bff-84a9-04fd8209d44d
      Retry-After:
      - '33'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/items/79a596d6-3c65-428e-aaa1-16db0a534125
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1c7572f4-3345-4387-907c-7ba286bb082b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/983d6c2b-ac95-468f-8085-6663983fc4fb/folders/2538a382-421c-48f1-accf-e4635163753d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 64216a73-fc87-41ee-b4c6-ef1160dc43c8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
