interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "e8293fbd-7292-44e5-bd79-74caa5afee7e", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bbf62c40-dbf1-497d-9c5a-eaa4dd8d19d7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/items
  response:
    body:
      string: '{"value": [{"id": "fd892f1d-ea7d-4e0f-89c5-c441c3137ae1", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"},
        {"id": "9dd81d5e-795c-4e79-ae0b-adf83f920f6e", "type": "SemanticModel", "displayName":
        "fabcli000002_auto", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"},
        {"id": "607a9393-53cc-4ecf-a853-d3d331fd7816", "type": "SemanticModel", "displayName":
        "fabcli000003_auto", "description": "", "workspaceId": "e8293fbd-7292-44e5-bd79-74caa5afee7e"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4d2616a7-166d-4c47-a034-0aa320e55925
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "GraphQLApi", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/graphqlapis
  response:
    body:
      string: '{"id": "ce6007be-5fa3-48e7-ab45-818ef4b984db", "type": "GraphQLApi",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e8293fbd-7292-44e5-bd79-74caa5afee7e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 15000669-dc45-467c-ab71-532ada411103
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c9498211-99ed-470a-9681-0ed9f7e88967
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/items/3cda56b5-8841-43ff-9f9c-c1e18d36b0ad
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 88377ca9-8da3-4151-bf53-7bfdec00de06
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e8293fbd-7292-44e5-bd79-74caa5afee7e/items/ce6007be-5fa3-48e7-ab45-818ef4b984db
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 179a055a-8951-4fbd-b75e-6cdb01feede3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
