interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a32f2c4b-828b-4897-8b4b-9225c45db8d6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1218928d-5b02-4b27-8c81-587692f3e683
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a32f2c4b-828b-4897-8b4b-9225c45db8d6/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - af57e402-3c4a-44f9-b708-aa7176156283
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a32f2c4b-828b-4897-8b4b-9225c45db8d6/lakehouses
  response:
    body:
      string: '{"id": "c9b51d4b-d9e8-477a-8b86-3858a7d38bb8", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "a32f2c4b-828b-4897-8b4b-9225c45db8d6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 473b2be1-fac1-4bea-b99a-c6e359b08359
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/a32f2c4b-828b-4897-8b4b-9225c45db8d6/c9b51d4b-d9e8-477a-8b86-3858a7d38bb8/?recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths": [{"name": "c9b51d4b-d9e8-477a-8b86-3858a7d38bb8/Files", "isDirectory":
        "true", "creationTime": "134018253292955560", "lastModified": "Mon, 08 Sep
        2025 17:15:29 GMT", "etag": "0x8DDEEFB4F68E7A8", "contentLength": "0", "owner":
        "954b20be-abdc-4fbc-9e27-545547e1c715", "group": "954b20be-abdc-4fbc-9e27-545547e1c715",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "c9b51d4b-d9e8-477a-8b86-3858a7d38bb8/TableMaintenance",
        "isDirectory": "true", "creationTime": "134018253293095008", "lastModified":
        "Mon, 08 Sep 2025 17:15:29 GMT", "etag": "0x8DDEEFB4F6B0860", "contentLength":
        "0", "owner": "954b20be-abdc-4fbc-9e27-545547e1c715", "group": "954b20be-abdc-4fbc-9e27-545547e1c715",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "c9b51d4b-d9e8-477a-8b86-3858a7d38bb8/Tables",
        "isDirectory": "true", "creationTime": "134018253292794316", "lastModified":
        "Mon, 08 Sep 2025 17:15:29 GMT", "etag": "0x8DDEEFB4F6671CC", "contentLength":
        "0", "owner": "954b20be-abdc-4fbc-9e27-545547e1c715", "group": "954b20be-abdc-4fbc-9e27-545547e1c715",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a32f2c4b-828b-4897-8b4b-9225c45db8d6/items/c9b51d4b-d9e8-477a-8b86-3858a7d38bb8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c66f4f3f-7833-49ff-8406-7b5fd9918b41
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
