interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ec0a8784-0b9c-4077-ac2b-acb49be8d898
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/items
  response:
    body:
      string: '{"value": [{"id": "07ddbef4-51a4-4f68-b867-dee484fee4db", "type": "SQLEndpoint",
        "displayName": "fabcli000002dtdm", "description": "", "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448",
        "folderId": "7f1398f8-ce3e-458d-8d7d-64cc12323360"}, {"id": "e7d29f13-3952-426c-b1d8-a06ca0a8728d",
        "type": "Lakehouse", "displayName": "fabcli000002dtdm", "description": "",
        "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448", "folderId": "7f1398f8-ce3e-458d-8d7d-64cc12323360"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 540ff1fb-7968-43ae-ae69-13d00c3cf96b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders?recursive=True
  response:
    body:
      string: '{"value": [{"id": "7f1398f8-ce3e-458d-8d7d-64cc12323360", "displayName":
        "fabcli000001", "workspaceId": "d4491e7b-5a69-4ba5-bedf-3d0b9560a448"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cf7d283c-e3a5-4f4a-8861-2396faef5814
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7a18aafe-bee1-41ba-8d7b-26e94eb9aa89
      RequestId:
      - fc2ef489-1ded-48ba-a5df-7b4ab0278ac6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7a18aafe-bee1-41ba-8d7b-26e94eb9aa89
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7a18aafe-bee1-41ba-8d7b-26e94eb9aa89
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T09:54:09.0755799",
        "lastUpdatedTimeUtc": "2026-02-03T09:54:15.2336554", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7a18aafe-bee1-41ba-8d7b-26e94eb9aa89/result
      RequestId:
      - 72208d76-c8f8-4b39-8221-7e4c11466e6d
      x-ms-operation-id:
      - 7a18aafe-bee1-41ba-8d7b-26e94eb9aa89
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7a18aafe-bee1-41ba-8d7b-26e94eb9aa89/result
  response:
    body:
      string: '{"id": "c76c7582-2a11-4ac5-9812-3ba38f7a42dc", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "d4491e7b-5a69-4ba5-bedf-3d0b9560a448"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 0b95efb7-1082-4523-b542-7b352d487463
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/folders?recursive=True
  response:
    body:
      string: '{"requestId": "20e20bea-bfc5-45e2-b56e-52d7be0831c1", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        2/3/2026 9:54:57 AM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 20e20bea-bfc5-45e2-b56e-52d7be0831c1
      Retry-After:
      - '21'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/items/cb93784e-cd6b-492a-a35b-d3347db913ac
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 800d6f40-a0c7-40da-8396-c46bc3a46f22
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d4491e7b-5a69-4ba5-bedf-3d0b9560a448/items/c76c7582-2a11-4ac5-9812-3ba38f7a42dc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - aab047bf-c395-41b1-8b37-72264317e0b0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
