interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "9783996b-f720-4ed2-8b66-47ff761edc33",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 66228f15-de05-4317-b244-23e341ed4198
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8461b28c-9eb8-454f-8294-30bf128b38d5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/folders
  response:
    body:
      string: '{"id": "dee74198-05b1-4075-935f-693843beb4c8", "displayName": "fabcli000001",
        "workspaceId": "9783996b-f720-4ed2-8b66-47ff761edc33"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/folders/dee74198-05b1-4075-935f-693843beb4c8
      RequestId:
      - dad49ff9-403b-41b0-9dc0-a38e7b3500fd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items
  response:
    body:
      string: '{"value": [{"id": "b83b7bc9-7ecd-449c-9711-5a01cb3f1474", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}, {"id": "31be2151-5757-4852-9205-b65c63a0[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "SparkJobDefinition", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/sparkJobDefinitions
  response:
    body:
      string: '{"id": "2e39507a-4b8e-4c34-9d62-5d7b12a349bf", "type": "SparkJobDefinition",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "9783996b-f720-4ed2-8b66-47ff761edc33"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 8137d1f1-6886-4700-964e-79330911535a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/items/20fba5cc-faf6-42f8-8bf7-7c722c2c6e06
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 12d90bae-e163-41f4-b4a0-89271c090d68
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9783996b-f720-4ed2-8b66-47ff761edc33/folders/dee74198-05b1-4075-935f-693843beb4c8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d80c747f-3270-4f80-bb78-945de0616b0c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
