interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "f1b98cd9-3c32-4456-940d-0966cbde7f51", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5e31bdc8-81f6-415a-bd40-46bd6a6ddbca
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/items
  response:
    body:
      string: '{"value": [{"id": "e57fb6a6-275c-4c2e-9f13-c54c8373430e", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "f1b98cd9-3c32-4456-940d-0966cbde7f51"}, {"id": "03930dd6-ed3e-46d1-b914-b431c7b6a0a2",
        "type": "KQLDatabase", "displayName": "fabcli000001_auto", "description":
        "fabcli000001_auto", "workspaceId": "f1b98cd9-3c32-4456-940d-0966cbde7f51"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b37ad5d1-2a68-4e75-bdd9-99b1f6a085e3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MirroredWarehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f1b98cd9-3c32-4456-940d-0966cbde7f51/mirroredWarehouses
  response:
    body:
      string: '{"requestId": "801eacf0-6a1a-4b29-9900-0887c5df9e9a", "errorCode":
        "PrincipalTypeNotSupported", "message": "The operation is not supported for
        the principal type", "relatedResource": {"resourceType": "MirroredWarehouse"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 801eacf0-6a1a-4b29-9900-0887c5df9e9a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - PrincipalTypeNotSupported
    status:
      code: 400
      message: Bad Request
version: 1
