interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0a045caa-a47d-48ee-9322-365ed1091643
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c8a7bfba-b95b-4f5f-b660-51346d651273
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabriccli_WorkspacePerTestclass_000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "6746c90e-0a41-4b6f-87bd-a946136e6bf7", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/6746c90e-0a41-4b6f-87bd-a946136e6bf7
      RequestId:
      - a26e7a0f-fc98-44d7-b65c-68656f58f2f1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6746c90e-0a41-4b6f-87bd-a946136e6bf7/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b115aaf5-aac0-45de-901b-5d3dad844d94
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6746c90e-0a41-4b6f-87bd-a946136e6bf7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b42e1e61-7b54-443d-b168-64b9ee05ac19
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
