interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d14374c2-50ff-4f6f-8e42-4b502ea00903",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0ed52595-8fb2-4aaa-bfc4-25465e279eb7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fd939106-2699-41d2-bd4b-7bd2f69409ad
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ab2b9aee-b9e0-48b9-b61b-f4ec74764630
      RequestId:
      - bc5a7a87-2f27-4151-8057-50de42a187ce
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ab2b9aee-b9e0-48b9-b61b-f4ec74764630
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ab2b9aee-b9e0-48b9-b61b-f4ec74764630
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-09T08:52:18.1722228",
        "lastUpdatedTimeUtc": "2026-09-09T08:52:18.1722228", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ab2b9aee-b9e0-48b9-b61b-f4ec74764630
      RequestId:
      - 9aced886-6a0f-4eb0-9e8d-55bc4c40537a
      Retry-After:
      - '20'
      x-ms-operation-id:
      - ab2b9aee-b9e0-48b9-b61b-f4ec74764630
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ab2b9aee-b9e0-48b9-b61b-f4ec74764630/result
  response:
    body:
      string: '{"id": "33dae8e6-d9be-4625-ba64-546230a22923", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "d14374c2-50ff-4f6f-8e42-4b502ea00903"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 55b515cb-a571-4e2f-b12c-31a73ebbd623
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items/33dae8e6-d9be-4625-ba64-546230a22923
  response:
    body:
      string: '{"id": "33dae8e6-d9be-4625-ba64-546230a22923", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "d14374c2-50ff-4f6f-8e42-4b502ea00903"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 20e2eac9-6282-4266-ab0f-d4a84f967837
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items/33dae8e6-d9be-4625-ba64-546230a22923/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "e30=",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIk9udG9sb2d5IiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 10eef054-9c0e-45ec-b880-641871a922fe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items/33dae8e6-d9be-4625-ba64-546230a22923
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 12a96d3f-878e-439e-982d-34ae45007681
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
