interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "15b3bb1d-bc81-482d-88a0-5a4445e53b2a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - be44ca0f-bdbc-41c0-b18f-ff73a97c19de
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/15b3bb1d-bc81-482d-88a0-5a4445e53b2a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bf0e80aa-bd66-459e-b969-d4edd563b0db
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/15b3bb1d-bc81-482d-88a0-5a4445e53b2a/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fc8217ca-a8ae-496e-b477-df5fd1b69d24
      RequestId:
      - 7e27cb2c-e335-41ab-8425-47af7565b983
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - fc8217ca-a8ae-496e-b477-df5fd1b69d24
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fc8217ca-a8ae-496e-b477-df5fd1b69d24
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T08:58:21.5431464",
        "lastUpdatedTimeUtc": "2026-03-31T08:58:29.9461567", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fc8217ca-a8ae-496e-b477-df5fd1b69d24/result
      RequestId:
      - b28666cd-0704-4f25-b96f-3faa5e2bae22
      x-ms-operation-id:
      - fc8217ca-a8ae-496e-b477-df5fd1b69d24
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fc8217ca-a8ae-496e-b477-df5fd1b69d24/result
  response:
    body:
      string: '{"id": "08a04e20-09e4-4395-9e4c-e330b1c4e7c0", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "workspaceId":
        "15b3bb1d-bc81-482d-88a0-5a4445e53b2a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d1a9b51e-b365-4161-a703-9a3afbdad186
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/15b3bb1d-bc81-482d-88a0-5a4445e53b2a/items/08a04e20-09e4-4395-9e4c-e330b1c4e7c0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ca78e57b-b604-4368-aefe-a203c7cfdc08
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
