interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d14374c2-50ff-4f6f-8e42-4b502ea00903",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4c444e62-dcb3-4ac9-b09a-1b0d38de92c2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 43856402-be0c-48d9-8f3a-0be17ea1cd6b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5e0ee925-2b9e-4734-be9b-2141c745ed7f
      RequestId:
      - 9acf7a6d-d0e4-47e1-b300-a3200fdc7cf1
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5e0ee925-2b9e-4734-be9b-2141c745ed7f
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5e0ee925-2b9e-4734-be9b-2141c745ed7f
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-09-09T08:51:29.2474963",
        "lastUpdatedTimeUtc": "2026-09-09T08:51:42.3366275", "percentComplete": 100,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5e0ee925-2b9e-4734-be9b-2141c745ed7f/result
      RequestId:
      - b28f9e33-94d3-4da8-88ea-3d4814194e14
      x-ms-operation-id:
      - 5e0ee925-2b9e-4734-be9b-2141c745ed7f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5e0ee925-2b9e-4734-be9b-2141c745ed7f/result
  response:
    body:
      string: '{"id": "13ebd1fc-fdc9-4595-ab86-9c68477dcaa9", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "d14374c2-50ff-4f6f-8e42-4b502ea00903"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 3e931343-8550-4045-89ee-1de7c5d4da5f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items/13ebd1fc-fdc9-4595-ab86-9c68477dcaa9
  response:
    body:
      string: '{"id": "13ebd1fc-fdc9-4595-ab86-9c68477dcaa9", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "d14374c2-50ff-4f6f-8e42-4b502ea00903"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9d796a66-46da-4494-a737-650876034522
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items/13ebd1fc-fdc9-4595-ab86-9c68477dcaa9/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/888f33ec-6963-4260-8d9d-cf4367a022ff
      RequestId:
      - 24c444fb-94b2-4e0b-8f00-d4e292647e78
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 888f33ec-6963-4260-8d9d-cf4367a022ff
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/888f33ec-6963-4260-8d9d-cf4367a022ff/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "graphType.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9ncmFwaEluZGV4L2RlZmluaXRpb24vZ3JhcGhUeXBlLzEuMC4wL3NjaGVtYS5qc29uIiwNCiAgIm5vZGVUeXBlcyI6IG51bGwsDQogICJlZGdlVHlwZXMiOiBudWxsDQp9",
        "payloadType": "InlineBase64"}, {"path": "dataSources.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9ncmFwaEluZGV4L2RlZmluaXRpb24vZGF0YVNvdXJjZXMvMS4wLjAvc2NoZW1hLmpzb24iLA0KICAiZGF0YVNvdXJjZXMiOiBudWxsDQp9",
        "payloadType": "InlineBase64"}, {"path": "graphDefinition.json", "payload":
        "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9ncmFwaEluZGV4L2RlZmluaXRpb24vZ3JhcGhEZWZpb[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items/13ebd1fc-fdc9-4595-ab86-9c68477dcaa9
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d4c3d551-3ceb-4e5e-9332-69eb452559a1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
