interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "c39782d3-0dbe-4538-a22f-d3a779a71631", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ffb41fec-7a2d-4acd-a28d-e5bdbeae4303
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c39782d3-0dbe-4538-a22f-d3a779a71631/items
  response:
    body:
      string: '{"value": [{"id": "01492e9d-fcf3-4a4f-9a3f-c0cbd54c137d", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "c39782d3-0dbe-4538-a22f-d3a779a71631"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 02625f82-5f5f-4a03-98dc-b09334d06510
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c39782d3-0dbe-4538-a22f-d3a779a71631/eventhouses
  response:
    body:
      string: '{"id": "ba811290-f942-4158-816c-de85b6a16217", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "c39782d3-0dbe-4538-a22f-d3a779a71631"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 19faaf46-7ce7-421e-83b7-b2a9baaa7545
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "ba811290-f942-4158-816c-de85b6a16217"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c39782d3-0dbe-4538-a22f-d3a779a71631/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3634dd4b-3b22-475d-a7f7-6e2cc5289e16
      RequestId:
      - 51807f83-f6c9-45ee-b862-3f61ae7d3768
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 3634dd4b-3b22-475d-a7f7-6e2cc5289e16
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3634dd4b-3b22-475d-a7f7-6e2cc5289e16
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T12:07:54.9178512",
        "lastUpdatedTimeUtc": "2026-01-19T12:08:01.5126156", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3634dd4b-3b22-475d-a7f7-6e2cc5289e16/result
      RequestId:
      - 701a6c70-2919-4d7f-8f8d-489ea02e31a3
      x-ms-operation-id:
      - 3634dd4b-3b22-475d-a7f7-6e2cc5289e16
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3634dd4b-3b22-475d-a7f7-6e2cc5289e16/result
  response:
    body:
      string: '{"id": "21d38b0e-ea8d-443c-94c4-715cf7aa9871", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c39782d3-0dbe-4538-a22f-d3a779a71631"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 221b1c1d-beea-4edc-a62b-0d47b83074c9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c39782d3-0dbe-4538-a22f-d3a779a71631/items/21d38b0e-ea8d-443c-94c4-715cf7aa9871
  response:
    body:
      string: '{"id": "21d38b0e-ea8d-443c-94c4-715cf7aa9871", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c39782d3-0dbe-4538-a22f-d3a779a71631"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d5e54ecc-64fd-40b4-80ac-c4c5d660d2a0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c39782d3-0dbe-4538-a22f-d3a779a71631/items/21d38b0e-ea8d-443c-94c4-715cf7aa9871/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/db15c28b-d3b6-497a-ac13-dcc4f879bc5b
      RequestId:
      - 6e461d0b-ea3b-43de-8f31-2f95d4e7a89f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - db15c28b-d3b6-497a-ac13-dcc4f879bc5b
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/db15c28b-d3b6-497a-ac13-dcc4f879bc5b/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "DatabaseProperties.json", "payload":
        "ew0KICAiZGF0YWJhc2VUeXBlIjogIlJlYWRXcml0ZSIsDQogICJwYXJlbnRFdmVudGhvdXNlSXRlbUlkIjogImJhODExMjkwLWY5NDItNDE1OC04MTZjLWRlODViNmExNjIxNyIsDQogICJvbmVMYWtlQ2FjaGluZ1BlcmlvZCI6ICJQMzY1MDAwRCIsDQogICJvbmVMYWtlU3RhbmRhcmRTdG9yYWdlUGVyaW9kIjogIlAzNjUwMDBEIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": "DatabaseSchema.kql", "payload":
        "Ly8gS1FMIHNjcmlwdA0KLy8gVXNlIG1hbmFnZW1lbnQgY29tbWFuZHMgaW4gdGhpcyBzY3JpcHQgdG8gY29uZmlndXJlIHlvdXIgZGF0YWJhc2UgaXRlbXMsIHN1Y2ggYXMgdGFibGVzLCBmdW5jdGlvbnMsIG1hdGVyaWFsaXplZCB2aWV3cywgYW5kIG1vcmUuDQoNCg0K",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTERhdGFiYXNlIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 8689367e-a851-4265-974f-c30a882a0f87
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c39782d3-0dbe-4538-a22f-d3a779a71631/items/21d38b0e-ea8d-443c-94c4-715cf7aa9871
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 61a392d7-bc87-464d-9955-465d4c82a872
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
