interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d14374c2-50ff-4f6f-8e42-4b502ea00903",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d6f58937-15c6-4765-85b5-7760d92e2bb4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f6ca7a4e-8220-4daf-bf7d-8c8539b25475
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bbd29f99-4f84-4e62-9742-88f8d84d8b5b
      RequestId:
      - ea71d1d1-295f-4c49-be40-7f1797bc7199
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - bbd29f99-4f84-4e62-9742-88f8d84d8b5b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bbd29f99-4f84-4e62-9742-88f8d84d8b5b
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-09T08:53:50.1156575",
        "lastUpdatedTimeUtc": "2026-09-09T08:53:50.1156575", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bbd29f99-4f84-4e62-9742-88f8d84d8b5b
      RequestId:
      - 399272f5-a25b-4e82-ae0d-b02ede54d420
      Retry-After:
      - '20'
      x-ms-operation-id:
      - bbd29f99-4f84-4e62-9742-88f8d84d8b5b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bbd29f99-4f84-4e62-9742-88f8d84d8b5b/result
  response:
    body:
      string: '{"id": "324a0ca5-59b0-4747-a1b3-e1c579a2c8c3", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "d14374c2-50ff-4f6f-8e42-4b502ea00903"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 12a398de-ef46-40ed-a521-67d6eb12bdb8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items/324a0ca5-59b0-4747-a1b3-e1c579a2c8c3
  response:
    body:
      string: '{"id": "324a0ca5-59b0-4747-a1b3-e1c579a2c8c3", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "d14374c2-50ff-4f6f-8e42-4b502ea00903"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 43c097c7-6438-43c2-9447-51377008f1d9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items/324a0ca5-59b0-4747-a1b3-e1c579a2c8c3/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4c3a3210-7b3b-4729-8fe2-f93b34250afe
      RequestId:
      - 9bf5128d-e346-4cd2-8b59-4f521fe929dd
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 4c3a3210-7b3b-4729-8fe2-f93b34250afe
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4c3a3210-7b3b-4729-8fe2-f93b34250afe/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "graphType.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9ncmFwaEluZGV4L2RlZmluaXRpb24vZ3JhcGhUeXBlLzEuMC4wL3NjaGVtYS5qc29uIiwNCiAgIm5vZGVUeXBlcyI6IG51bGwsDQogICJlZGdlVHlwZXMiOiBudWxsDQp9",
        "payloadType": "InlineBase64"}, {"path": "dataSources.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9ncmFwaEluZGV4L2RlZmluaXRpb24vZGF0YVNvdXJjZXMvMS4wLjAvc2NoZW1hLmpzb24iLA0KICAiZGF0YVNvdXJjZXMiOiBudWxsDQp9",
        "payloadType": "InlineBase64"}, {"path": "graphDefinition.json", "payload":
        "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9ncmFwaEluZGV4L2RlZmluaXRpb24vZ3JhcGhEZWZpb[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items/324a0ca5-59b0-4747-a1b3-e1c579a2c8c3
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5e43ebca-7e60-423b-8493-c44d87c45adc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
