interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "cf67653a-969e-41c3-836d-a8c16eb9404d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - af76d271-f1e7-4e76-86aa-5afb4a01f62a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf67653a-969e-41c3-836d-a8c16eb9404d/items
  response:
    body:
      string: '{"value": [{"id": "94d8e448-add6-49fc-a93e-932eb195dea7", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "cf67653a-969e-41c3-836d-a8c16eb9404d"},
        {"id": "a1266542-c1e2-4ba3-887c-550c530ad38a", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "cf67653a-969e-41c3-836d-a8c16eb9404d"},
        {"id": "82a052a8-1f8f-4242-9fb4-1b2b85c7a11e", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "cf67653a-969e-41c3-836d-a8c16eb9404d"},
        {"id": "f8fc2d91-77e7-47f5-9562-4b53f61ae155", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "cf67653a-969e-41c3-836d-a8c16eb9404d"},
        {"id": "a61b0bae-edfa-43df-b591-f811582c3795", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "cf67653a-969e-41c3-836d-a8c16eb9404d"},
        {"id": "0da8e632-1608-4352-bc3a-32781190fa42", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "cf67653a-969e-41c3-836d-a8c16eb9404d"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5f65b9a9-2e20-486e-b02c-53af600b43cb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SparkJobDefinition", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf67653a-969e-41c3-836d-a8c16eb9404d/sparkJobDefinitions
  response:
    body:
      string: '{"id": "35674608-332b-4905-87da-3e0c4f0305b1", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "cf67653a-969e-41c3-836d-a8c16eb9404d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 274e7cf3-b740-456b-98bb-9d4f21e910bb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf67653a-969e-41c3-836d-a8c16eb9404d/items/35674608-332b-4905-87da-3e0c4f0305b1
  response:
    body:
      string: '{"id": "35674608-332b-4905-87da-3e0c4f0305b1", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "cf67653a-969e-41c3-836d-a8c16eb9404d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 3f0eda5c-f5c8-4845-b8db-c247099a3bed
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf67653a-969e-41c3-836d-a8c16eb9404d/items/35674608-332b-4905-87da-3e0c4f0305b1/getDefinition?format=SparkJobDefinitionV1
  response:
    body:
      string: '{"definition": {"parts": [{"path": "SparkJobDefinitionV1.json", "payload":
        "ew0KICAiZXhlY3V0YWJsZUZpbGUiOiBudWxsLA0KICAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiBudWxsLA0KICAibWFpbkNsYXNzIjogbnVsbCwNCiAgImFkZGl0aW9uYWxMYWtlaG91c2VJZHMiOiBbXSwNCiAgInJldHJ5UG9saWN5IjogbnVsbCwNCiAgImNvbW1hbmRMaW5lQXJndW1lbnRzIjogbnVsbCwNCiAgImFkZGl0aW9uYWxMaWJyYXJ5VXJpcyI6IG51bGwsDQogICJsYW5ndWFnZSI6IG51bGwsDQogICJlbnZpcm9ubWVudEFydGlmYWN0SWQiOiBudWxsDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlNwYXJrSm9iRGVmaW5pdGlvbiIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 90c428de-a10a-4c17-bafe-43755b7adae6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf67653a-969e-41c3-836d-a8c16eb9404d/items/35674608-332b-4905-87da-3e0c4f0305b1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5f8739b9-28db-4a1a-a619-09ed4bdd80ec
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
