interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "77f7aa72-986f-4e8b-9e4d-642c5bedbc67", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2942d68d-4917-4e94-b2b3-bf6edb617563
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/items
  response:
    body:
      string: '{"value": [{"id": "9f59102f-f0e0-4c38-a989-e52c5061ffbe", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "77f7aa72-986f-4e8b-9e4d-642c5bedbc67"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - af6a1a14-4d6b-4973-a529-3cd7ddcaf0fd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SemanticModel", "folderId": null, "definition": {"parts": [{"path": ".platform",
      "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlNlbWFudGljTW9kZWwiLAogICAgImRpc3BsYXlOYW1lIjogIkJsYW5rIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
      "payloadType": "InlineBase64"}, {"path": "definition.pbism", "payload": "ewogICJ2ZXJzaW9uIjogIjQuMCIsCiAgInNldHRpbmdzIjoge30KfQ==",
      "payloadType": "InlineBase64"}, {"path": "definition/database.tmdl", "payload":
      "ZGF0YWJhc2UKCWNvbXBhdGliaWxpdHlMZXZlbDogMTU2MQoK", "payloadType": "InlineBase64"},
      {"path": "definition/model.tmdl", "payload": "bW9kZWwgTW9kZWwKCWN1bHR1cmU6IGVuLVVTCglkZWZhdWx0UG93ZXJCSURhdGFTb3VyY2VWZXJzaW9uOiBwb3dlckJJX1YzCglzb3VyY2VRdWVyeUN1bHR1cmU6IGVuLVVTCglkYXRhQWNjZXNzT3B0aW[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e6650cb2-8f0c-4969-b936-5abee8c52b89
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T13:01:47.7050724",
        "lastUpdatedTimeUtc": "2026-01-19T13:01:58.6926421", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e6650cb2-8f0c-4969-b936-5abee8c52b89/result
      RequestId:
      - ea01a536-152c-497d-a602-14ae62d21450
      x-ms-operation-id:
      - e6650cb2-8f0c-4969-b936-5abee8c52b89
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e6650cb2-8f0c-4969-b936-5abee8c52b89/result
  response:
    body:
      string: '{"id": "95be9f57-c4e0-47b2-95c6-e2abf95d8093", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "77f7aa72-986f-4e8b-9e4d-642c5bedbc67"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - db835149-e062-4d16-aa89-84e87068a434
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/items/95be9f57-c4e0-47b2-95c6-e2abf95d8093
  response:
    body:
      string: '{"id": "95be9f57-c4e0-47b2-95c6-e2abf95d8093", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "77f7aa72-986f-4e8b-9e4d-642c5bedbc67"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - cd9bebb0-c431-480d-8809-c32a24a8f980
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/items/95be9f57-c4e0-47b2-95c6-e2abf95d8093/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d96bbabf-bf3d-4b79-80c6-f64662d1c400
      RequestId:
      - e7e29f83-6c1d-4727-93ff-13552232e3e8
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d96bbabf-bf3d-4b79-80c6-f64662d1c400
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d96bbabf-bf3d-4b79-80c6-f64662d1c400/result
  response:
    body:
      string: '{"definition": {"format": "TMDL", "parts": [{"path": "definition.pbism",
        "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9pdGVtL3NlbWFudGljTW9kZWwvZGVmaW5pdGlvblByb3BlcnRpZXMvMS4wLjAvc2NoZW1hLmpzb24iLAogICJ2ZXJzaW9uIjogIjQuMiIsCiAgInNldHRpbmdzIjoge30KfQ==",
        "payloadType": "InlineBase64"}, {"path": "definition/tables/Table.tmdl", "payload":
        "dGFibGUgVGFibGUKCWxpbmVhZ2VUYWc6IDFmY2QyZDhjLTkzZDYtNGU2Zi1hYjg2LThjMDU5YzhhODk4ZAoKCWNvbHVtbiBDb2x1bW4x[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/items/95be9f57-c4e0-47b2-95c6-e2abf95d8093
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 81d3087c-b18c-4506-8b9b-9e15f099c54d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
