interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "cf67653a-969e-41c3-836d-a8c16eb9404d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8e975505-98ca-40ba-a7d3-f7222e411b64
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf67653a-969e-41c3-836d-a8c16eb9404d/items
  response:
    body:
      string: '{"value": [{"id": "94d8e448-add6-49fc-a93e-932eb195dea7", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "cf67653a-969e-41c3-836d-a8c16eb9404d"},
        {"id": "82a052a8-1f8f-4242-9fb4-1b2b85c7a11e", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "cf67653a-969e-41c3-836d-a8c16eb9404d"},
        {"id": "f8fc2d91-77e7-47f5-9562-4b53f61ae155", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "cf67653a-969e-41c3-836d-a8c16eb9404d"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f0c10b6d-f021-49b9-ac53-8de940d91fe3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "GraphQuerySet", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf67653a-969e-41c3-836d-a8c16eb9404d/GraphQuerySets
  response:
    body:
      string: '{"id": "5f09a6fb-3db1-4a17-b062-0bc06702a352", "type": "GraphQuerySet",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "cf67653a-969e-41c3-836d-a8c16eb9404d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 987d9152-cb30-4cc2-8904-f311280f71c4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf67653a-969e-41c3-836d-a8c16eb9404d/items/5f09a6fb-3db1-4a17-b062-0bc06702a352
  response:
    body:
      string: '{"id": "5f09a6fb-3db1-4a17-b062-0bc06702a352", "type": "GraphQuerySet",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "cf67653a-969e-41c3-836d-a8c16eb9404d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 794f3059-a142-4f28-8fe0-759005da0fdd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf67653a-969e-41c3-836d-a8c16eb9404d/items/5f09a6fb-3db1-4a17-b062-0bc06702a352/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4fd15d9a-bf3f-40c4-8e90-75797cbab666
      RequestId:
      - 66a3ff1e-d26a-4fbb-ac3b-d6453463230a
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 4fd15d9a-bf3f-40c4-8e90-75797cbab666
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4fd15d9a-bf3f-40c4-8e90-75797cbab666
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-06T11:36:41.9504184",
        "lastUpdatedTimeUtc": "2026-02-06T11:36:42.3254209", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4fd15d9a-bf3f-40c4-8e90-75797cbab666/result
      RequestId:
      - d61f54b2-e7e8-4419-92bb-49881acbf20d
      x-ms-operation-id:
      - 4fd15d9a-bf3f-40c4-8e90-75797cbab666
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4fd15d9a-bf3f-40c4-8e90-75797cbab666/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "exportedDefinition.json", "payload":
        "eyJkZXBlbmRlbmNpZXMiOltdLCJpbmRpcmVjdERlcGVuZGVuY2llcyI6W10sIkFydGlmYWN0Q29udGVudHMiOltdLCJDb25maWd1cmF0aW9uQ2F0ZWdvcmllcyI6W119",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkdyYXBoUXVlcnlTZXQiLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b05aa74a-ae4c-4af7-abe5-a37709b1aa6f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf67653a-969e-41c3-836d-a8c16eb9404d/items/5f09a6fb-3db1-4a17-b062-0bc06702a352
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 83727058-070a-40ee-9a84-49d09c4fd406
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
