interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "343f6252-2499-4742-8582-e65e410dcecf", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - aac94c1c-3738-43b8-a62b-e46baab87ed5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/343f6252-2499-4742-8582-e65e410dcecf/items
  response:
    body:
      string: '{"value": [{"id": "f43398b3-b276-42e3-a841-6335af9b26b2", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "343f6252-2499-4742-8582-e65e410dcecf"},
        {"id": "6ff6d740-0832-4b45-9612-89933c8dea8b", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "343f6252-2499-4742-8582-e65e410dcecf"},
        {"id": "4b56a810-c739-4ca6-9b53-3e05c3c2e65d", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "343f6252-2499-4742-8582-e65e410dcecf"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e8500586-2948-47dc-b596-2672c47fccdd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/343f6252-2499-4742-8582-e65e410dcecf/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9e90568a-4faa-4c6d-99c6-be204fd4c554
      RequestId:
      - 4fca9f6e-73c7-4385-ac54-95ddb76b1dec
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9e90568a-4faa-4c6d-99c6-be204fd4c554
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9e90568a-4faa-4c6d-99c6-be204fd4c554
  response:
    body:
      string: '{"status": "Failed", "createdTimeUtc": "2026-01-19T13:26:06.3965108",
        "lastUpdatedTimeUtc": "2026-01-19T13:26:07.5214304", "percentComplete": null,
        "error": {"errorCode": "DmsPbiServiceUserException", "message": "{\"error\":{\"code\":\"DatamartNotFound\",\"pbi.error\":{\"code\":\"DatamartNotFound\",\"parameters\":{\"ErrorMessage\":\"Datamart
        was not found\"},\"details\":[],\"exceptionCulprit\":1}}}"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cbd4ff8a-f0b8-435c-a71e-f557044d2079
    status:
      code: 200
      message: OK
version: 1
