interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "77f7aa72-986f-4e8b-9e4d-642c5bedbc67", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4357737c-001a-4dd3-9e8a-b2994d0245b0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/items
  response:
    body:
      string: '{"value": [{"id": "9f59102f-f0e0-4c38-a989-e52c5061ffbe", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "77f7aa72-986f-4e8b-9e4d-642c5bedbc67"},
        {"id": "a5d67601-d193-4cee-a459-904ed566585d", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "77f7aa72-986f-4e8b-9e4d-642c5bedbc67"},
        {"id": "d799f481-dbe3-4487-9817-0b818bff2323", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "77f7aa72-986f-4e8b-9e4d-642c5bedbc67"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f3d255b0-a575-4315-b225-dabe13b16bbb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/lakehouses
  response:
    body:
      string: '{"id": "355d1bdf-ef6b-4269-93b9-180f63339096", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "77f7aa72-986f-4e8b-9e4d-642c5bedbc67"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 01af1d4d-89cf-4900-9356-d9f9a726aec9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/items/355d1bdf-ef6b-4269-93b9-180f63339096
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 71ad2398-02ed-4c67-83e9-aa4a928a99bf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
