interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6de67157-a78a-48e1-a47b-cf27e1d92fb1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5c18748d-4655-4981-93d3-dbffc4dd6a4a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6de67157-a78a-48e1-a47b-cf27e1d92fb1/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b3f17e77-531f-46ed-8fed-17e41dfaf846
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Map", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.4.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6de67157-a78a-48e1-a47b-cf27e1d92fb1/maps
  response:
    body:
      string: '{"id": "c6ea250f-a2b0-491f-8fbd-80fb74f5f509", "type": "Map", "displayName":
        "fabcli000001", "workspaceId": "6de67157-a78a-48e1-a47b-cf27e1d92fb1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - cffbf4f8-e49f-493c-97ee-3a7429462865
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6de67157-a78a-48e1-a47b-cf27e1d92fb1/items/c6ea250f-a2b0-491f-8fbd-80fb74f5f509
  response:
    body:
      string: '{"id": "c6ea250f-a2b0-491f-8fbd-80fb74f5f509", "type": "Map", "displayName":
        "fabcli000001", "workspaceId": "6de67157-a78a-48e1-a47b-cf27e1d92fb1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b4858392-77d6-4e7a-b3e9-d4329e7c0e4e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6de67157-a78a-48e1-a47b-cf27e1d92fb1/items/c6ea250f-a2b0-491f-8fbd-80fb74f5f509/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dc059f6a-2e5b-4052-92b7-025915ed0eda
      RequestId:
      - 3d6e9cf6-3cc2-4f4c-8be9-05d65c50f84b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - dc059f6a-2e5b-4052-92b7-025915ed0eda
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dc059f6a-2e5b-4052-92b7-025915ed0eda
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-19T09:13:31.5303697",
        "lastUpdatedTimeUtc": "2026-03-19T09:13:32.2860202", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dc059f6a-2e5b-4052-92b7-025915ed0eda/result
      RequestId:
      - bd3ad7c5-c7ba-4c8c-b0ff-4b396a1e7353
      x-ms-operation-id:
      - dc059f6a-2e5b-4052-92b7-025915ed0eda
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dc059f6a-2e5b-4052-92b7-025915ed0eda/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "map.json", "payload": "77u/ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9tYXAvZGVmaW5pdGlvbi8yLjAuMC9zY2hlbWEuanNvbiIsDQogICJiYXNlbWFwIjoge30sDQogICJkYXRhU291cmNlcyI6IFtdLA0KICAiaWNvblNvdXJjZXMiOiBbXSwNCiAgImxheWVyU291cmNlcyI6IFtdLA0KICAibGF5ZXJTZXR0aW5ncyI6IFtdDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIk1hcCIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 36118ba4-ec31-4c5e-a473-dbc7eee4481f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6de67157-a78a-48e1-a47b-cf27e1d92fb1/items/c6ea250f-a2b0-491f-8fbd-80fb74f5f509
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9cf91907-5a7e-412b-811a-3607753c59ac
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
