interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "c39782d3-0dbe-4538-a22f-d3a779a71631", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8e41a26f-b2d9-4005-a0d4-6faab668fe21
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c39782d3-0dbe-4538-a22f-d3a779a71631/items
  response:
    body:
      string: '{"value": [{"id": "01492e9d-fcf3-4a4f-9a3f-c0cbd54c137d", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "c39782d3-0dbe-4538-a22f-d3a779a71631"},
        {"id": "ba811290-f942-4158-816c-de85b6a16217", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "c39782d3-0dbe-4538-a22f-d3a779a71631"},
        {"id": "c88d051e-6fdd-45fd-a406-1263e90915c2", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "c39782d3-0dbe-4538-a22f-d3a779a71631"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 49cf07b0-1c48-4c61-b23b-7a83ccc6ca7c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c39782d3-0dbe-4538-a22f-d3a779a71631/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e1f251df-185c-4443-950c-75fba9e1c525
      RequestId:
      - 1f41d0bc-4ef8-43be-ac36-8dde7aec1348
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - e1f251df-185c-4443-950c-75fba9e1c525
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e1f251df-185c-4443-950c-75fba9e1c525
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-01-19T12:09:07.7899016",
        "lastUpdatedTimeUtc": "2026-01-19T12:09:07.7899016", "percentComplete": null,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e1f251df-185c-4443-950c-75fba9e1c525
      RequestId:
      - 9e035fc7-eecf-4f94-a923-adb796a474c1
      Retry-After:
      - '20'
      x-ms-operation-id:
      - e1f251df-185c-4443-950c-75fba9e1c525
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e1f251df-185c-4443-950c-75fba9e1c525/result
  response:
    body:
      string: '{"id": "27fff409-8c9a-438a-bc42-93455dcfab6a", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c39782d3-0dbe-4538-a22f-d3a779a71631"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 2559e75b-f6a1-475d-a51e-502d164064d4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c39782d3-0dbe-4538-a22f-d3a779a71631/items/27fff409-8c9a-438a-bc42-93455dcfab6a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 7d2e17a2-584e-4c49-b605-e1969bdaa281
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
