interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "343f6252-2499-4742-8582-e65e410dcecf", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 915c084f-f1b1-485e-a8e8-9206803e1e35
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/343f6252-2499-4742-8582-e65e410dcecf/items
  response:
    body:
      string: '{"value": [{"id": "f43398b3-b276-42e3-a841-6335af9b26b2", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "343f6252-2499-4742-8582-e65e410dcecf"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a73b799a-c28e-467e-abe6-2e630766a0d0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/343f6252-2499-4742-8582-e65e410dcecf/eventhouses
  response:
    body:
      string: '{"id": "6ff6d740-0832-4b45-9612-89933c8dea8b", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "343f6252-2499-4742-8582-e65e410dcecf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 445ba827-2ea9-44af-998b-59c1088835cc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "6ff6d740-0832-4b45-9612-89933c8dea8b"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/343f6252-2499-4742-8582-e65e410dcecf/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/745fa211-9f0b-4815-8a10-49899a857211
      RequestId:
      - c2280ae6-a203-4db2-bf30-a3ff2118b6b6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 745fa211-9f0b-4815-8a10-49899a857211
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/745fa211-9f0b-4815-8a10-49899a857211
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T13:25:01.0854406",
        "lastUpdatedTimeUtc": "2026-01-19T13:25:07.6668395", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/745fa211-9f0b-4815-8a10-49899a857211/result
      RequestId:
      - d9b7ab75-5678-4950-8bd7-684a6a132d7a
      x-ms-operation-id:
      - 745fa211-9f0b-4815-8a10-49899a857211
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/745fa211-9f0b-4815-8a10-49899a857211/result
  response:
    body:
      string: '{"id": "89f5b35e-163b-4723-bcb7-a9df4daf00ee", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "343f6252-2499-4742-8582-e65e410dcecf"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d72d978e-e4c2-41c5-9a21-d1a537f8f47a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/343f6252-2499-4742-8582-e65e410dcecf/items/89f5b35e-163b-4723-bcb7-a9df4daf00ee
  response:
    body:
      string: '{"id": "89f5b35e-163b-4723-bcb7-a9df4daf00ee", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "343f6252-2499-4742-8582-e65e410dcecf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9cd82e3e-f407-4f82-a6bf-4ddecfdffe28
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/343f6252-2499-4742-8582-e65e410dcecf/items/89f5b35e-163b-4723-bcb7-a9df4daf00ee/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a58d4a00-05de-40e1-87a3-8c74e8a13039
      RequestId:
      - eb58449e-b360-4c0e-9995-0a228675dd40
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - a58d4a00-05de-40e1-87a3-8c74e8a13039
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a58d4a00-05de-40e1-87a3-8c74e8a13039/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "DatabaseProperties.json", "payload":
        "ew0KICAiZGF0YWJhc2VUeXBlIjogIlJlYWRXcml0ZSIsDQogICJwYXJlbnRFdmVudGhvdXNlSXRlbUlkIjogIjZmZjZkNzQwLTA4MzItNGI0NS05NjEyLTg5OTMzYzhkZWE4YiIsDQogICJvbmVMYWtlQ2FjaGluZ1BlcmlvZCI6ICJQMzY1MDAwRCIsDQogICJvbmVMYWtlU3RhbmRhcmRTdG9yYWdlUGVyaW9kIjogIlAzNjUwMDBEIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": "DatabaseSchema.kql", "payload":
        "Ly8gS1FMIHNjcmlwdA0KLy8gVXNlIG1hbmFnZW1lbnQgY29tbWFuZHMgaW4gdGhpcyBzY3JpcHQgdG8gY29uZmlndXJlIHlvdXIgZGF0YWJhc2UgaXRlbXMsIHN1Y2ggYXMgdGFibGVzLCBmdW5jdGlvbnMsIG1hdGVyaWFsaXplZCB2aWV3cywgYW5kIG1vcmUuDQoNCg0K",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTERhdGFiYXNlIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 51a9776b-f02b-41d4-87db-04a8031ec601
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/343f6252-2499-4742-8582-e65e410dcecf/items/89f5b35e-163b-4723-bcb7-a9df4daf00ee
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0f413eb3-76c3-41d5-9803-d2ebbd9d4eb8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
