interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 96810168-6c83-4b58-94b0-d26c8ac18c79
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2/items
  response:
    body:
      string: '{"value": [{"id": "94a16f22-dc59-48aa-b9a1-d0da2eeacf5f", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"},
        {"id": "33d77e90-e726-4096-b36b-c04c3f772c1e", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"},
        {"id": "6b6c3ed5-b5f1-48aa-883e-03bcf4eda781", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"},
        {"id": "16bbc4bd-085c-409d-827e-dad6b506d40e", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"},
        {"id": "4a27344b-0d57-4ebb-963f-fa535d3a3809", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"},
        {"id": "a3ef5bd4-2023-4e30-97a4-088aa13a989c", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 30476449-f285-498c-a8fc-bde30d2b1b78
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SparkJobDefinition", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2/sparkJobDefinitions
  response:
    body:
      string: '{"id": "76ebf24b-3620-4547-ac09-766dc2be568e", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 8be79da4-461c-45a9-bb4c-a7b5cfd75734
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2/items/76ebf24b-3620-4547-ac09-766dc2be568e
  response:
    body:
      string: '{"id": "76ebf24b-3620-4547-ac09-766dc2be568e", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 04333bfb-499e-4ac4-bff3-21278d6544c6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2/items/76ebf24b-3620-4547-ac09-766dc2be568e/getDefinition?format=SparkJobDefinitionV1
  response:
    body:
      string: '{"definition": {"parts": [{"path": "SparkJobDefinitionV1.json", "payload":
        "ew0KICAiZXhlY3V0YWJsZUZpbGUiOiBudWxsLA0KICAiZGVmYXVsdExha2Vob3VzZUFydGlmYWN0SWQiOiBudWxsLA0KICAibWFpbkNsYXNzIjogbnVsbCwNCiAgImFkZGl0aW9uYWxMYWtlaG91c2VJZHMiOiBbXSwNCiAgInJldHJ5UG9saWN5IjogbnVsbCwNCiAgImNvbW1hbmRMaW5lQXJndW1lbnRzIjogbnVsbCwNCiAgImFkZGl0aW9uYWxMaWJyYXJ5VXJpcyI6IG51bGwsDQogICJsYW5ndWFnZSI6IG51bGwsDQogICJlbnZpcm9ubWVudEFydGlmYWN0SWQiOiBudWxsDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlNwYXJrSm9iRGVmaW5pdGlvbiIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d6caa538-1f0a-4365-bf91-5627a75f598c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2/items/76ebf24b-3620-4547-ac09-766dc2be568e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 83f9a46e-326b-492d-a8e6-8c2bf596f157
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
