interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "212b5b44-51e7-4456-9def-82a1c21a939f", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fbc89268-f463-41b8-9b4c-579ac221b52d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/212b5b44-51e7-4456-9def-82a1c21a939f/items
  response:
    body:
      string: '{"value": [{"id": "d67014ed-ea6a-4901-b35b-01854838dc61", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "212b5b44-51e7-4456-9def-82a1c21a939f"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 009e4e29-810c-4e49-971c-72d58e7d4d5f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/212b5b44-51e7-4456-9def-82a1c21a939f/eventhouses
  response:
    body:
      string: '{"id": "3e30bcea-4c0b-4cdb-867c-fb5e1a45835f", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "212b5b44-51e7-4456-9def-82a1c21a939f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a04e6d21-fb56-4de0-bbde-0ead278c03e6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "3e30bcea-4c0b-4cdb-867c-fb5e1a45835f"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/212b5b44-51e7-4456-9def-82a1c21a939f/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2cb43866-9d18-4103-97d3-103455ca5787
      RequestId:
      - ddc108bf-c023-43f0-9a1c-12933a999072
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 2cb43866-9d18-4103-97d3-103455ca5787
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2cb43866-9d18-4103-97d3-103455ca5787
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T13:33:04.3375099",
        "lastUpdatedTimeUtc": "2026-01-19T13:33:09.8382285", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2cb43866-9d18-4103-97d3-103455ca5787/result
      RequestId:
      - 7385f219-e953-4246-a659-1c7e5dcd89db
      x-ms-operation-id:
      - 2cb43866-9d18-4103-97d3-103455ca5787
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2cb43866-9d18-4103-97d3-103455ca5787/result
  response:
    body:
      string: '{"id": "37fe3ab1-883b-4278-a17e-5fcf45102798", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "212b5b44-51e7-4456-9def-82a1c21a939f"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 36efc297-1141-4a39-b91d-818a9d4144d0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/212b5b44-51e7-4456-9def-82a1c21a939f/items/37fe3ab1-883b-4278-a17e-5fcf45102798
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a0fa8142-eac3-4359-b940-c640b5ebf43a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
