interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d1080e2e-fcee-43dc-a4e3-cb3f5b4c73fc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items
  response:
    body:
      string: '{"value": [{"id": "548287ca-f7c6-4f64-b20b-9b04b532952c", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"},
        {"id": "53524b43-f19e-46bc-abc1-86fef4ae04d7", "type": "SQLEndpoint", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"},
        {"id": "8b2899c6-0335-4526-bee6-c71dae4d2939", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"},
        {"id": "6bcd6f9c-3af1-4650-ad0b-ffe4da87b7e1", "type"[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5397dd9c-1fb4-4db2-8ba0-9e833b7d2c8b
      RequestId:
      - 1aadbac6-7576-48e3-b415-b82a72608afe
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5397dd9c-1fb4-4db2-8ba0-9e833b7d2c8b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5397dd9c-1fb4-4db2-8ba0-9e833b7d2c8b
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:42:05.9045186",
        "lastUpdatedTimeUtc": "2026-05-13T06:42:13.7683474", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5397dd9c-1fb4-4db2-8ba0-9e833b7d2c8b/result
      RequestId:
      - 30fb74ac-7bde-4375-8885-64d361b4c62e
      x-ms-operation-id:
      - 5397dd9c-1fb4-4db2-8ba0-9e833b7d2c8b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5397dd9c-1fb4-4db2-8ba0-9e833b7d2c8b/result
  response:
    body:
      string: '{"id": "a1afe76a-f7f3-4ce5-9810-b189291f9388", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d10b998d-a92d-45f2-9a89-990c8c3fcce1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items/a1afe76a-f7f3-4ce5-9810-b189291f9388
  response:
    body:
      string: '{"id": "a1afe76a-f7f3-4ce5-9810-b189291f9388", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 1de2ed62-11dd-47d8-ae66-6bc7ef56bb70
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items/a1afe76a-f7f3-4ce5-9810-b189291f9388/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1176dc20-2986-450c-823e-acf1378b0c1f
      RequestId:
      - a963ced6-4c06-4dbe-9193-deec11ce4fd0
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 1176dc20-2986-450c-823e-acf1378b0c1f
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1176dc20-2986-450c-823e-acf1378b0c1f/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiZTM2YjA1M2YtYzJiYy00YjU2LWJlMzgtNzUyMTg1MWMxMjE4Ig0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 967aa8fc-f715-4fd0-b095-62f504ee8bbc
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items/a1afe76a-f7f3-4ce5-9810-b189291f9388
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 85636774-889a-46f4-b9b1-c401ecd85041
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
