interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "77f7aa72-986f-4e8b-9e4d-642c5bedbc67", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0ea27817-3bb2-412f-9433-af513ec998e3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/items
  response:
    body:
      string: '{"value": [{"id": "9f59102f-f0e0-4c38-a989-e52c5061ffbe", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "77f7aa72-986f-4e8b-9e4d-642c5bedbc67"},
        {"id": "a5d67601-d193-4cee-a459-904ed566585d", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "77f7aa72-986f-4e8b-9e4d-642c5bedbc67"},
        {"id": "d799f481-dbe3-4487-9817-0b818bff2323", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "77f7aa72-986f-4e8b-9e4d-642c5bedbc67"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dd722e98-85e2-4438-919b-1d87393e1037
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/55b57e62-37ac-4943-a4f1-0c8b54aaa07a
      RequestId:
      - 57c72adb-bf5f-4b77-83b8-abc4ffd4e166
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 55b57e62-37ac-4943-a4f1-0c8b54aaa07a
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/55b57e62-37ac-4943-a4f1-0c8b54aaa07a
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T13:03:50.3280177",
        "lastUpdatedTimeUtc": "2026-01-19T13:03:57.0177509", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/55b57e62-37ac-4943-a4f1-0c8b54aaa07a/result
      RequestId:
      - 5430fbea-3129-4e8f-9c3e-e6e422c148b0
      x-ms-operation-id:
      - 55b57e62-37ac-4943-a4f1-0c8b54aaa07a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/55b57e62-37ac-4943-a4f1-0c8b54aaa07a/result
  response:
    body:
      string: '{"id": "466e976f-ab08-4b26-81ad-86ac3e04a043", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "77f7aa72-986f-4e8b-9e4d-642c5bedbc67"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 648d0f0e-b2ec-407c-8b28-25c138bbed57
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/items/466e976f-ab08-4b26-81ad-86ac3e04a043
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1ebc3221-2339-4132-bdf2-fc37b2a1b6fa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
