interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "c8614e1d-a9f0-4fe6-981d-6965c671dd19", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d187480a-3ed0-4cba-b7f4-edf52d8a6d00",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "8a87367b-30e4-4095-94b9-5edcfaef2612"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1b288d91-4ca9-4d1c-aa97-a84660811118
      home-cluster-uri:
      - https://df-msit-scus-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d187480a-3ed0-4cba-b7f4-edf52d8a6d00/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b665680a-6293-42be-8e24-8414f36abae3
      home-cluster-uri:
      - https://df-msit-scus-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d187480a-3ed0-4cba-b7f4-edf52d8a6d00/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://df-msit-scus-redirect.analysis.windows.net/v1/operations/ba99f482-01fb-499e-ba17-fb97be1c2932
      RequestId:
      - 29e00b89-95fb-4ae8-a579-f59229131029
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://df-msit-scus-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ba99f482-01fb-499e-ba17-fb97be1c2932
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://df-msit-scus-redirect.analysis.windows.net/v1/operations/ba99f482-01fb-499e-ba17-fb97be1c2932
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-12-14T20:58:17.2256345",
        "lastUpdatedTimeUtc": "2025-12-14T20:58:19.0541241", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://df-msit-scus-redirect.analysis.windows.net/v1/operations/ba99f482-01fb-499e-ba17-fb97be1c2932/result
      RequestId:
      - 27fc19d7-fb1e-44c3-8ed5-d6c556dd97a7
      x-ms-operation-id:
      - ba99f482-01fb-499e-ba17-fb97be1c2932
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://df-msit-scus-redirect.analysis.windows.net/v1/operations/ba99f482-01fb-499e-ba17-fb97be1c2932/result
  response:
    body:
      string: '{"id": "334b982e-e049-49b1-97f8-c686e3e20209", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "d187480a-3ed0-4cba-b7f4-edf52d8a6d00"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 879dfbea-2dba-4d90-8525-2b6d8538e9fd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d187480a-3ed0-4cba-b7f4-edf52d8a6d00/items
  response:
    body:
      string: '{"value": [{"id": "334b982e-e049-49b1-97f8-c686e3e20209", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "d187480a-3ed0-4cba-b7f4-edf52d8a6d00", "sensitivityLabel": {"sensitivityLabelId":
        "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8f1f0d63-c41a-46e5-acff-a40eb966abb4
      home-cluster-uri:
      - https://df-msit-scus-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d187480a-3ed0-4cba-b7f4-edf52d8a6d00/items/334b982e-e049-49b1-97f8-c686e3e20209
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e11b5190-bfce-4913-a45f-719a4d8e1017
      home-cluster-uri:
      - https://df-msit-scus-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
