interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "c39782d3-0dbe-4538-a22f-d3a779a71631", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d84931f3-f5d6-4861-af6f-07f91ea68dbe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c39782d3-0dbe-4538-a22f-d3a779a71631/items
  response:
    body:
      string: '{"value": [{"id": "01492e9d-fcf3-4a4f-9a3f-c0cbd54c137d", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "c39782d3-0dbe-4538-a22f-d3a779a71631"},
        {"id": "ba811290-f942-4158-816c-de85b6a16217", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "c39782d3-0dbe-4538-a22f-d3a779a71631"},
        {"id": "c88d051e-6fdd-45fd-a406-1263e90915c2", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "c39782d3-0dbe-4538-a22f-d3a779a71631"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cf75ca28-d0dc-4b0f-80b8-59f6312c9fa9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c39782d3-0dbe-4538-a22f-d3a779a71631/lakehouses
  response:
    body:
      string: '{"id": "a05572dd-6039-4e2e-8d80-0407a6867c1c", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c39782d3-0dbe-4538-a22f-d3a779a71631"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4d4d605d-5af7-4e5b-bedd-b384649ba77c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c39782d3-0dbe-4538-a22f-d3a779a71631/items/a05572dd-6039-4e2e-8d80-0407a6867c1c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0230c2ad-79e6-45fe-aa37-ebc738297bfe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
