interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "216ee1e3-0750-4f42-9401-cf5312757f40",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8ce0dd0c-594c-4e81-90dc-a5d983401c3e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/216ee1e3-0750-4f42-9401-cf5312757f40/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d50684d6-5025-47db-a5fd-31848b79ff32
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MLModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/216ee1e3-0750-4f42-9401-cf5312757f40/mlModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/c884de1f-9298-446b-8faf-95a9ddc5f82b
      RequestId:
      - f21dc452-cf88-4412-b269-36b616371411
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - c884de1f-9298-446b-8faf-95a9ddc5f82b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/c884de1f-9298-446b-8faf-95a9ddc5f82b
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2025-09-02T19:38:48.7194959",
        "lastUpdatedTimeUtc": "2025-09-02T19:38:48.7194959", "percentComplete": null,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/c884de1f-9298-446b-8faf-95a9ddc5f82b
      RequestId:
      - 73d6151d-005c-40e0-a2ba-4c65e520e52f
      Retry-After:
      - '20'
      x-ms-operation-id:
      - c884de1f-9298-446b-8faf-95a9ddc5f82b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/c884de1f-9298-446b-8faf-95a9ddc5f82b/result
  response:
    body:
      string: '{"id": "07a672ee-9c34-4eb6-a337-0c7e0fa05510", "type": "MLModel", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "216ee1e3-0750-4f42-9401-cf5312757f40"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 0f5cc9af-7d91-4854-8f74-fad62cf36ede
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/216ee1e3-0750-4f42-9401-cf5312757f40/items/07a672ee-9c34-4eb6-a337-0c7e0fa05510
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8c3527d5-0f38-4c59-8652-20fa0f5cd6f8
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
