interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 398169c6-fc27-4a96-806b-670db78d728e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items
  response:
    body:
      string: '{"value": [{"id": "548287ca-f7c6-4f64-b20b-9b04b532952c", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"},
        {"id": "53524b43-f19e-46bc-abc1-86fef4ae04d7", "type": "SQLEndpoint", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"},
        {"id": "a0de3ff6-e213-4361-b9ac-86bca8a0c45e", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"},
        {"id": "63328185-5391-4afb-9422-226e7cf0b88b", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"},
        {"id": "c4883239-2fb5-4733-b9d9-69f1f4aa7d36", "type": "Lakehouse", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"},
        {"id": "ed01d794-26c7-4cca-8e3c-f98dc8d53550", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001_autoOnDemand", "description": "", "workspaceId":
        "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2dd13146-994c-4ad8-b63a-eb850856fb7d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9faad45f-8692-41ab-b5df-6eed18755182
      RequestId:
      - 230ece90-68ff-408b-a0c1-cce619bdc0be
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9faad45f-8692-41ab-b5df-6eed18755182
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9faad45f-8692-41ab-b5df-6eed18755182
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:38:06.8609004",
        "lastUpdatedTimeUtc": "2026-05-13T06:38:17.1379588", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9faad45f-8692-41ab-b5df-6eed18755182/result
      RequestId:
      - 2ae5cca4-78fc-47d0-a07b-76eb49de45e9
      x-ms-operation-id:
      - 9faad45f-8692-41ab-b5df-6eed18755182
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9faad45f-8692-41ab-b5df-6eed18755182/result
  response:
    body:
      string: '{"id": "9bff8e9c-f551-4412-9df9-621aebeaba1b", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 551192cb-67e9-4f98-b6ca-7c594d629e17
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items/9bff8e9c-f551-4412-9df9-621aebeaba1b
  response:
    body:
      string: '{"id": "9bff8e9c-f551-4412-9df9-621aebeaba1b", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a45a1b9a-f90e-4c20-921a-21164ed568c7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items/9bff8e9c-f551-4412-9df9-621aebeaba1b/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/537a49bc-b20f-467d-8ce5-8b71e363a45c
      RequestId:
      - 0b744d4e-7e13-4849-9dfa-2904cd751475
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 537a49bc-b20f-467d-8ce5-8b71e363a45c
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/537a49bc-b20f-467d-8ce5-8b71e363a45c/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiZTIxMjY2ODMtY2VkMS00ZThkLTljNDEtMjJmNTY4YmRkODE3Ig0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d1154497-af38-4a95-a488-28c781f7b590
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items/9bff8e9c-f551-4412-9df9-621aebeaba1b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 61640143-9a85-4bc4-b5e7-1c2b052ded23
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
