interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "590197c8-bc5b-4bc7-ba01-35b6a22d190a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 01151a21-b99a-4a6e-b3ef-c493a8ebfb58
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/590197c8-bc5b-4bc7-ba01-35b6a22d190a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9363b996-cb9b-46c8-a444-2334dbfd4932
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/590197c8-bc5b-4bc7-ba01-35b6a22d190a/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b75f069b-3b1f-490f-bab7-df470ee36580
      RequestId:
      - 3c055896-c88d-469f-90f2-626fc4e6c843
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b75f069b-3b1f-490f-bab7-df470ee36580
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b75f069b-3b1f-490f-bab7-df470ee36580
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-22T12:36:50.1622484",
        "lastUpdatedTimeUtc": "2026-02-22T12:37:06.2297456", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b75f069b-3b1f-490f-bab7-df470ee36580/result
      RequestId:
      - b628e213-9ad9-441d-a34f-ce5d58c2855a
      x-ms-operation-id:
      - b75f069b-3b1f-490f-bab7-df470ee36580
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b75f069b-3b1f-490f-bab7-df470ee36580/result
  response:
    body:
      string: '{"id": "0674a10a-1a60-449c-9851-133acbdde42e", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "590197c8-bc5b-4bc7-ba01-35b6a22d190a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d6674acb-b263-4540-9de0-5378de1f73f9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/590197c8-bc5b-4bc7-ba01-35b6a22d190a/items/0674a10a-1a60-449c-9851-133acbdde42e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a844fe15-30b1-48b4-95ec-b84e4636fae8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
