interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "80758642-2097-4b3d-9b54-a067aef97b65", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 714eab7e-9a29-4b97-996e-0cd9278541ed
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/80758642-2097-4b3d-9b54-a067aef97b65/items
  response:
    body:
      string: '{"value": [{"id": "be822800-4f63-490a-aa3d-ec66c37603b9", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "80758642-2097-4b3d-9b54-a067aef97b65"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a1b02afa-2f2e-4f03-9216-7eda3271ae52
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SemanticModel", "folderId": null, "definition": {"parts": [{"path": ".platform",
      "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlNlbWFudGljTW9kZWwiLAogICAgImRpc3BsYXlOYW1lIjogIkJsYW5rIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
      "payloadType": "InlineBase64"}, {"path": "definition.pbism", "payload": "ewogICJ2ZXJzaW9uIjogIjQuMCIsCiAgInNldHRpbmdzIjoge30KfQ==",
      "payloadType": "InlineBase64"}, {"path": "definition/database.tmdl", "payload":
      "ZGF0YWJhc2UKCWNvbXBhdGliaWxpdHlMZXZlbDogMTU2MQoK", "payloadType": "InlineBase64"},
      {"path": "definition/model.tmdl", "payload": "bW9kZWwgTW9kZWwKCWN1bHR1cmU6IGVuLVVTCglkZWZhdWx0UG93ZXJCSURhdGFTb3VyY2VWZXJzaW9uOiBwb3dlckJJX1YzCglzb3VyY2VRdWVyeUN1bHR1cmU6IGVuLVVTCglkYXRhQWNjZXNzT3B0aW[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f9e115e8-c464-481e-a5f9-32a652f1d83d
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T13:38:32.8016706",
        "lastUpdatedTimeUtc": "2026-01-19T13:38:43.3668387", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f9e115e8-c464-481e-a5f9-32a652f1d83d/result
      RequestId:
      - 8fa39538-16b0-40c0-b919-d0531544fbd9
      x-ms-operation-id:
      - f9e115e8-c464-481e-a5f9-32a652f1d83d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f9e115e8-c464-481e-a5f9-32a652f1d83d/result
  response:
    body:
      string: '{"id": "9c0c801d-6d27-453c-9837-c2bb09322cd8", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "80758642-2097-4b3d-9b54-a067aef97b65"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 377297b2-fbbd-4ca1-ac83-eadf1500e17e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/80758642-2097-4b3d-9b54-a067aef97b65/items/9c0c801d-6d27-453c-9837-c2bb09322cd8
  response:
    body:
      string: '{"id": "9c0c801d-6d27-453c-9837-c2bb09322cd8", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "80758642-2097-4b3d-9b54-a067aef97b65"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e7db85a6-15c7-4078-87e0-5f63393ea85e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/80758642-2097-4b3d-9b54-a067aef97b65/items/9c0c801d-6d27-453c-9837-c2bb09322cd8/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4033fb8c-3500-4dbe-be3d-a45395b6b507
      RequestId:
      - 6a7e3106-794d-439f-b22b-d4e80f0058ef
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 4033fb8c-3500-4dbe-be3d-a45395b6b507
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4033fb8c-3500-4dbe-be3d-a45395b6b507/result
  response:
    body:
      string: '{"definition": {"format": "TMDL", "parts": [{"path": "definition.pbism",
        "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9pdGVtL3NlbWFudGljTW9kZWwvZGVmaW5pdGlvblByb3BlcnRpZXMvMS4wLjAvc2NoZW1hLmpzb24iLAogICJ2ZXJzaW9uIjogIjQuMiIsCiAgInNldHRpbmdzIjoge30KfQ==",
        "payloadType": "InlineBase64"}, {"path": "definition/tables/Table.tmdl", "payload":
        "dGFibGUgVGFibGUKCWxpbmVhZ2VUYWc6IDFmY2QyZDhjLTkzZDYtNGU2Zi1hYjg2LThjMDU5YzhhODk4ZAoKCWNvbHVtbiBDb2x1bW4x[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/80758642-2097-4b3d-9b54-a067aef97b65/items/9c0c801d-6d27-453c-9837-c2bb09322cd8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ae66a8b3-d1fa-4b5a-8ea5-bbba4e1fa21d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
