interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "85517e0b-3413-4c0e-83f4-0a0cce810940",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8a9da620-191b-4c32-836a-d51028723c88
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/85517e0b-3413-4c0e-83f4-0a0cce810940/items
  response:
    body:
      string: '{"value": [{"id": "ee183178-63de-4553-ad58-eccba223133b", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "85517e0b-3413-4c0e-83f4-0a0cce810940"},
        {"id": "104ec2d1-577a-4a8d-866f-3cb202416a60", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "85517e0b-3413-4c0e-83f4-0a0cce810940"},
        {"id": "6eba4ee8-7e43-46ce-99a8-02bbb2e1d2e9", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "85517e0b-3413-4c0e-83f4-0a0cce810940"},
        {"id": "91ed643b-aea1-43c4-8c32-a8fd592f814e", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "85517e0b-3413-4c0e-83f4-0a0cce810940"},
        {"id": "1f0613a2-5a58-40dc-8be0-91f4b75a805b", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "85517e0b-3413-4c0e-83f4-0a0cce810940"},
        {"id": "e243971b-7b9d-4deb-95d6-2b152aaebed1", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "85517e0b-3413-4c0e-83f4-0a0cce810940"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 89e60163-5c34-4163-a9c0-5ad762ba3e5d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/85517e0b-3413-4c0e-83f4-0a0cce810940/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/05e52ce4-7e42-4d88-975d-74f79f47f08e
      RequestId:
      - 2e41cd49-f281-4933-acca-791b5f062615
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 05e52ce4-7e42-4d88-975d-74f79f47f08e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/05e52ce4-7e42-4d88-975d-74f79f47f08e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T08:44:46.1864657",
        "lastUpdatedTimeUtc": "2026-03-31T08:44:52.717032", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/05e52ce4-7e42-4d88-975d-74f79f47f08e/result
      RequestId:
      - 9fad6aeb-be7e-4347-b104-0e9cf44db1ee
      x-ms-operation-id:
      - 05e52ce4-7e42-4d88-975d-74f79f47f08e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/05e52ce4-7e42-4d88-975d-74f79f47f08e/result
  response:
    body:
      string: '{"id": "6c1a1c21-dd7a-45c7-ae77-0192c2357013", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "workspaceId":
        "85517e0b-3413-4c0e-83f4-0a0cce810940"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 3dde5bda-03a5-4c47-bc5c-60473859a5e4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/85517e0b-3413-4c0e-83f4-0a0cce810940/items/6c1a1c21-dd7a-45c7-ae77-0192c2357013
  response:
    body:
      string: '{"id": "6c1a1c21-dd7a-45c7-ae77-0192c2357013", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "workspaceId":
        "85517e0b-3413-4c0e-83f4-0a0cce810940"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c381ba33-7353-47ff-a9a1-fbd186875303
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/85517e0b-3413-4c0e-83f4-0a0cce810940/items/6c1a1c21-dd7a-45c7-ae77-0192c2357013/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3b75ed25-c5f8-4802-ae40-b2082453e76a
      RequestId:
      - 4d922bfa-5528-465d-a15b-1dc25a53e6f6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 3b75ed25-c5f8-4802-ae40-b2082453e76a
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3b75ed25-c5f8-4802-ae40-b2082453e76a/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiMjBmMTgwZmMtOWE2Mi00N2EwLWFjM2UtOWFjOWUyOTNiZTRkIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f8720e49-ccda-43c5-82e3-37009dd8e500
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/85517e0b-3413-4c0e-83f4-0a0cce810940/items/6c1a1c21-dd7a-45c7-ae77-0192c2357013
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 462248dc-11a4-480d-b05f-515b9fe8fa2a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
