interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4bfbe670-0d63-4207-b4c6-b40c233f0f9c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2/items
  response:
    body:
      string: '{"value": [{"id": "94a16f22-dc59-48aa-b9a1-d0da2eeacf5f", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 72c2c8e8-876c-43e1-adad-21908f482c76
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2/eventhouses
  response:
    body:
      string: '{"id": "6b6c3ed5-b5f1-48aa-883e-03bcf4eda781", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 587d6c45-2e28-4687-896a-185d84183f87
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "6b6c3ed5-b5f1-48aa-883e-03bcf4eda781"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4df3f63a-3fe2-4a84-810a-fda04a4ea863
      RequestId:
      - 3bf12596-1e22-4939-8fb7-f64870b63cb7
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 4df3f63a-3fe2-4a84-810a-fda04a4ea863
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4df3f63a-3fe2-4a84-810a-fda04a4ea863
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-28T13:17:41.5275908",
        "lastUpdatedTimeUtc": "2026-01-28T13:17:49.3567233", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4df3f63a-3fe2-4a84-810a-fda04a4ea863/result
      RequestId:
      - f58aac7b-5d8b-430e-8adc-ee7e9560310c
      x-ms-operation-id:
      - 4df3f63a-3fe2-4a84-810a-fda04a4ea863
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4df3f63a-3fe2-4a84-810a-fda04a4ea863/result
  response:
    body:
      string: '{"id": "3765185f-6e97-4ab4-a7b0-060be8155057", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 6d8d034d-e3e7-453b-a4a2-da6dbd3df2a2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2/items/3765185f-6e97-4ab4-a7b0-060be8155057
  response:
    body:
      string: '{"id": "3765185f-6e97-4ab4-a7b0-060be8155057", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 8c2f8658-bb38-4f11-90c8-f8835a302480
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2/items/3765185f-6e97-4ab4-a7b0-060be8155057/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/824834ba-c991-4bd9-85a8-4e30c44bbe05
      RequestId:
      - 7060f477-c1de-4f6b-b5f1-37d8e72c91fc
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 824834ba-c991-4bd9-85a8-4e30c44bbe05
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/824834ba-c991-4bd9-85a8-4e30c44bbe05/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "DatabaseProperties.json", "payload":
        "ew0KICAiZGF0YWJhc2VUeXBlIjogIlJlYWRXcml0ZSIsDQogICJwYXJlbnRFdmVudGhvdXNlSXRlbUlkIjogIjZiNmMzZWQ1LWI1ZjEtNDhhYS04ODNlLTAzYmNmNGVkYTc4MSIsDQogICJvbmVMYWtlQ2FjaGluZ1BlcmlvZCI6ICJQMzY1MDAwRCIsDQogICJvbmVMYWtlU3RhbmRhcmRTdG9yYWdlUGVyaW9kIjogIlAzNjUwMDBEIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": "DatabaseSchema.kql", "payload":
        "Ly8gS1FMIHNjcmlwdA0KLy8gVXNlIG1hbmFnZW1lbnQgY29tbWFuZHMgaW4gdGhpcyBzY3JpcHQgdG8gY29uZmlndXJlIHlvdXIgZGF0YWJhc2UgaXRlbXMsIHN1Y2ggYXMgdGFibGVzLCBmdW5jdGlvbnMsIG1hdGVyaWFsaXplZCB2aWV3cywgYW5kIG1vcmUuDQoNCg0K",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTERhdGFiYXNlIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 82fe9f96-8573-401a-b3f8-bbe7684eb2a7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2/items/3765185f-6e97-4ab4-a7b0-060be8155057
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 7ba64df1-b144-4ae3-947d-2c2c9750e58c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
