interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "77f7aa72-986f-4e8b-9e4d-642c5bedbc67", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e9b64cca-3d53-4140-be80-f55d6b8966db
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/items
  response:
    body:
      string: '{"value": [{"id": "9f59102f-f0e0-4c38-a989-e52c5061ffbe", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "77f7aa72-986f-4e8b-9e4d-642c5bedbc67"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f269a13b-f7b6-45c4-907d-40bf5d15b8d8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/eventhouses
  response:
    body:
      string: '{"id": "a5d67601-d193-4cee-a459-904ed566585d", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "77f7aa72-986f-4e8b-9e4d-642c5bedbc67"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - df219dad-bc2d-4e9c-a06e-97722ea481b6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "a5d67601-d193-4cee-a459-904ed566585d"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/94293ebb-f0d3-42f0-882f-8dae8330fccb
      RequestId:
      - e4eb9cc1-6f8e-45c9-a80b-c61b27b45ecc
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 94293ebb-f0d3-42f0-882f-8dae8330fccb
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/94293ebb-f0d3-42f0-882f-8dae8330fccb
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T13:02:45.8107811",
        "lastUpdatedTimeUtc": "2026-01-19T13:02:52.5305535", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/94293ebb-f0d3-42f0-882f-8dae8330fccb/result
      RequestId:
      - 47949332-3035-4561-9737-91b33ada69e7
      x-ms-operation-id:
      - 94293ebb-f0d3-42f0-882f-8dae8330fccb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/94293ebb-f0d3-42f0-882f-8dae8330fccb/result
  response:
    body:
      string: '{"id": "97057aaf-30e3-48bd-906f-839ca05f292c", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "77f7aa72-986f-4e8b-9e4d-642c5bedbc67"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - bb31ccfb-ad3a-4690-9430-688466eeae22
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/items/97057aaf-30e3-48bd-906f-839ca05f292c
  response:
    body:
      string: '{"id": "97057aaf-30e3-48bd-906f-839ca05f292c", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "77f7aa72-986f-4e8b-9e4d-642c5bedbc67"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d86e75fe-04ea-4ceb-a787-20ceddcf7e7e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/items/97057aaf-30e3-48bd-906f-839ca05f292c/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d40a0ca2-9f55-4edf-bd65-844dc80480aa
      RequestId:
      - 2a256057-6087-4d54-8de4-e29a0a560fa6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d40a0ca2-9f55-4edf-bd65-844dc80480aa
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d40a0ca2-9f55-4edf-bd65-844dc80480aa/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "DatabaseProperties.json", "payload":
        "ew0KICAiZGF0YWJhc2VUeXBlIjogIlJlYWRXcml0ZSIsDQogICJwYXJlbnRFdmVudGhvdXNlSXRlbUlkIjogImE1ZDY3NjAxLWQxOTMtNGNlZS1hNDU5LTkwNGVkNTY2NTg1ZCIsDQogICJvbmVMYWtlQ2FjaGluZ1BlcmlvZCI6ICJQMzY1MDAwRCIsDQogICJvbmVMYWtlU3RhbmRhcmRTdG9yYWdlUGVyaW9kIjogIlAzNjUwMDBEIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": "DatabaseSchema.kql", "payload":
        "Ly8gS1FMIHNjcmlwdA0KLy8gVXNlIG1hbmFnZW1lbnQgY29tbWFuZHMgaW4gdGhpcyBzY3JpcHQgdG8gY29uZmlndXJlIHlvdXIgZGF0YWJhc2UgaXRlbXMsIHN1Y2ggYXMgdGFibGVzLCBmdW5jdGlvbnMsIG1hdGVyaWFsaXplZCB2aWV3cywgYW5kIG1vcmUuDQoNCg0K",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTERhdGFiYXNlIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 7ec8c748-e641-42c5-a3f7-5ab609d3cd85
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/77f7aa72-986f-4e8b-9e4d-642c5bedbc67/items/97057aaf-30e3-48bd-906f-839ca05f292c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 60748413-79da-4f55-b75d-39c6544e82dc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
