interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "80758642-2097-4b3d-9b54-a067aef97b65", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9a238ed5-adf5-424d-b89f-a444ab8049a9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/80758642-2097-4b3d-9b54-a067aef97b65/items
  response:
    body:
      string: '{"value": [{"id": "be822800-4f63-490a-aa3d-ec66c37603b9", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "80758642-2097-4b3d-9b54-a067aef97b65"},
        {"id": "98e624d8-f055-4595-9e0a-37fe8abf9cb9", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "80758642-2097-4b3d-9b54-a067aef97b65"},
        {"id": "916cf096-ef4a-4b31-8aad-09637fea8604", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "80758642-2097-4b3d-9b54-a067aef97b65"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 756acd6f-4e65-4252-8037-603d9ada0f0b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/80758642-2097-4b3d-9b54-a067aef97b65/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ffe50c98-c3c1-443f-aab6-5440f3194ec9
      RequestId:
      - 9c4b3590-69fb-4275-b08f-da31e0eb897b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ffe50c98-c3c1-443f-aab6-5440f3194ec9
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ffe50c98-c3c1-443f-aab6-5440f3194ec9
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T13:40:37.1688079",
        "lastUpdatedTimeUtc": "2026-01-19T13:40:53.5620465", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ffe50c98-c3c1-443f-aab6-5440f3194ec9/result
      RequestId:
      - cd07fafa-d519-4ab0-a037-5439968dcf06
      x-ms-operation-id:
      - ffe50c98-c3c1-443f-aab6-5440f3194ec9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ffe50c98-c3c1-443f-aab6-5440f3194ec9/result
  response:
    body:
      string: '{"id": "997da74c-e24b-4991-a529-dee8c8ade7fc", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "80758642-2097-4b3d-9b54-a067aef97b65"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 394dbf27-eeb6-4c75-bfee-9d51e4df4363
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/80758642-2097-4b3d-9b54-a067aef97b65/items/997da74c-e24b-4991-a529-dee8c8ade7fc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5e8bc18d-6799-49f3-a8f3-56f9a45e9b09
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
