interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 065b3047-8d4a-4470-91ad-b54688b712df
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2/items
  response:
    body:
      string: '{"value": [{"id": "94a16f22-dc59-48aa-b9a1-d0da2eeacf5f", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"},
        {"id": "6b6c3ed5-b5f1-48aa-883e-03bcf4eda781", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"},
        {"id": "16bbc4bd-085c-409d-827e-dad6b506d40e", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 85c354cb-fd82-46ae-823d-78d0b4d6a526
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/298d9957-855c-4e68-a957-682bc1b07fac
      RequestId:
      - dc60e7d5-ef97-4640-b239-c1efe01b46e6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 298d9957-855c-4e68-a957-682bc1b07fac
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/298d9957-855c-4e68-a957-682bc1b07fac
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-28T13:22:07.3350956",
        "lastUpdatedTimeUtc": "2026-01-28T13:22:08.4538806", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/298d9957-855c-4e68-a957-682bc1b07fac/result
      RequestId:
      - 848c1224-af1f-41a5-9083-0df1b7cf96c7
      x-ms-operation-id:
      - 298d9957-855c-4e68-a957-682bc1b07fac
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/298d9957-855c-4e68-a957-682bc1b07fac/result
  response:
    body:
      string: '{"id": "3ff84794-6ba4-4960-a9c5-4fd89ca77ee9", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 3555cf12-fa58-4555-b44b-305aa2a4506f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d6d82b9c-630f-42f7-8c9f-3ad851e2c4e2/items/3ff84794-6ba4-4960-a9c5-4fd89ca77ee9
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 399d8ab9-dc4b-4fef-b599-33f67a521ab4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
