interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d14374c2-50ff-4f6f-8e42-4b502ea00903",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 79d580bf-7a59-4214-8b6c-df2a638cf2eb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e3debaf8-1675-4d74-b247-a6aa97137411
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4ea462c5-4a55-4cc9-a982-b0599dc6da58
      RequestId:
      - e1fb6b38-69eb-4343-83b5-c259913adcb6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 4ea462c5-4a55-4cc9-a982-b0599dc6da58
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4ea462c5-4a55-4cc9-a982-b0599dc6da58
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-09T08:49:59.5735643",
        "lastUpdatedTimeUtc": "2026-09-09T08:49:59.5735643", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4ea462c5-4a55-4cc9-a982-b0599dc6da58
      RequestId:
      - 8884b0f3-f668-4389-a553-1f1b0f79e8d9
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 4ea462c5-4a55-4cc9-a982-b0599dc6da58
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4ea462c5-4a55-4cc9-a982-b0599dc6da58/result
  response:
    body:
      string: '{"id": "56177df3-83c1-420b-9d30-bea87453f8f8", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "d14374c2-50ff-4f6f-8e42-4b502ea00903"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 7895c224-0d2e-44f5-bfce-e4184b384c04
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items/56177df3-83c1-420b-9d30-bea87453f8f8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 23702b33-cf82-4b5e-8390-8a177983df86
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
