interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "cf67653a-969e-41c3-836d-a8c16eb9404d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 584e9ed3-8ca8-4c28-92be-7a54a488d274
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf67653a-969e-41c3-836d-a8c16eb9404d/items
  response:
    body:
      string: '{"value": [{"id": "94d8e448-add6-49fc-a93e-932eb195dea7", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "cf67653a-969e-41c3-836d-a8c16eb9404d"},
        {"id": "82a052a8-1f8f-4242-9fb4-1b2b85c7a11e", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "cf67653a-969e-41c3-836d-a8c16eb9404d"},
        {"id": "f8fc2d91-77e7-47f5-9562-4b53f61ae155", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "cf67653a-969e-41c3-836d-a8c16eb9404d"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 87f8a435-27bc-4c55-8b98-6849be0bbe6d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf67653a-969e-41c3-836d-a8c16eb9404d/dataPipelines
  response:
    body:
      string: '{"id": "652a494e-a191-40d5-b918-52c625a0b6ec", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "cf67653a-969e-41c3-836d-a8c16eb9404d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a4417bc8-fa91-4727-a0f8-6813e9d63cd9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf67653a-969e-41c3-836d-a8c16eb9404d/items/652a494e-a191-40d5-b918-52c625a0b6ec
  response:
    body:
      string: '{"id": "652a494e-a191-40d5-b918-52c625a0b6ec", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "cf67653a-969e-41c3-836d-a8c16eb9404d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - baa4cd71-797e-49a0-9e82-09218035c3bf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf67653a-969e-41c3-836d-a8c16eb9404d/items/652a494e-a191-40d5-b918-52c625a0b6ec/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "pipeline-content.json", "payload":
        "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==", "payloadType":
        "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRhdGFQaXBlbGluZSIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b4d2c0e3-4c1b-468a-a5bd-ad31ab1cee00
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/cf67653a-969e-41c3-836d-a8c16eb9404d/items/652a494e-a191-40d5-b918-52c625a0b6ec
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 70a73c4b-ffb5-47f2-a38d-f167f4acfdd6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
