interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "80758642-2097-4b3d-9b54-a067aef97b65", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9b6ad213-c13b-4125-92a1-b13a79739b51
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/80758642-2097-4b3d-9b54-a067aef97b65/items
  response:
    body:
      string: '{"value": [{"id": "be822800-4f63-490a-aa3d-ec66c37603b9", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "80758642-2097-4b3d-9b54-a067aef97b65"},
        {"id": "98e624d8-f055-4595-9e0a-37fe8abf9cb9", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "80758642-2097-4b3d-9b54-a067aef97b65"},
        {"id": "916cf096-ef4a-4b31-8aad-09637fea8604", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "80758642-2097-4b3d-9b54-a067aef97b65"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3d4ebe8d-8ee9-4bd0-9f95-031e107627b7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/80758642-2097-4b3d-9b54-a067aef97b65/lakehouses
  response:
    body:
      string: '{"id": "0db8d8da-be23-48b2-9447-e50b54334177", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "80758642-2097-4b3d-9b54-a067aef97b65"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - daaacddc-2981-4d52-a4e2-953c789139df
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/80758642-2097-4b3d-9b54-a067aef97b65/items/0db8d8da-be23-48b2-9447-e50b54334177
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6d70bbda-e74b-445f-9044-ee1ceaec8fc1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
