interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 85974aac-2ec1-431a-a025-578857bb89e8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f1801f5d-8ceb-40e0-89e0-ebf8fae3e9d3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/443d72eb-9f2f-4d55-8b8e-c91e00ca4e29
      RequestId:
      - aae0faf9-d45d-41ef-819e-584c13f3ad86
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 443d72eb-9f2f-4d55-8b8e-c91e00ca4e29
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/443d72eb-9f2f-4d55-8b8e-c91e00ca4e29
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:36:12.2869488",
        "lastUpdatedTimeUtc": "2026-05-13T06:36:23.2647698", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/443d72eb-9f2f-4d55-8b8e-c91e00ca4e29/result
      RequestId:
      - 39d9ff09-feb8-43c6-af45-97401b4da9f0
      x-ms-operation-id:
      - 443d72eb-9f2f-4d55-8b8e-c91e00ca4e29
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/443d72eb-9f2f-4d55-8b8e-c91e00ca4e29/result
  response:
    body:
      string: '{"id": "c8333bc8-61f7-4ee4-83d6-f0984763ed66", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 58052c1e-b4b5-4270-8f97-e9252243c5a9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items/c8333bc8-61f7-4ee4-83d6-f0984763ed66
  response:
    body:
      string: '{"id": "c8333bc8-61f7-4ee4-83d6-f0984763ed66", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6c2f1ff5-ef1a-49f1-b8ec-937ee26a2d9b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items/c8333bc8-61f7-4ee4-83d6-f0984763ed66/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d65fc180-bde5-451f-8025-6cffd65eb7d3
      RequestId:
      - 26e315d8-80ef-4a7d-a423-fa14a6ae7017
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d65fc180-bde5-451f-8025-6cffd65eb7d3
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d65fc180-bde5-451f-8025-6cffd65eb7d3/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiYTBkZTNmZjYtZTIxMy00MzYxLWI5YWMtODZiY2E4YTBjNDVlIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d7cfb262-8777-41e0-99c5-e5ae0d7902aa
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items/c8333bc8-61f7-4ee4-83d6-f0984763ed66
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 27434289-e2d1-41ef-bbf5-d68ab7332996
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
