interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d14374c2-50ff-4f6f-8e42-4b502ea00903",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5170145f-68c6-4e30-969e-8f641afe8486
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1448ef84-6e1e-4cb1-a9f1-30dc0eabd80e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/01b5ffff-294f-49b7-a416-26b1c8bf6c8a
      RequestId:
      - 4b001311-bd0c-423a-9736-ae0db5deaec5
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 01b5ffff-294f-49b7-a416-26b1c8bf6c8a
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/01b5ffff-294f-49b7-a416-26b1c8bf6c8a
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-09T08:47:11.3134504",
        "lastUpdatedTimeUtc": "2026-09-09T08:47:11.3134504", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/01b5ffff-294f-49b7-a416-26b1c8bf6c8a
      RequestId:
      - c40c0ed4-e846-43d4-b4dc-9fdc93ef9e1d
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 01b5ffff-294f-49b7-a416-26b1c8bf6c8a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/01b5ffff-294f-49b7-a416-26b1c8bf6c8a/result
  response:
    body:
      string: '{"id": "6f11b2ab-d61e-40ee-9f3e-99c9b746ed29", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "d14374c2-50ff-4f6f-8e42-4b502ea00903"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 1c0116ac-ada8-431e-b935-56d84fb93caa
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items/6f11b2ab-d61e-40ee-9f3e-99c9b746ed29
  response:
    body:
      string: '{"id": "6f11b2ab-d61e-40ee-9f3e-99c9b746ed29", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "d14374c2-50ff-4f6f-8e42-4b502ea00903"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a0bc0150-2a25-4571-adfd-c7862917d904
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items/6f11b2ab-d61e-40ee-9f3e-99c9b746ed29/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dcee3172-eb91-437f-b900-28fd0e9b5f10
      RequestId:
      - 61ea4b4d-44ab-42d8-9b6b-d2a8e1236e38
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - dcee3172-eb91-437f-b900-28fd0e9b5f10
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dcee3172-eb91-437f-b900-28fd0e9b5f10/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "graphType.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9ncmFwaEluZGV4L2RlZmluaXRpb24vZ3JhcGhUeXBlLzEuMC4wL3NjaGVtYS5qc29uIiwNCiAgIm5vZGVUeXBlcyI6IG51bGwsDQogICJlZGdlVHlwZXMiOiBudWxsDQp9",
        "payloadType": "InlineBase64"}, {"path": "dataSources.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9ncmFwaEluZGV4L2RlZmluaXRpb24vZGF0YVNvdXJjZXMvMS4wLjAvc2NoZW1hLmpzb24iLA0KICAiZGF0YVNvdXJjZXMiOiBudWxsDQp9",
        "payloadType": "InlineBase64"}, {"path": "graphDefinition.json", "payload":
        "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9ncmFwaEluZGV4L2RlZmluaXRpb24vZ3JhcGhEZWZpb[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d14374c2-50ff-4f6f-8e42-4b502ea00903/items/6f11b2ab-d61e-40ee-9f3e-99c9b746ed29
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4955eea8-b3ff-4543-bd52-c6db8c610d69
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
