interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "212b5b44-51e7-4456-9def-82a1c21a939f", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f172e572-3c43-413a-80af-4d5c4b8412d2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/212b5b44-51e7-4456-9def-82a1c21a939f/items
  response:
    body:
      string: '{"value": [{"id": "d67014ed-ea6a-4901-b35b-01854838dc61", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "212b5b44-51e7-4456-9def-82a1c21a939f"},
        {"id": "3e30bcea-4c0b-4cdb-867c-fb5e1a45835f", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "212b5b44-51e7-4456-9def-82a1c21a939f"},
        {"id": "38004734-f4c6-43f9-bdd3-f57e89d2b90a", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "212b5b44-51e7-4456-9def-82a1c21a939f"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9e7f4e21-b08a-4eba-8ad4-0aac48073bb2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/212b5b44-51e7-4456-9def-82a1c21a939f/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a01efbc2-87c1-4dbb-ad7c-18b84bab1d47
      RequestId:
      - 8ffdbb90-cd9b-4e9e-8322-a10c1c1704c9
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - a01efbc2-87c1-4dbb-ad7c-18b84bab1d47
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a01efbc2-87c1-4dbb-ad7c-18b84bab1d47
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T13:33:45.2368694",
        "lastUpdatedTimeUtc": "2026-01-19T13:34:01.5531026", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a01efbc2-87c1-4dbb-ad7c-18b84bab1d47/result
      RequestId:
      - d7da8951-4511-453b-99ee-71070ddaa1df
      x-ms-operation-id:
      - a01efbc2-87c1-4dbb-ad7c-18b84bab1d47
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a01efbc2-87c1-4dbb-ad7c-18b84bab1d47/result
  response:
    body:
      string: '{"id": "aeda1159-f002-40d4-9651-1be042897a68", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "212b5b44-51e7-4456-9def-82a1c21a939f"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 2381b744-d65b-49ed-b796-b8018364d35d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/212b5b44-51e7-4456-9def-82a1c21a939f/items/aeda1159-f002-40d4-9651-1be042897a68
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1733824c-109e-4faa-9db6-4e72ff5d0b1b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
