interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "85517e0b-3413-4c0e-83f4-0a0cce810940",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 93282a28-3a2c-4cc4-9f36-6f692cea42f2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/85517e0b-3413-4c0e-83f4-0a0cce810940/items
  response:
    body:
      string: '{"value": [{"id": "ee183178-63de-4553-ad58-eccba223133b", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "85517e0b-3413-4c0e-83f4-0a0cce810940"},
        {"id": "91ed643b-aea1-43c4-8c32-a8fd592f814e", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "85517e0b-3413-4c0e-83f4-0a0cce810940"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0c04d93f-d49d-44a9-baf1-b4cc05c8222c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/85517e0b-3413-4c0e-83f4-0a0cce810940/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9f3f6266-1077-4bfa-8e03-6232f802eee7
      RequestId:
      - abae5d6b-cc87-428a-932f-a9a7e75de1e4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9f3f6266-1077-4bfa-8e03-6232f802eee7
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9f3f6266-1077-4bfa-8e03-6232f802eee7
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T08:43:08.7777723",
        "lastUpdatedTimeUtc": "2026-03-31T08:43:16.0710305", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9f3f6266-1077-4bfa-8e03-6232f802eee7/result
      RequestId:
      - 4a559ca9-03ae-481a-88de-1c78071252ca
      x-ms-operation-id:
      - 9f3f6266-1077-4bfa-8e03-6232f802eee7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9f3f6266-1077-4bfa-8e03-6232f802eee7/result
  response:
    body:
      string: '{"id": "c514b3c4-0ba5-405a-a778-cc3120aef65f", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "workspaceId":
        "85517e0b-3413-4c0e-83f4-0a0cce810940"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - bfed069f-6379-480d-b455-322d9d5c435c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/85517e0b-3413-4c0e-83f4-0a0cce810940/items/c514b3c4-0ba5-405a-a778-cc3120aef65f
  response:
    body:
      string: '{"id": "c514b3c4-0ba5-405a-a778-cc3120aef65f", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "workspaceId":
        "85517e0b-3413-4c0e-83f4-0a0cce810940"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7d4fb907-b4b0-4805-9c55-1c0b095c6e77
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/85517e0b-3413-4c0e-83f4-0a0cce810940/items/c514b3c4-0ba5-405a-a778-cc3120aef65f/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b2132771-d857-4c8a-b39a-c1baa21516b7
      RequestId:
      - 6066fc51-080d-4008-b312-21adf636464f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b2132771-d857-4c8a-b39a-c1baa21516b7
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b2132771-d857-4c8a-b39a-c1baa21516b7/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiMWYwNjEzYTItNWE1OC00MGRjLThiZTAtOTFmNGI3NWE4MDViIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b399a4c6-14e9-44fa-8713-f6353e913a6f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/85517e0b-3413-4c0e-83f4-0a0cce810940/items/c514b3c4-0ba5-405a-a778-cc3120aef65f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 17e9426f-90cf-4f9e-b9af-78ddc85332e0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
