interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "c8614e1d-a9f0-4fe6-981d-6965c671dd19", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "0cf497ce-8859-40ef-9053-554ccfe3e430",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "8a87367b-30e4-4095-94b9-5edcfaef2612"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 62cc7fef-b9f2-4b8c-82e3-94e5203cd4a1
      home-cluster-uri:
      - https://df-msit-scus-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cf497ce-8859-40ef-9053-554ccfe3e430/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8caa34af-899f-4895-b6d0-8d16ec5067f4
      home-cluster-uri:
      - https://df-msit-scus-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cf497ce-8859-40ef-9053-554ccfe3e430/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://df-msit-scus-redirect.analysis.windows.net/v1/operations/b4b1d16d-9559-4d80-b5b7-c272b2106d1d
      RequestId:
      - 8110ad7d-a75c-4a20-ba75-e1b0473dee0e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://df-msit-scus-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b4b1d16d-9559-4d80-b5b7-c272b2106d1d
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://df-msit-scus-redirect.analysis.windows.net/v1/operations/b4b1d16d-9559-4d80-b5b7-c272b2106d1d
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-12-14T20:35:12.7882857",
        "lastUpdatedTimeUtc": "2025-12-14T20:35:14.741959", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://df-msit-scus-redirect.analysis.windows.net/v1/operations/b4b1d16d-9559-4d80-b5b7-c272b2106d1d/result
      RequestId:
      - 18b6a211-c7ca-4c55-9d5b-d4773c0cabd2
      x-ms-operation-id:
      - b4b1d16d-9559-4d80-b5b7-c272b2106d1d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://df-msit-scus-redirect.analysis.windows.net/v1/operations/b4b1d16d-9559-4d80-b5b7-c272b2106d1d/result
  response:
    body:
      string: '{"id": "74832b32-50bd-4ca9-a2ca-56f25e969a93", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "0cf497ce-8859-40ef-9053-554ccfe3e430"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 90cdf769-3416-4443-846e-702b43cb6c95
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cf497ce-8859-40ef-9053-554ccfe3e430/items
  response:
    body:
      string: '{"value": [{"id": "74832b32-50bd-4ca9-a2ca-56f25e969a93", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "0cf497ce-8859-40ef-9053-554ccfe3e430", "sensitivityLabel": {"sensitivityLabelId":
        "9fbde396-1a24-4c79-8edf-9254a0f35055"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cec9414f-cab6-4ed8-a9f5-aec696d6a74a
      home-cluster-uri:
      - https://df-msit-scus-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cf497ce-8859-40ef-9053-554ccfe3e430/items/74832b32-50bd-4ca9-a2ca-56f25e969a93
  response:
    body:
      string: '{"id": "74832b32-50bd-4ca9-a2ca-56f25e969a93", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "0cf497ce-8859-40ef-9053-554ccfe3e430", "sensitivityLabel": {"sensitivityLabelId":
        "9fbde396-1a24-4c79-8edf-9254a0f35055"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d65ab329-f518-4ce9-9034-b96962e227cc
      home-cluster-uri:
      - https://df-msit-scus-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cf497ce-8859-40ef-9053-554ccfe3e430/items/74832b32-50bd-4ca9-a2ca-56f25e969a93/getDefinition?format=fabricGitSource
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://df-msit-scus-redirect.analysis.windows.net/v1/operations/ebc899aa-12b7-4b1e-af74-af7cdba931db
      RequestId:
      - 2dacbb0e-a21e-4832-b7b4-c134709d4a38
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://df-msit-scus-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ebc899aa-12b7-4b1e-af74-af7cdba931db
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cf497ce-8859-40ef-9053-554ccfe3e430/items/74832b32-50bd-4ca9-a2ca-56f25e969a93
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - dd4afdf8-3b45-4353-bfa3-fe389516ff71
      home-cluster-uri:
      - https://df-msit-scus-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
