interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "306da8eb-88bb-4168-9d78-e1037058045a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1cb025c1-fd50-4271-b081-09ec53d768b8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/306da8eb-88bb-4168-9d78-e1037058045a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 65aae11b-e310-4750-a3ea-66ac7656e0b5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/306da8eb-88bb-4168-9d78-e1037058045a/lakehouses
  response:
    body:
      string: '{"id": "96a1738e-4373-4c61-bbc7-75268f9b32cf", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "306da8eb-88bb-4168-9d78-e1037058045a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 60f2316c-b8a6-4a2c-aa46-c4f72e03668c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/306da8eb-88bb-4168-9d78-e1037058045a/items/96a1738e-4373-4c61-bbc7-75268f9b32cf
  response:
    body:
      string: '{"id": "96a1738e-4373-4c61-bbc7-75268f9b32cf", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "306da8eb-88bb-4168-9d78-e1037058045a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 5f7cb5ec-dcf3-408d-aa3f-ec0a7a2caca0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/306da8eb-88bb-4168-9d78-e1037058045a/items/96a1738e-4373-4c61-bbc7-75268f9b32cf/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "lakehouse.metadata.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": "alm.settings.json", "payload":
        "ew0KICAidmVyc2lvbiI6ICIxLjAuMSIsDQogICJvYmplY3RUeXBlcyI6IFsNCiAgICB7DQogICAgICAibmFtZSI6ICJTaG9ydGN1dHMiLA0KICAgICAgInN0YXRlIjogIkVuYWJsZWQiLA0KICAgICAgInN1Yk9iamVjdFR5cGVzIjogWw0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLk9uZUxha2UiLA0KICAgICAgICAgICJzdGF0ZSI6ICJFbmFibGVkIg0KICAgICAgICB9LA0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLkFkbHNHZW4yIiwNCiAgICAgICAgICAic3RhdGUiOiAiRW5hYmxlZCINCiAgICAgICAgfSwNCiAg[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/306da8eb-88bb-4168-9d78-e1037058045a/items/96a1738e-4373-4c61-bbc7-75268f9b32cf
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 395b5967-4c34-4974-baaf-6401fc4f4590
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
