interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cb040c33-0645-45df-bf09-37643b78244b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items
  response:
    body:
      string: '{"value": [{"id": "548287ca-f7c6-4f64-b20b-9b04b532952c", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"},
        {"id": "a0de3ff6-e213-4361-b9ac-86bca8a0c45e", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c6f196e9-dc14-4080-a3d5-4d731f7bb73f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/11b0092a-d5c3-495d-8118-78abdfc29260
      RequestId:
      - 4e6c326b-3a4a-4979-874b-7f709879a880
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 11b0092a-d5c3-495d-8118-78abdfc29260
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/11b0092a-d5c3-495d-8118-78abdfc29260
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:37:08.2295066",
        "lastUpdatedTimeUtc": "2026-05-13T06:37:17.2334589", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/11b0092a-d5c3-495d-8118-78abdfc29260/result
      RequestId:
      - ec284677-ec3f-474b-aa43-d47188502c77
      x-ms-operation-id:
      - 11b0092a-d5c3-495d-8118-78abdfc29260
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/11b0092a-d5c3-495d-8118-78abdfc29260/result
  response:
    body:
      string: '{"id": "63328185-5391-4afb-9422-226e7cf0b88b", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 8148fc5e-1d47-489a-9df6-0a087a2fb0f0
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "63328185-5391-4afb-9422-226e7cf0b88b", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "af440af3-8280-49a2-969f-269986859c52", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 2cc234b5-81be-4d37-8224-334163325586
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items/af440af3-8280-49a2-969f-269986859c52
  response:
    body:
      string: '{"id": "af440af3-8280-49a2-969f-269986859c52", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 2811e412-afad-4a60-a45f-c15c441e1fc5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items/af440af3-8280-49a2-969f-269986859c52/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5fd6ec7a-5f4f-4092-83c1-b5234ecf56bd
      RequestId:
      - d9cbb469-504b-4561-be4c-d11e0e12a25d
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5fd6ec7a-5f4f-4092-83c1-b5234ecf56bd
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5fd6ec7a-5f4f-4092-83c1-b5234ecf56bd/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiRGlnaXRhbFR3aW5CdWlsZGVySWQiOiAiNjMzMjgxODUtNTM5MS00YWZiLTk0MjItMjI2ZTdjZjBiODhiIiwNCiAgIk9wZXJhdGlvbklkcyI6IFtdLA0KICAiSXNPbkRlbWFuZCI6IGZhbHNlDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlckZsb3ciLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 72528dea-b7c6-40b0-9a57-ad7c345b8970
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items/af440af3-8280-49a2-969f-269986859c52
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 23a313d9-7792-42ec-a163-1b98a7755ab0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
