interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e0c294c5-5adb-4220-a6e3-ecf1b592ffbb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items
  response:
    body:
      string: '{"value": [{"id": "548287ca-f7c6-4f64-b20b-9b04b532952c", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"},
        {"id": "53524b43-f19e-46bc-abc1-86fef4ae04d7", "type": "SQLEndpoint", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"},
        {"id": "8b2899c6-0335-4526-bee6-c71dae4d2939", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"},
        {"id": "6bcd6f9c-3af1-4650-ad0b-ffe4da87b7e1", "type"[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5d4262b0-d33d-456d-bd8d-e5cd7e50eb3c
      RequestId:
      - 8ec2a14c-a264-4426-9089-92d4016049d6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5d4262b0-d33d-456d-bd8d-e5cd7e50eb3c
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5d4262b0-d33d-456d-bd8d-e5cd7e50eb3c
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:43:01.2444315",
        "lastUpdatedTimeUtc": "2026-05-13T06:43:09.4503334", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5d4262b0-d33d-456d-bd8d-e5cd7e50eb3c/result
      RequestId:
      - 2eff7efb-da0e-4092-b9fd-806479cfe9e7
      x-ms-operation-id:
      - 5d4262b0-d33d-456d-bd8d-e5cd7e50eb3c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5d4262b0-d33d-456d-bd8d-e5cd7e50eb3c/result
  response:
    body:
      string: '{"id": "1cb7edb0-690d-4907-94db-1fcb0669a2cd", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 9dcc0cee-2c2f-4502-8bd9-365355e1a4e6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items/1cb7edb0-690d-4907-94db-1fcb0669a2cd
  response:
    body:
      string: '{"id": "1cb7edb0-690d-4907-94db-1fcb0669a2cd", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "1ee5246f-10fb-4a7d-aa2a-7da2812f8413"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - baa21728-fe2c-4219-abc0-ef990e723c90
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items/1cb7edb0-690d-4907-94db-1fcb0669a2cd/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3761d6d4-ffa3-4e05-bff8-e510e2d1e9e3
      RequestId:
      - 63f6aa87-2da5-4f0a-96bc-76054db76e58
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 3761d6d4-ffa3-4e05-bff8-e510e2d1e9e3
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3761d6d4-ffa3-4e05-bff8-e510e2d1e9e3/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiYTA2YzEyNGMtMjRjNi00OTlhLWFjODMtZTU0NGYyZTRkYWEzIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 722f820c-782d-4ec5-9359-acc7e7b5649d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1ee5246f-10fb-4a7d-aa2a-7da2812f8413/items/1cb7edb0-690d-4907-94db-1fcb0669a2cd
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 31d73273-d1bb-4764-85f3-2e845fb056a0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
