interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c503f633-1668-4554-9f25-bb7d486566b2",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b6374b71-d16f-44e3-b319-bac89b601267
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c503f633-1668-4554-9f25-bb7d486566b2/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8eb0bb7d-37d6-4f72-b020-17aa6327888a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c503f633-1668-4554-9f25-bb7d486566b2/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6a21a12f-1d76-4b49-8f38-0ef9394e0f83
      RequestId:
      - 7eb71834-6232-4333-96c6-e58dabd24f81
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 6a21a12f-1d76-4b49-8f38-0ef9394e0f83
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6a21a12f-1d76-4b49-8f38-0ef9394e0f83
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T08:40:43.933573",
        "lastUpdatedTimeUtc": "2026-02-03T08:40:51.4188232", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6a21a12f-1d76-4b49-8f38-0ef9394e0f83/result
      RequestId:
      - c63c8389-064f-407b-bf90-459d21d8ad61
      x-ms-operation-id:
      - 6a21a12f-1d76-4b49-8f38-0ef9394e0f83
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6a21a12f-1d76-4b49-8f38-0ef9394e0f83/result
  response:
    body:
      string: '{"id": "7fa3cc69-6262-46b8-98de-a1653916d2b4", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c503f633-1668-4554-9f25-bb7d486566b2"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 001721ff-cc2d-4957-8cdb-888ef85de99a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c503f633-1668-4554-9f25-bb7d486566b2/items/7fa3cc69-6262-46b8-98de-a1653916d2b4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b54c9b6c-358e-4fbe-a2e8-19a89448e792
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
