interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "212b5b44-51e7-4456-9def-82a1c21a939f", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c58ff5ae-4ea1-4654-bcde-c5bb40b26d25
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/212b5b44-51e7-4456-9def-82a1c21a939f/items
  response:
    body:
      string: '{"value": [{"id": "d67014ed-ea6a-4901-b35b-01854838dc61", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "212b5b44-51e7-4456-9def-82a1c21a939f"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 17265d09-e192-4279-86c9-7f8262861179
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SemanticModel", "folderId": null, "definition": {"parts": [{"path": ".platform",
      "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlNlbWFudGljTW9kZWwiLAogICAgImRpc3BsYXlOYW1lIjogIkJsYW5rIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
      "payloadType": "InlineBase64"}, {"path": "definition.pbism", "payload": "ewogICJ2ZXJzaW9uIjogIjQuMCIsCiAgInNldHRpbmdzIjoge30KfQ==",
      "payloadType": "InlineBase64"}, {"path": "definition/database.tmdl", "payload":
      "ZGF0YWJhc2UKCWNvbXBhdGliaWxpdHlMZXZlbDogMTU2MQoK", "payloadType": "InlineBase64"},
      {"path": "definition/model.tmdl", "payload": "bW9kZWwgTW9kZWwKCWN1bHR1cmU6IGVuLVVTCglkZWZhdWx0UG93ZXJCSURhdGFTb3VyY2VWZXJzaW9uOiBwb3dlckJJX1YzCglzb3VyY2VRdWVyeUN1bHR1cmU6IGVuLVVTCglkYXRhQWNjZXNzT3B0aW[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6a7df4dd-5e96-4685-bb70-5d7f400e069f
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T13:32:29.2995685",
        "lastUpdatedTimeUtc": "2026-01-19T13:32:39.7699056", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6a7df4dd-5e96-4685-bb70-5d7f400e069f/result
      RequestId:
      - 6370564c-36e0-4d91-850f-76a93398a35a
      x-ms-operation-id:
      - 6a7df4dd-5e96-4685-bb70-5d7f400e069f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6a7df4dd-5e96-4685-bb70-5d7f400e069f/result
  response:
    body:
      string: '{"id": "c51e3f17-854e-48f3-9dc3-1a75765fad38", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "212b5b44-51e7-4456-9def-82a1c21a939f"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 778a5804-8e3f-4694-9f32-1936df19c5b2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/212b5b44-51e7-4456-9def-82a1c21a939f/items/c51e3f17-854e-48f3-9dc3-1a75765fad38
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0e9ec9f8-2cdc-41f8-a66e-2edfd0196c29
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
