interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ad0f88fc-e1a7-4fc3-a8ac-1f656a95cf20
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6de2c085-409d-4bb0-9d9e-31d285255789
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabriccli_WorkspacePerTestclass_000001",
      "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6
      RequestId:
      - dd5577c6-afa8-4bec-8f19-f1454c186c64
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6/items
  response:
    body:
      string: '{"value": [{"id": "0dc4b3df-f86f-4b10-b667-d35cb521404d", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6"},
        {"id": "bd355473-8031-4dfd-b491-8b4db8f73416", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6"},
        {"id": "b73e7096-ca36-4a3c-9329-78910f950e61", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6"},
        {"id": "2d536924-c8ad-4ac3-9152-6ff82b940b49", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f4ce7c19-be5d-4b21-8340-653b27103805
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ed921d57-765c-468e-9929-ebabe4f41ce2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
