interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "40fa6a02-7d62-442d-afb1-96b5b6ba9728",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 99154b32-7b21-483b-a5bf-19a3c8a1f790
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items
  response:
    body:
      string: '{"value": [{"id": "7d65cfd7-d835-4bfa-b16a-eccb0b6418a9", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"},
        {"id": "d4a2b316-7223-443e-a60f-6555e2fa2288", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b31933ba-3800-4659-89f0-996db0c00845
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1180f806-787b-42db-a0c3-e452983e56cb
      RequestId:
      - b8b1f5d3-3900-450f-89c1-8254ba6bb664
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 1180f806-787b-42db-a0c3-e452983e56cb
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1180f806-787b-42db-a0c3-e452983e56cb
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:06:23.1718369",
        "lastUpdatedTimeUtc": "2026-05-13T07:06:29.6939224", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1180f806-787b-42db-a0c3-e452983e56cb/result
      RequestId:
      - df4031e2-a023-48c7-9030-2c5b3c686c7a
      x-ms-operation-id:
      - 1180f806-787b-42db-a0c3-e452983e56cb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1180f806-787b-42db-a0c3-e452983e56cb/result
  response:
    body:
      string: '{"id": "fe31a6a2-f528-486f-ac15-3886bb158bf0", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ccf7dccf-bb5f-4ff4-8ebe-8a008bbb1fc2
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "fe31a6a2-f528-486f-ac15-3886bb158bf0", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "682e5827-aadf-45c8-a3b6-a30c3097bab3", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b8978cf4-68e9-4a4e-bfca-1a815a3eaae6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items/682e5827-aadf-45c8-a3b6-a30c3097bab3
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ae436376-d124-4c06-98bf-47c6a547c433
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
