interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "f54ac349-b5a9-41bd-acd1-81f9ed9ec0f3",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 26db137c-c556-4e7a-bc86-3738f398d3cb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f54ac349-b5a9-41bd-acd1-81f9ed9ec0f3/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9475af75-ac54-47f6-be95-81aef0de6b0a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "SQLDatabase", "folderId": null,
      "creationPayload": {"creationMode": "New"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f54ac349-b5a9-41bd-acd1-81f9ed9ec0f3/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ac765071-cba1-458e-aa8b-e705c5c1fe75
      RequestId:
      - 567d201c-a566-4629-b0aa-71481a5f68e2
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ac765071-cba1-458e-aa8b-e705c5c1fe75
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ac765071-cba1-458e-aa8b-e705c5c1fe75
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-07-01T19:14:35.3833049",
        "lastUpdatedTimeUtc": "2026-07-01T19:14:53.6743871", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ac765071-cba1-458e-aa8b-e705c5c1fe75/result
      RequestId:
      - 0bfbb5de-fd5d-4597-92bb-976fbc98e54e
      x-ms-operation-id:
      - ac765071-cba1-458e-aa8b-e705c5c1fe75
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ac765071-cba1-458e-aa8b-e705c5c1fe75/result
  response:
    body:
      string: '{"id": "059a34a1-239c-444a-8dfb-72d58f4acc08", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "f54ac349-b5a9-41bd-acd1-81f9ed9ec0f3"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ae384987-2056-4bc9-95e2-c35659cf4f93
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f54ac349-b5a9-41bd-acd1-81f9ed9ec0f3/sqlDatabases/059a34a1-239c-444a-8dfb-72d58f4acc08
  response:
    body:
      string: '{"id": "059a34a1-239c-444a-8dfb-72d58f4acc08", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "f54ac349-b5a9-41bd-acd1-81f9ed9ec0f3",
        "properties": {"connectionInfo": "Data Source=vwbb4lsqmqqejdvenqo7wshysy-jhbuv5njww6udlgrqh463hwa6m.database.fabric.microsoft.com,1433;Initial
        Catalog=fabcli000001-059a34a1-239c-444a-8dfb-72d58f4acc08;Multiple Active
        Result Sets=False;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False",
        "connectionString": "mock_connection_string", "databaseName": "fabcli000001-059a34a1-239c-444a-8dfb-72d58f4acc08",
        "serverFqdn": "vwbb4lsqmqqejdvenqo7wshysy-jhbuv5njww6udlgrqh463hwa6m.database.fabric.microsoft.com,1433",
        "earliestRestorePoint": "2026-07-01T19:19:18Z", "latestRestorePoint": "2026-07-01T19:19:18Z",
        "backupRetentionDays": 7, "collation": "SQL_Latin1_General_CP1_CI_AS"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 122a7504-1fe4-4291-925b-6f09116dba82
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f54ac349-b5a9-41bd-acd1-81f9ed9ec0f3/items/059a34a1-239c-444a-8dfb-72d58f4acc08/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/31d305ec-297b-4730-b70e-1e13095045cb
      RequestId:
      - 65e4dc4b-74ce-4c07-b40a-e1d4154787aa
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 31d305ec-297b-4730-b70e-1e13095045cb
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/31d305ec-297b-4730-b70e-1e13095045cb/result
  response:
    body:
      string: '{"definition": {"format": "dacpac", "parts": [{"path": "fabcli000001.dacpac",
        "payload": "UEsDBBQAAAAIAKaa4VzG6qC/qQIAALwHAAAJAAAAbW9kZWwueG1spVVdb9pAEHxOpf4Hy++1+VCbqjKJIgNNJEhIbKWqqgot9gInne+cu3ME+fXdw2ATCCm0D0jmvDOz7M4cweUi484zKs2k6LhNr+E6KBKZMjHruIWZfvrqXl58/BB0wUCUzDGDoUyRO33GsS9VBuaxBrdcp6ypztreZ9fp6vwWMuy4Q5YoqeXUeJbOi6Xk2isRXvTE7ac76cNEscQWTEBj+Xak5DNLUblOKDkHQ9yDhKWk2Wi3tw5Di0ChmWHPpNcHrtF16CcK3XHnxuTffF+vGLWXVc0kMvP1E5UqGoSfQuJHqBhw9rIi9VuNZstvtFyaw1lwjUCN2MezICy0kZlt1QnB4EyqZce9IvnbgnO9qqeqIRpIbU05hPq98wi8oJNYFdSlX3L6Nek7IveFNJjepCgMmzIazNtae2X/IRnKLKd5TBhnZmlNcEBzv24j2j[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f54ac349-b5a9-41bd-acd1-81f9ed9ec0f3/items/059a34a1-239c-444a-8dfb-72d58f4acc08/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d5089e27-704d-4480-afc1-239fae97b953
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "SQLDatabase", "folderId": null,
      "creationPayload": {"creationMode": "Restore", "restorePointInTime": "2026-07-01T19:19:18Z",
      "sourceDatabaseReference": {"itemId": "059a34a1-239c-444a-8dfb-72d58f4acc08",
      "referenceType": "ById", "workspaceId": "f54ac349-b5a9-41bd-acd1-81f9ed9ec0f3"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/f54ac349-b5a9-41bd-acd1-81f9ed9ec0f3/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/66719a47-e981-4f16-9c60-95b56e55bb2a
      RequestId:
      - 3c617c5a-0be6-4c9f-a5d5-bf7ee359a68e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 66719a47-e981-4f16-9c60-95b56e55bb2a
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f54ac349-b5a9-41bd-acd1-81f9ed9ec0f3/items/b701af9f-8226-4696-a9da-521fad3e3983
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 80457134-95ca-476a-a54b-7801131fc903
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/f54ac349-b5a9-41bd-acd1-81f9ed9ec0f3/sqlDatabases/restorableDeletedDatabases
  response:
    body:
      string: '{"value": [{"displayName": "fabcli000001-059a34a1-239c-444a-8dfb-72d58f4acc08",
        "properties": {"restorableDeletedDatabaseName": "fabcli000001-059a34a1-239c-444a-8dfb-72d58f4acc08,134274078596330000",
        "earliestRestorePoint": "2026-07-01T19:19:18.0000000Z", "latestRestorePoint":
        "2026-07-01T19:30:59.6330000Z", "deletionTimestamp": "2026-07-01T19:30:59.6330000Z"}},
        {"displayName": "fabcli000002-b701af9f-8226-4696-a9da-521fad3e3983", "properties":
        {"restorableDeletedDatabaseName": "fabcli000002-b701af9f-8226-4696-a9da-521fad3e3983,134274078568130000",
        "earliestRestorePoint": "2026-07-01T19:30:56.8130000Z", "latestRestorePoint":
        "2026-07-01T19:30:56.8130000Z", "deletionTimestamp": "2026-07-01T19:30:56.8130000Z"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f5caf496-741a-46dd-8946-2930c295f7b8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/f54ac349-b5a9-41bd-acd1-81f9ed9ec0f3/items/1c08dd66-4b4b-4d95-b4ee-5144e9f63bac
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b5c7dd8a-b154-4de9-b3c7-03e6c172b81b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
