interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "588409b0-a90f-4407-8ed6-600bb282beed", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8b680b9a-e4e4-424b-8a22-b75dc9d4519f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d2fb1bd8-4b66-4c6c-b603-52c2481652f4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null, "creationPayload": {"enableSchemas": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/lakehouses
  response:
    body:
      string: '{"id": "2d584337-e8fb-4885-85e2-37b703834971", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "588409b0-a90f-4407-8ed6-600bb282beed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7a8f2574-3e16-44f0-bba5-f0f89a1cfb65
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/lakehouses/2d584337-e8fb-4885-85e2-37b703834971
  response:
    body:
      string: '{"id": "2d584337-e8fb-4885-85e2-37b703834971", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "588409b0-a90f-4407-8ed6-600bb282beed", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/588409b0-a90f-4407-8ed6-600bb282beed/2d584337-e8fb-4885-85e2-37b703834971/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/588409b0-a90f-4407-8ed6-600bb282beed/2d584337-e8fb-4885-85e2-37b703834971/Files",
        "sqlEndpointProperties": {"connectionString": null, "id": null, "provisioningStatus":
        "InProgress"}, "defaultSchema": "dbo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 2ab9bd4d-0a83-4c3e-a366-31f7b0d7108b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/items/2d584337-e8fb-4885-85e2-37b703834971/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5ce838c4-8a7f-4505-b424-44377e5023bb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/items/2d584337-e8fb-4885-85e2-37b703834971/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a1cfca21-fcb2-4488-8116-c332f052e329
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/items/2d584337-e8fb-4885-85e2-37b703834971
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 297e2145-110a-4ac3-9bb4-b81fba673c43
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
