interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f10a03d2-2528-45e5-a09c-64882344ad94
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 35c55fb9-ebd9-4f3d-a288-1ceca18dbfa3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9362b7c1-2f42-449d-b9d3-92932c8facef
      RequestId:
      - d2c2ecdf-d798-480e-8905-0eff9d9d1f46
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9362b7c1-2f42-449d-b9d3-92932c8facef
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9362b7c1-2f42-449d-b9d3-92932c8facef
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T12:45:40.2860099",
        "lastUpdatedTimeUtc": "2026-02-03T12:45:48.3651323", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9362b7c1-2f42-449d-b9d3-92932c8facef/result
      RequestId:
      - 6100e333-b1ec-4cb5-ba7b-6f6c1fe4e6ea
      x-ms-operation-id:
      - 9362b7c1-2f42-449d-b9d3-92932c8facef
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9362b7c1-2f42-449d-b9d3-92932c8facef/result
  response:
    body:
      string: '{"id": "0c939edf-16bf-470d-af2a-957c05713c89", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 0cbedb70-0f77-4a04-a641-e10bbe53f735
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6/digitalTwinBuilders/0c939edf-16bf-470d-af2a-957c05713c89
  response:
    body:
      string: '{"id": "0c939edf-16bf-470d-af2a-957c05713c89", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c7f70f1f-a1fb-4ff2-91ab-a31b17ff4ba9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6/items/0c939edf-16bf-470d-af2a-957c05713c89/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8b58cab8-f197-4832-b2c5-458b6922c63b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6/items/0c939edf-16bf-470d-af2a-957c05713c89
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3f5cd7be-131c-4fed-9621-7d918adeda3d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
