interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "588409b0-a90f-4407-8ed6-600bb282beed", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7cc9d541-e39d-451d-bcc6-a2717cf7cdce
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c6fb57e2-07de-4761-b2be-7d79478982d4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c9089888-1e46-4b24-a17d-6142c33bf3a5
      RequestId:
      - 7a03edda-f056-4e48-8d37-dc9d8d0c0d35
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - c9089888-1e46-4b24-a17d-6142c33bf3a5
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c9089888-1e46-4b24-a17d-6142c33bf3a5
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-16T11:21:10.2063234",
        "lastUpdatedTimeUtc": "2026-01-16T11:21:22.4579882", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c9089888-1e46-4b24-a17d-6142c33bf3a5/result
      RequestId:
      - 980986ee-4d5b-45b3-b91f-cd409ae2a572
      x-ms-operation-id:
      - c9089888-1e46-4b24-a17d-6142c33bf3a5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c9089888-1e46-4b24-a17d-6142c33bf3a5/result
  response:
    body:
      string: '{"id": "6238f26e-fee3-409c-abc6-99351d6977b5", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "588409b0-a90f-4407-8ed6-600bb282beed"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 52f4b86a-91ef-45dc-9e43-795b30a924ff
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/warehouses/6238f26e-fee3-409c-abc6-99351d6977b5
  response:
    body:
      string: '{"id": "6238f26e-fee3-409c-abc6-99351d6977b5", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "588409b0-a90f-4407-8ed6-600bb282beed", "properties": {"connectionInfo": "vwbb4lsqmqqejdvenqo7wshysy-waeyiwapvedujdwwmaf3fav65u.datawarehouse.fabric.microsoft.com",
        "connectionString": "mock_connection_string", "createdDate": "2026-01-16T11:21:09.9405513",
        "lastUpdatedTime": "2026-01-16T11:21:22.4268072", "collationType": "Latin1_General_100_BIN2_UTF8",
        "creationMode": "New", "sourceRestorePoint": null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 0f56e838-0d53-416e-96f7-0bcebc8f6ff8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/items/6238f26e-fee3-409c-abc6-99351d6977b5/connections
  response:
    body:
      string: '{"requestId": "f62f39a9-9121-4d59-81fc-fa1cf64d95f1", "errorCode":
        "OperationNotSupportedForItem", "message": "Operation not supported for requested
        item"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f62f39a9-9121-4d59-81fc-fa1cf64d95f1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - OperationNotSupportedForItem
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/items/6238f26e-fee3-409c-abc6-99351d6977b5
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 03334369-2fdf-4ad2-888e-97e967cf6214
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
