interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "af1d582c-7f71-4ee0-b11f-1e5ddb941a0b",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2aa698dd-f2bb-4f2d-abad-4cabbf774f0e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/af1d582c-7f71-4ee0-b11f-1e5ddb941a0b/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ae670285-aff2-420c-86c1-369bb51f3941
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/af1d582c-7f71-4ee0-b11f-1e5ddb941a0b/environments
  response:
    body:
      string: '{"id": "44e1c3f0-52b8-4345-953a-3e280967a103", "type": "Environment",
        "displayName": "fabcli000001", "description": "", "workspaceId": "af1d582c-7f71-4ee0-b11f-1e5ddb941a0b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 969160ee-4e02-4747-9b28-3fb060e62839
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/af1d582c-7f71-4ee0-b11f-1e5ddb941a0b/environments/44e1c3f0-52b8-4345-953a-3e280967a103
  response:
    body:
      string: '{"id": "44e1c3f0-52b8-4345-953a-3e280967a103", "type": "Environment",
        "displayName": "fabcli000001", "description": "", "workspaceId": "af1d582c-7f71-4ee0-b11f-1e5ddb941a0b",
        "properties": {"publishDetails": {"state": "Success", "targetVersion": "c014a315-3037-457f-a3c6-04fb097e8380",
        "startTime": "2026-06-02T08:00:04.1412715Z", "endTime": "2026-06-02T08:00:04.1412715Z",
        "componentPublishInfo": {"sparkSettings": {"state": "Success"}, "sparkLibraries":
        {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7e946caf-0f00-4453-9450-713f4fef4064
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/af1d582c-7f71-4ee0-b11f-1e5ddb941a0b/items/44e1c3f0-52b8-4345-953a-3e280967a103/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/83b624fe-fdc8-440c-a54b-531c76a7c989
      RequestId:
      - 73aab3d8-cd19-47fa-93a1-cc11ed8c4fda
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 83b624fe-fdc8-440c-a54b-531c76a7c989
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/83b624fe-fdc8-440c-a54b-531c76a7c989
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-06-02T08:00:08.2140465",
        "lastUpdatedTimeUtc": "2026-06-02T08:00:08.4503922", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/83b624fe-fdc8-440c-a54b-531c76a7c989/result
      RequestId:
      - a6e4dd16-0ada-4a6c-b2ae-f0d1beeac3ea
      x-ms-operation-id:
      - 83b624fe-fdc8-440c-a54b-531c76a7c989
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/83b624fe-fdc8-440c-a54b-531c76a7c989/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "Setting/Sparkcompute.yml", "payload":
        "ZW5hYmxlX25hdGl2ZV9leGVjdXRpb25fZW5naW5lOiBmYWxzZQ0KZHJpdmVyX2NvcmVzOiA4DQpkcml2ZXJfbWVtb3J5OiA1NmcNCmV4ZWN1dG9yX2NvcmVzOiA4DQpleGVjdXRvcl9tZW1vcnk6IDU2Zw0KZHluYW1pY19leGVjdXRvcl9hbGxvY2F0aW9uOg0KICBlbmFibGVkOiB0cnVlDQogIG1pbl9leGVjdXRvcnM6IDENCiAgbWF4X2V4ZWN1dG9yczogOQ0KcnVudGltZV92ZXJzaW9uOiAxLjMNCg==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkVudmlyb25tZW50IiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d6fdc1b1-92ce-4a2f-b7c1-355a82a7c760
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/af1d582c-7f71-4ee0-b11f-1e5ddb941a0b/items/44e1c3f0-52b8-4345-953a-3e280967a103/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f665e980-55e5-4144-9fc2-b37b56973f37
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/af1d582c-7f71-4ee0-b11f-1e5ddb941a0b/environments/44e1c3f0-52b8-4345-953a-3e280967a103/libraries
  response:
    body:
      string: '{"requestId": "50188920-ecde-41ce-858d-7e85fb4c3aa9", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any published libraries. Please publish libraries.", "isRetriable": false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 50188920-ecde-41ce-858d-7e85fb4c3aa9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/af1d582c-7f71-4ee0-b11f-1e5ddb941a0b/environments/44e1c3f0-52b8-4345-953a-3e280967a103/staging/libraries
  response:
    body:
      string: '{"requestId": "d67c67ab-bdae-45b4-84a7-50492256fbaf", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any staged libraries. Please upload libraries.", "isRetriable": false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d67c67ab-bdae-45b4-84a7-50492256fbaf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/af1d582c-7f71-4ee0-b11f-1e5ddb941a0b/environments/44e1c3f0-52b8-4345-953a-3e280967a103/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 91bf56b3-b131-45cc-9e97-f8169183aba3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/af1d582c-7f71-4ee0-b11f-1e5ddb941a0b/environments/44e1c3f0-52b8-4345-953a-3e280967a103/staging/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c93c5697-615f-4a1b-9161-9149cf73672a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/af1d582c-7f71-4ee0-b11f-1e5ddb941a0b/items/44e1c3f0-52b8-4345-953a-3e280967a103
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - dda3b556-0bdf-4dc6-8088-7b7f69ef393c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
