interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "dcd810a4-ac00-4552-9616-e21d6588bc17",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cf23a02d-a3a9-4df6-9184-604252a87600
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/dcd810a4-ac00-4552-9616-e21d6588bc17/managedPrivateEndpoints
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 779d40db-c396-4c9c-b404-80b6e789aa94
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "fabcli000001", "targetPrivateLinkResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Sql/servers/mocked_sql_server_server",
      "targetSubresourceType": "sqlServer", "requestMessage": "Created by fab"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/dcd810a4-ac00-4552-9616-e21d6588bc17/managedPrivateEndpoints
  response:
    body:
      string: '{"id": "e08bb37a-a86e-4560-8db1-6d2a35e6c81c", "provisioningState":
        "Provisioning", "connectionState": {"status": null, "description": null, "actionsRequired":
        null}, "name": "fabcli000001", "targetPrivateLinkResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Sql/servers/mocked_sql_server_server",
        "targetSubresourceType": "sqlServer"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/dcd810a4-ac00-4552-9616-e21d6588bc17/managedPrivateEndpoints/e08bb37a-a86e-4560-8db1-6d2a35e6c81c
      RequestId:
      - 21c83e74-67db-471a-9768-298046684cbd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/dcd810a4-ac00-4552-9616-e21d6588bc17/managedPrivateEndpoints/e08bb37a-a86e-4560-8db1-6d2a35e6c81c
  response:
    body:
      string: '{"id": "e08bb37a-a86e-4560-8db1-6d2a35e6c81c", "provisioningState":
        "Provisioning", "connectionState": {"status": null, "description": null, "actionsRequired":
        null}, "name": "fabcli000001", "targetPrivateLinkResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Sql/servers/mocked_sql_server_server",
        "targetSubresourceType": "sqlServer"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e9566fbd-6f80-4a7a-b00d-29b841b03449
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/dcd810a4-ac00-4552-9616-e21d6588bc17/managedPrivateEndpoints/e08bb37a-a86e-4560-8db1-6d2a35e6c81c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - afcc78e9-fe99-483a-84fa-4c2180d3c64a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
