interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e90776ff-42ae-4f92-b45d-25c3d375832b",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 493d31de-87a7-4ca3-b226-d35c7acb4e51
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "5e69ee26-ad72-4b30-bff6-c8b82dacbc65", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/5e69ee26-ad72-4b30-bff6-c8b82dacbc65
      RequestId:
      - db3f982b-3182-4c0b-a34b-11a5fcf37a21
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5e69ee26-ad72-4b30-bff6-c8b82dacbc65
  response:
    body:
      string: '{"id": "5e69ee26-ad72-4b30-bff6-c8b82dacbc65", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a3d5c118-72df-42ff-82d7-049b0d4659e7
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5e69ee26-ad72-4b30-bff6-c8b82dacbc65/managedPrivateEndpoints
  response:
    body:
      string: '{"requestId": "f4c87eef-2778-45e3-835f-9bdc517dba2b", "errorCode":
        "UnsupportedSku", "message": "Managed private endpoint is not supported for
        this capacity sku."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f4c87eef-2778-45e3-835f-9bdc517dba2b
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - UnsupportedSku
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5e69ee26-ad72-4b30-bff6-c8b82dacbc65/spark/settings
  response:
    body:
      string: '{"requestId": "e449f2a9-80f5-4121-8a02-0e43d4963416", "errorCode":
        "WorkspaceHasNoCapacityAssigned", "message": "A workspace with a capacity
        assigned is required for the operation"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e449f2a9-80f5-4121-8a02-0e43d4963416
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - WorkspaceHasNoCapacityAssigned
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5e69ee26-ad72-4b30-bff6-c8b82dacbc65/roleAssignments
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000001", "principal":
        {"id": "00000000-0000-0000-0000-000000000001", "displayName": "Tenant Admin",
        "type": "User", "userDetails": {"userPrincipalName": "mocked@admin_test_user"}},
        "role": "Admin"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9441f561-1f78-42ae-a660-73bfef940839
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5e69ee26-ad72-4b30-bff6-c8b82dacbc65/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 39956078-d801-4638-a841-652b27626ade
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5e69ee26-ad72-4b30-bff6-c8b82dacbc65
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 069dcf16-e002-4bb9-8117-06434f46df72
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
