interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "84a2e6eb-afc1-4f20-afe8-748433d718e7",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 57f1ee43-915b-403c-8afb-6c7e608acc0c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84a2e6eb-afc1-4f20-afe8-748433d718e7/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0df4ca7e-a271-419f-be56-459489a1c20e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "SQLDatabase", "folderId": null,
      "creationPayload": {"creationMode": "New", "backupRetentionDays": 7, "collation":
      "SQL_Latin1_General_CP1_CI_AS"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/84a2e6eb-afc1-4f20-afe8-748433d718e7/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2133168e-f4c0-4023-b4c5-bb0953022d1b
      RequestId:
      - 1645fd8a-9486-4e3c-b0d0-320e7f27b41d
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 2133168e-f4c0-4023-b4c5-bb0953022d1b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2133168e-f4c0-4023-b4c5-bb0953022d1b
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-07-01T17:39:23.9814037",
        "lastUpdatedTimeUtc": "2026-07-01T17:39:41.9476184", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2133168e-f4c0-4023-b4c5-bb0953022d1b/result
      RequestId:
      - 9aaca36c-4284-4774-81fd-ae2c9985c0a0
      x-ms-operation-id:
      - 2133168e-f4c0-4023-b4c5-bb0953022d1b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2133168e-f4c0-4023-b4c5-bb0953022d1b/result
  response:
    body:
      string: '{"id": "65f6221e-66b5-4753-9a90-083998b2e95b", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "84a2e6eb-afc1-4f20-afe8-748433d718e7"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - e4f08354-d6af-4912-affa-e232a92c5300
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84a2e6eb-afc1-4f20-afe8-748433d718e7/sqlDatabases/65f6221e-66b5-4753-9a90-083998b2e95b
  response:
    body:
      string: '{"id": "65f6221e-66b5-4753-9a90-083998b2e95b", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "84a2e6eb-afc1-4f20-afe8-748433d718e7",
        "properties": {"connectionInfo": "Data Source=vwbb4lsqmqqejdvenqo7wshysy-5ptkfbgbv4qe7l7ioscdhvyy44.database.fabric.microsoft.com,1433;Initial
        Catalog=fabcli000001-65f6221e-66b5-4753-9a90-083998b2e95b;Multiple Active
        Result Sets=False;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False",
        "connectionString": "mock_connection_string", "databaseName": "fabcli000001-65f6221e-66b5-4753-9a90-083998b2e95b",
        "serverFqdn": "vwbb4lsqmqqejdvenqo7wshysy-5ptkfbgbv4qe7l7ioscdhvyy44.database.fabric.microsoft.com,1433",
        "backupRetentionDays": 7, "collation": "SQL_Latin1_General_CP1_CI_AS"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 0393f9f8-006c-496a-8769-6df7eaedb01b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/84a2e6eb-afc1-4f20-afe8-748433d718e7/items/65f6221e-66b5-4753-9a90-083998b2e95b/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/69250c24-c792-4f35-965e-3d5a3aa9cceb
      RequestId:
      - 3bd7c0c0-c288-479e-a3e4-ad74dd174b93
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 69250c24-c792-4f35-965e-3d5a3aa9cceb
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/69250c24-c792-4f35-965e-3d5a3aa9cceb/result
  response:
    body:
      string: '{"definition": {"format": "dacpac", "parts": [{"path": "fabcli000001.dacpac",
        "payload": "UEsDBBQAAAAIAAqN4VzG6qC/qQIAALwHAAAJAAAAbW9kZWwueG1spVVdb9pAEHxOpf4Hy++1+VCbqjKJIgNNJEhIbKWqqgot9gInne+cu3ME+fXdw2ATCCm0D0jmvDOz7M4cweUi484zKs2k6LhNr+E6KBKZMjHruIWZfvrqXl58/BB0wUCUzDGDoUyRO33GsS9VBuaxBrdcp6ypztreZ9fp6vwWMuy4Q5YoqeXUeJbOi6Xk2isRXvTE7ac76cNEscQWTEBj+Xak5DNLUblOKDkHQ9yDhKWk2Wi3tw5Di0ChmWHPpNcHrtF16CcK3XHnxuTffF+vGLWXVc0kMvP1E5UqGoSfQuJHqBhw9rIi9VuNZstvtFyaw1lwjUCN2MezICy0kZlt1QnB4EyqZce9IvnbgnO9qqeqIRpIbU05hPq98wi8oJNYFdSlX3L6Nek7IveFNJjepCgMmzIazNtae2X/IRnKLKd5TBhnZmlNcEBzv24j2j[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/84a2e6eb-afc1-4f20-afe8-748433d718e7/items/65f6221e-66b5-4753-9a90-083998b2e95b/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 85e4d2fe-1234-47ca-b942-408491b95d06
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/84a2e6eb-afc1-4f20-afe8-748433d718e7/items/65f6221e-66b5-4753-9a90-083998b2e95b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 413db3d8-f935-46a2-a740-82d6fde39b48
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
