interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "40fa6a02-7d62-442d-afb1-96b5b6ba9728",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d8b20ceb-ce35-49cc-9aba-5f8e1aaa98f9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items
  response:
    body:
      string: '{"value": [{"id": "7d65cfd7-d835-4bfa-b16a-eccb0b6418a9", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"},
        {"id": "6bc28889-4ad7-4f18-80ec-0300985ac967", "type": "SQLEndpoint", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"},
        {"id": "f5192c5f-21d0-4479-b2f8-05436f704b51", "type": "SQLEndpoint", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"},
        {"id": "58735c82-8602-4eaf-9797-b3d97efbbb00", "[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b8f22fdf-8535-4ec7-bc91-2a0cb714236c
      RequestId:
      - 323dfeab-0741-4985-b745-d16d23c73441
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b8f22fdf-8535-4ec7-bc91-2a0cb714236c
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b8f22fdf-8535-4ec7-bc91-2a0cb714236c
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:10:23.6355972",
        "lastUpdatedTimeUtc": "2026-05-13T07:10:29.9215344", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b8f22fdf-8535-4ec7-bc91-2a0cb714236c/result
      RequestId:
      - 9855f7ac-3e56-49ba-b86e-e0ddd8b1912f
      x-ms-operation-id:
      - b8f22fdf-8535-4ec7-bc91-2a0cb714236c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b8f22fdf-8535-4ec7-bc91-2a0cb714236c/result
  response:
    body:
      string: '{"id": "4ee16cc4-c456-4a56-95e7-b0977a3aaf1c", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 49667ed7-cece-4c30-a508-96e1e753f16a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/digitalTwinBuilders/4ee16cc4-c456-4a56-95e7-b0977a3aaf1c
  response:
    body:
      string: '{"id": "4ee16cc4-c456-4a56-95e7-b0977a3aaf1c", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 06892324-9c8b-4187-aa5c-b900c6d5ecd0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items/4ee16cc4-c456-4a56-95e7-b0977a3aaf1c/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c21b7d1f-9703-439d-9915-8fd054dd880f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "4ee16cc4-c456-4a56-95e7-b0977a3aaf1c", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "35c923ed-0ddc-4985-b9fa-26964bce6b9f", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000002", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 00359cb2-b30f-4d85-9094-53306e6c4971
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/digitalTwinBuilderFlows/35c923ed-0ddc-4985-b9fa-26964bce6b9f
  response:
    body:
      string: '{"id": "35c923ed-0ddc-4985-b9fa-26964bce6b9f", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000002", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728",
        "properties": {"digitalTwinBuilderItemReference": {"referenceType": "ById",
        "itemId": "4ee16cc4-c456-4a56-95e7-b0977a3aaf1c", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 243904b9-d693-4eab-981b-e42f4a805801
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items/35c923ed-0ddc-4985-b9fa-26964bce6b9f/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f974fc77-5d03-4d5e-b9bf-c96baf3838e7
      RequestId:
      - 75579c33-3e9a-4c65-b65b-21a2d11a583c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - f974fc77-5d03-4d5e-b9bf-c96baf3838e7
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f974fc77-5d03-4d5e-b9bf-c96baf3838e7/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiRGlnaXRhbFR3aW5CdWlsZGVySWQiOiAiNGVlMTZjYzQtYzQ1Ni00YTU2LTk1ZTctYjA5NzdhM2FhZjFjIiwNCiAgIk9wZXJhdGlvbklkcyI6IFtdLA0KICAiSXNPbkRlbWFuZCI6IGZhbHNlDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlckZsb3ciLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ebe9db37-2b7d-4fba-97d0-5358ac572045
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items/35c923ed-0ddc-4985-b9fa-26964bce6b9f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0434c5ac-9974-4a82-9e50-a4b0b25c2cb8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items/4ee16cc4-c456-4a56-95e7-b0977a3aaf1c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ad9cae8b-78cd-4cb1-80d6-77f8d94d85f9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
