interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d27a72f5-2f85-45f8-905f-264fe3136668",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5bedf7fc-d729-47e2-a22f-da2470961957
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d27a72f5-2f85-45f8-905f-264fe3136668/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - db8c5ec7-6192-4c1c-93a5-16946e0f50b9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001_auto", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d27a72f5-2f85-45f8-905f-264fe3136668/eventhouses
  response:
    body:
      string: '{"id": "de2f991e-c9e9-4a50-9d70-d971b8ce39b8", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "d27a72f5-2f85-45f8-905f-264fe3136668"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c3ce116b-8606-4f70-971c-4dc6c9f394ea
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDatabase", "folderId": null, "creationPayload": {"databaseType": "ReadWrite",
      "parentEventhouseItemId": "de2f991e-c9e9-4a50-9d70-d971b8ce39b8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d27a72f5-2f85-45f8-905f-264fe3136668/kqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/49a2c265-9be7-450c-8182-2877ae149780
      RequestId:
      - aed3b2ef-8f74-4028-9535-2a6f69173e09
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 49a2c265-9be7-450c-8182-2877ae149780
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/49a2c265-9be7-450c-8182-2877ae149780
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-12-04T14:45:05.4742049",
        "lastUpdatedTimeUtc": "2025-12-04T14:45:12.100619", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/49a2c265-9be7-450c-8182-2877ae149780/result
      RequestId:
      - 12f43964-89ac-463c-bd77-579bd9ba6801
      x-ms-operation-id:
      - 49a2c265-9be7-450c-8182-2877ae149780
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/49a2c265-9be7-450c-8182-2877ae149780/result
  response:
    body:
      string: '{"id": "48459580-630f-4553-a481-71c5251d1930", "type": "KQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "d27a72f5-2f85-45f8-905f-264fe3136668"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 2ce05e55-6f5a-461d-95d5-a6088a04ed36
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d27a72f5-2f85-45f8-905f-264fe3136668/items/de2f991e-c9e9-4a50-9d70-d971b8ce39b8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f5d6abac-b705-453c-aef9-1bcf98e82e44
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
