interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "3a5b896a-c24a-4a6b-ab4e-443e95f1f735",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f3486d95-1b92-4125-9005-78be1f510652
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a5b896a-c24a-4a6b-ab4e-443e95f1f735/items
  response:
    body:
      string: '{"value": [{"id": "d6980240-9285-4e2b-9b0d-3a848d231301", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "3a5b896a-c24a-4a6b-ab4e-443e95f1f735"},
        {"id": "44282885-2475-41fa-8858-864258dede0a", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "3a5b896a-c24a-4a6b-ab4e-443e95f1f735"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f36e41aa-d8b2-469d-a6cc-5914dc685f69
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a5b896a-c24a-4a6b-ab4e-443e95f1f735/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/55aa31ca-d27b-4eed-aed6-59a4e517b475
      RequestId:
      - 3f78e987-0f2b-41da-86a8-057008838094
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 55aa31ca-d27b-4eed-aed6-59a4e517b475
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/55aa31ca-d27b-4eed-aed6-59a4e517b475
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T09:22:19.5345584",
        "lastUpdatedTimeUtc": "2026-03-31T09:22:26.3203623", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/55aa31ca-d27b-4eed-aed6-59a4e517b475/result
      RequestId:
      - 15066a5b-fb97-4828-aca4-320fc6aba921
      x-ms-operation-id:
      - 55aa31ca-d27b-4eed-aed6-59a4e517b475
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/55aa31ca-d27b-4eed-aed6-59a4e517b475/result
  response:
    body:
      string: '{"id": "0518c29c-5fec-4b60-a4cb-142f979f89ae", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "3a5b896a-c24a-4a6b-ab4e-443e95f1f735"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 34842689-677e-4961-ad31-5533b23ae45c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a5b896a-c24a-4a6b-ab4e-443e95f1f735/digitalTwinBuilders/0518c29c-5fec-4b60-a4cb-142f979f89ae
  response:
    body:
      string: '{"id": "0518c29c-5fec-4b60-a4cb-142f979f89ae", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "3a5b896a-c24a-4a6b-ab4e-443e95f1f735"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f4b8efea-ecc4-4288-89dd-e8f3f277d526
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a5b896a-c24a-4a6b-ab4e-443e95f1f735/items/0518c29c-5fec-4b60-a4cb-142f979f89ae/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/be77c41e-db15-472f-9488-fef6c070fd7c
      RequestId:
      - 80d44d41-9892-4e0f-924a-b954c7f3882d
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - be77c41e-db15-472f-9488-fef6c070fd7c
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/be77c41e-db15-472f-9488-fef6c070fd7c/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiMjI2NDhkYjUtYmZkZi00ODM1LWJkNWEtNzYzMWJjZjg4Zjk5Ig0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c68e566e-9971-476d-8858-91967e3f44aa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a5b896a-c24a-4a6b-ab4e-443e95f1f735/items/0518c29c-5fec-4b60-a4cb-142f979f89ae/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 86d4bd34-0542-4979-8013-7c4906e25bdd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a5b896a-c24a-4a6b-ab4e-443e95f1f735/items/0518c29c-5fec-4b60-a4cb-142f979f89ae
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2c419c64-ae9a-4729-a649-48b91d4d9e45
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
