interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b520a603-5518-4a64-818f-ffffa54507f9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 09d11a55-97b8-45e1-8994-f45bd063a5fc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "GraphQuerySet", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6/GraphQuerySets
  response:
    body:
      string: '{"id": "27d00bdc-2d3a-44ca-800e-7561b694d449", "type": "GraphQuerySet",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - efb3b376-6d67-42a4-8ec8-60d53b1f3e8b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6/GraphQuerySets/27d00bdc-2d3a-44ca-800e-7561b694d449
  response:
    body:
      string: '{"id": "27d00bdc-2d3a-44ca-800e-7561b694d449", "type": "GraphQuerySet",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ecca7f9c-879e-4c94-8814-8e0bd087a42d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6/items/27d00bdc-2d3a-44ca-800e-7561b694d449/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1f0164c6-e25c-4ff5-8323-fd661de38fe5
      RequestId:
      - b45192ef-c150-42e7-ae99-c1cd60a86f21
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 1f0164c6-e25c-4ff5-8323-fd661de38fe5
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1f0164c6-e25c-4ff5-8323-fd661de38fe5
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T12:45:11.2686982",
        "lastUpdatedTimeUtc": "2026-02-03T12:45:11.7530765", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1f0164c6-e25c-4ff5-8323-fd661de38fe5/result
      RequestId:
      - 10155bf1-8d66-499f-8393-162e2c77cc92
      x-ms-operation-id:
      - 1f0164c6-e25c-4ff5-8323-fd661de38fe5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1f0164c6-e25c-4ff5-8323-fd661de38fe5/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "exportedDefinition.json", "payload":
        "eyJkZXBlbmRlbmNpZXMiOltdLCJpbmRpcmVjdERlcGVuZGVuY2llcyI6W10sIkFydGlmYWN0Q29udGVudHMiOltdLCJDb25maWd1cmF0aW9uQ2F0ZWdvcmllcyI6W119",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkdyYXBoUXVlcnlTZXQiLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - bb396beb-5651-4fa6-a78a-e93291a98249
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6/items/27d00bdc-2d3a-44ca-800e-7561b694d449/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 97fc7925-2af2-4950-ba77-9e49a36b8e57
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6/items/27d00bdc-2d3a-44ca-800e-7561b694d449
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0ed37bd8-bae7-4c93-a7aa-0d9354dcc25b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
