interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "fdd4099e-34b0-4656-afc2-fab5a530bc0a",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d0a1b1a7-da65-48b6-8fba-368fc9cd3f51
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fdd4099e-34b0-4656-afc2-fab5a530bc0a/managedPrivateEndpoints
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 59b6b62b-3a2b-41ea-97d9-af245d87f599
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "fabcli000001", "targetPrivateLinkResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Sql/servers/mocked_sql_server_server",
      "targetSubresourceType": "sqlServer", "requestMessage": "Created by fab"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/fdd4099e-34b0-4656-afc2-fab5a530bc0a/managedPrivateEndpoints
  response:
    body:
      string: '{"id": "6cac89b6-7a61-4ddd-a286-c18e3fe4d0b3", "provisioningState":
        "Provisioning", "connectionState": {"status": null, "description": null, "actionsRequired":
        null}, "name": "fabcli000001", "targetPrivateLinkResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Sql/servers/mocked_sql_server_server",
        "targetSubresourceType": "sqlServer"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/fdd4099e-34b0-4656-afc2-fab5a530bc0a/managedPrivateEndpoints/6cac89b6-7a61-4ddd-a286-c18e3fe4d0b3
      RequestId:
      - ec7ef75c-a120-402f-b26a-3bc798690568
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fdd4099e-34b0-4656-afc2-fab5a530bc0a/managedPrivateEndpoints/6cac89b6-7a61-4ddd-a286-c18e3fe4d0b3
  response:
    body:
      string: '{"id": "6cac89b6-7a61-4ddd-a286-c18e3fe4d0b3", "provisioningState":
        "Provisioning", "connectionState": {"status": null, "description": null, "actionsRequired":
        null}, "name": "fabcli000001", "targetPrivateLinkResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Sql/servers/mocked_sql_server_server",
        "targetSubresourceType": "sqlServer"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cc3b67ee-55ce-4137-a9e5-3fb509ecdfb1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/fdd4099e-34b0-4656-afc2-fab5a530bc0a/managedPrivateEndpoints/6cac89b6-7a61-4ddd-a286-c18e3fe4d0b3
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5502a0ff-68bc-48fd-bafa-b2f1f6a2bf97
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
