interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "47fdc53e-6ff6-4637-922a-939a6c92eb38",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2ee5dffc-27cb-4a9d-ba7f-20bc115a9d28
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/47fdc53e-6ff6-4637-922a-939a6c92eb38/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b61693e2-7863-42e4-b7e3-0b9dc3b608b4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "SQLDatabase", "folderId": null,
      "creationPayload": {"creationMode": "New", "backupRetentionDays": 7, "collation":
      "SQL_Latin1_General_CP1_CI_AS"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/47fdc53e-6ff6-4637-922a-939a6c92eb38/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b1cd751f-bc00-47a9-b74b-94b7285c2f3b
      RequestId:
      - 12a0c4a9-89f8-4745-8873-a1138a88eeb4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b1cd751f-bc00-47a9-b74b-94b7285c2f3b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b1cd751f-bc00-47a9-b74b-94b7285c2f3b
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-06-28T16:51:39.2107945",
        "lastUpdatedTimeUtc": "2026-06-28T16:52:00.3104391", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b1cd751f-bc00-47a9-b74b-94b7285c2f3b/result
      RequestId:
      - 0fae950f-cbc9-48bc-9f78-4d65ab80ce6d
      x-ms-operation-id:
      - b1cd751f-bc00-47a9-b74b-94b7285c2f3b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b1cd751f-bc00-47a9-b74b-94b7285c2f3b/result
  response:
    body:
      string: '{"id": "53fcabd0-b0dd-4e96-874f-513916e18e7d", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "47fdc53e-6ff6-4637-922a-939a6c92eb38"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c1deb79f-d6b1-4b54-b1c3-608211d286b6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/47fdc53e-6ff6-4637-922a-939a6c92eb38/sqlDatabases/53fcabd0-b0dd-4e96-874f-513916e18e7d
  response:
    body:
      string: '{"id": "53fcabd0-b0dd-4e96-874f-513916e18e7d", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "47fdc53e-6ff6-4637-922a-939a6c92eb38",
        "properties": {"connectionInfo": "Data Source=vwbb4lsqmqqejdvenqo7wshysy-h3c72r7wn43unerksongzexlha.database.fabric.microsoft.com,1433;Initial
        Catalog=fabcli000001-53fcabd0-b0dd-4e96-874f-513916e18e7d;Multiple Active
        Result Sets=False;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False",
        "connectionString": "mock_connection_string", "databaseName": "fabcli000001-53fcabd0-b0dd-4e96-874f-513916e18e7d",
        "serverFqdn": "vwbb4lsqmqqejdvenqo7wshysy-h3c72r7wn43unerksongzexlha.database.fabric.microsoft.com,1433",
        "backupRetentionDays": 7, "collation": "SQL_Latin1_General_CP1_CI_AS"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b40aecd3-4758-4ef6-82ea-c33cc8f374ca
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/47fdc53e-6ff6-4637-922a-939a6c92eb38/items/53fcabd0-b0dd-4e96-874f-513916e18e7d/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d943971c-0985-4387-9863-02eea4f17fea
      RequestId:
      - c6b25ac8-da93-49b9-aaef-2f40a3e4481e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d943971c-0985-4387-9863-02eea4f17fea
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d943971c-0985-4387-9863-02eea4f17fea/result
  response:
    body:
      string: '{"definition": {"format": "dacpac", "parts": [{"path": "fabcli000001.dacpac",
        "payload": "UEsDBBQAAAAIAJGG3FzG6qC/qQIAALwHAAAJAAAAbW9kZWwueG1spVVdb9pAEHxOpf4Hy++1+VCbqjKJIgNNJEhIbKWqqgot9gInne+cu3ME+fXdw2ATCCm0D0jmvDOz7M4cweUi484zKs2k6LhNr+E6KBKZMjHruIWZfvrqXl58/BB0wUCUzDGDoUyRO33GsS9VBuaxBrdcp6ypztreZ9fp6vwWMuy4Q5YoqeXUeJbOi6Xk2isRXvTE7ac76cNEscQWTEBj+Xak5DNLUblOKDkHQ9yDhKWk2Wi3tw5Di0ChmWHPpNcHrtF16CcK3XHnxuTffF+vGLWXVc0kMvP1E5UqGoSfQuJHqBhw9rIi9VuNZstvtFyaw1lwjUCN2MezICy0kZlt1QnB4EyqZce9IvnbgnO9qqeqIRpIbU05hPq98wi8oJNYFdSlX3L6Nek7IveFNJjepCgMmzIazNtae2X/IRnKLKd5TBhnZmlNcEBzv24j2j[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/47fdc53e-6ff6-4637-922a-939a6c92eb38/items/53fcabd0-b0dd-4e96-874f-513916e18e7d/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - aa532c03-9622-4b5e-8b4c-1f1ea64551f3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/47fdc53e-6ff6-4637-922a-939a6c92eb38/items/53fcabd0-b0dd-4e96-874f-513916e18e7d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a122b142-25b6-4326-9ef6-571519700343
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
