interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "7f999800-984b-46e8-aee5-27e3ec430c4e", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 67819d77-da23-4196-9fd9-b6de749ccfa4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7f999800-984b-46e8-aee5-27e3ec430c4e/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 04854046-0775-406e-8439-9dd90268f941
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MLModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7f999800-984b-46e8-aee5-27e3ec430c4e/mlModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9ed3a57a-bcb0-472e-9bc3-a60b00d51ed2
      RequestId:
      - ab1f93c1-dcc1-4f1f-9021-f8b960cc0823
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9ed3a57a-bcb0-472e-9bc3-a60b00d51ed2
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9ed3a57a-bcb0-472e-9bc3-a60b00d51ed2
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-14T07:23:40.0165704",
        "lastUpdatedTimeUtc": "2026-01-14T07:23:40.6415902", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9ed3a57a-bcb0-472e-9bc3-a60b00d51ed2/result
      RequestId:
      - d78d56e6-e690-4477-a0dc-d11a9bf99a16
      x-ms-operation-id:
      - 9ed3a57a-bcb0-472e-9bc3-a60b00d51ed2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9ed3a57a-bcb0-472e-9bc3-a60b00d51ed2/result
  response:
    body:
      string: '{"id": "7421a4b9-a8d0-43a9-866a-d28781da5e77", "type": "MLModel", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "7f999800-984b-46e8-aee5-27e3ec430c4e"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 2430d63a-bc8c-4b16-be2f-cda3e277dc8f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7f999800-984b-46e8-aee5-27e3ec430c4e/items/7421a4b9-a8d0-43a9-866a-d28781da5e77
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - db5ac43c-8433-4e79-91f8-03091f2a9bff
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
