interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "378f1868-fb0c-4fad-be8e-a1d695141384", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a8f880bd-1ebd-4943-ad38-9f5a8c3b97ab
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5ac9acac-ded2-4173-9296-495f57c8bad0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/lakehouses
  response:
    body:
      string: '{"id": "cba3459e-e32d-471e-8c37-d2fc0cb3ab55", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "378f1868-fb0c-4fad-be8e-a1d695141384"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - de8bc4b9-2c1b-47bb-bbd1-942572e5498b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/lakehouses/cba3459e-e32d-471e-8c37-d2fc0cb3ab55
  response:
    body:
      string: '{"id": "cba3459e-e32d-471e-8c37-d2fc0cb3ab55", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "378f1868-fb0c-4fad-be8e-a1d695141384", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/378f1868-fb0c-4fad-be8e-a1d695141384/cba3459e-e32d-471e-8c37-d2fc0cb3ab55/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/378f1868-fb0c-4fad-be8e-a1d695141384/cba3459e-e32d-471e-8c37-d2fc0cb3ab55/Files",
        "sqlEndpointProperties": {"connectionString": null, "id": null, "provisioningStatus":
        "InProgress"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - aa8bd57b-3a89-4187-8f23-4bfc92817529
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/items/cba3459e-e32d-471e-8c37-d2fc0cb3ab55/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4d6a7758-e320-4814-a8ac-d5176d97b37e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/items/cba3459e-e32d-471e-8c37-d2fc0cb3ab55/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f7bb0006-80a0-4dba-a4b8-3dda78e31db9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/items/cba3459e-e32d-471e-8c37-d2fc0cb3ab55
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8e2a0af8-6215-49f4-b5fc-6064f3a9cc47
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
