interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "0cfd9c66-3bf0-4e43-8257-4b76aa86581e",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b2dec3b7-3da8-4cdc-aba2-7078e9e45df1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cfd9c66-3bf0-4e43-8257-4b76aa86581e/items
  response:
    body:
      string: '{"value": [{"id": "8ff3aa09-ab5f-4bd0-8dfe-7e76102342f2", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "0cfd9c66-3bf0-4e43-8257-4b76aa86581e"},
        {"id": "ef2fc02e-6cb7-4813-b293-f5d5b98c5d9a", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260129083942", "description": "", "workspaceId":
        "0cfd9c66-3bf0-4e43-8257-4b76aa86581e"}, {"id": "d74d91a8-7679-40a2-9962-55e3d3aefda2",
        "type": "Warehouse", "displayName": "StagingWarehouseForDataflows_20260129084026",
        "description": "", "workspaceId": "0cfd9c66-3bf0-4e43-8257-4b76aa86581e"},
        {"id": "49b99e73-f31e-473d-9fe4-085031b70124", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260129083942", "description": "", "workspaceId":
        "0cfd9c66-3bf0-4e43-8257-4b76aa86581e"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 625c89f5-3431-4344-b890-1a9e64029a29
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Eventstream", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cfd9c66-3bf0-4e43-8257-4b76aa86581e/eventstreams
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9c29300a-b9a8-404c-81d1-f5e70492f7b1
      RequestId:
      - 90e40603-f3a7-49d2-b26c-5f7df589d023
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9c29300a-b9a8-404c-81d1-f5e70492f7b1
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9c29300a-b9a8-404c-81d1-f5e70492f7b1
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-29T08:40:53.5033952",
        "lastUpdatedTimeUtc": "2026-01-29T08:40:56.4721292", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9c29300a-b9a8-404c-81d1-f5e70492f7b1/result
      RequestId:
      - f0fdbfc4-dd1d-411e-a505-c718f2c5e6b3
      x-ms-operation-id:
      - 9c29300a-b9a8-404c-81d1-f5e70492f7b1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9c29300a-b9a8-404c-81d1-f5e70492f7b1/result
  response:
    body:
      string: '{"id": "d38b85c2-b4d3-4a9e-93a1-20909a0a02ab", "type": "Eventstream",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "0cfd9c66-3bf0-4e43-8257-4b76aa86581e"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - dcc31c22-f5b1-4ab0-8947-60de7ddb7af3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cfd9c66-3bf0-4e43-8257-4b76aa86581e/eventstreams/d38b85c2-b4d3-4a9e-93a1-20909a0a02ab
  response:
    body:
      string: '{"id": "d38b85c2-b4d3-4a9e-93a1-20909a0a02ab", "type": "Eventstream",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "0cfd9c66-3bf0-4e43-8257-4b76aa86581e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 053e21a3-b6f2-40d0-b32c-99aa3a94aad2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cfd9c66-3bf0-4e43-8257-4b76aa86581e/items/d38b85c2-b4d3-4a9e-93a1-20909a0a02ab/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "eventstream.json", "payload": "ew0KICAic291cmNlcyI6IFtdLA0KICAiZGVzdGluYXRpb25zIjogW10sDQogICJzdHJlYW1zIjogW10sDQogICJvcGVyYXRvcnMiOiBbXSwNCiAgImNvbXBhdGliaWxpdHlMZXZlbCI6ICIxLjEiDQp9",
        "payloadType": "InlineBase64"}, {"path": "eventstreamProperties.json", "payload":
        "ew0KICAicmV0ZW50aW9uVGltZUluRGF5cyI6IDEsDQogICJldmVudFRocm91Z2hwdXRMZXZlbCI6ICJMb3ciDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkV2ZW50c3RyZWFtIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6013dbd1-e3cb-4846-a43b-15401a26e36f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cfd9c66-3bf0-4e43-8257-4b76aa86581e/items/d38b85c2-b4d3-4a9e-93a1-20909a0a02ab/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2a9391c9-fb48-49b6-8803-dbca9916a308
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cfd9c66-3bf0-4e43-8257-4b76aa86581e/items/d38b85c2-b4d3-4a9e-93a1-20909a0a02ab
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0d86a57c-eda0-4bf8-b151-28c196f32d1d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
