interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "830037cf-ab64-4b71-bf07-5a63108b6f86",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c30c15b5-7e99-40ce-942c-86a3c9a811c8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/830037cf-ab64-4b71-bf07-5a63108b6f86/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7d255447-cd4c-4964-bbae-b171ee89445e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/830037cf-ab64-4b71-bf07-5a63108b6f86/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c68f7352-753c-465f-944f-af082730c922
      RequestId:
      - edbffded-5609-4504-a964-e9f8575a4474
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - c68f7352-753c-465f-944f-af082730c922
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c68f7352-753c-465f-944f-af082730c922
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-09T07:05:23.8591385",
        "lastUpdatedTimeUtc": "2026-09-09T07:05:23.8591385", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c68f7352-753c-465f-944f-af082730c922
      RequestId:
      - 84592350-e727-4d49-b353-6bc810161f88
      Retry-After:
      - '20'
      x-ms-operation-id:
      - c68f7352-753c-465f-944f-af082730c922
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c68f7352-753c-465f-944f-af082730c922/result
  response:
    body:
      string: '{"id": "bf5db425-9f09-43fe-b3eb-5b30a8b52558", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "830037cf-ab64-4b71-bf07-5a63108b6f86"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b805537c-6de7-4b76-a3e9-be76f782c435
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/830037cf-ab64-4b71-bf07-5a63108b6f86/items/bf5db425-9f09-43fe-b3eb-5b30a8b52558
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9958e402-28e9-48f8-ab04-ab2d59266009
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
