interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "93e90efd-c518-46b5-ae56-9f3ed3244e19",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d47df47e-a67e-48f8-bdcd-f88c10ffff7e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/93e90efd-c518-46b5-ae56-9f3ed3244e19/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5a20efbf-f2cd-4474-adf1-a65d7ea900cc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "SQLDatabase", "folderId": null,
      "creationPayload": {"creationMode": "New", "backupRetentionDays": 7, "collation":
      "SQL_Latin1_General_CP1_CI_AS"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/93e90efd-c518-46b5-ae56-9f3ed3244e19/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/eb9e8bb2-ceb2-494e-bd78-bdf1a2cbbaed
      RequestId:
      - 1232e698-eea9-4ae5-99e3-b7028945d90c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - eb9e8bb2-ceb2-494e-bd78-bdf1a2cbbaed
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/eb9e8bb2-ceb2-494e-bd78-bdf1a2cbbaed
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-06-29T12:24:14.767745",
        "lastUpdatedTimeUtc": "2026-06-29T12:24:32.2410497", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/eb9e8bb2-ceb2-494e-bd78-bdf1a2cbbaed/result
      RequestId:
      - 11150621-b393-43b4-a5eb-e91f93e13bda
      x-ms-operation-id:
      - eb9e8bb2-ceb2-494e-bd78-bdf1a2cbbaed
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/eb9e8bb2-ceb2-494e-bd78-bdf1a2cbbaed/result
  response:
    body:
      string: '{"id": "c6dcd773-82f4-4a51-b2d7-6e2e00330dfa", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "93e90efd-c518-46b5-ae56-9f3ed3244e19"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 194cab50-7f67-423c-9ded-cb45944d596e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/93e90efd-c518-46b5-ae56-9f3ed3244e19/sqlDatabases/c6dcd773-82f4-4a51-b2d7-6e2e00330dfa
  response:
    body:
      string: '{"id": "c6dcd773-82f4-4a51-b2d7-6e2e00330dfa", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "93e90efd-c518-46b5-ae56-9f3ed3244e19",
        "properties": {"connectionInfo": "Data Source=vwbb4lsqmqqejdvenqo7wshysy-7uhoteyyyw2unlswt47ngjcode.database.fabric.microsoft.com,1433;Initial
        Catalog=fabcli000001-c6dcd773-82f4-4a51-b2d7-6e2e00330dfa;Multiple Active
        Result Sets=False;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False",
        "connectionString": "mock_connection_string", "databaseName": "fabcli000001-c6dcd773-82f4-4a51-b2d7-6e2e00330dfa",
        "serverFqdn": "vwbb4lsqmqqejdvenqo7wshysy-7uhoteyyyw2unlswt47ngjcode.database.fabric.microsoft.com,1433",
        "backupRetentionDays": 7, "collation": "SQL_Latin1_General_CP1_CI_AS"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 00b515be-8830-4897-999f-ca0e50b89a36
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/93e90efd-c518-46b5-ae56-9f3ed3244e19/items/c6dcd773-82f4-4a51-b2d7-6e2e00330dfa/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cad865f5-22e0-4561-abc7-597bc61c08ce
      RequestId:
      - 93476199-5a20-4a26-a4b7-3257e21d8b9e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - cad865f5-22e0-4561-abc7-597bc61c08ce
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cad865f5-22e0-4561-abc7-597bc61c08ce/result
  response:
    body:
      string: '{"definition": {"format": "dacpac", "parts": [{"path": "fabcli000001.dacpac",
        "payload": "UEsDBBQAAAAIACdj3VzG6qC/qQIAALwHAAAJAAAAbW9kZWwueG1spVVdb9pAEHxOpf4Hy++1+VCbqjKJIgNNJEhIbKWqqgot9gInne+cu3ME+fXdw2ATCCm0D0jmvDOz7M4cweUi484zKs2k6LhNr+E6KBKZMjHruIWZfvrqXl58/BB0wUCUzDGDoUyRO33GsS9VBuaxBrdcp6ypztreZ9fp6vwWMuy4Q5YoqeXUeJbOi6Xk2isRXvTE7ac76cNEscQWTEBj+Xak5DNLUblOKDkHQ9yDhKWk2Wi3tw5Di0ChmWHPpNcHrtF16CcK3XHnxuTffF+vGLWXVc0kMvP1E5UqGoSfQuJHqBhw9rIi9VuNZstvtFyaw1lwjUCN2MezICy0kZlt1QnB4EyqZce9IvnbgnO9qqeqIRpIbU05hPq98wi8oJNYFdSlX3L6Nek7IveFNJjepCgMmzIazNtae2X/IRnKLKd5TBhnZmlNcEBzv24j2j[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/93e90efd-c518-46b5-ae56-9f3ed3244e19/items/c6dcd773-82f4-4a51-b2d7-6e2e00330dfa/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 34243acc-6698-468c-987e-ca6a935b1580
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/93e90efd-c518-46b5-ae56-9f3ed3244e19/items/c6dcd773-82f4-4a51-b2d7-6e2e00330dfa
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 343e61d2-5804-441a-a8f3-2e8a13f5f819
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
