interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "8532cf87-6514-499a-ae5a-66422f996df8",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c1de7361-060b-4f7c-9df6-5d10823a0b52
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8532cf87-6514-499a-ae5a-66422f996df8/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - eb935fa5-f412-485f-9771-903e397e2c41
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null, "creationPayload": {"enableSchemas": true}}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/8532cf87-6514-499a-ae5a-66422f996df8/lakehouses
  response:
    body:
      string: '{"id": "e8d168a2-2dbc-4f97-b45a-8dc495168a0d", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "8532cf87-6514-499a-ae5a-66422f996df8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b7e6dabd-b468-4c4a-868b-a3da2249a773
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8532cf87-6514-499a-ae5a-66422f996df8/lakehouses/e8d168a2-2dbc-4f97-b45a-8dc495168a0d
  response:
    body:
      string: '{"id": "e8d168a2-2dbc-4f97-b45a-8dc495168a0d", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "8532cf87-6514-499a-ae5a-66422f996df8", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/8532cf87-6514-499a-ae5a-66422f996df8/e8d168a2-2dbc-4f97-b45a-8dc495168a0d/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/8532cf87-6514-499a-ae5a-66422f996df8/e8d168a2-2dbc-4f97-b45a-8dc495168a0d/Files",
        "sqlEndpointProperties": {"connectionString": null, "id": null, "provisioningStatus":
        "InProgress"}, "defaultSchema": "dbo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b532d168-1a62-40bb-8223-3f5fa0865b43
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/8532cf87-6514-499a-ae5a-66422f996df8/items/e8d168a2-2dbc-4f97-b45a-8dc495168a0d/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "lakehouse.metadata.json", "payload":
        "eyJkZWZhdWx0U2NoZW1hIjoiZGJvIn0=", "payloadType": "InlineBase64"}, {"path":
        "alm.settings.json", "payload": "ew0KICAidmVyc2lvbiI6ICIxLjAuMSIsDQogICJvYmplY3RUeXBlcyI6IFsNCiAgICB7DQogICAgICAibmFtZSI6ICJTaG9ydGN1dHMiLA0KICAgICAgInN0YXRlIjogIkVuYWJsZWQiLA0KICAgICAgInN1Yk9iamVjdFR5cGVzIjogWw0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLk9uZUxha2UiLA0KICAgICAgICAgICJzdGF0ZSI6ICJFbmFibGVkIg0KICAgICAgICB9LA0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLkFkbHNHZW4yIiwNCiAgICAgICAgICAic3RhdGUiOiAiRW5hYmxlZCINCiAgICAgICAgfSwNCiAg[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8532cf87-6514-499a-ae5a-66422f996df8/items/e8d168a2-2dbc-4f97-b45a-8dc495168a0d/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f227bf44-8f78-40f1-8ab0-d0090b349d99
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8532cf87-6514-499a-ae5a-66422f996df8/items/e8d168a2-2dbc-4f97-b45a-8dc495168a0d/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1aace7ce-6be6-4b0a-ab30-5c0a9303da2f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/8532cf87-6514-499a-ae5a-66422f996df8/items/e8d168a2-2dbc-4f97-b45a-8dc495168a0d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - acd32828-9cc3-45e1-b59a-acc3bb83a07e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
