interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "8532cf87-6514-499a-ae5a-66422f996df8",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 16be23f4-4a89-4d2b-b038-657334aad598
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8532cf87-6514-499a-ae5a-66422f996df8/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8664d919-66bf-4a5f-a26c-d8065fd3b76a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null, "creationPayload": {"enableSchemas": true}}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/8532cf87-6514-499a-ae5a-66422f996df8/lakehouses
  response:
    body:
      string: '{"id": "7824e496-9b76-4b4d-a06c-d042510d18df", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "8532cf87-6514-499a-ae5a-66422f996df8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - de59773c-36db-4a9a-9f52-3f5361a312d7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8532cf87-6514-499a-ae5a-66422f996df8/lakehouses/7824e496-9b76-4b4d-a06c-d042510d18df
  response:
    body:
      string: '{"id": "7824e496-9b76-4b4d-a06c-d042510d18df", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "8532cf87-6514-499a-ae5a-66422f996df8", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/8532cf87-6514-499a-ae5a-66422f996df8/7824e496-9b76-4b4d-a06c-d042510d18df/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/8532cf87-6514-499a-ae5a-66422f996df8/7824e496-9b76-4b4d-a06c-d042510d18df/Files",
        "sqlEndpointProperties": {"connectionString": null, "id": null, "provisioningStatus":
        "InProgress"}, "defaultSchema": "dbo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4a22eb58-358c-4641-aa18-4097dc1bc983
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/8532cf87-6514-499a-ae5a-66422f996df8/items/7824e496-9b76-4b4d-a06c-d042510d18df/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "lakehouse.metadata.json", "payload":
        "eyJkZWZhdWx0U2NoZW1hIjoiZGJvIn0=", "payloadType": "InlineBase64"}, {"path":
        "alm.settings.json", "payload": "ew0KICAidmVyc2lvbiI6ICIxLjAuMSIsDQogICJvYmplY3RUeXBlcyI6IFsNCiAgICB7DQogICAgICAibmFtZSI6ICJTaG9ydGN1dHMiLA0KICAgICAgInN0YXRlIjogIkVuYWJsZWQiLA0KICAgICAgInN1Yk9iamVjdFR5cGVzIjogWw0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLk9uZUxha2UiLA0KICAgICAgICAgICJzdGF0ZSI6ICJFbmFibGVkIg0KICAgICAgICB9LA0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLkFkbHNHZW4yIiwNCiAgICAgICAgICAic3RhdGUiOiAiRW5hYmxlZCINCiAgICAgICAgfSwNCiAg[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8532cf87-6514-499a-ae5a-66422f996df8/items/7824e496-9b76-4b4d-a06c-d042510d18df/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 978ba2ac-8891-4005-b853-e0489bcf0f7f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8532cf87-6514-499a-ae5a-66422f996df8/items/7824e496-9b76-4b4d-a06c-d042510d18df/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6c469ba0-fbb3-4873-9559-c361405fc4b4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/8532cf87-6514-499a-ae5a-66422f996df8/items/7824e496-9b76-4b4d-a06c-d042510d18df
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 76439711-ddcd-45fc-8bcc-f424f196fa54
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
