interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e90776ff-42ae-4f92-b45d-25c3d375832b",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1454ab7b-e4ec-43d8-afc6-e8016dc49969
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e90776ff-42ae-4f92-b45d-25c3d375832b/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2bb448a1-f672-4583-bb84-f07fd126cab2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e90776ff-42ae-4f92-b45d-25c3d375832b/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/94d389c0-b926-4d3d-94ab-54f3b930a805
      RequestId:
      - 365cf103-8ba8-4fd4-a20d-93713ee5926e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 94d389c0-b926-4d3d-94ab-54f3b930a805
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/94d389c0-b926-4d3d-94ab-54f3b930a805
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2025-09-03T06:36:53.737499",
        "lastUpdatedTimeUtc": "2025-09-03T06:36:53.737499", "percentComplete": null,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/94d389c0-b926-4d3d-94ab-54f3b930a805
      RequestId:
      - f916f49f-b5e0-4290-821f-d1310a2b9631
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 94d389c0-b926-4d3d-94ab-54f3b930a805
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/94d389c0-b926-4d3d-94ab-54f3b930a805/result
  response:
    body:
      string: '{"id": "7444bbfd-e978-478b-a11c-eeb5645c7bd6", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "e90776ff-42ae-4f92-b45d-25c3d375832b"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 9fc4e20d-5bf7-4dad-86aa-3637359d854c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/e90776ff-42ae-4f92-b45d-25c3d375832b/7444bbfd-e978-478b-a11c-eeb5645c7bd6/Files/InvalidOnelake
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://onelake.dfs.fabric.microsoft.com/e90776ff-42ae-4f92-b45d-25c3d375832b/7444bbfd-e978-478b-a11c-eeb5645c7bd6/Files/InvalidOnelake/?resource=directory
  response:
    body:
      string: '{"error": {"code": "OperationNotAllowedOnThePath", "message": "PUT
        call is not allowed on Files path"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-error-code:
      - OperationNotAllowedOnThePath
    status:
      code: 400
      message: BadRequest
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e90776ff-42ae-4f92-b45d-25c3d375832b/items/7444bbfd-e978-478b-a11c-eeb5645c7bd6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b4459813-8edd-4b06-8038-5e77a99bdf8c
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
