interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "3a5b896a-c24a-4a6b-ab4e-443e95f1f735",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 619b0e60-dc07-4941-b9d7-6dadc2ce4b31
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a5b896a-c24a-4a6b-ab4e-443e95f1f735/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4afe13c4-3cb3-49d8-a59e-23cba5d4f9d9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a5b896a-c24a-4a6b-ab4e-443e95f1f735/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b317d991-1d76-4cc3-afa9-b1f91ec5adce
      RequestId:
      - 0600ea56-d409-4bea-b4f3-009f94267fbb
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b317d991-1d76-4cc3-afa9-b1f91ec5adce
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b317d991-1d76-4cc3-afa9-b1f91ec5adce
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T09:21:48.2330503",
        "lastUpdatedTimeUtc": "2026-03-31T09:21:56.292013", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b317d991-1d76-4cc3-afa9-b1f91ec5adce/result
      RequestId:
      - 1153b4fe-90a2-4677-bf6c-88609b4aef3d
      x-ms-operation-id:
      - b317d991-1d76-4cc3-afa9-b1f91ec5adce
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b317d991-1d76-4cc3-afa9-b1f91ec5adce/result
  response:
    body:
      string: '{"id": "c742b351-0393-42f3-bfdc-c10fe8b4ee1a", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "3a5b896a-c24a-4a6b-ab4e-443e95f1f735"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 232c0021-900d-4f12-aae2-e3ae8f26e81a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a5b896a-c24a-4a6b-ab4e-443e95f1f735/items/c742b351-0393-42f3-bfdc-c10fe8b4ee1a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 445e3a4e-15ec-4d92-b5d3-e4c8e9a1d222
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
