interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "0cfd9c66-3bf0-4e43-8257-4b76aa86581e",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1d72dc84-5b4c-49a6-a62b-3e91cf4def8b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cfd9c66-3bf0-4e43-8257-4b76aa86581e/items
  response:
    body:
      string: '{"value": [{"id": "8ff3aa09-ab5f-4bd0-8dfe-7e76102342f2", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "0cfd9c66-3bf0-4e43-8257-4b76aa86581e"},
        {"id": "ef2fc02e-6cb7-4813-b293-f5d5b98c5d9a", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260129083942", "description": "", "workspaceId":
        "0cfd9c66-3bf0-4e43-8257-4b76aa86581e"}, {"id": "d74d91a8-7679-40a2-9962-55e3d3aefda2",
        "type": "Warehouse", "displayName": "StagingWarehouseForDataflows_20260129084026",
        "description": "", "workspaceId": "0cfd9c66-3bf0-4e43-8257-4b76aa86581e"},
        {"id": "49b99e73-f31e-473d-9fe4-085031b70124", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260129083942", "description": "", "workspaceId":
        "0cfd9c66-3bf0-4e43-8257-4b76aa86581e"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a3783d19-0c8b-46ad-b4ab-5d6c4c8fbcc8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cfd9c66-3bf0-4e43-8257-4b76aa86581e/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8e2a4ca9-2e7a-491a-a0f5-915e32651f37
      RequestId:
      - f6809e90-23bd-41c0-bc5f-9987e3555d3c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 8e2a4ca9-2e7a-491a-a0f5-915e32651f37
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8e2a4ca9-2e7a-491a-a0f5-915e32651f37
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-29T08:43:22.4180165",
        "lastUpdatedTimeUtc": "2026-01-29T08:43:23.652693", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8e2a4ca9-2e7a-491a-a0f5-915e32651f37/result
      RequestId:
      - 6d7ed902-b09e-49d3-a861-5e1e87cdc568
      x-ms-operation-id:
      - 8e2a4ca9-2e7a-491a-a0f5-915e32651f37
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8e2a4ca9-2e7a-491a-a0f5-915e32651f37/result
  response:
    body:
      string: '{"id": "e852b589-0399-48b5-945e-d1f09fe69202", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "0cfd9c66-3bf0-4e43-8257-4b76aa86581e"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 910ed75e-df28-4bbf-8711-4571e9b6d428
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cfd9c66-3bf0-4e43-8257-4b76aa86581e/notebooks/e852b589-0399-48b5-945e-d1f09fe69202
  response:
    body:
      string: '{"id": "e852b589-0399-48b5-945e-d1f09fe69202", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "0cfd9c66-3bf0-4e43-8257-4b76aa86581e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b903903c-732e-4d92-baac-5087a1961cbc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cfd9c66-3bf0-4e43-8257-4b76aa86581e/items/e852b589-0399-48b5-945e-d1f09fe69202/getDefinition?format=ipynb
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/e320c14e-1438-44da-967e-19ad2db7f2d8
      RequestId:
      - df0b431a-5bdc-4431-8bc5-aa24ee43751f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - e320c14e-1438-44da-967e-19ad2db7f2d8
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cfd9c66-3bf0-4e43-8257-4b76aa86581e/items/e852b589-0399-48b5-945e-d1f09fe69202/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 05e40933-4459-4320-9012-d7719c7de060
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cfd9c66-3bf0-4e43-8257-4b76aa86581e/items/e852b589-0399-48b5-945e-d1f09fe69202/jobs/RunNotebook/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5aa308ed-c98a-4059-9052-e6fdf257d166
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/0cfd9c66-3bf0-4e43-8257-4b76aa86581e/items/e852b589-0399-48b5-945e-d1f09fe69202
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b2af0b22-462b-464e-804b-e1ae73c9de21
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
