interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/gateways
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 752ad77d-2a2a-43b7-8c95-9acf6ce131de
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "West Europe", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d5d6d2ef-378d-42fd-b228-854163fccec0
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://management.azure.com/subscriptions?api-version=2022-12-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000"}],
        "count": {"type": "Total", "value": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/virtualNetworks?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"name": "mocked_fabriccli_vnet_name", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Network/virtualNetworks/mocked_fabriccli_vnet_name",
        "properties": {"subnets": [{"name": "mocked_fabriccli_vnet_subnet", "id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Network/virtualNetworks/mocked_fabriccli_vnet_name/subnets/mocked_fabriccli_vnet_subnet"}]}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004",
      "inactivityMinutesBeforeSleep": 30, "numberOfMemberGateways": 1, "type": "VirtualNetwork",
      "virtualNetworkAzureResource": {"subscriptionId": "00000000-0000-0000-0000-000000000000",
      "resourceGroupName": "mocked_fabriccli_resource_group", "virtualNetworkName":
      "mocked_fabriccli_vnet_name", "subnetName": "mocked_fabriccli_vnet_subnet"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/gateways
  response:
    body:
      string: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004",
        "virtualNetworkAzureResource": {"virtualNetworkName": "mocked_fabriccli_vnet_name",
        "subnetName": "mocked_fabriccli_vnet_subnet", "resourceGroupName": "mocked_fabriccli_resource_group",
        "subscriptionId": "00000000-0000-0000-0000-000000000000"}, "inactivityMinutesBeforeSleep":
        30, "numberOfMemberGateways": 1, "id": "f7c93889-76d7-4ac7-8345-89f683ca7c45",
        "type": "VirtualNetwork"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/gateways/f7c93889-76d7-4ac7-8345-89f683ca7c45
      RequestId:
      - 90ee99e2-956a-4df1-a0d3-d1394065d97d
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f94f02fa-57b7-47db-a5e1-68af6457372e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/gateways/f7c93889-76d7-4ac7-8345-89f683ca7c45
  response:
    body:
      string: '{"displayName": "fabcli000001", "capacityId": "00000000-0000-0000-0000-000000000004",
        "virtualNetworkAzureResource": {"virtualNetworkName": "mocked_fabriccli_vnet_name",
        "subnetName": "mocked_fabriccli_vnet_subnet", "resourceGroupName": "mocked_fabriccli_resource_group",
        "subscriptionId": "00000000-0000-0000-0000-000000000000"}, "inactivityMinutesBeforeSleep":
        30, "numberOfMemberGateways": 1, "id": "f7c93889-76d7-4ac7-8345-89f683ca7c45",
        "type": "VirtualNetwork"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1a648c6f-edbd-4b0b-b4af-6989f32f4700
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/connections/supportedConnectionTypes?gatewayId=f7c93889-76d7-4ac7-8345-89f683ca7c45
  response:
    body:
      string: '{"value": [{"type": "SQL", "creationMethods": [{"name": "Sql", "parameters":
        [{"name": "server", "dataType": "Text", "required": true, "allowedValues":
        null}, {"name": "database", "dataType": "Text", "required": false, "allowedValues":
        null}]}], "supportedCredentialTypes": ["Basic", "OAuth2", "ServicePrincipal"],
        "supportedConnectionEncryptionTypes": ["NotEncrypted", "Encrypted"], "supportsSkipTestConnection":
        true}, {"type": "AnalysisServices", "creationMethods": [{"name": "AnalysisServices",
        "parameters": [{"name": "server", "dataType": "Text", "required": true, "allowedValues":
        null}, {"name": "database", "dataType": "Text", "required": false, "allowedValues":
        null}]}], "supportedCredentialTypes": ["Basic", "OAuth2"], "supportedConnectionEncryptionTypes":
        ["NotEncrypted"], "supportsSkipTestConnection": false}, {"type": "SharePoint",
        "creationMethods"[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "connectivityType":
      "VirtualNetworkGateway", "gatewayId": "f7c93889-76d7-4ac7-8345-89f683ca7c45",
      "privacyLevel": "None", "connectionDetails": "mock_request_connection_details",
      "credentialDetails": "mocked_credential_details"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/connections
  response:
    body:
      string: '{"gatewayId": "f7c93889-76d7-4ac7-8345-89f683ca7c45", "id": "f5acd122-3b6f-46dd-ba63-e9c25090d9f5",
        "displayName": "fabcli000002", "connectivityType": "VirtualNetworkGateway",
        "connectionDetails": {"path": "mocked_sql_server_server.database.windows.net;mocked_sql_server_database",
        "type": "SQL"}, "privacyLevel": "None", "credentialDetails": "mocked_credential_details"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/connections/f5acd122-3b6f-46dd-ba63-e9c25090d9f5
      RequestId:
      - 89ced1dc-f846-4066-9fc7-c8f5ae2f8d00
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/connections/f5acd122-3b6f-46dd-ba63-e9c25090d9f5
  response:
    body:
      string: '{"gatewayId": "f7c93889-76d7-4ac7-8345-89f683ca7c45", "id": "f5acd122-3b6f-46dd-ba63-e9c25090d9f5",
        "displayName": "fabcli000002", "connectivityType": "VirtualNetworkGateway",
        "connectionDetails": {"path": "mocked_sql_server_server.database.windows.net;mocked_sql_server_database",
        "type": "SQL"}, "privacyLevel": "None", "credentialDetails": "mocked_credential_details"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3c902ab2-5ef7-4fa2-89ce-7b1e75e1f638
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/gateways/f7c93889-76d7-4ac7-8345-89f683ca7c45
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c7e079b5-7c27-49ce-9cc9-8cca8478c9f0
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
