interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e90776ff-42ae-4f92-b45d-25c3d375832b",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9a7d57fe-28a2-412e-948b-112c06470fac
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e90776ff-42ae-4f92-b45d-25c3d375832b/managedPrivateEndpoints
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - abe727da-b958-4271-81ec-8335897f246b
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "fabcli000001", "targetPrivateLinkResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Sql/servers/mocked_sql_server_server",
      "targetSubresourceType": "sqlServer", "requestMessage": "Created by fab"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e90776ff-42ae-4f92-b45d-25c3d375832b/managedPrivateEndpoints
  response:
    body:
      string: '{"id": "8921d315-633b-4ff8-a699-6e0cfc0abcff", "provisioningState":
        "Provisioning", "connectionState": {"status": null, "description": null, "actionsRequired":
        null}, "name": "fabcli000001", "targetPrivateLinkResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Sql/servers/mocked_sql_server_server",
        "targetSubresourceType": "sqlServer"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/e90776ff-42ae-4f92-b45d-25c3d375832b/managedPrivateEndpoints/8921d315-633b-4ff8-a699-6e0cfc0abcff
      RequestId:
      - 1d4d69bb-47e1-470c-8606-d1000dfb249e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e90776ff-42ae-4f92-b45d-25c3d375832b/managedPrivateEndpoints/8921d315-633b-4ff8-a699-6e0cfc0abcff
  response:
    body:
      string: '{"id": "8921d315-633b-4ff8-a699-6e0cfc0abcff", "provisioningState":
        "Provisioning", "connectionState": {"status": null, "description": null, "actionsRequired":
        null}, "name": "fabcli000001", "targetPrivateLinkResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Sql/servers/mocked_sql_server_server",
        "targetSubresourceType": "sqlServer"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - da40a88a-5460-45c1-b12c-4d21d057affa
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql?api-version=2021-04-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql",
        "namespace": "Microsoft.Sql", "authorizations": [{"applicationId": "e4ab13ed-33cb-41b4-9140-6e264582cf85",
        "roleDefinitionId": "ec3ddc95-44dc-47a2-9926-5e9f5ffd44ec"}, {"applicationId":
        "0130cc9f-7ac5-4026-bd5f-80a08a54e6d9", "roleDefinitionId": "45e8abf8-0ec4-44f3-9c37-cff4f7779302"},
        {"applicationId": "76cd24bf-a9fc-4344-b1dc-908275de6d6d", "roleDefinitionId":
        "c13b7b9c-2ed1-4901-b8a8-16f35468da29"}, {"applicationId": "76c7f279-7959-468f-8943-3954880e0d8c",
        "roleDefinitionId": "7f7513a8-73f9-4c5f-97a2-c41f0ea783ef", "managedByRoleDefinitionId":
        "f2f79976-90be-4501-89c6-7caf12474683"}, {"applicationId": "022907d3-0f1b-48f7-badc-1ba6abab6d66"},
        {"applicationId": "9c8b80bc-6887-42d0-b1af-d0c40f9bf1fa"}, {"applicationId":
        "ceecbdd6-288c-4be9-8445-74f139e5db19", "roleDefinitionId": "fc2bd133-800a-4a15-b4aa-3c8b28179efe"}],
        "resourceTypes": [{"resourceType": "operations", "locations": ["Australia
        Central", "Australia East", "Australia Southeast", "Austria East", "Brazil
        South", "Canada Central", "Canada East", "Central India", "Central US", "Chile
        Central", "East Asia", "East US", "East US 2", "France Central", "Germany
        West Central", "Indonesia Central", "Israel Central", "Italy North", "Japan
        East", "Japan West", "Korea Central", "Korea South", "Malaysia West", "Mexico
        Central", "New Zealand North", "North Central US", "North Europe", "Norway
        East", "Poland Central", "Qatar Central", "South Africa North", "South Central
        US", "South India", "Southeast Asia", "Spain Central", "Sweden Central", "Switzerland
        North", "UAE North", "UK South", "UK West", "West Central US", "West Europe",
        "West India", "West US", "West US 2", "West US 3"], "apiVersions": ["2024-11-01-preview",
        "2024-08-01-preview", "2024-05-01-preview", "2023-08-01-preview", "2023-08-01",
        "2023-05-01-preview", "2023-02-01-preview", "2022-11-01-preview", "2022-08-01-preview",
        "2022-05-01-preview", "2022-02-01-preview", "2021-11-01-preview", "2021-11-01",
        "2021-08-01-preview", "2021-05-01-preview", "2021-02-01-preview", "2020-11-01-preview",
        "2020-08-01-preview", "2020-02-02-preview", "2019-06-01-preview", "2018-06-01-preview",
        "2017-10-01-preview", "2017-03-01-preview", "2015-05-01-preview", "2015-05-01",
        "2014-04-01-preview", "2014-04-01", "2014-01-01"], "capabilities": "None"},
        {"resourceType": "locations", "locations": ["Australia Central", "Australia
        East", "Australia Southeast", "Austria East", "Brazil South", "Canada Central",
        "Canada East", "Central India", "Central US", "Chile Central", "East Asia",
        "East US", "East US 2", "France Central", "Germany West Central", "Indonesia
        Central", "Israel Central", "Italy North", "Japan East", "Japan West", "Korea
        Central", "Korea South", "Malaysia West", "Mexico Centr[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mocked_fabriccli_resource_group/providers/Microsoft.Sql/servers/mocked_sql_server_server/privateEndpointConnections?api-version=2024-11-01-preview
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
