interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "40fa6a02-7d62-442d-afb1-96b5b6ba9728",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7c11c6eb-f048-4555-aba1-2ef1e484ed9c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items
  response:
    body:
      string: '{"value": [{"id": "7d65cfd7-d835-4bfa-b16a-eccb0b6418a9", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"},
        {"id": "6bc28889-4ad7-4f18-80ec-0300985ac967", "type": "SQLEndpoint", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"},
        {"id": "d4a2b316-7223-443e-a60f-6555e2fa2288", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"},
        {"id": "fe31a6a2-f528-486f-ac15-3886bb158bf0", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"},
        {"id": "655327bd-05f5-4de4-b370-bbe8a8792ddd", "type": "Lakehouse", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"},
        {"id": "e55b12dc-18f1-45c6-a243-d8f3c8f6a24c", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001_autoOnDemand", "description": "", "workspaceId":
        "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3eed59ae-09f2-4990-9b0a-f65f22c1de25
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1d2b99e7-a7b1-495d-b914-889be18dcc39
      RequestId:
      - a157156c-f9ae-4e4c-b492-c9766992fc28
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 1d2b99e7-a7b1-495d-b914-889be18dcc39
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1d2b99e7-a7b1-495d-b914-889be18dcc39
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:06:56.1173061",
        "lastUpdatedTimeUtc": "2026-05-13T07:07:02.9753165", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1d2b99e7-a7b1-495d-b914-889be18dcc39/result
      RequestId:
      - a5710ecf-553f-4268-a4bd-c1a300dc5c6d
      x-ms-operation-id:
      - 1d2b99e7-a7b1-495d-b914-889be18dcc39
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1d2b99e7-a7b1-495d-b914-889be18dcc39/result
  response:
    body:
      string: '{"id": "44f6f9e6-0f1b-4ecb-a1cb-6e51516100f5", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 12211540-079d-4375-bd21-014f93ae97fb
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "44f6f9e6-0f1b-4ecb-a1cb-6e51516100f5", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "16d9c261-0a6d-46f8-993a-83ad0d4dfdcf", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f3e846f9-32f1-4e01-b9e2-b44615e15de5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/digitalTwinBuilderFlows/16d9c261-0a6d-46f8-993a-83ad0d4dfdcf
  response:
    body:
      string: '{"id": "16d9c261-0a6d-46f8-993a-83ad0d4dfdcf", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728",
        "properties": {"digitalTwinBuilderItemReference": {"referenceType": "ById",
        "itemId": "44f6f9e6-0f1b-4ecb-a1cb-6e51516100f5", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 90dd6d73-3c48-4e28-bfae-0e42c6ec2364
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items/16d9c261-0a6d-46f8-993a-83ad0d4dfdcf/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/592b9fdc-7bee-4627-8158-69e9a913e6de
      RequestId:
      - e59153d4-403c-418e-825c-d3080d417d4e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 592b9fdc-7bee-4627-8158-69e9a913e6de
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/592b9fdc-7bee-4627-8158-69e9a913e6de/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiRGlnaXRhbFR3aW5CdWlsZGVySWQiOiAiNDRmNmY5ZTYtMGYxYi00ZWNiLWExY2ItNmU1MTUxNjEwMGY1IiwNCiAgIk9wZXJhdGlvbklkcyI6IFtdLA0KICAiSXNPbkRlbWFuZCI6IGZhbHNlDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlckZsb3ciLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - eece68d9-6f54-41b3-843b-09bfa1086d21
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items/16d9c261-0a6d-46f8-993a-83ad0d4dfdcf/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b21d9a64-ab36-43ab-818a-7fd733ead1dc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items/16d9c261-0a6d-46f8-993a-83ad0d4dfdcf
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0b46cf83-3228-4d76-9c83-d0be988dfe24
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
