interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "787e7f02-b9fe-4cc9-a06d-f3c52cf325fe",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b35f1e03-7333-42e5-9d45-a74881c102f0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/787e7f02-b9fe-4cc9-a06d-f3c52cf325fe/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f83d00da-0bb6-4935-a8c6-f2fc4f14c3ab
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "SQLDatabase", "folderId": null,
      "creationPayload": {"creationMode": "New"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/787e7f02-b9fe-4cc9-a06d-f3c52cf325fe/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5049fdc6-a68e-469f-973c-061971466fa5
      RequestId:
      - a1299a84-f0a6-4783-97d9-c470a62c82c4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5049fdc6-a68e-469f-973c-061971466fa5
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5049fdc6-a68e-469f-973c-061971466fa5
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-07-01T08:36:11.8642532",
        "lastUpdatedTimeUtc": "2026-07-01T08:36:28.9974469", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5049fdc6-a68e-469f-973c-061971466fa5/result
      RequestId:
      - 7fa6702c-7d37-4bfb-8311-ef9df3599b8f
      x-ms-operation-id:
      - 5049fdc6-a68e-469f-973c-061971466fa5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5049fdc6-a68e-469f-973c-061971466fa5/result
  response:
    body:
      string: '{"id": "35de8b81-7021-46df-8005-99dc692d4512", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "787e7f02-b9fe-4cc9-a06d-f3c52cf325fe"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 13a647ed-1e66-4a4c-b376-aa4698576d76
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/787e7f02-b9fe-4cc9-a06d-f3c52cf325fe/sqlDatabases/35de8b81-7021-46df-8005-99dc692d4512
  response:
    body:
      string: '{"id": "35de8b81-7021-46df-8005-99dc692d4512", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "787e7f02-b9fe-4cc9-a06d-f3c52cf325fe",
        "properties": {"connectionInfo": "Data Source=vwbb4lsqmqqejdvenqo7wshysy-aj7x46h6xheuzidn6pcsz4zf7y.database.fabric.microsoft.com,1433;Initial
        Catalog=fabcli000001-35de8b81-7021-46df-8005-99dc692d4512;Multiple Active
        Result Sets=False;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False",
        "connectionString": "mock_connection_string", "databaseName": "fabcli000001-35de8b81-7021-46df-8005-99dc692d4512",
        "serverFqdn": "vwbb4lsqmqqejdvenqo7wshysy-aj7x46h6xheuzidn6pcsz4zf7y.database.fabric.microsoft.com,1433",
        "earliestRestorePoint": "2026-07-01T08:40:48Z", "latestRestorePoint": "2026-07-01T08:40:48Z",
        "backupRetentionDays": 7, "collation": "SQL_Latin1_General_CP1_CI_AS"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 1e5dffa0-ecc4-46ba-9bf4-9812c824643e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/787e7f02-b9fe-4cc9-a06d-f3c52cf325fe/items/35de8b81-7021-46df-8005-99dc692d4512/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/207f7dbf-7941-4f94-8ef2-82b0ef62e77d
      RequestId:
      - 2b5dec96-abf5-417a-ae27-95083a65cfd1
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 207f7dbf-7941-4f94-8ef2-82b0ef62e77d
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/207f7dbf-7941-4f94-8ef2-82b0ef62e77d/result
  response:
    body:
      string: '{"definition": {"format": "dacpac", "parts": [{"path": "fabcli000001.dacpac",
        "payload": "UEsDBBQAAAAIAFJF4VzG6qC/qQIAALwHAAAJAAAAbW9kZWwueG1spVVdb9pAEHxOpf4Hy++1+VCbqjKJIgNNJEhIbKWqqgot9gInne+cu3ME+fXdw2ATCCm0D0jmvDOz7M4cweUi484zKs2k6LhNr+E6KBKZMjHruIWZfvrqXl58/BB0wUCUzDGDoUyRO33GsS9VBuaxBrdcp6ypztreZ9fp6vwWMuy4Q5YoqeXUeJbOi6Xk2isRXvTE7ac76cNEscQWTEBj+Xak5DNLUblOKDkHQ9yDhKWk2Wi3tw5Di0ChmWHPpNcHrtF16CcK3XHnxuTffF+vGLWXVc0kMvP1E5UqGoSfQuJHqBhw9rIi9VuNZstvtFyaw1lwjUCN2MezICy0kZlt1QnB4EyqZce9IvnbgnO9qqeqIRpIbU05hPq98wi8oJNYFdSlX3L6Nek7IveFNJjepCgMmzIazNtae2X/IRnKLKd5TBhnZmlNcEBzv24j2j[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/787e7f02-b9fe-4cc9-a06d-f3c52cf325fe/items/35de8b81-7021-46df-8005-99dc692d4512/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3fd9f908-b659-4c04-92da-1d868aa21a2d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "SQLDatabase", "folderId": null,
      "creationPayload": {"creationMode": "Restore", "restorePointInTime": "2026-07-01T08:40:48Z",
      "sourceDatabaseReference": {"itemId": "35de8b81-7021-46df-8005-99dc692d4512",
      "referenceType": "ById", "workspaceId": "787e7f02-b9fe-4cc9-a06d-f3c52cf325fe"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/787e7f02-b9fe-4cc9-a06d-f3c52cf325fe/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/947dd0c3-7c84-4771-8c71-6bd660675d45
      RequestId:
      - 23f0029b-024c-44bc-b84a-5108c7a8b6b4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 947dd0c3-7c84-4771-8c71-6bd660675d45
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/787e7f02-b9fe-4cc9-a06d-f3c52cf325fe/items/85a4300b-d48f-404f-8c83-0c94eba25f9e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6b47198f-e29b-438b-85dd-0ad5356200f5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/787e7f02-b9fe-4cc9-a06d-f3c52cf325fe/sqlDatabases/restorableDeletedDatabases
  response:
    body:
      string: '{"value": [{"displayName": "fabcli000001-35de8b81-7021-46df-8005-99dc692d4512",
        "properties": {"restorableDeletedDatabaseName": "fabcli000001-35de8b81-7021-46df-8005-99dc692d4512,134273694076170000",
        "earliestRestorePoint": "2026-07-01T08:40:48.0000000Z", "latestRestorePoint":
        "2026-07-01T08:50:07.6170000Z", "deletionTimestamp": "2026-07-01T08:50:07.6170000Z"}},
        {"displayName": "fabcli000002-85a4300b-d48f-404f-8c83-0c94eba25f9e", "properties":
        {"restorableDeletedDatabaseName": "fabcli000002-85a4300b-d48f-404f-8c83-0c94eba25f9e,134273694057800000",
        "earliestRestorePoint": "2026-07-01T08:50:05.7800000Z", "latestRestorePoint":
        "2026-07-01T08:50:05.7800000Z", "deletionTimestamp": "2026-07-01T08:50:05.7800000Z"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 097f64a4-d800-4274-ad34-9125d8b4f025
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/787e7f02-b9fe-4cc9-a06d-f3c52cf325fe/items/7e2a9ba3-20d3-4328-82eb-704e84ef973e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - cd5971ae-9d84-4312-a1b6-16679def6fbd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
