interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d37f35bf-4dce-4291-9812-477382595e4b",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3652d3a8-cfac-48f2-9dfd-5c849583c1e7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d37f35bf-4dce-4291-9812-477382595e4b/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 079301dc-05c6-4d49-b715-1355221c459e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d37f35bf-4dce-4291-9812-477382595e4b/folders
  response:
    body:
      string: '{"id": "90959334-3fa8-4800-9ab7-124e5679e6a2", "displayName": "fabcli000001",
        "workspaceId": "d37f35bf-4dce-4291-9812-477382595e4b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/d37f35bf-4dce-4291-9812-477382595e4b/folders/90959334-3fa8-4800-9ab7-124e5679e6a2
      RequestId:
      - fcd9186c-8a1c-40e4-bd44-cbdbe8110734
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d37f35bf-4dce-4291-9812-477382595e4b/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9d8daa2d-bf61-497d-8337-28e36b07bf56
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Notebook", "folderId": "90959334-3fa8-4800-9ab7-124e5679e6a2", "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d37f35bf-4dce-4291-9812-477382595e4b/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6d3bb9e7-d9ea-421c-875b-c0f4061008d7
      RequestId:
      - b5c340d9-e9d4-4643-bd0a-46060b3354c8
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 6d3bb9e7-d9ea-421c-875b-c0f4061008d7
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6d3bb9e7-d9ea-421c-875b-c0f4061008d7
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2025-09-25T09:14:03.9477589",
        "lastUpdatedTimeUtc": "2025-09-25T09:14:05.7915094", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6d3bb9e7-d9ea-421c-875b-c0f4061008d7/result
      RequestId:
      - cb5e96d0-3e9e-43e4-9d5c-415d547c0020
      x-ms-operation-id:
      - 6d3bb9e7-d9ea-421c-875b-c0f4061008d7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6d3bb9e7-d9ea-421c-875b-c0f4061008d7/result
  response:
    body:
      string: '{"id": "d5b1ed2d-b57a-474d-b4a5-7606c421db31", "type": "Notebook",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "d37f35bf-4dce-4291-9812-477382595e4b", "folderId": "90959334-3fa8-4800-9ab7-124e5679e6a2"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d5d39c05-f8ae-4eb7-bffb-908c496d8d38
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d37f35bf-4dce-4291-9812-477382595e4b/items/d5b1ed2d-b57a-474d-b4a5-7606c421db31
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f3ece86d-ddbd-4bed-af8d-f669d8e49e1c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d37f35bf-4dce-4291-9812-477382595e4b/folders/90959334-3fa8-4800-9ab7-124e5679e6a2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ddfe63a0-29b9-455f-b9c2-2d916bb85a34
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
