interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "85390ffd-d7eb-47bd-94e2-49561981f8af",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 49097912-3a3c-4883-ae81-8ab72cf95c1e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/85390ffd-d7eb-47bd-94e2-49561981f8af/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b028849d-d273-4c40-854a-877629439dd9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/85390ffd-d7eb-47bd-94e2-49561981f8af/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ae72fbf9-1491-48bf-9005-9cff802ce20a
      RequestId:
      - 7a4be5b2-75d6-4a81-885f-3fe8a709f370
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ae72fbf9-1491-48bf-9005-9cff802ce20a
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ae72fbf9-1491-48bf-9005-9cff802ce20a
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:38:54.0587841",
        "lastUpdatedTimeUtc": "2026-05-13T07:39:05.3961831", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ae72fbf9-1491-48bf-9005-9cff802ce20a/result
      RequestId:
      - 96481e08-3fa6-456b-8631-8153d4d4ff9d
      x-ms-operation-id:
      - ae72fbf9-1491-48bf-9005-9cff802ce20a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ae72fbf9-1491-48bf-9005-9cff802ce20a/result
  response:
    body:
      string: '{"id": "80ec1250-057c-4285-8ea6-2871c5463d04", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "85390ffd-d7eb-47bd-94e2-49561981f8af"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 81618470-afe3-4dc8-adef-ca6a9abd132b
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "80ec1250-057c-4285-8ea6-2871c5463d04", "workspaceId": "85390ffd-d7eb-47bd-94e2-49561981f8af"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/85390ffd-d7eb-47bd-94e2-49561981f8af/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "2960fd4b-fd74-407a-a0ab-0949e0c48b3d", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "85390ffd-d7eb-47bd-94e2-49561981f8af"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e4154d55-16e0-4de2-931b-b4d3b1b145db
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/85390ffd-d7eb-47bd-94e2-49561981f8af/digitalTwinBuilders/80ec1250-057c-4285-8ea6-2871c5463d04
  response:
    body:
      string: '{"id": "80ec1250-057c-4285-8ea6-2871c5463d04", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "85390ffd-d7eb-47bd-94e2-49561981f8af"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f3a06abb-4861-4dca-9f64-339d0f16db3e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/85390ffd-d7eb-47bd-94e2-49561981f8af/items/80ec1250-057c-4285-8ea6-2871c5463d04/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fb7e45ef-aa94-4497-bd87-b3a6c9d23d94
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/85390ffd-d7eb-47bd-94e2-49561981f8af/digitalTwinBuilderFlows/2960fd4b-fd74-407a-a0ab-0949e0c48b3d
  response:
    body:
      string: '{"id": "2960fd4b-fd74-407a-a0ab-0949e0c48b3d", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "85390ffd-d7eb-47bd-94e2-49561981f8af",
        "properties": {"digitalTwinBuilderItemReference": {"referenceType": "ById",
        "itemId": "80ec1250-057c-4285-8ea6-2871c5463d04", "workspaceId": "85390ffd-d7eb-47bd-94e2-49561981f8af"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e8f14cb8-29c0-4926-b1bf-155e74705bd5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/85390ffd-d7eb-47bd-94e2-49561981f8af/items/2960fd4b-fd74-407a-a0ab-0949e0c48b3d/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a38063f4-27cf-4943-a1b7-66f2cac07d6a
      RequestId:
      - 7b1b894e-ae28-47d3-8584-9a2387533e97
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - a38063f4-27cf-4943-a1b7-66f2cac07d6a
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a38063f4-27cf-4943-a1b7-66f2cac07d6a/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiRGlnaXRhbFR3aW5CdWlsZGVySWQiOiAiODBlYzEyNTAtMDU3Yy00Mjg1LThlYTYtMjg3MWM1NDYzZDA0IiwNCiAgIk9wZXJhdGlvbklkcyI6IFtdLA0KICAiSXNPbkRlbWFuZCI6IGZhbHNlDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlckZsb3ciLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c5160613-80b6-42b6-b05b-9facf004da7f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/85390ffd-d7eb-47bd-94e2-49561981f8af/items/80ec1250-057c-4285-8ea6-2871c5463d04
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 77c331fd-8d42-4b7e-9814-1bcf3f8b24b2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
