interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "588409b0-a90f-4407-8ed6-600bb282beed", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1c7e02c7-a41e-4fbf-8731-3e4da734d8fd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c1407f58-e682-403d-9f51-8c782fe80a64
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_CI_AS_KS_WS_SC_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0a3fce7d-98da-4438-8e41-27dcf219ffed
      RequestId:
      - 72b2edf3-b739-4785-9923-bff5774eda64
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 0a3fce7d-98da-4438-8e41-27dcf219ffed
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0a3fce7d-98da-4438-8e41-27dcf219ffed
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-16T11:20:34.9659086",
        "lastUpdatedTimeUtc": "2026-01-16T11:20:51.5145441", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0a3fce7d-98da-4438-8e41-27dcf219ffed/result
      RequestId:
      - 99bfad9b-ed18-4314-8fd9-157f5e07dcbd
      x-ms-operation-id:
      - 0a3fce7d-98da-4438-8e41-27dcf219ffed
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0a3fce7d-98da-4438-8e41-27dcf219ffed/result
  response:
    body:
      string: '{"id": "bf4d60d7-5fea-4a9c-b989-6800b3fbdb76", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "588409b0-a90f-4407-8ed6-600bb282beed"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - dbe988f1-f15b-4b1c-8749-ef493e7269b1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/warehouses/bf4d60d7-5fea-4a9c-b989-6800b3fbdb76
  response:
    body:
      string: '{"id": "bf4d60d7-5fea-4a9c-b989-6800b3fbdb76", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "588409b0-a90f-4407-8ed6-600bb282beed", "properties": {"connectionInfo": "vwbb4lsqmqqejdvenqo7wshysy-waeyiwapvedujdwwmaf3fav65u.datawarehouse.fabric.microsoft.com",
        "connectionString": "mock_connection_string", "createdDate": "2026-01-16T11:20:34.7940275",
        "lastUpdatedTime": "2026-01-16T11:20:51.2645095", "collationType": "Latin1_General_100_CI_AS_KS_WS_SC_UTF8",
        "creationMode": "New", "sourceRestorePoint": null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - fc954724-fdd6-41e4-8268-25dfa5fc6d97
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/items/bf4d60d7-5fea-4a9c-b989-6800b3fbdb76/connections
  response:
    body:
      string: '{"requestId": "d20f97f6-a612-4dc9-b824-7ed191d2a35c", "errorCode":
        "OperationNotSupportedForItem", "message": "Operation not supported for requested
        item"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d20f97f6-a612-4dc9-b824-7ed191d2a35c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - OperationNotSupportedForItem
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/588409b0-a90f-4407-8ed6-600bb282beed/items/bf4d60d7-5fea-4a9c-b989-6800b3fbdb76
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 53a7c0f9-a128-47c2-ae2e-03f2872491aa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
