interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "830037cf-ab64-4b71-bf07-5a63108b6f86",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5e3e30f5-9901-4747-9857-ff731c04cf57
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/830037cf-ab64-4b71-bf07-5a63108b6f86/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ab591694-5fb3-44a4-9fac-19c00ec83ac3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/830037cf-ab64-4b71-bf07-5a63108b6f86/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/162c77b2-afe8-48eb-b263-4b34f06a7c7f
      RequestId:
      - 24eb54d6-a3c4-41ec-bccf-cc4b4d085762
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 162c77b2-afe8-48eb-b263-4b34f06a7c7f
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/162c77b2-afe8-48eb-b263-4b34f06a7c7f
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-09T07:07:44.8642509",
        "lastUpdatedTimeUtc": "2026-09-09T07:07:44.8642509", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/162c77b2-afe8-48eb-b263-4b34f06a7c7f
      RequestId:
      - b6695c65-c6da-45e4-a0c9-ce732dda2d0d
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 162c77b2-afe8-48eb-b263-4b34f06a7c7f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/162c77b2-afe8-48eb-b263-4b34f06a7c7f/result
  response:
    body:
      string: '{"id": "592a09bc-2b62-488d-97a8-30d40b70d92e", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "830037cf-ab64-4b71-bf07-5a63108b6f86"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - e5c8dee5-a919-477a-91dc-44aedecfae6d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/830037cf-ab64-4b71-bf07-5a63108b6f86/ontologies/592a09bc-2b62-488d-97a8-30d40b70d92e
  response:
    body:
      string: '{"id": "592a09bc-2b62-488d-97a8-30d40b70d92e", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "830037cf-ab64-4b71-bf07-5a63108b6f86"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 845f4eba-c75d-4fdf-aa05-ccd97363c22a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/830037cf-ab64-4b71-bf07-5a63108b6f86/items/592a09bc-2b62-488d-97a8-30d40b70d92e/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "e30=",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIk9udG9sb2d5IiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - aaac4ea6-a223-4340-a2bb-01892f169287
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/830037cf-ab64-4b71-bf07-5a63108b6f86/items/592a09bc-2b62-488d-97a8-30d40b70d92e/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 63ab254e-d2a7-47d2-892a-851e60086fee
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/830037cf-ab64-4b71-bf07-5a63108b6f86/items/592a09bc-2b62-488d-97a8-30d40b70d92e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5506c930-5937-47e5-bba6-5991a21cd99f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
