interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "830037cf-ab64-4b71-bf07-5a63108b6f86",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 40c47254-4006-42ef-a143-6f613f68a833
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/830037cf-ab64-4b71-bf07-5a63108b6f86/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 14ae9a1c-78c2-4e2c-8d2d-54846abf5dd5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/830037cf-ab64-4b71-bf07-5a63108b6f86/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/66aaed23-2395-45b1-a982-4078fc347c30
      RequestId:
      - bf7b7219-56ac-4ac9-9b12-a651b1332a00
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 66aaed23-2395-45b1-a982-4078fc347c30
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/66aaed23-2395-45b1-a982-4078fc347c30
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-09T07:04:33.8844032",
        "lastUpdatedTimeUtc": "2026-09-09T07:04:33.8844032", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/66aaed23-2395-45b1-a982-4078fc347c30
      RequestId:
      - 4063090d-0e40-422c-9d16-2a65dd967c94
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 66aaed23-2395-45b1-a982-4078fc347c30
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/66aaed23-2395-45b1-a982-4078fc347c30/result
  response:
    body:
      string: '{"id": "f72fa8e8-f007-4b4f-9cb9-642c11b4394d", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "830037cf-ab64-4b71-bf07-5a63108b6f86"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 2ac74e98-d5f9-4a42-98ed-784f98d2108a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/830037cf-ab64-4b71-bf07-5a63108b6f86/items/f72fa8e8-f007-4b4f-9cb9-642c11b4394d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4870ddc2-e5a1-4521-97f3-ea273a372744
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
