interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "378f1868-fb0c-4fad-be8e-a1d695141384", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 50653f9a-c62a-453a-98d3-35c3518fde97
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 64168dac-3232-4e6c-bc28-f5ad160c2363
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MLExperiment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/mlExperiments
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3076099f-14ab-46b0-b63d-60c4bc50e83d
      RequestId:
      - 514bb541-7999-459a-9b28-5a8d7ec21008
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 3076099f-14ab-46b0-b63d-60c4bc50e83d
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3076099f-14ab-46b0-b63d-60c4bc50e83d
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-14T07:56:23.9219177",
        "lastUpdatedTimeUtc": "2026-01-14T07:56:25.0314085", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3076099f-14ab-46b0-b63d-60c4bc50e83d/result
      RequestId:
      - 28acfd15-626e-4e2e-8654-6608a5b0cf16
      x-ms-operation-id:
      - 3076099f-14ab-46b0-b63d-60c4bc50e83d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/3076099f-14ab-46b0-b63d-60c4bc50e83d/result
  response:
    body:
      string: '{"id": "e7b30933-d1a9-4f93-8464-c179ae2079c5", "type": "MLExperiment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "378f1868-fb0c-4fad-be8e-a1d695141384"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - e22a8624-382c-43c0-9cb0-7c0ea8da8adb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/mlExperiments/e7b30933-d1a9-4f93-8464-c179ae2079c5
  response:
    body:
      string: '{"id": "e7b30933-d1a9-4f93-8464-c179ae2079c5", "type": "MLExperiment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "378f1868-fb0c-4fad-be8e-a1d695141384", "properties": {"mlFlowExperimentId":
        "e7b30933-d1a9-4f93-8464-c179ae2079c5"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b8a2c490-7d2f-43d6-8eed-8f0ca6a35274
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/items/e7b30933-d1a9-4f93-8464-c179ae2079c5/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b7cf026b-96a0-4b46-b535-e5dd0c7430b4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/items/e7b30933-d1a9-4f93-8464-c179ae2079c5
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - cd6b2d2c-c20c-4b6b-a890-8aa21f2a39a4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
