interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "378f1868-fb0c-4fad-be8e-a1d695141384", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - aac94f39-cb3e-4f28-aa96-09c14d7cbc19
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/items
  response:
    body:
      string: '{"value": [{"id": "6b9a2ba6-e891-4737-ae51-494bcab0f40f", "type": "Report",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "378f1868-fb0c-4fad-be8e-a1d695141384"}, {"id": "a705ec7d-eada-4edd-91b0-9ca07514f89e",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "378f1868-fb0c-4fad-be8e-a1d695141384"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3367f419-3f93-46a5-ad07-ed152423c2ff
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b460851b-8101-4976-8fe4-f79081bdf0d6
      RequestId:
      - 031cd71a-cd33-44b5-afab-896cf01f40f6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b460851b-8101-4976-8fe4-f79081bdf0d6
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b460851b-8101-4976-8fe4-f79081bdf0d6
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-14T07:59:42.861154",
        "lastUpdatedTimeUtc": "2026-01-14T08:00:02.5344545", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b460851b-8101-4976-8fe4-f79081bdf0d6/result
      RequestId:
      - 6e8b5458-b80f-498d-bca9-3e4320625f2d
      x-ms-operation-id:
      - b460851b-8101-4976-8fe4-f79081bdf0d6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b460851b-8101-4976-8fe4-f79081bdf0d6/result
  response:
    body:
      string: '{"id": "abac0064-c879-412d-9aa9-bd831aff16cc", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "378f1868-fb0c-4fad-be8e-a1d695141384"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 9011def3-d92a-40dd-81db-2885006ce8e4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/sqlDatabases/abac0064-c879-412d-9aa9-bd831aff16cc
  response:
    body:
      string: '{"id": "abac0064-c879-412d-9aa9-bd831aff16cc", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "378f1868-fb0c-4fad-be8e-a1d695141384", "properties": {"connectionInfo": "Data
        Source=vwbb4lsqmqqejdvenqo7wshysy-nami6nym7owu7puouhljkfatqq.database.fabric.microsoft.com,1433;Initial
        Catalog=fabcli000001-abac0064-c879-412d-9aa9-bd831aff16cc;Multiple Active
        Result Sets=False;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False",
        "connectionString": "mock_connection_string", "databaseName": "fabcli000001-abac0064-c879-412d-9aa9-bd831aff16cc",
        "serverFqdn": "vwbb4lsqmqqejdvenqo7wshysy-nami6nym7owu7puouhljkfatqq.database.fabric.microsoft.com,1433",
        "backupRetentionDays": 7}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e157120d-c3a3-430e-8361-20333e69a452
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/items/abac0064-c879-412d-9aa9-bd831aff16cc/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7f7748a3-a0c2-45aa-8b32-41e890732187
      RequestId:
      - e9b14097-420a-450e-a271-0a1545a0e9e8
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7f7748a3-a0c2-45aa-8b32-41e890732187
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7f7748a3-a0c2-45aa-8b32-41e890732187/result
  response:
    body:
      string: '{"definition": {"format": "dacpac", "parts": [{"path": "fabcli000001.dacpac",
        "payload": "UEsDBBQAAAAIABNALlzG6qC/qQIAALwHAAAJAAAAbW9kZWwueG1spVVdb9pAEHxOpf4Hy++1+VCbqjKJIgNNJEhIbKWqqgot9gInne+cu3ME+fXdw2ATCCm0D0jmvDOz7M4cweUi484zKs2k6LhNr+E6KBKZMjHruIWZfvrqXl58/BB0wUCUzDGDoUyRO33GsS9VBuaxBrdcp6ypztreZ9fp6vwWMuy4Q5YoqeXUeJbOi6Xk2isRXvTE7ac76cNEscQWTEBj+Xak5DNLUblOKDkHQ9yDhKWk2Wi3tw5Di0ChmWHPpNcHrtF16CcK3XHnxuTffF+vGLWXVc0kMvP1E5UqGoSfQuJHqBhw9rIi9VuNZstvtFyaw1lwjUCN2MezICy0kZlt1QnB4EyqZce9IvnbgnO9qqeqIRpIbU05hPq98wi8oJNYFdSlX3L6Nek7IveFNJjepCgMmzIazNtae2X/IRnKLKd5TBhnZmlNcEBzv24j2j[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/items/abac0064-c879-412d-9aa9-bd831aff16cc/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b4273bfd-c0dd-4201-924d-dcc1456933b1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/items/abac0064-c879-412d-9aa9-bd831aff16cc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9ebb41e8-68e2-4694-8db8-cad71afd2968
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
