interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "40fa6a02-7d62-442d-afb1-96b5b6ba9728",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2ce9230f-3d20-4882-869a-dd49f4e1b055
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5b3ae845-a9db-4ea6-a3a7-a4c1481ece39
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8df3a150-5dbc-487d-93c3-8da0a45f47e8
      RequestId:
      - 7d697f4c-b596-4e65-b577-d9baa3f3f366
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 8df3a150-5dbc-487d-93c3-8da0a45f47e8
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8df3a150-5dbc-487d-93c3-8da0a45f47e8
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:05:52.7050339",
        "lastUpdatedTimeUtc": "2026-05-13T07:06:00.5865636", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8df3a150-5dbc-487d-93c3-8da0a45f47e8/result
      RequestId:
      - 9e3419d3-0035-4f1c-be21-c3a78820d768
      x-ms-operation-id:
      - 8df3a150-5dbc-487d-93c3-8da0a45f47e8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8df3a150-5dbc-487d-93c3-8da0a45f47e8/result
  response:
    body:
      string: '{"id": "960da075-9211-4517-bcac-f42f59a45aa4", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 5b333493-82e9-4943-ae99-b30ec75ed2d5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items/960da075-9211-4517-bcac-f42f59a45aa4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b0c6bd43-8453-4f20-9dc4-0f6bc1d52b84
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
