interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "40fa6a02-7d62-442d-afb1-96b5b6ba9728",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b6e97223-7430-4f21-82d1-6364db9479af
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items
  response:
    body:
      string: '{"value": [{"id": "7d65cfd7-d835-4bfa-b16a-eccb0b6418a9", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"},
        {"id": "6bc28889-4ad7-4f18-80ec-0300985ac967", "type": "SQLEndpoint", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"},
        {"id": "f5192c5f-21d0-4479-b2f8-05436f704b51", "type": "SQLEndpoint", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"},
        {"id": "d4a2b316-7223-443e-a60f-6555e2fa2288", "[...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0901179f-0602-4996-80ef-093ae71c2f62
      RequestId:
      - 0ae1143c-1470-478f-bde7-2e7a06f60d88
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 0901179f-0602-4996-80ef-093ae71c2f62
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0901179f-0602-4996-80ef-093ae71c2f62
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:07:53.3169998",
        "lastUpdatedTimeUtc": "2026-05-13T07:07:59.9762671", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0901179f-0602-4996-80ef-093ae71c2f62/result
      RequestId:
      - 93ee1255-3681-4af3-9794-9be21e375881
      x-ms-operation-id:
      - 0901179f-0602-4996-80ef-093ae71c2f62
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0901179f-0602-4996-80ef-093ae71c2f62/result
  response:
    body:
      string: '{"id": "d5b638d4-28ed-4610-a646-58d3223d95e8", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 4bd5ddac-4161-4966-9e2f-10e8a0968b83
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/digitalTwinBuilders/d5b638d4-28ed-4610-a646-58d3223d95e8
  response:
    body:
      string: '{"id": "d5b638d4-28ed-4610-a646-58d3223d95e8", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "40fa6a02-7d62-442d-afb1-96b5b6ba9728"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 256cd664-7e5d-40e2-8dbc-bccc3b738ad3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items/d5b638d4-28ed-4610-a646-58d3223d95e8/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f4bb0ca9-46b2-4bc6-99cd-09f23e176c88
      RequestId:
      - 87639ae1-8fdb-47d4-b3f0-9bc07248ac70
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - f4bb0ca9-46b2-4bc6-99cd-09f23e176c88
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f4bb0ca9-46b2-4bc6-99cd-09f23e176c88/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiNWVjMDQyODItMTZlYi00YTBhLTliYTktOGE4NThjMjM1NjFjIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 728d41de-7a8a-4397-b55f-3630ee5708bb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items/d5b638d4-28ed-4610-a646-58d3223d95e8/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 31f73eed-6fa3-4000-bc35-f052aa65adb7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/40fa6a02-7d62-442d-afb1-96b5b6ba9728/items/d5b638d4-28ed-4610-a646-58d3223d95e8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e197cef8-2fcd-431f-8a3f-8c106e042273
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
