interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "378f1868-fb0c-4fad-be8e-a1d695141384", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 856603ca-9e64-42cd-bb47-86c63de06a53
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/items
  response:
    body:
      string: '{"value": [{"id": "6b9a2ba6-e891-4737-ae51-494bcab0f40f", "type": "Report",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "378f1868-fb0c-4fad-be8e-a1d695141384"}, {"id": "a705ec7d-eada-4edd-91b0-9ca07514f89e",
        "type": "SemanticModel", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "378f1868-fb0c-4fad-be8e-a1d695141384"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2e6adcbc-527c-472a-a0c2-05e8a2ade634
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4b489414-be68-4bdd-8562-26dfd1127494
      RequestId:
      - 95bd01ad-482e-4149-bece-6511be287547
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 4b489414-be68-4bdd-8562-26dfd1127494
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4b489414-be68-4bdd-8562-26dfd1127494
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-14T08:02:10.1546079",
        "lastUpdatedTimeUtc": "2026-01-14T08:02:22.4071535", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4b489414-be68-4bdd-8562-26dfd1127494/result
      RequestId:
      - 53bec772-3e64-4f15-82bd-fa14963d4651
      x-ms-operation-id:
      - 4b489414-be68-4bdd-8562-26dfd1127494
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4b489414-be68-4bdd-8562-26dfd1127494/result
  response:
    body:
      string: '{"id": "80911194-d701-4e8f-b7b8-a1f0830eaf93", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "378f1868-fb0c-4fad-be8e-a1d695141384"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 3a2ca49e-30c4-428f-a385-a93e106e09ea
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/warehouses/80911194-d701-4e8f-b7b8-a1f0830eaf93
  response:
    body:
      string: '{"id": "80911194-d701-4e8f-b7b8-a1f0830eaf93", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "378f1868-fb0c-4fad-be8e-a1d695141384", "properties": {"connectionInfo": "vwbb4lsqmqqejdvenqo7wshysy-nami6nym7owu7puouhljkfatqq.datawarehouse.fabric.microsoft.com",
        "connectionString": "mock_connection_string", "createdDate": "2026-01-14T08:02:09.9201696",
        "lastUpdatedTime": "2026-01-14T08:02:22.29778", "collationType": "Latin1_General_100_BIN2_UTF8",
        "creationMode": "New", "sourceRestorePoint": null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 601dfdd4-3187-43f1-b68d-435b33d79300
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/items/80911194-d701-4e8f-b7b8-a1f0830eaf93/connections
  response:
    body:
      string: '{"requestId": "fbab9978-cbc7-49b7-a190-22a8584d9418", "errorCode":
        "OperationNotSupportedForItem", "message": "Operation not supported for requested
        item"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fbab9978-cbc7-49b7-a190-22a8584d9418
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - OperationNotSupportedForItem
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/378f1868-fb0c-4fad-be8e-a1d695141384/items/80911194-d701-4e8f-b7b8-a1f0830eaf93
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6790f318-a7ac-4903-89e0-6d7f68ddffea
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
