interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "9ff4290e-cc54-4ac2-b262-083eae07a505", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b95e0e7d-4448-4345-b050-1a1704eb02e5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9ff4290e-cc54-4ac2-b262-083eae07a505/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4ee592f4-21aa-49be-a405-6e14cb1af47a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MountedDataFactory", "folderId": null, "definition": {"parts": [{"path": "mountedDataFactory-content.json",
      "payload": "eyJkYXRhRmFjdG9yeVJlc291cmNlSWQiOiAiL3N1YnNjcmlwdGlvbnMvPE1pc3NpbmcgRkFCUklDX0NMSV9URVNUX0FaVVJFX1NVQlNDUklQVElPTl9JRCB2YWx1ZT4vcmVzb3VyY2VHcm91cHMvPE1pc3NpbmcgRkFCUklDX0NMSV9URVNUX0FaVVJFX1JFU09VUkNFX0dST1VQIHZhbHVlPi9wcm92aWRlcnMvTWljcm9zb2Z0LkRhdGFGYWN0b3J5L2ZhY3Rvcmllcy90ZXN0LWZhY3RvcnktbmFtZSJ9",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9ff4290e-cc54-4ac2-b262-083eae07a505/mounteddatafactories
  response:
    body:
      string: '{"id": "58cb50c7-7190-4778-a2d3-0f21b058840d", "type": "MountedDataFactory",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9ff4290e-cc54-4ac2-b262-083eae07a505"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 89c1b698-c8f6-4882-8945-30d6f66e581a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9ff4290e-cc54-4ac2-b262-083eae07a505/mounteddatafactories/58cb50c7-7190-4778-a2d3-0f21b058840d
  response:
    body:
      string: '{"id": "58cb50c7-7190-4778-a2d3-0f21b058840d", "type": "MountedDataFactory",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9ff4290e-cc54-4ac2-b262-083eae07a505"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 548ce5a7-844d-4f55-ada6-65576b9a6f1d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9ff4290e-cc54-4ac2-b262-083eae07a505/items/58cb50c7-7190-4778-a2d3-0f21b058840d/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "mountedDataFactory-content.json",
        "payload": "ewogICJkYXRhRmFjdG9yeVJlc291cmNlSWQiOiAiL3N1YnNjcmlwdGlvbnMvPE1pc3NpbmcgRkFCUklDX0NMSV9URVNUX0FaVVJFX1NVQlNDUklQVElPTl9JRC[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9ff4290e-cc54-4ac2-b262-083eae07a505/items/58cb50c7-7190-4778-a2d3-0f21b058840d/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bbf200fc-f93c-40c8-8ae3-2cec43787d40
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9ff4290e-cc54-4ac2-b262-083eae07a505/items/58cb50c7-7190-4778-a2d3-0f21b058840d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 979bfd5b-9146-431d-84f7-57b3e729d4bf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
