interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a9ca18f6-f778-4792-914a-86114c8613d0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6/items
  response:
    body:
      string: '{"value": [{"id": "0dc4b3df-f86f-4b10-b667-d35cb521404d", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6"},
        {"id": "bd355473-8031-4dfd-b491-8b4db8f73416", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6"},
        {"id": "b73e7096-ca36-4a3c-9329-78910f950e61", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6"},
        {"id": "2d536924-c8ad-4ac3-9152-6ff82b940b49", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 25d33da3-e54d-4592-ad63-af3eb716d6ea
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "GraphQuerySet", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6/GraphQuerySets
  response:
    body:
      string: '{"id": "881c41a9-ad68-49e8-bd26-ddb1eb82e17a", "type": "GraphQuerySet",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 62fcc46e-5f3a-444b-b08c-8d2ffe20e434
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/fcf5d32e-da97-4ce7-bd0b-bfbd2c9a7ba6/items/881c41a9-ad68-49e8-bd26-ddb1eb82e17a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 70b35dbe-8b24-443c-9990-99cd3d9f04f3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
