interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e90776ff-42ae-4f92-b45d-25c3d375832b",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4fe1f2c1-541d-4bbf-ad85-d96a306fbbd4
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e90776ff-42ae-4f92-b45d-25c3d375832b
  response:
    body:
      string: '{"id": "e90776ff-42ae-4f92-b45d-25c3d375832b", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "West Europe", "oneLakeEndpoints": {"blobEndpoint": "https://westeurope-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://westeurope-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c3197e99-abc6-4aee-9303-01f3b6c1c3e0
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e90776ff-42ae-4f92-b45d-25c3d375832b/provisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/f25ec016-05d6-4ac2-aacf-ee69509977ab
      RequestId:
      - 0270b78e-0dda-4134-980b-be92982d6e39
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - f25ec016-05d6-4ac2-aacf-ee69509977ab
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/f25ec016-05d6-4ac2-aacf-ee69509977ab
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2025-09-03T06:42:09.1859199",
        "lastUpdatedTimeUtc": "2025-09-03T06:42:09.2172444", "percentComplete": null,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/f25ec016-05d6-4ac2-aacf-ee69509977ab
      RequestId:
      - a714570b-f251-45d2-9d4f-6dc9a80016f6
      Retry-After:
      - '5'
      x-ms-operation-id:
      - f25ec016-05d6-4ac2-aacf-ee69509977ab
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/f25ec016-05d6-4ac2-aacf-ee69509977ab/result
  response:
    body:
      string: '{"applicationId": "c9fdfad6-8963-440a-a6c9-2c4a81bb424e", "servicePrincipalId":
        "2f23e1fd-02a1-445e-957a-5d2448ec7a09"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 6c1d8307-7b38-4dbf-a788-b39053ef0fa7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e90776ff-42ae-4f92-b45d-25c3d375832b
  response:
    body:
      string: '{"id": "e90776ff-42ae-4f92-b45d-25c3d375832b", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "West Europe", "oneLakeEndpoints": {"blobEndpoint": "https://westeurope-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://westeurope-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed", "workspaceIdentity": {"applicationId": "c9fdfad6-8963-440a-a6c9-2c4a81bb424e",
        "servicePrincipalId": "2f23e1fd-02a1-445e-957a-5d2448ec7a09"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a8fa4248-e69f-4f15-92b2-89fa74b95e57
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e90776ff-42ae-4f92-b45d-25c3d375832b/deprovisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/1f455270-e5fe-4641-b524-c30587dae59f
      RequestId:
      - 132abc1d-fa2d-44b8-ae0d-e58abedb33db
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 1f455270-e5fe-4641-b524-c30587dae59f
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/operations/1f455270-e5fe-4641-b524-c30587dae59f/result
  response:
    body:
      string: '{"requestId": "214fe4a9-1340-4050-95c0-0b10b79ca988", "errorCode":
        "OperationHasNoResult", "message": "The operation has no result"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 214fe4a9-1340-4050-95c0-0b10b79ca988
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - OperationHasNoResult
    status:
      code: 400
      message: Bad Request
version: 1
