interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e98b72a5-ab73-4bc6-90c2-c161ed9b33f6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9c312499-b314-435a-aebd-466f01d62060
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e98b72a5-ab73-4bc6-90c2-c161ed9b33f6/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 05ad58b0-464f-4bc5-982f-5386234d9aea
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "SQLDatabase", "folderId": null,
      "creationPayload": {"creationMode": "New"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e98b72a5-ab73-4bc6-90c2-c161ed9b33f6/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2104e63d-44d6-4e09-959d-869ca07452cc
      RequestId:
      - 16eb2d8d-7385-47ca-997b-e4824f12b9cf
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 2104e63d-44d6-4e09-959d-869ca07452cc
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2104e63d-44d6-4e09-959d-869ca07452cc
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-07-01T17:48:11.6469358",
        "lastUpdatedTimeUtc": "2026-07-01T17:48:29.4867769", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2104e63d-44d6-4e09-959d-869ca07452cc/result
      RequestId:
      - 02c2e2ae-67b5-4467-8485-cc3de80f7500
      x-ms-operation-id:
      - 2104e63d-44d6-4e09-959d-869ca07452cc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/2104e63d-44d6-4e09-959d-869ca07452cc/result
  response:
    body:
      string: '{"id": "3853ea13-13a1-42e9-a823-ad8d78666012", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "e98b72a5-ab73-4bc6-90c2-c161ed9b33f6"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d2498aad-eac4-4bc3-81d8-873c4ba42799
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e98b72a5-ab73-4bc6-90c2-c161ed9b33f6/sqlDatabases/3853ea13-13a1-42e9-a823-ad8d78666012
  response:
    body:
      string: '{"id": "3853ea13-13a1-42e9-a823-ad8d78666012", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "e98b72a5-ab73-4bc6-90c2-c161ed9b33f6",
        "properties": {"connectionInfo": "Data Source=vwbb4lsqmqqejdvenqo7wshysy-uvzix2ltvpdexegcyfq63gzt6y.database.fabric.microsoft.com,1433;Initial
        Catalog=fabcli000001-3853ea13-13a1-42e9-a823-ad8d78666012;Multiple Active
        Result Sets=False;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False",
        "connectionString": "mock_connection_string", "databaseName": "fabcli000001-3853ea13-13a1-42e9-a823-ad8d78666012",
        "serverFqdn": "vwbb4lsqmqqejdvenqo7wshysy-uvzix2ltvpdexegcyfq63gzt6y.database.fabric.microsoft.com,1433",
        "earliestRestorePoint": "2026-07-01T17:51:15Z", "latestRestorePoint": "2026-07-01T17:51:15Z",
        "backupRetentionDays": 7, "collation": "SQL_Latin1_General_CP1_CI_AS"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 355d0674-0e8b-4254-b25a-b6b29dd6ced1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e98b72a5-ab73-4bc6-90c2-c161ed9b33f6/items/3853ea13-13a1-42e9-a823-ad8d78666012/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9d0016c3-f067-4ef4-bf2c-28504c7ab211
      RequestId:
      - de6665eb-50e6-41e7-99d8-12400f11dd19
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 9d0016c3-f067-4ef4-bf2c-28504c7ab211
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/9d0016c3-f067-4ef4-bf2c-28504c7ab211/result
  response:
    body:
      string: '{"definition": {"format": "dacpac", "parts": [{"path": "fabcli000001.dacpac",
        "payload": "UEsDBBQAAAAIAMuO4VzG6qC/qQIAALwHAAAJAAAAbW9kZWwueG1spVVdb9pAEHxOpf4Hy++1+VCbqjKJIgNNJEhIbKWqqgot9gInne+cu3ME+fXdw2ATCCm0D0jmvDOz7M4cweUi484zKs2k6LhNr+E6KBKZMjHruIWZfvrqXl58/BB0wUCUzDGDoUyRO33GsS9VBuaxBrdcp6ypztreZ9fp6vwWMuy4Q5YoqeXUeJbOi6Xk2isRXvTE7ac76cNEscQWTEBj+Xak5DNLUblOKDkHQ9yDhKWk2Wi3tw5Di0ChmWHPpNcHrtF16CcK3XHnxuTffF+vGLWXVc0kMvP1E5UqGoSfQuJHqBhw9rIi9VuNZstvtFyaw1lwjUCN2MezICy0kZlt1QnB4EyqZce9IvnbgnO9qqeqIRpIbU05hPq98wi8oJNYFdSlX3L6Nek7IveFNJjepCgMmzIazNtae2X/IRnKLKd5TBhnZmlNcEBzv24j2j[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e98b72a5-ab73-4bc6-90c2-c161ed9b33f6/items/3853ea13-13a1-42e9-a823-ad8d78666012/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1405781b-bd07-4d6d-ab62-33e24cb7ca7e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "SQLDatabase", "folderId": null,
      "creationPayload": {"creationMode": "Restore", "restorePointInTime": "2026-07-01T17:51:15Z",
      "sourceDatabaseReference": {"itemId": "3853ea13-13a1-42e9-a823-ad8d78666012",
      "referenceType": "ById", "workspaceId": "e98b72a5-ab73-4bc6-90c2-c161ed9b33f6"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e98b72a5-ab73-4bc6-90c2-c161ed9b33f6/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ff537f78-db3c-43ae-ac99-5228e5e8a778
      RequestId:
      - ea1966c8-7858-4f75-98fa-8b59c67856bb
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ff537f78-db3c-43ae-ac99-5228e5e8a778
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e98b72a5-ab73-4bc6-90c2-c161ed9b33f6/items/5504b9ad-e178-49e5-bb07-03509bf9ba3a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3d164a7d-0c1f-4e70-91df-d36f3ed7b388
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e98b72a5-ab73-4bc6-90c2-c161ed9b33f6/sqlDatabases/restorableDeletedDatabases
  response:
    body:
      string: '{"value": [{"displayName": "fabcli000002-5504b9ad-e178-49e5-bb07-03509bf9ba3a",
        "properties": {"restorableDeletedDatabaseName": "fabcli000002-5504b9ad-e178-49e5-bb07-03509bf9ba3a,134274024766330000",
        "earliestRestorePoint": "2026-07-01T17:59:24.0000000Z", "latestRestorePoint":
        "2026-07-01T18:01:16.6330000Z", "deletionTimestamp": "2026-07-01T18:01:16.6330000Z"}},
        {"displayName": "fabcli000001-3853ea13-13a1-42e9-a823-ad8d78666012", "properties":
        {"restorableDeletedDatabaseName": "fabcli000001-3853ea13-13a1-42e9-a823-ad8d78666012,134274024775530000",
        "earliestRestorePoint": "2026-07-01T17:51:15.0000000Z", "latestRestorePoint":
        "2026-07-01T18:01:17.5530000Z", "deletionTimestamp": "2026-07-01T18:01:17.5530000Z"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 034226f2-2de7-47de-9855-9d25eb3d292b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000003", "type": "SQLDatabase", "folderId": null,
      "creationPayload": {"creationMode": "RestoreDeletedDatabase", "restorableDeletedDatabaseName":
      "fabcli000002-5504b9ad-e178-49e5-bb07-03509bf9ba3a,134274024766330000", "restorePointInTime":
      "2026-07-01T17:51:15Z"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e98b72a5-ab73-4bc6-90c2-c161ed9b33f6/sqlDatabases
  response:
    body:
      string: '{"requestId": "ed4db342-ac8c-45bc-a202-c972da02a8c9", "errorCode":
        "SqlDbNative.FleetManagement.InvalidRestoreFromTime", "message": "Restore
        from time 7/1/2026 5:51:15 PM is invalid. Expected between earliest restore
        time 7/1/2026 5:59:24 PM and latest restore time 7/1/2026 6:01:16 PM.", "isRetriable":
        false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ed4db342-ac8c-45bc-a202-c972da02a8c9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - SqlDbNative.FleetManagement.InvalidRestoreFromTime
    status:
      code: 400
      message: Bad Request
version: 1
