interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "9773b62c-9678-4dc3-b135-3ccd31e7af86",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 71938062-fcf5-4e88-a84f-8e4d57e1d4cd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9773b62c-9678-4dc3-b135-3ccd31e7af86/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 832ece71-0dc4-4612-9e0f-86f472c44dd0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "SQLDatabase", "folderId": null,
      "creationPayload": {"creationMode": "New", "backupRetentionDays": "7", "collation":
      "SQL_Latin1_General_CP1_CI_AS"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9773b62c-9678-4dc3-b135-3ccd31e7af86/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bfc8c40a-7762-4d4f-9283-9da32631862b
      RequestId:
      - 454ec5b8-9b6d-461d-93e7-87de4939930c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - bfc8c40a-7762-4d4f-9283-9da32631862b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bfc8c40a-7762-4d4f-9283-9da32631862b
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-06-28T13:37:28.512913",
        "lastUpdatedTimeUtc": "2026-06-28T13:37:47.29377", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bfc8c40a-7762-4d4f-9283-9da32631862b/result
      RequestId:
      - c0364c50-6e00-4403-9725-edcc0a2cf107
      x-ms-operation-id:
      - bfc8c40a-7762-4d4f-9283-9da32631862b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bfc8c40a-7762-4d4f-9283-9da32631862b/result
  response:
    body:
      string: '{"id": "6106e499-9470-4da1-b134-472ea457cbf5", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "9773b62c-9678-4dc3-b135-3ccd31e7af86"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 494e534b-5608-40ca-a4a4-035b6055826d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9773b62c-9678-4dc3-b135-3ccd31e7af86/sqlDatabases/6106e499-9470-4da1-b134-472ea457cbf5
  response:
    body:
      string: '{"id": "6106e499-9470-4da1-b134-472ea457cbf5", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "9773b62c-9678-4dc3-b135-3ccd31e7af86",
        "properties": {"connectionInfo": "Data Source=vwbb4lsqmqqejdvenqo7wshysy-fs3hhf3ys3bu3mjvhtgtdz5pqy.database.fabric.microsoft.com,1433;Initial
        Catalog=fabcli000001-6106e499-9470-4da1-b134-472ea457cbf5;Multiple Active
        Result Sets=False;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False",
        "connectionString": "mock_connection_string", "databaseName": "fabcli000001-6106e499-9470-4da1-b134-472ea457cbf5",
        "serverFqdn": "vwbb4lsqmqqejdvenqo7wshysy-fs3hhf3ys3bu3mjvhtgtdz5pqy.database.fabric.microsoft.com,1433",
        "backupRetentionDays": 7, "collation": "SQL_Latin1_General_CP1_CI_AS"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 48385f7e-5e91-40c6-9570-74356058ff2c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9773b62c-9678-4dc3-b135-3ccd31e7af86/items/6106e499-9470-4da1-b134-472ea457cbf5/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ee7a3ea2-234f-4ad7-8212-45f74b9ef28a
      RequestId:
      - 1810e011-a188-451b-af66-7f774164bd37
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ee7a3ea2-234f-4ad7-8212-45f74b9ef28a
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ee7a3ea2-234f-4ad7-8212-45f74b9ef28a/result
  response:
    body:
      string: '{"definition": {"format": "dacpac", "parts": [{"path": "fabcli000001.dacpac",
        "payload": "UEsDBBQAAAAIAMls3FzG6qC/qQIAALwHAAAJAAAAbW9kZWwueG1spVVdb9pAEHxOpf4Hy++1+VCbqjKJIgNNJEhIbKWqqgot9gInne+cu3ME+fXdw2ATCCm0D0jmvDOz7M4cweUi484zKs2k6LhNr+E6KBKZMjHruIWZfvrqXl58/BB0wUCUzDGDoUyRO33GsS9VBuaxBrdcp6ypztreZ9fp6vwWMuy4Q5YoqeXUeJbOi6Xk2isRXvTE7ac76cNEscQWTEBj+Xak5DNLUblOKDkHQ9yDhKWk2Wi3tw5Di0ChmWHPpNcHrtF16CcK3XHnxuTffF+vGLWXVc0kMvP1E5UqGoSfQuJHqBhw9rIi9VuNZstvtFyaw1lwjUCN2MezICy0kZlt1QnB4EyqZce9IvnbgnO9qqeqIRpIbU05hPq98wi8oJNYFdSlX3L6Nek7IveFNJjepCgMmzIazNtae2X/IRnKLKd5TBhnZmlNcEBzv24j2j[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9773b62c-9678-4dc3-b135-3ccd31e7af86/items/6106e499-9470-4da1-b134-472ea457cbf5/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 63d4ae34-2672-4971-89af-06db754dd207
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9773b62c-9678-4dc3-b135-3ccd31e7af86/items/6106e499-9470-4da1-b134-472ea457cbf5
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b6780050-ee9e-43ed-9ae1-cc59672bd4e4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
