interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "85390ffd-d7eb-47bd-94e2-49561981f8af",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3d296e9d-22f3-4116-8636-437c9538f3e3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/85390ffd-d7eb-47bd-94e2-49561981f8af/items
  response:
    body:
      string: '{"value": [{"id": "391bb725-3581-40c2-bf7e-4924c96f354f", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "85390ffd-d7eb-47bd-94e2-49561981f8af"}, {"id": "069b130d-ffbe-4917-9bed-bff048ed03ea",
        "type": "Lakehouse", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "85390ffd-d7eb-47bd-94e2-49561981f8af"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9562905d-21af-4c0e-830a-42ebdfc6df3e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/85390ffd-d7eb-47bd-94e2-49561981f8af/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f1a911d4-c068-4f9b-a854-5ae9dec40770
      RequestId:
      - b9711aa0-25bb-4320-b0e2-4923a430efa4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - f1a911d4-c068-4f9b-a854-5ae9dec40770
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f1a911d4-c068-4f9b-a854-5ae9dec40770
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T07:39:56.3766275",
        "lastUpdatedTimeUtc": "2026-05-13T07:40:03.7739964", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f1a911d4-c068-4f9b-a854-5ae9dec40770/result
      RequestId:
      - c06fb624-dcaf-4365-bbe2-264651990668
      x-ms-operation-id:
      - f1a911d4-c068-4f9b-a854-5ae9dec40770
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f1a911d4-c068-4f9b-a854-5ae9dec40770/result
  response:
    body:
      string: '{"id": "99c8d4d8-ba1b-44d0-b058-3a99bd8cde4c", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "85390ffd-d7eb-47bd-94e2-49561981f8af"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - cd73aa59-a0e7-44b6-aac0-2d5af9db3f5d
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "99c8d4d8-ba1b-44d0-b058-3a99bd8cde4c", "workspaceId": "85390ffd-d7eb-47bd-94e2-49561981f8af"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/85390ffd-d7eb-47bd-94e2-49561981f8af/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "4536aeaf-c25c-43a5-818e-56626682689a", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "85390ffd-d7eb-47bd-94e2-49561981f8af"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 314aa040-170b-4a16-9e6d-a3a0c3796f32
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/85390ffd-d7eb-47bd-94e2-49561981f8af/items/99c8d4d8-ba1b-44d0-b058-3a99bd8cde4c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 05bb384f-32e2-4e37-88cf-3e44b741e6bb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
