interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "06f43994-b54c-4021-98d0-1efb0a5742cc",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e11724d5-89bc-429b-b543-b0bb4b3f6440
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/06f43994-b54c-4021-98d0-1efb0a5742cc/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c4774f53-7b11-4067-9000-abcf34bc9bc1
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/06f43994-b54c-4021-98d0-1efb0a5742cc/lakehouses
  response:
    body:
      string: '{"id": "fad52f85-8629-43f1-9866-44d2daf94f82", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "06f43994-b54c-4021-98d0-1efb0a5742cc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4045ba7d-b5d4-4260-9093-83d842f3339c
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/06f43994-b54c-4021-98d0-1efb0a5742cc/fad52f85-8629-43f1-9866-44d2daf94f82/Files/testShortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/06f43994-b54c-4021-98d0-1efb0a5742cc/fad52f85-8629-43f1-9866-44d2daf94f82/Files/testShortcut.Shortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: '{"path": "Files", "name": "testShortcut", "target": {"oneLake": {"workspaceId":
      "06f43994-b54c-4021-98d0-1efb0a5742cc", "itemId": "44bbf3a2-ff67-4be0-986c-b16fe7e2b3a2",
      "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/06f43994-b54c-4021-98d0-1efb0a5742cc/items/fad52f85-8629-43f1-9866-44d2daf94f82/shortcuts?shortcutConflictPolicy=GenerateUniqueName
  response:
    body:
      string: '{"name": "testShortcut", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "06f43994-b54c-4021-98d0-1efb0a5742cc", "itemId":
        "44bbf3a2-ff67-4be0-986c-b16fe7e2b3a2", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/06f43994-b54c-4021-98d0-1efb0a5742cc/items/fad52f85-8629-43f1-9866-44d2daf94f82/shortcuts/Files/testShortcut
      RequestId:
      - 0c012a8a-df92-4c9e-a8e6-4b9e7b3b3751
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/06f43994-b54c-4021-98d0-1efb0a5742cc/items/44bbf3a2-ff67-4be0-986c-b16fe7e2b3a2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 7fa99585-c16f-4145-9761-2cfd9b6ca120
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/06f43994-b54c-4021-98d0-1efb0a5742cc/items/fad52f85-8629-43f1-9866-44d2daf94f82
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5815277e-b733-4a09-87e6-7a7f78797ce2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
