interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "06f43994-b54c-4021-98d0-1efb0a5742cc",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 74d42b5c-8238-4cb6-b207-e941e13cc08b
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/06f43994-b54c-4021-98d0-1efb0a5742cc/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2d777c33-dfbe-4a37-bbf9-b8cee0cd3573
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/06f43994-b54c-4021-98d0-1efb0a5742cc/lakehouses
  response:
    body:
      string: '{"id": "370ac6d6-40cd-4807-92cb-e268dd940339", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "06f43994-b54c-4021-98d0-1efb0a5742cc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c03da43d-cbe6-4afe-9477-924b9cc23e7f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/06f43994-b54c-4021-98d0-1efb0a5742cc/370ac6d6-40cd-4807-92cb-e268dd940339/Files/shortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/06f43994-b54c-4021-98d0-1efb0a5742cc/370ac6d6-40cd-4807-92cb-e268dd940339/Files/shortcut.Shortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/06f43994-b54c-4021-98d0-1efb0a5742cc/items/370ac6d6-40cd-4807-92cb-e268dd940339
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 663f053c-4910-481f-8821-4136719b7102
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
