interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 054eb0a0-0150-4e86-b561-7cc9f3aea105
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d4289bf4-e0e6-447d-9afd-20b8b1b4cd49
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabriccli_WorkspacePerTestclass_000001", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli/1.5.0 (None; Linux; x86_64; 6.6.87.2-microsoft-standard-WSL2)
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "3beb89b4-64e6-4db9-86b0-564bb3c4c2d1", "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/3beb89b4-64e6-4db9-86b0-564bb3c4c2d1
      RequestId:
      - 2bdcd17c-3d0e-4335-838e-ee38646f98e6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3beb89b4-64e6-4db9-86b0-564bb3c4c2d1/items
  response:
    body:
      string: '{"value": [{"id": "63f15867-c1cc-403a-a290-cb4df117a9e0", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "3beb89b4-64e6-4db9-86b0-564bb3c4c2d1"},
        {"id": "85c2696d-b043-4051-b68c-8ca69e4159b9", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "3beb89b4-64e6-4db9-86b0-564bb3c4c2d1"},
        {"id": "a9cd8f45-5261-4372-b7dd-ac86e8473449", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "3beb89b4-64e6-4db9-86b0-564bb3c4c2d1"},
        {"id": "cddd45fd-5706-447b-a361-2d0c951ecf46", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "3beb89b4-64e6-4db9-86b0-564bb3c4c2d1"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f6b630cd-d42f-4569-b5c3-6086219ae29e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/3beb89b4-64e6-4db9-86b0-564bb3c4c2d1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 79b0b389-fcd7-4c1d-bdcc-8ab60c7d777e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
