interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 17440706-d289-4705-a6d8-b6ba3ac8197e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dc55b7de-c759-4194-8d2b-96470e14cc4f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabriccli_WorkspacePerTestclass_000001",
      "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "9f7ff46b-df20-4f1b-9b82-9183c6f6adc1", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/9f7ff46b-df20-4f1b-9b82-9183c6f6adc1
      RequestId:
      - aa65f6ab-0d41-4456-97de-ba22fe057dfe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9f7ff46b-df20-4f1b-9b82-9183c6f6adc1/items
  response:
    body:
      string: '{"value": [{"id": "2f193862-af04-41f2-8e4c-4e7896ecdd18", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "9f7ff46b-df20-4f1b-9b82-9183c6f6adc1"}, {"id": "0f6b72db-807f-4407-b222-ca230049dbe4",
        "type": "KQLDatabase", "displayName": "fabcli000001_auto", "description":
        "fabcli000001_auto", "workspaceId": "9f7ff46b-df20-4f1b-9b82-9183c6f6adc1"},
        {"id": "7159e97b-fa51-4394-a71d-0b4ee9ae0090", "type": "Eventhouse", "displayName":
        "fabcli000001_auto", "description": "Created by fab", "workspaceId": "9f7ff46b-df20-4f1b-9b82-9183c6f6adc1"},
        {"id": "09a703d8-d3d1-4983-b483-0431246621d3", "type": "KQLDatabase", "displayName":
        "fabcli000001_auto", "description": "fabcli000001_auto", "workspaceId": "9f7ff46b-df20-4f1b-9b82-9183c6f6adc1"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 07f37410-428d-4da8-a175-1699e443019d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9f7ff46b-df20-4f1b-9b82-9183c6f6adc1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8e6c99db-97ed-42d2-ab4b-8797694bc332
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
