interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "bd75f405-5a3e-4bd1-9a29-debc398aac7b",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 53a20050-faf8-4a6e-898a-fb381cf4b2cb
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bd75f405-5a3e-4bd1-9a29-debc398aac7b/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3f320bf2-6bd0-46a3-b3b3-eb8a34f9b79e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bd75f405-5a3e-4bd1-9a29-debc398aac7b/folders
  response:
    body:
      string: '{"id": "fc8844d4-f9f7-4cdf-b8ff-d6f6e11f58c8", "displayName": "fabcli000001",
        "workspaceId": "bd75f405-5a3e-4bd1-9a29-debc398aac7b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/bd75f405-5a3e-4bd1-9a29-debc398aac7b/folders/fc8844d4-f9f7-4cdf-b8ff-d6f6e11f58c8
      RequestId:
      - 1c880073-64bd-41b2-8234-060f850c2693
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "parentFolderId":
      "fc8844d4-f9f7-4cdf-b8ff-d6f6e11f58c8"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bd75f405-5a3e-4bd1-9a29-debc398aac7b/folders
  response:
    body:
      string: '{"id": "286d0627-0e2c-457c-9b4c-298f5a07dcc7", "displayName": "fabcli000002",
        "parentFolderId": "fc8844d4-f9f7-4cdf-b8ff-d6f6e11f58c8", "workspaceId": "bd75f405-5a3e-4bd1-9a29-debc398aac7b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/bd75f405-5a3e-4bd1-9a29-debc398aac7b/folders/286d0627-0e2c-457c-9b4c-298f5a07dcc7
      RequestId:
      - 1cf2e51c-e2a7-4be9-a1c0-49e05bc74ac6
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bd75f405-5a3e-4bd1-9a29-debc398aac7b/folders?recursive=True
  response:
    body:
      string: '{"requestId": "911a7c60-58f9-4e37-a551-ecd474ea391b", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        9/2/2025 7:31:29 PM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 911a7c60-58f9-4e37-a551-ecd474ea391b
      Retry-After:
      - '58'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bd75f405-5a3e-4bd1-9a29-debc398aac7b/folders/286d0627-0e2c-457c-9b4c-298f5a07dcc7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 539fe94f-547b-4c04-b51e-0eee15ba6d55
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bd75f405-5a3e-4bd1-9a29-debc398aac7b/folders/fc8844d4-f9f7-4cdf-b8ff-d6f6e11f58c8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 55fd30b2-7b73-438a-aa7f-8953e8b7469f
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
