interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "590fbeb9-5c85-4c39-a336-ca1a8b103e61", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b28eb5b2-eaaf-43d7-9111-652d47d81ccd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/590fbeb9-5c85-4c39-a336-ca1a8b103e61/items
  response:
    body:
      string: '{"value": [{"id": "23832f9f-f98f-4f5c-a14c-d8ad430272dd", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "590fbeb9-5c85-4c39-a336-ca1a8b103e61"}, {"id": "3a7d29af-710f-4598-a1b7-68a36a801510",
        "type": "KQLDatabase", "displayName": "fabcli000001_auto", "description":
        "fabcli000001_auto", "workspaceId": "590fbeb9-5c85-4c39-a336-ca1a8b103e61"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e8cc2a88-3254-4b6a-855a-357c396e133d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MirroredWarehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/590fbeb9-5c85-4c39-a336-ca1a8b103e61/mirroredWarehouses
  response:
    body:
      string: '{"requestId": "4e623fb0-45c0-4578-b3fc-042ce2bf8e58", "errorCode":
        "PrincipalTypeNotSupported", "message": "The operation is not supported for
        the principal type", "relatedResource": {"resourceType": "MirroredWarehouse"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4e623fb0-45c0-4578-b3fc-042ce2bf8e58
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - PrincipalTypeNotSupported
    status:
      code: 400
      message: Bad Request
version: 1
