interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "78de1d46-426a-4129-a58b-a3e909069ef9", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1350fe98-ab39-4609-a85e-a6e4f7d5534c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/78de1d46-426a-4129-a58b-a3e909069ef9/items
  response:
    body:
      string: '{"value": [{"id": "3583d0ef-c769-455b-91b4-75794d6ee573", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "78de1d46-426a-4129-a58b-a3e909069ef9"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f6d85e72-81c1-4c1c-99a0-711d5b3206c9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "GraphQLApi", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/78de1d46-426a-4129-a58b-a3e909069ef9/graphqlapis
  response:
    body:
      string: '{"id": "20821442-18ae-45c3-9c43-caad138ee3f1", "type": "GraphQLApi",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "78de1d46-426a-4129-a58b-a3e909069ef9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 5f22515b-6881-4f15-afe2-12d198bfc02b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/78de1d46-426a-4129-a58b-a3e909069ef9/items/20821442-18ae-45c3-9c43-caad138ee3f1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6ceaea03-1608-480d-97f2-891ccded06a1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
