interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7a28203e-aedf-4f91-8bc3-d5f746a91c81",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c0d7396a-10c7-4cf1-9040-16f315f78f4e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a28203e-aedf-4f91-8bc3-d5f746a91c81/items
  response:
    body:
      string: '{"value": [{"id": "c29432e2-b32a-4b5e-87e4-2bafcec99b01", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}, {"id": "456741c2-3f58-45d0-a38e-6ebaee110d1f",
        "type": "SQLEndpoint", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}, {"id": "60896bec-52ce-453e-9e12-1b9f23382589",
        "type": "SQLEndpoint", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}, {"id": "18f0bbae-eba3-4ee8-9e5e-8f60857637f3",
      [...]
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a28203e-aedf-4f91-8bc3-d5f746a91c81/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ff8cbdc6-d6f7-4a92-b046-6b0f57a48458
      RequestId:
      - 304b6b0b-55f3-4a5b-ac9e-f09d09ad30ab
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ff8cbdc6-d6f7-4a92-b046-6b0f57a48458
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ff8cbdc6-d6f7-4a92-b046-6b0f57a48458
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:34:44.2511389",
        "lastUpdatedTimeUtc": "2026-05-13T06:34:49.9705868", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ff8cbdc6-d6f7-4a92-b046-6b0f57a48458/result
      RequestId:
      - a8dfad53-2b21-47f8-80fe-8ec6a7c795f1
      x-ms-operation-id:
      - ff8cbdc6-d6f7-4a92-b046-6b0f57a48458
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ff8cbdc6-d6f7-4a92-b046-6b0f57a48458/result
  response:
    body:
      string: '{"id": "eddf99da-9155-4180-b28b-4044033cdc74", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 780a44c8-8ce4-4a6b-b206-a3f01ac79e88
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a28203e-aedf-4f91-8bc3-d5f746a91c81/items/eddf99da-9155-4180-b28b-4044033cdc74
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b17e2b13-337b-4473-903b-243d32480c72
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
