interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b7945519-3184-48e4-8d42-8b7ee977816d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - aba2ca80-ed9f-4afd-ba61-52b6f2cdf199
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/items
  response:
    body:
      string: '{"value": [{"id": "b4b48b13-c163-44f9-ba57-4c1e3c733590", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "b7945519-3184-48e4-8d42-8b7ee977816d"},
        {"id": "f73fdca7-56cb-4ab6-9476-af2a77803e78", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "b7945519-3184-48e4-8d42-8b7ee977816d"},
        {"id": "9797d176-4e05-4505-b702-92eb11623ef8", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260203075441", "description": "", "workspaceId":
        "b7945519-3184-48e4-8d42-8b7ee977816d"}, {"id": "d4b12cbc-7628-4748-9[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Dataflow", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/dataflows
  response:
    body:
      string: '{"id": "30e91199-5a3a-438a-b610-c3e51fecc81a", "type": "Dataflow",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "b7945519-3184-48e4-8d42-8b7ee977816d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - eb2b21c0-4992-47e4-81e0-67f1aa77c34e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/items/30e91199-5a3a-438a-b610-c3e51fecc81a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c86922a9-b33e-44ef-bb19-edf6e347e152
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
