interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7a28203e-aedf-4f91-8bc3-d5f746a91c81",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0f09e8e9-7929-46c9-832f-bc8a64478371
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a28203e-aedf-4f91-8bc3-d5f746a91c81/items
  response:
    body:
      string: '{"value": [{"id": "c29432e2-b32a-4b5e-87e4-2bafcec99b01", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}, {"id": "18f0bbae-eba3-4ee8-9e5e-8f60857637f3",
        "type": "DigitalTwinBuilder", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}, {"id": "170bc88d-b6f9-4a03-bdf0-8c1f1126f2b7",
        "type": "Lakehouse", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}, {"id": "33332f38-a881-4f1a-91e1-2751ae21c213",
        "type": "DigitalTwinBuilderFlow", "displayName": "fabcli000001_autoOnDemand",
        "description": "", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6a5eb16f-bc40-4b4d-91ea-b4f265e3f711
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a28203e-aedf-4f91-8bc3-d5f746a91c81/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4b548f3a-9c42-4ab2-ac44-be62ef199bc3
      RequestId:
      - fb0eaac5-6e87-4f13-9ed1-90364e0b21b2
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 4b548f3a-9c42-4ab2-ac44-be62ef199bc3
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4b548f3a-9c42-4ab2-ac44-be62ef199bc3
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:33:40.5392375",
        "lastUpdatedTimeUtc": "2026-05-13T06:33:47.0272265", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4b548f3a-9c42-4ab2-ac44-be62ef199bc3/result
      RequestId:
      - c5b7e0c5-d3c4-4943-92ab-d70df87ab68d
      x-ms-operation-id:
      - 4b548f3a-9c42-4ab2-ac44-be62ef199bc3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4b548f3a-9c42-4ab2-ac44-be62ef199bc3/result
  response:
    body:
      string: '{"id": "6320ccb9-1507-42dd-804d-1f3c100b2409", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - cdb338e4-5f22-42f6-baa9-d1024cf87bc7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a28203e-aedf-4f91-8bc3-d5f746a91c81/items/6320ccb9-1507-42dd-804d-1f3c100b2409
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f1d05e4d-c95c-4aa7-a873-bbe9a2594ccd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
