interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "3beb89b4-64e6-4db9-86b0-564bb3c4c2d1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ba6ac62a-3efb-48d4-b114-0fc17e9db58e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3beb89b4-64e6-4db9-86b0-564bb3c4c2d1/items
  response:
    body:
      string: '{"value": [{"id": "63f15867-c1cc-403a-a290-cb4df117a9e0", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "3beb89b4-64e6-4db9-86b0-564bb3c4c2d1"},
        {"id": "a9cd8f45-5261-4372-b7dd-ac86e8473449", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "3beb89b4-64e6-4db9-86b0-564bb3c4c2d1"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 13a17ed3-08e0-4dbb-a7db-92884c04a852
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3beb89b4-64e6-4db9-86b0-564bb3c4c2d1/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0eecb1af-d01b-4db0-a243-996cf7ee8033
      RequestId:
      - 6a3fcb04-8b97-422d-8187-e4b7d106e60f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 0eecb1af-d01b-4db0-a243-996cf7ee8033
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0eecb1af-d01b-4db0-a243-996cf7ee8033
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T09:00:04.1410178",
        "lastUpdatedTimeUtc": "2026-03-31T09:00:10.8180503", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0eecb1af-d01b-4db0-a243-996cf7ee8033/result
      RequestId:
      - 033a3653-9448-47e1-89e4-6295384f0a8f
      x-ms-operation-id:
      - 0eecb1af-d01b-4db0-a243-996cf7ee8033
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0eecb1af-d01b-4db0-a243-996cf7ee8033/result
  response:
    body:
      string: '{"id": "36d7778a-f35a-43db-87df-b84012cafc68", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "3beb89b4-64e6-4db9-86b0-564bb3c4c2d1"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f2f338f6-c364-45a0-b117-436db913b67c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/3beb89b4-64e6-4db9-86b0-564bb3c4c2d1/items/36d7778a-f35a-43db-87df-b84012cafc68
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6619e2e8-533a-4d72-b562-0bc9c399ef48
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
