interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "55ec4187-9e0b-40fb-89c7-31babda1bd98", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7232ccd2-96dd-46cc-b020-b56c2e1dc95e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/55ec4187-9e0b-40fb-89c7-31babda1bd98/items
  response:
    body:
      string: '{"value": [{"id": "0c9843be-660e-437b-8047-36af8b773cd2", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "55ec4187-9e0b-40fb-89c7-31babda1bd98"}, {"id": "fd80c1be-0ee7-468f-b607-f218f757a8fb",
        "type": "KQLDatabase", "displayName": "fabcli000001_auto", "description":
        "fabcli000001_auto", "workspaceId": "55ec4187-9e0b-40fb-89c7-31babda1bd98"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 05e6686c-515f-423b-a496-4e1f2efcf9b3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/55ec4187-9e0b-40fb-89c7-31babda1bd98/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/926e0ed1-4c9f-47c5-b5aa-70ad05d6ec1c
      RequestId:
      - 6dc6dc11-a852-4541-a9c2-da09f2dc3b97
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 926e0ed1-4c9f-47c5-b5aa-70ad05d6ec1c
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/926e0ed1-4c9f-47c5-b5aa-70ad05d6ec1c
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T09:39:33.7390283",
        "lastUpdatedTimeUtc": "2026-01-19T09:39:50.815633", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/926e0ed1-4c9f-47c5-b5aa-70ad05d6ec1c/result
      RequestId:
      - 116133f5-5b6c-44eb-a1a2-f33a54773955
      x-ms-operation-id:
      - 926e0ed1-4c9f-47c5-b5aa-70ad05d6ec1c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/926e0ed1-4c9f-47c5-b5aa-70ad05d6ec1c/result
  response:
    body:
      string: '{"id": "6d10dd81-c88b-4f8b-b277-48dcab492ca6", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "55ec4187-9e0b-40fb-89c7-31babda1bd98"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 804c594b-956b-45f9-8b5e-c9fcabe62060
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/55ec4187-9e0b-40fb-89c7-31babda1bd98/?recursive=false&resource=filesystem&directory=6d10dd81-c88b-4f8b-b277-48dcab492ca6%2FTables&getShortcutMetadata=true
  response:
    body:
      string: '{"paths": [], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/55ec4187-9e0b-40fb-89c7-31babda1bd98/items/6d10dd81-c88b-4f8b-b277-48dcab492ca6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e626a681-7c67-4a47-901a-c03fc819bc7e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
