interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "cbe7dae7-5fa5-4d99-abcd-5340621cacd6", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 900a91a1-1c7d-49d0-af63-cfd136e7fa1b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cbe7dae7-5fa5-4d99-abcd-5340621cacd6/items
  response:
    body:
      string: '{"value": [{"id": "ff553294-0b2f-47a9-8b7e-1de600c64299", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "cbe7dae7-5fa5-4d99-abcd-5340621cacd6"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c74b3f0f-426b-4f53-a685-66b716f7c4c6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cbe7dae7-5fa5-4d99-abcd-5340621cacd6/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7489e4d0-5a58-4b40-9012-77943b7ec555
      RequestId:
      - c46f189f-16f5-49ff-aa6d-c92f54d24509
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 7489e4d0-5a58-4b40-9012-77943b7ec555
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7489e4d0-5a58-4b40-9012-77943b7ec555
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T10:50:05.6175495",
        "lastUpdatedTimeUtc": "2026-01-19T10:50:17.8387468", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7489e4d0-5a58-4b40-9012-77943b7ec555/result
      RequestId:
      - ec919066-9bec-407b-843e-d214dac3766b
      x-ms-operation-id:
      - 7489e4d0-5a58-4b40-9012-77943b7ec555
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/7489e4d0-5a58-4b40-9012-77943b7ec555/result
  response:
    body:
      string: '{"id": "61ebb51e-ee13-492c-ad58-4859820b33da", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "cbe7dae7-5fa5-4d99-abcd-5340621cacd6"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 249b1c1d-4108-43ce-b9d1-43534fc78908
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/cbe7dae7-5fa5-4d99-abcd-5340621cacd6/items/61ebb51e-ee13-492c-ad58-4859820b33da
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - bfb1467f-9fca-4873-83d2-cc8509dfa26a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
