interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b285198e-e555-4618-9fb9-949cabcaafd4",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3c3325f0-098d-497b-9c7f-ec89ab6cc289
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b285198e-e555-4618-9fb9-949cabcaafd4/items
  response:
    body:
      string: '{"value": [{"id": "311c021d-63ba-4d80-bb3f-74e9f821f989", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "b285198e-e555-4618-9fb9-949cabcaafd4"},
        {"id": "2df38667-3858-4982-baa1-cc8ec851370b", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "b285198e-e555-4618-9fb9-949cabcaafd4"},
        {"id": "50721f66-f90f-4b82-98ea-f79569e56a5f", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260128120637", "description": "", "workspaceId":
        "b285198e-e555-4618-9fb9-949cabcaafd4"}, {"id": "1cebf3dd-89a3-405d-98e5-43ab4c957760",
        "type": "Warehouse", "displayName": "StagingWarehouseForDataflows_20260128120702",
        "description": "", "workspaceId": "b285198e-e555-4618-9fb9-949cabcaafd4"},
        {"id": "3b040332-b777-497c-8b40-272bcccf3953", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260128120637", "description": "", "workspaceId":
        "b285198e-e555-4618-9fb9-949cabcaafd4"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 204e846c-7f98-4d06-b5a7-bf3b66a96924
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SemanticModel", "folderId": null, "definition": {"parts": [{"path": ".platform",
      "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlNlbWFudGljTW9kZWwiLAogICAgImRpc3BsYXlOYW1lIjogIkJsYW5rIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
      "payloadType": "InlineBase64"}, {"path": "definition.pbism", "payload": "ewogICJ2ZXJzaW9uIjogIjQuMCIsCiAgInNldHRpbmdzIjoge30KfQ==",
      "payloadType": "InlineBase64"}, {"path": "definition/database.tmdl", "payload":
      "ZGF0YWJhc2UKCWNvbXBhdGliaWxpdHlMZXZlbDogMTU2MQoK", "payloadType": "InlineBase64"},
      {"path": "definition/model.tmdl", "payload": "bW9kZWwgTW9kZWwKCWN1bHR1cmU6IGVuLVVTCglkZWZhdWx0UG93ZXJCSURhdGFTb3VyY2VWZXJzaW9uOiBwb3dlckJJX1YzCglzb3VyY2VRdWVyeUN1bHR1cmU6IGVuLVVTCglkYXRhQWNjZXNzT3B0aW[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/53f378c9-a104-4302-beed-101d01591428
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-28T12:11:31.2834961",
        "lastUpdatedTimeUtc": "2026-01-28T12:11:42.113814", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/53f378c9-a104-4302-beed-101d01591428/result
      RequestId:
      - ee13be05-2551-44f7-ba41-e0a2939f85f9
      x-ms-operation-id:
      - 53f378c9-a104-4302-beed-101d01591428
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/53f378c9-a104-4302-beed-101d01591428/result
  response:
    body:
      string: '{"id": "6748a56c-2232-46ae-86ca-4013e0134c3f", "type": "SemanticModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "b285198e-e555-4618-9fb9-949cabcaafd4"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 3f3f27a1-c6f5-406e-911e-aac5499dc04a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b285198e-e555-4618-9fb9-949cabcaafd4/items/6748a56c-2232-46ae-86ca-4013e0134c3f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e6c52683-1a02-43d2-986e-c34030e8187a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
