interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b7945519-3184-48e4-8d42-8b7ee977816d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bac2935f-ab86-4349-ac1b-c38b217b71f7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/items
  response:
    body:
      string: '{"value": [{"id": "b4b48b13-c163-44f9-ba57-4c1e3c733590", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "b7945519-3184-48e4-8d42-8b7ee977816d"},
        {"id": "f73fdca7-56cb-4ab6-9476-af2a77803e78", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "b7945519-3184-48e4-8d42-8b7ee977816d"},
        {"id": "9797d176-4e05-4505-b702-92eb11623ef8", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260203075441", "description": "", "workspaceId":
        "b7945519-3184-48e4-8d42-8b7ee977816d"}, {"id": "d4b12cbc-7628-4748-9[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SparkJobDefinition", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/sparkJobDefinitions
  response:
    body:
      string: '{"id": "5c8af605-d260-461a-9772-5150dd657ad2", "type": "SparkJobDefinition",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "b7945519-3184-48e4-8d42-8b7ee977816d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d9b743ec-1487-4a6e-9e2b-ba8719d9f559
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/items/5c8af605-d260-461a-9772-5150dd657ad2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 211f3477-abae-4152-b5b3-8a8afd6818d5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
