interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7a28203e-aedf-4f91-8bc3-d5f746a91c81",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c4334a7e-a11a-44cf-8dbb-abdcdc593af4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a28203e-aedf-4f91-8bc3-d5f746a91c81/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4c526aea-0f1c-48c0-904e-927535af2fc8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a28203e-aedf-4f91-8bc3-d5f746a91c81/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/25755285-12bc-43de-854c-0e57dce3e4df
      RequestId:
      - b28062f0-2c4c-44d4-93d0-196b1b125cdc
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 25755285-12bc-43de-854c-0e57dce3e4df
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/25755285-12bc-43de-854c-0e57dce3e4df
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:33:06.3545902",
        "lastUpdatedTimeUtc": "2026-05-13T06:33:15.3332203", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/25755285-12bc-43de-854c-0e57dce3e4df/result
      RequestId:
      - f76525ae-c20a-4073-bf33-5eb4e7dc8997
      x-ms-operation-id:
      - 25755285-12bc-43de-854c-0e57dce3e4df
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/25755285-12bc-43de-854c-0e57dce3e4df/result
  response:
    body:
      string: '{"id": "18f0bbae-eba3-4ee8-9e5e-8f60857637f3", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 921d58ca-8378-4774-94fe-a476c74843d8
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "18f0bbae-eba3-4ee8-9e5e-8f60857637f3", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a28203e-aedf-4f91-8bc3-d5f746a91c81/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "5af0bafe-9d61-4286-91ea-73003f54900e", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 41ed0b79-127c-4b29-b5ba-efaf1de21ebc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a28203e-aedf-4f91-8bc3-d5f746a91c81/items/5af0bafe-9d61-4286-91ea-73003f54900e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - dc3a2da4-c86f-4efa-afbe-10158f85ba4c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
