interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "590fbeb9-5c85-4c39-a336-ca1a8b103e61", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e7507709-a94f-4af9-a4a5-d893f3c04770
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/590fbeb9-5c85-4c39-a336-ca1a8b103e61/items
  response:
    body:
      string: '{"value": [{"id": "23832f9f-f98f-4f5c-a14c-d8ad430272dd", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "590fbeb9-5c85-4c39-a336-ca1a8b103e61"}, {"id": "3a7d29af-710f-4598-a1b7-68a36a801510",
        "type": "KQLDatabase", "displayName": "fabcli000001_auto", "description":
        "fabcli000001_auto", "workspaceId": "590fbeb9-5c85-4c39-a336-ca1a8b103e61"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8bed3b83-e23a-40f1-87a3-162ac300804f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/590fbeb9-5c85-4c39-a336-ca1a8b103e61/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/741ce447-579a-4074-9394-1408b78bb5a7
      RequestId:
      - b282aff8-6627-4284-b214-984b7ae79571
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 741ce447-579a-4074-9394-1408b78bb5a7
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/741ce447-579a-4074-9394-1408b78bb5a7
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T10:55:25.4464985",
        "lastUpdatedTimeUtc": "2026-01-19T10:55:42.8882939", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/741ce447-579a-4074-9394-1408b78bb5a7/result
      RequestId:
      - aacbd319-5f1d-4737-9ebf-fdc1ed8cd126
      x-ms-operation-id:
      - 741ce447-579a-4074-9394-1408b78bb5a7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/741ce447-579a-4074-9394-1408b78bb5a7/result
  response:
    body:
      string: '{"id": "5e6ebe3b-353e-4b19-9333-93bcde7db101", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "590fbeb9-5c85-4c39-a336-ca1a8b103e61"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d480dad9-31ff-4ee9-af84-3e48780365ea
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/590fbeb9-5c85-4c39-a336-ca1a8b103e61/5e6ebe3b-353e-4b19-9333-93bcde7db101/Tables/non_existent_file.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/590fbeb9-5c85-4c39-a336-ca1a8b103e61/?recursive=false&resource=filesystem&directory=5e6ebe3b-353e-4b19-9333-93bcde7db101%2FTables%2Fnon_existent_file.txt&getShortcutMetadata=true
  response:
    body:
      string: '{"error": {"code": "PathNotFound", "message": "The specified path does
        not exist.\nRequestId:8b705a05-101f-0076-7332-89b36a000000\nTime:2026-01-19T10:55:57.3983079Z"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-error-code:
      - PathNotFound
    status:
      code: 404
      message: The specified path does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/590fbeb9-5c85-4c39-a336-ca1a8b103e61/items/5e6ebe3b-353e-4b19-9333-93bcde7db101
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4186a382-c9c2-4516-b970-3f7512e5e94e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
