interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b285198e-e555-4618-9fb9-949cabcaafd4",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 646723d4-b983-4a05-905f-bbc10637e6aa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b285198e-e555-4618-9fb9-949cabcaafd4/items
  response:
    body:
      string: '{"value": [{"id": "311c021d-63ba-4d80-bb3f-74e9f821f989", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "b285198e-e555-4618-9fb9-949cabcaafd4"},
        {"id": "2df38667-3858-4982-baa1-cc8ec851370b", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "b285198e-e555-4618-9fb9-949cabcaafd4"},
        {"id": "50721f66-f90f-4b82-98ea-f79569e56a5f", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260128120637", "description": "", "workspaceId":
        "b285198e-e555-4618-9fb9-949cabcaafd4"}, {"id": "1cebf3dd-89a3-405d-98e5-43ab4c957760",
        "type": "Warehouse", "displayName": "StagingWarehouseForDataflows_20260128120702",
        "description": "", "workspaceId": "b285198e-e555-4618-9fb9-949cabcaafd4"},
        {"id": "3b040332-b777-497c-8b40-272bcccf3953", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260128120637", "description": "", "workspaceId":
        "b285198e-e555-4618-9fb9-949cabcaafd4"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 62bdc886-8d6f-49c3-9017-4d9258680a43
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "GraphQLApi", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b285198e-e555-4618-9fb9-949cabcaafd4/graphqlapis
  response:
    body:
      string: '{"id": "d31fa244-e8c2-455e-ab50-f4261bec83a3", "type": "GraphQLApi",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "b285198e-e555-4618-9fb9-949cabcaafd4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9def16eb-d167-4512-a2a6-f22a1d2d7300
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b285198e-e555-4618-9fb9-949cabcaafd4/items/d31fa244-e8c2-455e-ab50-f4261bec83a3
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 25d892d3-95c7-40aa-a9d7-150b20b1045d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
