interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "327a36cc-0974-4c51-86d5-3fd826299512",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 253b61d7-ee6e-40cd-9957-e45eef610ed8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/327a36cc-0974-4c51-86d5-3fd826299512/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d30df5ca-1fb3-420e-a947-1e7dfbe55122
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/327a36cc-0974-4c51-86d5-3fd826299512/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a4986414-6c6d-497d-b134-6cfac26cf0fc
      RequestId:
      - 47f5c899-9bed-4f67-8735-d2710dd3cf98
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - a4986414-6c6d-497d-b134-6cfac26cf0fc
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a4986414-6c6d-497d-b134-6cfac26cf0fc
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-03T08:38:35.3939873",
        "lastUpdatedTimeUtc": "2026-09-03T08:38:35.3939873", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a4986414-6c6d-497d-b134-6cfac26cf0fc
      RequestId:
      - 99ea8af0-c5fd-4e08-8a8d-ac043c918abb
      Retry-After:
      - '20'
      x-ms-operation-id:
      - a4986414-6c6d-497d-b134-6cfac26cf0fc
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a4986414-6c6d-497d-b134-6cfac26cf0fc/result
  response:
    body:
      string: '{"id": "1f2147ed-1a3f-4ac0-b2c4-891fe557988e", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "327a36cc-0974-4c51-86d5-3fd826299512"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d780f86a-35e9-496c-bc99-99a761bd5f72
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/327a36cc-0974-4c51-86d5-3fd826299512/items/1f2147ed-1a3f-4ac0-b2c4-891fe557988e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e9a09492-2b87-4e52-9a65-12beb6cd0a69
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
