interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b7945519-3184-48e4-8d42-8b7ee977816d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e3286622-c0f4-4c02-b0ed-25a4c9c4b29e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/items
  response:
    body:
      string: '{"value": [{"id": "b4b48b13-c163-44f9-ba57-4c1e3c733590", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "b7945519-3184-48e4-8d42-8b7ee977816d"},
        {"id": "f73fdca7-56cb-4ab6-9476-af2a77803e78", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "b7945519-3184-48e4-8d42-8b7ee977816d"},
        {"id": "9797d176-4e05-4505-b702-92eb11623ef8", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260203075441", "description": "", "workspaceId":
        "b7945519-3184-48e4-8d42-8b7ee977816d"}, {"id": "d4b12cbc-7628-4748-9[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c990f4ee-e1c1-4f0f-9ac6-e30a9d6626a5
      RequestId:
      - 88c5b5e9-2dab-4d0e-aa4c-0c9e98bc89bd
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - c990f4ee-e1c1-4f0f-9ac6-e30a9d6626a5
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c990f4ee-e1c1-4f0f-9ac6-e30a9d6626a5
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T08:03:44.8374324",
        "lastUpdatedTimeUtc": "2026-02-03T08:03:52.1503807", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c990f4ee-e1c1-4f0f-9ac6-e30a9d6626a5/result
      RequestId:
      - a3daad84-b51f-4e4f-ba96-3dfbcc1b9ae2
      x-ms-operation-id:
      - c990f4ee-e1c1-4f0f-9ac6-e30a9d6626a5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c990f4ee-e1c1-4f0f-9ac6-e30a9d6626a5/result
  response:
    body:
      string: '{"id": "4483bcf0-d868-4a72-80ba-3c42995d2ca7", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "b7945519-3184-48e4-8d42-8b7ee977816d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f8eb4fcb-c5c9-4c9d-b138-aa35979b7694
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/items/4483bcf0-d868-4a72-80ba-3c42995d2ca7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0bf662da-aeaf-456a-a5a5-3958ed7c1e60
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
