interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "55ec4187-9e0b-40fb-89c7-31babda1bd98", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3e9b8d53-d297-438f-bf7f-5822351e3d74
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/55ec4187-9e0b-40fb-89c7-31babda1bd98/items
  response:
    body:
      string: '{"value": [{"id": "0c9843be-660e-437b-8047-36af8b773cd2", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "55ec4187-9e0b-40fb-89c7-31babda1bd98"}, {"id": "fd80c1be-0ee7-468f-b607-f218f757a8fb",
        "type": "KQLDatabase", "displayName": "fabcli000001_auto", "description":
        "fabcli000001_auto", "workspaceId": "55ec4187-9e0b-40fb-89c7-31babda1bd98"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1faaf693-219b-4460-9fd2-965ed0e66956
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MirroredDatabase", "folderId": null, "definition": {"parts": [{"path": "mirroring.json",
      "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgInNvdXJjZSI6IHsKICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsCiAgICAgICAgICAgICJ0eXBlUHJvcGVydGllcyI6IHt9CiAgICAgICAgfSwKICAgICAgICAidGFyZ2V0IjogewogICAgICAgICAgICAidHlwZSI6ICJNb3VudGVkUmVsYXRpb25hbERhdGFiYXNlIiwKICAgICAgICAgICAgInR5cGVQcm9wZXJ0aWVzIjogewogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSIKICAgICAgICAgICAgfQogICAgICAgIH0KICAgIH0KfQ==",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/55ec4187-9e0b-40fb-89c7-31babda1bd98/mirroredDatabases
  response:
    body:
      string: '{"id": "b22d0fa1-ed0b-4717-9ca7-3061fc1ae4f0", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "55ec4187-9e0b-40fb-89c7-31babda1bd98"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 615d6e5a-e2bb-4478-9801-02c49c4f6064
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/55ec4187-9e0b-40fb-89c7-31babda1bd98/?recursive=false&resource=filesystem&directory=b22d0fa1-ed0b-4717-9ca7-3061fc1ae4f0%2FFiles&getShortcutMetadata=true
  response:
    body:
      string: '{"paths": [], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/55ec4187-9e0b-40fb-89c7-31babda1bd98/items/b22d0fa1-ed0b-4717-9ca7-3061fc1ae4f0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 87bf2c88-4a42-4188-b8bc-eb3a96838556
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
