interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "78de1d46-426a-4129-a58b-a3e909069ef9", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - be5fa2cd-6010-40a9-ada5-737a4ed1c16c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/78de1d46-426a-4129-a58b-a3e909069ef9/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1656693c-1c6f-4043-b719-d0a9f5f5c48d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MLModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/78de1d46-426a-4129-a58b-a3e909069ef9/mlModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ae5746e4-979c-4b61-9964-7c285be794a1
      RequestId:
      - fd78d582-6180-4ff4-a692-0cb4844f72a1
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ae5746e4-979c-4b61-9964-7c285be794a1
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ae5746e4-979c-4b61-9964-7c285be794a1
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T08:08:49.7683269",
        "lastUpdatedTimeUtc": "2026-01-19T08:08:50.299535", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ae5746e4-979c-4b61-9964-7c285be794a1/result
      RequestId:
      - ce735e1c-2a50-41ad-9236-ee5faa137214
      x-ms-operation-id:
      - ae5746e4-979c-4b61-9964-7c285be794a1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ae5746e4-979c-4b61-9964-7c285be794a1/result
  response:
    body:
      string: '{"id": "10f82be2-9a1b-48d8-81c9-7f49ce841b3a", "type": "MLModel", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "78de1d46-426a-4129-a58b-a3e909069ef9"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d232340e-4dd5-46d3-82fc-d2608d6aaafa
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/78de1d46-426a-4129-a58b-a3e909069ef9/items/10f82be2-9a1b-48d8-81c9-7f49ce841b3a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f160019c-2baf-4f90-9e80-17a3a16e88f5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
