interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "327a36cc-0974-4c51-86d5-3fd826299512",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 04692166-a095-40b1-ae5e-0537eac5a96d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/327a36cc-0974-4c51-86d5-3fd826299512/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d0faf0e0-669a-45af-8f81-b87c148242d4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/327a36cc-0974-4c51-86d5-3fd826299512/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/021447bd-3eee-42e6-9f25-63f76dd86182
      RequestId:
      - 8873071c-181b-4337-932b-101e5cfad2d5
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 021447bd-3eee-42e6-9f25-63f76dd86182
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/021447bd-3eee-42e6-9f25-63f76dd86182
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-03T08:40:37.7600323",
        "lastUpdatedTimeUtc": "2026-09-03T08:40:37.7600323", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/021447bd-3eee-42e6-9f25-63f76dd86182
      RequestId:
      - 8acda0a7-22f7-4cf5-87f5-485c3da18b99
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 021447bd-3eee-42e6-9f25-63f76dd86182
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/021447bd-3eee-42e6-9f25-63f76dd86182/result
  response:
    body:
      string: '{"id": "9972cafc-dd96-48fa-ae90-0db876080a0b", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "327a36cc-0974-4c51-86d5-3fd826299512"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 96d096d9-515d-4fcd-8e5c-5f3ad123fa7e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/327a36cc-0974-4c51-86d5-3fd826299512/items/9972cafc-dd96-48fa-ae90-0db876080a0b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 386d41e8-e1f0-4faa-8b9a-88f498b06ee2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
