interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b285198e-e555-4618-9fb9-949cabcaafd4",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 32cecf0d-0c06-44a9-aa51-c975172121da
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b285198e-e555-4618-9fb9-949cabcaafd4/items
  response:
    body:
      string: '{"value": [{"id": "311c021d-63ba-4d80-bb3f-74e9f821f989", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "b285198e-e555-4618-9fb9-949cabcaafd4"},
        {"id": "50721f66-f90f-4b82-98ea-f79569e56a5f", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260128120637", "description": "", "workspaceId":
        "b285198e-e555-4618-9fb9-949cabcaafd4"}, {"id": "1cebf3dd-89a3-405d-98e5-43ab4c957760",
        "type": "Warehouse", "displayName": "StagingWarehouseForDataflows_20260128120702",
        "description": "", "workspaceId": "b285198e-e555-4618-9fb9-949cabcaafd4"},
        {"id": "3b040332-b777-497c-8b40-272bcccf3953", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260128120637", "description": "", "workspaceId":
        "b285198e-e555-4618-9fb9-949cabcaafd4"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9420f777-9b71-46f3-b61c-68a207396387
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLQueryset", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b285198e-e555-4618-9fb9-949cabcaafd4/kqlQuerysets
  response:
    body:
      string: '{"id": "e4d8cbed-c11f-49c6-bc19-fa618be1b012", "type": "KQLQueryset",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "b285198e-e555-4618-9fb9-949cabcaafd4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4182fc45-51e4-40d5-8c53-a0f631175274
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b285198e-e555-4618-9fb9-949cabcaafd4/items/e4d8cbed-c11f-49c6-bc19-fa618be1b012
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d300ff11-f53c-4693-aa20-3982aef910a5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
