interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "327a36cc-0974-4c51-86d5-3fd826299512",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d8371b2e-031b-4416-bfa7-1a86230d9b12
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/327a36cc-0974-4c51-86d5-3fd826299512/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2fcac56f-7417-4fa6-ac88-6b0eb9bd4b5b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/327a36cc-0974-4c51-86d5-3fd826299512/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/28f08a94-332e-436e-8279-71c00af31d24
      RequestId:
      - 90377c4b-1147-41b8-963d-076e79956b11
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 28f08a94-332e-436e-8279-71c00af31d24
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/28f08a94-332e-436e-8279-71c00af31d24
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-09-03T08:40:12.0439125",
        "lastUpdatedTimeUtc": "2026-09-03T08:40:23.7278619", "percentComplete": 100,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/28f08a94-332e-436e-8279-71c00af31d24/result
      RequestId:
      - c5661177-c2be-49a3-b868-b9965d21588d
      x-ms-operation-id:
      - 28f08a94-332e-436e-8279-71c00af31d24
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/28f08a94-332e-436e-8279-71c00af31d24/result
  response:
    body:
      string: '{"id": "791a3def-c3e8-487b-9069-464ae5170e95", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "327a36cc-0974-4c51-86d5-3fd826299512"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 898abd30-8bdb-4d64-a3b9-8a39ddbf1db9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/327a36cc-0974-4c51-86d5-3fd826299512/items/791a3def-c3e8-487b-9069-464ae5170e95
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 77324b68-6100-4961-bfa3-f85d30a8ec1a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
