interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "55ec4187-9e0b-40fb-89c7-31babda1bd98", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 49237ea4-0971-4df2-9843-087d8c9ecfa5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/55ec4187-9e0b-40fb-89c7-31babda1bd98/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1684665b-e7fd-4007-a35c-f8bd7105da2a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/55ec4187-9e0b-40fb-89c7-31babda1bd98/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/88269a42-2937-4134-9925-6c7704b715c9
      RequestId:
      - 53b393d7-3249-4858-b607-08ba4edfc4f4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 88269a42-2937-4134-9925-6c7704b715c9
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/88269a42-2937-4134-9925-6c7704b715c9
  response:
    body:
      string: '{"status": "Failed", "createdTimeUtc": "2026-01-19T09:37:01.8393823",
        "lastUpdatedTimeUtc": "2026-01-19T09:37:02.4956589", "percentComplete": null,
        "error": {"errorCode": "DmsPbiServiceUserException", "message": "{\"error\":{\"code\":\"DatamartNotFound\",\"pbi.error\":{\"code\":\"DatamartNotFound\",\"parameters\":{\"ErrorMessage\":\"Datamart
        was not found\"},\"details\":[],\"exceptionCulprit\":1}}}"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3fe38ff6-088f-4a68-9056-1b1dbde870b6
    status:
      code: 200
      message: OK
version: 1
