interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "3beb89b4-64e6-4db9-86b0-564bb3c4c2d1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d3472cb5-cc1a-486f-94d7-7b1589fde102
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3beb89b4-64e6-4db9-86b0-564bb3c4c2d1/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 46f8315e-7814-40ca-ade6-760a0576ec68
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3beb89b4-64e6-4db9-86b0-564bb3c4c2d1/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ae1ddbff-a9e2-46aa-bd95-ec31cbfec840
      RequestId:
      - 82edeae6-bb27-45dd-873f-376323d2bd66
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ae1ddbff-a9e2-46aa-bd95-ec31cbfec840
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ae1ddbff-a9e2-46aa-bd95-ec31cbfec840
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T08:59:30.7023337",
        "lastUpdatedTimeUtc": "2026-03-31T08:59:39.3869879", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ae1ddbff-a9e2-46aa-bd95-ec31cbfec840/result
      RequestId:
      - c8f9cce8-d087-48f3-bf20-a7cac026caf2
      x-ms-operation-id:
      - ae1ddbff-a9e2-46aa-bd95-ec31cbfec840
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ae1ddbff-a9e2-46aa-bd95-ec31cbfec840/result
  response:
    body:
      string: '{"id": "f342548c-8592-4085-9bc8-51260b80a572", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "3beb89b4-64e6-4db9-86b0-564bb3c4c2d1"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 80bfa24f-7ba2-4d23-97eb-99965fa2e9da
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/3beb89b4-64e6-4db9-86b0-564bb3c4c2d1/items/f342548c-8592-4085-9bc8-51260b80a572
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 947c802a-210c-445d-aeed-02473642b056
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
