interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "55ec4187-9e0b-40fb-89c7-31babda1bd98", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d4d263ec-ed79-4eb2-baff-79ff5209a046
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/55ec4187-9e0b-40fb-89c7-31babda1bd98/items
  response:
    body:
      string: '{"value": [{"id": "0c9843be-660e-437b-8047-36af8b773cd2", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "55ec4187-9e0b-40fb-89c7-31babda1bd98"}, {"id": "fd80c1be-0ee7-468f-b607-f218f757a8fb",
        "type": "KQLDatabase", "displayName": "fabcli000001_auto", "description":
        "fabcli000001_auto", "workspaceId": "55ec4187-9e0b-40fb-89c7-31babda1bd98"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 45cbb35d-ee0d-41a5-9941-7f6c79c7971a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/55ec4187-9e0b-40fb-89c7-31babda1bd98/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/37fbba9f-a8ff-49d7-b623-f3fa437a68c1
      RequestId:
      - b4dd9a71-de14-47ff-8b69-d0152a2792ae
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 37fbba9f-a8ff-49d7-b623-f3fa437a68c1
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/37fbba9f-a8ff-49d7-b623-f3fa437a68c1
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T09:40:05.7655508",
        "lastUpdatedTimeUtc": "2026-01-19T09:40:19.690646", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/37fbba9f-a8ff-49d7-b623-f3fa437a68c1/result
      RequestId:
      - c16cfe61-b1f6-4490-bb4d-027a54d4656c
      x-ms-operation-id:
      - 37fbba9f-a8ff-49d7-b623-f3fa437a68c1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/37fbba9f-a8ff-49d7-b623-f3fa437a68c1/result
  response:
    body:
      string: '{"id": "24bd7b74-e7be-42c1-9e5b-96a5af503326", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "55ec4187-9e0b-40fb-89c7-31babda1bd98"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 01cf011d-ce25-407e-84ee-5b61590a8a1e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/55ec4187-9e0b-40fb-89c7-31babda1bd98/?recursive=false&resource=filesystem&directory=24bd7b74-e7be-42c1-9e5b-96a5af503326%2FFiles&getShortcutMetadata=true
  response:
    body:
      string: '{"paths": [{"name": "24bd7b74-e7be-42c1-9e5b-96a5af503326/Files/LandingZone",
        "isDirectory": "true", "creationTime": "134132892295458924", "lastModified":
        "Mon, 19 Jan 2026 09:40:29 GMT", "etag": "0x8DE573EC86E71FC", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}, {"name": "24bd7b74-e7be-42c1-9e5b-96a5af503326/Files/Monitoring",
        "isDirectory": "true", "creationTime": "134132892209744828", "lastModified":
        "Mon, 19 Jan 2026 09:40:20 GMT", "etag": "0x8DE573EC3528D28", "contentLength":
        "0", "owner": "bdb39224-bd86-4d14-bc6e-18637e6902b0", "group": "bdb39224-bd86-4d14-bc6e-18637e6902b0",
        "permissions": "rwxr-x---", "expiryTime": "0"}], "ContinuationToken": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/55ec4187-9e0b-40fb-89c7-31babda1bd98/items/24bd7b74-e7be-42c1-9e5b-96a5af503326
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1d5e26a0-fec3-4a6b-93e6-fbb261d53d42
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
