interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b7945519-3184-48e4-8d42-8b7ee977816d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f9aedf2b-cb37-4718-a407-8307a429cea0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/items
  response:
    body:
      string: '{"value": [{"id": "b4b48b13-c163-44f9-ba57-4c1e3c733590", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "b7945519-3184-48e4-8d42-8b7ee977816d"},
        {"id": "9797d176-4e05-4505-b702-92eb11623ef8", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260203075441", "description": "", "workspaceId":
        "b7945519-3184-48e4-8d42-8b7ee977816d"}, {"id": "d4b12cbc-7628-4748-9a01-e175de6f7f55",
        "type": "Warehouse", "displayName": "StagingWarehouseForDataflows_20260203075454",
        "description": "", "workspaceId": "b7945519-3184-48e4-8d42-8b7ee977816d"},
        {"id": "39c996ce-6e23-4bb5-b6af-1b7db4e86822", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "b7945519-3184-48e4-8d42-8b7ee977816d"},
        {"id": "a56d2f37-110e-403e-8d54-74104ad96f65", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260203075441", "description": "", "workspaceId":
        "b7945519-3184-48e4-8d42-8b7ee977816d"}, {"id": "48e61c44-b669-4e71-82f1-76be4fe2cdbd",
        "type": "Lakehouse", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "b7945519-3184-48e4-8d42-8b7ee977816d"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 803eb1bf-9915-49f8-b71e-8b9a93d6d9fe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDashboard", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/kqlDashboards
  response:
    body:
      string: '{"id": "d36545ac-a97b-4f41-a35f-7e8faca71c48", "type": "KQLDashboard",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "b7945519-3184-48e4-8d42-8b7ee977816d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 2ba8f0e0-3491-4b42-979e-0a92505be1f1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/items/d36545ac-a97b-4f41-a35f-7e8faca71c48
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f17e3074-225d-457e-bfe7-75259476f36f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
