interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "cbe7dae7-5fa5-4d99-abcd-5340621cacd6", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2f7c903c-d567-4e34-8256-c4e702636418
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cbe7dae7-5fa5-4d99-abcd-5340621cacd6/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 77cc2fc3-c63d-434e-84d0-b041fc38f778
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MLExperiment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cbe7dae7-5fa5-4d99-abcd-5340621cacd6/mlExperiments
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/76f3705c-3a7c-4cc0-8512-27369f5abf70
      RequestId:
      - ceedbda2-b8b0-41bc-a00e-3e420b786362
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 76f3705c-3a7c-4cc0-8512-27369f5abf70
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/76f3705c-3a7c-4cc0-8512-27369f5abf70
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T10:46:01.0276728",
        "lastUpdatedTimeUtc": "2026-01-19T10:46:02.0126341", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/76f3705c-3a7c-4cc0-8512-27369f5abf70/result
      RequestId:
      - 97264bc9-67cf-4945-bd05-537384a06377
      x-ms-operation-id:
      - 76f3705c-3a7c-4cc0-8512-27369f5abf70
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/76f3705c-3a7c-4cc0-8512-27369f5abf70/result
  response:
    body:
      string: '{"id": "a0e79ff3-dfb1-4f0e-85c8-d76a00dd5ab8", "type": "MLExperiment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "cbe7dae7-5fa5-4d99-abcd-5340621cacd6"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b5c5c06c-28bc-4ce1-8158-d1b48b7a46e8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/cbe7dae7-5fa5-4d99-abcd-5340621cacd6/items/a0e79ff3-dfb1-4f0e-85c8-d76a00dd5ab8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 8971e607-8126-4f8f-ab1b-de3f54e8b8d2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
