interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "7a28203e-aedf-4f91-8bc3-d5f746a91c81",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1a01d4ad-51b0-4409-8b7a-87adbe702658
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a28203e-aedf-4f91-8bc3-d5f746a91c81/items
  response:
    body:
      string: '{"value": [{"id": "c29432e2-b32a-4b5e-87e4-2bafcec99b01", "type": "SQLEndpoint",
        "displayName": "fabcli000001_autodtdm", "description": "", "workspaceId":
        "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}, {"id": "456741c2-3f58-45d0-a38e-6ebaee110d1f",
        "type": "SQLEndpoint", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}, {"id": "18f0bbae-eba3-4ee8-9e5e-8f60857637f3",
        "type": "DigitalTwinBuilder", "displayName": "fabcli000001_auto", "description":
        "", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}, {"id": "170bc88d-b6f9-4a03-bdf0-8c1f1126f2b7",
        "type": "Lakehouse", "displayName": "fabcli000001_autodtdm", "description":
        "", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}, {"id": "33332f38-a881-4f1a-91e1-2751ae21c213",
        "type": "DigitalTwinBuilderFlow", "displayName": "fabcli000001_autoOnDemand",
        "description": "", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"},
        {"id": "a78e3eaf-006d-4ee1-8934-7bc4add2b56c", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 49d8513d-d6fc-46fe-9f6a-2d69f7a2df2b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a28203e-aedf-4f91-8bc3-d5f746a91c81/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4bedc389-099e-4e20-91dd-64f56d065075
      RequestId:
      - 1b1a0dee-b04a-44e0-8e26-95dd12df3e1d
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 4bedc389-099e-4e20-91dd-64f56d065075
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4bedc389-099e-4e20-91dd-64f56d065075
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:34:10.9856738",
        "lastUpdatedTimeUtc": "2026-05-13T06:34:16.4149082", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4bedc389-099e-4e20-91dd-64f56d065075/result
      RequestId:
      - f0443854-b9a4-4c69-9994-51f9b038ea80
      x-ms-operation-id:
      - 4bedc389-099e-4e20-91dd-64f56d065075
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/4bedc389-099e-4e20-91dd-64f56d065075/result
  response:
    body:
      string: '{"id": "18efd646-ab1f-4330-bd24-63051671b3b5", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 9f9326f1-0286-4215-93d3-77f5a42148f3
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "18efd646-ab1f-4330-bd24-63051671b3b5", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a28203e-aedf-4f91-8bc3-d5f746a91c81/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "6b298c26-8dd5-462f-a406-63f79e1d6dbf", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "7a28203e-aedf-4f91-8bc3-d5f746a91c81"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b554aaba-9bb7-48dd-862a-9a26b0ca8db7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/7a28203e-aedf-4f91-8bc3-d5f746a91c81/items/6b298c26-8dd5-462f-a406-63f79e1d6dbf
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 39577abf-2c9c-45cc-a888-347f2ddeee11
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
