interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "78de1d46-426a-4129-a58b-a3e909069ef9", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 64da827a-c4d0-49b7-9890-1cf45f5d94d4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/78de1d46-426a-4129-a58b-a3e909069ef9/items
  response:
    body:
      string: '{"value": [{"id": "3583d0ef-c769-455b-91b4-75794d6ee573", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "78de1d46-426a-4129-a58b-a3e909069ef9"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 040b53dd-08d6-462f-b22f-8c55c1a7ee7f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/78de1d46-426a-4129-a58b-a3e909069ef9/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5f4291a3-c8da-4881-8a6b-c65d8e4a4235
      RequestId:
      - b6f51f8f-b1b6-4b4a-84e1-1b68b71f6e80
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5f4291a3-c8da-4881-8a6b-c65d8e4a4235
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5f4291a3-c8da-4881-8a6b-c65d8e4a4235
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T08:12:16.7573469",
        "lastUpdatedTimeUtc": "2026-01-19T08:12:29.0864749", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5f4291a3-c8da-4881-8a6b-c65d8e4a4235/result
      RequestId:
      - 51e4acbc-f8ee-4c91-add9-c94fd69a931c
      x-ms-operation-id:
      - 5f4291a3-c8da-4881-8a6b-c65d8e4a4235
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5f4291a3-c8da-4881-8a6b-c65d8e4a4235/result
  response:
    body:
      string: '{"id": "31cd9a8e-a468-41c2-9e1a-1e264d5f4cea", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "78de1d46-426a-4129-a58b-a3e909069ef9"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - dc3896f7-13e5-43f8-a776-6b845861d21b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/78de1d46-426a-4129-a58b-a3e909069ef9/items/31cd9a8e-a468-41c2-9e1a-1e264d5f4cea
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d1efeb35-7297-4f9c-9076-ddbf0a372031
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
