interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b285198e-e555-4618-9fb9-949cabcaafd4",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6cb8ea2e-a2a6-47c8-b8c1-9f5899e6e28b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b285198e-e555-4618-9fb9-949cabcaafd4/items
  response:
    body:
      string: '{"value": [{"id": "311c021d-63ba-4d80-bb3f-74e9f821f989", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "b285198e-e555-4618-9fb9-949cabcaafd4"},
        {"id": "2df38667-3858-4982-baa1-cc8ec851370b", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "b285198e-e555-4618-9fb9-949cabcaafd4"},
        {"id": "50721f66-f90f-4b82-98ea-f79569e56a5f", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260128120637", "description": "", "workspaceId":
        "b285198e-e555-4618-9fb9-949cabcaafd4"}, {"id": "1cebf3dd-89a3-405d-9[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b285198e-e555-4618-9fb9-949cabcaafd4/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b66531cd-6672-4b73-ab31-2a47202c5525
      RequestId:
      - 92a8efe2-e4f5-4723-83bd-65ddc46e7c55
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - b66531cd-6672-4b73-ab31-2a47202c5525
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b66531cd-6672-4b73-ab31-2a47202c5525
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-28T12:17:17.9542679",
        "lastUpdatedTimeUtc": "2026-01-28T12:17:31.2843254", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b66531cd-6672-4b73-ab31-2a47202c5525/result
      RequestId:
      - 0e454e74-267b-4cdd-81b4-1329d273fc1a
      x-ms-operation-id:
      - b66531cd-6672-4b73-ab31-2a47202c5525
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/b66531cd-6672-4b73-ab31-2a47202c5525/result
  response:
    body:
      string: '{"id": "2f558699-ced8-4fed-a2d4-9a40e1724201", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "b285198e-e555-4618-9fb9-949cabcaafd4"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - b07a759b-a27f-430a-b0ea-a955a919731d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/b285198e-e555-4618-9fb9-949cabcaafd4/2f558699-ced8-4fed-a2d4-9a40e1724201/Files/non_existent_file.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/b285198e-e555-4618-9fb9-949cabcaafd4/?recursive=false&resource=filesystem&directory=2f558699-ced8-4fed-a2d4-9a40e1724201%2FFiles%2Fnon_existent_file.txt&getShortcutMetadata=true
  response:
    body:
      string: '{"error": {"code": "PathNotFound", "message": "The specified path does
        not exist.\nRequestId:9b15ec62-f01f-0030-3c50-9070d5000000\nTime:2026-01-28T12:17:49.3234239Z"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-error-code:
      - PathNotFound
    status:
      code: 404
      message: The specified path does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b285198e-e555-4618-9fb9-949cabcaafd4/items/2f558699-ced8-4fed-a2d4-9a40e1724201
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c873fb22-f222-4ac2-82cd-02b4738b467a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
