interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "327a36cc-0974-4c51-86d5-3fd826299512",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e6a5f2a6-9d43-4cb0-8142-41208e83818e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/327a36cc-0974-4c51-86d5-3fd826299512/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b5553702-7aff-4664-a37f-e03c7f7178dd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Ontology", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/327a36cc-0974-4c51-86d5-3fd826299512/ontologies
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a1759f72-2953-4670-b7b6-8aede2f4978e
      RequestId:
      - 2a4d2e30-b573-42c2-be85-5af1cb7a6a31
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - a1759f72-2953-4670-b7b6-8aede2f4978e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a1759f72-2953-4670-b7b6-8aede2f4978e
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2026-09-03T08:39:23.6122145",
        "lastUpdatedTimeUtc": "2026-09-03T08:39:23.6122145", "percentComplete": null,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a1759f72-2953-4670-b7b6-8aede2f4978e
      RequestId:
      - 6c06d176-2cce-48a5-848a-f50e8e28606b
      Retry-After:
      - '20'
      x-ms-operation-id:
      - a1759f72-2953-4670-b7b6-8aede2f4978e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a1759f72-2953-4670-b7b6-8aede2f4978e/result
  response:
    body:
      string: '{"id": "2f9f4bbd-f763-4c96-b7bd-8fb8bf4792c9", "type": "Ontology",
        "displayName": "fabcli000001", "description": "", "workspaceId": "327a36cc-0974-4c51-86d5-3fd826299512"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c6550d44-96ed-4ad2-b125-ba39a5f93cf7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/327a36cc-0974-4c51-86d5-3fd826299512/items/2f9f4bbd-f763-4c96-b7bd-8fb8bf4792c9
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1ef8ca67-eb73-477a-94fd-3ae26d7ac931
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
