interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b7945519-3184-48e4-8d42-8b7ee977816d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 804b9a21-41e4-45f0-a107-272d02b73f17
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/items
  response:
    body:
      string: '{"value": [{"id": "b4b48b13-c163-44f9-ba57-4c1e3c733590", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "b7945519-3184-48e4-8d42-8b7ee977816d"},
        {"id": "f73fdca7-56cb-4ab6-9476-af2a77803e78", "type": "SemanticModel", "displayName":
        "fabcli000001_auto", "description": "", "workspaceId": "b7945519-3184-48e4-8d42-8b7ee977816d"},
        {"id": "9797d176-4e05-4505-b702-92eb11623ef8", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260203075441", "description": "", "workspaceId":
        "b7945519-3184-48e4-8d42-8b7ee977816d"}, {"id": "d4b12cbc-7628-4748-9[...]
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/417fde9e-4ae1-4a88-9565-47f700e5fca3
      RequestId:
      - d3d2170d-c255-45d8-a9c8-135d2974b38f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 417fde9e-4ae1-4a88-9565-47f700e5fca3
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/417fde9e-4ae1-4a88-9565-47f700e5fca3
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T08:00:48.3149173",
        "lastUpdatedTimeUtc": "2026-02-03T08:01:02.6504315", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/417fde9e-4ae1-4a88-9565-47f700e5fca3/result
      RequestId:
      - 62ec7d4e-892c-41a4-b242-001293f0326d
      x-ms-operation-id:
      - 417fde9e-4ae1-4a88-9565-47f700e5fca3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/417fde9e-4ae1-4a88-9565-47f700e5fca3/result
  response:
    body:
      string: '{"id": "6ece6f8f-aad2-449f-8f19-a3cbd20d97ff", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "b7945519-3184-48e4-8d42-8b7ee977816d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 4b43de45-f327-446b-b98a-dbd45ae0e9db
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/items/6ece6f8f-aad2-449f-8f19-a3cbd20d97ff
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 200d1dd0-a535-4af7-ba05-14a322cf9c8d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
