interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "b7945519-3184-48e4-8d42-8b7ee977816d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c8344a55-71e8-44bd-93d1-9ad950029e23
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/items
  response:
    body:
      string: '{"value": [{"id": "b4b48b13-c163-44f9-ba57-4c1e3c733590", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "b7945519-3184-48e4-8d42-8b7ee977816d"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9331835b-e5a3-4219-80b2-3f56baeaf5c4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c18b58e0-6119-4aed-8f25-72ac06bae636
      RequestId:
      - 526a1f3a-b6be-4a3a-aacf-b013bfc8ea46
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - c18b58e0-6119-4aed-8f25-72ac06bae636
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c18b58e0-6119-4aed-8f25-72ac06bae636
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T07:52:38.5716762",
        "lastUpdatedTimeUtc": "2026-02-03T07:52:55.9041942", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c18b58e0-6119-4aed-8f25-72ac06bae636/result
      RequestId:
      - 6d4ec1a0-94bf-4c4c-9dcb-0603c8ba3660
      x-ms-operation-id:
      - c18b58e0-6119-4aed-8f25-72ac06bae636
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c18b58e0-6119-4aed-8f25-72ac06bae636/result
  response:
    body:
      string: '{"id": "ab2adb62-c623-4a89-823a-d49c91a99425", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "b7945519-3184-48e4-8d42-8b7ee977816d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 0157d931-f2bf-45bc-99fe-1a89feafc2c0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/b7945519-3184-48e4-8d42-8b7ee977816d/items/ab2adb62-c623-4a89-823a-d49c91a99425
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - edb6e38f-1143-4cdc-b0a8-60d36b1b68de
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
