interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "590fbeb9-5c85-4c39-a336-ca1a8b103e61", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 42bd6390-4da0-4e98-a896-7b92a58c6374
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/590fbeb9-5c85-4c39-a336-ca1a8b103e61/items
  response:
    body:
      string: '{"value": [{"id": "23832f9f-f98f-4f5c-a14c-d8ad430272dd", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "590fbeb9-5c85-4c39-a336-ca1a8b103e61"}, {"id": "3a7d29af-710f-4598-a1b7-68a36a801510",
        "type": "KQLDatabase", "displayName": "fabcli000001_auto", "description":
        "fabcli000001_auto", "workspaceId": "590fbeb9-5c85-4c39-a336-ca1a8b103e61"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2c520dd4-782a-478a-829c-e4f9ff614f80
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MirroredDatabase", "folderId": null, "definition": {"parts": [{"path": "mirroring.json",
      "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgInNvdXJjZSI6IHsKICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsCiAgICAgICAgICAgICJ0eXBlUHJvcGVydGllcyI6IHt9CiAgICAgICAgfSwKICAgICAgICAidGFyZ2V0IjogewogICAgICAgICAgICAidHlwZSI6ICJNb3VudGVkUmVsYXRpb25hbERhdGFiYXNlIiwKICAgICAgICAgICAgInR5cGVQcm9wZXJ0aWVzIjogewogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSIKICAgICAgICAgICAgfQogICAgICAgIH0KICAgIH0KfQ==",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/590fbeb9-5c85-4c39-a336-ca1a8b103e61/mirroredDatabases
  response:
    body:
      string: '{"id": "47e93a3d-4c93-44f0-b71f-44d45c92c58e", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "590fbeb9-5c85-4c39-a336-ca1a8b103e61"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e7b2acf6-489e-4a98-8800-06889d916ef9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/590fbeb9-5c85-4c39-a336-ca1a8b103e61/47e93a3d-4c93-44f0-b71f-44d45c92c58e/Tables/non_existent_file.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/590fbeb9-5c85-4c39-a336-ca1a8b103e61/?recursive=false&resource=filesystem&directory=47e93a3d-4c93-44f0-b71f-44d45c92c58e%2FTables%2Fnon_existent_file.txt&getShortcutMetadata=true
  response:
    body:
      string: '{"error": {"code": "PathNotFound", "message": "The specified path does
        not exist.\nRequestId:7febce9b-b01f-0001-7632-899e7d000000\nTime:2026-01-19T10:56:46.0690112Z"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-error-code:
      - PathNotFound
    status:
      code: 404
      message: The specified path does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/590fbeb9-5c85-4c39-a336-ca1a8b103e61/items/47e93a3d-4c93-44f0-b71f-44d45c92c58e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 78d854bd-8d70-4390-93a0-5f67d53a2f60
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
