interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "9f7ff46b-df20-4f1b-9b82-9183c6f6adc1",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fb8593bd-9b33-431c-87f7-ce930692f8af
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/9f7ff46b-df20-4f1b-9b82-9183c6f6adc1/items
  response:
    body:
      string: '{"value": [{"id": "2f193862-af04-41f2-8e4c-4e7896ecdd18", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "9f7ff46b-df20-4f1b-9b82-9183c6f6adc1"}, {"id": "0f6b72db-807f-4407-b222-ca230049dbe4",
        "type": "KQLDatabase", "displayName": "fabcli000001_auto", "description":
        "fabcli000001_auto", "workspaceId": "9f7ff46b-df20-4f1b-9b82-9183c6f6adc1"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7344891a-4725-4636-8ac8-fdd026b6c4b7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/9f7ff46b-df20-4f1b-9b82-9183c6f6adc1/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dfc86666-35d3-47aa-9390-0291c9d07dfa
      RequestId:
      - bfed5a5d-dacf-410e-afc0-b37adf23ba9c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - dfc86666-35d3-47aa-9390-0291c9d07dfa
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dfc86666-35d3-47aa-9390-0291c9d07dfa
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-06T10:51:39.4534062",
        "lastUpdatedTimeUtc": "2026-02-06T10:51:56.5727266", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dfc86666-35d3-47aa-9390-0291c9d07dfa/result
      RequestId:
      - b66b1efc-1c10-4bd2-8572-d55f5466b2b8
      x-ms-operation-id:
      - dfc86666-35d3-47aa-9390-0291c9d07dfa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dfc86666-35d3-47aa-9390-0291c9d07dfa/result
  response:
    body:
      string: '{"id": "ca76b3f5-7178-4547-b59f-3e29f0264dc5", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "9f7ff46b-df20-4f1b-9b82-9183c6f6adc1"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 6966eac2-d39f-473c-aa8b-5dcf6a8f935e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/9f7ff46b-df20-4f1b-9b82-9183c6f6adc1/ca76b3f5-7178-4547-b59f-3e29f0264dc5/Tables/non_existent_file.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://onelake.dfs.fabric.microsoft.com/9f7ff46b-df20-4f1b-9b82-9183c6f6adc1/?recursive=false&resource=filesystem&directory=ca76b3f5-7178-4547-b59f-3e29f0264dc5%2FTables%2Fnon_existent_file.txt&getShortcutMetadata=true
  response:
    body:
      string: '{"error": {"code": "PathNotFound", "message": "The specified path does
        not exist.\nRequestId:a30cba1d-f01f-00ac-6456-97ce23000000\nTime:2026-02-06T10:52:11.4857034Z"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-error-code:
      - PathNotFound
    status:
      code: 404
      message: The specified path does not exist.
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/9f7ff46b-df20-4f1b-9b82-9183c6f6adc1/items/ca76b3f5-7178-4547-b59f-3e29f0264dc5
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b0fd4f22-f06f-4b38-8011-32b2136f1785
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
