interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "78de1d46-426a-4129-a58b-a3e909069ef9", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e62b3b06-0db9-4dbe-a508-777ac753177f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/78de1d46-426a-4129-a58b-a3e909069ef9/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cc0fd4ed-8de1-4436-92ce-b2847e9861c2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MLExperiment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/78de1d46-426a-4129-a58b-a3e909069ef9/mlExperiments
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/09f93cd7-ce94-4165-9919-0d142fffa5bb
      RequestId:
      - bb6c50ce-4e88-4a60-99dd-8b2af5223e0a
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 09f93cd7-ce94-4165-9919-0d142fffa5bb
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/09f93cd7-ce94-4165-9919-0d142fffa5bb
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T08:08:18.6058458",
        "lastUpdatedTimeUtc": "2026-01-19T08:08:19.4656216", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/09f93cd7-ce94-4165-9919-0d142fffa5bb/result
      RequestId:
      - 5ab5cefe-bc3d-408e-8dd5-91dcadb09864
      x-ms-operation-id:
      - 09f93cd7-ce94-4165-9919-0d142fffa5bb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/09f93cd7-ce94-4165-9919-0d142fffa5bb/result
  response:
    body:
      string: '{"id": "bc7654d8-a22e-4101-a5fa-5e4dde93f488", "type": "MLExperiment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "78de1d46-426a-4129-a58b-a3e909069ef9"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 8fa50f54-9a33-45b8-bd0a-def919bedffb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/78de1d46-426a-4129-a58b-a3e909069ef9/items/bc7654d8-a22e-4101-a5fa-5e4dde93f488
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d8de4ccb-323a-47dc-a420-f45b12be644b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
