interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "111e386e-d98f-4e80-b46f-81f8658a4e62",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 604fbafb-9a60-4c56-80f5-62a8d09b18ea
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/111e386e-d98f-4e80-b46f-81f8658a4e62/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a04e2c39-c5db-4155-965f-bdc287fa9f6e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/111e386e-d98f-4e80-b46f-81f8658a4e62/lakehouses
  response:
    body:
      string: '{"id": "918ecb09-30c0-4d25-9047-c426a0098d95", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "111e386e-d98f-4e80-b46f-81f8658a4e62"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a8d27ab0-56e6-4e2f-b1f0-0a82977639b3
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"items": [{"id": "918ecb09-30c0-4d25-9047-c426a0098d95", "type": "Lakehouse"}],
      "labelId": "00000000-0000-0000-0000-000000000006", "assignmentMethod": "Standard"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/admin/items/bulkSetLabels
  response:
    body:
      string: '{"itemsChangeLabelStatus": [{"id": "918ecb09-30c0-4d25-9047-c426a0098d95",
        "type": "Lakehouse", "status": "Succeeded"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7844c96f-059f-4247-aa58-b015b484afe0
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/111e386e-d98f-4e80-b46f-81f8658a4e62/items/918ecb09-30c0-4d25-9047-c426a0098d95
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b36730d1-4ef5-4434-92b3-078621a5ebd2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
