interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "111e386e-d98f-4e80-b46f-81f8658a4e62",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 683c4c18-f974-4791-b66e-15723d5275b7
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/111e386e-d98f-4e80-b46f-81f8658a4e62/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a95b68c8-4cc9-4d66-b74f-6b2c3da0c4b8
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/111e386e-d98f-4e80-b46f-81f8658a4e62/lakehouses
  response:
    body:
      string: '{"id": "745bd4db-a733-4c90-96c7-608f51ebf770", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "111e386e-d98f-4e80-b46f-81f8658a4e62"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 3dfae4e6-7129-44d1-9d82-d00ccd57c4bf
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"items": [{"id": "745bd4db-a733-4c90-96c7-608f51ebf770", "type": "Lakehouse"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/admin/items/bulkRemoveLabels
  response:
    body:
      string: '{"itemsChangeLabelStatus": [{"id": "745bd4db-a733-4c90-96c7-608f51ebf770",
        "type": "Lakehouse", "status": "NotFound"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 32d67177-845f-4fc9-b278-3f26897e9f71
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/111e386e-d98f-4e80-b46f-81f8658a4e62/items/745bd4db-a733-4c90-96c7-608f51ebf770
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b80ba9f4-1b0a-4848-909c-1e1812ed0d71
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
