interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "111e386e-d98f-4e80-b46f-81f8658a4e62",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b58ada74-6eb3-4b02-a593-e12faaf17dac
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/111e386e-d98f-4e80-b46f-81f8658a4e62/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3539e6cf-dd6d-442e-a71b-cbbb5a8eab51
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/111e386e-d98f-4e80-b46f-81f8658a4e62/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/2f8ed751-ad46-42c0-9cb5-80b4ab064fd5
      RequestId:
      - da71a7dd-a170-4f97-b19c-8a92b5a85906
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 2f8ed751-ad46-42c0-9cb5-80b4ab064fd5
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/2f8ed751-ad46-42c0-9cb5-80b4ab064fd5
  response:
    body:
      string: '{"status": "Running", "createdTimeUtc": "2025-09-02T19:43:25.1687158",
        "lastUpdatedTimeUtc": "2025-09-02T19:43:25.1687158", "percentComplete": null,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/2f8ed751-ad46-42c0-9cb5-80b4ab064fd5
      RequestId:
      - d3b4c78b-3c24-4534-a409-1485b9337273
      Retry-After:
      - '20'
      x-ms-operation-id:
      - 2f8ed751-ad46-42c0-9cb5-80b4ab064fd5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-west-europe-redirect.analysis.windows.net/v1/operations/2f8ed751-ad46-42c0-9cb5-80b4ab064fd5/result
  response:
    body:
      string: '{"id": "e8dc0238-bd48-442b-bf98-d132af4a5d79", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "111e386e-d98f-4e80-b46f-81f8658a4e62"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 9837d7ed-d526-47da-a1c0-cc6d731fd177
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"items": [{"id": "e8dc0238-bd48-442b-bf98-d132af4a5d79", "type": "Notebook"}],
      "labelId": "00000000-0000-0000-0000-000000000005", "assignmentMethod": "Standard"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/admin/items/bulkSetLabels
  response:
    body:
      string: '{"itemsChangeLabelStatus": [{"id": "e8dc0238-bd48-442b-bf98-d132af4a5d79",
        "type": "Notebook", "status": "Succeeded"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 53b6b454-fbde-4de6-a90f-1c628b7e7813
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/111e386e-d98f-4e80-b46f-81f8658a4e62/items/e8dc0238-bd48-442b-bf98-d132af4a5d79
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 275d7b51-273e-4e97-ba02-a2db5f6cbaac
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
