interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "dfbc98b6-1fac-4969-b12a-0c05046310ee",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fea0cc01-1eee-43df-ada0-44706b4c34dc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/dfbc98b6-1fac-4969-b12a-0c05046310ee/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8f0065a9-9d19-489f-9723-e5464ebd7236
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DataPipeline", "folderId": null,
      "description": "Created by fab-test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/dfbc98b6-1fac-4969-b12a-0c05046310ee/dataPipelines
  response:
    body:
      string: '{"id": "29f391b0-3c17-497b-bd3a-8daa2476bc44", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab-test", "workspaceId":
        "dfbc98b6-1fac-4969-b12a-0c05046310ee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 0cda5b50-550c-4790-bc36-244d109e647e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/dfbc98b6-1fac-4969-b12a-0c05046310ee/items/29f391b0-3c17-497b-bd3a-8daa2476bc44
  response:
    body:
      string: '{"id": "29f391b0-3c17-497b-bd3a-8daa2476bc44", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab-test", "workspaceId":
        "dfbc98b6-1fac-4969-b12a-0c05046310ee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a199beb2-8d99-47bb-94f7-25f08ce8d3e9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/dfbc98b6-1fac-4969-b12a-0c05046310ee/items/29f391b0-3c17-497b-bd3a-8daa2476bc44/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "pipeline-content.json", "payload":
        "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==", "payloadType":
        "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRhdGFQaXBlbGluZSIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYi10ZXN0IgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f4fa502d-24a8-4fda-985b-c77e7ea7f644
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "Notebook", "folderId": null, "description":
      "Created by fab-test", "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/dfbc98b6-1fac-4969-b12a-0c05046310ee/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a023b4d6-c00b-42b2-8451-521d68b4da1f
      RequestId:
      - 1a98ee73-79c0-41ec-a685-5b5d05f9946f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - a023b4d6-c00b-42b2-8451-521d68b4da1f
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a023b4d6-c00b-42b2-8451-521d68b4da1f
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-07-05T10:02:29.5764892",
        "lastUpdatedTimeUtc": "2026-07-05T10:02:30.9928665", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a023b4d6-c00b-42b2-8451-521d68b4da1f/result
      RequestId:
      - dc5a2380-72ba-4ab9-87e9-c340afa72cd3
      x-ms-operation-id:
      - a023b4d6-c00b-42b2-8451-521d68b4da1f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a023b4d6-c00b-42b2-8451-521d68b4da1f/result
  response:
    body:
      string: '{"id": "e4f79160-fd7c-4af0-beb5-a522f7387d5d", "type": "Notebook",
        "displayName": "fabcli000002", "description": "Created by fab-test", "workspaceId":
        "dfbc98b6-1fac-4969-b12a-0c05046310ee"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f2d9ea12-2452-4d8e-a7d6-f9d78cf7d168
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/dfbc98b6-1fac-4969-b12a-0c05046310ee/items/e4f79160-fd7c-4af0-beb5-a522f7387d5d/getDefinition?format=fabricGitSource
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/f37eade4-6d8f-4641-9e25-c42a6d7d1f63
      RequestId:
      - 4b6ff949-9d3a-434a-9b13-f457bd5f7ea9
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - f37eade4-6d8f-4641-9e25-c42a6d7d1f63
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"displayName": "fabcli000003", "type": "VariableLibrary", "folderId":
      null, "description": "Created by fab-test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/dfbc98b6-1fac-4969-b12a-0c05046310ee/variablelibraries
  response:
    body:
      string: '{"id": "972fa6cd-f8a6-45e7-bec2-ba48c38818ae", "type": "VariableLibrary",
        "displayName": "fabcli000003", "description": "Created by fab-test", "workspaceId":
        "dfbc98b6-1fac-4969-b12a-0c05046310ee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 52937f87-5d3c-44f7-9e01-cd3ad0f138af
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "dfbc98b6-1fac-4969-b12a-0c05046310ee",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 45f2c8e1-c831-418a-8727-5fc7cd26f376
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/dfbc98b6-1fac-4969-b12a-0c05046310ee
  response:
    body:
      string: '{"id": "dfbc98b6-1fac-4969-b12a-0c05046310ee", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fa751f75-b0d5-4170-b2d6-0e2bcd60dec8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/dfbc98b6-1fac-4969-b12a-0c05046310ee/folders
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a78307d5-b3c9-4638-ac88-a0fe953f99cd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/dfbc98b6-1fac-4969-b12a-0c05046310ee/items
  response:
    body:
      string: '{"value": [{"id": "29f391b0-3c17-497b-bd3a-8daa2476bc44", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab-test", "workspaceId":
        "dfbc98b6-1fac-4969-b12a-0c05046310ee"}, {"id": "e4f79160-fd7c-4af0-beb5-a522f7387d5d",
        "type": "Notebook", "displayName": "fabcli000002", "description": "Created
        by fab-test", "workspaceId": "dfbc98b6-1fac-4969-b12a-0c05046310ee"}, {"id":
        "972fa6cd-f8a6-45e7-bec2-ba48c38818ae", "type": "VariableLibrary", "displayName":
        "fabcli000003", "description": "Created by fab-test", "workspaceId": "dfbc98b6-1fac-4969-b12a-0c05046310ee"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 385732a4-1b96-4c17-ad12-dae2a5faff50
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"parts": [{"path": "settings.json", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2l0ZW0vdmFyaWFibGVMaWJyYXJ5L2RlZmluaXRpb24vc2V0dGluZ3MvMS4wLjAvc2NoZW1hLmpzb24iLAogICAgInZhbHVlU2V0c09yZGVyIjogW10KfQ==",
      "payloadType": "InlineBase64"}, {"path": "variables.json", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2l0ZW0vdmFyaWFibGVMaWJyYXJ5L2[...]
[...]
- request:
    body: '{"properties": {"activeValueSetName": "Default value set"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://api.powerbi.com/v1/workspaces/dfbc98b6-1fac-4969-b12a-0c05046310ee/VariableLibraries/972fa6cd-f8a6-45e7-bec2-ba48c38818ae
  response:
    body:
      string: '{"id": "972fa6cd-f8a6-45e7-bec2-ba48c38818ae", "type": "VariableLibrary",
        "displayName": "fabcli000003", "description": "Created by fab-test", "workspaceId":
        "dfbc98b6-1fac-4969-b12a-0c05046310ee", "properties": {"$type": "VariableLibraryProperties",
        "activeValueSetName": "Default value set"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b0bd877e-cd96-48ad-847b-83b5c002dbcc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDIiLAogICAgICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYi10ZXN0IgogICAgfSwKICAgICJjb25maWciOiB7CiAgICAgICAgInZlcnNpb24iOiAiMi4wIiwKICAgICAgICAibG[...]
[...]
- request:
    body: '{"definition": {"parts": [{"path": "pipeline-content.json", "payload":
      "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgImFjdGl2aXRpZXMiOiBbXQogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiRGF0YVBpcGVsaW5lIiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWItdGVzdCIKICAgIH0sCiAgICAiY29uZmlnIjogewogICAgICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAgICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgICB9Cn0=",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api.powerbi.com/v1/workspaces/dfbc98b6-1fac-4969-b12a-0c05046310ee/items/29f391b0-3c17-497b-bd3a-8daa2476bc44/updateDefinition?updateMetadata=True
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c4331c57-f403-4e16-906a-05be1873e903
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/dfbc98b6-1fac-4969-b12a-0c05046310ee/items/29f391b0-3c17-497b-bd3a-8daa2476bc44
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6d78a460-6641-4547-bd4b-dbd352eb15f5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
