interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "784cb4a2-b060-411e-a77b-ca0436ac59a9",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c7db9e00-7879-46b7-b238-8700641f003b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/784cb4a2-b060-411e-a77b-ca0436ac59a9/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9d20c852-521a-4797-b994-71880c4d71e3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "VariableLibrary", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/784cb4a2-b060-411e-a77b-ca0436ac59a9/variablelibraries
  response:
    body:
      string: '{"id": "e5b7c416-8b48-407f-9a8b-889779a2c900", "type": "VariableLibrary",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "784cb4a2-b060-411e-a77b-ca0436ac59a9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a014b63d-0798-4412-81c4-34a0921d1a62
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/784cb4a2-b060-411e-a77b-ca0436ac59a9/items/e5b7c416-8b48-407f-9a8b-889779a2c900
  response:
    body:
      string: '{"id": "e5b7c416-8b48-407f-9a8b-889779a2c900", "type": "VariableLibrary",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "784cb4a2-b060-411e-a77b-ca0436ac59a9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 3fffcdec-43dd-439f-8918-c41b161e7121
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/784cb4a2-b060-411e-a77b-ca0436ac59a9/items/e5b7c416-8b48-407f-9a8b-889779a2c900/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1fa8430b-40d8-489c-8eee-35edb396b2b4
      RequestId:
      - 9d4e0e84-005d-4c95-b8fc-99974c18f48d
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 1fa8430b-40d8-489c-8eee-35edb396b2b4
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1fa8430b-40d8-489c-8eee-35edb396b2b4
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-10T10:16:09.1698083",
        "lastUpdatedTimeUtc": "2026-03-10T10:16:09.5634084", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1fa8430b-40d8-489c-8eee-35edb396b2b4/result
      RequestId:
      - eb2e9a4f-c787-4216-81e3-da5236bfae06
      x-ms-operation-id:
      - 1fa8430b-40d8-489c-8eee-35edb396b2b4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1fa8430b-40d8-489c-8eee-35edb396b2b4/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "variables.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS92YXJpYWJsZUxpYnJhcnkvZGVmaW5pdGlvbi92YXJpYWJsZXMvMS4wLjAvc2NoZW1hLmpzb24iLA0KICAidmFyaWFibGVzIjogW10NCn0=",
        "payloadType": "InlineBase64"}, {"path": "settings.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS92YXJpYWJsZUxpYnJhcnkvZGVmaW5pdGlvbi9zZXR0aW5ncy8xLjAuMC9zY2hlbWEuanNvbiIsDQogICJ2YWx1ZVNldHNPcmRlciI6IFtdDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlZhcmlhYmxlTGlicmFyeSIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 384c70ca-b334-40a5-abac-c994692ea9fd
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "614b514b-15d8-423d-8df5-fb61aa05e3d1",
        "displayName": "test1", "description": "", "type": "Workspace", "capacityId":
        "00000000-0000-0000-000[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/784cb4a2-b060-411e-a77b-ca0436ac59a9
  response:
    body:
      string: '{"id": "784cb4a2-b060-411e-a77b-ca0436ac59a9", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5cf4951c-2247-4aca-b355-b7d8e7e989d2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/784cb4a2-b060-411e-a77b-ca0436ac59a9/folders
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0c131259-895e-424a-ad7f-9eed64071105
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/784cb4a2-b060-411e-a77b-ca0436ac59a9/items
  response:
    body:
      string: '{"value": [{"id": "e5b7c416-8b48-407f-9a8b-889779a2c900", "type": "VariableLibrary",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "784cb4a2-b060-411e-a77b-ca0436ac59a9"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4cc36832-d504-4891-8ced-c64e9fab4637
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiVmFyaWFibGVMaWJyYXJ5IiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgIC[...]
[...]
- request:
    body: '{"properties": {"activeValueSetName": "Default value set"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://api.powerbi.com/v1/workspaces/784cb4a2-b060-411e-a77b-ca0436ac59a9/VariableLibraries/e5b7c416-8b48-407f-9a8b-889779a2c900
  response:
    body:
      string: '{"id": "e5b7c416-8b48-407f-9a8b-889779a2c900", "type": "VariableLibrary",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "784cb4a2-b060-411e-a77b-ca0436ac59a9", "properties": {"$type": "VariableLibraryProperties",
        "activeValueSetName": "Default value set"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b0c663f6-a187-4a6d-8a9a-8d10fa36618c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/784cb4a2-b060-411e-a77b-ca0436ac59a9/items/e5b7c416-8b48-407f-9a8b-889779a2c900
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 59d10d84-0563-4d03-94fd-c1658bd008c4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
