interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3036ae52-32a8-4ed0-bcd6-fcf4adc313a8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/items
  response:
    body:
      string: '{"value": [{"id": "6f988fd7-9c86-45ce-86c5-415daafa951f", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1a3589bb-77a2-4047-92fd-d43be3be0705
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "VariableLibrary", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/variablelibraries
  response:
    body:
      string: '{"id": "a1c505f8-2de3-4f70-8f08-4381bcdb6875", "type": "VariableLibrary",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ee899778-f432-4125-871e-f379baf35f54
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/items/a1c505f8-2de3-4f70-8f08-4381bcdb6875
  response:
    body:
      string: '{"id": "a1c505f8-2de3-4f70-8f08-4381bcdb6875", "type": "VariableLibrary",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 489fd817-29f5-4cda-82ad-54f21a0bf772
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/items/a1c505f8-2de3-4f70-8f08-4381bcdb6875/getDefinition
  response:
    body:
      string: '{"Message": "An error has occurred."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 500
      message: Internal Server Error
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "614b514b-15d8-423d-8df5-fb61aa05e3d1",
        "displayName": "test1", "description": "", "type": "Workspace", "capacityId":
        "00000000-0000-0000-000[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2
  response:
    body:
      string: '{"id": "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4405aaa9-6c63-41df-8c5d-f6dfe36918ef
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/folders
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bc3dffdc-4ed5-4719-ae24-edd4d6290d42
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/items
  response:
    body:
      string: '{"value": [{"id": "6f988fd7-9c86-45ce-86c5-415daafa951f", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2"}, {"id": "a1c505f8-2de3-4f70-8f08-4381bcdb6875",
        "type": "VariableLibrary", "displayName": "fabcli000001", "description": "Created
        by fab", "workspaceId": "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f63bd2cf-b6b3-4101-b520-0f3d93edf740
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://api.powerbi.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/items/a1c505f8-2de3-4f70-8f08-4381bcdb6875
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b41eb8b5-42f3-4244-9f51-ee23decb71fd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/items
  response:
    body:
      string: '{"value": [{"id": "6f988fd7-9c86-45ce-86c5-415daafa951f", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8cca1021-2737-4c25-97c0-76826b2c46d2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
