interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "a6e3eadc-7a01-4138-ae17-c0776fb2f843",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f8ea5581-6b6a-4cf4-ab98-76da47e411eb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a6e3eadc-7a01-4138-ae17-c0776fb2f843/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 30a13e18-9acd-4b49-9360-6a2de3734898
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DataPipeline", "folderId": null,
      "description": "Created by fab-test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a6e3eadc-7a01-4138-ae17-c0776fb2f843/dataPipelines
  response:
    body:
      string: '{"id": "d5a0fc1f-938a-45ce-bcb2-df34cb47d2a7", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab-test", "workspaceId":
        "a6e3eadc-7a01-4138-ae17-c0776fb2f843"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e6f83f75-3958-4604-941a-3161cd0b4520
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a6e3eadc-7a01-4138-ae17-c0776fb2f843/items/d5a0fc1f-938a-45ce-bcb2-df34cb47d2a7
  response:
    body:
      string: '{"id": "d5a0fc1f-938a-45ce-bcb2-df34cb47d2a7", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab-test", "workspaceId":
        "a6e3eadc-7a01-4138-ae17-c0776fb2f843"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - fa1980ee-f497-449a-96ee-c11343de8757
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a6e3eadc-7a01-4138-ae17-c0776fb2f843/items/d5a0fc1f-938a-45ce-bcb2-df34cb47d2a7/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "pipeline-content.json", "payload":
        "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==", "payloadType":
        "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRhdGFQaXBlbGluZSIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYi10ZXN0IgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 004a2989-325e-4c22-a22d-da4285f34d76
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "Notebook", "folderId": null, "description":
      "Created by fab-test", "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a6e3eadc-7a01-4138-ae17-c0776fb2f843/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fec0b643-8c52-48bc-8a82-2c263f954571
      RequestId:
      - 1f315d52-8374-4b1d-be1e-f8292e90c3ca
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - fec0b643-8c52-48bc-8a82-2c263f954571
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fec0b643-8c52-48bc-8a82-2c263f954571
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-07-02T10:40:03.2604274",
        "lastUpdatedTimeUtc": "2026-07-02T10:40:04.5179515", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fec0b643-8c52-48bc-8a82-2c263f954571/result
      RequestId:
      - 86926d78-6484-4206-8530-3da61314d4cd
      x-ms-operation-id:
      - fec0b643-8c52-48bc-8a82-2c263f954571
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fec0b643-8c52-48bc-8a82-2c263f954571/result
  response:
    body:
      string: '{"id": "84b669ae-120f-4b54-af4d-dc6a8eb75403", "type": "Notebook",
        "displayName": "fabcli000002", "description": "Created by fab-test", "workspaceId":
        "a6e3eadc-7a01-4138-ae17-c0776fb2f843"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - be83fd0b-28af-4860-9917-e7736e4d656c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a6e3eadc-7a01-4138-ae17-c0776fb2f843/items/84b669ae-120f-4b54-af4d-dc6a8eb75403/getDefinition?format=fabricGitSource
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/a5cdba9d-3495-400e-95af-f12f8a58f5ac
      RequestId:
      - 40849f76-b16f-4d5b-844c-58e7147e8636
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - a5cdba9d-3495-400e-95af-f12f8a58f5ac
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"displayName": "fabcli000003", "type": "VariableLibrary", "folderId":
      null, "description": "Created by fab-test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a6e3eadc-7a01-4138-ae17-c0776fb2f843/variablelibraries
  response:
    body:
      string: '{"id": "0310b888-cfd0-4252-9d07-985be625f808", "type": "VariableLibrary",
        "displayName": "fabcli000003", "description": "Created by fab-test", "workspaceId":
        "a6e3eadc-7a01-4138-ae17-c0776fb2f843"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7be41bc1-b33b-4add-aab0-c099b1ebbe88
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "614b514b-15d8-423d-8df5-fb61aa05e3d1",
        "displayName": "test1", "description": "", "type": "Workspace", "capacityId":
        "00000000-0000-0000-000[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/a6e3eadc-7a01-4138-ae17-c0776fb2f843
  response:
    body:
      string: '{"id": "a6e3eadc-7a01-4138-ae17-c0776fb2f843", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fdc55cf2-0815-4269-a986-9176762a1f0c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/a6e3eadc-7a01-4138-ae17-c0776fb2f843/folders
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 32d6067c-2003-43c7-92bc-18c98e07056c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/a6e3eadc-7a01-4138-ae17-c0776fb2f843/items
  response:
    body:
      string: '{"value": [{"id": "d5a0fc1f-938a-45ce-bcb2-df34cb47d2a7", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab-test", "workspaceId":
        "a6e3eadc-7a01-4138-ae17-c0776fb2f843"}, {"id": "84b669ae-120f-4b54-af4d-dc6a8eb75403",
        "type": "Notebook", "displayName": "fabcli000002", "description": "Created
        by fab-test", "workspaceId": "a6e3eadc-7a01-4138-ae17-c0776fb2f843"}, {"id":
        "0310b888-cfd0-4252-9d07-985be625f808", "type": "VariableLibrary", "displayName":
        "fabcli000003", "description": "Created by fab-test", "workspaceId": "a6e3eadc-7a01-4138-ae17-c0776fb2f843"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9b463d2d-722b-434b-afd4-e94a64dc433d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"parts": [{"path": "settings.json", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2l0ZW0vdmFyaWFibGVMaWJyYXJ5L2RlZmluaXRpb24vc2V0dGluZ3MvMS4wLjAvc2NoZW1hLmpzb24iLAogICAgInZhbHVlU2V0c09yZGVyIjogW10KfQ==",
      "payloadType": "InlineBase64"}, {"path": "variables.json", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2l0ZW0vdmFyaWFibGVMaWJyYXJ5L2[...]
[...]
- request:
    body: '{"properties": {"activeValueSetName": "Default value set"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://api.powerbi.com/v1/workspaces/a6e3eadc-7a01-4138-ae17-c0776fb2f843/VariableLibraries/0310b888-cfd0-4252-9d07-985be625f808
  response:
    body:
      string: '{"id": "0310b888-cfd0-4252-9d07-985be625f808", "type": "VariableLibrary",
        "displayName": "fabcli000003", "description": "Created by fab-test", "workspaceId":
        "a6e3eadc-7a01-4138-ae17-c0776fb2f843", "properties": {"$type": "VariableLibraryProperties",
        "activeValueSetName": "Default value set"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c515b2ce-4c62-46d3-82c2-e5b7686e8b03
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDIiLAogICAgICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYi10ZXN0IgogICAgfSwKICAgICJjb25maWciOiB7CiAgICAgICAgInZlcnNpb24iOiAiMi4wIiwKICAgICAgICAibG[...]
[...]
- request:
    body: '{"definition": {"parts": [{"path": "pipeline-content.json", "payload":
      "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgImFjdGl2aXRpZXMiOiBbXQogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiRGF0YVBpcGVsaW5lIiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWItdGVzdCIKICAgIH0sCiAgICAiY29uZmlnIjogewogICAgICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAgICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgICB9Cn0=",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api.powerbi.com/v1/workspaces/a6e3eadc-7a01-4138-ae17-c0776fb2f843/items/d5a0fc1f-938a-45ce-bcb2-df34cb47d2a7/updateDefinition?updateMetadata=True
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ab3cb3b2-068d-4efd-bffa-ff65f01f8773
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a6e3eadc-7a01-4138-ae17-c0776fb2f843/items/d5a0fc1f-938a-45ce-bcb2-df34cb47d2a7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 06fea2c0-2e4f-4237-9d95-82e375907510
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
