interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "10c8e75c-e78c-42cd-be09-5e18bc1e79ad",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fec335a2-1a09-414c-b094-e9a1987f0fd7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/10c8e75c-e78c-42cd-be09-5e18bc1e79ad/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2d6da9f6-72d5-4077-b200-85c8bde60297
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DataPipeline", "folderId": null,
      "description": "Created by fab-test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/10c8e75c-e78c-42cd-be09-5e18bc1e79ad/dataPipelines
  response:
    body:
      string: '{"id": "b61efc2d-c177-47c0-9ddf-efaff83ba1ca", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab-test", "workspaceId":
        "10c8e75c-e78c-42cd-be09-5e18bc1e79ad"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 24abbbad-2c46-4850-9faa-92e2fcd4d923
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/10c8e75c-e78c-42cd-be09-5e18bc1e79ad/items/b61efc2d-c177-47c0-9ddf-efaff83ba1ca
  response:
    body:
      string: '{"id": "b61efc2d-c177-47c0-9ddf-efaff83ba1ca", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab-test", "workspaceId":
        "10c8e75c-e78c-42cd-be09-5e18bc1e79ad"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 38efa94e-0bca-4002-a25c-aba64a4db878
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/10c8e75c-e78c-42cd-be09-5e18bc1e79ad/items/b61efc2d-c177-47c0-9ddf-efaff83ba1ca/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "pipeline-content.json", "payload":
        "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==", "payloadType":
        "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRhdGFQaXBlbGluZSIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYi10ZXN0IgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4e031157-109b-4a19-b0a4-ef620a24d29b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000002", "type": "Notebook", "folderId": null, "description":
      "Created by fab-test", "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/10c8e75c-e78c-42cd-be09-5e18bc1e79ad/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fa5f66ef-4fb3-4b6c-9d3b-86116d968d40
      RequestId:
      - 1b13c80f-92dd-4210-bba8-51a9f16176cc
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - fa5f66ef-4fb3-4b6c-9d3b-86116d968d40
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fa5f66ef-4fb3-4b6c-9d3b-86116d968d40
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-07-02T13:40:16.746615",
        "lastUpdatedTimeUtc": "2026-07-02T13:40:18.1447627", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fa5f66ef-4fb3-4b6c-9d3b-86116d968d40/result
      RequestId:
      - 414cfba9-b87a-4f38-bb75-2762fbaf4d00
      x-ms-operation-id:
      - fa5f66ef-4fb3-4b6c-9d3b-86116d968d40
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fa5f66ef-4fb3-4b6c-9d3b-86116d968d40/result
  response:
    body:
      string: '{"id": "10fa7756-aea8-4a86-8324-8544a4e125ba", "type": "Notebook",
        "displayName": "fabcli000002", "description": "Created by fab-test", "workspaceId":
        "10c8e75c-e78c-42cd-be09-5e18bc1e79ad"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 296d0645-5958-41c8-9b6a-cd14d486d3f6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/10c8e75c-e78c-42cd-be09-5e18bc1e79ad/items/10fa7756-aea8-4a86-8324-8544a4e125ba/getDefinition?format=fabricGitSource
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/1217e26c-4a8f-4dd2-9aa6-89501824bdbd
      RequestId:
      - 787f6819-3ada-4a33-963f-7390a390eb7f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 1217e26c-4a8f-4dd2-9aa6-89501824bdbd
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"displayName": "fabcli000003", "type": "VariableLibrary", "folderId":
      null, "description": "Created by fab-test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/10c8e75c-e78c-42cd-be09-5e18bc1e79ad/variablelibraries
  response:
    body:
      string: '{"id": "5d5e94ba-b1a1-4ed5-b86b-efcc16864a60", "type": "VariableLibrary",
        "displayName": "fabcli000003", "description": "Created by fab-test", "workspaceId":
        "10c8e75c-e78c-42cd-be09-5e18bc1e79ad"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e780e2ad-8e49-4147-a32e-e67ee4925203
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "614b514b-15d8-423d-8df5-fb61aa05e3d1",
        "displayName": "test1", "description": "", "type": "Workspace", "capacityId":
        "00000000-0000-0000-000[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/10c8e75c-e78c-42cd-be09-5e18bc1e79ad
  response:
    body:
      string: '{"id": "10c8e75c-e78c-42cd-be09-5e18bc1e79ad", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c0abbf06-64b9-431b-a012-61215d639835
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/10c8e75c-e78c-42cd-be09-5e18bc1e79ad/folders
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a05cc8d2-ec5b-4fe3-a66a-8554dffde8e7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/10c8e75c-e78c-42cd-be09-5e18bc1e79ad/items
  response:
    body:
      string: '{"value": [{"id": "b61efc2d-c177-47c0-9ddf-efaff83ba1ca", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab-test", "workspaceId":
        "10c8e75c-e78c-42cd-be09-5e18bc1e79ad"}, {"id": "10fa7756-aea8-4a86-8324-8544a4e125ba",
        "type": "Notebook", "displayName": "fabcli000002", "description": "Created
        by fab-test", "workspaceId": "10c8e75c-e78c-42cd-be09-5e18bc1e79ad"}, {"id":
        "5d5e94ba-b1a1-4ed5-b86b-efcc16864a60", "type": "VariableLibrary", "displayName":
        "fabcli000003", "description": "Created by fab-test", "workspaceId": "10c8e75c-e78c-42cd-be09-5e18bc1e79ad"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ab91620a-7652-4d19-ac9f-099c68d1d342
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"parts": [{"path": "settings.json", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2l0ZW0vdmFyaWFibGVMaWJyYXJ5L2RlZmluaXRpb24vc2V0dGluZ3MvMS4wLjAvc2NoZW1hLmpzb24iLAogICAgInZhbHVlU2V0c09yZGVyIjogW10KfQ==",
      "payloadType": "InlineBase64"}, {"path": "variables.json", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2l0ZW0vdmFyaWFibGVMaWJyYXJ5L2[...]
[...]
- request:
    body: '{"properties": {"activeValueSetName": "Default value set"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://api.powerbi.com/v1/workspaces/10c8e75c-e78c-42cd-be09-5e18bc1e79ad/VariableLibraries/5d5e94ba-b1a1-4ed5-b86b-efcc16864a60
  response:
    body:
      string: '{"id": "5d5e94ba-b1a1-4ed5-b86b-efcc16864a60", "type": "VariableLibrary",
        "displayName": "fabcli000003", "description": "Created by fab-test", "workspaceId":
        "10c8e75c-e78c-42cd-be09-5e18bc1e79ad", "properties": {"$type": "VariableLibraryProperties",
        "activeValueSetName": "Default value set"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 8375af0c-565c-46e8-9222-f2d30bb4f341
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiTm90ZWJvb2siLAogICAgICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDIiLAogICAgICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYi10ZXN0IgogICAgfSwKICAgICJjb25maWciOiB7CiAgICAgICAgInZlcnNpb24iOiAiMi4wIiwKICAgICAgICAibG[...]
[...]
- request:
    body: '{"definition": {"parts": [{"path": "pipeline-content.json", "payload":
      "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgImFjdGl2aXRpZXMiOiBbXQogICAgfQp9",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiRGF0YVBpcGVsaW5lIiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWItdGVzdCIKICAgIH0sCiAgICAiY29uZmlnIjogewogICAgICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAgICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgICB9Cn0=",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api.powerbi.com/v1/workspaces/10c8e75c-e78c-42cd-be09-5e18bc1e79ad/items/b61efc2d-c177-47c0-9ddf-efaff83ba1ca/updateDefinition?updateMetadata=True
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 22ede12b-d0d1-4244-80a2-f76bd5b32989
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/10c8e75c-e78c-42cd-be09-5e18bc1e79ad/items/b61efc2d-c177-47c0-9ddf-efaff83ba1ca
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a0167f5f-cea5-4a6e-b864-2175fc4a2129
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
