interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9ad99754-ebc9-4889-844d-8aa93d5e4b1a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 552a2698-9aa8-4cf6-8268-059cf0e1a617
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/08b6038c-d285-4074-bcd3-958ba1d5bbfe
      RequestId:
      - 16eee641-5bcc-4dc0-a6b4-9bdf00845b5c
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 08b6038c-d285-4074-bcd3-958ba1d5bbfe
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/08b6038c-d285-4074-bcd3-958ba1d5bbfe
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-09T15:02:10.9336631",
        "lastUpdatedTimeUtc": "2026-03-09T15:02:12.6955452", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/08b6038c-d285-4074-bcd3-958ba1d5bbfe/result
      RequestId:
      - ae90586c-6c57-4fac-a0cc-8b4690bcf488
      x-ms-operation-id:
      - 08b6038c-d285-4074-bcd3-958ba1d5bbfe
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/08b6038c-d285-4074-bcd3-958ba1d5bbfe/result
  response:
    body:
      string: '{"id": "0bff2679-b502-4087-a1d3-acb9401e003f", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - c42b789f-b6f1-4855-825b-166871f230fa
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/items/0bff2679-b502-4087-a1d3-acb9401e003f
  response:
    body:
      string: '{"id": "0bff2679-b502-4087-a1d3-acb9401e003f", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 15676cfd-aef1-4812-b73f-6477aeb34b64
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/items/0bff2679-b502-4087-a1d3-acb9401e003f/getDefinition?format=fabricGitSource
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/57c355a5-c8dc-405f-a6d5-df72cd67cafa
      RequestId:
      - 1201ac31-c814-4146-84f2-884c1ae22ec8
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 57c355a5-c8dc-405f-a6d5-df72cd67cafa
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "614b514b-15d8-423d-8df5-fb61aa05e3d1",
        "displayName": "test1", "description": "", "type": "Workspace", "capacityId":
        "00000000-0000-0000-000[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2
  response:
    body:
      string: '{"id": "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 750d5c96-c15d-4b04-8ee8-c3712f477ffd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/folders
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 32df6dc8-d58d-4c13-94f9-bca31b38ff42
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/items
  response:
    body:
      string: '{"value": [{"id": "0bff2679-b502-4087-a1d3-acb9401e003f", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6711a472-a9d2-451f-a10e-c27cb8816ca1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/items/0bff2679-b502-4087-a1d3-acb9401e003f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - cdd3d493-5774-4975-b39b-f8bb653d4c31
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
