interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "8d39e4b0-09d3-4415-adf9-5e8e8dc71bb9",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 85918df1-e8e9-4348-8803-7b010134f20a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8d39e4b0-09d3-4415-adf9-5e8e8dc71bb9/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 730bf57d-7455-4df8-9824-a6034de24eb5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "VariableLibrary", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/8d39e4b0-09d3-4415-adf9-5e8e8dc71bb9/variablelibraries
  response:
    body:
      string: '{"id": "e58c8043-0cfa-4e17-9fbb-b613d7c41dc7", "type": "VariableLibrary",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "8d39e4b0-09d3-4415-adf9-5e8e8dc71bb9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b541ef4b-f251-4478-b0d0-2825cb80a458
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/8d39e4b0-09d3-4415-adf9-5e8e8dc71bb9/items/e58c8043-0cfa-4e17-9fbb-b613d7c41dc7
  response:
    body:
      string: '{"id": "e58c8043-0cfa-4e17-9fbb-b613d7c41dc7", "type": "VariableLibrary",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "8d39e4b0-09d3-4415-adf9-5e8e8dc71bb9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7f5070ad-bf6e-49e4-ab8d-332d3b6111fe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/8d39e4b0-09d3-4415-adf9-5e8e8dc71bb9/items/e58c8043-0cfa-4e17-9fbb-b613d7c41dc7/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c2cd5b39-f61a-4b27-8bd0-37f844c5856e
      RequestId:
      - 2424c09e-3043-409e-a2ac-c80afde10e85
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - c2cd5b39-f61a-4b27-8bd0-37f844c5856e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c2cd5b39-f61a-4b27-8bd0-37f844c5856e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-25T18:24:26.0119005",
        "lastUpdatedTimeUtc": "2026-02-25T18:24:26.4494136", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c2cd5b39-f61a-4b27-8bd0-37f844c5856e/result
      RequestId:
      - 53d58d4b-bede-41ce-9647-bf53d238305a
      x-ms-operation-id:
      - c2cd5b39-f61a-4b27-8bd0-37f844c5856e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c2cd5b39-f61a-4b27-8bd0-37f844c5856e/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "variables.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS92YXJpYWJsZUxpYnJhcnkvZGVmaW5pdGlvbi92YXJpYWJsZXMvMS4wLjAvc2NoZW1hLmpzb24iLA0KICAidmFyaWFibGVzIjogW10NCn0=",
        "payloadType": "InlineBase64"}, {"path": "settings.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS92YXJpYWJsZUxpYnJhcnkvZGVmaW5pdGlvbi9zZXR0aW5ncy8xLjAuMC9zY2hlbWEuanNvbiIsDQogICJ2YWx1ZVNldHNPcmRlciI6IFtdDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlZhcmlhYmxlTGlicmFyeSIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 9e91cd95-e392-4153-ace3-2597191d1c07
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "614b514b-15d8-423d-8df5-fb61aa05e3d1",
        "displayName": "test1", "description": "", "type": "Workspace", "capacityId":
        "00000000-0000-0000-000[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/8d39e4b0-09d3-4415-adf9-5e8e8dc71bb9
  response:
    body:
      string: '{"id": "8d39e4b0-09d3-4415-adf9-5e8e8dc71bb9", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8bc7faf1-2e78-4603-abcf-15d102e34a02
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/8d39e4b0-09d3-4415-adf9-5e8e8dc71bb9/folders
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d5efa3e9-2e2a-453c-a6b6-b7ad75c09d95
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://api.powerbi.com/v1/workspaces/8d39e4b0-09d3-4415-adf9-5e8e8dc71bb9/items
  response:
    body:
      string: '{"value": [{"id": "e58c8043-0cfa-4e17-9fbb-b613d7c41dc7", "type": "VariableLibrary",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "8d39e4b0-09d3-4415-adf9-5e8e8dc71bb9"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8268dc6c-9530-4399-bc66-51d4c1715cf1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"parts": [{"path": ".platform", "payload": "ewogICAgIiRzY2hlbWEiOiAiaHR0cHM6Ly9kZXZlbG9wZXIubWljcm9zb2Z0LmNvbS9qc29uLXNjaGVtYXMvZmFicmljL2dpdEludGVncmF0aW9uL3BsYXRmb3JtUHJvcGVydGllcy8yLjAuMC9zY2hlbWEuanNvbiIsCiAgICAibWV0YWRhdGEiOiB7CiAgICAgICAgInR5cGUiOiAiVmFyaWFibGVMaWJyYXJ5IiwKICAgICAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgICB9LAogICAgImNvbmZpZyI6IHsKICAgICAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgICAgIC[...]
[...]
- request:
    body: '{"properties": {"activeValueSetName": "Default value set"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://api.powerbi.com/v1/workspaces/8d39e4b0-09d3-4415-adf9-5e8e8dc71bb9/VariableLibraries/e58c8043-0cfa-4e17-9fbb-b613d7c41dc7
  response:
    body:
      string: '{"id": "e58c8043-0cfa-4e17-9fbb-b613d7c41dc7", "type": "VariableLibrary",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "8d39e4b0-09d3-4415-adf9-5e8e8dc71bb9", "properties": {"$type": "VariableLibraryProperties",
        "activeValueSetName": "Default value set"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6fdc3182-f35e-4d40-83cf-b3d3a859c0a8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/8d39e4b0-09d3-4415-adf9-5e8e8dc71bb9/items/e58c8043-0cfa-4e17-9fbb-b613d7c41dc7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e4ef3d14-db8b-46c2-820c-c897eb0ea404
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
