interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bfb059bf-5ceb-4a9c-acc4-991e07de982c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/items
  response:
    body:
      string: '{"value": [{"id": "6f988fd7-9c86-45ce-86c5-415daafa951f", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 50289040-c69f-46cc-b2f5-2f363da1bd4a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Notebook", "folderId": null, "definition": {"parts": [{"path": "notebook-content.py",
      "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ce445477-d97c-4b55-b2e1-72156b61fd51
      RequestId:
      - 442e5649-fa58-4474-b00b-10b2420da274
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ce445477-d97c-4b55-b2e1-72156b61fd51
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ce445477-d97c-4b55-b2e1-72156b61fd51
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-09T15:07:15.2651629",
        "lastUpdatedTimeUtc": "2026-03-09T15:07:16.4243781", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ce445477-d97c-4b55-b2e1-72156b61fd51/result
      RequestId:
      - a68fa054-83fe-4981-8775-b62bf1049849
      x-ms-operation-id:
      - ce445477-d97c-4b55-b2e1-72156b61fd51
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ce445477-d97c-4b55-b2e1-72156b61fd51/result
  response:
    body:
      string: '{"id": "6f91eb54-3a95-4d8b-b920-674d5493d2eb", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 78bbe7fc-9d42-4fba-864e-891f8a6ef612
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/items/6f91eb54-3a95-4d8b-b920-674d5493d2eb
  response:
    body:
      string: '{"id": "6f91eb54-3a95-4d8b-b920-674d5493d2eb", "type": "Notebook",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "afab0668-5ca6-4a9f-9751-c50c2f4fdbc2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 53cbc611-f201-4563-aff5-48e8362f1968
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/items/6f91eb54-3a95-4d8b-b920-674d5493d2eb/getDefinition?format=fabricGitSource
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/12cef181-c239-4617-b4e9-2bb8e34c5a14
      RequestId:
      - fe4a8049-509d-43e7-b4bd-125f4f43608f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 12cef181-c239-4617-b4e9-2bb8e34c5a14
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/afab0668-5ca6-4a9f-9751-c50c2f4fdbc2/items/6f91eb54-3a95-4d8b-b920-674d5493d2eb
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a0e862e1-74d5-4f9f-a6fb-cccc0c2ab11e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
