interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "aaaf2004-b4e4-403d-809d-86c1fb7e4359",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 177860f4-6181-49ed-bfe1-44f1bcd3df45
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/aaaf2004-b4e4-403d-809d-86c1fb7e4359/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9adf77ab-0062-4616-9e3f-d6e2e7f375ae
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "MirroredDatabase", "folderId":
      null, "definition": {"parts": [{"path": "mirroring.json", "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgInNvdXJjZSI6IHsKICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsCiAgICAgICAgICAgICJ0eXBlUHJvcGVydGllcyI6IHt9CiAgICAgICAgfSwKICAgICAgICAidGFyZ2V0IjogewogICAgICAgICAgICAidHlwZSI6ICJNb3VudGVkUmVsYXRpb25hbERhdGFiYXNlIiwKICAgICAgICAgICAgInR5cGVQcm9wZXJ0aWVzIjogewogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSIKICAgICAgICAgICAgfQogICAgICAgIH0KICAgIH0KfQ==",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/aaaf2004-b4e4-403d-809d-86c1fb7e4359/mirroredDatabases
  response:
    body:
      string: '{"id": "d4e5db48-50bd-4d2e-b043-ecb52afc0009", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "aaaf2004-b4e4-403d-809d-86c1fb7e4359"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ff6a3d99-fd19-419e-a004-c57cb8f8b843
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/aaaf2004-b4e4-403d-809d-86c1fb7e4359/mirroredDatabases/d4e5db48-50bd-4d2e-b043-ecb52afc0009/getMirroringStatus
  response:
    body:
      string: '{"status": "Initialized"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - da8f8a01-dc9e-4ebd-bd37-5fecf05cb320
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/aaaf2004-b4e4-403d-809d-86c1fb7e4359/mirroredDatabases/d4e5db48-50bd-4d2e-b043-ecb52afc0009/startMirroring
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 41b5ff8e-657c-4bc8-a85d-742df183a5b8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/aaaf2004-b4e4-403d-809d-86c1fb7e4359/mirroredDatabases/d4e5db48-50bd-4d2e-b043-ecb52afc0009/stopMirroring
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 233d0c44-1f68-4090-9236-2e8ef111776e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/aaaf2004-b4e4-403d-809d-86c1fb7e4359/mirroredDatabases/d4e5db48-50bd-4d2e-b043-ecb52afc0009
  response:
    body:
      string: '{"id": "d4e5db48-50bd-4d2e-b043-ecb52afc0009", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "aaaf2004-b4e4-403d-809d-86c1fb7e4359",
        "properties": {"oneLakeTablesPath": "https://onelake.dfs.fabric.microsoft.com/aaaf2004-b4e4-403d-809d-86c1fb7e4359/d4e5db48-50bd-4d2e-b043-ecb52afc0009/Tables",
        "sqlEndpointProperties": {"connectionString": "mock_connection_string", "id":
        "0370c8c8-1ba3-459d-90d5-96b13a32ae29", "provisioningStatus": "Success"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 720f6ee7-3a55-496e-99d9-77436668903c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/aaaf2004-b4e4-403d-809d-86c1fb7e4359/items/d4e5db48-50bd-4d2e-b043-ecb52afc0009/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "mirroring.json", "payload": "ew0KICAicHJvcGVydGllcyI6IHsNCiAgICAic291cmNlIjogew0KICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsDQogICAgICAidHlwZVByb3BlcnRpZXMiOiB7fQ0KICAgIH0sDQogICA[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/aaaf2004-b4e4-403d-809d-86c1fb7e4359/items/d4e5db48-50bd-4d2e-b043-ecb52afc0009/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 008129d2-4003-445d-bdf4-29163a2a72d3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/aaaf2004-b4e4-403d-809d-86c1fb7e4359/mirroredDatabases/d4e5db48-50bd-4d2e-b043-ecb52afc0009/getTablesMirroringStatus
  response:
    body:
      string: '{"continuationToken": null, "continuationUri": null, "data": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4b0d859b-3202-4f1f-a1fa-80d03a19f6b6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/aaaf2004-b4e4-403d-809d-86c1fb7e4359/items/d4e5db48-50bd-4d2e-b043-ecb52afc0009
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 57a36183-0e52-4b95-95ad-c98cf6604ff6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
