interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "431e99c3-79af-4cdf-9019-94a41d1243dc",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - afc9654a-6d6a-4d80-ad45-79dcd0afcf54
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/431e99c3-79af-4cdf-9019-94a41d1243dc/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8ac5e8db-d354-4332-a630-a92e40630c66
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MirroredDatabase", "folderId": null, "definition": {"parts": [{"path": "mirroring.json",
      "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgInNvdXJjZSI6IHsKICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsCiAgICAgICAgICAgICJ0eXBlUHJvcGVydGllcyI6IHt9CiAgICAgICAgfSwKICAgICAgICAidGFyZ2V0IjogewogICAgICAgICAgICAidHlwZSI6ICJNb3VudGVkUmVsYXRpb25hbERhdGFiYXNlIiwKICAgICAgICAgICAgInR5cGVQcm9wZXJ0aWVzIjogewogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSIKICAgICAgICAgICAgfQogICAgICAgIH0KICAgIH0KfQ==",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/431e99c3-79af-4cdf-9019-94a41d1243dc/mirroredDatabases
  response:
    body:
      string: '{"id": "c179232e-36d0-4e01-bfb6-41ee08c54cee", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "431e99c3-79af-4cdf-9019-94a41d1243dc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 733b3090-29c9-4adf-8520-5da713f570b8
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/431e99c3-79af-4cdf-9019-94a41d1243dc/mirroredDatabases/c179232e-36d0-4e01-bfb6-41ee08c54cee/getMirroringStatus
  response:
    body:
      string: '{"status": "Initialized"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e4368509-58f0-4ad6-a55f-a34a0e77501b
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/431e99c3-79af-4cdf-9019-94a41d1243dc/mirroredDatabases/c179232e-36d0-4e01-bfb6-41ee08c54cee/startMirroring
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4cfc5bab-b561-4aeb-a3d7-77de5803f5e4
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/431e99c3-79af-4cdf-9019-94a41d1243dc/mirroredDatabases/c179232e-36d0-4e01-bfb6-41ee08c54cee/stopMirroring
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ef423bd7-6502-4297-9c29-d58138ee0c88
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/431e99c3-79af-4cdf-9019-94a41d1243dc/mirroredDatabases/c179232e-36d0-4e01-bfb6-41ee08c54cee
  response:
    body:
      string: '{"id": "c179232e-36d0-4e01-bfb6-41ee08c54cee", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "431e99c3-79af-4cdf-9019-94a41d1243dc", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/431e99c3-79af-4cdf-9019-94a41d1243dc/c179232e-36d0-4e01-bfb6-41ee08c54cee/Tables",
        "sqlEndpointProperties": {"connectionString": "mock_connection_string", "id":
        "deae2030-275b-4d5d-be76-076e5de22ad5", "provisioningStatus": "Success"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 0a2b3add-07b1-446e-b448-37fb5e1ca3a3
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/431e99c3-79af-4cdf-9019-94a41d1243dc/items/c179232e-36d0-4e01-bfb6-41ee08c54cee/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "mirroring.json", "payload": "ew0KICAicHJvcGVydGllcyI6IHsNCiAgICAic291cmNlIjogew0KICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsDQogICAgICAidHlwZVByb3BlcnRpZXMiOiB7fQ0KICAgIH0sDQogICA[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/431e99c3-79af-4cdf-9019-94a41d1243dc/items/c179232e-36d0-4e01-bfb6-41ee08c54cee/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a51ba373-9ce0-4712-add6-96c29e79e89c
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/431e99c3-79af-4cdf-9019-94a41d1243dc/mirroredDatabases/c179232e-36d0-4e01-bfb6-41ee08c54cee/getTablesMirroringStatus
  response:
    body:
      string: '{"continuationToken": null, "continuationUri": null, "data": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e1b4617f-8435-43d7-b650-74440da67bf5
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/431e99c3-79af-4cdf-9019-94a41d1243dc/items/c179232e-36d0-4e01-bfb6-41ee08c54cee
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e7a9c670-2adb-457c-87fd-e112512d972a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
