interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "cdf2f061-a5f6-439b-a4ff-f8e674335e44",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 80e349ce-fe8d-4377-ad70-75d72e395363
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cdf2f061-a5f6-439b-a4ff-f8e674335e44/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 67132ad6-3a76-4def-8c6f-9243bf16e6ff
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "MirroredDatabase", "folderId":
      null, "definition": {"parts": [{"path": "mirroring.json", "payload": "ewogICAgInByb3BlcnRpZXMiOiB7CiAgICAgICAgInNvdXJjZSI6IHsKICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsCiAgICAgICAgICAgICJ0eXBlUHJvcGVydGllcyI6IHt9CiAgICAgICAgfSwKICAgICAgICAidGFyZ2V0IjogewogICAgICAgICAgICAidHlwZSI6ICJNb3VudGVkUmVsYXRpb25hbERhdGFiYXNlIiwKICAgICAgICAgICAgInR5cGVQcm9wZXJ0aWVzIjogewogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSIKICAgICAgICAgICAgfQogICAgICAgIH0KICAgIH0KfQ==",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cdf2f061-a5f6-439b-a4ff-f8e674335e44/mirroredDatabases
  response:
    body:
      string: '{"id": "c2142e52-e34e-4ebe-8bb9-11bf6eb36c40", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "cdf2f061-a5f6-439b-a4ff-f8e674335e44"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f880af1d-984e-4d90-86f9-772532b4a894
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cdf2f061-a5f6-439b-a4ff-f8e674335e44/mirroredDatabases/c2142e52-e34e-4ebe-8bb9-11bf6eb36c40/getMirroringStatus
  response:
    body:
      string: '{"status": "Initialized"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1bb61fa8-5acf-46e4-9569-dda2dd9ca465
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cdf2f061-a5f6-439b-a4ff-f8e674335e44/mirroredDatabases/c2142e52-e34e-4ebe-8bb9-11bf6eb36c40/startMirroring
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b80be513-e9c6-401a-aef0-d88bbd3d05cc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cdf2f061-a5f6-439b-a4ff-f8e674335e44/mirroredDatabases/c2142e52-e34e-4ebe-8bb9-11bf6eb36c40/stopMirroring
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6d9a77bc-b565-46cb-b432-e100fde83f45
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cdf2f061-a5f6-439b-a4ff-f8e674335e44/mirroredDatabases/c2142e52-e34e-4ebe-8bb9-11bf6eb36c40
  response:
    body:
      string: '{"id": "c2142e52-e34e-4ebe-8bb9-11bf6eb36c40", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "", "workspaceId": "cdf2f061-a5f6-439b-a4ff-f8e674335e44",
        "properties": {"oneLakeTablesPath": "https://onelake.dfs.fabric.microsoft.com/cdf2f061-a5f6-439b-a4ff-f8e674335e44/c2142e52-e34e-4ebe-8bb9-11bf6eb36c40/Tables",
        "sqlEndpointProperties": {"connectionString": "mock_connection_string", "id":
        "52721c33-d4c8-4632-83d4-c3cd79819751", "provisioningStatus": "Success"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6de3d0d5-2be6-406b-8bc1-64579ff67ac2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cdf2f061-a5f6-439b-a4ff-f8e674335e44/items/c2142e52-e34e-4ebe-8bb9-11bf6eb36c40/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "mirroring.json", "payload": "ew0KICAicHJvcGVydGllcyI6IHsNCiAgICAic291cmNlIjogew0KICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsDQogICAgICAidHlwZVByb3BlcnRpZXMiOiB7fQ0KICAgIH0sDQogICA[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cdf2f061-a5f6-439b-a4ff-f8e674335e44/items/c2142e52-e34e-4ebe-8bb9-11bf6eb36c40/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dba5df66-67b0-46a1-8558-b09785e8a625
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cdf2f061-a5f6-439b-a4ff-f8e674335e44/mirroredDatabases/c2142e52-e34e-4ebe-8bb9-11bf6eb36c40/getTablesMirroringStatus
  response:
    body:
      string: '{"continuationToken": null, "continuationUri": null, "data": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 461a385a-21ea-40f0-9f92-85c90364f016
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/cdf2f061-a5f6-439b-a4ff-f8e674335e44/items/c2142e52-e34e-4ebe-8bb9-11bf6eb36c40
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0c8e2560-b0d2-4389-b69d-fb2c31037df7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
