interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "3905fa0e-cb22-4739-b178-c4c2b4a613e9",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4a0b0f7c-c6cf-4766-9608-61c0e14ec6d9
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3905fa0e-cb22-4739-b178-c4c2b4a613e9/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4dc67107-10c1-4c9f-befb-f051d5ef6726
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "MirroredDatabase", "folderId": null, "definition": {"parts": [{"path": "mirroring.json",
      "payload": "ew0KICAgICJwcm9wZXJ0aWVzIjogew0KICAgICAgICAic291cmNlIjogew0KICAgICAgICAgICAgInR5cGUiOiAiR2VuZXJpY01pcnJvciIsDQogICAgICAgICAgICAidHlwZVByb3BlcnRpZXMiOiB7fQ0KICAgICAgICB9LA0KICAgICAgICAidGFyZ2V0Ijogew0KICAgICAgICAgICAgInR5cGUiOiAiTW91bnRlZFJlbGF0aW9uYWxEYXRhYmFzZSIsDQogICAgICAgICAgICAidHlwZVByb3BlcnRpZXMiOiB7DQogICAgICAgICAgICAgICAgImZvcm1hdCI6ICJEZWx0YSINCiAgICAgICAgICAgIH0NCiAgICAgICAgfQ0KICAgIH0NCn0=",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3905fa0e-cb22-4739-b178-c4c2b4a613e9/mirroredDatabases
  response:
    body:
      string: '{"id": "811025db-5556-4886-8c85-d8ffa4206fc1", "type": "MirroredDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "3905fa0e-cb22-4739-b178-c4c2b4a613e9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6aa02518-8d61-477a-a193-ecadeb388044
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3905fa0e-cb22-4739-b178-c4c2b4a613e9/mirroredDatabases/811025db-5556-4886-8c85-d8ffa4206fc1/getMirroringStatus
  response:
    body:
      string: '{"status": "Initialized"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c547c239-5739-431b-a95f-0e8c054c25e5
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3905fa0e-cb22-4739-b178-c4c2b4a613e9/mirroredDatabases/811025db-5556-4886-8c85-d8ffa4206fc1/startMirroring
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9d5c9ccf-949a-41ba-8dc2-72aacf136f17
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/3905fa0e-cb22-4739-b178-c4c2b4a613e9/mirroredDatabases/811025db-5556-4886-8c85-d8ffa4206fc1/stopMirroring
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f365ed65-c00d-48b7-888c-8ada8f7484e2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/3905fa0e-cb22-4739-b178-c4c2b4a613e9/items/811025db-5556-4886-8c85-d8ffa4206fc1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c3b3c8b8-8cf1-4fb0-b82f-c2857a016999
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
