interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 22529fd9-859e-42f8-8593-ff64f7fc1b7f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ec8a0ace-3b19-4451-9ca7-21ddc08edf1a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabriccli_WorkspacePerTestclass_000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc
      RequestId:
      - b074c6b5-ca31-477e-81b1-e390799cb964
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc/items
  response:
    body:
      string: '{"value": [{"id": "dd5e85b9-1a09-479c-8dbd-7d6e9326530d", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc"},
        {"id": "f35e057b-7445-4a66-b218-b9912dbd0d6c", "type": "SQLEndpoint", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc"},
        {"id": "4063c175-1518-4825-ac84-b3ccf978225a", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc"},
        {"id": "f768b84f-31a5-4fe0-ac58-1041e5e58a57", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc"},
        {"id": "8157b692-104d-4e74-8ffd-20a6c1e760b6", "type": "Lakehouse", "displayName":
        "fabcli000001_autodtdm", "description": "", "workspaceId": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc"},
        {"id": "7112d9c8-8476-41e6-ad38-9ad4d73c2cb2", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001_autoOnDemand", "description": "", "workspaceId":
        "817e026f-7fcd-4779-9cb3-a5b6ff5294cc"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 06c10634-30bc-4cf5-be2e-6881d12a446a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0aaecd0d-2989-4a22-b88d-dedee7184e10
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
