interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 175ebb64-432f-45c8-aee7-5e9138adefec
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0877aea2-df1b-421c-ba88-e84baa2c0982
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bc6041f0-bb19-4e87-bdd9-5074ff84deb3
      RequestId:
      - 5668fbf0-48ef-4f78-8b24-75587221240f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - bc6041f0-bb19-4e87-bdd9-5074ff84deb3
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bc6041f0-bb19-4e87-bdd9-5074ff84deb3
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:46:58.5636026",
        "lastUpdatedTimeUtc": "2026-05-13T06:47:08.6385417", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bc6041f0-bb19-4e87-bdd9-5074ff84deb3/result
      RequestId:
      - 468b8745-001f-46dd-b133-2e5277b5bd32
      x-ms-operation-id:
      - bc6041f0-bb19-4e87-bdd9-5074ff84deb3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bc6041f0-bb19-4e87-bdd9-5074ff84deb3/result
  response:
    body:
      string: '{"id": "14f670f6-ee0f-447b-9b3f-72d9eeeb395d", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 464fe0a3-1949-44d5-a15d-e31616b67b8b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc/digitalTwinBuilders/14f670f6-ee0f-447b-9b3f-72d9eeeb395d
  response:
    body:
      string: '{"id": "14f670f6-ee0f-447b-9b3f-72d9eeeb395d", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "", "workspaceId": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6f504495-a651-4f9a-9cdf-102478d35831
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc/items/14f670f6-ee0f-447b-9b3f-72d9eeeb395d/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/27d88571-7047-493e-88b2-f955bd450a20
      RequestId:
      - 3c5f9a1c-e66a-4a58-a138-37d6b1f69fd4
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 27d88571-7047-493e-88b2-f955bd450a20
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/27d88571-7047-493e-88b2-f955bd450a20/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiNDA2M2MxNzUtMTUxOC00ODI1LWFjODQtYjNjY2Y5NzgyMjVhIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 21af2cb5-27da-4c3b-b8b8-6dbd00497d19
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc/items/14f670f6-ee0f-447b-9b3f-72d9eeeb395d/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ab9ad6cb-f545-4aed-b6e5-591130ad2861
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc/items/14f670f6-ee0f-447b-9b3f-72d9eeeb395d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 0251390e-f32e-48a7-b63b-b36e98bfe6ff
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
