interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "5c04eadd-130b-4a87-9ec1-6271e498f85a", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1152166e-9630-4da7-b731-5b3cdd617bfd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 189c68b1-105d-4704-9a41-a6ef3b746a12
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Eventstream", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/eventstreams
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c579e24b-60d0-4a75-9fb5-1d1422cc4515
      RequestId:
      - 3337c1f4-9ba6-430a-a091-819222a78828
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - c579e24b-60d0-4a75-9fb5-1d1422cc4515
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c579e24b-60d0-4a75-9fb5-1d1422cc4515
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T07:33:44.6212373",
        "lastUpdatedTimeUtc": "2026-01-19T07:33:53.5322549", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c579e24b-60d0-4a75-9fb5-1d1422cc4515/result
      RequestId:
      - adb30cb4-1653-40b1-9bae-99e2829f5ec6
      x-ms-operation-id:
      - c579e24b-60d0-4a75-9fb5-1d1422cc4515
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c579e24b-60d0-4a75-9fb5-1d1422cc4515/result
  response:
    body:
      string: '{"id": "c1636519-3e15-4cec-91c8-26c87946b90b", "type": "Eventstream",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5c04eadd-130b-4a87-9ec1-6271e498f85a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f3cbc287-6404-48ba-9544-7a1e2f4646df
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/eventstreams/c1636519-3e15-4cec-91c8-26c87946b90b
  response:
    body:
      string: '{"id": "c1636519-3e15-4cec-91c8-26c87946b90b", "type": "Eventstream",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5c04eadd-130b-4a87-9ec1-6271e498f85a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 809e05bc-f892-4dfe-a4c5-598b42a3faf9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/c1636519-3e15-4cec-91c8-26c87946b90b/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "eventstream.json", "payload": "ew0KICAic291cmNlcyI6IFtdLA0KICAiZGVzdGluYXRpb25zIjogW10sDQogICJzdHJlYW1zIjogW10sDQogICJvcGVyYXRvcnMiOiBbXSwNCiAgImNvbXBhdGliaWxpdHlMZXZlbCI6ICIxLjEiDQp9",
        "payloadType": "InlineBase64"}, {"path": "eventstreamProperties.json", "payload":
        "ew0KICAicmV0ZW50aW9uVGltZUluRGF5cyI6IDEsDQogICJldmVudFRocm91Z2hwdXRMZXZlbCI6ICJMb3ciDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkV2ZW50c3RyZWFtIiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiLAogICAgImRlc2NyaXB0aW9uIjogIkNyZWF0ZWQgYnkgZmFiIgogIH0sCiAgImNvbmZpZyI6IHsKICAgICJ2ZXJzaW9uIjogIjIuMCIsCiAgICAibG9naWNhbElkIjogIjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIKICB9Cn0=",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a98208a3-6414-48da-82b9-6e7a9a45f188
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/c1636519-3e15-4cec-91c8-26c87946b90b/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2b53546f-8a99-46fd-bb87-3edaafc08c7e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/c1636519-3e15-4cec-91c8-26c87946b90b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c6c3779a-921c-4338-9a96-352b2b59e50a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
