interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "bb0ba71a-4df8-4dd0-a627-355ca5802c9f",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1f71d885-e1f5-4835-8fd8-90c33028ed10
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 62786f25-17d7-4b51-ae33-4bf199d14a4e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/lakehouses
  response:
    body:
      string: '{"id": "153f8a2c-0d17-4985-a878-1ede97fd1214", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "bb0ba71a-4df8-4dd0-a627-355ca5802c9f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 81280c16-a4f7-45ba-afcc-38933c4d7be0
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f
  response:
    body:
      string: '{"id": "bb0ba71a-4df8-4dd0-a627-355ca5802c9f", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "West Europe", "oneLakeEndpoints": {"blobEndpoint": "https://westeurope-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://westeurope-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 71b6a5e9-a1bd-41c7-bf4c-841e0fba5d6e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/managedPrivateEndpoints
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ff03168d-d710-4faa-b465-7f14409f0751
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/spark/settings
  response:
    body:
      string: '{"automaticLog": {"enabled": true}, "highConcurrency": {"notebookInteractiveRunEnabled":
        true, "notebookPipelineRunEnabled": false}, "pool": {"customizeComputeEnabled":
        true, "defaultPool": {"name": "Starter Pool", "type": "Workspace", "id": "00000000-0000-0000-0000-000000000000"},
        "starterPool": {"maxNodeCount": 10, "maxExecutors": 9}}, "environment": {"runtimeVersion":
        "1.3"}, "job": {"conservativeJobAdmissionEnabled": false, "sessionTimeoutInMinutes":
        20}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"0x8DDEA998A6690D8"'
      RequestId:
      - 9ed55498-3f12-4376-95f8-98245bdc5245
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/roleAssignments
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000001", "principal":
        {"id": "00000000-0000-0000-0000-000000000001", "displayName": "Tenant Admin",
        "type": "User", "userDetails": {"userPrincipalName": "mocked@admin_test_user"}},
        "role": "Admin"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f7c92a0e-615e-4af2-aac9-4738f1e350a4
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/lakehouses/34935fea-1a96-4698-a918-58d08bd2400f
  response:
    body:
      string: '{"id": "34935fea-1a96-4698-a918-58d08bd2400f", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "bb0ba71a-4df8-4dd0-a627-355ca5802c9f", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/34935fea-1a96-4698-a918-58d08bd2400f/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/34935fea-1a96-4698-a918-58d08bd2400f/Files",
        "sqlEndpointProperties": {"connectionString": null, "id": null, "provisioningStatus":
        "InProgress"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 26f4bcf9-595f-43f9-9ed9-b7b7ebed6a4a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items/34935fea-1a96-4698-a918-58d08bd2400f/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a0fd692f-0dbd-43b3-b160-63ff41bd61c2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items/34935fea-1a96-4698-a918-58d08bd2400f/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a78de603-3c21-4177-ba7b-81706c16a3a3
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/153f8a2c-0d17-4985-a878-1ede97fd1214/Files/testShortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/153f8a2c-0d17-4985-a878-1ede97fd1214/Files/testShortcut.Shortcut
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: '{"path": "Files", "name": "testShortcut", "target": {"oneLake": {"workspaceId":
      "bb0ba71a-4df8-4dd0-a627-355ca5802c9f", "itemId": "34935fea-1a96-4698-a918-58d08bd2400f",
      "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items/153f8a2c-0d17-4985-a878-1ede97fd1214/shortcuts?shortcutConflictPolicy=GenerateUniqueName
  response:
    body:
      string: '{"name": "testShortcut", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "bb0ba71a-4df8-4dd0-a627-355ca5802c9f", "itemId":
        "34935fea-1a96-4698-a918-58d08bd2400f", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items/153f8a2c-0d17-4985-a878-1ede97fd1214/shortcuts/Files/testShortcut
      RequestId:
      - 5f5d0531-4733-47f4-9bd7-ec4d0eb60fcc
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: HEAD
    uri: https://onelake.dfs.fabric.microsoft.com/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/153f8a2c-0d17-4985-a878-1ede97fd1214/Files/testShortcut
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"0x8DDEA999A2C2094"'
      Last-Modified:
      - Wed, 03 Sep 2025 03:25:59 GMT
      x-ms-onelake-shortcut-path:
      - 'true'
      x-ms-resource-type:
      - directory
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items/153f8a2c-0d17-4985-a878-1ede97fd1214/shortcuts/Files/testShortcut
  response:
    body:
      string: '{"name": "testShortcut", "path": "Files", "target": {"type": "OneLake",
        "oneLake": {"workspaceId": "bb0ba71a-4df8-4dd0-a627-355ca5802c9f", "itemId":
        "34935fea-1a96-4698-a918-58d08bd2400f", "path": "Files"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5dbed280-fe21-4302-ba18-5a3dab4da813
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items/34935fea-1a96-4698-a918-58d08bd2400f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c801875e-575b-4722-a52c-0c84b7339d9b
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items/153f8a2c-0d17-4985-a878-1ede97fd1214
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - cd33a69d-49df-498b-b217-3d7ebe4a288e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
