interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "5c04eadd-130b-4a87-9ec1-6271e498f85a", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3343ee0a-cab5-4321-b862-0dc62f000d82
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - adfeb9bf-4fb6-4175-b8e3-1759e2df3d15
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Eventhouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/eventhouses
  response:
    body:
      string: '{"id": "c506aaaa-a9f0-479c-9451-7770134d1b63", "type": "Eventhouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5c04eadd-130b-4a87-9ec1-6271e498f85a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 0fc40178-50fe-4e75-ab48-22f68846bc38
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/eventhouses/c506aaaa-a9f0-479c-9451-7770134d1b63
  response:
    body:
      string: '{"id": "c506aaaa-a9f0-479c-9451-7770134d1b63", "type": "Eventhouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5c04eadd-130b-4a87-9ec1-6271e498f85a", "properties": {"queryServiceUri":
        "https://trd-qr68r5jr1m19tqbnsq.z0.kusto.fabric.microsoft.com", "ingestionServiceUri":
        "https://ingest-trd-qr68r5jr1m19tqbnsq.z0.kusto.fabric.microsoft.com", "databasesItemIds":
        ["49255c5b-50ee-48a9-8c6c-cd828d1e09e9"], "minimumConsumptionUnits": 0.0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e9c74660-32f8-4cac-959e-fc5f74531311
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/c506aaaa-a9f0-479c-9451-7770134d1b63/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5e5cc341-7907-4599-9d24-be7536934b41
      RequestId:
      - dc15947e-2158-49f2-8b0f-4a6fb350fad7
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5e5cc341-7907-4599-9d24-be7536934b41
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5e5cc341-7907-4599-9d24-be7536934b41
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T07:33:14.0814107",
        "lastUpdatedTimeUtc": "2026-01-19T07:33:22.9114124", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5e5cc341-7907-4599-9d24-be7536934b41/result
      RequestId:
      - d57394b7-fff0-496c-8da9-3911bd136602
      x-ms-operation-id:
      - 5e5cc341-7907-4599-9d24-be7536934b41
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5e5cc341-7907-4599-9d24-be7536934b41/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "EventhouseProperties.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkV2ZW50aG91c2UiLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d775062e-86f4-4aef-9df2-04e10366656c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/c506aaaa-a9f0-479c-9451-7770134d1b63/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d3b03aff-0785-43ae-a2bd-02d181e0b30f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/c506aaaa-a9f0-479c-9451-7770134d1b63
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - e0b6498e-ad08-4181-b7a2-5893d0f6df3d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
