interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a17f5896-ef89-4290-9027-d9128e6de7b6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ee64f9d2-9d6b-475c-a6bb-4dc8d898bbc0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DataPipeline", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/dataPipelines
  response:
    body:
      string: '{"id": "21ff3257-f780-4e4b-87ef-19cad23c28ce", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 87ad5c4b-f694-4289-8d0d-4885eb1dbb91
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/dataPipelines/21ff3257-f780-4e4b-87ef-19cad23c28ce
  response:
    body:
      string: '{"id": "21ff3257-f780-4e4b-87ef-19cad23c28ce", "type": "DataPipeline",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 5ae126b0-42f6-432f-953d-8280a7ede94f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/21ff3257-f780-4e4b-87ef-19cad23c28ce/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "pipeline-content.json", "payload":
        "ewogICJwcm9wZXJ0aWVzIjogewogICAgImFjdGl2aXRpZXMiOiBbXQogIH0KfQ==", "payloadType":
        "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRhdGFQaXBlbGluZSIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 75e0d0e6-19ef-4df5-8ea7-c8e0b5689d74
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/21ff3257-f780-4e4b-87ef-19cad23c28ce/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 237a398a-8c30-4e43-ac26-1b5621dc27e3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/21ff3257-f780-4e4b-87ef-19cad23c28ce/jobs/Pipeline/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0becbce0-49c9-45d6-85d5-3a3ca575bd4b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/21ff3257-f780-4e4b-87ef-19cad23c28ce
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1b95963c-32c3-4d22-865c-d4dab22e5d5a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
