interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5b6cb64b-1e77-45f0-9485-db8db4aad44b",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 89a149de-7a86-4068-a407-ba1f702a0404
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items
  response:
    body:
      string: '{"value": [{"id": "e259adaa-0708-459e-b63b-8702430868c7", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "6b8030b8-a720-4ce7-b27c-86921638ece3", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "07eb9019-ae99-4783-84ec-f2b7962dc21b", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "e4c6a8ad-667c-4cda-ac9f-f1b3796dcbe7", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 52d36671-bc53-4097-9b0b-560a7cc78ca2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c7e7227e-e4dc-4784-af8b-9c7b48383712
      RequestId:
      - 3159b070-261d-477d-b46e-b50e99ddec65
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - c7e7227e-e4dc-4784-af8b-9c7b48383712
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c7e7227e-e4dc-4784-af8b-9c7b48383712
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T09:06:14.7570428",
        "lastUpdatedTimeUtc": "2026-02-03T09:06:21.2584818", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c7e7227e-e4dc-4784-af8b-9c7b48383712/result
      RequestId:
      - 26967ef3-c823-4953-9b3d-208af6da50e2
      x-ms-operation-id:
      - c7e7227e-e4dc-4784-af8b-9c7b48383712
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c7e7227e-e4dc-4784-af8b-9c7b48383712/result
  response:
    body:
      string: '{"id": "cf2da059-95f1-4636-b454-89dd758f8065", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5b6cb64b-1e77-45f0-9485-db8db4aad44b"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - e3408cdd-8bef-4b28-bd33-fbf036bacb9c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/digitalTwinBuilders/cf2da059-95f1-4636-b454-89dd758f8065
  response:
    body:
      string: '{"id": "cf2da059-95f1-4636-b454-89dd758f8065", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5b6cb64b-1e77-45f0-9485-db8db4aad44b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 8b547994-85c9-4745-a3ab-da7b484fdaf3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items/cf2da059-95f1-4636-b454-89dd758f8065/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b2877927-c6e9-4539-961d-8e3a8297732a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items/cf2da059-95f1-4636-b454-89dd758f8065
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 49d8b240-a110-4c02-a926-673887b343b5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
