interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5b5055ae-2b8d-4e26-86af-05ade8fd79e7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items
  response:
    body:
      string: '{"value": [{"id": "4307c500-c838-4ca4-a060-269fa6b39c7d", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"},
        {"id": "4ca66565-458e-479c-8a9c-dde50e3396bc", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260128135038", "description": "", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}, {"id": "bddf27c3-d893-4273-9035-ff67eeffc533",
        "type": "Warehouse", "displayName": "StagingWarehouseForDataflows_20260128135101",
        "description": "", "workspaceId": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"},
        {"id": "d2274a21-9781-499c-aadc-5c2080d36cb3", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260128135038", "description": "", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 04a772ec-2eaf-49cf-8bda-24b20c674dbf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/lakehouses
  response:
    body:
      string: '{"id": "7279d4b2-3343-4b52-b49f-4af6dee3883b", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 0fcdd970-2a5f-4ff3-8ba2-eead5973a481
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/lakehouses/7279d4b2-3343-4b52-b49f-4af6dee3883b
  response:
    body:
      string: '{"id": "7279d4b2-3343-4b52-b49f-4af6dee3883b", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/7279d4b2-3343-4b52-b49f-4af6dee3883b/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/7279d4b2-3343-4b52-b49f-4af6dee3883b/Files",
        "sqlEndpointProperties": {"connectionString": null, "id": null, "provisioningStatus":
        "InProgress"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c3b4ba7a-8af2-4b56-b515-429a61b516ed
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/7279d4b2-3343-4b52-b49f-4af6dee3883b/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 963e010d-4b36-4e90-ab42-e27d94fae809
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/7279d4b2-3343-4b52-b49f-4af6dee3883b/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - db4ca17c-59b1-4d0f-b1fe-4a8acfcad574
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/7279d4b2-3343-4b52-b49f-4af6dee3883b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9b571e42-27d0-4cb4-b6bb-08ad3a823131
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
