interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e282b3cc-5e15-4222-8423-4f774f1c2c31
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a2f2cf6b-0588-436c-a72d-808450375350
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/folders
  response:
    body:
      string: '{"id": "669d144d-1319-4514-a819-3cf0b5cbbf11", "displayName": "fabcli000001",
        "workspaceId": "4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/folders/669d144d-1319-4514-a819-3cf0b5cbbf11
      RequestId:
      - 43bf07a2-bdb5-4d08-adf5-98522886d2e1
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/folders/669d144d-1319-4514-a819-3cf0b5cbbf11
  response:
    body:
      string: '{"id": "669d144d-1319-4514-a819-3cf0b5cbbf11", "displayName": "fabcli000001",
        "workspaceId": "4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 96e5366a-4de0-4073-8ac0-a77001201cb9
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "parentFolderId":
      "669d144d-1319-4514-a819-3cf0b5cbbf11"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/folders
  response:
    body:
      string: '{"id": "39a5bb43-2679-41cc-b8d5-33c1eaf08110", "displayName": "fabcli000002",
        "parentFolderId": "669d144d-1319-4514-a819-3cf0b5cbbf11", "workspaceId": "4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/folders/39a5bb43-2679-41cc-b8d5-33c1eaf08110
      RequestId:
      - f334082a-e0f0-4803-92ec-42b589cf3039
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/folders?recursive=True
  response:
    body:
      string: '{"requestId": "5c98f2b6-ee0b-4569-9382-1d1eecb8c816", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        9/14/2025 6:56:38 AM (UTC)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5c98f2b6-ee0b-4569-9382-1d1eecb8c816
      Retry-After:
      - '58'
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/folders/669d144d-1319-4514-a819-3cf0b5cbbf11
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - c3db1ce6-6287-4bf0-bae6-1478cdd2c55e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
