interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "bc313831-41df-4dc7-acf6-b0514fc592da",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dd641234-dd6b-4bfe-8973-82bd7fbe6683
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bc313831-41df-4dc7-acf6-b0514fc592da/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3788e833-a056-4626-aed4-e65150007e10
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bc313831-41df-4dc7-acf6-b0514fc592da/lakehouses
  response:
    body:
      string: '{"id": "5bf60cb4-c9fe-4fa1-8378-33ef52d4af03", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "bc313831-41df-4dc7-acf6-b0514fc592da"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 28175716-d560-4bc5-81ee-7c7d9234e8a9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bc313831-41df-4dc7-acf6-b0514fc592da/lakehouses/5bf60cb4-c9fe-4fa1-8378-33ef52d4af03
  response:
    body:
      string: '{"id": "5bf60cb4-c9fe-4fa1-8378-33ef52d4af03", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "bc313831-41df-4dc7-acf6-b0514fc592da", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/bc313831-41df-4dc7-acf6-b0514fc592da/5bf60cb4-c9fe-4fa1-8378-33ef52d4af03/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/bc313831-41df-4dc7-acf6-b0514fc592da/5bf60cb4-c9fe-4fa1-8378-33ef52d4af03/Files",
        "sqlEndpointProperties": {"connectionString": null, "id": null, "provisioningStatus":
        "InProgress"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 5f8d64d1-bf5e-451e-b6ea-8a5a525ec9ba
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bc313831-41df-4dc7-acf6-b0514fc592da/items/5bf60cb4-c9fe-4fa1-8378-33ef52d4af03/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "lakehouse.metadata.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": "alm.settings.json", "payload":
        "ew0KICAidmVyc2lvbiI6ICIxLjAuMSIsDQogICJvYmplY3RUeXBlcyI6IFsNCiAgICB7DQogICAgICAibmFtZSI6ICJTaG9ydGN1dHMiLA0KICAgICAgInN0YXRlIjogIkVuYWJsZWQiLA0KICAgICAgInN1Yk9iamVjdFR5cGVzIjogWw0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLk9uZUxha2UiLA0KICAgICAgICAgICJzdGF0ZSI6ICJFbmFibGVkIg0KICAgICAgICB9LA0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLkFkbHNHZW4yIiwNCiAgICAgICAgICAic3RhdGUiOiAiRW5hYmxlZCINCiAgICAgICAgfSwNCiAg[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bc313831-41df-4dc7-acf6-b0514fc592da/items/5bf60cb4-c9fe-4fa1-8378-33ef52d4af03/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - eb6c2b05-c31c-4034-af58-38172e5425bc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bc313831-41df-4dc7-acf6-b0514fc592da/items/5bf60cb4-c9fe-4fa1-8378-33ef52d4af03/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a20a8c29-4a3f-472f-8729-bb933a52b52d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bc313831-41df-4dc7-acf6-b0514fc592da/items/5bf60cb4-c9fe-4fa1-8378-33ef52d4af03
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 03f29140-9f3d-4a0d-824c-055de036fafd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
