interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "5c04eadd-130b-4a87-9ec1-6271e498f85a", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1a59567b-ca98-4e86-9f74-7d3c1a42a391
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 92c9592d-eb3f-46a7-9c96-6dc6f7fbc709
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/environments
  response:
    body:
      string: '{"id": "345ed447-7b7b-4fb1-a455-2e8fd3fa1dba", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5c04eadd-130b-4a87-9ec1-6271e498f85a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 97c144d7-6e9a-4dc7-a662-4d9a88170f0a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/environments/345ed447-7b7b-4fb1-a455-2e8fd3fa1dba
  response:
    body:
      string: '{"id": "345ed447-7b7b-4fb1-a455-2e8fd3fa1dba", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5c04eadd-130b-4a87-9ec1-6271e498f85a", "properties": {"publishDetails": {"state":
        "Success", "targetVersion": "fbae620b-b5da-44fb-aac6-f340beaef1da", "startTime":
        "2026-01-19T07:32:50.9963582Z", "endTime": "2026-01-19T07:32:50.9963582Z",
        "componentPublishInfo": {"sparkSettings": {"state": "Success"}, "sparkLibraries":
        {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 309cba8d-2372-4c9d-aea6-b21bd9cc8b10
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/345ed447-7b7b-4fb1-a455-2e8fd3fa1dba/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f3f85502-428c-4fe9-858d-046a75e9d567
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/environments/345ed447-7b7b-4fb1-a455-2e8fd3fa1dba/libraries
  response:
    body:
      string: '{"requestId": "9c049561-fab7-46b8-86a2-9c24a3cf61d0", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any published libraries. Please publish libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9c049561-fab7-46b8-86a2-9c24a3cf61d0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/environments/345ed447-7b7b-4fb1-a455-2e8fd3fa1dba/staging/libraries
  response:
    body:
      string: '{"requestId": "76ede1c6-f033-4f40-a546-47d8f6f74cb7", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any staged libraries. Please upload libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 76ede1c6-f033-4f40-a546-47d8f6f74cb7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/environments/345ed447-7b7b-4fb1-a455-2e8fd3fa1dba/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 62255902-717f-487f-b1b0-e246b5d4641f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/environments/345ed447-7b7b-4fb1-a455-2e8fd3fa1dba/staging/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b303bd84-6343-47c3-99b1-ff09446fd1f8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/345ed447-7b7b-4fb1-a455-2e8fd3fa1dba
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d8115f33-3033-47ac-9467-8ba44379d8d6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
