interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "08a06115-bfd0-4e62-bc88-22a89b56c0ec", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fea5fc46-d499-4102-acda-2090f65ec51f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ae4e847b-aa18-4ffa-a4a4-37d5251c2937
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/lakehouses
  response:
    body:
      string: '{"id": "5dfb7181-e80b-40a1-aba9-df55c5c42533", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "08a06115-bfd0-4e62-bc88-22a89b56c0ec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 6912dd62-afb6-4e56-8b32-7f453f30804f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/lakehouses/5dfb7181-e80b-40a1-aba9-df55c5c42533
  response:
    body:
      string: '{"id": "5dfb7181-e80b-40a1-aba9-df55c5c42533", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "08a06115-bfd0-4e62-bc88-22a89b56c0ec", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/08a06115-bfd0-4e62-bc88-22a89b56c0ec/5dfb7181-e80b-40a1-aba9-df55c5c42533/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/08a06115-bfd0-4e62-bc88-22a89b56c0ec/5dfb7181-e80b-40a1-aba9-df55c5c42533/Files",
        "sqlEndpointProperties": {"connectionString": null, "id": null, "provisioningStatus":
        "InProgress"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 8a6586c0-1598-485d-972f-c43bf2ace098
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/items/5dfb7181-e80b-40a1-aba9-df55c5c42533/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2e0e106b-7c28-4636-9e7c-be64c72ad9a2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/items/5dfb7181-e80b-40a1-aba9-df55c5c42533/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ae10ee85-6d7b-4e64-b4d3-b0cb5e5f01d8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/items/5dfb7181-e80b-40a1-aba9-df55c5c42533
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - aa3b92eb-0fe0-4ab4-b644-dc0994bf7285
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
