interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5b6cb64b-1e77-45f0-9485-db8db4aad44b",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 82a95529-6276-444c-bd5c-961bd7e29528
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items
  response:
    body:
      string: '{"value": [{"id": "e259adaa-0708-459e-b63b-8702430868c7", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "6b8030b8-a720-4ce7-b27c-86921638ece3", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "07eb9019-ae99-4783-84ec-f2b7962dc21b", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "e4c6a8ad-667c-4cda-ac9f-f1b3796dcbe7", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6a5bb5d7-f5d1-4a7c-8dbf-1ecfca187f86
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c0eb671a-bad3-46d5-b417-b02cf91afc62
      RequestId:
      - 7900ac3d-b517-46ee-9a4f-0b00a710f480
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - c0eb671a-bad3-46d5-b417-b02cf91afc62
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c0eb671a-bad3-46d5-b417-b02cf91afc62
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T09:04:43.5047294",
        "lastUpdatedTimeUtc": "2026-02-03T09:04:49.9737677", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c0eb671a-bad3-46d5-b417-b02cf91afc62/result
      RequestId:
      - 1531be99-a411-4fa7-be8f-9539632bd57a
      x-ms-operation-id:
      - c0eb671a-bad3-46d5-b417-b02cf91afc62
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c0eb671a-bad3-46d5-b417-b02cf91afc62/result
  response:
    body:
      string: '{"id": "7b8085ac-745f-4a88-b06e-16a569c40a80", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5b6cb64b-1e77-45f0-9485-db8db4aad44b"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - ad41a023-e884-4c4e-a66a-b263671df724
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/cosmosDbDatabases/7b8085ac-745f-4a88-b06e-16a569c40a80
  response:
    body:
      string: '{"id": "7b8085ac-745f-4a88-b06e-16a569c40a80", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5b6cb64b-1e77-45f0-9485-db8db4aad44b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b6d58f1e-cf68-4f14-8f1e-d3bf3d7852b6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items/7b8085ac-745f-4a88-b06e-16a569c40a80/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/37cb116c-7931-4620-9f22-7a8855f32936
      RequestId:
      - 46fa3e57-2be7-4f92-827c-3790ff9e699b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 37cb116c-7931-4620-9f22-7a8855f32936
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/37cb116c-7931-4620-9f22-7a8855f32936/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9pdGVtL0Nvc21vc0RCL2RlZmluaXRpb24vQ29zbW9zREIvMi4wLjAvc2NoZW1hLmpzb24iLAogICJjb250YWluZXJzIjogW10KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkNvc21vc0RCRGF0YWJhc2UiLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d52aaf1f-28af-4056-ae66-a932e83fa5c2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items/7b8085ac-745f-4a88-b06e-16a569c40a80/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 06c9a988-9eda-4dac-82df-3d0b63985421
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items/7b8085ac-745f-4a88-b06e-16a569c40a80
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f69af616-65c8-429f-affb-4c9977fcc292
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
