interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "08a06115-bfd0-4e62-bc88-22a89b56c0ec", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0306d10d-d8ed-4c9a-ae32-3e89c3b8f550
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f28cef10-6e9d-4fe1-a4a2-32f290af37ab
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bf60dbaf-7e65-45f8-b85f-8aab0fd131bb
      RequestId:
      - 13820c21-8d32-48ee-9dcf-f27f67fa4f73
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - bf60dbaf-7e65-45f8-b85f-8aab0fd131bb
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bf60dbaf-7e65-45f8-b85f-8aab0fd131bb
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T07:44:08.458376",
        "lastUpdatedTimeUtc": "2026-01-19T07:44:24.789603", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bf60dbaf-7e65-45f8-b85f-8aab0fd131bb/result
      RequestId:
      - c5752b50-a591-4873-9f8f-46611ab20fa4
      x-ms-operation-id:
      - bf60dbaf-7e65-45f8-b85f-8aab0fd131bb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/bf60dbaf-7e65-45f8-b85f-8aab0fd131bb/result
  response:
    body:
      string: '{"id": "8d6779a1-881c-4b36-b4a8-010445041734", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "08a06115-bfd0-4e62-bc88-22a89b56c0ec"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 383ecbd2-f2c7-4914-a611-0d2a0773c703
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/warehouses/8d6779a1-881c-4b36-b4a8-010445041734
  response:
    body:
      string: '{"id": "8d6779a1-881c-4b36-b4a8-010445041734", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "08a06115-bfd0-4e62-bc88-22a89b56c0ec", "properties": {"connectionInfo": "vwbb4lsqmqqejdvenqo7wshysy-cvq2acgqx5re5peiekujwvwa5q.datawarehouse.fabric.microsoft.com",
        "connectionString": "mock_connection_string", "createdDate": "2026-01-19T07:44:08.2551891",
        "lastUpdatedTime": "2026-01-19T07:44:24.7584031", "collationType": "Latin1_General_100_BIN2_UTF8",
        "creationMode": "New", "sourceRestorePoint": null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - d367733d-cfb5-4a2e-8689-b869ad44e170
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/items/8d6779a1-881c-4b36-b4a8-010445041734/connections
  response:
    body:
      string: '{"requestId": "82d1612b-0cfd-4557-a124-e201b94304eb", "errorCode":
        "OperationNotSupportedForItem", "message": "Operation not supported for requested
        item"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 82d1612b-0cfd-4557-a124-e201b94304eb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - OperationNotSupportedForItem
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/items/8d6779a1-881c-4b36-b4a8-010445041734
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ea63ee70-8e18-4300-87aa-1eeaf49ddded
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
