interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "cceca470-9fd6-4ae8-90ac-6d12eaa8c775",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 66280abb-0dd7-4689-9748-4ccf1b1314c7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cceca470-9fd6-4ae8-90ac-6d12eaa8c775/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - daff1194-f5a5-4a1d-ab1d-610b5c442fc3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Lakehouse", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cceca470-9fd6-4ae8-90ac-6d12eaa8c775/lakehouses
  response:
    body:
      string: '{"id": "92d09006-9871-4039-b89d-fa33ab4478ba", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "cceca470-9fd6-4ae8-90ac-6d12eaa8c775"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c291ef47-c157-4611-9648-9982aa7a96b6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cceca470-9fd6-4ae8-90ac-6d12eaa8c775/lakehouses/92d09006-9871-4039-b89d-fa33ab4478ba
  response:
    body:
      string: '{"id": "92d09006-9871-4039-b89d-fa33ab4478ba", "type": "Lakehouse",
        "displayName": "fabcli000001", "workspaceId":
        "cceca470-9fd6-4ae8-90ac-6d12eaa8c775", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/cceca470-9fd6-4ae8-90ac-6d12eaa8c775/92d09006-9871-4039-b89d-fa33ab4478ba/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/cceca470-9fd6-4ae8-90ac-6d12eaa8c775/92d09006-9871-4039-b89d-fa33ab4478ba/Files",
        "sqlEndpointProperties": {"connectionString": null, "id": null, "provisioningStatus":
        "InProgress"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b6cd3ef8-011c-4f56-a429-280b4cef2903
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cceca470-9fd6-4ae8-90ac-6d12eaa8c775/items/92d09006-9871-4039-b89d-fa33ab4478ba/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "lakehouse.metadata.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": "alm.settings.json", "payload":
        "ew0KICAidmVyc2lvbiI6ICIxLjAuMSIsDQogICJvYmplY3RUeXBlcyI6IFsNCiAgICB7DQogICAgICAibmFtZSI6ICJTaG9ydGN1dHMiLA0KICAgICAgInN0YXRlIjogIkVuYWJsZWQiLA0KICAgICAgInN1Yk9iamVjdFR5cGVzIjogWw0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLk9uZUxha2UiLA0KICAgICAgICAgICJzdGF0ZSI6ICJFbmFibGVkIg0KICAgICAgICB9LA0KICAgICAgICB7DQogICAgICAgICAgIm5hbWUiOiAiU2hvcnRjdXRzLkFkbHNHZW4yIiwNCiAgICAgICAgICAic3RhdGUiOiAiRW5hYmxlZCINCiAgICAgICAgfSwNCiAg[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cceca470-9fd6-4ae8-90ac-6d12eaa8c775/items/92d09006-9871-4039-b89d-fa33ab4478ba/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7b6fb3c7-39d6-499b-b676-6bddd1599c8c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cceca470-9fd6-4ae8-90ac-6d12eaa8c775/items/92d09006-9871-4039-b89d-fa33ab4478ba/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d5d1d4ea-7018-4182-9c21-9953ac0ce242
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/cceca470-9fd6-4ae8-90ac-6d12eaa8c775/items/92d09006-9871-4039-b89d-fa33ab4478ba
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - cb49e07d-ec09-46fd-8b65-8bed401910a8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
