interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4df47610-5d6e-44c3-a836-b134eb168ed5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items
  response:
    body:
      string: '{"value": [{"id": "4307c500-c838-4ca4-a060-269fa6b39c7d", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"},
        {"id": "4ca66565-458e-479c-8a9c-dde50e3396bc", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260128135038", "description": "", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}, {"id": "bddf27c3-d893-4273-9035-ff67eeffc533",
        "type": "Warehouse", "displayName": "StagingWarehouseForDataflows_20260128135101",
        "description": "", "workspaceId": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"},
        {"id": "d2274a21-9781-499c-aadc-5c2080d36cb3", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260128135038", "description": "", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 37094891-ba17-4a35-b423-3a5028fa5bd4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments
  response:
    body:
      string: '{"id": "217153be-4e1d-4ff0-b3af-23a207d012c8", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e9a1bde2-0395-444e-9a6e-0bc5cee7a784
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments/217153be-4e1d-4ff0-b3af-23a207d012c8
  response:
    body:
      string: '{"id": "217153be-4e1d-4ff0-b3af-23a207d012c8", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392", "properties": {"publishDetails": {"state":
        "Success", "targetVersion": "cdfdf2c8-c940-499e-a848-3627c2f40cfd", "startTime":
        "2026-01-28T13:53:28.6021436Z", "endTime": "2026-01-28T13:53:28.6021436Z",
        "componentPublishInfo": {"sparkSettings": {"state": "Success"}, "sparkLibraries":
        {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 92b22928-687e-4a8c-9b28-64cc3f78acd4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/217153be-4e1d-4ff0-b3af-23a207d012c8/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3d457545-f79b-4e2c-a7f1-630b5498954c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments/217153be-4e1d-4ff0-b3af-23a207d012c8/libraries
  response:
    body:
      string: '{"requestId": "7bc347c7-c86a-4bd5-89b9-b4053024fa45", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any published libraries. Please publish libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7bc347c7-c86a-4bd5-89b9-b4053024fa45
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments/217153be-4e1d-4ff0-b3af-23a207d012c8/staging/libraries
  response:
    body:
      string: '{"requestId": "35373c99-3865-46ac-8ce4-bdbb396d69e9", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any staged libraries. Please upload libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 35373c99-3865-46ac-8ce4-bdbb396d69e9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments/217153be-4e1d-4ff0-b3af-23a207d012c8/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 19c86528-aa2f-4727-a571-a016f76192c1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments/217153be-4e1d-4ff0-b3af-23a207d012c8/staging/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4a9f3c1e-5aee-4cdd-ad15-90b96826bca1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/217153be-4e1d-4ff0-b3af-23a207d012c8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 48c3fc58-4ab8-4862-ad2f-2fa26315b02c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
