interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d05333bd-223e-4af2-8442-c731df672bfb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc/items
  response:
    body:
      string: '{"value": [{"id": "dd5e85b9-1a09-479c-8dbd-7d6e9326530d", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc"},
        {"id": "4063c175-1518-4825-ac84-b3ccf978225a", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 95bffa33-0095-49d1-bdf0-3711e3517e04
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001_auto", "type": "DigitalTwinBuilder", "folderId":
      null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cfee826b-230e-4bcb-95e2-467f43e69f9e
      RequestId:
      - 62535bba-fab0-48cd-baf7-ac3d80398631
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - cfee826b-230e-4bcb-95e2-467f43e69f9e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cfee826b-230e-4bcb-95e2-467f43e69f9e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-05-13T06:47:54.9500495",
        "lastUpdatedTimeUtc": "2026-05-13T06:48:02.2114582", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cfee826b-230e-4bcb-95e2-467f43e69f9e/result
      RequestId:
      - 7623d8af-7ea4-41b1-9cb8-d29bd05e6292
      x-ms-operation-id:
      - cfee826b-230e-4bcb-95e2-467f43e69f9e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cfee826b-230e-4bcb-95e2-467f43e69f9e/result
  response:
    body:
      string: '{"id": "f768b84f-31a5-4fe0-ac58-1041e5e58a57", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 8cbc0f80-8790-4042-9560-c9384a13165d
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilderFlow", "folderId":
      null, "creationPayload": {"digitalTwinBuilderItemReference": {"referenceType":
      "ById", "itemId": "f768b84f-31a5-4fe0-ac58-1041e5e58a57", "workspaceId": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc/digitalTwinBuilderFlows
  response:
    body:
      string: '{"id": "9e25cd7f-0f4b-42ee-b388-ac7c3fe6f400", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - bd087204-494e-43f6-89e4-277cad2885bb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc/digitalTwinBuilderFlows/9e25cd7f-0f4b-42ee-b388-ac7c3fe6f400
  response:
    body:
      string: '{"id": "9e25cd7f-0f4b-42ee-b388-ac7c3fe6f400", "type": "DigitalTwinBuilderFlow",
        "displayName": "fabcli000001", "description": "", "workspaceId": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc",
        "properties": {"digitalTwinBuilderItemReference": {"referenceType": "ById",
        "itemId": "f768b84f-31a5-4fe0-ac58-1041e5e58a57", "workspaceId": "817e026f-7fcd-4779-9cb3-a5b6ff5294cc"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 772924fe-3c7e-4b86-acf8-8546d1771ab2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc/items/9e25cd7f-0f4b-42ee-b388-ac7c3fe6f400/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/53e0f5c4-ca30-4571-a37a-92f0ffd15df3
      RequestId:
      - dc65f027-d418-4f52-9752-0c0476f1cf4e
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 53e0f5c4-ca30-4571-a37a-92f0ffd15df3
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/53e0f5c4-ca30-4571-a37a-92f0ffd15df3/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiRGlnaXRhbFR3aW5CdWlsZGVySWQiOiAiZjc2OGI4NGYtMzFhNS00ZmUwLWFjNTgtMTA0MWU1ZTU4YTU3IiwNCiAgIk9wZXJhdGlvbklkcyI6IFtdLA0KICAiSXNPbkRlbWFuZCI6IGZhbHNlDQp9",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlckZsb3ciLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - a7295a58-8490-4997-aeb4-ed591052d1c1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc/items/9e25cd7f-0f4b-42ee-b388-ac7c3fe6f400/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b2881df1-23e9-444a-9b01-ac9bd7b9d751
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/817e026f-7fcd-4779-9cb3-a5b6ff5294cc/items/9e25cd7f-0f4b-42ee-b388-ac7c3fe6f400
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - fec8efbb-6dc1-4097-a69c-94206373623b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
