interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "59bb8813-e165-4aea-93c5-39a3a2a60b36", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bb936fbf-4bb2-4cde-93a5-809cd1d76f0f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b58d7b1a-a43a-4439-96ba-734e40d30be4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5be973b8-1ff4-44f5-91f3-5c44056df31b
      RequestId:
      - 1ef8870b-ede3-47bc-a60f-6daa45b1eb54
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5be973b8-1ff4-44f5-91f3-5c44056df31b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5be973b8-1ff4-44f5-91f3-5c44056df31b
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T07:51:13.250301",
        "lastUpdatedTimeUtc": "2026-01-19T07:51:25.4873157", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5be973b8-1ff4-44f5-91f3-5c44056df31b/result
      RequestId:
      - 79144609-325d-49f1-9cf1-b6cb1dc210e1
      x-ms-operation-id:
      - 5be973b8-1ff4-44f5-91f3-5c44056df31b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5be973b8-1ff4-44f5-91f3-5c44056df31b/result
  response:
    body:
      string: '{"id": "93598bdc-310c-4aed-afaf-4b229212c227", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "59bb8813-e165-4aea-93c5-39a3a2a60b36"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 4ec8e8d2-1e3c-429c-abef-1e9b42fa9c90
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/warehouses/93598bdc-310c-4aed-afaf-4b229212c227
  response:
    body:
      string: '{"id": "93598bdc-310c-4aed-afaf-4b229212c227", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "59bb8813-e165-4aea-93c5-39a3a2a60b36", "properties": {"connectionInfo": "vwbb4lsqmqqejdvenqo7wshysy-coelwwlf4hveve6fhgr2fjqlgy.datawarehouse.fabric.microsoft.com",
        "connectionString": "mock_connection_string", "createdDate": "2026-01-19T07:51:13.0471801",
        "lastUpdatedTime": "2026-01-19T07:51:29.5345753", "collationType": "Latin1_General_100_BIN2_UTF8",
        "creationMode": "New", "sourceRestorePoint": null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 08c538d8-d992-4a20-b1ba-92a4a5b48832
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/items/93598bdc-310c-4aed-afaf-4b229212c227/connections
  response:
    body:
      string: '{"requestId": "d540bb9d-8be2-46b6-88ba-3923df8ced2f", "errorCode":
        "OperationNotSupportedForItem", "message": "Operation not supported for requested
        item"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d540bb9d-8be2-46b6-88ba-3923df8ced2f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - OperationNotSupportedForItem
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/items/93598bdc-310c-4aed-afaf-4b229212c227
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ab1763ac-bd33-4a3e-8bf7-3897332e87ba
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
