interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5b6cb64b-1e77-45f0-9485-db8db4aad44b",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 66248ddd-0806-44be-93ca-301621b7b6f6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items
  response:
    body:
      string: '{"value": [{"id": "e259adaa-0708-459e-b63b-8702430868c7", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "6b8030b8-a720-4ce7-b27c-86921638ece3", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "07eb9019-ae99-4783-84ec-f2b7962dc21b", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "e4c6a8ad-667c-4cda-ac9f-f1b3796dcbe7", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 899abb4f-1f2e-414f-9741-e7cfd1d395e7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "UserDataFunction", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/userdatafunctions
  response:
    body:
      string: '{"id": "7459ca48-0664-43f2-96cc-7ad034ffa072", "type": "UserDataFunction",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5b6cb64b-1e77-45f0-9485-db8db4aad44b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7b4db80d-271d-47d5-bd27-6e91bafdcee9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/userdatafunctions/7459ca48-0664-43f2-96cc-7ad034ffa072
  response:
    body:
      string: '{"id": "7459ca48-0664-43f2-96cc-7ad034ffa072", "type": "UserDataFunction",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5b6cb64b-1e77-45f0-9485-db8db4aad44b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b897a014-eecc-4b57-b36f-b66089433ecd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items/7459ca48-0664-43f2-96cc-7ad034ffa072/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fd3cef1c-506d-4ec9-8e98-a6fd750ab66e
      RequestId:
      - 9f0a7fef-4462-4ae0-ad34-959c5b9b247f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - fd3cef1c-506d-4ec9-8e98-a6fd750ab66e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fd3cef1c-506d-4ec9-8e98-a6fd750ab66e
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T09:04:14.8590534",
        "lastUpdatedTimeUtc": "2026-02-03T09:04:15.1403052", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fd3cef1c-506d-4ec9-8e98-a6fd750ab66e/result
      RequestId:
      - 639e24cb-67ec-4958-b854-da7969b4ea79
      x-ms-operation-id:
      - fd3cef1c-506d-4ec9-8e98-a6fd750ab66e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fd3cef1c-506d-4ec9-8e98-a6fd750ab66e/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS91c2VyRGF0YUZ1bmN0aW9uL2RlZmluaXRpb24vMS4xLjAvc2NoZW1hLmpzb24iLA0KICAicnVudGltZSI6ICJQWVRIT04iLA0KICAiY29ubmVjdGVkRGF0YVNvdXJjZXMiOiBbXSwNCiAgImZ1bmN0aW9ucyI6IFtdLA0KICAibGlicmFyaWVzIjogew0KICAgICJwdWJsaWMiOiBbXSwNCiAgICAicHJpdmF0ZSI6IFtdDQogIH0NCn0=",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIlVzZXJEYXRhRnVuY3Rpb24iLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 56fc3a55-874a-43a0-b0dc-878b9184222f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items/7459ca48-0664-43f2-96cc-7ad034ffa072/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a181171f-0971-4713-9275-b9e00b4679fa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items/7459ca48-0664-43f2-96cc-7ad034ffa072
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4586d546-a099-4bd7-b4d7-76bf1bef2b55
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
