interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "bb0ba71a-4df8-4dd0-a627-355ca5802c9f",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4d34e027-27b9-40d4-98f2-6aa580c7b6fb
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6bf435d7-e167-4bcc-82b5-750f00cabdc1
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/environments
  response:
    body:
      string: '{"id": "06278c3e-97ba-4b7e-a133-06295bc8106f", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "bb0ba71a-4df8-4dd0-a627-355ca5802c9f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7349ee59-fd8b-439c-890a-3a89da4a57c2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/environments/06278c3e-97ba-4b7e-a133-06295bc8106f
  response:
    body:
      string: '{"id": "06278c3e-97ba-4b7e-a133-06295bc8106f", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "bb0ba71a-4df8-4dd0-a627-355ca5802c9f", "properties": {"publishDetails": {"state":
        "Success", "targetVersion": "9bc00afc-9c20-4c3d-ab22-939024b33ab4", "startTime":
        "2025-09-03T03:25:43.4201979Z", "endTime": "2025-09-03T03:25:43.4201979Z",
        "componentPublishInfo": {"sparkLibraries": {"state": "Success"}, "sparkSettings":
        {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c97cadf6-2276-4749-a9e4-a5e0b5bce99a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items/06278c3e-97ba-4b7e-a133-06295bc8106f/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 35e45320-5d06-4f44-9e9e-8aa5177caaad
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/environments/06278c3e-97ba-4b7e-a133-06295bc8106f/libraries
  response:
    body:
      string: '{"requestId": "dd7644c6-14fe-4403-b5af-056df8a0ef69", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any published libraries. Please publish libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dd7644c6-14fe-4403-b5af-056df8a0ef69
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/environments/06278c3e-97ba-4b7e-a133-06295bc8106f/staging/libraries
  response:
    body:
      string: '{"requestId": "576a8925-085c-425c-b7be-1f655da70767", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any staged libraries. Please upload libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 576a8925-085c-425c-b7be-1f655da70767
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/environments/06278c3e-97ba-4b7e-a133-06295bc8106f/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2ddff935-663a-4b01-8d48-b1b17923c5d2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/environments/06278c3e-97ba-4b7e-a133-06295bc8106f/staging/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 84a893ef-de1e-4a60-9e0b-f3b32af128a2
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items/06278c3e-97ba-4b7e-a133-06295bc8106f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 342ac825-b493-4a15-874e-5bb85b78db0e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
