interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "5c04eadd-130b-4a87-9ec1-6271e498f85a", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6efa978c-1e7d-4ff7-9d8d-e23b4d13fa7d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items
  response:
    body:
      string: '{"value": [{"id": "c898ac9c-50b0-4ac6-914d-b6ddbf14ffbc", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "5c04eadd-130b-4a87-9ec1-6271e498f85a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 38891771-4253-4221-874f-db138406281e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Warehouse", "folderId": null, "creationPayload": {"defaultCollation": "Latin1_General_100_BIN2_UTF8"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/warehouses
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dbd467a9-3a5c-4ac6-8743-ec92917b885a
      RequestId:
      - e3110ddd-aabe-419e-94ae-acb4b85b215d
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - dbd467a9-3a5c-4ac6-8743-ec92917b885a
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dbd467a9-3a5c-4ac6-8743-ec92917b885a
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T07:41:14.3712961",
        "lastUpdatedTimeUtc": "2026-01-19T07:41:26.6072808", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dbd467a9-3a5c-4ac6-8743-ec92917b885a/result
      RequestId:
      - 4ce1bd7e-117b-4587-8e9f-30a4960e34e0
      x-ms-operation-id:
      - dbd467a9-3a5c-4ac6-8743-ec92917b885a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dbd467a9-3a5c-4ac6-8743-ec92917b885a/result
  response:
    body:
      string: '{"id": "884865ee-ee95-4510-aabf-851bee579c83", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5c04eadd-130b-4a87-9ec1-6271e498f85a"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 95960c39-c9d4-4835-878c-90dbc736f33c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/warehouses/884865ee-ee95-4510-aabf-851bee579c83
  response:
    body:
      string: '{"id": "884865ee-ee95-4510-aabf-851bee579c83", "type": "Warehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5c04eadd-130b-4a87-9ec1-6271e498f85a", "properties": {"connectionInfo": "vwbb4lsqmqqejdvenqo7wshysy-3xvaixalcoduvhwbmjy6jghyli.datawarehouse.fabric.microsoft.com",
        "connectionString": "mock_connection_string", "createdDate": "2026-01-19T07:41:14.1369329",
        "lastUpdatedTime": "2026-01-19T07:41:26.4823124", "collationType": "Latin1_General_100_BIN2_UTF8",
        "creationMode": "New", "sourceRestorePoint": null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b3ca9b9b-74bd-4464-bda1-1efc438145c2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/884865ee-ee95-4510-aabf-851bee579c83/connections
  response:
    body:
      string: '{"requestId": "4d163c5e-2838-4968-a6e3-67c0e1d555be", "errorCode":
        "OperationNotSupportedForItem", "message": "Operation not supported for requested
        item"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4d163c5e-2838-4968-a6e3-67c0e1d555be
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - OperationNotSupportedForItem
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/884865ee-ee95-4510-aabf-851bee579c83
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - afcd4e5f-ab96-4507-af5b-15998af74bc8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
