interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "59bb8813-e165-4aea-93c5-39a3a2a60b36", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 51d2235f-ac2b-40a5-8675-831630cfe3f4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d0d6b979-fcda-4d6f-8cf6-e527f604d98c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/lakehouses
  response:
    body:
      string: '{"id": "baf874d6-09d0-445b-a524-e6f42b9f2222", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "59bb8813-e165-4aea-93c5-39a3a2a60b36"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 8c4a5abd-6dbc-40ff-b0f0-e13d8851a5ae
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/lakehouses/baf874d6-09d0-445b-a524-e6f42b9f2222
  response:
    body:
      string: '{"id": "baf874d6-09d0-445b-a524-e6f42b9f2222", "type": "Lakehouse",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "59bb8813-e165-4aea-93c5-39a3a2a60b36", "properties": {"oneLakeTablesPath":
        "https://onelake.dfs.fabric.microsoft.com/59bb8813-e165-4aea-93c5-39a3a2a60b36/baf874d6-09d0-445b-a524-e6f42b9f2222/Tables",
        "oneLakeFilesPath": "https://onelake.dfs.fabric.microsoft.com/59bb8813-e165-4aea-93c5-39a3a2a60b36/baf874d6-09d0-445b-a524-e6f42b9f2222/Files",
        "sqlEndpointProperties": {"connectionString": null, "id": null, "provisioningStatus":
        "InProgress"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - ccde9fe8-bf16-4349-b0f5-5bd2590008af
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/items/baf874d6-09d0-445b-a524-e6f42b9f2222/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dbba4078-d693-4be4-b3a3-ae0054ca3aaa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/items/baf874d6-09d0-445b-a524-e6f42b9f2222/jobs/TableMaintenance/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fa04aad2-bb7f-4397-a588-f6c0b588ccbd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/items/baf874d6-09d0-445b-a524-e6f42b9f2222
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - fdcb69c2-0743-4fba-b60b-15e98a7caa4c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
