interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cd678df3-bcd9-4158-ad37-b345e02be824
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bb7c4b05-de20-4415-b990-e43e480c3d80
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/lakehouses
  response:
    body:
      string: '{"id": "71295c08-a4fa-487e-98a8-7bd98013fb88", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 462d0050-277d-41bd-bbe1-15bb6ae2cec1
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"paths": ["Files/images/taxi_zone_map_bronx.jpg"], "recipient": {"userprincipalname":
      "lisa@fabrikam.com", "tenantid": "c51dc03f-268a-4da0-a879-25f24947ab8b"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/items/71295c08-a4fa-487e-98a8-7bd98013fb88/externalDataShares
  response:
    body:
      string: '{"id": "d1efb7a3-e0a4-4099-bcff-5f89d04af070", "paths": ["https://onelake.dfs.fabric.microsoft.com/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/71295c08-a4fa-487e-98a8-7bd98013fb88/Files/images/taxi_zone_map_bronx.jpg"],
        "creatorPrincipal": {"id": "00000000-0000-0000-0000-000000000001", "type":
        "User"}, "recipient": {"userPrincipalName": "lisa@fabrikam.com", "tenantId":
        "c51dc03f-268a-4da0-a879-25f24947ab8b"}, "status": "Pending", "expirationTimeUtc":
        "2025-12-13T06:55:35.2933333", "workspaceId": "4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6",
        "itemId": "71295c08-a4fa-487e-98a8-7bd98013fb88", "invitationUrl": "mock_invitation_url"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1.0/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/artifacts/71295c08-a4fa-487e-98a8-7bd98013fb88/security/roles/d1efb7a3-e0a4-4099-bcff-5f89d04af070
      RequestId:
      - 47eb87aa-98e4-4f60-a6f6-d1fd8b97a46a
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/items/71295c08-a4fa-487e-98a8-7bd98013fb88/externalDataShares/d1efb7a3-e0a4-4099-bcff-5f89d04af070
  response:
    body:
      string: '{"id": "d1efb7a3-e0a4-4099-bcff-5f89d04af070", "paths": ["https://onelake.dfs.fabric.microsoft.com/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/71295c08-a4fa-487e-98a8-7bd98013fb88/Files/images/taxi_zone_map_bronx.jpg"],
        "creatorPrincipal": {"id": "00000000-0000-0000-0000-000000000001", "type":
        "User"}, "recipient": {"userPrincipalName": "lisa@fabrikam.com", "tenantId":
        "c51dc03f-268a-4da0-a879-25f24947ab8b"}, "status": "Pending", "expirationTimeUtc":
        "2025-12-13T06:55:35.2933333", "workspaceId": "4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6",
        "itemId": "71295c08-a4fa-487e-98a8-7bd98013fb88", "invitationUrl": "mock_invitation_url"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9b3e6024-57ee-4559-90a5-da1a160edcdf
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/items/71295c08-a4fa-487e-98a8-7bd98013fb88/externalDataShares/d1efb7a3-e0a4-4099-bcff-5f89d04af070/revoke
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 9dac8787-31ba-4c19-a0e6-d6715a0b0f8e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/items/71295c08-a4fa-487e-98a8-7bd98013fb88
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 38fa11d8-d933-474b-8f59-9d117b5a1919
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
