interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "5c04eadd-130b-4a87-9ec1-6271e498f85a", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c0b2f5c0-28cf-464d-b0b2-67b55778ca08
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items
  response:
    body:
      string: '{"value": [{"id": "c898ac9c-50b0-4ac6-914d-b6ddbf14ffbc", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "5c04eadd-130b-4a87-9ec1-6271e498f85a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 79fdfda8-97c6-420a-a45f-f33e1fee9ffa
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "GraphQLApi", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/graphqlapis
  response:
    body:
      string: '{"id": "5d1779e9-9f9f-4047-9f9e-27b8354f876b", "type": "GraphQLApi",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5c04eadd-130b-4a87-9ec1-6271e498f85a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c91654b0-2ba9-4451-9088-08b55b64a050
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/graphqlapis/5d1779e9-9f9f-4047-9f9e-27b8354f876b
  response:
    body:
      string: '{"id": "5d1779e9-9f9f-4047-9f9e-27b8354f876b", "type": "GraphQLApi",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5c04eadd-130b-4a87-9ec1-6271e498f85a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a8dff983-90a5-4e56-81e1-448160027f5e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/5d1779e9-9f9f-4047-9f9e-27b8354f876b/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6473bedd-c71a-45c7-bdf1-7394566c4f3c
      RequestId:
      - ab83fa0d-6b20-43aa-8e18-3fdf01256ad6
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 6473bedd-c71a-45c7-bdf1-7394566c4f3c
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6473bedd-c71a-45c7-bdf1-7394566c4f3c
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T07:42:03.7869808",
        "lastUpdatedTimeUtc": "2026-01-19T07:42:04.6310074", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6473bedd-c71a-45c7-bdf1-7394566c4f3c/result
      RequestId:
      - 2886dc8c-8cc9-4719-9073-3a9fd4562952
      x-ms-operation-id:
      - 6473bedd-c71a-45c7-bdf1-7394566c4f3c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6473bedd-c71a-45c7-bdf1-7394566c4f3c/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "graphql-definition.json", "payload":
        "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9ncmFwaHFsQXBpL2RlZmluaXRpb24vMS4wLjAvc2NoZW1hLmpzb24iLA0KICAiZGF0YXNvdXJjZXMiOiBbXQ0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkdyYXBoUUxBcGkiLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 2fa7b5b0-d625-4207-823f-601d7976a5b8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/5d1779e9-9f9f-4047-9f9e-27b8354f876b/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fabab528-2f97-4165-bdfa-8ce14687b2c8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/5d1779e9-9f9f-4047-9f9e-27b8354f876b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d630d180-1f6d-43af-9866-fda2c604ee93
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
