interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 767cea04-e544-4bea-ba9d-08a5ce71f138
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 31016968-cdce-49d7-9d27-5cbd18a3b648
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/environments
  response:
    body:
      string: '{"id": "558c4ab7-4fab-4520-8600-5ba5772c9f59", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - fe746dbd-d6c2-4993-bcb7-3130c2c5226e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/environments/558c4ab7-4fab-4520-8600-5ba5772c9f59
  response:
    body:
      string: '{"id": "558c4ab7-4fab-4520-8600-5ba5772c9f59", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6", "properties": {"publishDetails": {"state":
        "Success", "targetVersion": "9b418e06-f6df-4ace-9e4f-1a3c9fe0fa45", "startTime":
        "2025-09-14T06:52:30.1839014Z", "endTime": "2025-09-14T06:52:30.1839014Z",
        "componentPublishInfo": {"sparkLibraries": {"state": "Success"}, "sparkSettings":
        {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b6e7cec7-51e5-42e9-94eb-ed91a80d69cd
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/items/558c4ab7-4fab-4520-8600-5ba5772c9f59/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e55b9862-ab84-4db4-962b-24bf4b7107f5
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/environments/558c4ab7-4fab-4520-8600-5ba5772c9f59/libraries
  response:
    body:
      string: '{"requestId": "cb4fcc33-be22-44fc-8955-bac169dc0654", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any published libraries. Please publish libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cb4fcc33-be22-44fc-8955-bac169dc0654
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/environments/558c4ab7-4fab-4520-8600-5ba5772c9f59/staging/libraries
  response:
    body:
      string: '{"requestId": "15cae70e-c164-410b-8d2d-e54547d2b900", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any staged libraries. Please upload libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 15cae70e-c164-410b-8d2d-e54547d2b900
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/environments/558c4ab7-4fab-4520-8600-5ba5772c9f59/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 49429fcc-24e5-4f4c-a999-d27708bcc58e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/environments/558c4ab7-4fab-4520-8600-5ba5772c9f59/staging/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 50959705-13d0-4c17-878b-7274c577ef26
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/4bd4d574-c64f-4ced-a2c0-25cc4e6f03c6/items/558c4ab7-4fab-4520-8600-5ba5772c9f59
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3270736e-08f3-4100-92aa-bb19dd0d82bd
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
