interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "08a06115-bfd0-4e62-bc88-22a89b56c0ec", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cb2054ba-0533-4e5d-9f95-3fbc011bcfdd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4982914b-de68-4b38-8fd0-5c0af5ba21e5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/environments
  response:
    body:
      string: '{"id": "0ac193a8-2747-456d-8045-80d82047541d", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "08a06115-bfd0-4e62-bc88-22a89b56c0ec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a7bb1f44-d4d8-4148-a887-27da82776b56
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/environments/0ac193a8-2747-456d-8045-80d82047541d
  response:
    body:
      string: '{"id": "0ac193a8-2747-456d-8045-80d82047541d", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "08a06115-bfd0-4e62-bc88-22a89b56c0ec", "properties": {"publishDetails": {"state":
        "Success", "targetVersion": "edc72d11-1a22-4a31-977e-f86c24f4c2b9", "startTime":
        "2026-01-19T07:43:40.747668Z", "endTime": "2026-01-19T07:43:40.747668Z", "componentPublishInfo":
        {"sparkSettings": {"state": "Success"}, "sparkLibraries": {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a857c9bf-cb22-468c-8429-8ccffc5aceeb
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/items/0ac193a8-2747-456d-8045-80d82047541d/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d2820604-0122-4dd3-8c87-91f654a9fc7a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/environments/0ac193a8-2747-456d-8045-80d82047541d/libraries
  response:
    body:
      string: '{"requestId": "8403c44d-f7c5-4792-aab4-a9d632190593", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any published libraries. Please publish libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8403c44d-f7c5-4792-aab4-a9d632190593
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/environments/0ac193a8-2747-456d-8045-80d82047541d/staging/libraries
  response:
    body:
      string: '{"requestId": "67d64f71-a071-4ab2-9baa-e1908e446f6b", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any staged libraries. Please upload libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 67d64f71-a071-4ab2-9baa-e1908e446f6b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/environments/0ac193a8-2747-456d-8045-80d82047541d/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 86609a3e-366f-4705-9a9e-8ae5f55c86de
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/environments/0ac193a8-2747-456d-8045-80d82047541d/staging/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4b08a911-3d1e-4fbb-9593-d0c5244f7c4e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/items/0ac193a8-2747-456d-8045-80d82047541d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - a0f37876-e17d-4879-978a-5a360075eafd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
