interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "cad549a0-f515-4937-8427-e25dca22995b", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6b5d8185-fd66-4a31-933e-6753660103f2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cad549a0-f515-4937-8427-e25dca22995b/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 8e534eba-f11e-497b-9221-f13293bb4660
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cad549a0-f515-4937-8427-e25dca22995b/lakehouses
  response:
    body:
      string: '{"id": "0da125a8-1632-4b38-9d23-16b18cc0d132", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "cad549a0-f515-4937-8427-e25dca22995b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - a80dd36a-5854-4862-ad8a-2ba222365c8f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"paths": ["Files/images/taxi_zone_map_bronx.jpg"], "recipient": {"userprincipalname":
      "lisa@fabrikam.com", "tenantid": "c51dc03f-268a-4da0-a879-25f24947ab8b"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cad549a0-f515-4937-8427-e25dca22995b/items/0da125a8-1632-4b38-9d23-16b18cc0d132/externalDataShares
  response:
    body:
      string: '{"id": "a6d81e82-a09f-497a-b82a-0df24f7a06ed", "paths": ["Files/images/taxi_zone_map_bronx.jpg"],
        "creatorPrincipal": {"id": "4fdd0762-85fe-4f8b-90dc-776e8605e0b9", "type":
        "ServicePrincipal"}, "recipient": {"userPrincipalName": "lisa@fabrikam.com",
        "tenantId": "c51dc03f-268a-4da0-a879-25f24947ab8b"}, "status": "Pending",
        "expirationTimeUtc": "2026-04-19T08:01:37.0933333", "workspaceId": "cad549a0-f515-4937-8427-e25dca22995b",
        "itemId": "0da125a8-1632-4b38-9d23-16b18cc0d132", "invitationUrl": "mock_invitation_url"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1.0/workspaces/cad549a0-f515-4937-8427-e25dca22995b/artifacts/0da125a8-1632-4b38-9d23-16b18cc0d132/security/roles/a6d81e82-a09f-497a-b82a-0df24f7a06ed
      RequestId:
      - 965a289c-fe17-4399-85b8-338c0cf78624
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cad549a0-f515-4937-8427-e25dca22995b/items/0da125a8-1632-4b38-9d23-16b18cc0d132/externalDataShares/a6d81e82-a09f-497a-b82a-0df24f7a06ed
  response:
    body:
      string: '{"id": "a6d81e82-a09f-497a-b82a-0df24f7a06ed", "paths": ["Files/images/taxi_zone_map_bronx.jpg"],
        "creatorPrincipal": {"id": "4fdd0762-85fe-4f8b-90dc-776e8605e0b9", "type":
        "ServicePrincipal"}, "recipient": {"userPrincipalName": "lisa@fabrikam.com",
        "tenantId": "c51dc03f-268a-4da0-a879-25f24947ab8b"}, "status": "Pending",
        "expirationTimeUtc": "2026-04-19T08:01:37.0933333", "workspaceId": "cad549a0-f515-4937-8427-e25dca22995b",
        "itemId": "0da125a8-1632-4b38-9d23-16b18cc0d132", "invitationUrl": "mock_invitation_url"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9b20de3a-789f-4f4c-95a7-dacf5f8aff5c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cad549a0-f515-4937-8427-e25dca22995b/items/0da125a8-1632-4b38-9d23-16b18cc0d132/externalDataShares/a6d81e82-a09f-497a-b82a-0df24f7a06ed/revoke
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - f6f3b86d-865f-4b03-97ce-2a8221d16528
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/cad549a0-f515-4937-8427-e25dca22995b/items/0da125a8-1632-4b38-9d23-16b18cc0d132
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 2257202b-5281-4e5c-a9dc-32f8d93f884c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
