interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "08a06115-bfd0-4e62-bc88-22a89b56c0ec", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f44c35b6-ebca-494d-ba42-6db36608987c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/items
  response:
    body:
      string: '{"value": [{"id": "b3966149-2f64-4efb-b128-c7507b7bc501", "type": "Eventhouse",
        "displayName": "fabcli000001_auto", "description": "Created by fab", "workspaceId":
        "08a06115-bfd0-4e62-bc88-22a89b56c0ec"}, {"id": "c4dd9b5a-f670-45d8-bd0d-e7fb39aca6d3",
        "type": "KQLDatabase", "displayName": "fabcli000001_auto", "description":
        "fabcli000001_auto", "workspaceId": "08a06115-bfd0-4e62-bc88-22a89b56c0ec"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 95e8a638-2551-4dab-8940-7b8f192d7e8e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ed9e030c-a9fb-4ef0-a0e2-cd07665e1dbe
      RequestId:
      - f5f6ba76-6915-4676-b03a-ac1fd2b3da24
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ed9e030c-a9fb-4ef0-a0e2-cd07665e1dbe
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ed9e030c-a9fb-4ef0-a0e2-cd07665e1dbe
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T07:46:42.2724961",
        "lastUpdatedTimeUtc": "2026-01-19T07:47:01.5744819", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ed9e030c-a9fb-4ef0-a0e2-cd07665e1dbe/result
      RequestId:
      - a2029084-7223-4300-ba13-94750ec962bc
      x-ms-operation-id:
      - ed9e030c-a9fb-4ef0-a0e2-cd07665e1dbe
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ed9e030c-a9fb-4ef0-a0e2-cd07665e1dbe/result
  response:
    body:
      string: '{"id": "95fb202f-e1fb-4b84-b222-362a25447a13", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "08a06115-bfd0-4e62-bc88-22a89b56c0ec"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - bbb8f5b4-79e9-4533-a7bf-83d75ce7f9cb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/sqlDatabases/95fb202f-e1fb-4b84-b222-362a25447a13
  response:
    body:
      string: '{"id": "95fb202f-e1fb-4b84-b222-362a25447a13", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "08a06115-bfd0-4e62-bc88-22a89b56c0ec", "properties": {"connectionInfo": "Data
        Source=vwbb4lsqmqqejdvenqo7wshysy-cvq2acgqx5re5peiekujwvwa5q.database.fabric.microsoft.com,1433;Initial
        Catalog=fabcli000001-95fb202f-e1fb-4b84-b222-362a25447a13;Multiple Active
        Result Sets=False;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False",
        "connectionString": "mock_connection_string", "databaseName": "fabcli000001-95fb202f-e1fb-4b84-b222-362a25447a13",
        "serverFqdn": "vwbb4lsqmqqejdvenqo7wshysy-cvq2acgqx5re5peiekujwvwa5q.database.fabric.microsoft.com,1433",
        "backupRetentionDays": 7, "collation": "SQL_Latin1_General_CP1_CI_AS"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 4e03ba45-61f1-4f10-8ef9-ddde89bd30c6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/items/95fb202f-e1fb-4b84-b222-362a25447a13/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0b1904dd-dde9-45c2-8603-3a7df6ad895f
      RequestId:
      - 6023edb3-2f68-49d9-9d8f-67bbe34aa455
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 0b1904dd-dde9-45c2-8603-3a7df6ad895f
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/0b1904dd-dde9-45c2-8603-3a7df6ad895f/result
  response:
    body:
      string: '{"definition": {"format": "dacpac", "parts": [{"path": "fabcli000001.dacpac",
        "payload": "UEsDBBQAAAAIAO89M1zG6qC/qQIAALwHAAAJAAAAbW9kZWwueG1spVVdb9pAEHxOpf4Hy++1+VCbqjKJIgNNJEhIbKWqqgot9gInne+cu3ME+fXdw2ATCCm0D0jmvDOz7M4cweUi484zKs2k6LhNr+E6KBKZMjHruIWZfvrqXl58/BB0wUCUzDGDoUyRO33GsS9VBuaxBrdcp6ypztreZ9fp6vwWMuy4Q5YoqeXUeJbOi6Xk2isRXvTE7ac76cNEscQWTEBj+Xak5DNLUblOKDkHQ9yDhKWk2Wi3tw5Di0ChmWHPpNcHrtF16CcK3XHnxuTffF+vGLWXVc0kMvP1E5UqGoSfQuJHqBhw9rIi9VuNZstvtFyaw1lwjUCN2MezICy0kZlt1QnB4EyqZce9IvnbgnO9qqeqIRpIbU05hPq98wi8oJNYFdSlX3L6Nek7IveFNJjepCgMmzIazNtae2X/IRnKLKd5TBhnZmlNcEBzv24j2j[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/items/95fb202f-e1fb-4b84-b222-362a25447a13/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - cfc06a0e-7c4e-4b8e-9101-f795f46154ad
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/08a06115-bfd0-4e62-bc88-22a89b56c0ec/items/95fb202f-e1fb-4b84-b222-362a25447a13
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b3d17dad-5558-441e-ab18-254828206bda
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
