interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5de7f1a9-f85c-450e-9239-1c69317e4b76",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004",
        "capacityRegion": "Central US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - c015031e-4d98-44eb-9021-9b0e4a8f955e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5de7f1a9-f85c-450e-9239-1c69317e4b76/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 24b49444-4dc1-4797-ad64-73b4424af074
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "GraphModel", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5de7f1a9-f85c-450e-9239-1c69317e4b76/graphModels
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/da8619cd-ac26-4c8a-92d0-8261953249af
      RequestId:
      - 2f62bfee-d005-49b8-a2f3-e5913ad9888a
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - da8619cd-ac26-4c8a-92d0-8261953249af
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/da8619cd-ac26-4c8a-92d0-8261953249af
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-09-03T12:55:18.1514537",
        "lastUpdatedTimeUtc": "2026-09-03T12:55:30.3155271", "percentComplete": 100,
        "error": null, "blobInfoId": null, "resultContentType": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/da8619cd-ac26-4c8a-92d0-8261953249af/result
      RequestId:
      - 36887b8e-3453-4c74-afb0-c61320b83d15
      x-ms-operation-id:
      - da8619cd-ac26-4c8a-92d0-8261953249af
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/da8619cd-ac26-4c8a-92d0-8261953249af/result
  response:
    body:
      string: '{"id": "2b9a7831-05f5-4c38-9d7a-b53e367b6046", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "5de7f1a9-f85c-450e-9239-1c69317e4b76"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 87dc3c1f-473f-48d6-b2cd-927f89cf9f3d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5de7f1a9-f85c-450e-9239-1c69317e4b76/graphModels/2b9a7831-05f5-4c38-9d7a-b53e367b6046
  response:
    body:
      string: '{"id": "2b9a7831-05f5-4c38-9d7a-b53e367b6046", "type": "GraphModel",
        "displayName": "fabcli000001", "description": "", "workspaceId": "5de7f1a9-f85c-450e-9239-1c69317e4b76"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7d42d463-fbda-4f0d-9bc8-8b88c68b0f77
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5de7f1a9-f85c-450e-9239-1c69317e4b76/items/2b9a7831-05f5-4c38-9d7a-b53e367b6046/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/eaf2e76b-722d-415b-840f-779994fad79b
      RequestId:
      - ea9845f7-8c36-4922-a565-2e07990d817f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - eaf2e76b-722d-415b-840f-779994fad79b
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/eaf2e76b-722d-415b-840f-779994fad79b/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "graphType.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9ncmFwaEluZGV4L2RlZmluaXRpb24vZ3JhcGhUeXBlLzEuMC4wL3NjaGVtYS5qc29uIiwNCiAgIm5vZGVUeXBlcyI6IG51bGwsDQogICJlZGdlVHlwZXMiOiBudWxsDQp9",
        "payloadType": "InlineBase64"}, {"path": "dataSources.json", "payload": "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9ncmFwaEluZGV4L2RlZmluaXRpb24vZGF0YVNvdXJjZXMvMS4wLjAvc2NoZW1hLmpzb24iLA0KICAiZGF0YVNvdXJjZXMiOiBudWxsDQp9",
        "payloadType": "InlineBase64"}, {"path": "graphDefinition.json", "payload":
        "ew0KICAiJHNjaGVtYSI6ICJodHRwczovL2RldmVsb3Blci5taWNyb3NvZnQuY29tL2pzb24tc2NoZW1hcy9mYWJyaWMvaXRlbS9ncmFwaEluZGV4L2RlZmluaXRpb24vZ3JhcGhEZWZpb[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5de7f1a9-f85c-450e-9239-1c69317e4b76/items/2b9a7831-05f5-4c38-9d7a-b53e367b6046/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0beabd33-7f7d-4523-ab27-a3253e19a1b5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5de7f1a9-f85c-450e-9239-1c69317e4b76/items/2b9a7831-05f5-4c38-9d7a-b53e367b6046/jobs/refreshGraph/schedules
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3fb29b1f-6147-4ea4-a2f5-850341bdf5f1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5de7f1a9-f85c-450e-9239-1c69317e4b76/items/2b9a7831-05f5-4c38-9d7a-b53e367b6046
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3dfd900d-2379-4ffd-b31d-f72a3dbf85e9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
