interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 2969242c-40e7-47d8-8eea-24d2c01cb962
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items
  response:
    body:
      string: '{"value": [{"id": "4307c500-c838-4ca4-a060-269fa6b39c7d", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"},
        {"id": "4ca66565-458e-479c-8a9c-dde50e3396bc", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260128135038", "description": "", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}, {"id": "bddf27c3-d893-4273-9035-ff67eeffc533",
        "type": "Warehouse", "displayName": "StagingWarehouseForDataflows_20260128135101",
        "description": "", "workspaceId": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"},
        {"id": "d2274a21-9781-499c-aadc-5c2080d36cb3", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260128135038", "description": "", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ce51185e-5ccc-4eaf-8cc0-694e107b364b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments
  response:
    body:
      string: '{"id": "8b8dce6a-c4cc-4b0c-84d1-21b00b058f21", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 61a0b768-55c1-4030-8113-e31b91b81d4e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments/8b8dce6a-c4cc-4b0c-84d1-21b00b058f21
  response:
    body:
      string: '{"id": "8b8dce6a-c4cc-4b0c-84d1-21b00b058f21", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392", "properties": {"publishDetails": {"state":
        "Success", "targetVersion": "28670d51-8dcf-4cd6-befa-da425c4d429f", "startTime":
        "2026-01-28T13:52:45.2743642Z", "endTime": "2026-01-28T13:52:45.2743642Z",
        "componentPublishInfo": {"sparkSettings": {"state": "Success"}, "sparkLibraries":
        {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7eebe885-601f-4607-bfff-d43fc5c917fc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/8b8dce6a-c4cc-4b0c-84d1-21b00b058f21/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d5563d5d-9de5-49fe-9245-fec284c41eab
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments/8b8dce6a-c4cc-4b0c-84d1-21b00b058f21/libraries
  response:
    body:
      string: '{"requestId": "e0d6b73e-2875-401b-a6d7-b28031186f2e", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any published libraries. Please publish libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e0d6b73e-2875-401b-a6d7-b28031186f2e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments/8b8dce6a-c4cc-4b0c-84d1-21b00b058f21/staging/libraries
  response:
    body:
      string: '{"requestId": "b6dd2f36-9f03-4152-a530-d14e30ad13cd", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any staged libraries. Please upload libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b6dd2f36-9f03-4152-a530-d14e30ad13cd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments/8b8dce6a-c4cc-4b0c-84d1-21b00b058f21/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6ecbca7b-0e99-4442-bc78-695aeac7bb7c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments/8b8dce6a-c4cc-4b0c-84d1-21b00b058f21/staging/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7a567cf5-cf3b-430c-95a3-8bde323c1766
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/8b8dce6a-c4cc-4b0c-84d1-21b00b058f21
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 5b0fb00f-aa10-49b3-a99e-21349f54d73a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
