interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "d0b69c55-ae53-4557-9246-b52f817dcd3d",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 846150ab-0b9f-4fed-9272-24e1650408e1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d0b69c55-ae53-4557-9246-b52f817dcd3d/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0c479831-ba14-4a67-8009-29501ac24a2a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "DigitalTwinBuilder", "folderId": null}'
    headers:

      Content-Type:
      - application/json
      User-Agent:
      - ms-fabric-cli-test/1.5.0
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d0b69c55-ae53-4557-9246-b52f817dcd3d/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/58b93d98-02cc-4aa1-9f54-8ee41a87e4f6
      RequestId:
      - c93e6a25-70b9-4d0c-8376-a92e54515747
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 58b93d98-02cc-4aa1-9f54-8ee41a87e4f6
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/58b93d98-02cc-4aa1-9f54-8ee41a87e4f6
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T09:17:14.0398107",
        "lastUpdatedTimeUtc": "2026-03-31T09:17:23.7622884", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/58b93d98-02cc-4aa1-9f54-8ee41a87e4f6/result
      RequestId:
      - c5d458f7-b8ac-4686-a332-25622d9596a7
      x-ms-operation-id:
      - 58b93d98-02cc-4aa1-9f54-8ee41a87e4f6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/58b93d98-02cc-4aa1-9f54-8ee41a87e4f6/result
  response:
    body:
      string: '{"id": "9c104cfb-0a7d-455e-9a2d-bc4dbef30d33", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "workspaceId":
        "d0b69c55-ae53-4557-9246-b52f817dcd3d"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - d6279145-9830-4a88-97c9-f9ad6628a285
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d0b69c55-ae53-4557-9246-b52f817dcd3d/digitalTwinBuilders/9c104cfb-0a7d-455e-9a2d-bc4dbef30d33
  response:
    body:
      string: '{"id": "9c104cfb-0a7d-455e-9a2d-bc4dbef30d33", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "workspaceId":
        "d0b69c55-ae53-4557-9246-b52f817dcd3d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 167ce305-c23e-4f60-895e-22d5cc9f6faf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/d0b69c55-ae53-4557-9246-b52f817dcd3d/items/9c104cfb-0a7d-455e-9a2d-bc4dbef30d33/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fea596a6-e4a6-44bb-b922-274c6f953765
      RequestId:
      - 9a964e0d-c57d-42a7-8935-a09e4e081111
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - fea596a6-e4a6-44bb-b922-274c6f953765
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/fea596a6-e4a6-44bb-b922-274c6f953765/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiMWE4NzY3ZDEtNDBjMi00ZTJhLThkYjAtYWYzODNiMjcyZjY2Ig0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 2300d1f1-fa82-487f-9ef1-ef64333d49b0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/d0b69c55-ae53-4557-9246-b52f817dcd3d/items/9c104cfb-0a7d-455e-9a2d-bc4dbef30d33/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 71461e76-1153-4d7c-9280-640705301fe1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/d0b69c55-ae53-4557-9246-b52f817dcd3d/items/9c104cfb-0a7d-455e-9a2d-bc4dbef30d33
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - ca0f8423-5717-4c6f-ad8d-a9ff3f5a27cd
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
