interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "e50418d1-34ce-4019-800a-81f5ff7dee14",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "",
        "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 841d69e8-f2d1-4e32-bdbc-d0ca2542f371
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e50418d1-34ce-4019-800a-81f5ff7dee14/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7ec62a10-ebad-461d-a8fa-8e135b7d6be5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "fabcli000001", "type": "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e50418d1-34ce-4019-800a-81f5ff7dee14/environments
  response:
    body:
      string: '{"id": "eba38472-8125-4094-afd0-e635ff58b16b", "type": "Environment",
        "displayName": "fabcli000001", "description": "", "workspaceId": "e50418d1-34ce-4019-800a-81f5ff7dee14"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 9c08e542-be64-42be-ab3d-baf7cb685264
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e50418d1-34ce-4019-800a-81f5ff7dee14/environments/eba38472-8125-4094-afd0-e635ff58b16b
  response:
    body:
      string: '{"id": "eba38472-8125-4094-afd0-e635ff58b16b", "type": "Environment",
        "displayName": "fabcli000001", "description": "", "workspaceId": "e50418d1-34ce-4019-800a-81f5ff7dee14",
        "properties": {"publishDetails": {"state": "Success", "targetVersion": "5daa2af1-ecb0-4f52-99ac-a7e68c243225",
        "startTime": "2026-06-02T07:52:46.2080088Z", "endTime": "2026-06-02T07:52:46.2080088Z",
        "componentPublishInfo": {"sparkSettings": {"state": "Success"}, "sparkLibraries":
        {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 57b5c34f-0343-4fe7-be3a-c0b4e3bdb60a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/e50418d1-34ce-4019-800a-81f5ff7dee14/items/eba38472-8125-4094-afd0-e635ff58b16b/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/777d7d87-37fe-4034-b4dd-74f8c8418877
      RequestId:
      - 5da434b8-8e33-466c-b348-bdd93884f9e3
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 777d7d87-37fe-4034-b4dd-74f8c8418877
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/777d7d87-37fe-4034-b4dd-74f8c8418877
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-06-02T07:52:50.0715605",
        "lastUpdatedTimeUtc": "2026-06-02T07:52:50.2320208", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/777d7d87-37fe-4034-b4dd-74f8c8418877/result
      RequestId:
      - 69cfd729-87a8-46cf-aa16-56e54616267c
      x-ms-operation-id:
      - 777d7d87-37fe-4034-b4dd-74f8c8418877
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/777d7d87-37fe-4034-b4dd-74f8c8418877/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "Setting/Sparkcompute.yml", "payload":
        "ZW5hYmxlX25hdGl2ZV9leGVjdXRpb25fZW5naW5lOiBmYWxzZQ0KZHJpdmVyX2NvcmVzOiA4DQpkcml2ZXJfbWVtb3J5OiA1NmcNCmV4ZWN1dG9yX2NvcmVzOiA4DQpleGVjdXRvcl9tZW1vcnk6IDU2Zw0KZHluYW1pY19leGVjdXRvcl9hbGxvY2F0aW9uOg0KICBlbmFibGVkOiB0cnVlDQogIG1pbl9leGVjdXRvcnM6IDENCiAgbWF4X2V4ZWN1dG9yczogOQ0KcnVudGltZV92ZXJzaW9uOiAxLjMNCg==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkVudmlyb25tZW50IiwKICAgICJkaXNwbGF5TmFtZSI6ICJmYWJjbGkwMDAwMDEiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 5d7e50ea-cbc8-49b3-99d8-1b762d61d8de
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e50418d1-34ce-4019-800a-81f5ff7dee14/items/eba38472-8125-4094-afd0-e635ff58b16b/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 157415f6-7a44-457f-b3f5-f61d6e455713
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e50418d1-34ce-4019-800a-81f5ff7dee14/environments/eba38472-8125-4094-afd0-e635ff58b16b/libraries
  response:
    body:
      string: '{"requestId": "17e49195-6fb7-43f5-89ba-1200f73d687c", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any published libraries. Please publish libraries.", "isRetriable": false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 17e49195-6fb7-43f5-89ba-1200f73d687c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e50418d1-34ce-4019-800a-81f5ff7dee14/environments/eba38472-8125-4094-afd0-e635ff58b16b/staging/libraries
  response:
    body:
      string: '{"requestId": "f2488e6a-1099-4600-927c-10f3a9b3091a", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any staged libraries. Please upload libraries.", "isRetriable": false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f2488e6a-1099-4600-927c-10f3a9b3091a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e50418d1-34ce-4019-800a-81f5ff7dee14/environments/eba38472-8125-4094-afd0-e635ff58b16b/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b52d858b-e25c-4c2f-af5f-cf4beeb7489f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/e50418d1-34ce-4019-800a-81f5ff7dee14/environments/eba38472-8125-4094-afd0-e635ff58b16b/staging/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7c3dea2a-b97f-488e-b41e-4afdc794b95c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/e50418d1-34ce-4019-800a-81f5ff7dee14/items/eba38472-8125-4094-afd0-e635ff58b16b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 3cb7582d-8030-4f22-afc0-424ac7ec6ab5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
