interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 111232ff-7866-4540-a8eb-997e1548801a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7f60d1d8-4ace-4a7f-adb6-bae1eb8237ba
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments
  response:
    body:
      string: '{"id": "a516e15b-0abe-411e-801f-845d03cef133", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 681250fd-7344-4000-b3e5-7d36bf3a1ae1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments/a516e15b-0abe-411e-801f-845d03cef133
  response:
    body:
      string: '{"id": "a516e15b-0abe-411e-801f-845d03cef133", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392", "properties": {"publishDetails": {"state":
        "Success", "targetVersion": "2dafb21a-c8ca-4383-9e5d-079cba9bd854", "startTime":
        "2026-01-28T13:37:16.4991502Z", "endTime": "2026-01-28T13:37:16.4991502Z",
        "componentPublishInfo": {"sparkSettings": {"state": "Success"}, "sparkLibraries":
        {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f9de4178-d73b-4fd6-82ba-54d60a7aac3d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/a516e15b-0abe-411e-801f-845d03cef133/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7e643410-c27d-446d-869c-edfbc2ee531b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments/a516e15b-0abe-411e-801f-845d03cef133/libraries
  response:
    body:
      string: '{"requestId": "05016714-d6d0-4717-b9d9-b62f25f83bb8", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any published libraries. Please publish libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 05016714-d6d0-4717-b9d9-b62f25f83bb8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments/a516e15b-0abe-411e-801f-845d03cef133/staging/libraries
  response:
    body:
      string: '{"requestId": "fb08f831-5866-4f93-aca1-26540824ad72", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any staged libraries. Please upload libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fb08f831-5866-4f93-aca1-26540824ad72
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments/a516e15b-0abe-411e-801f-845d03cef133/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - fc1af281-c86b-4d1c-97fa-469767f41c74
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/environments/a516e15b-0abe-411e-801f-845d03cef133/staging/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 523c2bd9-0242-40a0-9888-8d847dc4ad82
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/a516e15b-0abe-411e-801f-845d03cef133
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 678893d3-d89b-4fe0-a7dc-df79df0e4d62
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
