interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5b6cb64b-1e77-45f0-9485-db8db4aad44b",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 801df245-ef8a-45aa-8d84-6037baad1cab
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items
  response:
    body:
      string: '{"value": [{"id": "e259adaa-0708-459e-b63b-8702430868c7", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "6b8030b8-a720-4ce7-b27c-86921638ece3", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "07eb9019-ae99-4783-84ec-f2b7962dc21b", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "e4c6a8ad-667c-4cda-ac9f-f1b3796dcbe7", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 4d518173-178f-4ba3-bb94-237c517174b8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "GraphQuerySet", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/GraphQuerySets
  response:
    body:
      string: '{"id": "f88e481c-20bc-495c-860c-74c0a4718ccc", "type": "GraphQuerySet",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5b6cb64b-1e77-45f0-9485-db8db4aad44b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - cbd69c95-7530-4e13-b74f-e8c725faed2c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/GraphQuerySets/f88e481c-20bc-495c-860c-74c0a4718ccc
  response:
    body:
      string: '{"id": "f88e481c-20bc-495c-860c-74c0a4718ccc", "type": "GraphQuerySet",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5b6cb64b-1e77-45f0-9485-db8db4aad44b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 2e4091a5-dd16-4480-84fd-142eb88bf83c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items/f88e481c-20bc-495c-860c-74c0a4718ccc/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5f9ecec8-07bb-4d03-8ba4-6fb9b2cfc69d
      RequestId:
      - b56c84d0-32e7-43cc-ae7d-4b353f7e074f
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 5f9ecec8-07bb-4d03-8ba4-6fb9b2cfc69d
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5f9ecec8-07bb-4d03-8ba4-6fb9b2cfc69d
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T09:05:44.9199886",
        "lastUpdatedTimeUtc": "2026-02-03T09:05:45.2012284", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5f9ecec8-07bb-4d03-8ba4-6fb9b2cfc69d/result
      RequestId:
      - bf9d76d5-40dd-42ef-9216-104007ae1a8f
      x-ms-operation-id:
      - 5f9ecec8-07bb-4d03-8ba4-6fb9b2cfc69d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/5f9ecec8-07bb-4d03-8ba4-6fb9b2cfc69d/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "exportedDefinition.json", "payload":
        "eyJkZXBlbmRlbmNpZXMiOltdLCJpbmRpcmVjdERlcGVuZGVuY2llcyI6W10sIkFydGlmYWN0Q29udGVudHMiOltdLCJDb25maWd1cmF0aW9uQ2F0ZWdvcmllcyI6W119",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkdyYXBoUXVlcnlTZXQiLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 5d1ad8eb-d441-4a32-9ecc-d7847e348d6e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items/f88e481c-20bc-495c-860c-74c0a4718ccc/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - e1008ff5-512e-4212-9c5a-6d379e3ad0b0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items/f88e481c-20bc-495c-860c-74c0a4718ccc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6cb992ac-c720-4b8a-bbb0-d6488ebe1953
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
