interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "cad549a0-f515-4937-8427-e25dca22995b", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3354aa8f-70b1-44e9-95ce-288d1a88beb4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cad549a0-f515-4937-8427-e25dca22995b
  response:
    body:
      string: '{"id": "cad549a0-f515-4937-8427-e25dca22995b", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ae43f20f-06b9-4a1f-a99a-78e5c4185f2c
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cad549a0-f515-4937-8427-e25dca22995b/provisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/66e6ba88-7003-4942-8a12-43d33506297a
      RequestId:
      - c88fddef-7946-4bfe-8d1a-2f88e9c57d3c
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 66e6ba88-7003-4942-8a12-43d33506297a
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/66e6ba88-7003-4942-8a12-43d33506297a
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-19T08:01:49.9927263",
        "lastUpdatedTimeUtc": "2026-01-19T08:01:51.2585374", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/66e6ba88-7003-4942-8a12-43d33506297a/result
      RequestId:
      - 9b518834-bb43-4be3-a655-6b55e2d12169
      x-ms-operation-id:
      - 66e6ba88-7003-4942-8a12-43d33506297a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/66e6ba88-7003-4942-8a12-43d33506297a/result
  response:
    body:
      string: '{"applicationId": "77553120-849b-484b-ae53-d4c2ec25ad9b", "servicePrincipalId":
        "2ad254bd-c74b-44dc-9006-abc9e48326cd"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 6ebc4576-b171-44a8-a76f-aa0693ed0b15
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/cad549a0-f515-4937-8427-e25dca22995b
  response:
    body:
      string: '{"id": "cad549a0-f515-4937-8427-e25dca22995b", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a",
        "capacityRegion": "Central US", "oneLakeEndpoints": {"blobEndpoint": "https://centralus-onelake.blob.fabric.microsoft.com",
        "dfsEndpoint": "https://centralus-onelake.dfs.fabric.microsoft.com"}, "capacityAssignmentProgress":
        "Completed", "workspaceIdentity": {"applicationId": "77553120-849b-484b-ae53-d4c2ec25ad9b",
        "servicePrincipalId": "2ad254bd-c74b-44dc-9006-abc9e48326cd"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5e24804e-8f15-411c-bef1-b4b5adc00a71
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/cad549a0-f515-4937-8427-e25dca22995b/deprovisionIdentity
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/29da28de-b17e-4263-af22-c013c6e904fa
      RequestId:
      - fc5ebb91-239d-41cc-ba06-5bc3608a0f29
      Retry-After:
      - '5'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 29da28de-b17e-4263-af22-c013c6e904fa
    status:
      code: 202
      message: Accepted
version: 1
