interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "5c04eadd-130b-4a87-9ec1-6271e498f85a", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 416ba087-6019-4f09-a80b-7ead60a49234
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3554061b-494f-48e8-9563-c06cecf425c4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "KQLDashboard", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/kqlDashboards
  response:
    body:
      string: '{"id": "89dc7741-3ed1-4371-b474-fa84b5d7bb85", "type": "KQLDashboard",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5c04eadd-130b-4a87-9ec1-6271e498f85a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - de316588-0c44-48fd-8572-ebe5c38335f3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/kqlDashboards/89dc7741-3ed1-4371-b474-fa84b5d7bb85
  response:
    body:
      string: '{"id": "89dc7741-3ed1-4371-b474-fa84b5d7bb85", "type": "KQLDashboard",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5c04eadd-130b-4a87-9ec1-6271e498f85a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - e119df5f-6c14-48a4-b8e6-055f96a98dba
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/89dc7741-3ed1-4371-b474-fa84b5d7bb85/getDefinition
  response:
    body:
      string: '{"definition": {"parts": [{"path": "RealTimeDashboard.json", "payload":
        "e30=", "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIktRTERhc2hib2FyZCIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDAxIiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 31981eb5-cf8b-4d7a-a23d-c9ca0966c7ec
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/89dc7741-3ed1-4371-b474-fa84b5d7bb85/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1f5cf7ec-aa63-4739-ba8b-a30b237ec834
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5c04eadd-130b-4a87-9ec1-6271e498f85a/items/89dc7741-3ed1-4371-b474-fa84b5d7bb85
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - cc0eca0a-eaf6-4ecc-b9bd-a61c5af06028
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
