interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "5b6cb64b-1e77-45f0-9485-db8db4aad44b",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - daff385a-6123-4fbd-a977-08c6a22a1df4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items
  response:
    body:
      string: '{"value": [{"id": "e259adaa-0708-459e-b63b-8702430868c7", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "6b8030b8-a720-4ce7-b27c-86921638ece3", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "8a817864-b5d7-42fb-aa32-d0a907d1b790", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "07eb9019-ae99-4783-84ec-f2b7962dc21b", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "e4c6a8ad-667c-4cda-ac9f-f1b3796dcbe7", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"},
        {"id": "81efd2b3-44c8-47f6-b385-4c482b7e8427", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "5b6cb64b-1e77-45f0-9485-db8db4aad44b"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 536befda-708a-49ab-a7d6-dfeb0bc98e4f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "CosmosDBDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/cosmosDbDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/666bdba0-317b-47af-b916-dc686815bb91
      RequestId:
      - 1d0be6c8-78e7-4eb0-9d56-d58901e35c68
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 666bdba0-317b-47af-b916-dc686815bb91
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/666bdba0-317b-47af-b916-dc686815bb91
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-02-03T09:07:23.5292796",
        "lastUpdatedTimeUtc": "2026-02-03T09:07:30.6721413", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/666bdba0-317b-47af-b916-dc686815bb91/result
      RequestId:
      - 326206a8-c587-4670-accc-a7caeb893185
      x-ms-operation-id:
      - 666bdba0-317b-47af-b916-dc686815bb91
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/666bdba0-317b-47af-b916-dc686815bb91/result
  response:
    body:
      string: '{"id": "1cb6fcfd-d74f-483a-9deb-eadd3b36430d", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5b6cb64b-1e77-45f0-9485-db8db4aad44b"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - a0cfd460-108b-4dd8-96ef-aad76badfb12
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/cosmosDbDatabases/1cb6fcfd-d74f-483a-9deb-eadd3b36430d
  response:
    body:
      string: '{"id": "1cb6fcfd-d74f-483a-9deb-eadd3b36430d", "type": "CosmosDBDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "5b6cb64b-1e77-45f0-9485-db8db4aad44b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - c6778364-542a-415e-8dd8-d25c93d59af7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items/1cb6fcfd-d74f-483a-9deb-eadd3b36430d/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ed3fade2-ae59-482f-948d-2b1a59129b27
      RequestId:
      - 1b2b422e-2637-4bc0-b95b-518e6425dfc0
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - ed3fade2-ae59-482f-948d-2b1a59129b27
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/ed3fade2-ae59-482f-948d-2b1a59129b27/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9pdGVtL0Nvc21vc0RCL2RlZmluaXRpb24vQ29zbW9zREIvMi4wLjAvc2NoZW1hLmpzb24iLAogICJjb250YWluZXJzIjogW10KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkNvc21vc0RCRGF0YWJhc2UiLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f5096131-f7b6-422f-8c4a-7519c770b844
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items/1cb6fcfd-d74f-483a-9deb-eadd3b36430d/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 6e86418c-d741-4779-9f8d-c9c4fca507c9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/5b6cb64b-1e77-45f0-9485-db8db4aad44b/items/1cb6fcfd-d74f-483a-9deb-eadd3b36430d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - b6264730-75bf-4f89-b90e-84944f9224e0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
