interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "94da8ea5-0bd6-4a9e-b717-5fdb482f4c71", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "bb0ba71a-4df8-4dd0-a627-355ca5802c9f",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a4780b48-8eed-470c-a604-d345c696964b
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ba0e5110-79e3-42f7-8495-42ede33868cf
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Lakehouse", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/lakehouses
  response:
    body:
      string: '{"id": "4e904499-3741-4e10-b459-c57a079cc73b", "type": "Lakehouse",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "bb0ba71a-4df8-4dd0-a627-355ca5802c9f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 5264abaa-1916-4578-89fa-3b165088a39e
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"paths": ["Files/images/taxi_zone_map_bronx.jpg"], "recipient": {"userprincipalname":
      "lisa@fabrikam.com", "tenantid": "c51dc03f-268a-4da0-a879-25f24947ab8b"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items/4e904499-3741-4e10-b459-c57a079cc73b/externalDataShares
  response:
    body:
      string: '{"id": "c02fadfa-3964-49a2-87cf-0f07a5f3b809", "paths": ["https://onelake.dfs.fabric.microsoft.com/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/4e904499-3741-4e10-b459-c57a079cc73b/Files/images/taxi_zone_map_bronx.jpg"],
        "creatorPrincipal": {"id": "00000000-0000-0000-0000-000000000001", "type":
        "User"}, "recipient": {"userPrincipalName": "lisa@fabrikam.com", "tenantId":
        "c51dc03f-268a-4da0-a879-25f24947ab8b"}, "status": "Pending", "expirationTimeUtc":
        "2025-12-02T03:28:51.9866667", "workspaceId": "bb0ba71a-4df8-4dd0-a627-355ca5802c9f",
        "itemId": "4e904499-3741-4e10-b459-c57a079cc73b", "invitationUrl": "mock_invitation_url"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1.0/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/artifacts/4e904499-3741-4e10-b459-c57a079cc73b/security/roles/c02fadfa-3964-49a2-87cf-0f07a5f3b809
      RequestId:
      - 64fd04cc-6ef6-4c6c-8f90-ea5f0bb3b3d6
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items/4e904499-3741-4e10-b459-c57a079cc73b/externalDataShares/c02fadfa-3964-49a2-87cf-0f07a5f3b809
  response:
    body:
      string: '{"id": "c02fadfa-3964-49a2-87cf-0f07a5f3b809", "paths": ["https://onelake.dfs.fabric.microsoft.com/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/4e904499-3741-4e10-b459-c57a079cc73b/Files/images/taxi_zone_map_bronx.jpg"],
        "creatorPrincipal": {"id": "00000000-0000-0000-0000-000000000001", "type":
        "User"}, "recipient": {"userPrincipalName": "lisa@fabrikam.com", "tenantId":
        "c51dc03f-268a-4da0-a879-25f24947ab8b"}, "status": "Pending", "expirationTimeUtc":
        "2025-12-02T03:28:51.9866667", "workspaceId": "bb0ba71a-4df8-4dd0-a627-355ca5802c9f",
        "itemId": "4e904499-3741-4e10-b459-c57a079cc73b", "invitationUrl": "mock_invitation_url"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5b14f2be-5590-4a91-86be-7fde93064fe3
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items/4e904499-3741-4e10-b459-c57a079cc73b/externalDataShares/c02fadfa-3964-49a2-87cf-0f07a5f3b809/revoke
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - eed97f05-edd6-41ac-b96e-1484c0414891
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/bb0ba71a-4df8-4dd0-a627-355ca5802c9f/items/4e904499-3741-4e10-b459-c57a079cc73b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 6c851182-38d6-4657-8431-fdc73f634146
      home-cluster-uri:
      - https://wabi-west-europe-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
