interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "59bb8813-e165-4aea-93c5-39a3a2a60b36", "displayName":
        "fabriccli_WorkspacePerTestclass_000001", "description": "Created by fab",
        "type": "Workspace", "capacityId": "07b1fd56-9969-4ff5-a2c8-05df5f82759a"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 67a1f9fe-2ace-4b1e-b8a2-73248400a2b9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 3fec5b24-0454-474a-a6a2-3383c823f6b5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Environment", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/environments
  response:
    body:
      string: '{"id": "599ba89b-658a-4dcb-b5ae-1bcdb56d7ddf", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "59bb8813-e165-4aea-93c5-39a3a2a60b36"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 712ca605-cbf7-4239-b6f7-3af061edd488
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/environments/599ba89b-658a-4dcb-b5ae-1bcdb56d7ddf
  response:
    body:
      string: '{"id": "599ba89b-658a-4dcb-b5ae-1bcdb56d7ddf", "type": "Environment",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "59bb8813-e165-4aea-93c5-39a3a2a60b36", "properties": {"publishDetails": {"state":
        "Success", "targetVersion": "9f6c7589-e7e3-4b08-8fc6-54c751e04b51", "startTime":
        "2026-01-19T07:50:59.1933843Z", "endTime": "2026-01-19T07:50:59.1933843Z",
        "componentPublishInfo": {"sparkSettings": {"state": "Success"}, "sparkLibraries":
        {"state": "Success"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 068e5886-9b38-4d48-933d-9104aa2e1507
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/items/599ba89b-658a-4dcb-b5ae-1bcdb56d7ddf/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - dd275cd7-347d-4186-ad7e-0dc7fff40ecc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/environments/599ba89b-658a-4dcb-b5ae-1bcdb56d7ddf/libraries
  response:
    body:
      string: '{"requestId": "33feaacb-ae7f-45c5-9c32-a8caaec0cc6a", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any published libraries. Please publish libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 33feaacb-ae7f-45c5-9c32-a8caaec0cc6a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/environments/599ba89b-658a-4dcb-b5ae-1bcdb56d7ddf/staging/libraries
  response:
    body:
      string: '{"requestId": "76c3ca7b-f9fc-4105-bf83-c0e4bbfbe89f", "errorCode":
        "EnvironmentLibrariesNotFound", "message": "This environment does not have
        any staged libraries. Please upload libraries."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 76c3ca7b-f9fc-4105-bf83-c0e4bbfbe89f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - EnvironmentLibrariesNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/environments/599ba89b-658a-4dcb-b5ae-1bcdb56d7ddf/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - b5bca9b2-61a0-456b-970f-aa7b9552b04e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/environments/599ba89b-658a-4dcb-b5ae-1bcdb56d7ddf/staging/sparkcompute
  response:
    body:
      string: '{"instancePool": {"name": "Starter Pool", "type": "Workspace", "id":
        "00000000-0000-0000-0000-000000000000"}, "driverCores": 8, "driverMemory":
        "56g", "executorCores": 8, "executorMemory": "56g", "dynamicExecutorAllocation":
        {"enabled": true, "minExecutors": 1, "maxExecutors": 9}, "sparkProperties":
        {}, "runtimeVersion": "1.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 967f3cb8-c90b-4930-b4d3-7f75c0ac1ca3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/59bb8813-e165-4aea-93c5-39a3a2a60b36/items/599ba89b-658a-4dcb-b5ae-1bcdb56d7ddf
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 88ad05c3-ae91-4648-a941-6e16f042ad25
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
