interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ef9357e0-0022-4daa-8d29-52dcaa1bb67a
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items
  response:
    body:
      string: '{"value": [{"id": "4307c500-c838-4ca4-a060-269fa6b39c7d", "type": "SemanticModel",
        "displayName": "fabcli000001_auto", "description": "", "workspaceId": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"},
        {"id": "4ca66565-458e-479c-8a9c-dde50e3396bc", "type": "SQLEndpoint", "displayName":
        "StagingLakehouseForDataflows_20260128135038", "description": "", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}, {"id": "bddf27c3-d893-4273-9035-ff67eeffc533",
        "type": "Warehouse", "displayName": "StagingWarehouseForDataflows_20260128135101",
        "description": "", "workspaceId": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"},
        {"id": "d2274a21-9781-499c-aadc-5c2080d36cb3", "type": "Lakehouse", "displayName":
        "StagingLakehouseForDataflows_20260128135038", "description": "", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}, {"id": "f8672ff7-a9eb-4e66-a6e5-e4004d76b6e5",
        "type": "Eventhouse", "displayName": "fabcli000001_auto", "description": "Created
        by fab", "workspaceId": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}, {"id": "0cb03d6c-bc6b-4b7f-909d-c9db9b39d77d",
        "type": "KQLDatabase", "displayName": "fabcli000001_auto", "description":
        "fabcli000001_auto", "workspaceId": "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5ea2193d-f5cd-4b16-a988-d3d30b25436e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "SQLDatabase", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/sqlDatabases
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dd01299b-1b93-48c7-884e-437165e53a25
      RequestId:
      - 040dc935-15a2-47a7-84fe-5d2fb90f9c5a
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - dd01299b-1b93-48c7-884e-437165e53a25
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dd01299b-1b93-48c7-884e-437165e53a25
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-01-28T13:55:25.1623205",
        "lastUpdatedTimeUtc": "2026-01-28T13:55:39.1360215", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dd01299b-1b93-48c7-884e-437165e53a25/result
      RequestId:
      - e0317412-fe4c-4521-9460-66c340eb7767
      x-ms-operation-id:
      - dd01299b-1b93-48c7-884e-437165e53a25
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/dd01299b-1b93-48c7-884e-437165e53a25/result
  response:
    body:
      string: '{"id": "53208e45-18ff-45ae-bb11-7d3b07768b8e", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - f1c0649b-f49c-47c5-b127-e2daa5f0514f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/sqlDatabases/53208e45-18ff-45ae-bb11-7d3b07768b8e
  response:
    body:
      string: '{"id": "53208e45-18ff-45ae-bb11-7d3b07768b8e", "type": "SQLDatabase",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6838e56c-3ebe-4ce3-8b69-4322bc7c5392", "properties": {"connectionInfo": "Data
        Source=vwbb4lsqmqqejdvenqo7wshysy-ntstq2f6h3ruzc3jimrly7ctsi.database.fabric.microsoft.com,1433;Initial
        Catalog=fabcli000001-53208e45-18ff-45ae-bb11-7d3b07768b8e;Multiple Active
        Result Sets=False;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False",
        "connectionString": "mock_connection_string", "databaseName": "fabcli000001-53208e45-18ff-45ae-bb11-7d3b07768b8e",
        "serverFqdn": "vwbb4lsqmqqejdvenqo7wshysy-ntstq2f6h3ruzc3jimrly7ctsi.database.fabric.microsoft.com,1433",
        "backupRetentionDays": 7, "collation": "SQL_Latin1_General_CP1_CI_AS"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - fbda956c-64c4-4007-a5b2-035df97a3f03
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/53208e45-18ff-45ae-bb11-7d3b07768b8e/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c4ba6b70-6c5c-4269-b2c6-ccc49e1d6dbe
      RequestId:
      - e9f0a5f7-e736-4a66-ae7e-c9121f3c29fd
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - c4ba6b70-6c5c-4269-b2c6-ccc49e1d6dbe
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/c4ba6b70-6c5c-4269-b2c6-ccc49e1d6dbe/result
  response:
    body:
      string: '{"definition": {"format": "dacpac", "parts": [{"path": "fabcli000001.dacpac",
        "payload": "UEsDBBQAAAAIAAhvPFzG6qC/qQIAALwHAAAJAAAAbW9kZWwueG1spVVdb9pAEHxOpf4Hy++1+VCbqjKJIgNNJEhIbKWqqgot9gInne+cu3ME+fXdw2ATCCm0D0jmvDOz7M4cweUi484zKs2k6LhNr+E6KBKZMjHruIWZfvrqXl58/BB0wUCUzDGDoUyRO33GsS9VBuaxBrdcp6ypztreZ9fp6vwWMuy4Q5YoqeXUeJbOi6Xk2isRXvTE7ac76cNEscQWTEBj+Xak5DNLUblOKDkHQ9yDhKWk2Wi3tw5Di0ChmWHPpNcHrtF16CcK3XHnxuTffF+vGLWXVc0kMvP1E5UqGoSfQuJHqBhw9rIi9VuNZstvtFyaw1lwjUCN2MezICy0kZlt1QnB4EyqZce9IvnbgnO9qqeqIRpIbU05hPq98wi8oJNYFdSlX3L6Nek7IveFNJjepCgMmzIazNtae2X/IRnKLKd5TBhnZmlNcEBzv24j2j[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/53208e45-18ff-45ae-bb11-7d3b07768b8e/connections
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - bd625ba1-9f74-41b0-8ff4-9033e9faa2da
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6838e56c-3ebe-4ce3-8b69-4322bc7c5392/items/53208e45-18ff-45ae-bb11-7d3b07768b8e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - efb75082-46f1-4358-9525-d994c14cf201
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
